Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

chore: upgrade antlr based tidb parser version
  go.mod
  go.sum
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: handle clicking columns, indexes foreignKeys, partitions nodes
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/actions.tsx
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: handle clicking columns, indexes foreignKeys, partitions nodes (#13431)
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/actions.tsx
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: handle clicking columns, indexes foreignKeys, partitions nodes (#13431)
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/actions.tsx
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: handle clicking columns, indexes foreignKeys, partitions nodes (#13431)
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/actions.tsx
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/components/ProjectMember/AddProjectMember/AddProjectMembersPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: change db_schema.metadata to JSON
  backend/migrator/migration/prod/2.22/0004##db_schema_json.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

version update
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix(sql-review): allow not setting default value for some column types
  backend/plugin/advisor/mysql/advisor_column_set_default_for_not_null.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: change db_schema.metadata to JSON (#13433)
  backend/migrator/migration/prod/2.22/0004##db_schema_json.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: change db_schema.metadata to JSON (#13433)
  backend/migrator/migration/prod/2.22/0004##db_schema_json.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: change db_schema.metadata to JSON (#13433)
  backend/migrator/migration/prod/2.22/0004##db_schema_json.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: change db_schema.metadata to JSON (#13433)
  backend/migrator/migration/prod/2.22/0004##db_schema_json.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: merge project bindings (#13432)
  frontend/src/components/ProjectMember/AddProjectMember/AddProjectMemberForm.vue
  frontend/src/components/ProjectMember/AddProjectMember/AddProjectMembersPanel.vue
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseV1Table.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: merge project bindings (#13432)
  frontend/src/components/ProjectMember/AddProjectMember/AddProjectMemberForm.vue
  frontend/src/components/ProjectMember/AddProjectMember/AddProjectMembersPanel.vue
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseV1Table.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: merge project bindings (#13432)
  frontend/src/components/ProjectMember/AddProjectMember/AddProjectMemberForm.vue
  frontend/src/components/ProjectMember/AddProjectMember/AddProjectMembersPanel.vue
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseV1Table.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: latest db_schema metadata json
  backend/migrator/migration/prod/LATEST.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update my issues action
  frontend/src/components/IssueV1/components/IssueTableV1.vue
  frontend/src/components/IssueV1/components/PagedIssueTableV1.vue
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunComment.vue
  frontend/src/components/Project/ProjectIssuesPanel.vue
  frontend/src/utils/localStorage.ts
  frontend/src/views/DashboardHeader.vue
  frontend/src/views/ExportCenter/index.vue
  frontend/src/views/MyIssues.vue
  frontend/src/views/ReviewCenter/index.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: delete unused api
  backend/api/v1/sql_service.go
  frontend/src/types/proto/v1/branch_service.ts
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/branch_service.pb.go
  proto/generated-go/v1/branch_service.pb.gw.go
  proto/generated-go/v1/branch_service_grpc.pb.go
  proto/generated-go/v1/sql_service.pb.go
  proto/generated-go/v1/sql_service.pb.gw.go
  proto/generated-go/v1/sql_service_grpc.pb.go
  proto/v1/branch_service.proto
  proto/v1/sql_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: update my issues action (#13437)
  frontend/src/components/IssueV1/components/IssueTableV1.vue
  frontend/src/components/IssueV1/components/PagedIssueTableV1.vue
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunComment.vue
  frontend/src/components/Project/ProjectIssuesPanel.vue
  frontend/src/utils/localStorage.ts
  frontend/src/views/DashboardHeader.vue
  frontend/src/views/ExportCenter/index.vue
  frontend/src/views/MyIssues.vue
  frontend/src/views/ReviewCenter/index.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update my issues action (#13437)
  frontend/src/components/IssueV1/components/IssueTableV1.vue
  frontend/src/components/IssueV1/components/PagedIssueTableV1.vue
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunComment.vue
  frontend/src/components/Project/ProjectIssuesPanel.vue
  frontend/src/utils/localStorage.ts
  frontend/src/views/DashboardHeader.vue
  frontend/src/views/ExportCenter/index.vue
  frontend/src/views/MyIssues.vue
  frontend/src/views/ReviewCenter/index.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update my issues action (#13437)
  frontend/src/components/IssueV1/components/IssueTableV1.vue
  frontend/src/components/IssueV1/components/PagedIssueTableV1.vue
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunComment.vue
  frontend/src/components/Project/ProjectIssuesPanel.vue
  frontend/src/utils/localStorage.ts
  frontend/src/views/DashboardHeader.vue
  frontend/src/views/ExportCenter/index.vue
  frontend/src/views/MyIssues.vue
  frontend/src/views/ReviewCenter/index.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: latest db_schema metadata json (#13436)
  backend/migrator/migration/prod/LATEST.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: latest db_schema metadata json (#13436)
  backend/migrator/migration/prod/LATEST.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: latest db_schema metadata json (#13436)
  backend/migrator/migration/prod/LATEST.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: latest db_schema metadata json (#13436)
  backend/migrator/migration/prod/LATEST.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: change db_schema.metadata to JSON (#13433)
  backend/migrator/migration/prod/2.22/0004##db_schema_json.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: change db_schema.metadata to JSON (#13433)
  backend/migrator/migration/prod/2.22/0004##db_schema_json.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: latest db_schema metadata json (#13436)
  backend/migrator/migration/prod/LATEST.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: delete unused api (#13438)
  backend/api/v1/sql_service.go
  frontend/src/types/proto/v1/branch_service.ts
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/branch_service.pb.go
  proto/generated-go/v1/branch_service.pb.gw.go
  proto/generated-go/v1/branch_service_grpc.pb.go
  proto/generated-go/v1/sql_service.pb.go
  proto/generated-go/v1/sql_service.pb.gw.go
  proto/generated-go/v1/sql_service_grpc.pb.go
  proto/v1/branch_service.proto
  proto/v1/sql_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: delete unused api (#13438)
  backend/api/v1/sql_service.go
  frontend/src/types/proto/v1/branch_service.ts
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/branch_service.pb.go
  proto/generated-go/v1/branch_service.pb.gw.go
  proto/generated-go/v1/branch_service_grpc.pb.go
  proto/generated-go/v1/sql_service.pb.go
  proto/generated-go/v1/sql_service.pb.gw.go
  proto/generated-go/v1/sql_service_grpc.pb.go
  proto/v1/branch_service.proto
  proto/v1/sql_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: delete unused api (#13438)
  backend/api/v1/sql_service.go
  frontend/src/types/proto/v1/branch_service.ts
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/branch_service.pb.go
  proto/generated-go/v1/branch_service.pb.gw.go
  proto/generated-go/v1/branch_service_grpc.pb.go
  proto/generated-go/v1/sql_service.pb.go
  proto/generated-go/v1/sql_service.pb.gw.go
  proto/generated-go/v1/sql_service_grpc.pb.go
  proto/v1/branch_service.proto
  proto/v1/sql_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: update
  backend/plugin/advisor/mysql/test/column_set_default_for_not_null.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: instance role name
  backend/api/v1/instance_service.go
  frontend/src/components/CreateDatabasePrepForm/CreateDatabasePrepForm.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

fix: instance role name (#13440)
  backend/api/v1/instance_service.go
  frontend/src/components/CreateDatabasePrepForm/CreateDatabasePrepForm.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

fix: instance role name (#13440)
  backend/api/v1/instance_service.go
  frontend/src/components/CreateDatabasePrepForm/CreateDatabasePrepForm.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

fix: instance role name (#13440)
  backend/api/v1/instance_service.go
  frontend/src/components/CreateDatabasePrepForm/CreateDatabasePrepForm.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

feat: preview table schema text
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/AlterSchemaPrepForm/SchemaEditorModal.vue
  frontend/src/components/Branch/BranchCreateView.vue
  frontend/src/components/Branch/BranchDetailView.vue
  frontend/src/components/Branch/BranchRebaseView/RebaseBranchStep.vue
  frontend/src/components/Branch/BranchRebaseView/SelectBranchStep.vue
  frontend/src/components/Branch/BranchRolloutView/BranchRolloutView.vue
  frontend/src/components/Branch/SchemaDesignEditorLite.vue
  frontend/src/components/Branch/common/BranchComparison.vue
  frontend/src/components/Branch/common/BranchDetailViewer.vue
  frontend/src/components/SchemaEditorLite/Editor.vue
  frontend/src/components/SchemaEditorLite/Panels/DatabaseEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/TableEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/TableSchemaPreview.vue
  frontend/src/components/SchemaEditorLite/SchemaEditorLite.vue
  frontend/src/components/SchemaEditorLite/context/index.ts
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/main.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: color
  frontend/src/components/SchemaEditorLite/Panels/TableSchemaPreview.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: missing
  frontend/src/components/SchemaTemplate/TableTemplateForm.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
