Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

proto: add DDL_GHOST to plan check run config type
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/google/protobuf/struct.ts
  frontend/src/types/proto/google/protobuf/timestamp.ts
  frontend/src/types/proto/store/plan_check_run.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/plan_check_run.pb.go
  proto/store/plan_check_run.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: remove logs
  backend/api/v1/database_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: remove logs
  backend/api/v1/database_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: remove logs
  backend/api/v1/database_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: show no sql review policy tips for sql check button if policy is configured but not enforced
  frontend/src/components/SQLCheck/SQLCheckButton.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: optimize rename sheet
  frontend/src/views/sql-editor/EditorCommon/EditorAction.vue
  frontend/src/views/sql-editor/EditorCommon/SaveSheetForm.vue
  frontend/src/views/sql-editor/EditorCommon/SaveSheetModal.vue
  frontend/src/views/sql-editor/EditorPanel/SQLEditor.vue
  frontend/src/views/sql-editor/Sheet/SheetTable/Dropdown.vue
  frontend/src/views/sql-editor/Sheet/SheetTable/SheetTable.vue
  frontend/src/views/sql-editor/Sheet/SheetTable/index.ts
  frontend/src/views/sql-editor/Sheet/common/Dropdown.vue
  frontend/src/views/sql-editor/Sheet/index.ts
  frontend/src/views/sql-editor/context.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: update tab
  frontend/src/views/sql-editor/EditorCommon/SaveSheetModal.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/views/sql-editor/EditorCommon/SaveSheetModal.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: show no sql review policy tips for sql check button if policy is configured but not enforced (#10968)
  frontend/src/components/SQLCheck/SQLCheckButton.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: show no sql review policy tips for sql check button if policy is configured but not enforced (#10968)
  frontend/src/components/SQLCheck/SQLCheckButton.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: show no sql review policy tips for sql check button if policy is configured but not enforced (#10968)
  frontend/src/components/SQLCheck/SQLCheckButton.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: optimize rename sheet (#10967)
  frontend/src/views/sql-editor/EditorCommon/EditorAction.vue
  frontend/src/views/sql-editor/EditorCommon/SaveSheetForm.vue
  frontend/src/views/sql-editor/EditorCommon/SaveSheetModal.vue
  frontend/src/views/sql-editor/EditorPanel/SQLEditor.vue
  frontend/src/views/sql-editor/Sheet/SheetTable/Dropdown.vue
  frontend/src/views/sql-editor/Sheet/SheetTable/SheetTable.vue
  frontend/src/views/sql-editor/Sheet/SheetTable/index.ts
  frontend/src/views/sql-editor/Sheet/common/Dropdown.vue
  frontend/src/views/sql-editor/Sheet/index.ts
  frontend/src/views/sql-editor/context.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: optimize rename sheet (#10967)
  frontend/src/views/sql-editor/EditorCommon/EditorAction.vue
  frontend/src/views/sql-editor/EditorCommon/SaveSheetForm.vue
  frontend/src/views/sql-editor/EditorCommon/SaveSheetModal.vue
  frontend/src/views/sql-editor/EditorPanel/SQLEditor.vue
  frontend/src/views/sql-editor/Sheet/SheetTable/Dropdown.vue
  frontend/src/views/sql-editor/Sheet/SheetTable/SheetTable.vue
  frontend/src/views/sql-editor/Sheet/SheetTable/index.ts
  frontend/src/views/sql-editor/Sheet/common/Dropdown.vue
  frontend/src/views/sql-editor/Sheet/index.ts
  frontend/src/views/sql-editor/context.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: optimize rename sheet (#10967)
  frontend/src/views/sql-editor/EditorCommon/EditorAction.vue
  frontend/src/views/sql-editor/EditorCommon/SaveSheetForm.vue
  frontend/src/views/sql-editor/EditorCommon/SaveSheetModal.vue
  frontend/src/views/sql-editor/EditorPanel/SQLEditor.vue
  frontend/src/views/sql-editor/Sheet/SheetTable/Dropdown.vue
  frontend/src/views/sql-editor/Sheet/SheetTable/SheetTable.vue
  frontend/src/views/sql-editor/Sheet/SheetTable/index.ts
  frontend/src/views/sql-editor/Sheet/common/Dropdown.vue
  frontend/src/views/sql-editor/Sheet/index.ts
  frontend/src/views/sql-editor/context.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: acl yaml
  backend/component/iam/acl.yaml
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: acl yaml (#10969)
  backend/component/iam/acl.yaml
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: acl yaml (#10969)
  backend/component/iam/acl.yaml
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: acl yaml (#10969)
  backend/component/iam/acl.yaml
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update display title of permissions
  frontend/src/components/Role/Setting/components/ImportPermissionFromRoleModal.vue
  frontend/src/components/Role/Setting/components/RolePanel.vue
  frontend/src/utils/permission.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/utils/permission.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update display title of permissions (#10970)
  frontend/src/components/Role/Setting/components/ImportPermissionFromRoleModal.vue
  frontend/src/components/Role/Setting/components/RolePanel.vue
  frontend/src/utils/permission.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update display title of permissions (#10970)
  frontend/src/components/Role/Setting/components/ImportPermissionFromRoleModal.vue
  frontend/src/components/Role/Setting/components/RolePanel.vue
  frontend/src/utils/permission.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update display title of permissions (#10970)
  frontend/src/components/Role/Setting/components/ImportPermissionFromRoleModal.vue
  frontend/src/components/Role/Setting/components/RolePanel.vue
  frontend/src/utils/permission.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

plan check change type
  backend/api/v1/rollout_service_plan_check.go
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/mysql/advisor_online_migration.go
  backend/plugin/advisor/sql_review.go
  backend/runner/plancheck/statement_advise_executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

proto: add change type to sqlService.Check
  proto/v1/sql_service.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

buf gen
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/sql_service.pb.go
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

pass change type
  backend/api/v1/sql_service.go
  backend/api/v1/sql_service_v2.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: get for ws
  backend/server/routers.go
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/sql_service.pb.go
  proto/generated-go/v1/sql_service.pb.gw.go
  proto/v1/sql_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

refactor: simplify the sheet store
  backend/api/gitops/webhook.go
  backend/api/v1/rollout_service.go
  backend/api/v1/rollout_service_converter.go
  backend/api/v1/rollout_service_task.go
  backend/api/v1/sheet_service.go
  backend/runner/plancheck/ghost_sync_executor.go
  backend/runner/plancheck/statement_advise_executor.go
  backend/runner/plancheck/statement_report_executor.go
  backend/runner/plancheck/statement_type_executor.go
  backend/runner/rollbackrun/runner.go
  backend/runner/taskrun/database_create_executor.go
  backend/runner/taskrun/executor.go
  backend/server/onboard.go
  backend/store/sheet.go
  frontend/src/components/Changelist/ChangelistDetail/RawSQLPanel/RawSQLPanel.vue
  frontend/src/components/SyncDatabaseSchema/RawSQLEditor.vue
  frontend/src/store/modules/v1/sheet.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: get for ws (#10971)
  backend/server/routers.go
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/sql_service.pb.go
  proto/generated-go/v1/sql_service.pb.gw.go
  proto/v1/sql_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: get for ws (#10971)
  backend/server/routers.go
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/sql_service.pb.go
  proto/generated-go/v1/sql_service.pb.gw.go
  proto/v1/sql_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: get for ws (#10971)
  backend/server/routers.go
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/sql_service.pb.go
  proto/generated-go/v1/sql_service.pb.gw.go
  proto/v1/sql_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

fix: vertical sql result width
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataBlock.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: vertical sql result width (#10973)
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataBlock.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: vertical sql result width (#10973)
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataBlock.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: vertical sql result width (#10973)
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataBlock.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

refactor: simplify the sheet store (#10972)
  backend/api/gitops/webhook.go
  backend/api/v1/rollout_service.go
  backend/api/v1/rollout_service_converter.go
  backend/api/v1/rollout_service_task.go
  backend/api/v1/sheet_service.go
  backend/runner/plancheck/ghost_sync_executor.go
  backend/runner/plancheck/statement_advise_executor.go
  backend/runner/plancheck/statement_report_executor.go
  backend/runner/plancheck/statement_type_executor.go
  backend/runner/rollbackrun/runner.go
  backend/runner/taskrun/database_create_executor.go
  backend/runner/taskrun/executor.go
  backend/server/onboard.go
  backend/store/sheet.go
  frontend/src/components/Changelist/ChangelistDetail/RawSQLPanel/RawSQLPanel.vue
  frontend/src/components/SyncDatabaseSchema/RawSQLEditor.vue
  frontend/src/store/modules/v1/sheet.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

refactor: simplify the sheet store (#10972)
  backend/api/gitops/webhook.go
  backend/api/v1/rollout_service.go
  backend/api/v1/rollout_service_converter.go
  backend/api/v1/rollout_service_task.go
  backend/api/v1/sheet_service.go
  backend/runner/plancheck/ghost_sync_executor.go
  backend/runner/plancheck/statement_advise_executor.go
  backend/runner/plancheck/statement_report_executor.go
  backend/runner/plancheck/statement_type_executor.go
  backend/runner/rollbackrun/runner.go
  backend/runner/taskrun/database_create_executor.go
  backend/runner/taskrun/executor.go
  backend/server/onboard.go
  backend/store/sheet.go
  frontend/src/components/Changelist/ChangelistDetail/RawSQLPanel/RawSQLPanel.vue
  frontend/src/components/SyncDatabaseSchema/RawSQLEditor.vue
  frontend/src/store/modules/v1/sheet.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

refactor: simplify the sheet store (#10972)
  backend/api/gitops/webhook.go
  backend/api/v1/rollout_service.go
  backend/api/v1/rollout_service_converter.go
  backend/api/v1/rollout_service_task.go
  backend/api/v1/sheet_service.go
  backend/runner/plancheck/ghost_sync_executor.go
  backend/runner/plancheck/statement_advise_executor.go
  backend/runner/plancheck/statement_report_executor.go
  backend/runner/plancheck/statement_type_executor.go
  backend/runner/rollbackrun/runner.go
  backend/runner/taskrun/database_create_executor.go
  backend/runner/taskrun/executor.go
  backend/server/onboard.go
  backend/store/sheet.go
  frontend/src/components/Changelist/ChangelistDetail/RawSQLPanel/RawSQLPanel.vue
  frontend/src/components/SyncDatabaseSchema/RawSQLEditor.vue
  frontend/src/store/modules/v1/sheet.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

i18n
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
