Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev

chore: add test for i18n messages (#10850)
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/plugins/i18n-messages.ts
  frontend/src/plugins/i18n.test.ts
  frontend/src/plugins/i18n.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: refactor branch store cache
  frontend/src/components/Branch/BranchDataTable/cells/AsyncBranchNameCell.vue
  frontend/src/store/modules/branch.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: allow gh-ost to run on mysql 5.6
  frontend/src/utils/v1/database.ts
  go.mod
  go.sum
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

chore: refactor branch store cache (#10851)
  frontend/src/components/Branch/BranchDataTable/cells/AsyncBranchNameCell.vue
  frontend/src/store/modules/branch.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: refactor branch store cache (#10851)
  frontend/src/components/Branch/BranchDataTable/cells/AsyncBranchNameCell.vue
  frontend/src/store/modules/branch.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: refactor branch store cache (#10851)
  frontend/src/components/Branch/BranchDataTable/cells/AsyncBranchNameCell.vue
  frontend/src/store/modules/branch.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: allow gh-ost to run on mysql 5.6 (#10852)
  frontend/src/utils/v1/database.ts
  go.mod
  go.sum
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

feat: allow gh-ost to run on mysql 5.6 (#10852)
  frontend/src/utils/v1/database.ts
  go.mod
  go.sum
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

feat: allow gh-ost to run on mysql 5.6 (#10852)
  frontend/src/utils/v1/database.ts
  go.mod
  go.sum
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

chore: refactor project protection rules store cache
  frontend/src/store/cache.ts
  frontend/src/store/modules/v1/projectProtectionRoles.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix tests
  backend/tests/test-data/sql_review_mysql.yaml
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: refactor project protection rules store cache (#10853)
  frontend/src/store/cache.ts
  frontend/src/store/modules/v1/projectProtectionRoles.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: refactor project protection rules store cache (#10853)
  frontend/src/store/cache.ts
  frontend/src/store/modules/v1/projectProtectionRoles.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: refactor project protection rules store cache (#10853)
  frontend/src/store/cache.ts
  frontend/src/store/modules/v1/projectProtectionRoles.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix tests
  backend/tests/test-data/sql_review_mysql.yaml
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix(sql-review): check top level sql for dry run (#10846)
  backend/plugin/advisor/mysql/advisor_statement_dml_dry_run.go
  backend/tests/test-data/sql_review_mysql.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

fix(sql-review): check top level sql for dry run (#10846)
  backend/plugin/advisor/mysql/advisor_statement_dml_dry_run.go
  backend/tests/test-data/sql_review_mysql.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

fix(sql-review): check top level sql for dry run (#10846)
  backend/plugin/advisor/mysql/advisor_statement_dml_dry_run.go
  backend/tests/test-data/sql_review_mysql.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

chore(sql-editor): update opening databases with filter
  frontend/src/store/modules/sqlEditorTree.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: cancel ghost tasks
  backend/component/ghost/logger.go
  backend/runner/taskrun/schema_update_ghost_cutover_executor.go
  backend/runner/taskrun/schema_update_ghost_sync_executor.go
  go.mod
  go.sum
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: cancel ghost tasks (#10855)
  backend/component/ghost/logger.go
  backend/runner/taskrun/schema_update_ghost_cutover_executor.go
  backend/runner/taskrun/schema_update_ghost_sync_executor.go
  go.mod
  go.sum
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: cancel ghost tasks (#10855)
  backend/component/ghost/logger.go
  backend/runner/taskrun/schema_update_ghost_cutover_executor.go
  backend/runner/taskrun/schema_update_ghost_sync_executor.go
  go.mod
  go.sum
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: cancel ghost tasks (#10855)
  backend/component/ghost/logger.go
  backend/runner/taskrun/schema_update_ghost_cutover_executor.go
  backend/runner/taskrun/schema_update_ghost_sync_executor.go
  go.mod
  go.sum
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix(pg): run set ruole for non-transaction statements
  backend/plugin/db/pg/pg.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix(pg): run set ruole for non-transaction statements (#10856)
  backend/plugin/db/pg/pg.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix(pg): run set ruole for non-transaction statements (#10856)
  backend/plugin/db/pg/pg.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix(pg): run set ruole for non-transaction statements (#10856)
  backend/plugin/db/pg/pg.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: default show banner false
  frontend/src/components/BannersWrapper.vue
  frontend/src/store/modules/v1/actuator.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: default show banner false (#10857)
  frontend/src/components/BannersWrapper.vue
  frontend/src/store/modules/v1/actuator.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: default show banner false (#10857)
  frontend/src/components/BannersWrapper.vue
  frontend/src/store/modules/v1/actuator.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: default show banner false (#10857)
  frontend/src/components/BannersWrapper.vue
  frontend/src/store/modules/v1/actuator.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/components/ProvideSQLEditorContext.vue
  frontend/src/store/modules/sqlEditorTree.ts
  frontend/src/store/modules/tab.ts
  frontend/src/utils/tab.ts
  frontend/src/views/sql-editor/TabList/TabList.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(sql-editor): update initial connection from query (#10854)
  frontend/src/components/ProvideSQLEditorContext.vue
  frontend/src/store/modules/tab.ts
  frontend/src/utils/tab.ts
  frontend/src/views/sql-editor/TabList/TabList.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(sql-editor): update initial connection from query (#10854)
  frontend/src/components/ProvideSQLEditorContext.vue
  frontend/src/store/modules/tab.ts
  frontend/src/utils/tab.ts
  frontend/src/views/sql-editor/TabList/TabList.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(sql-editor): update initial connection from query (#10854)
  frontend/src/components/ProvideSQLEditorContext.vue
  frontend/src/store/modules/tab.ts
  frontend/src/utils/tab.ts
  frontend/src/views/sql-editor/TabList/TabList.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: FE git commit for CI
  .github/workflows/build-push-ci-image-depot.yml
  .github/workflows/build-push-release-image.yml
  frontend/package.json
Owners: @d-bytebase, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: FE git commit for CI (#10858)
  .github/workflows/build-push-ci-image-depot.yml
  .github/workflows/build-push-release-image.yml
  frontend/package.json
Owners: @d-bytebase, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: FE git commit for CI (#10858)
  .github/workflows/build-push-ci-image-depot.yml
  .github/workflows/build-push-release-image.yml
  frontend/package.json
Owners: @d-bytebase, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: FE git commit for CI (#10858)
  .github/workflows/build-push-ci-image-depot.yml
  .github/workflows/build-push-release-image.yml
  frontend/package.json
Owners: @d-bytebase, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

fix(completion): not quote keywords
  backend/plugin/parser/pg/completion.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev
