Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @ecmadao, @rebelice, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @ecmadao

# Backend and API.
/backend/                    @d-bytebase @ecmadao
/proto/                      @d-bytebase @ecmadao

# Backend SQL kernel.
/backend/plugin/advisor      @d-bytebase @ecmadao @rebelice
/backend/plugin/db           @d-bytebase @ecmadao @rebelice
/backend/plugin/parser       @d-bytebase @ecmadao @rebelice

# Frontend.
/frontend/                   @LiuJi-Jim @boojack

# Dependency files.
frontend/package.json        @d-bytebase @LiuJi-Jim
go.mod                       @d-bytebase @ecmadao

chore: implement IAM condition store (#5902)
  backend/api/v1/project_service.go
  backend/migrator/migration/dev/LATEST.sql
  backend/migrator/migration/prod/2.0/0002##update_project_member_index.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/store/project_member.go
Owners: @d-bytebase, @ecmadao

chore: implement IAM condition store (#5902)
  backend/api/v1/project_service.go
  backend/migrator/migration/dev/LATEST.sql
  backend/migrator/migration/prod/2.0/0002##update_project_member_index.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/store/project_member.go
Owners: @d-bytebase, @ecmadao

chore: append a suffix to the schema version string
  backend/plugin/db/driver.go
  backend/server/webhook.go
  backend/store/project_member.go
  backend/tests/schema_update_test.go
  backend/tests/tenant_test.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: append a suffix to the schema version string (#5903)
  backend/plugin/db/driver.go
  backend/server/webhook.go
  backend/store/project_member.go
  backend/tests/schema_update_test.go
  backend/tests/tenant_test.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: append a suffix to the schema version string (#5903)
  backend/plugin/db/driver.go
  backend/server/webhook.go
  backend/store/project_member.go
  backend/tests/schema_update_test.go
  backend/tests/tenant_test.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: append a suffix to the schema version string (#5903)
  backend/plugin/db/driver.go
  backend/server/webhook.go
  backend/store/project_member.go
  backend/tests/schema_update_test.go
  backend/tests/tenant_test.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: remove unused code
  backend/legacyapi/project.go
  backend/legacyapi/project_member.go
  backend/plugin/db/clickhouse/migrate.go
  backend/plugin/db/mysql/migrate.go
  backend/server/server.go
  backend/store/instance_change_history.go
  backend/store/project.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: remove unused code (#5904)
  backend/legacyapi/project.go
  backend/legacyapi/project_member.go
  backend/plugin/db/clickhouse/migrate.go
  backend/plugin/db/mysql/migrate.go
  backend/server/server.go
  backend/store/instance_change_history.go
  backend/store/project.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: remove unused code (#5904)
  backend/legacyapi/project.go
  backend/legacyapi/project_member.go
  backend/plugin/db/clickhouse/migrate.go
  backend/plugin/db/mysql/migrate.go
  backend/server/server.go
  backend/store/instance_change_history.go
  backend/store/project.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: remove unused code (#5904)
  backend/legacyapi/project.go
  backend/legacyapi/project_member.go
  backend/plugin/db/clickhouse/migrate.go
  backend/plugin/db/mysql/migrate.go
  backend/server/server.go
  backend/store/instance_change_history.go
  backend/store/project.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: mssql connection info
  frontend/src/components/CreateDataSourceExample.vue
Owners: @LiuJi-Jim, @boojack

chore: mssql connection info (#5906)
  frontend/src/components/CreateDataSourceExample.vue
Owners: @LiuJi-Jim, @boojack

chore: mssql connection info (#5906)
  frontend/src/components/CreateDataSourceExample.vue
Owners: @LiuJi-Jim, @boojack

chore: mssql connection info (#5906)
  frontend/src/components/CreateDataSourceExample.vue
Owners: @LiuJi-Jim, @boojack

chore: add simple oracle connection info
  frontend/src/components/CreateDataSourceExample.vue
Owners: @LiuJi-Jim, @boojack

chore: add simple oracle connection info (#5907)
  frontend/src/components/CreateDataSourceExample.vue
Owners: @LiuJi-Jim, @boojack

chore: add simple oracle connection info (#5907)
  frontend/src/components/CreateDataSourceExample.vue
Owners: @LiuJi-Jim, @boojack

chore: add simple oracle connection info (#5907)
  frontend/src/components/CreateDataSourceExample.vue
Owners: @LiuJi-Jim, @boojack

chore: add mariadb connection info
  frontend/src/components/CreateDataSourceExample.vue
Owners: @LiuJi-Jim, @boojack

chore: add mariadb connection info
  frontend/src/components/CreateDataSourceExample.vue
Owners: @LiuJi-Jim, @boojack

chore: add mariadb connection info
  frontend/src/components/CreateDataSourceExample.vue
Owners: @LiuJi-Jim, @boojack

chore: add redshift connection info
  frontend/src/components/CreateDataSourceExample.vue
Owners: @LiuJi-Jim, @boojack

chore: update
  frontend/src/components/CreateDataSourceExample.vue
Owners: @LiuJi-Jim, @boojack

chore: add redshift connection info (#5908)
  frontend/src/components/CreateDataSourceExample.vue
Owners: @LiuJi-Jim, @boojack

chore: add redshift connection info (#5908)
  frontend/src/components/CreateDataSourceExample.vue
Owners: @LiuJi-Jim, @boojack

chore: add redshift connection info (#5908)
  frontend/src/components/CreateDataSourceExample.vue
Owners: @LiuJi-Jim, @boojack

feat: support searching title and description
  frontend/src/components/SQLReview/components/useSQLRuleFilter.ts
Owners: @LiuJi-Jim, @boojack

feat: support gitops sql-review for mybatis
  backend/legacyapi/vcs.go
  backend/plugin/parser/mybatis/configuration/parser.go
  backend/plugin/parser/mybatis/configuration/parser_test.go
  backend/plugin/parser/mybatis/mapper/ast/data_node.go
  backend/plugin/parser/mybatis/mapper/ast/dymamic_node.go
  backend/plugin/parser/mybatis/mapper/ast/mapper_node.go
  backend/plugin/parser/mybatis/mapper/ast/node.go
  backend/plugin/parser/mybatis/mapper/ast/query_node.go
  backend/plugin/parser/mybatis/mapper/parser.go
  backend/plugin/parser/mybatis/mapper/parser_test.go
  backend/plugin/parser/mybatis/mapper/test-data/test_dynamic_sql_mapper.yaml
  backend/plugin/parser/mybatis/mapper/test-data/test_simple_mapper.yaml
  backend/plugin/vcs/github/bytebase-sql-review.yml
  backend/server/webhook.go
  backend/server/webhook_test.go
  backend/store/catalog.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: revert PR/5904
  backend/legacyapi/project.go
  backend/legacyapi/project_member.go
  backend/plugin/db/clickhouse/migrate.go
  backend/plugin/db/mysql/migrate.go
  backend/server/server.go
  backend/store/instance_change_history.go
  backend/store/project.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: revert PR/5904 (#5910)
  backend/legacyapi/project.go
  backend/legacyapi/project_member.go
  backend/plugin/db/clickhouse/migrate.go
  backend/plugin/db/mysql/migrate.go
  backend/server/server.go
  backend/store/instance_change_history.go
  backend/store/project.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: revert PR/5904 (#5910)
  backend/legacyapi/project.go
  backend/legacyapi/project_member.go
  backend/plugin/db/clickhouse/migrate.go
  backend/plugin/db/mysql/migrate.go
  backend/server/server.go
  backend/store/instance_change_history.go
  backend/store/project.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: revert PR/5904 (#5910)
  backend/legacyapi/project.go
  backend/legacyapi/project_member.go
  backend/plugin/db/clickhouse/migrate.go
  backend/plugin/db/mysql/migrate.go
  backend/server/server.go
  backend/store/instance_change_history.go
  backend/store/project.go
Owners: @d-bytebase, @ecmadao, @rebelice

feat: support searching title and description (#5909)
  frontend/src/components/SQLReview/components/useSQLRuleFilter.ts
Owners: @LiuJi-Jim, @boojack

feat: support searching title and description (#5909)
  frontend/src/components/SQLReview/components/useSQLRuleFilter.ts
Owners: @LiuJi-Jim, @boojack

feat: support searching title and description (#5909)
  frontend/src/components/SQLReview/components/useSQLRuleFilter.ts
Owners: @LiuJi-Jim, @boojack

chore: update
  backend/legacyapi/vcs.go
  backend/plugin/vcs/github/bytebase-sql-review.yml
  backend/server/webhook.go
Owners: @d-bytebase, @ecmadao

chore: update
  backend/server/webhook.go
Owners: @d-bytebase, @ecmadao

fix: use sheetId in rollback issue creation
  frontend/src/components/Issue/IssueDetailLayout.vue
  frontend/src/components/Issue/logic/common.ts
  frontend/src/components/Issue/rollback/RollbackStatus.vue
Owners: @LiuJi-Jim, @boojack

chore: sort by advice level (error first)
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/sql_review.go
Owners: @d-bytebase, @ecmadao, @rebelice

fix: use sheetId in rollback issue creation (#5912)
  frontend/src/components/Issue/IssueDetailLayout.vue
  frontend/src/components/Issue/logic/common.ts
  frontend/src/components/Issue/rollback/RollbackStatus.vue
Owners: @LiuJi-Jim, @boojack
