Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

feat: implement concise schema for Oracle
  backend/api/v1/database_service.go
  backend/plugin/parser/plsql/concise.go
  backend/plugin/parser/plsql/replace.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

fix: data export
  frontend/src/components/DataExportButton.vue
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

copy projectOwner permissions to workspaceAdmin and workspaceDBA
  backend/component/iam/acl.yaml
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

sort
  backend/component/iam/acl.yaml
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update frontend roles
  backend/api/v1/role_service.go
  frontend/src/components/ProjectMember/ProjectMemberTable/ProjectMemberRolePanel.vue
  frontend/src/components/ProjectMember/ProjectMemberTable/ProjectMemberTable.vue
  frontend/src/components/ProjectMember/ProjectRoleTable/ProjectRoleTable.vue
  frontend/src/components/Role/Setting/components/RoleDataTable/cells/RoleTypeCell.vue
  frontend/src/components/Role/Setting/components/RoleDataTable/index.vue
  frontend/src/components/Role/Setting/components/RolePanel.vue
  frontend/src/components/v2/Select/ProjectRoleSelect.vue
  frontend/src/types/iam/role.ts
  frontend/src/utils/iam/role.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: copy projectOwner permissions to workspaceAdmin and workspaceDBA (#10525)
  backend/component/iam/acl.yaml
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: copy projectOwner permissions to workspaceAdmin and workspaceDBA (#10525)
  backend/component/iam/acl.yaml
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: copy projectOwner permissions to workspaceAdmin and workspaceDBA (#10525)
  backend/component/iam/acl.yaml
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  frontend/src/utils/iam/role.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: data export (#10524)
  frontend/src/components/DataExportButton.vue
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: data export (#10524)
  frontend/src/components/DataExportButton.vue
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: data export (#10524)
  frontend/src/components/DataExportButton.vue
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix linter error
  backend/api/v1/database_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update frontend roles (#10526)
  backend/api/v1/role_service.go
  frontend/src/components/ProjectMember/ProjectMemberTable/ProjectMemberRolePanel.vue
  frontend/src/components/ProjectMember/ProjectMemberTable/ProjectMemberTable.vue
  frontend/src/components/ProjectMember/ProjectRoleTable/ProjectRoleTable.vue
  frontend/src/components/Role/Setting/components/RoleDataTable/cells/RoleTypeCell.vue
  frontend/src/components/Role/Setting/components/RoleDataTable/index.vue
  frontend/src/components/Role/Setting/components/RolePanel.vue
  frontend/src/components/v2/Select/ProjectRoleSelect.vue
  frontend/src/types/iam/role.ts
  frontend/src/utils/iam/role.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: update frontend roles (#10526)
  backend/api/v1/role_service.go
  frontend/src/components/ProjectMember/ProjectMemberTable/ProjectMemberRolePanel.vue
  frontend/src/components/ProjectMember/ProjectMemberTable/ProjectMemberTable.vue
  frontend/src/components/ProjectMember/ProjectRoleTable/ProjectRoleTable.vue
  frontend/src/components/Role/Setting/components/RoleDataTable/cells/RoleTypeCell.vue
  frontend/src/components/Role/Setting/components/RoleDataTable/index.vue
  frontend/src/components/Role/Setting/components/RolePanel.vue
  frontend/src/components/v2/Select/ProjectRoleSelect.vue
  frontend/src/types/iam/role.ts
  frontend/src/utils/iam/role.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: update frontend roles (#10526)
  backend/api/v1/role_service.go
  frontend/src/components/ProjectMember/ProjectMemberTable/ProjectMemberRolePanel.vue
  frontend/src/components/ProjectMember/ProjectMemberTable/ProjectMemberTable.vue
  frontend/src/components/ProjectMember/ProjectRoleTable/ProjectRoleTable.vue
  frontend/src/components/Role/Setting/components/RoleDataTable/cells/RoleTypeCell.vue
  frontend/src/components/Role/Setting/components/RoleDataTable/index.vue
  frontend/src/components/Role/Setting/components/RolePanel.vue
  frontend/src/components/v2/Select/ProjectRoleSelect.vue
  frontend/src/types/iam/role.ts
  frontend/src/utils/iam/role.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: migrate custom role permissions
  backend/migrator/migration/prod/2.13/0003##migrate_custom_roles_permissions.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: custom role permissions
  backend/component/iam/manager.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: localization
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: data export (#10524)
  frontend/src/components/DataExportButton.vue
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: data export (#10524)
  frontend/src/components/DataExportButton.vue
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: localization (#10529)
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: localization (#10529)
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: localization (#10529)
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: localization (#10529)
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: localization (#10529)
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: custom role permissions (#10528)
  backend/component/iam/manager.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: custom role permissions (#10528)
  backend/component/iam/manager.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: custom role permissions (#10528)
  backend/component/iam/manager.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: enable legacy to useClipboard
  frontend/src/components/SensitiveData/components/ClassificationExampleModal.vue
  frontend/src/views/SettingWorkspaceDebugLog.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DetailPanel.vue
  frontend/src/views/sql-editor/EditorCommon/SharePopover.vue
  frontend/src/views/sql-editor/SecondarySidebar/HistoryTabPane/HistoryTabPane.vue
  frontend/src/views/sql-editor/SecondarySidebar/InfoTabPane/SchemaPanel/StringifyMetadataButton.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: no need to grant projectOwner
  backend/api/v1/acl.go
  backend/store/principal.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: set user in context in onboarding
  backend/server/onboard.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: no need to grant projectOwner (#10531)
  backend/api/v1/acl.go
  backend/store/principal.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: no need to grant projectOwner (#10531)
  backend/api/v1/acl.go
  backend/store/principal.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: no need to grant projectOwner (#10531)
  backend/api/v1/acl.go
  backend/store/principal.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: set user in context in onboarding (#10532)
  backend/server/onboard.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: set user in context in onboarding (#10532)
  backend/server/onboard.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: set user in context in onboarding (#10532)
  backend/server/onboard.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: skip rollout iam checks
  backend/api/v1/acl_iam.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: check rollout policy for BatchSkipTasks
  backend/api/v1/rollout_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
