Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

chore: npe in export
  backend/api/v1/sql_service_export_utils.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  backend/api/v1/sql_service_export_utils.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore(proto): add sequence definition
  proto/store/database.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

chore: npe in export (#12261)
  backend/api/v1/sql_service_export_utils.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: npe in export (#12261)
  backend/api/v1/sql_service_export_utils.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: npe in export (#12261)
  backend/api/v1/sql_service_export_utils.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: buf generate
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/store/database.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/database.pb.go
  proto/generated-go/v1/actuator_service_grpc.pb.go
  proto/generated-go/v1/anomaly_service_grpc.pb.go
  proto/generated-go/v1/audit_log_service_grpc.pb.go
  proto/generated-go/v1/auth_service_grpc.pb.go
  proto/generated-go/v1/branch_service_grpc.pb.go
  proto/generated-go/v1/cel_service_grpc.pb.go
  proto/generated-go/v1/changelist_service_grpc.pb.go
  proto/generated-go/v1/database_service_grpc.pb.go
  proto/generated-go/v1/environment_service_grpc.pb.go
  proto/generated-go/v1/idp_service_grpc.pb.go
  proto/generated-go/v1/instance_role_service_grpc.pb.go
  proto/generated-go/v1/instance_service_grpc.pb.go
  proto/generated-go/v1/issue_service_grpc.pb.go
  proto/generated-go/v1/org_policy_service_grpc.pb.go
  proto/generated-go/v1/plan_service_grpc.pb.go
  proto/generated-go/v1/project_service_grpc.pb.go
  proto/generated-go/v1/risk_service_grpc.pb.go
  proto/generated-go/v1/role_service_grpc.pb.go
  proto/generated-go/v1/rollout_service_grpc.pb.go
  proto/generated-go/v1/setting_service_grpc.pb.go
  proto/generated-go/v1/sheet_service_grpc.pb.go
  proto/generated-go/v1/sql_service_grpc.pb.go
  proto/generated-go/v1/subscription_service_grpc.pb.go
  proto/generated-go/v1/user_group_grpc.pb.go
  proto/generated-go/v1/vcs_connector_service_grpc.pb.go
  proto/generated-go/v1/vcs_provider_service_grpc.pb.go
  proto/generated-go/v1/worksheet_service_grpc.pb.go
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore(proto): add sequence definition (#12262)
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/store/database.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/database.pb.go
  proto/generated-go/v1/actuator_service_grpc.pb.go
  proto/generated-go/v1/anomaly_service_grpc.pb.go
  proto/generated-go/v1/audit_log_service_grpc.pb.go
  proto/generated-go/v1/auth_service_grpc.pb.go
  proto/generated-go/v1/branch_service_grpc.pb.go
  proto/generated-go/v1/cel_service_grpc.pb.go
  proto/generated-go/v1/changelist_service_grpc.pb.go
  proto/generated-go/v1/database_service_grpc.pb.go
  proto/generated-go/v1/environment_service_grpc.pb.go
  proto/generated-go/v1/idp_service_grpc.pb.go
  proto/generated-go/v1/instance_role_service_grpc.pb.go
  proto/generated-go/v1/instance_service_grpc.pb.go
  proto/generated-go/v1/issue_service_grpc.pb.go
  proto/generated-go/v1/org_policy_service_grpc.pb.go
  proto/generated-go/v1/plan_service_grpc.pb.go
  proto/generated-go/v1/project_service_grpc.pb.go
  proto/generated-go/v1/risk_service_grpc.pb.go
  proto/generated-go/v1/role_service_grpc.pb.go
  proto/generated-go/v1/rollout_service_grpc.pb.go
  proto/generated-go/v1/setting_service_grpc.pb.go
  proto/generated-go/v1/sheet_service_grpc.pb.go
  proto/generated-go/v1/sql_service_grpc.pb.go
  proto/generated-go/v1/subscription_service_grpc.pb.go
  proto/generated-go/v1/user_group_grpc.pb.go
  proto/generated-go/v1/vcs_connector_service_grpc.pb.go
  proto/generated-go/v1/vcs_provider_service_grpc.pb.go
  proto/generated-go/v1/worksheet_service_grpc.pb.go
  proto/store/database.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore(proto): add sequence definition (#12262)
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/store/database.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/database.pb.go
  proto/generated-go/v1/actuator_service_grpc.pb.go
  proto/generated-go/v1/anomaly_service_grpc.pb.go
  proto/generated-go/v1/audit_log_service_grpc.pb.go
  proto/generated-go/v1/auth_service_grpc.pb.go
  proto/generated-go/v1/branch_service_grpc.pb.go
  proto/generated-go/v1/cel_service_grpc.pb.go
  proto/generated-go/v1/changelist_service_grpc.pb.go
  proto/generated-go/v1/database_service_grpc.pb.go
  proto/generated-go/v1/environment_service_grpc.pb.go
  proto/generated-go/v1/idp_service_grpc.pb.go
  proto/generated-go/v1/instance_role_service_grpc.pb.go
  proto/generated-go/v1/instance_service_grpc.pb.go
  proto/generated-go/v1/issue_service_grpc.pb.go
  proto/generated-go/v1/org_policy_service_grpc.pb.go
  proto/generated-go/v1/plan_service_grpc.pb.go
  proto/generated-go/v1/project_service_grpc.pb.go
  proto/generated-go/v1/risk_service_grpc.pb.go
  proto/generated-go/v1/role_service_grpc.pb.go
  proto/generated-go/v1/rollout_service_grpc.pb.go
  proto/generated-go/v1/setting_service_grpc.pb.go
  proto/generated-go/v1/sheet_service_grpc.pb.go
  proto/generated-go/v1/sql_service_grpc.pb.go
  proto/generated-go/v1/subscription_service_grpc.pb.go
  proto/generated-go/v1/user_group_grpc.pb.go
  proto/generated-go/v1/vcs_connector_service_grpc.pb.go
  proto/generated-go/v1/vcs_provider_service_grpc.pb.go
  proto/generated-go/v1/worksheet_service_grpc.pb.go
  proto/store/database.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore(proto): add sequence definition (#12262)
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/store/database.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/database.pb.go
  proto/generated-go/v1/actuator_service_grpc.pb.go
  proto/generated-go/v1/anomaly_service_grpc.pb.go
  proto/generated-go/v1/audit_log_service_grpc.pb.go
  proto/generated-go/v1/auth_service_grpc.pb.go
  proto/generated-go/v1/branch_service_grpc.pb.go
  proto/generated-go/v1/cel_service_grpc.pb.go
  proto/generated-go/v1/changelist_service_grpc.pb.go
  proto/generated-go/v1/database_service_grpc.pb.go
  proto/generated-go/v1/environment_service_grpc.pb.go
  proto/generated-go/v1/idp_service_grpc.pb.go
  proto/generated-go/v1/instance_role_service_grpc.pb.go
  proto/generated-go/v1/instance_service_grpc.pb.go
  proto/generated-go/v1/issue_service_grpc.pb.go
  proto/generated-go/v1/org_policy_service_grpc.pb.go
  proto/generated-go/v1/plan_service_grpc.pb.go
  proto/generated-go/v1/project_service_grpc.pb.go
  proto/generated-go/v1/risk_service_grpc.pb.go
  proto/generated-go/v1/role_service_grpc.pb.go
  proto/generated-go/v1/rollout_service_grpc.pb.go
  proto/generated-go/v1/setting_service_grpc.pb.go
  proto/generated-go/v1/sheet_service_grpc.pb.go
  proto/generated-go/v1/sql_service_grpc.pb.go
  proto/generated-go/v1/subscription_service_grpc.pb.go
  proto/generated-go/v1/user_group_grpc.pb.go
  proto/generated-go/v1/vcs_connector_service_grpc.pb.go
  proto/generated-go/v1/vcs_provider_service_grpc.pb.go
  proto/generated-go/v1/worksheet_service_grpc.pb.go
  proto/store/database.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: dynamodb run statament
  backend/plugin/db/dynamodb/dynamodb.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: dynamodb run statament (#12263)
  backend/plugin/db/dynamodb/dynamodb.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: dynamodb run statament (#12263)
  backend/plugin/db/dynamodb/dynamodb.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: dynamodb run statament (#12263)
  backend/plugin/db/dynamodb/dynamodb.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: dynamodb query validator
  backend/plugin/parser/partiql/query.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: dynamodb query validator (#12264)
  backend/plugin/parser/partiql/query.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: dynamodb query validator (#12264)
  backend/plugin/parser/partiql/query.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: dynamodb query validator (#12264)
  backend/plugin/parser/partiql/query.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(databricks): init and sync
  backend/plugin/db/databricks/databricks.go
  backend/plugin/db/databricks/dump.go
  backend/plugin/db/databricks/role.go
  backend/plugin/db/databricks/sync.go
  backend/plugin/db/driver.go
  frontend/src/types/proto/google/protobuf/any.ts
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/google/protobuf/struct.ts
  frontend/src/types/proto/google/protobuf/timestamp.ts
  frontend/src/types/proto/store/common.ts
  frontend/src/types/proto/store/data_source.ts
  go.mod
  go.sum
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/common.pb.go
  proto/generated-go/store/data_source.pb.go
  proto/store/common.proto
  proto/store/data_source.proto
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @d-bytebase, @ecmadao, @RainbowDashy

chore: protobuf
  frontend/src/types/proto/google/protobuf/descriptor.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: sync sequences for postgres
  backend/plugin/db/pg/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update
  backend/plugin/db/pg/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: go mod tidy
  go.mod
  go.sum
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: sync sequences for postgres (#12267)
  backend/plugin/db/pg/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: sync sequences for postgres (#12267)
  backend/plugin/db/pg/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: sync sequences for postgres (#12267)
  backend/plugin/db/pg/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: add payload to project_webhook
  backend/migrator/migration/prod/2.19/0001##project_webhook_payload.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: add payload to project_webhook (#12268)
  backend/migrator/migration/prod/2.19/0001##project_webhook_payload.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: add payload to project_webhook (#12268)
  backend/migrator/migration/prod/2.19/0001##project_webhook_payload.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: add payload to project_webhook (#12268)
  backend/migrator/migration/prod/2.19/0001##project_webhook_payload.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: drop project_member
  backend/migrator/migration/prod/2.19/0002##drop_project_member.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: database filter & default project
  frontend/src/components/AlterSchemaPrepForm/AlterSchemaPrepForm.vue
  frontend/src/components/AlterSchemaPrepForm/ProjectStandardView.vue
  frontend/src/components/DatabaseDetail/SQLEditorButtonV1.vue
  frontend/src/components/ExternalTableDetailDrawer.vue
  frontend/src/components/TableDetailDrawer.vue
  frontend/src/components/TransferDatabaseForm.vue
  frontend/src/components/TransferDatabaseForm/MultipleDatabaseSelector.vue
  frontend/src/components/TransferOutDatabaseForm/TransferOutDatabaseForm.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/store/modules/v1/project.ts
  frontend/src/types/v1/project.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat(frontend): share ONE sheet among multiple tasks in an issue (#12265)
  frontend/src/components/AlterSchemaPrepForm/AlterSchemaPrepForm.vue
  frontend/src/components/IssueV1/components/StatementSection/EditorView/EditorView.vue
  frontend/src/components/IssueV1/logic/initialize/create.ts
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseOperations.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat(frontend): share ONE sheet among multiple tasks in an issue (#12265)
  frontend/src/components/AlterSchemaPrepForm/AlterSchemaPrepForm.vue
  frontend/src/components/IssueV1/components/StatementSection/EditorView/EditorView.vue
  frontend/src/components/IssueV1/logic/initialize/create.ts
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseOperations.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat(frontend): share ONE sheet among multiple tasks in an issue (#12265)
  frontend/src/components/AlterSchemaPrepForm/AlterSchemaPrepForm.vue
  frontend/src/components/IssueV1/components/StatementSection/EditorView/EditorView.vue
  frontend/src/components/IssueV1/logic/initialize/create.ts
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseOperations.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: drop project_member (#12269)
  backend/migrator/migration/prod/2.19/0002##drop_project_member.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: drop project_member (#12269)
  backend/migrator/migration/prod/2.19/0002##drop_project_member.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: drop project_member (#12269)
  backend/migrator/migration/prod/2.19/0002##drop_project_member.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: lint
  backend/plugin/db/databricks/databricks.go
  backend/plugin/db/databricks/role.go
  backend/plugin/db/databricks/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: database filter & default project (#12270)
  frontend/src/components/AlterSchemaPrepForm/AlterSchemaPrepForm.vue
  frontend/src/components/AlterSchemaPrepForm/ProjectStandardView.vue
  frontend/src/components/DatabaseDetail/SQLEditorButtonV1.vue
  frontend/src/components/ExternalTableDetailDrawer.vue
  frontend/src/components/TableDetailDrawer.vue
  frontend/src/components/TransferDatabaseForm.vue
  frontend/src/components/TransferDatabaseForm/MultipleDatabaseSelector.vue
  frontend/src/components/TransferOutDatabaseForm/TransferOutDatabaseForm.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/store/modules/v1/project.ts
  frontend/src/types/v1/project.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
