Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev

fix: lint
  backend/store/policy.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: renovate user and member (#13356)
  backend/api/v1/org_policy_service.go
  backend/api/v1/project_service.go
  backend/store/policy.go
  frontend/src/components/GeneralSetting/DomainRestrictionSetting.vue
  frontend/src/components/Member/EditMemberRoleDrawer.vue
  frontend/src/components/Member/MemberDataTable/cells/UserNameCell.vue
  frontend/src/components/Member/MemberDataTable/cells/UserOperationsCell.vue
  frontend/src/components/Member/MemberDataTable/cells/UserRolesCell.vue
  frontend/src/components/Member/MemberDataTable/index.vue
  frontend/src/components/Member/MemberDataTableByRole.vue
  frontend/src/components/Member/MembersBindingSelect.vue
  frontend/src/components/Member/types.ts
  frontend/src/components/ProjectMember/AddProjectMember/AddProjectMemberForm.vue
  frontend/src/components/ProjectMember/AddProjectMember/AddProjectMembersPanel.vue
  frontend/src/components/ProjectMember/ProjectMemberPanel.vue
  frontend/src/components/ProjectMember/ProjectMemberRolePanel/EditProjectRolePanel.vue
  frontend/src/components/ProjectMember/ProjectMemberRolePanel/index.vue
  frontend/src/components/ProjectMember/common/util.ts
  frontend/src/components/ProjectMember/utils.ts
  frontend/src/components/Quickstart.vue
  frontend/src/components/SensitiveData/GrantAccessDrawer.vue
  frontend/src/components/User/Settings/CreateGroupDrawer.vue
  frontend/src/components/User/Settings/CreateUserDrawer.vue
  frontend/src/components/User/Settings/UserDataTable/index.vue
  frontend/src/components/User/Settings/UserDataTableByGroup/cells/GroupNameCell.vue
  frontend/src/components/User/Settings/UserDataTableByGroup/index.vue
  frontend/src/components/v2/Select/GroupSelect.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/dashboard/workspace.ts
  frontend/src/router/dashboard/workspaceRoutes.ts
  frontend/src/store/modules/user.ts
  frontend/src/store/modules/v1/workspace.ts
  frontend/src/views/DashboardSidebar.vue
  frontend/src/views/SettingWorkspaceMembers.vue
  frontend/src/views/SettingWorkspaceUsers.vue
  frontend/src/views/sql-editor/Setting/Members/Members.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: renovate user and member (#13356)
  backend/api/v1/org_policy_service.go
  backend/api/v1/project_service.go
  backend/store/policy.go
  frontend/src/components/GeneralSetting/DomainRestrictionSetting.vue
  frontend/src/components/Member/EditMemberRoleDrawer.vue
  frontend/src/components/Member/MemberDataTable/cells/UserNameCell.vue
  frontend/src/components/Member/MemberDataTable/cells/UserOperationsCell.vue
  frontend/src/components/Member/MemberDataTable/cells/UserRolesCell.vue
  frontend/src/components/Member/MemberDataTable/index.vue
  frontend/src/components/Member/MemberDataTableByRole.vue
  frontend/src/components/Member/MembersBindingSelect.vue
  frontend/src/components/Member/types.ts
  frontend/src/components/ProjectMember/AddProjectMember/AddProjectMemberForm.vue
  frontend/src/components/ProjectMember/AddProjectMember/AddProjectMembersPanel.vue
  frontend/src/components/ProjectMember/ProjectMemberPanel.vue
  frontend/src/components/ProjectMember/ProjectMemberRolePanel/EditProjectRolePanel.vue
  frontend/src/components/ProjectMember/ProjectMemberRolePanel/index.vue
  frontend/src/components/ProjectMember/common/util.ts
  frontend/src/components/ProjectMember/utils.ts
  frontend/src/components/Quickstart.vue
  frontend/src/components/SensitiveData/GrantAccessDrawer.vue
  frontend/src/components/User/Settings/CreateGroupDrawer.vue
  frontend/src/components/User/Settings/CreateUserDrawer.vue
  frontend/src/components/User/Settings/UserDataTable/index.vue
  frontend/src/components/User/Settings/UserDataTableByGroup/cells/GroupNameCell.vue
  frontend/src/components/User/Settings/UserDataTableByGroup/index.vue
  frontend/src/components/v2/Select/GroupSelect.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/dashboard/workspace.ts
  frontend/src/router/dashboard/workspaceRoutes.ts
  frontend/src/store/modules/user.ts
  frontend/src/store/modules/v1/workspace.ts
  frontend/src/views/DashboardSidebar.vue
  frontend/src/views/SettingWorkspaceMembers.vue
  frontend/src/views/SettingWorkspaceUsers.vue
  frontend/src/views/sql-editor/Setting/Members/Members.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: renovate user and member (#13356)
  backend/api/v1/org_policy_service.go
  backend/api/v1/project_service.go
  backend/store/policy.go
  frontend/src/components/GeneralSetting/DomainRestrictionSetting.vue
  frontend/src/components/Member/EditMemberRoleDrawer.vue
  frontend/src/components/Member/MemberDataTable/cells/UserNameCell.vue
  frontend/src/components/Member/MemberDataTable/cells/UserOperationsCell.vue
  frontend/src/components/Member/MemberDataTable/cells/UserRolesCell.vue
  frontend/src/components/Member/MemberDataTable/index.vue
  frontend/src/components/Member/MemberDataTableByRole.vue
  frontend/src/components/Member/MembersBindingSelect.vue
  frontend/src/components/Member/types.ts
  frontend/src/components/ProjectMember/AddProjectMember/AddProjectMemberForm.vue
  frontend/src/components/ProjectMember/AddProjectMember/AddProjectMembersPanel.vue
  frontend/src/components/ProjectMember/ProjectMemberPanel.vue
  frontend/src/components/ProjectMember/ProjectMemberRolePanel/EditProjectRolePanel.vue
  frontend/src/components/ProjectMember/ProjectMemberRolePanel/index.vue
  frontend/src/components/ProjectMember/common/util.ts
  frontend/src/components/ProjectMember/utils.ts
  frontend/src/components/Quickstart.vue
  frontend/src/components/SensitiveData/GrantAccessDrawer.vue
  frontend/src/components/User/Settings/CreateGroupDrawer.vue
  frontend/src/components/User/Settings/CreateUserDrawer.vue
  frontend/src/components/User/Settings/UserDataTable/index.vue
  frontend/src/components/User/Settings/UserDataTableByGroup/cells/GroupNameCell.vue
  frontend/src/components/User/Settings/UserDataTableByGroup/index.vue
  frontend/src/components/v2/Select/GroupSelect.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/dashboard/workspace.ts
  frontend/src/router/dashboard/workspaceRoutes.ts
  frontend/src/store/modules/user.ts
  frontend/src/store/modules/v1/workspace.ts
  frontend/src/views/DashboardSidebar.vue
  frontend/src/views/SettingWorkspaceMembers.vue
  frontend/src/views/SettingWorkspaceUsers.vue
  frontend/src/views/sql-editor/Setting/Members/Members.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: use last deploy id instead of head
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/TaskRunLogTable.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: hide in tree
  frontend/src/components/SchemaEditorLite/Aside/Tree.vue
  frontend/src/components/SchemaEditorLite/Aside/common.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: use last deploy id instead of head (#13357)
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/TaskRunLogTable.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: use last deploy id instead of head (#13357)
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/TaskRunLogTable.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: use last deploy id instead of head (#13357)
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/TaskRunLogTable.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: hide in lists
  frontend/src/components/SchemaEditorLite/Panels/DatabaseEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/PartitionsEditor/PartitionsEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/TableColumnEditor/TableColumnEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/TableList/TableList.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: position no more
  frontend/src/utils/schemaEditor/filter.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(frontend): hide dropped objects in schema editor when diff disabled (#13358)
  frontend/src/components/SchemaEditorLite/Aside/Tree.vue
  frontend/src/components/SchemaEditorLite/Aside/common.ts
  frontend/src/components/SchemaEditorLite/Panels/DatabaseEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/PartitionsEditor/PartitionsEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/TableColumnEditor/TableColumnEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/TableList/TableList.vue
  frontend/src/utils/schemaEditor/filter.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(frontend): hide dropped objects in schema editor when diff disabled (#13358)
  frontend/src/components/SchemaEditorLite/Aside/Tree.vue
  frontend/src/components/SchemaEditorLite/Aside/common.ts
  frontend/src/components/SchemaEditorLite/Panels/DatabaseEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/PartitionsEditor/PartitionsEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/TableColumnEditor/TableColumnEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/TableList/TableList.vue
  frontend/src/utils/schemaEditor/filter.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(frontend): hide dropped objects in schema editor when diff disabled (#13358)
  frontend/src/components/SchemaEditorLite/Aside/Tree.vue
  frontend/src/components/SchemaEditorLite/Aside/common.ts
  frontend/src/components/SchemaEditorLite/Panels/DatabaseEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/PartitionsEditor/PartitionsEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/TableColumnEditor/TableColumnEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/TableList/TableList.vue
  frontend/src/utils/schemaEditor/filter.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: delay 1 frame to set value
  frontend/src/components/Branch/common/BranchComparison.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: delay 1 frame to set value (#13359)
  frontend/src/components/Branch/common/BranchComparison.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: delay 1 frame to set value (#13359)
  frontend/src/components/Branch/common/BranchComparison.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: delay 1 frame to set value (#13359)
  frontend/src/components/Branch/common/BranchComparison.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: do not set model if disposed
  frontend/src/components/MonacoEditor/DiffEditor.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: use absolute (non-resolved) path
  frontend/src/components/MonacoEditor/editor.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: introduce builtin sql review rules
  backend/api/v1/sql_service.go
  backend/plugin/advisor/builtin_rules.go
  backend/plugin/advisor/code.go
  backend/plugin/advisor/mysql/advisor_builtin_prior_backup_check.go
  backend/plugin/advisor/pg/advisor_builtin_prior_backup_check.go
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/tidb/advisor_builtin_prior_backup_check.go
  backend/runner/plancheck/statement_advise_executor.go
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sql-review.dev.yaml
  frontend/src/types/sql-review.prod.yaml
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

fix(frontend): diff editor doesn't work sometimes (#13360)
  frontend/src/components/MonacoEditor/DiffEditor.vue
  frontend/src/components/MonacoEditor/editor.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix(frontend): diff editor doesn't work sometimes (#13360)
  frontend/src/components/MonacoEditor/DiffEditor.vue
  frontend/src/components/MonacoEditor/editor.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix(frontend): diff editor doesn't work sometimes (#13360)
  frontend/src/components/MonacoEditor/DiffEditor.vue
  frontend/src/components/MonacoEditor/editor.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  tmp.json
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: update
  tmp.json
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: run walk through only for non-builtin check
  backend/plugin/advisor/sql_review.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: fix tests
  backend/api/v1/sql_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat(audit): store old settings in audit logs (#13355)
  backend/api/v1/setting_service.go
  frontend/src/components/AuditLog/AuditLogDataTable.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

feat(audit): store old settings in audit logs (#13355)
  backend/api/v1/setting_service.go
  frontend/src/components/AuditLog/AuditLogDataTable.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

feat(audit): store old settings in audit logs (#13355)
  backend/api/v1/setting_service.go
  frontend/src/components/AuditLog/AuditLogDataTable.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: code refactor for iam policy
  backend/api/v1/org_policy_service.go
  backend/api/v1/project_service.go
  backend/common/resource_name.go
  backend/utils/member.go
  frontend/src/store/modules/v1/workspace.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: introduce builtin sql review rules (#13361)
  backend/api/v1/sql_service.go
  backend/plugin/advisor/builtin_rules.go
  backend/plugin/advisor/code.go
  backend/plugin/advisor/mysql/advisor_builtin_prior_backup_check.go
  backend/plugin/advisor/pg/advisor_builtin_prior_backup_check.go
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/tidb/advisor_builtin_prior_backup_check.go
  backend/runner/plancheck/statement_advise_executor.go
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sql-review.dev.yaml
  frontend/src/types/sql-review.prod.yaml
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

chore: introduce builtin sql review rules (#13361)
  backend/api/v1/sql_service.go
  backend/plugin/advisor/builtin_rules.go
  backend/plugin/advisor/code.go
  backend/plugin/advisor/mysql/advisor_builtin_prior_backup_check.go
  backend/plugin/advisor/pg/advisor_builtin_prior_backup_check.go
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/tidb/advisor_builtin_prior_backup_check.go
  backend/runner/plancheck/statement_advise_executor.go
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sql-review.dev.yaml
  frontend/src/types/sql-review.prod.yaml
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

chore: introduce builtin sql review rules (#13361)
  backend/api/v1/sql_service.go
  backend/plugin/advisor/builtin_rules.go
  backend/plugin/advisor/code.go
  backend/plugin/advisor/mysql/advisor_builtin_prior_backup_check.go
  backend/plugin/advisor/pg/advisor_builtin_prior_backup_check.go
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/tidb/advisor_builtin_prior_backup_check.go
  backend/runner/plancheck/statement_advise_executor.go
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sql-review.dev.yaml
  frontend/src/types/sql-review.prod.yaml
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

fix: lint
  backend/api/v1/project_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: sql review comment
  backend/api/gitops/webhook.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: sql review comment (#13363)
  backend/api/gitops/webhook.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: sql review comment (#13363)
  backend/api/gitops/webhook.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: sql review comment (#13363)
  backend/api/gitops/webhook.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev
