Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @ecmadao, @rebelice, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @ecmadao

# Backend and API.
/backend/                    @d-bytebase @ecmadao
/proto/                      @d-bytebase @ecmadao

# Backend SQL kernel.
/backend/plugin/advisor      @d-bytebase @ecmadao @rebelice
/backend/plugin/db           @d-bytebase @ecmadao @rebelice
/backend/plugin/parser       @d-bytebase @ecmadao @rebelice

# Frontend.
/frontend/                   @LiuJi-Jim @boojack

# Dependency files.
frontend/package.json        @d-bytebase @LiuJi-Jim
go.mod                       @d-bytebase @ecmadao

chore: error handling and status resuming (#5739)
  frontend/src/components/CustomApproval/Settings/components/CustomApproval/FlowsPanel/FlowTable.vue
  frontend/src/components/CustomApproval/Settings/components/CustomApproval/RuleDialog/RuleDialog.vue
  frontend/src/components/CustomApproval/Settings/components/CustomApproval/RulesPanel/RulesSection.vue
  frontend/src/store/modules/workspaceApprovalSetting.ts
Owners: @LiuJi-Jim, @boojack

fix: fix sql
  backend/store/database.go
Owners: @d-bytebase, @ecmadao

fix: linter
  backend/api/v1/database_service.go
Owners: @d-bytebase, @ecmadao

test: add unit test of is secret valid
  backend/api/v1/database_service.go
  backend/api/v1/database_service_test.go
Owners: @d-bytebase, @ecmadao

feat: ssl support for OceanBase (#5741)
  backend/server/sql.go
  frontend/src/utils/instance.ts
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

feat: ssl support for OceanBase (#5741)
  backend/server/sql.go
  frontend/src/utils/instance.ts
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

feat: ssl support for OceanBase (#5741)
  backend/server/sql.go
  frontend/src/utils/instance.ts
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

feat: the secret part of database service (#5740)
  backend/api/v1/common.go
  backend/api/v1/database_service.go
  backend/api/v1/database_service_test.go
  backend/store/database.go
Owners: @d-bytebase, @ecmadao

feat: the secret part of database service (#5740)
  backend/api/v1/common.go
  backend/api/v1/database_service.go
  backend/api/v1/database_service_test.go
  backend/store/database.go
Owners: @d-bytebase, @ecmadao

feat: the secret part of database service (#5740)
  backend/api/v1/common.go
  backend/api/v1/database_service.go
  backend/api/v1/database_service_test.go
  backend/store/database.go
Owners: @d-bytebase, @ecmadao

feat: store secret in upper case
  backend/api/v1/database_service.go
Owners: @d-bytebase, @ecmadao

chore: update
  frontend/src/locales/en-US.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/DashboardSidebar.vue
  frontend/src/views/SyncDatabaseSchema/SelectTargetDatabasesView.vue
  frontend/src/views/SyncDatabaseSchema/TargetDatabasesSelectPanel.vue
  frontend/src/views/SyncDatabaseSchema/index.vue
Owners: @LiuJi-Jim, @boojack

chore: update
  frontend/src/components/SyncDatabaseSchemaPrepForm.vue
Owners: @LiuJi-Jim, @boojack

feat: send slow query weekly emails
  backend/api/v1/mail_templates/testmail/hahaha/weekly_for_dba_example.html
  backend/api/v1/mail_templates/testmail/hahaha/weekly_for_project_owner_example.html
  backend/api/v1/setting_service.go
  backend/component/state/state.go
  backend/runner/mail/slow_query_weekly_mail.go
  backend/runner/mail/templates/for-dba/database_table_footer.html
  backend/runner/mail/templates/for-dba/database_table_header.html
  backend/runner/mail/templates/for-dba/database_table_item.html
  backend/runner/mail/templates/for-dba/environment_footer.html
  backend/runner/mail/templates/for-dba/environment_header.html
  backend/runner/mail/templates/for-dba/environment_no_instance_configured.html
  backend/runner/mail/templates/for-dba/environment_no_slow_query.html
  backend/runner/mail/templates/for-dba/footer.html
  backend/runner/mail/templates/for-dba/header.html
  backend/runner/mail/templates/for-dba/instance_footer.html
  backend/runner/mail/templates/for-dba/instance_header.html
  backend/runner/mail/templates/for-dba/need_configure.html
  backend/runner/mail/templates/for-dba/table.html
  backend/runner/mail/templates/for-project-owner/environment_footer.html
  backend/runner/mail/templates/for-project-owner/environment_header.html
  backend/runner/mail/templates/for-project-owner/footer.html
  backend/runner/mail/templates/for-project-owner/header.html
  backend/runner/mail/templates/for-project-owner/table_item.html
  backend/server/server.go
Owners: @d-bytebase, @ecmadao

chore: update
  backend/api/v1/database_service_test.go
Owners: @d-bytebase, @ecmadao

chore: filter service account owner
  frontend/src/components/MemberTable.vue
Owners: @LiuJi-Jim, @boojack

chore: make linter happy
  backend/runner/mail/slow_query_weekly_mail.go
Owners: @d-bytebase, @ecmadao

chore: add comment
  backend/runner/mail/slow_query_weekly_mail.go
Owners: @d-bytebase, @ecmadao

feat: sync schema UI (#5737)
  frontend/src/bbkit/BBStepTab.vue
  frontend/src/components/DatabaseSelect.vue
  frontend/src/components/FunctionTable.vue
  frontend/src/components/QuickActionPanel.vue
  frontend/src/components/SyncDatabaseSchemaPrepForm.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/index.ts
  frontend/src/views/DashboardSidebar.vue
  frontend/src/views/SyncDatabaseSchema/SelectTargetDatabasesView.vue
  frontend/src/views/SyncDatabaseSchema/TargetDatabasesSelectPanel.vue
  frontend/src/views/SyncDatabaseSchema/index.vue
Owners: @LiuJi-Jim, @boojack

feat: sync schema UI (#5737)
  frontend/src/bbkit/BBStepTab.vue
  frontend/src/components/DatabaseSelect.vue
  frontend/src/components/FunctionTable.vue
  frontend/src/components/QuickActionPanel.vue
  frontend/src/components/SyncDatabaseSchemaPrepForm.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/index.ts
  frontend/src/views/DashboardSidebar.vue
  frontend/src/views/SyncDatabaseSchema/SelectTargetDatabasesView.vue
  frontend/src/views/SyncDatabaseSchema/TargetDatabasesSelectPanel.vue
  frontend/src/views/SyncDatabaseSchema/index.vue
Owners: @LiuJi-Jim, @boojack

feat: sync schema UI (#5737)
  frontend/src/bbkit/BBStepTab.vue
  frontend/src/components/DatabaseSelect.vue
  frontend/src/components/FunctionTable.vue
  frontend/src/components/QuickActionPanel.vue
  frontend/src/components/SyncDatabaseSchemaPrepForm.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/index.ts
  frontend/src/views/DashboardSidebar.vue
  frontend/src/views/SyncDatabaseSchema/SelectTargetDatabasesView.vue
  frontend/src/views/SyncDatabaseSchema/TargetDatabasesSelectPanel.vue
  frontend/src/views/SyncDatabaseSchema/index.vue
Owners: @LiuJi-Jim, @boojack

feat: send slow query weekly emails (#5743)
  backend/api/v1/mail_templates/testmail/hahaha/weekly_for_dba_example.html
  backend/api/v1/mail_templates/testmail/hahaha/weekly_for_project_owner_example.html
  backend/api/v1/setting_service.go
  backend/component/state/state.go
  backend/runner/mail/slow_query_weekly_mail.go
  backend/runner/mail/templates/for-dba/database_table_footer.html
  backend/runner/mail/templates/for-dba/database_table_header.html
  backend/runner/mail/templates/for-dba/database_table_item.html
  backend/runner/mail/templates/for-dba/environment_footer.html
  backend/runner/mail/templates/for-dba/environment_header.html
  backend/runner/mail/templates/for-dba/environment_no_instance_configured.html
  backend/runner/mail/templates/for-dba/environment_no_slow_query.html
  backend/runner/mail/templates/for-dba/footer.html
  backend/runner/mail/templates/for-dba/header.html
  backend/runner/mail/templates/for-dba/instance_footer.html
  backend/runner/mail/templates/for-dba/instance_header.html
  backend/runner/mail/templates/for-dba/need_configure.html
  backend/runner/mail/templates/for-dba/table.html
  backend/runner/mail/templates/for-project-owner/environment_footer.html
  backend/runner/mail/templates/for-project-owner/environment_header.html
  backend/runner/mail/templates/for-project-owner/footer.html
  backend/runner/mail/templates/for-project-owner/header.html
  backend/runner/mail/templates/for-project-owner/table_item.html
  backend/server/server.go
Owners: @d-bytebase, @ecmadao

feat: send slow query weekly emails (#5743)
  backend/api/v1/mail_templates/testmail/hahaha/weekly_for_dba_example.html
  backend/api/v1/mail_templates/testmail/hahaha/weekly_for_project_owner_example.html
  backend/api/v1/setting_service.go
  backend/component/state/state.go
  backend/runner/mail/slow_query_weekly_mail.go
  backend/runner/mail/templates/for-dba/database_table_footer.html
  backend/runner/mail/templates/for-dba/database_table_header.html
  backend/runner/mail/templates/for-dba/database_table_item.html
  backend/runner/mail/templates/for-dba/environment_footer.html
  backend/runner/mail/templates/for-dba/environment_header.html
  backend/runner/mail/templates/for-dba/environment_no_instance_configured.html
  backend/runner/mail/templates/for-dba/environment_no_slow_query.html
  backend/runner/mail/templates/for-dba/footer.html
  backend/runner/mail/templates/for-dba/header.html
  backend/runner/mail/templates/for-dba/instance_footer.html
  backend/runner/mail/templates/for-dba/instance_header.html
  backend/runner/mail/templates/for-dba/need_configure.html
  backend/runner/mail/templates/for-dba/table.html
  backend/runner/mail/templates/for-project-owner/environment_footer.html
  backend/runner/mail/templates/for-project-owner/environment_header.html
  backend/runner/mail/templates/for-project-owner/footer.html
  backend/runner/mail/templates/for-project-owner/header.html
  backend/runner/mail/templates/for-project-owner/table_item.html
  backend/server/server.go
Owners: @d-bytebase, @ecmadao

feat: send slow query weekly emails (#5743)
  backend/api/v1/mail_templates/testmail/hahaha/weekly_for_dba_example.html
  backend/api/v1/mail_templates/testmail/hahaha/weekly_for_project_owner_example.html
  backend/api/v1/setting_service.go
  backend/component/state/state.go
  backend/runner/mail/slow_query_weekly_mail.go
  backend/runner/mail/templates/for-dba/database_table_footer.html
  backend/runner/mail/templates/for-dba/database_table_header.html
  backend/runner/mail/templates/for-dba/database_table_item.html
  backend/runner/mail/templates/for-dba/environment_footer.html
  backend/runner/mail/templates/for-dba/environment_header.html
  backend/runner/mail/templates/for-dba/environment_no_instance_configured.html
  backend/runner/mail/templates/for-dba/environment_no_slow_query.html
  backend/runner/mail/templates/for-dba/footer.html
  backend/runner/mail/templates/for-dba/header.html
  backend/runner/mail/templates/for-dba/instance_footer.html
  backend/runner/mail/templates/for-dba/instance_header.html
  backend/runner/mail/templates/for-dba/need_configure.html
  backend/runner/mail/templates/for-dba/table.html
  backend/runner/mail/templates/for-project-owner/environment_footer.html
  backend/runner/mail/templates/for-project-owner/environment_header.html
  backend/runner/mail/templates/for-project-owner/footer.html
  backend/runner/mail/templates/for-project-owner/header.html
  backend/runner/mail/templates/for-project-owner/table_item.html
  backend/server/server.go
Owners: @d-bytebase, @ecmadao

feat: display task execution time
  frontend/src/components/Issue/TaskRunTable.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/zh-CN.json
  frontend/src/main.ts
  frontend/src/shims-vue-globals.d.ts
Owners: @LiuJi-Jim, @boojack

chore: missing
  frontend/src/utils/util.ts
Owners: @LiuJi-Jim, @boojack

chore: remove unused
  frontend/src/views/sql-editor/EditorCommon/DataTable.vue
Owners: @LiuJi-Jim, @boojack

feat: highlight search patterns
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/DataTable.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/SingleResultView.vue
Owners: @LiuJi-Jim, @boojack

chore: update
  frontend/src/components/MemberTable.vue
Owners: @LiuJi-Jim, @boojack

chore: filter service account owner (#5744)
  frontend/src/components/MemberTable.vue
Owners: @LiuJi-Jim, @boojack

chore: filter service account owner (#5744)
  frontend/src/components/MemberTable.vue
Owners: @LiuJi-Jim, @boojack

chore: filter service account owner (#5744)
  frontend/src/components/MemberTable.vue
Owners: @LiuJi-Jim, @boojack

chore: support case insensitive
  frontend/src/utils/util.ts
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/DataTable.vue
Owners: @LiuJi-Jim, @boojack

chore: update
  backend/api/v1/database_service.go
  backend/api/v1/database_service_test.go
Owners: @d-bytebase, @ecmadao

feat(frontend): display task execution time (#5745)
  frontend/src/components/Issue/TaskRunTable.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/zh-CN.json
  frontend/src/main.ts
  frontend/src/shims-vue-globals.d.ts
  frontend/src/utils/util.ts
Owners: @LiuJi-Jim, @boojack

feat(frontend): display task execution time (#5745)
  frontend/src/components/Issue/TaskRunTable.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/zh-CN.json
  frontend/src/main.ts
  frontend/src/shims-vue-globals.d.ts
  frontend/src/utils/util.ts
Owners: @LiuJi-Jim, @boojack

feat(frontend): display task execution time (#5745)
  frontend/src/components/Issue/TaskRunTable.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/zh-CN.json
  frontend/src/main.ts
  frontend/src/shims-vue-globals.d.ts
  frontend/src/utils/util.ts
Owners: @LiuJi-Jim, @boojack

feat(backend): forbid lower case letter in secret name (#5742)
  backend/api/v1/database_service.go
  backend/api/v1/database_service_test.go
Owners: @d-bytebase, @ecmadao

feat(backend): forbid lower case letter in secret name (#5742)
  backend/api/v1/database_service.go
  backend/api/v1/database_service_test.go
Owners: @d-bytebase, @ecmadao

feat(backend): forbid lower case letter in secret name (#5742)
  backend/api/v1/database_service.go
  backend/api/v1/database_service_test.go
Owners: @d-bytebase, @ecmadao
