Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

fix: eslint
  frontend/src/components/ProvideInstanceContext.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: frontend fix and update (#11906)
  frontend/src/components/InstanceForm/DataSourceSection/CreateDataSourceExample.vue
  frontend/src/components/InstanceForm/DataSourceSection/DataSourceSection.vue
  frontend/src/components/InstanceForm/InstanceForm.vue
  frontend/src/components/ProvideInstanceContext.vue
  frontend/src/components/User/Settings/CreateUserDrawer.vue
  frontend/src/layouts/InstanceLayout.vue
  frontend/src/types/v1/dataSource.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: frontend fix and update (#11906)
  frontend/src/components/InstanceForm/DataSourceSection/CreateDataSourceExample.vue
  frontend/src/components/InstanceForm/DataSourceSection/DataSourceSection.vue
  frontend/src/components/InstanceForm/InstanceForm.vue
  frontend/src/components/ProvideInstanceContext.vue
  frontend/src/components/User/Settings/CreateUserDrawer.vue
  frontend/src/layouts/InstanceLayout.vue
  frontend/src/types/v1/dataSource.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: frontend fix and update (#11906)
  frontend/src/components/InstanceForm/DataSourceSection/CreateDataSourceExample.vue
  frontend/src/components/InstanceForm/DataSourceSection/DataSourceSection.vue
  frontend/src/components/InstanceForm/InstanceForm.vue
  frontend/src/components/ProvideInstanceContext.vue
  frontend/src/components/User/Settings/CreateUserDrawer.vue
  frontend/src/layouts/InstanceLayout.vue
  frontend/src/types/v1/dataSource.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: level
  backend/plugin/advisor/config/sql-review.dev.yaml
  backend/plugin/advisor/config/sql-review.prod.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: obo select version
  backend/plugin/db/obo/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: add column comments to prompt
  frontend/src/plugins/ai/components/ChatPanel.vue
  frontend/src/plugins/ai/logic/utils.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(sql-review): separate rule for truncate cascading (#11905)
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/config/sql-review.dev.yaml
  backend/plugin/advisor/config/sql-review.prod.yaml
  backend/plugin/advisor/pg/advisor_statement_disallow_on_del_cascade.go
  backend/plugin/advisor/pg/advisor_statement_disallow_rm_tbl_cascade.go
  backend/plugin/advisor/pg/pg_rules_test.go
  backend/plugin/advisor/pg/test/statement_disallow_on_del_cascade.yaml
  backend/plugin/advisor/pg/test/statement_disallow_rm_tbl_cascade.yaml
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/utils_for_tests.go
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/types/sql-review-schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore(sql-review): separate rule for truncate cascading (#11905)
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/config/sql-review.dev.yaml
  backend/plugin/advisor/config/sql-review.prod.yaml
  backend/plugin/advisor/pg/advisor_statement_disallow_on_del_cascade.go
  backend/plugin/advisor/pg/advisor_statement_disallow_rm_tbl_cascade.go
  backend/plugin/advisor/pg/pg_rules_test.go
  backend/plugin/advisor/pg/test/statement_disallow_on_del_cascade.yaml
  backend/plugin/advisor/pg/test/statement_disallow_rm_tbl_cascade.yaml
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/utils_for_tests.go
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/types/sql-review-schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore(sql-review): separate rule for truncate cascading (#11905)
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/config/sql-review.dev.yaml
  backend/plugin/advisor/config/sql-review.prod.yaml
  backend/plugin/advisor/pg/advisor_statement_disallow_on_del_cascade.go
  backend/plugin/advisor/pg/advisor_statement_disallow_rm_tbl_cascade.go
  backend/plugin/advisor/pg/pg_rules_test.go
  backend/plugin/advisor/pg/test/statement_disallow_on_del_cascade.yaml
  backend/plugin/advisor/pg/test/statement_disallow_rm_tbl_cascade.yaml
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/utils_for_tests.go
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/types/sql-review-schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

fix: obo select version (#11908)
  backend/plugin/db/obo/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: obo select version (#11908)
  backend/plugin/db/obo/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: obo select version (#11908)
  backend/plugin/db/obo/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: add column comments to prompt (#11907)
  frontend/src/plugins/ai/components/ChatPanel.vue
  frontend/src/plugins/ai/logic/utils.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add column comments to prompt (#11907)
  frontend/src/plugins/ai/components/ChatPanel.vue
  frontend/src/plugins/ai/logic/utils.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add column comments to prompt (#11907)
  frontend/src/plugins/ai/components/ChatPanel.vue
  frontend/src/plugins/ai/logic/utils.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix droppable textarea state
  frontend/src/components/misc/DroppableTextarea.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix droppable textarea state (#11909)
  frontend/src/components/misc/DroppableTextarea.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix droppable textarea state (#11909)
  frontend/src/components/misc/DroppableTextarea.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix droppable textarea state (#11909)
  frontend/src/components/misc/DroppableTextarea.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix i18n
  frontend/src/components/InstanceAssignment.vue
  frontend/src/components/InstanceUserTable.vue
  frontend/src/components/v2/Model/Instance/InstanceRoleTable/InstanceRoleTable.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat(proto): task run log
  proto/store/task_run_log.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

chore: fix i18n (#11911)
  frontend/src/components/InstanceAssignment.vue
  frontend/src/components/InstanceUserTable.vue
  frontend/src/components/v2/Model/Instance/InstanceRoleTable/InstanceRoleTable.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix i18n (#11911)
  frontend/src/components/InstanceAssignment.vue
  frontend/src/components/InstanceUserTable.vue
  frontend/src/components/v2/Model/Instance/InstanceRoleTable/InstanceRoleTable.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix i18n (#11911)
  frontend/src/components/InstanceAssignment.vue
  frontend/src/components/InstanceUserTable.vue
  frontend/src/components/v2/Model/Instance/InstanceRoleTable/InstanceRoleTable.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/components/IssueV1/components/PlanCheckSection/PlanCheckBar/PlanCheckDetail.vue
  frontend/src/components/IssueV1/components/StatementSection/EditorView/EditorView.vue
  frontend/src/components/MonacoEditor/MonacoEditor.vue
  frontend/src/components/MonacoEditor/MonacoTextModelEditor.vue
  frontend/src/components/MonacoEditor/WrappedMonacoEditor.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

comment
  proto/store/task_run_log.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

feat: add task run log table
  backend/migrator/migration/prod/2.17/0001##task_run_log.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: add task run log table (#11913)
  backend/migrator/migration/prod/2.17/0001##task_run_log.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: add task run log table (#11913)
  backend/migrator/migration/prod/2.17/0001##task_run_log.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: add task run log table (#11913)
  backend/migrator/migration/prod/2.17/0001##task_run_log.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  frontend/src/components/IssueV1/components/PlanCheckSection/PlanCheckBar/PlanCheckDetail.vue
  frontend/src/components/IssueV1/components/PlanCheckSection/PlanCheckBar/PlanCheckPanel.vue
  frontend/src/components/IssueV1/components/StatementSection/EditorView/EditorView.vue
  frontend/src/components/IssueV1/components/StatementSection/StatementSection.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/components/IssueV1/components/StatementSection/EditorView/EditorView.vue
  frontend/src/components/IssueV1/components/StatementSection/StatementSection.vue
  frontend/src/components/MonacoEditor/MonacoEditor.vue
  frontend/src/components/MonacoEditor/WrappedMonacoEditor.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

refactor: extract file upload and parse logic
  frontend/src/components/Changelist/ChangelistDetail/NavBar/ImportButton.vue
  frontend/src/components/Changelist/import.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: use `NVirtualList` in matched database/table view
  frontend/src/components/DatabaseGroup/MatchedDatabaseView.vue
  frontend/src/components/DatabaseGroup/MatchedTableView.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

refactor: extract file upload and parse logic (#11915)
  frontend/src/components/Changelist/ChangelistDetail/NavBar/ImportButton.vue
  frontend/src/components/Changelist/import.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

refactor: extract file upload and parse logic (#11915)
  frontend/src/components/Changelist/ChangelistDetail/NavBar/ImportButton.vue
  frontend/src/components/Changelist/import.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

refactor: extract file upload and parse logic (#11915)
  frontend/src/components/Changelist/ChangelistDetail/NavBar/ImportButton.vue
  frontend/src/components/Changelist/import.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: use `NVirtualList` in matched database/table view (#11916)
  frontend/src/components/DatabaseGroup/MatchedDatabaseView.vue
  frontend/src/components/DatabaseGroup/MatchedTableView.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: use `NVirtualList` in matched database/table view (#11916)
  frontend/src/components/DatabaseGroup/MatchedDatabaseView.vue
  frontend/src/components/DatabaseGroup/MatchedTableView.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
