Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

chore: update
  backend/plugin/db/cockroachdb/dump.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(cockroachdb): tiny schema dump for cockroachdb (#13745)
  backend/plugin/db/cockroachdb/dump.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(cockroachdb): tiny schema dump for cockroachdb (#13745)
  backend/plugin/db/cockroachdb/dump.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(cockroachdb): tiny schema dump for cockroachdb (#13745)
  backend/plugin/db/cockroachdb/dump.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update export as json
  backend/api/v1/sql_service_export_utils.go
  backend/api/v1/sql_service_export_utils_test.go
  backend/api/v1/sql_service_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: user profile proto & store
  backend/migrator/migration/prod/2.23/0000##principal_profile.sql
  backend/migrator/migrator_test.go
  backend/store/principal.go
  frontend/src/types/proto/store/user.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/user.pb.go
  proto/store/user.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

fix: proto format
  proto/store/user.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

chore: update
  backend/api/v1/sql_service_export_utils.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: sql
  backend/migrator/migration/prod/LATEST.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  backend/api/v1/sql_service_export_utils.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  backend/api/v1/sql_service_export_utils.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: using crdb wrapper to execute cockroachdb statement
  backend/plugin/db/cockroachdb/cockroachdb.go
  backend/plugin/db/cockroachdb/sync.go
  go.mod
  go.sum
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

chore: style
  frontend/src/views/sql-editor/SQLEditorSettingPage.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix initialization
  frontend/src/components/ProvideSQLEditorContext.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: do not jump if not needed
  frontend/src/components/GeneralSetting/DatabaseChangeModeSetting.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: detect if allow access default project
  frontend/src/views/sql-editor/AsidePanel/AsidePanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: warp more
  backend/plugin/db/cockroachdb/cockroachdb.go
  backend/plugin/db/cockroachdb/dump.go
  backend/plugin/db/cockroachdb/role.go
  backend/plugin/db/cockroachdb/stats.go
  backend/plugin/db/cockroachdb/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: go mod tidy
  go.sum
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: update
  backend/plugin/db/cockroachdb/cockroachdb.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: linter
  backend/plugin/db/cockroachdb/dump.go
  backend/plugin/db/cockroachdb/role.go
  backend/plugin/db/cockroachdb/stats.go
  backend/plugin/db/cockroachdb/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: always allow workspace admin to disable 2fa
  backend/api/v1/auth_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: using crdb wrapper to execute cockroachdb statement (#13748)
  backend/plugin/db/cockroachdb/cockroachdb.go
  backend/plugin/db/cockroachdb/dump.go
  backend/plugin/db/cockroachdb/role.go
  backend/plugin/db/cockroachdb/stats.go
  backend/plugin/db/cockroachdb/sync.go
  go.mod
  go.sum
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

feat: using crdb wrapper to execute cockroachdb statement (#13748)
  backend/plugin/db/cockroachdb/cockroachdb.go
  backend/plugin/db/cockroachdb/dump.go
  backend/plugin/db/cockroachdb/role.go
  backend/plugin/db/cockroachdb/stats.go
  backend/plugin/db/cockroachdb/sync.go
  go.mod
  go.sum
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

feat: using crdb wrapper to execute cockroachdb statement (#13748)
  backend/plugin/db/cockroachdb/cockroachdb.go
  backend/plugin/db/cockroachdb/dump.go
  backend/plugin/db/cockroachdb/role.go
  backend/plugin/db/cockroachdb/stats.go
  backend/plugin/db/cockroachdb/sync.go
  go.mod
  go.sum
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

chore: update export results as json format (#13746)
  backend/api/v1/sql_service_export_utils.go
  backend/api/v1/sql_service_export_utils_test.go
  backend/api/v1/sql_service_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update export results as json format (#13746)
  backend/api/v1/sql_service_export_utils.go
  backend/api/v1/sql_service_export_utils_test.go
  backend/api/v1/sql_service_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update export results as json format (#13746)
  backend/api/v1/sql_service_export_utils.go
  backend/api/v1/sql_service_export_utils_test.go
  backend/api/v1/sql_service_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: always allow workspace admin to disable 2fa (#13749)
  backend/api/v1/auth_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: always allow workspace admin to disable 2fa (#13749)
  backend/api/v1/auth_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: always allow workspace admin to disable 2fa (#13749)
  backend/api/v1/auth_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: sso
  frontend/src/components/SSO/IdentityProviderCreateForm.vue
  frontend/src/views/SettingWorkspaceSSO.vue
  frontend/src/views/SettingWorkspaceSSODetail.vue
  frontend/src/views/sql-editor/Setting/SSO/Detail.vue
  frontend/src/views/sql-editor/Setting/SSO/SSO.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix warning
  frontend/src/views/SettingWorkspaceSSO.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

refactor: cleanup driver dump function stub
  backend/plugin/advisor/utils_for_tests.go
  backend/plugin/db/bigquery/dump.go
  backend/plugin/db/clickhouse/dump.go
  backend/plugin/db/cockroachdb/dump.go
  backend/plugin/db/databricks/dump.go
  backend/plugin/db/dm/dump.go
  backend/plugin/db/driver.go
  backend/plugin/db/dynamodb/dump.go
  backend/plugin/db/elasticsearch/dump.go
  backend/plugin/db/hive/dump.go
  backend/plugin/db/mongodb/mongodb.go
  backend/plugin/db/mssql/dump.go
  backend/plugin/db/mysql/dump.go
  backend/plugin/db/obo/dump.go
  backend/plugin/db/oracle/dump.go
  backend/plugin/db/pg/dump.go
  backend/plugin/db/redis/redis.go
  backend/plugin/db/redshift/dump.go
  backend/plugin/db/risingwave/dump.go
  backend/plugin/db/snowflake/dump.go
  backend/plugin/db/spanner/dump.go
  backend/plugin/db/sqlite/dump.go
  backend/plugin/db/starrocks/dump.go
  backend/plugin/db/tidb/dump.go
  backend/runner/schemasync/syncer.go
  backend/runner/taskrun/database_create_executor.go
  backend/runner/utils/sdl_utils.go
  backend/utils/utils.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

chore: update
  backend/plugin/db/clickhouse/dump.go
  backend/plugin/db/dm/dump.go
  backend/plugin/db/mssql/dump.go
  backend/plugin/db/mysql/dump.go
  backend/plugin/db/oracle/dump.go
  backend/plugin/db/snowflake/dump.go
  backend/plugin/db/sqlite/dump.go
  backend/plugin/db/starrocks/dump.go
  backend/plugin/db/tidb/dump.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: simple splitter for cockroachdb
  backend/plugin/db/cockroachdb/cockroachdb.go
  backend/plugin/parser/cockroachdb/cockroachdb.go
  backend/plugin/parser/cockroachdb/cockroachdb_test.go
  backend/plugin/parser/cockroachdb/testdata/split_sql_statement.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: no record
  backend/plugin/parser/cockroachdb/cockroachdb_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update
  backend/plugin/parser/cockroachdb/cockroachdb_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

refactor: cleanup driver dump function stub (#13750)
  backend/plugin/advisor/utils_for_tests.go
  backend/plugin/db/bigquery/dump.go
  backend/plugin/db/clickhouse/dump.go
  backend/plugin/db/cockroachdb/dump.go
  backend/plugin/db/databricks/dump.go
  backend/plugin/db/dm/dump.go
  backend/plugin/db/driver.go
  backend/plugin/db/dynamodb/dump.go
  backend/plugin/db/elasticsearch/dump.go
  backend/plugin/db/hive/dump.go
  backend/plugin/db/mongodb/mongodb.go
  backend/plugin/db/mssql/dump.go
  backend/plugin/db/mysql/dump.go
  backend/plugin/db/obo/dump.go
  backend/plugin/db/oracle/dump.go
  backend/plugin/db/pg/dump.go
  backend/plugin/db/redis/redis.go
  backend/plugin/db/redshift/dump.go
  backend/plugin/db/risingwave/dump.go
  backend/plugin/db/snowflake/dump.go
  backend/plugin/db/spanner/dump.go
  backend/plugin/db/sqlite/dump.go
  backend/plugin/db/starrocks/dump.go
  backend/plugin/db/tidb/dump.go
  backend/runner/schemasync/syncer.go
  backend/runner/taskrun/database_create_executor.go
  backend/runner/utils/sdl_utils.go
  backend/utils/utils.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

refactor: cleanup driver dump function stub (#13750)
  backend/plugin/advisor/utils_for_tests.go
  backend/plugin/db/bigquery/dump.go
  backend/plugin/db/clickhouse/dump.go
  backend/plugin/db/cockroachdb/dump.go
  backend/plugin/db/databricks/dump.go
  backend/plugin/db/dm/dump.go
  backend/plugin/db/driver.go
  backend/plugin/db/dynamodb/dump.go
  backend/plugin/db/elasticsearch/dump.go
  backend/plugin/db/hive/dump.go
  backend/plugin/db/mongodb/mongodb.go
  backend/plugin/db/mssql/dump.go
  backend/plugin/db/mysql/dump.go
  backend/plugin/db/obo/dump.go
  backend/plugin/db/oracle/dump.go
  backend/plugin/db/pg/dump.go
  backend/plugin/db/redis/redis.go
  backend/plugin/db/redshift/dump.go
  backend/plugin/db/risingwave/dump.go
  backend/plugin/db/snowflake/dump.go
  backend/plugin/db/spanner/dump.go
  backend/plugin/db/sqlite/dump.go
  backend/plugin/db/starrocks/dump.go
  backend/plugin/db/tidb/dump.go
  backend/runner/schemasync/syncer.go
  backend/runner/taskrun/database_create_executor.go
  backend/runner/utils/sdl_utils.go
  backend/utils/utils.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

refactor: cleanup driver dump function stub (#13750)
  backend/plugin/advisor/utils_for_tests.go
  backend/plugin/db/bigquery/dump.go
  backend/plugin/db/clickhouse/dump.go
  backend/plugin/db/cockroachdb/dump.go
  backend/plugin/db/databricks/dump.go
  backend/plugin/db/dm/dump.go
  backend/plugin/db/driver.go
  backend/plugin/db/dynamodb/dump.go
  backend/plugin/db/elasticsearch/dump.go
  backend/plugin/db/hive/dump.go
  backend/plugin/db/mongodb/mongodb.go
  backend/plugin/db/mssql/dump.go
  backend/plugin/db/mysql/dump.go
  backend/plugin/db/obo/dump.go
  backend/plugin/db/oracle/dump.go
  backend/plugin/db/pg/dump.go
  backend/plugin/db/redis/redis.go
  backend/plugin/db/redshift/dump.go
  backend/plugin/db/risingwave/dump.go
  backend/plugin/db/snowflake/dump.go
  backend/plugin/db/spanner/dump.go
  backend/plugin/db/sqlite/dump.go
  backend/plugin/db/starrocks/dump.go
  backend/plugin/db/tidb/dump.go
  backend/runner/schemasync/syncer.go
  backend/runner/taskrun/database_create_executor.go
  backend/runner/utils/sdl_utils.go
  backend/utils/utils.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
