Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev

chore: modify behavior of mask algorithm
  backend/component/masker/masker.go
  backend/component/masker/masker_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

gaussdb 0514
  backend/plugin/db/gauss/dump.go
  backend/plugin/db/gauss/gauss.go
  backend/plugin/db/gauss/role.go
  backend/plugin/db/gauss/sync.go
  backend/plugin/db/gauss/util.go
  backend/server/ultimate.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

chore: force to set issue labels
  backend/api/v1/project_service.go
  frontend/src/components/IssueV1/components/HeaderSection/Actions/create/CreateButton.vue
  frontend/src/components/IssueV1/components/IssueLabelSelector.vue
  frontend/src/components/IssueV1/components/IssueTableV1.vue
  frontend/src/components/Project/ProjectIssueLabelsSettingPanel.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/proto/store/project.ts
  frontend/src/types/proto/v1/project_service.ts
  frontend/src/views/ExportCenter/DataExportIssueDataTable/DataExportIssueDataTable.vue
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/project.pb.go
  proto/generated-go/v1/project_service.pb.go
  proto/store/project.proto
  proto/v1/project_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

fix: eslint
  frontend/src/views/ExportCenter/DataExportIssueDataTable/DataExportIssueDataTable.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: force to set issue labels (#11989)
  backend/api/v1/project_service.go
  frontend/src/components/IssueV1/components/HeaderSection/Actions/create/CreateButton.vue
  frontend/src/components/IssueV1/components/IssueLabelSelector.vue
  frontend/src/components/IssueV1/components/IssueTableV1.vue
  frontend/src/components/Project/ProjectIssueLabelsSettingPanel.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/proto/store/project.ts
  frontend/src/types/proto/v1/project_service.ts
  frontend/src/views/ExportCenter/DataExportIssueDataTable/DataExportIssueDataTable.vue
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/project.pb.go
  proto/generated-go/v1/project_service.pb.go
  proto/store/project.proto
  proto/v1/project_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: force to set issue labels (#11989)
  backend/api/v1/project_service.go
  frontend/src/components/IssueV1/components/HeaderSection/Actions/create/CreateButton.vue
  frontend/src/components/IssueV1/components/IssueLabelSelector.vue
  frontend/src/components/IssueV1/components/IssueTableV1.vue
  frontend/src/components/Project/ProjectIssueLabelsSettingPanel.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/proto/store/project.ts
  frontend/src/types/proto/v1/project_service.ts
  frontend/src/views/ExportCenter/DataExportIssueDataTable/DataExportIssueDataTable.vue
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/project.pb.go
  proto/generated-go/v1/project_service.pb.go
  proto/store/project.proto
  proto/v1/project_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: force to set issue labels (#11989)
  backend/api/v1/project_service.go
  frontend/src/components/IssueV1/components/HeaderSection/Actions/create/CreateButton.vue
  frontend/src/components/IssueV1/components/IssueLabelSelector.vue
  frontend/src/components/IssueV1/components/IssueTableV1.vue
  frontend/src/components/Project/ProjectIssueLabelsSettingPanel.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/proto/store/project.ts
  frontend/src/types/proto/v1/project_service.ts
  frontend/src/views/ExportCenter/DataExportIssueDataTable/DataExportIssueDataTable.vue
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/project.pb.go
  proto/generated-go/v1/project_service.pb.go
  proto/store/project.proto
  proto/v1/project_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

feat: add additional host/port and replicaset name in data source proto
  proto/store/data_source.proto
  proto/v1/instance_service.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

feat: substitution
  backend/api/v1/query_result_masker.go
  backend/component/masker/masker.go
  backend/component/masker/masker_test.go
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/setting.pb.go
  proto/store/setting.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @RainbowDashy

chore: update
  frontend/src/types/proto/store/setting.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: typo
  backend/plugin/advisor/mysql/advisor_table_limit_size.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: typo (#11991)
  backend/plugin/advisor/mysql/advisor_table_limit_size.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: typo (#11991)
  backend/plugin/advisor/mysql/advisor_table_limit_size.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: typo (#11991)
  backend/plugin/advisor/mysql/advisor_table_limit_size.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: unspecific risk source
  frontend/src/components/CustomApproval/Settings/components/RiskCenter/RiskCenter.vue
  frontend/src/components/CustomApproval/Settings/components/RiskCenter/RiskDialog/RiskForm.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: unspecific risk source (#11992)
  frontend/src/components/CustomApproval/Settings/components/RiskCenter/RiskCenter.vue
  frontend/src/components/CustomApproval/Settings/components/RiskCenter/RiskDialog/RiskForm.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: unspecific risk source (#11992)
  frontend/src/components/CustomApproval/Settings/components/RiskCenter/RiskCenter.vue
  frontend/src/components/CustomApproval/Settings/components/RiskCenter/RiskDialog/RiskForm.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: unspecific risk source (#11992)
  frontend/src/components/CustomApproval/Settings/components/RiskCenter/RiskCenter.vue
  frontend/src/components/CustomApproval/Settings/components/RiskCenter/RiskDialog/RiskForm.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: naming format
  backend/component/masker/masker.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: fix npe in IndexTotalNumberLimitAdvisor
  backend/plugin/advisor/mysql/advisor_index_total_number_limit.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: support mask_inner and mask_outer (#11975)
  backend/api/v1/query_result_masker.go
  backend/component/masker/masker.go
  backend/component/masker/masker_test.go
  frontend/src/types/proto/store/setting.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/setting.pb.go
  proto/store/setting.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

feat: support mask_inner and mask_outer (#11975)
  backend/api/v1/query_result_masker.go
  backend/component/masker/masker.go
  backend/component/masker/masker_test.go
  frontend/src/types/proto/store/setting.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/setting.pb.go
  proto/store/setting.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

feat: support mask_inner and mask_outer (#11975)
  backend/api/v1/query_result_masker.go
  backend/component/masker/masker.go
  backend/component/masker/masker_test.go
  frontend/src/types/proto/store/setting.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/setting.pb.go
  proto/store/setting.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

fix: fix npe in IndexTotalNumberLimitAdvisor (#11993)
  backend/plugin/advisor/mysql/advisor_index_total_number_limit.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: fix npe in IndexTotalNumberLimitAdvisor (#11993)
  backend/plugin/advisor/mysql/advisor_index_total_number_limit.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: fix npe in IndexTotalNumberLimitAdvisor (#11993)
  backend/plugin/advisor/mysql/advisor_index_total_number_limit.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: distinguish functions and procedures for sql server
  backend/plugin/db/mssql/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: distinguish functions and procedures for sql server (#11994)
  backend/plugin/db/mssql/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: distinguish functions and procedures for sql server (#11994)
  backend/plugin/db/mssql/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: distinguish functions and procedures for sql server (#11994)
  backend/plugin/db/mssql/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: remove task in plan check run related components
  frontend/src/components/IssueV1/components/Panel/IssueReviewActionPanel.vue
  frontend/src/components/IssueV1/components/Panel/TaskRolloutActionPanel.vue
  frontend/src/components/IssueV1/components/PlanCheckSection/PlanCheckBar/PlanCheckBar.vue
  frontend/src/components/IssueV1/components/PlanCheckSection/PlanCheckBar/PlanCheckModal.vue
  frontend/src/components/IssueV1/components/PlanCheckSection/PlanCheckBar/PlanCheckPanel.vue
  frontend/src/components/IssueV1/components/PlanCheckSection/PlanCheckBar/PlanCheckRunButton.vue
  frontend/src/components/IssueV1/components/PlanCheckSection/PlanCheckSection.vue
  frontend/src/components/IssueV1/logic/base.ts
  frontend/src/components/IssueV1/logic/context.ts
  frontend/src/components/IssueV1/logic/plan-check.ts
  frontend/src/components/IssueV1/logic/plan.ts
  frontend/src/components/SQLCheck/SQLCheckPanel.vue
  frontend/src/types/v1/issue/plan.ts
  frontend/src/utils/v1/issue/issue.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove task in plan check run related components (#11995)
  frontend/src/components/IssueV1/components/Panel/IssueReviewActionPanel.vue
  frontend/src/components/IssueV1/components/Panel/TaskRolloutActionPanel.vue
  frontend/src/components/IssueV1/components/PlanCheckSection/PlanCheckBar/PlanCheckBar.vue
  frontend/src/components/IssueV1/components/PlanCheckSection/PlanCheckBar/PlanCheckModal.vue
  frontend/src/components/IssueV1/components/PlanCheckSection/PlanCheckBar/PlanCheckPanel.vue
  frontend/src/components/IssueV1/components/PlanCheckSection/PlanCheckBar/PlanCheckRunButton.vue
  frontend/src/components/IssueV1/components/PlanCheckSection/PlanCheckSection.vue
  frontend/src/components/IssueV1/logic/base.ts
  frontend/src/components/IssueV1/logic/context.ts
  frontend/src/components/IssueV1/logic/plan-check.ts
  frontend/src/components/IssueV1/logic/plan.ts
  frontend/src/components/SQLCheck/SQLCheckPanel.vue
  frontend/src/types/v1/issue/plan.ts
  frontend/src/utils/v1/issue/issue.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove task in plan check run related components (#11995)
  frontend/src/components/IssueV1/components/Panel/IssueReviewActionPanel.vue
  frontend/src/components/IssueV1/components/Panel/TaskRolloutActionPanel.vue
  frontend/src/components/IssueV1/components/PlanCheckSection/PlanCheckBar/PlanCheckBar.vue
  frontend/src/components/IssueV1/components/PlanCheckSection/PlanCheckBar/PlanCheckModal.vue
  frontend/src/components/IssueV1/components/PlanCheckSection/PlanCheckBar/PlanCheckPanel.vue
  frontend/src/components/IssueV1/components/PlanCheckSection/PlanCheckBar/PlanCheckRunButton.vue
  frontend/src/components/IssueV1/components/PlanCheckSection/PlanCheckSection.vue
  frontend/src/components/IssueV1/logic/base.ts
  frontend/src/components/IssueV1/logic/context.ts
  frontend/src/components/IssueV1/logic/plan-check.ts
  frontend/src/components/IssueV1/logic/plan.ts
  frontend/src/components/SQLCheck/SQLCheckPanel.vue
  frontend/src/types/v1/issue/plan.ts
  frontend/src/utils/v1/issue/issue.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove task in plan check run related components (#11995)
  frontend/src/components/IssueV1/components/Panel/IssueReviewActionPanel.vue
  frontend/src/components/IssueV1/components/Panel/TaskRolloutActionPanel.vue
  frontend/src/components/IssueV1/components/PlanCheckSection/PlanCheckBar/PlanCheckBar.vue
  frontend/src/components/IssueV1/components/PlanCheckSection/PlanCheckBar/PlanCheckModal.vue
  frontend/src/components/IssueV1/components/PlanCheckSection/PlanCheckBar/PlanCheckPanel.vue
  frontend/src/components/IssueV1/components/PlanCheckSection/PlanCheckBar/PlanCheckRunButton.vue
  frontend/src/components/IssueV1/components/PlanCheckSection/PlanCheckSection.vue
  frontend/src/components/IssueV1/logic/base.ts
  frontend/src/components/IssueV1/logic/context.ts
  frontend/src/components/IssueV1/logic/plan-check.ts
  frontend/src/components/IssueV1/logic/plan.ts
  frontend/src/components/SQLCheck/SQLCheckPanel.vue
  frontend/src/types/v1/issue/plan.ts
  frontend/src/utils/v1/issue/issue.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: implement mssql sync schema PART II
  backend/plugin/parser/tsql/differ.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update
  proto/store/data_source.proto
  proto/v1/instance_service.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

chore: update
  proto/store/data_source.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

chore: update
  proto/store/data_source.proto
  proto/v1/instance_service.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

chore: no cancel for CreateAuditLog
  backend/api/v1/audit.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  proto/store/data_source.proto
  proto/v1/instance_service.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy
