Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

chore: extend the partition type
  backend/plugin/db/mysql/sync.go
  proto/store/database.proto
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: extend the partition type
  frontend/src/types/proto/store/database.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/database.pb.go
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: mysql sync partition type
  backend/plugin/db/mysql/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: extend the partition type (#11020)
  backend/plugin/db/mysql/sync.go
  frontend/src/types/proto/store/database.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/database.pb.go
  proto/store/database.proto
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @d-bytebase, @ecmadao, @RainbowDashy

chore: extend the partition type (#11020)
  backend/plugin/db/mysql/sync.go
  frontend/src/types/proto/store/database.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/database.pb.go
  proto/store/database.proto
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @d-bytebase, @ecmadao, @RainbowDashy

chore: extend the partition type (#11020)
  backend/plugin/db/mysql/sync.go
  frontend/src/types/proto/store/database.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/database.pb.go
  proto/store/database.proto
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @d-bytebase, @ecmadao, @RainbowDashy

feat: sync tidb partition
  backend/plugin/db/tidb/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: add i18n to no equal null rule
  backend/plugin/advisor/config/sql-review.dev.yaml
  backend/plugin/advisor/config/sql-review.prod.yaml
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sqlReview.ts
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: mysql sync partition type (#11021)
  backend/plugin/db/mysql/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: mysql sync partition type (#11021)
  backend/plugin/db/mysql/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: mysql sync partition type (#11021)
  backend/plugin/db/mysql/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(sync): sync tidb partition (#11022)
  backend/plugin/db/tidb/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(sync): sync tidb partition (#11022)
  backend/plugin/db/tidb/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(sync): sync tidb partition (#11022)
  backend/plugin/db/tidb/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: add i18n to no equal null rule (#11023)
  backend/plugin/advisor/config/sql-review.dev.yaml
  backend/plugin/advisor/config/sql-review.prod.yaml
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sqlReview.ts
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: add i18n to no equal null rule (#11023)
  backend/plugin/advisor/config/sql-review.dev.yaml
  backend/plugin/advisor/config/sql-review.prod.yaml
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sqlReview.ts
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: add i18n to no equal null rule (#11023)
  backend/plugin/advisor/config/sql-review.dev.yaml
  backend/plugin/advisor/config/sql-review.prod.yaml
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sqlReview.ts
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: re-invent sqlEditorTab store
  frontend/src/store/modules/index.ts
  frontend/src/store/modules/sqlEditorTab.ts
  frontend/src/store/modules/tab.ts
  frontend/src/store/modules/v1/webTerminal.ts
  frontend/src/types/index.ts
  frontend/src/types/sqlEditorTab.ts
  frontend/src/utils/index.ts
  frontend/src/utils/sqlEditorTab.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: finish sqlEditorTab store by project
  frontend/src/store/modules/sqlEditorTab.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: change MaxBinlogSizeLimit from 8M to 32M
  backend/common/util.go
  backend/plugin/db/mysql/rollback.go
  backend/runner/rollbackrun/runner.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: change MaxBinlogSizeLimit from 8M to 32M (#11025)
  backend/common/util.go
  backend/plugin/db/mysql/rollback.go
  backend/runner/rollbackrun/runner.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: change MaxBinlogSizeLimit from 8M to 32M (#11025)
  backend/common/util.go
  backend/plugin/db/mysql/rollback.go
  backend/runner/rollbackrun/runner.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: change MaxBinlogSizeLimit from 8M to 32M (#11025)
  backend/common/util.go
  backend/plugin/db/mysql/rollback.go
  backend/runner/rollbackrun/runner.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: change MaxBinlogSizeLimit from 8M to 32M
  backend/common/util.go
  backend/plugin/db/mysql/rollback.go
  backend/runner/rollbackrun/runner.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

fix: cast num_rows type NUMBER to INTEGER
  backend/plugin/db/dm/sync.go
  backend/plugin/db/obo/dump.go
  backend/plugin/db/obo/sync.go
  backend/plugin/db/oracle/dump.go
  backend/plugin/db/oracle/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: get classification from comment
  backend/common/db_schema.go
  backend/common/db_schema_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: cast num_rows type NUMBER to INTEGER (#11027)
  backend/plugin/db/dm/sync.go
  backend/plugin/db/obo/dump.go
  backend/plugin/db/obo/sync.go
  backend/plugin/db/oracle/dump.go
  backend/plugin/db/oracle/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: cast num_rows type NUMBER to INTEGER (#11027)
  backend/plugin/db/dm/sync.go
  backend/plugin/db/obo/dump.go
  backend/plugin/db/obo/sync.go
  backend/plugin/db/oracle/dump.go
  backend/plugin/db/oracle/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: cast num_rows type NUMBER to INTEGER (#11027)
  backend/plugin/db/dm/sync.go
  backend/plugin/db/obo/dump.go
  backend/plugin/db/obo/sync.go
  backend/plugin/db/oracle/dump.go
  backend/plugin/db/oracle/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: cast num_rows type NUMBER to INTEGER
  backend/plugin/db/dm/sync.go
  backend/plugin/db/obo/dump.go
  backend/plugin/db/obo/sync.go
  backend/plugin/db/oracle/dump.go
  backend/plugin/db/oracle/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update
  backend/common/db_schema.go
  backend/common/db_schema_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: get classification from comment (#11029)
  backend/common/db_schema.go
  backend/common/db_schema_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: get classification from comment (#11029)
  backend/common/db_schema.go
  backend/common/db_schema_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: get classification from comment (#11029)
  backend/common/db_schema.go
  backend/common/db_schema_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: get classification from comment
  backend/common/db_schema.go
  backend/common/db_schema_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  backend/common/db_schema.go
  backend/common/db_schema_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

snowflake open with priv key
  backend/plugin/db/snowflake/snowflake.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

update mask
  backend/api/v1/instance_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix dsn
  backend/plugin/db/snowflake/snowflake.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

impl fe
  frontend/src/components/InstanceForm/DataSourceSection/DataSourceForm.vue
  frontend/src/components/InstanceForm/InstanceForm.vue
  frontend/src/components/InstanceForm/common.ts
  frontend/src/types/dataSource.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
