Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

fix: use build tree options correctly
  frontend/src/components/SchemaEditorLite/Aside/Tree.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: use build tree options correctly (#10231)
  frontend/src/components/SchemaEditorLite/Aside/Tree.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: use build tree options correctly (#10231)
  frontend/src/components/SchemaEditorLite/Aside/Tree.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: use build tree options correctly (#10231)
  frontend/src/components/SchemaEditorLite/Aside/Tree.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

refactor: split files
  backend/plugin/schema/tidb/get_design_schema.go
  backend/plugin/schema/tidb/structurer.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

refactor: split files (#10233)
  backend/plugin/schema/tidb/get_design_schema.go
  backend/plugin/schema/tidb/structurer.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

refactor: split files (#10233)
  backend/plugin/schema/tidb/get_design_schema.go
  backend/plugin/schema/tidb/structurer.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

refactor: split files (#10233)
  backend/plugin/schema/tidb/get_design_schema.go
  backend/plugin/schema/tidb/structurer.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

impl return unlicensed features
  backend/api/v1/actuator_service.go
  backend/legacyapi/plan.go
  backend/server/grpc_routes.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: split files
  backend/plugin/schema/mysql/get_design_schema_test.go
  backend/plugin/schema/mysql/parse_to_metadata_test.go
  backend/plugin/schema/pg/common.go
  backend/plugin/schema/pg/get_design_schema.go
  backend/plugin/schema/pg/get_design_schema_test.go
  backend/plugin/schema/pg/parse_to_metadata.go
  backend/plugin/schema/pg/parse_to_metadata_test.go
  backend/plugin/schema/tidb/get_design_schema_test.go
  backend/plugin/schema/tidb/parse_to_metadata.go
  backend/plugin/schema/tidb/parse_to_metadata_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: split files (#10234)
  backend/plugin/schema/mysql/get_design_schema_test.go
  backend/plugin/schema/mysql/parse_to_metadata_test.go
  backend/plugin/schema/pg/common.go
  backend/plugin/schema/pg/get_design_schema.go
  backend/plugin/schema/pg/get_design_schema_test.go
  backend/plugin/schema/pg/parse_to_metadata.go
  backend/plugin/schema/pg/parse_to_metadata_test.go
  backend/plugin/schema/tidb/get_design_schema_test.go
  backend/plugin/schema/tidb/parse_to_metadata.go
  backend/plugin/schema/tidb/parse_to_metadata_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: split files (#10234)
  backend/plugin/schema/mysql/get_design_schema_test.go
  backend/plugin/schema/mysql/parse_to_metadata_test.go
  backend/plugin/schema/pg/common.go
  backend/plugin/schema/pg/get_design_schema.go
  backend/plugin/schema/pg/get_design_schema_test.go
  backend/plugin/schema/pg/parse_to_metadata.go
  backend/plugin/schema/pg/parse_to_metadata_test.go
  backend/plugin/schema/tidb/get_design_schema_test.go
  backend/plugin/schema/tidb/parse_to_metadata.go
  backend/plugin/schema/tidb/parse_to_metadata_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: split files (#10234)
  backend/plugin/schema/mysql/get_design_schema_test.go
  backend/plugin/schema/mysql/parse_to_metadata_test.go
  backend/plugin/schema/pg/common.go
  backend/plugin/schema/pg/get_design_schema.go
  backend/plugin/schema/pg/get_design_schema_test.go
  backend/plugin/schema/pg/parse_to_metadata.go
  backend/plugin/schema/pg/parse_to_metadata_test.go
  backend/plugin/schema/tidb/get_design_schema_test.go
  backend/plugin/schema/tidb/parse_to_metadata.go
  backend/plugin/schema/tidb/parse_to_metadata_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: actuator service return features (#10235)
  backend/api/v1/actuator_service.go
  backend/legacyapi/plan.go
  backend/server/grpc_routes.go
  frontend/src/types/proto/v1/actuator_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/actuator_service.pb.go
  proto/v1/actuator_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

feat: actuator service return features (#10235)
  backend/api/v1/actuator_service.go
  backend/legacyapi/plan.go
  backend/server/grpc_routes.go
  frontend/src/types/proto/v1/actuator_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/actuator_service.pb.go
  proto/v1/actuator_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

feat: actuator service return features (#10235)
  backend/api/v1/actuator_service.go
  backend/legacyapi/plan.go
  backend/server/grpc_routes.go
  frontend/src/types/proto/v1/actuator_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/actuator_service.pb.go
  proto/v1/actuator_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: update upgrade subscription banner
  frontend/src/views/BannerUpgradeSubscription.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/views/BannerUpgradeSubscription.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update upgrade subscription banner (#10236)
  frontend/src/views/BannerUpgradeSubscription.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update upgrade subscription banner (#10236)
  frontend/src/views/BannerUpgradeSubscription.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update upgrade subscription banner (#10236)
  frontend/src/views/BannerUpgradeSubscription.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: validate role resource id
  backend/api/v1/resource_id.go
  backend/api/v1/role_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

add unit test
  backend/api/v1/resource_id_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: validate role resource id (#10237)
  backend/api/v1/resource_id.go
  backend/api/v1/resource_id_test.go
  backend/api/v1/role_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: validate role resource id (#10237)
  backend/api/v1/resource_id.go
  backend/api/v1/resource_id_test.go
  backend/api/v1/role_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: validate role resource id (#10237)
  backend/api/v1/resource_id.go
  backend/api/v1/resource_id_test.go
  backend/api/v1/role_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: download raw file if not provide the password
  backend/api/v1/sql_service.go
  frontend/src/components/DataExportButton.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/ExportCenter/ExportDataButton.vue
  frontend/src/views/SettingWorkspaceAuditLog.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/SingleResultViewV1.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

fix: eslint
  frontend/src/components/DataExportButton.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: implement tidb strings manipulator PART I
  backend/plugin/parser/tidb/strings.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: update test
  backend/tests/sql_export_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: text overflow
  frontend/src/components/EllipsisText.vue
  frontend/src/components/IssueV1/components/IssueTableV1.vue
  frontend/src/utils/util.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: use scrollable style
  frontend/src/components/IssueV1/components/IssueTableV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: test
  backend/tests/sql_export_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: test
  backend/tests/sql_export_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore(frontend): fix issue table text overflow (#10239)
  frontend/src/components/EllipsisText.vue
  frontend/src/components/IssueV1/components/IssueTableV1.vue
  frontend/src/utils/util.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(frontend): fix issue table text overflow (#10239)
  frontend/src/components/EllipsisText.vue
  frontend/src/components/IssueV1/components/IssueTableV1.vue
  frontend/src/utils/util.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(frontend): fix issue table text overflow (#10239)
  frontend/src/components/EllipsisText.vue
  frontend/src/components/IssueV1/components/IssueTableV1.vue
  frontend/src/utils/util.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: download raw file if not provide the password (#10238)
  backend/api/v1/sql_service.go
  backend/tests/sql_export_test.go
  frontend/src/components/DataExportButton.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/ExportCenter/ExportDataButton.vue
  frontend/src/views/SettingWorkspaceAuditLog.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/SingleResultViewV1.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: download raw file if not provide the password (#10238)
  backend/api/v1/sql_service.go
  backend/tests/sql_export_test.go
  frontend/src/components/DataExportButton.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/ExportCenter/ExportDataButton.vue
  frontend/src/views/SettingWorkspaceAuditLog.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/SingleResultViewV1.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: download raw file if not provide the password (#10238)
  backend/api/v1/sql_service.go
  backend/tests/sql_export_test.go
  frontend/src/components/DataExportButton.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/ExportCenter/ExportDataButton.vue
  frontend/src/views/SettingWorkspaceAuditLog.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/SingleResultViewV1.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
