Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

chore: check ddl/dml policy (#14034)
  frontend/src/components/EnvironmentForm/AccessControlConfigure.vue
  frontend/src/composables/useExecuteSQL.ts
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

refactor: execute migration
  backend/migrator/migrator.go
  backend/plugin/db/driver.go
  backend/runner/taskrun/database_create_executor.go
  backend/runner/taskrun/executor.go
  backend/runner/taskrun/schema_update_ghost_cutover_executor.go
  backend/utils/utils.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: tooltips when not configured
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/sql-editor/EditorCommon/OpenAIButton/OpenAIButton.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat(restore): implement MSSQL one-click restore
  backend/plugin/parser/tokenizer/tokenizer.go
  backend/plugin/parser/tsql/restore.go
  backend/plugin/parser/tsql/restore_test.go
  backend/plugin/parser/tsql/test-data/test_restore.yaml
  backend/plugin/parser/tsql/tsql.go
  frontend/src/components/IssueV1/components/Sidebar/PreBackupSection/common.ts
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: size
  frontend/src/plugins/ai/components/ChatView/AIMessageView.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat(restore): implement MSSQL one-click restore (#14037)
  backend/plugin/parser/tokenizer/tokenizer.go
  backend/plugin/parser/tsql/restore.go
  backend/plugin/parser/tsql/restore_test.go
  backend/plugin/parser/tsql/test-data/test_restore.yaml
  backend/plugin/parser/tsql/tsql.go
  frontend/src/components/IssueV1/components/Sidebar/PreBackupSection/common.ts
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

feat(restore): implement MSSQL one-click restore (#14037)
  backend/plugin/parser/tokenizer/tokenizer.go
  backend/plugin/parser/tsql/restore.go
  backend/plugin/parser/tsql/restore_test.go
  backend/plugin/parser/tsql/test-data/test_restore.yaml
  backend/plugin/parser/tsql/tsql.go
  frontend/src/components/IssueV1/components/Sidebar/PreBackupSection/common.ts
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

feat(restore): implement MSSQL one-click restore (#14037)
  backend/plugin/parser/tokenizer/tokenizer.go
  backend/plugin/parser/tsql/restore.go
  backend/plugin/parser/tsql/restore_test.go
  backend/plugin/parser/tsql/test-data/test_restore.yaml
  backend/plugin/parser/tsql/tsql.go
  frontend/src/components/IssueV1/components/Sidebar/PreBackupSection/common.ts
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

fix lint
  backend/migrator/migrator.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: add release file detail panel
  frontend/src/components/Release/ReleaseDetail/MigrationFileTable/index.ts
  frontend/src/components/Release/ReleaseDetail/ReleaseDetail.vue
  frontend/src/components/Release/ReleaseDetail/ReleaseFileTable/ReleaseFileDetailPanel.vue
  frontend/src/components/Release/ReleaseDetail/ReleaseFileTable/ReleaseFileTable.vue
  frontend/src/components/Release/ReleaseDetail/ReleaseFileTable/index.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

refactor: execute migration (#14038)
  backend/migrator/migrator.go
  backend/plugin/db/driver.go
  backend/runner/taskrun/database_create_executor.go
  backend/runner/taskrun/executor.go
  backend/runner/taskrun/schema_update_ghost_cutover_executor.go
  backend/utils/utils.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

refactor: execute migration (#14038)
  backend/migrator/migrator.go
  backend/plugin/db/driver.go
  backend/runner/taskrun/database_create_executor.go
  backend/runner/taskrun/executor.go
  backend/runner/taskrun/schema_update_ghost_cutover_executor.go
  backend/utils/utils.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

refactor: execute migration (#14038)
  backend/migrator/migrator.go
  backend/plugin/db/driver.go
  backend/runner/taskrun/database_create_executor.go
  backend/runner/taskrun/executor.go
  backend/runner/taskrun/schema_update_ghost_cutover_executor.go
  backend/utils/utils.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

feat(restore): implement MSSQL one-click restore (#14037)
  backend/plugin/parser/tokenizer/tokenizer.go
  backend/plugin/parser/tsql/restore.go
  backend/plugin/parser/tsql/restore_test.go
  backend/plugin/parser/tsql/test-data/test_restore.yaml
  backend/plugin/parser/tsql/tsql.go
  frontend/src/components/IssueV1/components/Sidebar/PreBackupSection/common.ts
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: code block layout BYT-6468
  frontend/src/plugins/ai/components/ChatView/Markdown/CodeBlock.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: explain code applies to selected content for views, functions and procedures BYT-6469
  frontend/src/views/sql-editor/EditorPanel/Panels/ViewsPanel/DefinitionViewer.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ViewsPanel/ViewDetail.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/common/CodeViewer.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: AI message now spreads the whole horizontal space BYT-6470
  frontend/src/plugins/ai/components/ChatView/AIMessageView.vue
  frontend/src/plugins/ai/components/ChatView/Markdown/CodeBlock.vue
  frontend/src/plugins/ai/components/ChatView/Markdown/Markdown.vue
  frontend/src/plugins/ai/components/ChatView/UserMessageView.vue
  frontend/src/plugins/ai/components/HistoryPanel/HistoryPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: refresh suggestion prompts one by one BYT-6471
  frontend/src/plugins/ai/components/ChatPanel.vue
  frontend/src/plugins/ai/components/DynamicSuggestions.vue
  frontend/src/plugins/ai/logic/useDynamicSuggestions.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: remember AI panel size BYT-6472
  frontend/src/views/sql-editor/EditorPanel/Panels/ViewsPanel/DefinitionViewer.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/common/CodeViewer.vue
  frontend/src/views/sql-editor/EditorPanel/StandardPanel/StandardPanel.vue
  frontend/src/views/sql-editor/context.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: re-organize actions BYT-6473
  frontend/src/plugins/ai/components/ActionBar.vue
  frontend/src/plugins/ai/components/editor-actions.ts
  frontend/src/views/sql-editor/EditorCommon/OpenAIButton/OpenAIButton.vue
  frontend/src/views/sql-editor/EditorPanel/StandardPanel/SQLEditor.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: tweak prompt input box BYT-6474
  frontend/src/plugins/ai/components/PromptInput.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add release file detail panel (#14039)
  frontend/src/components/Release/ReleaseDetail/MigrationFileTable/index.ts
  frontend/src/components/Release/ReleaseDetail/ReleaseDetail.vue
  frontend/src/components/Release/ReleaseDetail/ReleaseFileTable/ReleaseFileDetailPanel.vue
  frontend/src/components/Release/ReleaseDetail/ReleaseFileTable/ReleaseFileTable.vue
  frontend/src/components/Release/ReleaseDetail/ReleaseFileTable/index.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add release file detail panel (#14039)
  frontend/src/components/Release/ReleaseDetail/MigrationFileTable/index.ts
  frontend/src/components/Release/ReleaseDetail/ReleaseDetail.vue
  frontend/src/components/Release/ReleaseDetail/ReleaseFileTable/ReleaseFileDetailPanel.vue
  frontend/src/components/Release/ReleaseDetail/ReleaseFileTable/ReleaseFileTable.vue
  frontend/src/components/Release/ReleaseDetail/ReleaseFileTable/index.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add release file detail panel (#14039)
  frontend/src/components/Release/ReleaseDetail/MigrationFileTable/index.ts
  frontend/src/components/Release/ReleaseDetail/ReleaseDetail.vue
  frontend/src/components/Release/ReleaseDetail/ReleaseFileTable/ReleaseFileDetailPanel.vue
  frontend/src/components/Release/ReleaseDetail/ReleaseFileTable/ReleaseFileTable.vue
  frontend/src/components/Release/ReleaseDetail/ReleaseFileTable/index.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: pressing enter with empty content
  frontend/src/plugins/ai/components/PromptInput.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: default chat content of "New chat using selection" BYT-6475
  frontend/src/plugins/ai/logic/prompt.ts
  frontend/src/views/sql-editor/EditorPanel/StandardPanel/SQLEditor.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: avoid creating existed schema
  backend/api/v1/branch_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: fix test
  backend/api/v1/branch_service_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix(query-span): fix nil ctx
  backend/plugin/parser/tsql/query_span_extractor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update
  backend/migrator/migration/dev/20240924000000##release.sql
  backend/migrator/migration/dev/20240924000001##revision.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: avoid creating existed schema (#14042)
  backend/api/v1/branch_service.go
  backend/api/v1/branch_service_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: avoid creating existed schema (#14042)
  backend/api/v1/branch_service.go
  backend/api/v1/branch_service_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: avoid creating existed schema (#14042)
  backend/api/v1/branch_service.go
  backend/api/v1/branch_service_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update (#14044)
  backend/migrator/migration/dev/20240924000000##release.sql
  backend/migrator/migration/dev/20240924000001##revision.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update (#14044)
  backend/migrator/migration/dev/20240924000000##release.sql
  backend/migrator/migration/dev/20240924000001##revision.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update (#14044)
  backend/migrator/migration/dev/20240924000000##release.sql
  backend/migrator/migration/dev/20240924000001##revision.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix(query-span): fix nil ctx (#14043)
  backend/plugin/parser/tsql/query_span_extractor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix(query-span): fix nil ctx (#14043)
  backend/plugin/parser/tsql/query_span_extractor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix(query-span): fix nil ctx (#14043)
  backend/plugin/parser/tsql/query_span_extractor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update (#14044)
  backend/migrator/migration/dev/20240924000000##release.sql
  backend/migrator/migration/dev/20240924000001##revision.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
