Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev

chore: revert
  frontend/src/views/DashboardSidebar.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: review issue
  frontend/src/components/AlterSchemaPrepForm/SchemaEditorModal.vue
  frontend/src/components/Plan/components/HeaderSection/Actions/Actions.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: project sidebar
  frontend/src/components/Project/Settings/ProjectSecuritySettingPanel.vue
  frontend/src/components/Project/useProjectSidebar.ts
  frontend/src/components/ProjectSettingPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: panel
  frontend/src/views/sql-editor/ConnectionPanel/ConnectionPane/TreeNode/DatabaseNode.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/RequestQueryButton.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: create issue in new window
  frontend/src/components/Issue/panel/RequestQueryPanel/index.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/RequestQueryButton.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

refactor: uniform trim right space
  backend/api/v1/branch_service.go
  backend/plugin/db/mssql/query.go
  backend/plugin/db/oracle/query.go
  backend/plugin/db/spanner/spanner.go
  backend/plugin/db/util/driverutil.go
  backend/plugin/parser/bigquery/bigquery.go
  backend/plugin/parser/mysql/fingerprint.go
  backend/plugin/parser/partiql/partiql.go
  backend/plugin/parser/plsql/split.go
  backend/plugin/parser/snowflake/snowflake.go
  backend/plugin/parser/standard/split.go
  backend/plugin/parser/tidb/resource_change.go
  backend/plugin/parser/tsql/resource_change.go
  backend/plugin/parser/tsql/tsql.go
  backend/utils/utils.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

feat: implement skip backup error
  backend/runner/taskrun/data_update_executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: return internal error code for request query shortpath (#13702)
  backend/api/v1/sql_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: return internal error code for request query shortpath (#13702)
  backend/api/v1/sql_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: return internal error code for request query shortpath (#13702)
  backend/api/v1/sql_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: allow omit semicolon for the last statement in diagnose (#13701)
  backend/plugin/parser/mysql/diagnose.go
  backend/plugin/parser/pg/diagnose.go
  backend/plugin/parser/plsql/diagnose.go
  backend/plugin/parser/snowflake/diagnose.go
  backend/plugin/parser/tsql/diagnose.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: allow omit semicolon for the last statement in diagnose (#13701)
  backend/plugin/parser/mysql/diagnose.go
  backend/plugin/parser/pg/diagnose.go
  backend/plugin/parser/plsql/diagnose.go
  backend/plugin/parser/snowflake/diagnose.go
  backend/plugin/parser/tsql/diagnose.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: allow omit semicolon for the last statement in diagnose (#13701)
  backend/plugin/parser/mysql/diagnose.go
  backend/plugin/parser/pg/diagnose.go
  backend/plugin/parser/plsql/diagnose.go
  backend/plugin/parser/snowflake/diagnose.go
  backend/plugin/parser/tsql/diagnose.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update
  backend/plugin/db/mssql/query.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: restructure workspace sidebar
  frontend/src/components/ColumnDataTable/MaskingLevelCell.vue
  frontend/src/components/User/Settings/RemoveGroupButton.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/dashboard/workspace.ts
  frontend/src/router/dashboard/workspaceRoutes.ts
  frontend/src/views/DashboardSidebar.vue
  frontend/src/views/SettingWorkspaceDataAccessControl.vue
  frontend/src/views/SettingWorkspaceDataClassification.vue
  frontend/src/views/SettingWorkspaceDataMasking.vue
  frontend/src/views/sql-editor/EditorCommon/DataTable/SensitiveDataIcon.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/SensitiveDataIcon.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

refactor: uniform trim right space (#13704)
  backend/api/v1/branch_service.go
  backend/plugin/db/mssql/query.go
  backend/plugin/db/oracle/query.go
  backend/plugin/db/spanner/spanner.go
  backend/plugin/db/util/driverutil.go
  backend/plugin/parser/bigquery/bigquery.go
  backend/plugin/parser/mysql/fingerprint.go
  backend/plugin/parser/partiql/partiql.go
  backend/plugin/parser/plsql/split.go
  backend/plugin/parser/snowflake/snowflake.go
  backend/plugin/parser/standard/split.go
  backend/plugin/parser/tidb/resource_change.go
  backend/plugin/parser/tsql/resource_change.go
  backend/plugin/parser/tsql/tsql.go
  backend/utils/utils.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

refactor: uniform trim right space (#13704)
  backend/api/v1/branch_service.go
  backend/plugin/db/mssql/query.go
  backend/plugin/db/oracle/query.go
  backend/plugin/db/spanner/spanner.go
  backend/plugin/db/util/driverutil.go
  backend/plugin/parser/bigquery/bigquery.go
  backend/plugin/parser/mysql/fingerprint.go
  backend/plugin/parser/partiql/partiql.go
  backend/plugin/parser/plsql/split.go
  backend/plugin/parser/snowflake/snowflake.go
  backend/plugin/parser/standard/split.go
  backend/plugin/parser/tidb/resource_change.go
  backend/plugin/parser/tsql/resource_change.go
  backend/plugin/parser/tsql/tsql.go
  backend/utils/utils.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

refactor: uniform trim right space (#13704)
  backend/api/v1/branch_service.go
  backend/plugin/db/mssql/query.go
  backend/plugin/db/oracle/query.go
  backend/plugin/db/spanner/spanner.go
  backend/plugin/db/util/driverutil.go
  backend/plugin/parser/bigquery/bigquery.go
  backend/plugin/parser/mysql/fingerprint.go
  backend/plugin/parser/partiql/partiql.go
  backend/plugin/parser/plsql/split.go
  backend/plugin/parser/snowflake/snowflake.go
  backend/plugin/parser/standard/split.go
  backend/plugin/parser/tidb/resource_change.go
  backend/plugin/parser/tsql/resource_change.go
  backend/plugin/parser/tsql/tsql.go
  backend/utils/utils.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: npe check
  backend/runner/taskrun/data_update_executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: fix linter errors
  backend/runner/taskrun/data_update_executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: restructure workspace sidebar (#13706)
  frontend/src/components/ColumnDataTable/MaskingLevelCell.vue
  frontend/src/components/User/Settings/RemoveGroupButton.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/dashboard/workspace.ts
  frontend/src/router/dashboard/workspaceRoutes.ts
  frontend/src/views/DashboardSidebar.vue
  frontend/src/views/SettingWorkspaceDataAccessControl.vue
  frontend/src/views/SettingWorkspaceDataClassification.vue
  frontend/src/views/SettingWorkspaceDataMasking.vue
  frontend/src/views/sql-editor/EditorCommon/DataTable/SensitiveDataIcon.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/SensitiveDataIcon.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: restructure workspace sidebar (#13706)
  frontend/src/components/ColumnDataTable/MaskingLevelCell.vue
  frontend/src/components/User/Settings/RemoveGroupButton.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/dashboard/workspace.ts
  frontend/src/router/dashboard/workspaceRoutes.ts
  frontend/src/views/DashboardSidebar.vue
  frontend/src/views/SettingWorkspaceDataAccessControl.vue
  frontend/src/views/SettingWorkspaceDataClassification.vue
  frontend/src/views/SettingWorkspaceDataMasking.vue
  frontend/src/views/sql-editor/EditorCommon/DataTable/SensitiveDataIcon.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/SensitiveDataIcon.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: restructure workspace sidebar (#13706)
  frontend/src/components/ColumnDataTable/MaskingLevelCell.vue
  frontend/src/components/User/Settings/RemoveGroupButton.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/dashboard/workspace.ts
  frontend/src/router/dashboard/workspaceRoutes.ts
  frontend/src/views/DashboardSidebar.vue
  frontend/src/views/SettingWorkspaceDataAccessControl.vue
  frontend/src/views/SettingWorkspaceDataClassification.vue
  frontend/src/views/SettingWorkspaceDataMasking.vue
  frontend/src/views/sql-editor/EditorCommon/DataTable/SensitiveDataIcon.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/SensitiveDataIcon.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: implement skip backup error (#13703)
  backend/runner/taskrun/data_update_executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: implement skip backup error (#13703)
  backend/runner/taskrun/data_update_executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: implement skip backup error (#13703)
  backend/runner/taskrun/data_update_executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: oracle parser compatibility
  backend/plugin/parser/plsql/plsql_test.go
  go.mod
  go.sum
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

chore: show fk name in editor
  frontend/src/components/SchemaEditorLite/Modals/EditColumnForeignKeyModal.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: oracle parser compatibility (#13707)
  backend/plugin/parser/plsql/plsql_test.go
  go.mod
  go.sum
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

chore: oracle parser compatibility (#13707)
  backend/plugin/parser/plsql/plsql_test.go
  go.mod
  go.sum
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

chore: oracle parser compatibility (#13707)
  backend/plugin/parser/plsql/plsql_test.go
  go.mod
  go.sum
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

chore: allow to edit the name of foreign keys in schema editor (#13708)
  frontend/src/components/SchemaEditorLite/Modals/EditColumnForeignKeyModal.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: allow to edit the name of foreign keys in schema editor (#13708)
  frontend/src/components/SchemaEditorLite/Modals/EditColumnForeignKeyModal.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: allow to edit the name of foreign keys in schema editor (#13708)
  frontend/src/components/SchemaEditorLite/Modals/EditColumnForeignKeyModal.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: sql editor sidebar logo and profile logo
  frontend/src/views/sql-editor/AsidePanel/AsidePanel.vue
  frontend/src/views/sql-editor/AsidePanel/GutterBar/GutterBar.vue
  frontend/src/views/sql-editor/TabList/BrandingLogoWrapper.vue
  frontend/src/views/sql-editor/TabList/TabList.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: hide certain navigations
  frontend/src/views/DashboardSidebar.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: projects, environments
  frontend/src/components/EnvironmentForm/Form.vue
  frontend/src/views/EnvironmentDetail.vue
  frontend/src/views/sql-editor/Setting/Environment/Environment.vue
  frontend/src/views/sql-editor/Setting/Sidebar/common.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: general setting
  frontend/src/components/GeneralSetting/DatabaseChangeModeSetting.vue
  frontend/src/components/GeneralSetting/NetworkSetting.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/SettingWorkspaceGeneral.vue
  frontend/src/views/sql-editor/Setting/General/General.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: lint
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseV1Table.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: detail link
  frontend/src/views/sql-editor/Setting/Project/Project.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev
