Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev

chore: add dummy advisor for mix ddl/dml (#11075)
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/pg/advisor_statement_disallow_mix_ddl_dml.go
  backend/plugin/advisor/pg/advisor_statement_disallow_mix_dml.go
  backend/plugin/advisor/tidb/advisor_statement_disallow_mix_ddl_dml.go
  backend/plugin/advisor/tidb/advisor_statement_disallow_mix_dml.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: add dummy advisor for mix ddl/dml (#11075)
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/pg/advisor_statement_disallow_mix_ddl_dml.go
  backend/plugin/advisor/pg/advisor_statement_disallow_mix_dml.go
  backend/plugin/advisor/tidb/advisor_statement_disallow_mix_ddl_dml.go
  backend/plugin/advisor/tidb/advisor_statement_disallow_mix_dml.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: add dummy advisor for mix ddl/dml (#11075)
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/pg/advisor_statement_disallow_mix_ddl_dml.go
  backend/plugin/advisor/pg/advisor_statement_disallow_mix_dml.go
  backend/plugin/advisor/tidb/advisor_statement_disallow_mix_ddl_dml.go
  backend/plugin/advisor/tidb/advisor_statement_disallow_mix_dml.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: refactor
  frontend/src/components/ProjectMember/ProjectMemberTable/RoleDescription.vue
  frontend/src/components/ProvideSQLEditorContext.vue
  frontend/src/components/v2/Select/ProjectSelect.vue
  frontend/src/store/modules/sqlEditor/tab.ts
  frontend/src/utils/sqlEditor.ts
  frontend/src/views/sql-editor/AsidePanel/AsidePanel.vue
  frontend/src/views/sql-editor/EditorCommon/ConnectionPathBar.vue
  frontend/src/views/sql-editor/SecondarySidebar/SheetTabPane/SheetList/SheetList.vue
  frontend/src/views/sql-editor/Sheet/context.ts
  frontend/src/views/sql-editor/SheetPanel/SheetPanel.vue
  frontend/src/views/sql-editor/TabList/TabItem/Label.vue
  frontend/src/views/sql-editor/context.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: hide "All projects"
  frontend/src/views/sql-editor/AsidePanel/AsidePanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: switch project anyway
  frontend/src/views/sql-editor/context.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: optimize sql review
  frontend/src/bbkit/BBTextField.vue
  frontend/src/components/IssueV1/components/PlanCheckSection/PlanCheckBar/PlanCheckDetail.vue
  frontend/src/components/SQLReview/SQLReviewCreation.vue
  frontend/src/components/SQLReview/components/SQLReviewCategoryTabFilter.vue
  frontend/src/components/SQLReview/components/utils.ts
  frontend/src/router/dashboard/workspaceSetting.ts
  frontend/src/store/modules/sqlReview.ts
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sqlReview.ts
  frontend/src/views/SettingWorkspaceSQLReviewDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: optimize sql review (#11076)
  frontend/src/bbkit/BBTextField.vue
  frontend/src/components/IssueV1/components/PlanCheckSection/PlanCheckBar/PlanCheckDetail.vue
  frontend/src/components/SQLReview/SQLReviewCreation.vue
  frontend/src/components/SQLReview/components/SQLReviewCategoryTabFilter.vue
  frontend/src/components/SQLReview/components/utils.ts
  frontend/src/router/dashboard/workspaceSetting.ts
  frontend/src/store/modules/sqlReview.ts
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sqlReview.ts
  frontend/src/views/SettingWorkspaceSQLReviewDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: optimize sql review (#11076)
  frontend/src/bbkit/BBTextField.vue
  frontend/src/components/IssueV1/components/PlanCheckSection/PlanCheckBar/PlanCheckDetail.vue
  frontend/src/components/SQLReview/SQLReviewCreation.vue
  frontend/src/components/SQLReview/components/SQLReviewCategoryTabFilter.vue
  frontend/src/components/SQLReview/components/utils.ts
  frontend/src/router/dashboard/workspaceSetting.ts
  frontend/src/store/modules/sqlReview.ts
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sqlReview.ts
  frontend/src/views/SettingWorkspaceSQLReviewDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: optimize sql review (#11076)
  frontend/src/bbkit/BBTextField.vue
  frontend/src/components/IssueV1/components/PlanCheckSection/PlanCheckBar/PlanCheckDetail.vue
  frontend/src/components/SQLReview/SQLReviewCreation.vue
  frontend/src/components/SQLReview/components/SQLReviewCategoryTabFilter.vue
  frontend/src/components/SQLReview/components/utils.ts
  frontend/src/router/dashboard/workspaceSetting.ts
  frontend/src/store/modules/sqlReview.ts
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sqlReview.ts
  frontend/src/views/SettingWorkspaceSQLReviewDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: implement maximum limit value rule
  backend/plugin/advisor/code.go
  backend/plugin/advisor/mysql/advisor_statement_maximum_limit_value.go
  backend/plugin/advisor/mysql/mysql_rules_test.go
  backend/plugin/advisor/mysql/test/statement_maximum_limit_value.yaml
  backend/plugin/advisor/utils_for_tests.go
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: handle 403
  frontend/src/components/ProvideSQLEditorContext.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: implement maximum limit value rule (#11077)
  backend/plugin/advisor/code.go
  backend/plugin/advisor/mysql/advisor_statement_maximum_limit_value.go
  backend/plugin/advisor/mysql/mysql_rules_test.go
  backend/plugin/advisor/mysql/test/statement_maximum_limit_value.yaml
  backend/plugin/advisor/utils_for_tests.go
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: implement maximum limit value rule (#11077)
  backend/plugin/advisor/code.go
  backend/plugin/advisor/mysql/advisor_statement_maximum_limit_value.go
  backend/plugin/advisor/mysql/mysql_rules_test.go
  backend/plugin/advisor/mysql/test/statement_maximum_limit_value.yaml
  backend/plugin/advisor/utils_for_tests.go
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: implement maximum limit value rule (#11077)
  backend/plugin/advisor/code.go
  backend/plugin/advisor/mysql/advisor_statement_maximum_limit_value.go
  backend/plugin/advisor/mysql/mysql_rules_test.go
  backend/plugin/advisor/mysql/test/statement_maximum_limit_value.yaml
  backend/plugin/advisor/utils_for_tests.go
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: implement maximum join table count rule
  backend/plugin/advisor/code.go
  backend/plugin/advisor/mysql/advisor_statement_maximum_join_table_count.go
  backend/plugin/advisor/mysql/mysql_rules_test.go
  backend/plugin/advisor/mysql/test/statement_maximum_join_table_count.yaml
  backend/plugin/advisor/utils_for_tests.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: i18n for rules
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/plugins/i18n.test.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: implement maximum join table count rule (#11078)
  backend/plugin/advisor/code.go
  backend/plugin/advisor/mysql/advisor_statement_maximum_join_table_count.go
  backend/plugin/advisor/mysql/mysql_rules_test.go
  backend/plugin/advisor/mysql/test/statement_maximum_join_table_count.yaml
  backend/plugin/advisor/utils_for_tests.go
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: implement maximum join table count rule (#11078)
  backend/plugin/advisor/code.go
  backend/plugin/advisor/mysql/advisor_statement_maximum_join_table_count.go
  backend/plugin/advisor/mysql/mysql_rules_test.go
  backend/plugin/advisor/mysql/test/statement_maximum_join_table_count.yaml
  backend/plugin/advisor/utils_for_tests.go
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: implement maximum join table count rule (#11078)
  backend/plugin/advisor/code.go
  backend/plugin/advisor/mysql/advisor_statement_maximum_join_table_count.go
  backend/plugin/advisor/mysql/mysql_rules_test.go
  backend/plugin/advisor/mysql/test/statement_maximum_join_table_count.yaml
  backend/plugin/advisor/utils_for_tests.go
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

fix: i18n for rules (#11079)
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/plugins/i18n.test.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: i18n for rules (#11079)
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/plugins/i18n.test.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: i18n for rules (#11079)
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/plugins/i18n.test.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: style for project mode
  frontend/src/views/sql-editor/AsidePanel/AsidePanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix
  backend/plugin/advisor/mysql/advisor_statement_maximum_join_table_count.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

wip
  backend/plugin/schema/mysql/state.go
  backend/plugin/schema/mysql/testdata/get-design-schema/partition/range.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: implement disallow using functions in where clause
  backend/plugin/advisor/mysql/advisor_statement_where_disallow_using_function.go
  backend/plugin/advisor/mysql/mysql_rules_test.go
  backend/plugin/advisor/mysql/test/statement_where_disallow_using_function.yaml
  backend/plugin/advisor/utils_for_tests.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: implement disallow using functions in where clause (#11081)
  backend/plugin/advisor/mysql/advisor_statement_where_disallow_using_function.go
  backend/plugin/advisor/mysql/mysql_rules_test.go
  backend/plugin/advisor/mysql/test/statement_where_disallow_using_function.yaml
  backend/plugin/advisor/utils_for_tests.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: implement disallow using functions in where clause (#11081)
  backend/plugin/advisor/mysql/advisor_statement_where_disallow_using_function.go
  backend/plugin/advisor/mysql/mysql_rules_test.go
  backend/plugin/advisor/mysql/test/statement_where_disallow_using_function.yaml
  backend/plugin/advisor/utils_for_tests.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: implement disallow using functions in where clause (#11081)
  backend/plugin/advisor/mysql/advisor_statement_where_disallow_using_function.go
  backend/plugin/advisor/mysql/mysql_rules_test.go
  backend/plugin/advisor/mysql/test/statement_where_disallow_using_function.yaml
  backend/plugin/advisor/utils_for_tests.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: implement table text fields total length rule
  backend/plugin/advisor/catalog/state.go
  backend/plugin/advisor/code.go
  backend/plugin/advisor/mysql/advisor_table_text_fields_total_length.go
  backend/plugin/advisor/mysql/advisor_table_text_fields_total_length_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: style
  frontend/src/views/sql-editor/AsidePanel/GroupingBar/FactorPanel.vue
  frontend/src/views/sql-editor/AsidePanel/GroupingBar/FactorTag.vue
  frontend/src/views/sql-editor/AsidePanel/GroupingBar/FactorTags.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: rename
  frontend/src/views/sql-editor/AsidePanel/AsidePanel.vue
  frontend/src/views/sql-editor/AsidePanel/DatabaseTree.vue
  frontend/src/views/sql-editor/context.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: implement table text fields total length rule (#11082)
  backend/plugin/advisor/catalog/state.go
  backend/plugin/advisor/code.go
  backend/plugin/advisor/mysql/advisor_statement_maximum_join_table_count.go
  backend/plugin/advisor/mysql/advisor_table_text_fields_total_length.go
  backend/plugin/advisor/mysql/advisor_table_text_fields_total_length_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: implement table text fields total length rule (#11082)
  backend/plugin/advisor/catalog/state.go
  backend/plugin/advisor/code.go
  backend/plugin/advisor/mysql/advisor_statement_maximum_join_table_count.go
  backend/plugin/advisor/mysql/advisor_table_text_fields_total_length.go
  backend/plugin/advisor/mysql/advisor_table_text_fields_total_length_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: implement table text fields total length rule (#11082)
  backend/plugin/advisor/catalog/state.go
  backend/plugin/advisor/code.go
  backend/plugin/advisor/mysql/advisor_statement_maximum_join_table_count.go
  backend/plugin/advisor/mysql/advisor_table_text_fields_total_length.go
  backend/plugin/advisor/mysql/advisor_table_text_fields_total_length_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: implement disallow set charset in table level
  backend/plugin/advisor/code.go
  backend/plugin/advisor/mysql/advisor_table_disallow_set_charset.go
  backend/plugin/advisor/mysql/mysql_rules_test.go
  backend/plugin/advisor/mysql/test/table_disallow_set_charset.yaml
  backend/plugin/advisor/utils_for_tests.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update
  backend/plugin/advisor/mysql/test/table_disallow_set_charset.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update
  backend/plugin/advisor/code.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev
