Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev

chore: update aws
  backend/api/v1/instance_service.go
  backend/component/secret/aws.go
  frontend/src/components/InstanceForm/DataSourceSection/DataSourceForm.vue
  frontend/src/components/InstanceForm/InstanceForm.vue
  frontend/src/components/VCS/VCSProviderBasicInfoPanel.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/proto/store/data_source.ts
  frontend/src/types/proto/v1/instance_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/data_source.pb.go
  proto/generated-go/v1/instance_service.pb.go
  proto/store/data_source.proto
  proto/v1/instance_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: update
  backend/api/v1/instance_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update aws secrets manager (#11580)
  backend/api/v1/instance_service.go
  backend/component/secret/aws.go
  frontend/src/components/InstanceForm/DataSourceSection/DataSourceForm.vue
  frontend/src/components/InstanceForm/InstanceForm.vue
  frontend/src/components/VCS/VCSProviderBasicInfoPanel.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/proto/store/data_source.ts
  frontend/src/types/proto/v1/instance_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/data_source.pb.go
  proto/generated-go/v1/instance_service.pb.go
  proto/store/data_source.proto
  proto/v1/instance_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: update aws secrets manager (#11580)
  backend/api/v1/instance_service.go
  backend/component/secret/aws.go
  frontend/src/components/InstanceForm/DataSourceSection/DataSourceForm.vue
  frontend/src/components/InstanceForm/InstanceForm.vue
  frontend/src/components/VCS/VCSProviderBasicInfoPanel.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/proto/store/data_source.ts
  frontend/src/types/proto/v1/instance_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/data_source.pb.go
  proto/generated-go/v1/instance_service.pb.go
  proto/store/data_source.proto
  proto/v1/instance_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: update aws secrets manager (#11580)
  backend/api/v1/instance_service.go
  backend/component/secret/aws.go
  frontend/src/components/InstanceForm/DataSourceSection/DataSourceForm.vue
  frontend/src/components/InstanceForm/InstanceForm.vue
  frontend/src/components/VCS/VCSProviderBasicInfoPanel.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/proto/store/data_source.ts
  frontend/src/types/proto/v1/instance_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/data_source.pb.go
  proto/generated-go/v1/instance_service.pb.go
  proto/store/data_source.proto
  proto/v1/instance_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: wording for key
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

Revert "ttttt (#11568)"
  backend/plugin/db/mssql/mssql.go
  scripts/Dockerfile.depot
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase

Revert "ttttt (#11568)" (#11582)
  backend/plugin/db/mssql/mssql.go
  scripts/Dockerfile.depot
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase

Revert "ttttt (#11568)" (#11582)
  backend/plugin/db/mssql/mssql.go
  scripts/Dockerfile.depot
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase

Revert "ttttt (#11568)" (#11582)
  backend/plugin/db/mssql/mssql.go
  scripts/Dockerfile.depot
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase

chore: wording for key (#11581)
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: wording for key (#11581)
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: wording for key (#11581)
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: additional_bindings fields
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/google/protobuf/struct.ts
  frontend/src/types/proto/google/protobuf/timestamp.ts
  frontend/src/types/proto/v1/database_service.ts
  frontend/src/types/proto/v1/instance_service.ts
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/database_service.pb.go
  proto/generated-go/v1/database_service.pb.gw.go
  proto/generated-go/v1/instance_service.pb.go
  proto/generated-go/v1/instance_service.pb.gw.go
  proto/generated-go/v1/sql_service.pb.go
  proto/generated-go/v1/sql_service.pb.gw.go
  proto/v1/database_service.proto
  proto/v1/instance_service.proto
  proto/v1/sql_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: buf generate
  proto/generated-go/v1/instance_service.pb.go
Owners: @d-bytebase, @ecmadao, @RainbowDashy

fix: additional_bindings fields (#11583)
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/google/protobuf/struct.ts
  frontend/src/types/proto/google/protobuf/timestamp.ts
  frontend/src/types/proto/v1/database_service.ts
  frontend/src/types/proto/v1/instance_service.ts
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/database_service.pb.go
  proto/generated-go/v1/database_service.pb.gw.go
  proto/generated-go/v1/instance_service.pb.go
  proto/generated-go/v1/instance_service.pb.gw.go
  proto/generated-go/v1/sql_service.pb.go
  proto/generated-go/v1/sql_service.pb.gw.go
  proto/v1/database_service.proto
  proto/v1/instance_service.proto
  proto/v1/sql_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

fix: additional_bindings fields (#11583)
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/google/protobuf/struct.ts
  frontend/src/types/proto/google/protobuf/timestamp.ts
  frontend/src/types/proto/v1/database_service.ts
  frontend/src/types/proto/v1/instance_service.ts
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/database_service.pb.go
  proto/generated-go/v1/database_service.pb.gw.go
  proto/generated-go/v1/instance_service.pb.go
  proto/generated-go/v1/instance_service.pb.gw.go
  proto/generated-go/v1/sql_service.pb.go
  proto/generated-go/v1/sql_service.pb.gw.go
  proto/v1/database_service.proto
  proto/v1/instance_service.proto
  proto/v1/sql_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

fix: additional_bindings fields (#11583)
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/google/protobuf/struct.ts
  frontend/src/types/proto/google/protobuf/timestamp.ts
  frontend/src/types/proto/v1/database_service.ts
  frontend/src/types/proto/v1/instance_service.ts
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/database_service.pb.go
  proto/generated-go/v1/database_service.pb.gw.go
  proto/generated-go/v1/instance_service.pb.go
  proto/generated-go/v1/instance_service.pb.gw.go
  proto/generated-go/v1/sql_service.pb.go
  proto/generated-go/v1/sql_service.pb.gw.go
  proto/v1/database_service.proto
  proto/v1/instance_service.proto
  proto/v1/sql_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: implement sql execute
  backend/api/v1/acl_iam.go
  backend/api/v1/sql_service.go
  backend/plugin/parser/mysql/mysql.go
  backend/runner/taskrun/data_export_executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: implement sql execute (#11584)
  backend/api/v1/acl_iam.go
  backend/api/v1/sql_service.go
  backend/plugin/parser/mysql/mysql.go
  backend/runner/taskrun/data_export_executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: implement sql execute (#11584)
  backend/api/v1/acl_iam.go
  backend/api/v1/sql_service.go
  backend/plugin/parser/mysql/mysql.go
  backend/runner/taskrun/data_export_executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: implement sql execute (#11584)
  backend/api/v1/acl_iam.go
  backend/api/v1/sql_service.go
  backend/plugin/parser/mysql/mysql.go
  backend/runner/taskrun/data_export_executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: update export data permission checks
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseOperations.vue
  frontend/src/utils/iam/permission-utils.ts
  frontend/src/views/ExportCenter/index.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: issue link
  frontend/src/components/ActivityTable/ActivityCommentLink.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update export data permission checks (#11585)
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseOperations.vue
  frontend/src/utils/iam/permission-utils.ts
  frontend/src/views/ExportCenter/index.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update export data permission checks (#11585)
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseOperations.vue
  frontend/src/utils/iam/permission-utils.ts
  frontend/src/views/ExportCenter/index.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update export data permission checks (#11585)
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseOperations.vue
  frontend/src/utils/iam/permission-utils.ts
  frontend/src/views/ExportCenter/index.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: issue link (#11586)
  frontend/src/components/ActivityTable/ActivityCommentLink.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: issue link (#11586)
  frontend/src/components/ActivityTable/ActivityCommentLink.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: issue link (#11586)
  frontend/src/components/ActivityTable/ActivityCommentLink.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: vertical sheets
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/AbstractListItem.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/DraftList.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/DraftListItem.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/SheetList.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/SheetListItem.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/index.ts
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/WorksheetPane.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/common.ts
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/scroll-logic.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove log
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/scroll-logic.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: style
  frontend/src/views/sql-editor/Sheet/common/Dropdown.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: wrong field
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/WorksheetPane.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: filter by title
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/AbstractListItem.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/DraftList.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/SheetList.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/common.ts
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/WorksheetPane.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: deprecate legacy issue route
  frontend/src/components/ActivityTable/utils.ts
  frontend/src/router/dashboard/issue.ts
  frontend/src/store/modules/router.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: deprecate legacy issue route (#11587)
  frontend/src/components/ActivityTable/utils.ts
  frontend/src/router/dashboard/issue.ts
  frontend/src/store/modules/router.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: deprecate legacy issue route (#11587)
  frontend/src/components/ActivityTable/utils.ts
  frontend/src/router/dashboard/issue.ts
  frontend/src/store/modules/router.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: deprecate legacy issue route (#11587)
  frontend/src/components/ActivityTable/utils.ts
  frontend/src/router/dashboard/issue.ts
  frontend/src/store/modules/router.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: welcome
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/sql-editor/EditorCommon/ConnectionHolder.vue
  frontend/src/views/sql-editor/EditorCommon/ConnectionPathBar.vue
  frontend/src/views/sql-editor/EditorPanel/EditorPanel.vue
  frontend/src/views/sql-editor/EditorPanel/Welcome.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev
