Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev

feat(hive): support kerberos in backend
  backend/api/v1/instance_service.go
  backend/component/dbfactory/dbfactory.go
  backend/plugin/db/driver.go
  backend/plugin/db/hive/hive.go
  backend/plugin/db/hive/sync.go
  backend/plugin/db/sasl.go
  backend/store/data_source.go
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/google/protobuf/struct.ts
  frontend/src/types/proto/google/protobuf/timestamp.ts
  frontend/src/types/proto/store/data_source.ts
  frontend/src/types/proto/v1/instance_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/data_source.pb.go
  proto/generated-go/v1/instance_service.pb.go
  proto/store/data_source.proto
  proto/v1/instance_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack, @RainbowDashy

chore: remove duplicate request
  frontend/src/components/AnomalyCenter/AnomalyCenterDashboard.vue
  frontend/src/components/ChangeHistory/ChangeHistoryTable.vue
  frontend/src/components/TransferDatabaseForm.vue
  frontend/src/components/TransferOutDatabaseForm/TransferOutDatabaseForm.vue
  frontend/src/store/modules/v1/database.ts
  frontend/src/store/modules/v1/instance.ts
  frontend/src/store/modules/v1/worksheet.ts
  frontend/src/views/InstanceDetail.vue
  frontend/src/views/project/ProjectDatabaseDashboard.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: eslint
  frontend/src/components/AnomalyCenter/AnomalyCenterDashboard.vue
  frontend/src/store/modules/v1/instance.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove duplicate request (#11745)
  frontend/src/components/AnomalyCenter/AnomalyCenterDashboard.vue
  frontend/src/components/ChangeHistory/ChangeHistoryTable.vue
  frontend/src/components/TransferDatabaseForm.vue
  frontend/src/components/TransferOutDatabaseForm/TransferOutDatabaseForm.vue
  frontend/src/store/modules/v1/database.ts
  frontend/src/store/modules/v1/instance.ts
  frontend/src/store/modules/v1/worksheet.ts
  frontend/src/views/InstanceDetail.vue
  frontend/src/views/project/ProjectDatabaseDashboard.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove duplicate request (#11745)
  frontend/src/components/AnomalyCenter/AnomalyCenterDashboard.vue
  frontend/src/components/ChangeHistory/ChangeHistoryTable.vue
  frontend/src/components/TransferDatabaseForm.vue
  frontend/src/components/TransferOutDatabaseForm/TransferOutDatabaseForm.vue
  frontend/src/store/modules/v1/database.ts
  frontend/src/store/modules/v1/instance.ts
  frontend/src/store/modules/v1/worksheet.ts
  frontend/src/views/InstanceDetail.vue
  frontend/src/views/project/ProjectDatabaseDashboard.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove duplicate request (#11745)
  frontend/src/components/AnomalyCenter/AnomalyCenterDashboard.vue
  frontend/src/components/ChangeHistory/ChangeHistoryTable.vue
  frontend/src/components/TransferDatabaseForm.vue
  frontend/src/components/TransferOutDatabaseForm/TransferOutDatabaseForm.vue
  frontend/src/store/modules/v1/database.ts
  frontend/src/store/modules/v1/instance.ts
  frontend/src/store/modules/v1/worksheet.ts
  frontend/src/views/InstanceDetail.vue
  frontend/src/views/project/ProjectDatabaseDashboard.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: edit procedure
  frontend/src/components/SchemaEditorLite/Editor.vue
  frontend/src/components/SchemaEditorLite/Panels/CommonCodeEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/ProcedureEditor.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  backend/migrator/migration/prod/2.16/0002##schema_tenant_mode.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  backend/migrator/migration/prod/2.16/0003##check_config.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: edit function
  frontend/src/components/SchemaEditorLite/Editor.vue
  frontend/src/components/SchemaEditorLite/Panels/CommonCodeEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/FunctionEditor.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove unused
  frontend/src/components/SchemaEditorV1/Modals/ProcedureNameModal.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: deprecate schema as database (#11744)
  backend/api/v1/instance_service.go
  backend/api/v1/sql_service.go
  backend/api/v1/sql_service_export_utils.go
  backend/component/dbfactory/dbfactory.go
  backend/migrator/migration/prod/2.16/0002##schema_tenant_mode.sql
  backend/migrator/migrator_test.go
  backend/plugin/db/dm/sync.go
  backend/plugin/db/driver.go
  backend/plugin/db/oracle/dump.go
  backend/plugin/db/oracle/oracle.go
  backend/plugin/db/oracle/sync.go
  backend/runner/plancheck/statement_report_executor.go
  backend/runner/taskrun/data_export_executor.go
  frontend/src/components/InstanceForm/InstanceForm.vue
  frontend/src/components/InstanceForm/OracleSyncModeInput.vue
  frontend/src/components/InstanceForm/common.ts
  frontend/src/types/proto/google/protobuf/any.ts
  frontend/src/types/proto/store/instance.ts
  frontend/src/types/proto/v1/instance_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/instance.pb.go
  proto/generated-go/v1/instance_service.pb.go
  proto/store/instance.proto
  proto/v1/instance_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack, @RainbowDashy

chore: deprecate schema as database (#11744)
  backend/api/v1/instance_service.go
  backend/api/v1/sql_service.go
  backend/api/v1/sql_service_export_utils.go
  backend/component/dbfactory/dbfactory.go
  backend/migrator/migration/prod/2.16/0002##schema_tenant_mode.sql
  backend/migrator/migrator_test.go
  backend/plugin/db/dm/sync.go
  backend/plugin/db/driver.go
  backend/plugin/db/oracle/dump.go
  backend/plugin/db/oracle/oracle.go
  backend/plugin/db/oracle/sync.go
  backend/runner/plancheck/statement_report_executor.go
  backend/runner/taskrun/data_export_executor.go
  frontend/src/components/InstanceForm/InstanceForm.vue
  frontend/src/components/InstanceForm/OracleSyncModeInput.vue
  frontend/src/components/InstanceForm/common.ts
  frontend/src/types/proto/google/protobuf/any.ts
  frontend/src/types/proto/store/instance.ts
  frontend/src/types/proto/v1/instance_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/instance.pb.go
  proto/generated-go/v1/instance_service.pb.go
  proto/store/instance.proto
  proto/v1/instance_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack, @RainbowDashy

chore: deprecate schema as database (#11744)
  backend/api/v1/instance_service.go
  backend/api/v1/sql_service.go
  backend/api/v1/sql_service_export_utils.go
  backend/component/dbfactory/dbfactory.go
  backend/migrator/migration/prod/2.16/0002##schema_tenant_mode.sql
  backend/migrator/migrator_test.go
  backend/plugin/db/dm/sync.go
  backend/plugin/db/driver.go
  backend/plugin/db/oracle/dump.go
  backend/plugin/db/oracle/oracle.go
  backend/plugin/db/oracle/sync.go
  backend/runner/plancheck/statement_report_executor.go
  backend/runner/taskrun/data_export_executor.go
  frontend/src/components/InstanceForm/InstanceForm.vue
  frontend/src/components/InstanceForm/OracleSyncModeInput.vue
  frontend/src/components/InstanceForm/common.ts
  frontend/src/types/proto/google/protobuf/any.ts
  frontend/src/types/proto/store/instance.ts
  frontend/src/types/proto/v1/instance_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/instance.pb.go
  proto/generated-go/v1/instance_service.pb.go
  proto/store/instance.proto
  proto/v1/instance_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack, @RainbowDashy

chore: update
  backend/migrator/migration/prod/2.16/0003##check_config.sql
  backend/migrator/migration/prod/LATEST.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  backend/migrator/migration/prod/2.16/0003##check_config.sql
  backend/migrator/migration/prod/LATEST.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: create and edit function
  frontend/src/components/SchemaEditorLite/Aside/Tree.vue
  frontend/src/components/SchemaEditorLite/Modals/FunctionNameModal.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  backend/migrator/migration/prod/2.16/0003##check_config.sql
  backend/migrator/migration/prod/LATEST.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  backend/legacyapi/project_member.go
  backend/migrator/migration/prod/2.16/0003##sql_lint_config.sql
  backend/migrator/migration/prod/LATEST.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: minor updates
  frontend/src/components/SchemaEditorLite/Aside/Tree.vue
  frontend/src/components/SchemaEditorLite/Modals/FunctionNameModal.vue
  frontend/src/components/SchemaEditorLite/Panels/CommonCodeEditor.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update filter for change history
  backend/api/v1/database_service.go
  backend/store/instance_change_history.go
  frontend/src/types/proto/google/protobuf/any.ts
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/database_service.pb.go
  proto/v1/database_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: SQL lint config schema (#11743)
  backend/legacyapi/project_member.go
  backend/migrator/migration/prod/2.16/0003##sql_lint_config.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: SQL lint config schema (#11743)
  backend/legacyapi/project_member.go
  backend/migrator/migration/prod/2.16/0003##sql_lint_config.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: SQL lint config schema (#11743)
  backend/legacyapi/project_member.go
  backend/migrator/migration/prod/2.16/0003##sql_lint_config.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: select functions to rollout
  frontend/src/components/SchemaEditorLite/Aside/NodeCheckbox/FunctionGroupNodeCheckbox.vue
  frontend/src/components/SchemaEditorLite/Aside/NodeCheckbox/FunctionNodeCheckbox.vue
  frontend/src/components/SchemaEditorLite/Aside/NodeCheckbox/NodeCheckbox.vue
  frontend/src/components/SchemaEditorLite/context/selection.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update filter for procedures and functions
  frontend/src/utils/schemaEditor/filter.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: labels and i18n
  frontend/src/components/SchemaEditorLite/Aside/Tree.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: extract NodePrefix
  frontend/src/components/Icon/FunctionIcon.vue
  frontend/src/components/Icon/ProcedureIcon.vue
  frontend/src/components/SchemaEditorLite/Aside/NodePrefix.vue
  frontend/src/components/SchemaEditorLite/Aside/Tree.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: buf lint
  frontend/src/types/proto/store/data_source.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/data_source.pb.go
  proto/generated-go/v1/instance_service.pb.go
  proto/store/data_source.proto
  proto/v1/instance_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: buf lint
  proto/store/data_source.proto
  proto/v1/instance_service.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

fix: test
  backend/tests/change_history_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: typo
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/data_source.pb.go
  proto/store/data_source.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

feat: audit export
  backend/api/v1/audit.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: wrong parameters
  frontend/src/components/SchemaEditorLite/Panels/CommonCodeEditor.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: search database
  backend/api/v1/common.go
  backend/api/v1/database_service.go
  backend/api/v1/issue_service.go
  backend/api/v1/logging_service.go
  backend/api/v1/rollout_service.go
  backend/api/v1/sql_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  backend/store/database.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  backend/api/v1/database_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update filter for change history (#11746)
  backend/api/v1/database_service.go
  backend/store/instance_change_history.go
  backend/tests/change_history_test.go
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/database_service.pb.go
  proto/v1/database_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: update filter for change history (#11746)
  backend/api/v1/database_service.go
  backend/store/instance_change_history.go
  backend/tests/change_history_test.go
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/database_service.pb.go
  proto/v1/database_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: update filter for change history (#11746)
  backend/api/v1/database_service.go
  backend/store/instance_change_history.go
  backend/tests/change_history_test.go
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/database_service.pb.go
  proto/v1/database_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy
