Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

chore(sql-editor): enable DML/DDL by default if databaseChangeMode is EDITOR (#13791)
  frontend/src/composables/useExecuteSQL.ts
  frontend/src/store/modules/sqlEditor/tab.ts
  frontend/src/types/sqlEditor/tab.ts
  frontend/src/views/sql-editor/EditorCommon/AdminModeButton.vue
  frontend/src/views/sql-editor/EditorCommon/EditorAction.vue
  frontend/src/views/sql-editor/EditorCommon/ExecuteHint.vue
  frontend/src/views/sql-editor/EditorCommon/OpenAIButton.vue
  frontend/src/views/sql-editor/EditorCommon/QueryContextSettingPopover.vue
  frontend/src/views/sql-editor/EditorCommon/QueryModeSelect.vue
  frontend/src/views/sql-editor/EditorCommon/ReadonlyDatasourceHint.vue
  frontend/src/views/sql-editor/EditorPanel/EditorPanel.vue
  frontend/src/views/sql-editor/EditorPanel/StandardPanel/StandardPanel.vue
  frontend/src/views/sql-editor/TabList/ContextMenu.vue
  frontend/src/views/sql-editor/TabList/TabItem/Suffix.vue
  frontend/src/views/sql-editor/TabList/TabItem/TabItem.vue
  frontend/src/views/sql-editor/TabList/TabList.vue
  frontend/src/views/sql-editor/context.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(sql-editor): enable DML/DDL by default if databaseChangeMode is EDITOR (#13791)
  frontend/src/composables/useExecuteSQL.ts
  frontend/src/store/modules/sqlEditor/tab.ts
  frontend/src/types/sqlEditor/tab.ts
  frontend/src/views/sql-editor/EditorCommon/AdminModeButton.vue
  frontend/src/views/sql-editor/EditorCommon/EditorAction.vue
  frontend/src/views/sql-editor/EditorCommon/ExecuteHint.vue
  frontend/src/views/sql-editor/EditorCommon/OpenAIButton.vue
  frontend/src/views/sql-editor/EditorCommon/QueryContextSettingPopover.vue
  frontend/src/views/sql-editor/EditorCommon/QueryModeSelect.vue
  frontend/src/views/sql-editor/EditorCommon/ReadonlyDatasourceHint.vue
  frontend/src/views/sql-editor/EditorPanel/EditorPanel.vue
  frontend/src/views/sql-editor/EditorPanel/StandardPanel/StandardPanel.vue
  frontend/src/views/sql-editor/TabList/ContextMenu.vue
  frontend/src/views/sql-editor/TabList/TabItem/Suffix.vue
  frontend/src/views/sql-editor/TabList/TabItem/TabItem.vue
  frontend/src/views/sql-editor/TabList/TabList.vue
  frontend/src/views/sql-editor/context.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: apply changelist to database group
  frontend/src/components/Changelist/ChangelistDetail/ApplyToDatabasePanel/ApplyToDatabasePanel.vue
  frontend/src/components/DatabaseGroup/DatabaseGroupDataTable.vue
  frontend/src/components/DatabaseGroup/DatabaseGroupPanel.vue
  frontend/src/components/DatabaseGroup/ProjectDatabaseGroupPanel.vue
  frontend/src/components/IssueV1/logic/initialize/create.ts
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseV1Table.vue
  frontend/src/components/v2/Select/DatabaseGroupSelect.vue
  frontend/src/store/modules/dbGroup.ts
  frontend/src/utils/v1/changelist.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: apply changelist to database group (#13793)
  frontend/src/components/Changelist/ChangelistDetail/ApplyToDatabasePanel/ApplyToDatabasePanel.vue
  frontend/src/components/DatabaseGroup/DatabaseGroupDataTable.vue
  frontend/src/components/DatabaseGroup/DatabaseGroupPanel.vue
  frontend/src/components/DatabaseGroup/ProjectDatabaseGroupPanel.vue
  frontend/src/components/IssueV1/logic/initialize/create.ts
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseV1Table.vue
  frontend/src/components/v2/Select/DatabaseGroupSelect.vue
  frontend/src/store/modules/dbGroup.ts
  frontend/src/utils/v1/changelist.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: apply changelist to database group (#13793)
  frontend/src/components/Changelist/ChangelistDetail/ApplyToDatabasePanel/ApplyToDatabasePanel.vue
  frontend/src/components/DatabaseGroup/DatabaseGroupDataTable.vue
  frontend/src/components/DatabaseGroup/DatabaseGroupPanel.vue
  frontend/src/components/DatabaseGroup/ProjectDatabaseGroupPanel.vue
  frontend/src/components/IssueV1/logic/initialize/create.ts
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseV1Table.vue
  frontend/src/components/v2/Select/DatabaseGroupSelect.vue
  frontend/src/store/modules/dbGroup.ts
  frontend/src/utils/v1/changelist.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: apply changelist to database group (#13793)
  frontend/src/components/Changelist/ChangelistDetail/ApplyToDatabasePanel/ApplyToDatabasePanel.vue
  frontend/src/components/DatabaseGroup/DatabaseGroupDataTable.vue
  frontend/src/components/DatabaseGroup/DatabaseGroupPanel.vue
  frontend/src/components/DatabaseGroup/ProjectDatabaseGroupPanel.vue
  frontend/src/components/IssueV1/logic/initialize/create.ts
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseV1Table.vue
  frontend/src/components/v2/Select/DatabaseGroupSelect.vue
  frontend/src/store/modules/dbGroup.ts
  frontend/src/utils/v1/changelist.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(review-center): check policy when creating issue
  frontend/src/components/Plan/components/HeaderSection/Actions/create/CreateIssueButton.vue
  frontend/src/components/SQLCheck/SQLCheckPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(review-center): check policy when creating issue (#13794)
  frontend/src/components/Plan/components/HeaderSection/Actions/create/CreateIssueButton.vue
  frontend/src/components/SQLCheck/SQLCheckPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(review-center): check policy when creating issue (#13794)
  frontend/src/components/Plan/components/HeaderSection/Actions/create/CreateIssueButton.vue
  frontend/src/components/SQLCheck/SQLCheckPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(review-center): check policy when creating issue (#13794)
  frontend/src/components/Plan/components/HeaderSection/Actions/create/CreateIssueButton.vue
  frontend/src/components/SQLCheck/SQLCheckPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: dummy execution
  backend/plugin/db/cockroachdb/cockroachdb.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: tweak styles of password reset
  frontend/src/views/auth/PasswordReset.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix i18n
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: tweak styles of password reset (#13796)
  frontend/src/views/auth/PasswordReset.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: tweak styles of password reset (#13796)
  frontend/src/views/auth/PasswordReset.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: tweak styles of password reset (#13796)
  frontend/src/views/auth/PasswordReset.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: dummy execution (#13795)
  backend/plugin/db/cockroachdb/cockroachdb.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: dummy execution (#13795)
  backend/plugin/db/cockroachdb/cockroachdb.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: dummy execution (#13795)
  backend/plugin/db/cockroachdb/cockroachdb.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: fix i18n (#13797)
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix i18n (#13797)
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix i18n (#13797)
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove lsif action
  .github/workflows/lsif.yml
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: remove lsif action (#13798)
  .github/workflows/lsif.yml
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: remove lsif action (#13798)
  .github/workflows/lsif.yml
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: remove lsif action (#13798)
  .github/workflows/lsif.yml
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: optimize ui
  frontend/src/components/ProfileDropdown.vue
  frontend/src/components/User/Settings/UserPassword.vue
  frontend/src/views/auth/PasswordReset.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/components/User/Settings/UserPassword.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: optimize ui (#13801)
  frontend/src/components/ProfileDropdown.vue
  frontend/src/components/User/Settings/UserPassword.vue
  frontend/src/views/auth/PasswordReset.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: optimize ui (#13801)
  frontend/src/components/ProfileDropdown.vue
  frontend/src/components/User/Settings/UserPassword.vue
  frontend/src/views/auth/PasswordReset.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: optimize ui (#13801)
  frontend/src/components/ProfileDropdown.vue
  frontend/src/components/User/Settings/UserPassword.vue
  frontend/src/views/auth/PasswordReset.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: crdb simple select
  frontend/src/utils/v1/sql.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: crdb simple select (#13802)
  frontend/src/utils/v1/sql.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: crdb simple select (#13802)
  frontend/src/utils/v1/sql.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: crdb simple select (#13802)
  frontend/src/utils/v1/sql.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: allow to read settings from the environment variables
  backend/bin/server/cmd/root.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: filter databases with no changes in sync schema
  frontend/src/components/Branch/BranchDetailView.vue
  frontend/src/components/SyncDatabaseSchema/SelectTargetDatabasesView.vue
  frontend/src/components/SyncDatabaseSchema/TargetDatabasesSelectPanel.vue
  frontend/src/components/SyncDatabaseSchema/index.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/components/SyncDatabaseSchema/SelectTargetDatabasesView.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: logout with redirect query
  frontend/src/AuthContext.vue
  frontend/src/components/ProfileDropdown.vue
  frontend/src/grpcweb/middlewares/authInterceptorMiddleware.ts
  frontend/src/main.ts
  frontend/src/store/modules/auth.ts
  frontend/src/views/Setup/ProvideSetupContext.vue
  frontend/src/views/TwoFactorRequired.vue
  frontend/src/views/auth/PasswordForgot.vue
  frontend/src/views/auth/Signin.vue
  frontend/src/views/auth/Signup.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: filter databases with no changes in sync schema (#13804)
  frontend/src/components/Branch/BranchDetailView.vue
  frontend/src/components/SyncDatabaseSchema/SelectTargetDatabasesView.vue
  frontend/src/components/SyncDatabaseSchema/TargetDatabasesSelectPanel.vue
  frontend/src/components/SyncDatabaseSchema/index.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
