Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev

chore: update
  backend/plugin/db/cockroachdb/cockroachdb.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: semi in use superuser privileges to execute statement for pg like (#14408)
  backend/plugin/db/cockroachdb/cockroachdb.go
  backend/plugin/db/pg/pg.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: semi in use superuser privileges to execute statement for pg like (#14408)
  backend/plugin/db/cockroachdb/cockroachdb.go
  backend/plugin/db/pg/pg.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: semi in use superuser privileges to execute statement for pg like (#14408)
  backend/plugin/db/cockroachdb/cockroachdb.go
  backend/plugin/db/pg/pg.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update task detail page
  frontend/src/components/Rollout/RolloutDetail/RolloutDetailLayout.vue
  frontend/src/components/Rollout/RolloutDetail/TaskDetail/BasicInfo.vue
  frontend/src/components/Rollout/RolloutDetail/TaskDetail/Panels/Overview.vue
  frontend/src/components/Rollout/RolloutDetail/TaskDetail/Panels/TaskRunLogs.vue
  frontend/src/components/Rollout/RolloutDetail/TaskDetail/TaskDetail.vue
  frontend/src/components/Rollout/RolloutDetail/TaskDetail/utils.ts
  frontend/src/components/Rollout/RolloutDetail/context.ts
  frontend/src/components/Rollout/RolloutDetail/poll.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: packages in tree
  frontend/src/components/Icon/PackageIcon.vue
  frontend/src/components/Icon/index.ts
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/SyncSchemaButton.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/Label.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/PackageNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/common.ts
  frontend/src/views/sql-editor/EditorPanel/Panels/PackagesPanel/PackagesPanel.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/PackagesPanel/PackagesTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/PackagesPanel/index.ts
  frontend/src/views/sql-editor/EditorPanel/types.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: support package in pane
  frontend/src/utils/v1/instance.ts
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/actions.tsx
  frontend/src/views/sql-editor/EditorPanel/GutterBar/TabItem.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/PackagesPanel/PackagesPanel.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/PackagesPanel/PackagesTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/Panels.vue
  frontend/src/views/sql-editor/EditorPanel/context/index.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: support packages in info pane
  frontend/src/views/sql-editor/EditorPanel/Panels/InfoPanel/InfoPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix instance engine icon styles
  frontend/src/components/v2/Model/Instance/InstanceV1EngineIcon.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/components/Icon/EngineIcon.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update task detail page (#14409)
  frontend/src/components/Rollout/RolloutDetail/RolloutDetailLayout.vue
  frontend/src/components/Rollout/RolloutDetail/TaskDetail/BasicInfo.vue
  frontend/src/components/Rollout/RolloutDetail/TaskDetail/Panels/Overview.vue
  frontend/src/components/Rollout/RolloutDetail/TaskDetail/Panels/TaskRunLogs.vue
  frontend/src/components/Rollout/RolloutDetail/TaskDetail/TaskDetail.vue
  frontend/src/components/Rollout/RolloutDetail/TaskDetail/utils.ts
  frontend/src/components/Rollout/RolloutDetail/context.ts
  frontend/src/components/Rollout/RolloutDetail/poll.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update task detail page (#14409)
  frontend/src/components/Rollout/RolloutDetail/RolloutDetailLayout.vue
  frontend/src/components/Rollout/RolloutDetail/TaskDetail/BasicInfo.vue
  frontend/src/components/Rollout/RolloutDetail/TaskDetail/Panels/Overview.vue
  frontend/src/components/Rollout/RolloutDetail/TaskDetail/Panels/TaskRunLogs.vue
  frontend/src/components/Rollout/RolloutDetail/TaskDetail/TaskDetail.vue
  frontend/src/components/Rollout/RolloutDetail/TaskDetail/utils.ts
  frontend/src/components/Rollout/RolloutDetail/context.ts
  frontend/src/components/Rollout/RolloutDetail/poll.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update task detail page (#14409)
  frontend/src/components/Rollout/RolloutDetail/RolloutDetailLayout.vue
  frontend/src/components/Rollout/RolloutDetail/TaskDetail/BasicInfo.vue
  frontend/src/components/Rollout/RolloutDetail/TaskDetail/Panels/Overview.vue
  frontend/src/components/Rollout/RolloutDetail/TaskDetail/Panels/TaskRunLogs.vue
  frontend/src/components/Rollout/RolloutDetail/TaskDetail/TaskDetail.vue
  frontend/src/components/Rollout/RolloutDetail/TaskDetail/utils.ts
  frontend/src/components/Rollout/RolloutDetail/context.ts
  frontend/src/components/Rollout/RolloutDetail/poll.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: show packages in database detail page
  frontend/src/components/Database/DatabaseOverviewPanel.vue
  frontend/src/components/PackageDataTable.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: highlight node
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/SchemaPane.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: handle unlimited seat
  backend/enterprise/service/license.go
  frontend/src/store/modules/v1/subscription.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: fix instance engine icon styles (#14410)
  frontend/src/components/Icon/EngineIcon.vue
  frontend/src/components/v2/Model/Instance/InstanceV1EngineIcon.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix instance engine icon styles (#14410)
  frontend/src/components/Icon/EngineIcon.vue
  frontend/src/components/v2/Model/Instance/InstanceV1EngineIcon.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix instance engine icon styles (#14410)
  frontend/src/components/Icon/EngineIcon.vue
  frontend/src/components/v2/Model/Instance/InstanceV1EngineIcon.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: revert debug
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/SyncSchemaButton.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: handle unlimited seat (#14411)
  backend/enterprise/service/license.go
  frontend/src/store/modules/v1/subscription.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

fix: handle unlimited seat (#14411)
  backend/enterprise/service/license.go
  frontend/src/store/modules/v1/subscription.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

fix: handle unlimited seat (#14411)
  backend/enterprise/service/license.go
  frontend/src/store/modules/v1/subscription.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: use keyWithPosition
  frontend/src/views/sql-editor/EditorPanel/Panels/InfoPanel/InfoPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: handle unlimited seat (#14411)
  backend/enterprise/service/license.go
  frontend/src/store/modules/v1/subscription.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore(sql-editor): use query() rather than execute() (#14271)
  frontend/src/composables/useExecuteSQL.ts
  frontend/src/store/modules/v1/sql.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(sql-editor): use query() rather than execute() (#14271)
  frontend/src/composables/useExecuteSQL.ts
  frontend/src/store/modules/v1/sql.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(sql-editor): use query() rather than execute() (#14271)
  frontend/src/composables/useExecuteSQL.ts
  frontend/src/store/modules/v1/sql.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat(frontend): display package metadata for ORACLE (#14412)
  frontend/src/components/Database/DatabaseOverviewPanel.vue
  frontend/src/components/Icon/PackageIcon.vue
  frontend/src/components/Icon/index.ts
  frontend/src/components/PackageDataTable.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/utils/v1/instance.ts
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/SchemaPane.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/Label.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/PackageNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/actions.tsx
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/common.ts
  frontend/src/views/sql-editor/EditorPanel/GutterBar/TabItem.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/InfoPanel/InfoPanel.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/PackagesPanel/PackagesPanel.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/PackagesPanel/PackagesTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/PackagesPanel/index.ts
  frontend/src/views/sql-editor/EditorPanel/Panels/Panels.vue
  frontend/src/views/sql-editor/EditorPanel/context/index.ts
  frontend/src/views/sql-editor/EditorPanel/types.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat(frontend): display package metadata for ORACLE (#14412)
  frontend/src/components/Database/DatabaseOverviewPanel.vue
  frontend/src/components/Icon/PackageIcon.vue
  frontend/src/components/Icon/index.ts
  frontend/src/components/PackageDataTable.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/utils/v1/instance.ts
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/SchemaPane.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/Label.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/PackageNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/actions.tsx
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/common.ts
  frontend/src/views/sql-editor/EditorPanel/GutterBar/TabItem.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/InfoPanel/InfoPanel.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/PackagesPanel/PackagesPanel.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/PackagesPanel/PackagesTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/PackagesPanel/index.ts
  frontend/src/views/sql-editor/EditorPanel/Panels/Panels.vue
  frontend/src/views/sql-editor/EditorPanel/context/index.ts
  frontend/src/views/sql-editor/EditorPanel/types.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat(frontend): display package metadata for ORACLE (#14412)
  frontend/src/components/Database/DatabaseOverviewPanel.vue
  frontend/src/components/Icon/PackageIcon.vue
  frontend/src/components/Icon/index.ts
  frontend/src/components/PackageDataTable.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/utils/v1/instance.ts
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/SchemaPane.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/Label.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/PackageNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/actions.tsx
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/common.ts
  frontend/src/views/sql-editor/EditorPanel/GutterBar/TabItem.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/InfoPanel/InfoPanel.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/PackagesPanel/PackagesPanel.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/PackagesPanel/PackagesTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/PackagesPanel/index.ts
  frontend/src/views/sql-editor/EditorPanel/Panels/Panels.vue
  frontend/src/views/sql-editor/EditorPanel/context/index.ts
  frontend/src/views/sql-editor/EditorPanel/types.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

refactor: retire sql service execute
  backend/api/v1/sql_service.go
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/sql_service.pb.go
  proto/generated-go/v1/sql_service.pb.gw.go
  proto/generated-go/v1/sql_service_grpc.pb.go
  proto/v1/sql_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

refactor: retire sql service execute (#14414)
  backend/api/v1/sql_service.go
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/sql_service.pb.go
  proto/generated-go/v1/sql_service.pb.gw.go
  proto/generated-go/v1/sql_service_grpc.pb.go
  proto/v1/sql_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

refactor: retire sql service execute (#14414)
  backend/api/v1/sql_service.go
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/sql_service.pb.go
  proto/generated-go/v1/sql_service.pb.gw.go
  proto/generated-go/v1/sql_service_grpc.pb.go
  proto/v1/sql_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

refactor: retire sql service execute (#14414)
  backend/api/v1/sql_service.go
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/sql_service.pb.go
  proto/generated-go/v1/sql_service.pb.gw.go
  proto/generated-go/v1/sql_service_grpc.pb.go
  proto/v1/sql_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

feat: allow sql server declare variable
  backend/plugin/parser/tsql/query_type.go
  backend/plugin/parser/tsql/test-data/query-span/query_type.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update go mod
  backend/api/v1/sql_service.go
  backend/plugin/parser/tsql/query_span_extractor.go
  go.mod
  go.sum
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: several fix
  backend/api/v1/auth_service.go
  backend/api/v1/group_service.go
  frontend/src/components/Quickstart.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: allow go
  backend/plugin/parser/tsql/query_type.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: several fix (#14415)
  backend/api/v1/auth_service.go
  backend/api/v1/group_service.go
  frontend/src/components/Quickstart.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack
