Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

chore: update ProjectV1Table to NDataTable (#11703)
  frontend/src/components/Project/ProjectSwitchModal.vue
  frontend/src/components/v2/Model/Instance/InstanceV1Table/InstanceV1Table.vue
  frontend/src/components/v2/Model/ProjectV1Table.vue
  frontend/src/views/ProjectDashboard.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update ProjectV1Table to NDataTable (#11703)
  frontend/src/components/Project/ProjectSwitchModal.vue
  frontend/src/components/v2/Model/Instance/InstanceV1Table/InstanceV1Table.vue
  frontend/src/components/v2/Model/ProjectV1Table.vue
  frontend/src/views/ProjectDashboard.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: complete ctes in full table name
  backend/plugin/advisor/mssql/advisor_where_require.go
  backend/plugin/parser/tsql/completion.go
  backend/plugin/parser/tsql/query_span_extractor.go
  backend/plugin/parser/tsql/test-data/test_completion.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: fix linter
  backend/plugin/parser/tsql/completion.go
  backend/plugin/parser/tsql/test-data/test_completion.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

allow missing user
  backend/api/v1/audit.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: fix linter
  backend/plugin/parser/tsql/completion.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: procedure and function nodes
  frontend/src/components/SchemaEditorLite/Aside/Tree.vue
  frontend/src/components/SchemaEditorLite/Aside/context-menu.ts
  frontend/src/components/SchemaEditorLite/Modals/ProcedureNameModal.vue
  frontend/src/components/SchemaEditorLite/context/edit.ts
  frontend/src/components/SchemaEditorV1/Modals/ProcedureNameModal.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat(hive): support kerberos connections
  backend/plugin/db/driver.go
  backend/plugin/db/hive/hive.go
  backend/plugin/db/hive/hive_conn_pool.go
  backend/plugin/db/hive/sync.go
  backend/plugin/db/sasl.go
  go.mod
  go.sum
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

chore: add and drop procedures
  frontend/src/components/SchemaEditorLite/Aside/Tree.vue
  frontend/src/components/SchemaEditorLite/algorithm/apply-selected.ts
  frontend/src/components/SchemaEditorLite/algorithm/apply.ts
  frontend/src/components/SchemaEditorLite/algorithm/diff-merge.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix nil comparison
  backend/api/v1/audit.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: impl audit log (#11701)
  backend/api/v1/audit.go
  backend/bin/server/cmd/profile.go
  backend/bin/server/cmd/root.go
  backend/component/config/profile.go
  backend/server/server.go
  backend/store/audit_log.go
  frontend/src/types/proto/google/protobuf/any.ts
  frontend/src/types/proto/google/rpc/status.ts
  frontend/src/types/proto/store/audit_log.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/audit_log.pb.go
  proto/store/audit_log.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

feat: impl audit log (#11701)
  backend/api/v1/audit.go
  backend/bin/server/cmd/profile.go
  backend/bin/server/cmd/root.go
  backend/component/config/profile.go
  backend/server/server.go
  backend/store/audit_log.go
  frontend/src/types/proto/google/protobuf/any.ts
  frontend/src/types/proto/google/rpc/status.ts
  frontend/src/types/proto/store/audit_log.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/audit_log.pb.go
  proto/store/audit_log.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

feat: impl audit log (#11701)
  backend/api/v1/audit.go
  backend/bin/server/cmd/profile.go
  backend/bin/server/cmd/root.go
  backend/component/config/profile.go
  backend/server/server.go
  backend/store/audit_log.go
  frontend/src/types/proto/google/protobuf/any.ts
  frontend/src/types/proto/google/rpc/status.ts
  frontend/src/types/proto/store/audit_log.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/audit_log.pb.go
  proto/store/audit_log.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: github actions
  backend/plugin/db/hive/hive.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: format instance error message
  backend/api/v1/instance_service.go
  backend/component/secret/aws.go
  backend/component/secret/gcp.go
  frontend/src/components/InstanceForm/InstanceForm.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: update
  backend/plugin/parser/mysql/test-data/test_completion.yaml
  backend/plugin/parser/tsql/completion.go
  backend/plugin/parser/tsql/completion_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update i18n
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: format instance error message (#11705)
  backend/api/v1/instance_service.go
  backend/component/secret/aws.go
  backend/component/secret/gcp.go
  frontend/src/components/InstanceForm/InstanceForm.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: format instance error message (#11705)
  backend/api/v1/instance_service.go
  backend/component/secret/aws.go
  backend/component/secret/gcp.go
  frontend/src/components/InstanceForm/InstanceForm.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: format instance error message (#11705)
  backend/api/v1/instance_service.go
  backend/component/secret/aws.go
  backend/component/secret/gcp.go
  frontend/src/components/InstanceForm/InstanceForm.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: update
  go.mod
  go.sum
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  go.mod
  go.sum
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  .github/workflows/build-artifacts-and-draft-release.yml
  .github/workflows/build-push-ci-image-depot.yml
  .github/workflows/build-push-release-image.yml
  .github/workflows/frontend-tests.yml
  scripts/build_bytebase.sh
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: update
  frontend/src/plugins/i18n.test.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/package.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: diff-merge functions
  frontend/src/components/SchemaEditorLite/algorithm/diff-merge.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: apply selected procedures and functions
  frontend/src/components/SchemaEditorLite/algorithm/apply-selected.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: tree and tab list
  frontend/src/components/SchemaEditorLite/Aside/Tree.vue
  frontend/src/components/SchemaEditorLite/TabsContainer.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update i18n script
  frontend/i18n.ts
  frontend/src/locales/ja-JP.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update comment
  frontend/i18n.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update i18n script (#11736)
  frontend/i18n.ts
  frontend/src/locales/ja-JP.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update i18n script (#11736)
  frontend/i18n.ts
  frontend/src/locales/ja-JP.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update i18n script (#11736)
  frontend/i18n.ts
  frontend/src/locales/ja-JP.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  backend/plugin/parser/tsql/completion.go
  backend/plugin/parser/tsql/completion_test.go
  backend/plugin/parser/tsql/test-data/test_completion.yaml
  go.mod
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

chore: check config schema
  backend/migrator/migration/prod/2.16/0002##check_config.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  backend/plugin/parser/tsql/completion.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update
  backend/api/v1/instance_service.go
  backend/api/v1/sql_service.go
  backend/api/v1/sql_service_export_utils.go
  backend/component/dbfactory/dbfactory.go
  backend/migrator/migration/prod/2.16/0003##schema_tenant_mode.sql
  backend/plugin/db/dm/sync.go
  backend/plugin/db/driver.go
  backend/plugin/db/oracle/dump.go
  backend/plugin/db/oracle/oracle.go
  backend/plugin/db/oracle/sync.go
  backend/runner/plancheck/statement_report_executor.go
  backend/runner/taskrun/data_export_executor.go
  frontend/src/components/InstanceForm/InstanceForm.vue
  frontend/src/components/InstanceForm/OracleSyncModeInput.vue
  frontend/src/components/InstanceForm/common.ts
  frontend/src/types/proto/google/protobuf/any.ts
  frontend/src/types/proto/store/instance.ts
  frontend/src/types/proto/v1/instance_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/instance.pb.go
  proto/generated-go/v1/instance_service.pb.go
  proto/store/instance.proto
  proto/v1/instance_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack, @RainbowDashy

chore: update
  backend/migrator/migration/prod/2.16/0003##schema_tenant_mode.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  backend/api/v1/sql_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  backend/api/v1/sql_service.go
  backend/runner/taskrun/data_export_executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
