Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

fix: ListIssues projectID filter (#10339)
  backend/api/v1/issue_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: ListIssues projectID filter (#10339)
  backend/api/v1/issue_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: ListIssues projectID filter (#10339)
  backend/api/v1/issue_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: setting permission check
  frontend/src/layouts/SettingLayout.vue
  frontend/src/router/index.ts
  frontend/src/views/SettingSidebar.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add keep empty lines
  backend/plugin/parser/tokenizer/testdata/test_split_tidb_multi_sql.yaml
  backend/plugin/parser/tokenizer/tokenizer.go
  backend/plugin/parser/tokenizer/tokenizer_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: setting permission check (#10340)
  frontend/src/layouts/SettingLayout.vue
  frontend/src/router/index.ts
  frontend/src/views/SettingSidebar.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: setting permission check (#10340)
  frontend/src/layouts/SettingLayout.vue
  frontend/src/router/index.ts
  frontend/src/views/SettingSidebar.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: setting permission check (#10340)
  frontend/src/layouts/SettingLayout.vue
  frontend/src/router/index.ts
  frontend/src/views/SettingSidebar.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: permission check via route
  backend/component/iam/acl.yaml
  frontend/src/components/Project/ProjectIssuesPanel.vue
  frontend/src/components/Project/ProjectSidebarV1.vue
  frontend/src/components/misc/NoDataPlaceholder.vue
  frontend/src/components/misc/NoPermissionPlaceholder.vue
  frontend/src/layouts/ProjectV1Layout.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/dashboard/projectV1.ts
  frontend/src/shims-vue-router.d.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: refactor
  frontend/src/components/Project/ProjectSidebarV1.vue
  frontend/src/layouts/ProjectV1Layout.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: project permission for routing (#10343)
  backend/component/iam/acl.yaml
  frontend/src/components/Issue/panel/RequestExportPanel/index.vue
  frontend/src/components/Issue/panel/RequestQueryPanel/index.vue
  frontend/src/components/Project/CreateProjectBranchProtectionRulePanel.vue
  frontend/src/components/Project/ProjectArchiveRestoreButton.vue
  frontend/src/components/Project/ProjectCreatePanel.vue
  frontend/src/components/Project/ProjectGeneralSettingPanel.vue
  frontend/src/components/Project/ProjectIssuesPanel.vue
  frontend/src/components/Project/ProjectSidebarV1.vue
  frontend/src/components/SyncDatabaseSchema/RawSQLEditor.vue
  frontend/src/components/misc/NoDataPlaceholder.vue
  frontend/src/components/misc/NoPermissionPlaceholder.vue
  frontend/src/components/v2/Select/ProjectSelect.vue
  frontend/src/layouts/ProjectV1Layout.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/dashboard/projectV1.ts
  frontend/src/shims-vue-router.d.ts
  frontend/src/utils/iam/permission.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: project permission for routing (#10343)
  backend/component/iam/acl.yaml
  frontend/src/components/Issue/panel/RequestExportPanel/index.vue
  frontend/src/components/Issue/panel/RequestQueryPanel/index.vue
  frontend/src/components/Project/CreateProjectBranchProtectionRulePanel.vue
  frontend/src/components/Project/ProjectArchiveRestoreButton.vue
  frontend/src/components/Project/ProjectCreatePanel.vue
  frontend/src/components/Project/ProjectGeneralSettingPanel.vue
  frontend/src/components/Project/ProjectIssuesPanel.vue
  frontend/src/components/Project/ProjectSidebarV1.vue
  frontend/src/components/SyncDatabaseSchema/RawSQLEditor.vue
  frontend/src/components/misc/NoDataPlaceholder.vue
  frontend/src/components/misc/NoPermissionPlaceholder.vue
  frontend/src/components/v2/Select/ProjectSelect.vue
  frontend/src/layouts/ProjectV1Layout.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/dashboard/projectV1.ts
  frontend/src/shims-vue-router.d.ts
  frontend/src/utils/iam/permission.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: project permission for routing (#10343)
  backend/component/iam/acl.yaml
  frontend/src/components/Issue/panel/RequestExportPanel/index.vue
  frontend/src/components/Issue/panel/RequestQueryPanel/index.vue
  frontend/src/components/Project/CreateProjectBranchProtectionRulePanel.vue
  frontend/src/components/Project/ProjectArchiveRestoreButton.vue
  frontend/src/components/Project/ProjectCreatePanel.vue
  frontend/src/components/Project/ProjectGeneralSettingPanel.vue
  frontend/src/components/Project/ProjectIssuesPanel.vue
  frontend/src/components/Project/ProjectSidebarV1.vue
  frontend/src/components/SyncDatabaseSchema/RawSQLEditor.vue
  frontend/src/components/misc/NoDataPlaceholder.vue
  frontend/src/components/misc/NoPermissionPlaceholder.vue
  frontend/src/components/v2/Select/ProjectSelect.vue
  frontend/src/layouts/ProjectV1Layout.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/dashboard/projectV1.ts
  frontend/src/shims-vue-router.d.ts
  frontend/src/utils/iam/permission.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: update branch permission
  frontend/src/components/Branch/BranchCreateView.vue
  frontend/src/components/Branch/BranchDetailView.vue
  frontend/src/components/Project/ProjectSidebarV1.vue
  frontend/src/components/ProjectBranchesPanel.vue
  frontend/src/router/dashboard/projectV1.ts
  frontend/src/views/branch/BranchDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/components/Branch/BranchDetailView.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update branch permission (#10345)
  frontend/src/components/Branch/BranchCreateView.vue
  frontend/src/components/Branch/BranchDetailView.vue
  frontend/src/components/Project/ProjectSidebarV1.vue
  frontend/src/components/ProjectBranchesPanel.vue
  frontend/src/router/dashboard/projectV1.ts
  frontend/src/views/branch/BranchDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update branch permission (#10345)
  frontend/src/components/Branch/BranchCreateView.vue
  frontend/src/components/Branch/BranchDetailView.vue
  frontend/src/components/Project/ProjectSidebarV1.vue
  frontend/src/components/ProjectBranchesPanel.vue
  frontend/src/router/dashboard/projectV1.ts
  frontend/src/views/branch/BranchDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update branch permission (#10345)
  frontend/src/components/Branch/BranchCreateView.vue
  frontend/src/components/Branch/BranchDetailView.vue
  frontend/src/components/Project/ProjectSidebarV1.vue
  frontend/src/components/ProjectBranchesPanel.vue
  frontend/src/router/dashboard/projectV1.ts
  frontend/src/views/branch/BranchDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

add title to step
  proto/store/plan.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

buf gen
  frontend/src/types/proto/store/plan.ts
  proto/gen/grpc-doc/store/README.md
  proto/generated-go/store/plan.pb.go
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

set title for deployment schedule
  backend/api/v1/rollout_service.go
  backend/api/v1/rollout_service_task.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update changelist permissions
  frontend/src/components/Changelist/ChangelistDashboard/ChangelistDashboard.vue
  frontend/src/components/Changelist/ChangelistDashboard/NavBar.vue
  frontend/src/components/Changelist/ChangelistDetail/ChangelistDetail.vue
  frontend/src/components/Changelist/ChangelistDetail/NavBar/NavBar.vue
  frontend/src/components/Changelist/ChangelistDetail/context.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: deployment schedule stage title (#10346)
  backend/api/v1/rollout_service.go
  backend/api/v1/rollout_service_task.go
  frontend/src/types/proto/store/plan.ts
  proto/gen/grpc-doc/store/README.md
  proto/generated-go/store/plan.pb.go
  proto/store/plan.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

feat: deployment schedule stage title (#10346)
  backend/api/v1/rollout_service.go
  backend/api/v1/rollout_service_task.go
  frontend/src/types/proto/store/plan.ts
  proto/gen/grpc-doc/store/README.md
  proto/generated-go/store/plan.pb.go
  proto/store/plan.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

feat: deployment schedule stage title (#10346)
  backend/api/v1/rollout_service.go
  backend/api/v1/rollout_service_task.go
  frontend/src/types/proto/store/plan.ts
  proto/gen/grpc-doc/store/README.md
  proto/generated-go/store/plan.pb.go
  proto/store/plan.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

add title to plan in v1 api
  proto/v1/rollout_service.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

buf gen
  frontend/src/types/proto/v1/rollout_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/rollout_service.pb.go
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: add title to plan in v1 api (#10347)
  frontend/src/types/proto/v1/rollout_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/rollout_service.pb.go
  proto/v1/rollout_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: add title to plan in v1 api (#10347)
  frontend/src/types/proto/v1/rollout_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/rollout_service.pb.go
  proto/v1/rollout_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: add title to plan in v1 api (#10347)
  frontend/src/types/proto/v1/rollout_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/rollout_service.pb.go
  proto/v1/rollout_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: append project owner role if rbac disabled
  backend/api/v1/acl.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

dba can adminExecute
  backend/component/iam/acl.yaml
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  frontend/src/router/dashboard/projectV1.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

check adminExecute
  backend/api/v1/acl_config.go
  backend/api/v1/acl_iam.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: add panic recovers
  backend/api/v1/acl_iam.go
  backend/runner/plancheck/executor.go
  backend/runner/taskrun/executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

refactor(frontend): environment routes
  backend/api/v1/environment_service.go
  backend/api/v1/project_service.go
  frontend/src/components/DatabaseBackup/DatabaseBackupSettingForm.vue
  frontend/src/components/DatabaseBackupPanel.vue
  frontend/src/components/KBar/useRecentVisit.ts
  frontend/src/components/Quickstart.vue
  frontend/src/components/SQLReview/SQLReviewPolicyTable.vue
  frontend/src/components/SyncDatabaseSchema/SelectTargetDatabasesView.vue
  frontend/src/components/v2/Model/EnvironmentName.vue
  frontend/src/components/v2/Model/EnvironmentV1Name.vue
  frontend/src/components/v2/Model/EnvironmentV1Table.vue
  frontend/src/main.ts
  frontend/src/router/dashboard/environmentV1.ts
  frontend/src/router/dashboard/index.ts
  frontend/src/router/index.ts
  frontend/src/shims-vue-globals.d.ts
  frontend/src/store/modules/router.ts
  frontend/src/types/common.ts
  frontend/src/utils/slug.ts
  frontend/src/views/DashboardSidebar.vue
  frontend/src/views/EnvironmentDashboard.vue
  frontend/src/views/EnvironmentDetail.vue
  frontend/src/views/SettingWorkspaceSQLReviewDetail.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: update changelist permissions (#10349)
  frontend/src/components/Changelist/ChangelistDashboard/ChangelistDashboard.vue
  frontend/src/components/Changelist/ChangelistDashboard/NavBar.vue
  frontend/src/components/Changelist/ChangelistDetail/ChangelistDetail.vue
  frontend/src/components/Changelist/ChangelistDetail/NavBar/NavBar.vue
  frontend/src/components/Changelist/ChangelistDetail/context.ts
  frontend/src/router/dashboard/projectV1.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update changelist permissions (#10349)
  frontend/src/components/Changelist/ChangelistDashboard/ChangelistDashboard.vue
  frontend/src/components/Changelist/ChangelistDashboard/NavBar.vue
  frontend/src/components/Changelist/ChangelistDetail/ChangelistDetail.vue
  frontend/src/components/Changelist/ChangelistDetail/NavBar/NavBar.vue
  frontend/src/components/Changelist/ChangelistDetail/context.ts
  frontend/src/router/dashboard/projectV1.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update changelist permissions (#10349)
  frontend/src/components/Changelist/ChangelistDashboard/ChangelistDashboard.vue
  frontend/src/components/Changelist/ChangelistDashboard/NavBar.vue
  frontend/src/components/Changelist/ChangelistDetail/ChangelistDetail.vue
  frontend/src/components/Changelist/ChangelistDetail/NavBar/NavBar.vue
  frontend/src/components/Changelist/ChangelistDetail/context.ts
  frontend/src/router/dashboard/projectV1.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/public/help/routeMapList.json
  frontend/src/views/DashboardSidebar.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
