Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev

fix: linter
  backend/plugin/schema/tidb/state.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

refactor: using require empty instead of equal empty to avoid diff noise
  backend/api/v1/branch_merge_test.go
  backend/api/v1/branch_service_test.go
  backend/component/masker/masker_test.go
  backend/plugin/advisor/catalog/walk_through_test.go
  backend/plugin/db/mongodb/mongodb_test.go
  backend/plugin/schema/mysql/parse_to_metadata_test.go
  backend/plugin/schema/oracle/parse_to_metadata_test.go
  backend/plugin/schema/tidb/parse_to_metadata_test.go
  backend/tests/schema_update_test.go
  backend/tests/sensitive_data_test.go
  backend/tests/sql_editor_test.go
  backend/tests/sql_export_test.go
  backend/tests/sql_review_test.go
  backend/tests/syncer_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: deprecate role check
  backend/plugin/vcs/gitlab/webhook_events.go
  backend/store/policy.go
  frontend/src/components/QuickActionPanel.vue
  frontend/src/store/modules/v1/projectIamPolicy.ts
  frontend/src/utils/v1/database.ts
  frontend/src/utils/v1/project.ts
  frontend/src/utils/v1/worksheet.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

feat: Added Elestio as one-click deploy option
  README.md
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: deprecate role check (#13486)
  backend/plugin/vcs/gitlab/webhook_events.go
  backend/store/policy.go
  frontend/src/components/QuickActionPanel.vue
  frontend/src/store/modules/v1/projectIamPolicy.ts
  frontend/src/utils/v1/database.ts
  frontend/src/utils/v1/project.ts
  frontend/src/utils/v1/worksheet.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: deprecate role check (#13486)
  backend/plugin/vcs/gitlab/webhook_events.go
  backend/store/policy.go
  frontend/src/components/QuickActionPanel.vue
  frontend/src/store/modules/v1/projectIamPolicy.ts
  frontend/src/utils/v1/database.ts
  frontend/src/utils/v1/project.ts
  frontend/src/utils/v1/worksheet.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: deprecate role check (#13486)
  backend/plugin/vcs/gitlab/webhook_events.go
  backend/store/policy.go
  frontend/src/components/QuickActionPanel.vue
  frontend/src/store/modules/v1/projectIamPolicy.ts
  frontend/src/utils/v1/database.ts
  frontend/src/utils/v1/project.ts
  frontend/src/utils/v1/worksheet.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

feat: copy mysql parse to metadata to tidb (#13482)
  backend/plugin/parser/tidb/split.go
  backend/plugin/parser/tidb/tidb.go
  backend/plugin/parser/tidb/util.go
  backend/plugin/schema/tidb/parse_to_metadata.go
  backend/plugin/schema/tidb/parse_to_metadata_test.go
  backend/plugin/schema/tidb/state.go
  backend/plugin/schema/tidb/testdata/parse_to_metadata.yaml
  backend/plugin/schema/tidb/utils.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: copy mysql parse to metadata to tidb (#13482)
  backend/plugin/parser/tidb/split.go
  backend/plugin/parser/tidb/tidb.go
  backend/plugin/parser/tidb/util.go
  backend/plugin/schema/tidb/parse_to_metadata.go
  backend/plugin/schema/tidb/parse_to_metadata_test.go
  backend/plugin/schema/tidb/state.go
  backend/plugin/schema/tidb/testdata/parse_to_metadata.yaml
  backend/plugin/schema/tidb/utils.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: copy mysql parse to metadata to tidb (#13482)
  backend/plugin/parser/tidb/split.go
  backend/plugin/parser/tidb/tidb.go
  backend/plugin/parser/tidb/util.go
  backend/plugin/schema/tidb/parse_to_metadata.go
  backend/plugin/schema/tidb/parse_to_metadata_test.go
  backend/plugin/schema/tidb/state.go
  backend/plugin/schema/tidb/testdata/parse_to_metadata.yaml
  backend/plugin/schema/tidb/utils.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

refactor: using require empty instead of equal empty to avoid diff noise (#13485)
  backend/api/v1/branch_merge_test.go
  backend/api/v1/branch_service_test.go
  backend/component/masker/masker_test.go
  backend/plugin/advisor/catalog/walk_through_test.go
  backend/plugin/db/mongodb/mongodb_test.go
  backend/plugin/schema/mysql/parse_to_metadata_test.go
  backend/plugin/schema/oracle/parse_to_metadata_test.go
  backend/tests/schema_update_test.go
  backend/tests/sensitive_data_test.go
  backend/tests/sql_editor_test.go
  backend/tests/sql_export_test.go
  backend/tests/sql_review_test.go
  backend/tests/syncer_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

refactor: using require empty instead of equal empty to avoid diff noise (#13485)
  backend/api/v1/branch_merge_test.go
  backend/api/v1/branch_service_test.go
  backend/component/masker/masker_test.go
  backend/plugin/advisor/catalog/walk_through_test.go
  backend/plugin/db/mongodb/mongodb_test.go
  backend/plugin/schema/mysql/parse_to_metadata_test.go
  backend/plugin/schema/oracle/parse_to_metadata_test.go
  backend/tests/schema_update_test.go
  backend/tests/sensitive_data_test.go
  backend/tests/sql_editor_test.go
  backend/tests/sql_export_test.go
  backend/tests/sql_review_test.go
  backend/tests/syncer_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

refactor: using require empty instead of equal empty to avoid diff noise (#13485)
  backend/api/v1/branch_merge_test.go
  backend/api/v1/branch_service_test.go
  backend/component/masker/masker_test.go
  backend/plugin/advisor/catalog/walk_through_test.go
  backend/plugin/db/mongodb/mongodb_test.go
  backend/plugin/schema/mysql/parse_to_metadata_test.go
  backend/plugin/schema/oracle/parse_to_metadata_test.go
  backend/tests/schema_update_test.go
  backend/tests/sensitive_data_test.go
  backend/tests/sql_editor_test.go
  backend/tests/sql_export_test.go
  backend/tests/sql_review_test.go
  backend/tests/syncer_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: better snow span (#13484)
  backend/plugin/parser/pg/query_span_test.go
  backend/plugin/parser/snowflake/query_span_extractor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: better snow span (#13484)
  backend/plugin/parser/pg/query_span_test.go
  backend/plugin/parser/snowflake/query_span_extractor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: better snow span (#13484)
  backend/plugin/parser/pg/query_span_test.go
  backend/plugin/parser/snowflake/query_span_extractor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: introduce rollback api
  proto/v1/rollout_service.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

chore: retire org policy resourceuid (#13483)
  backend/api/v1/org_policy_service.go
  frontend/src/components/SensitiveData/GlobalMaskingRulesView.vue
  frontend/src/components/SensitiveData/GrantAccessDrawer.vue
  frontend/src/store/modules/v1/policy.ts
  frontend/src/types/proto/v1/org_policy_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/org_policy_service.pb.go
  proto/v1/org_policy_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: retire org policy resourceuid (#13483)
  backend/api/v1/org_policy_service.go
  frontend/src/components/SensitiveData/GlobalMaskingRulesView.vue
  frontend/src/components/SensitiveData/GrantAccessDrawer.vue
  frontend/src/store/modules/v1/policy.ts
  frontend/src/types/proto/v1/org_policy_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/org_policy_service.pb.go
  proto/v1/org_policy_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: retire org policy resourceuid (#13483)
  backend/api/v1/org_policy_service.go
  frontend/src/components/SensitiveData/GlobalMaskingRulesView.vue
  frontend/src/components/SensitiveData/GrantAccessDrawer.vue
  frontend/src/store/modules/v1/policy.ts
  frontend/src/types/proto/v1/org_policy_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/org_policy_service.pb.go
  proto/v1/org_policy_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: introduce rollback API
  frontend/src/types/proto/v1/rollout_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/rollout_service.pb.go
  proto/generated-go/v1/rollout_service.pb.gw.go
  proto/generated-go/v1/rollout_service_grpc.pb.go
  proto/v1/rollout_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: introduce rollback API (#13489)
  frontend/src/types/proto/v1/rollout_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/rollout_service.pb.go
  proto/generated-go/v1/rollout_service.pb.gw.go
  proto/generated-go/v1/rollout_service_grpc.pb.go
  proto/v1/rollout_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: introduce rollback API (#13489)
  frontend/src/types/proto/v1/rollout_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/rollout_service.pb.go
  proto/generated-go/v1/rollout_service.pb.gw.go
  proto/generated-go/v1/rollout_service_grpc.pb.go
  proto/v1/rollout_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: introduce rollback API (#13489)
  frontend/src/types/proto/v1/rollout_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/rollout_service.pb.go
  proto/generated-go/v1/rollout_service.pb.gw.go
  proto/generated-go/v1/rollout_service_grpc.pb.go
  proto/v1/rollout_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

fix: use name instead uid in issue table
  frontend/src/components/IssueV1/components/IssueTableV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/components/IssueV1/components/IssueTableV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat(proto): add columns to view message
  proto/store/database.proto
  proto/v1/database_service.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

buf gen
  frontend/src/types/proto/store/database.ts
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/database.pb.go
  proto/generated-go/v1/database_service.pb.go
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

fix: use name instead uid in issue table (#13490)
  frontend/src/components/IssueV1/components/IssueTableV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: use name instead uid in issue table (#13490)
  frontend/src/components/IssueV1/components/IssueTableV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: use name instead uid in issue table (#13490)
  frontend/src/components/IssueV1/components/IssueTableV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: use solid line instead of dashed for admin button
  frontend/src/views/sql-editor/EditorCommon/AdminModeButton.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: better tsql span
  backend/plugin/parser/tsql/query_span_extractor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: use solid line instead of dashed for admin button (#13491)
  frontend/src/views/sql-editor/EditorCommon/AdminModeButton.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: use solid line instead of dashed for admin button (#13491)
  frontend/src/views/sql-editor/EditorCommon/AdminModeButton.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: use solid line instead of dashed for admin button (#13491)
  frontend/src/views/sql-editor/EditorCommon/AdminModeButton.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

sync view.columns for mysql pg mssql oracle
  backend/plugin/db/mssql/sync.go
  backend/plugin/db/mysql/sync.go
  backend/plugin/db/oracle/sync.go
  backend/plugin/db/pg/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: better tsql span (#13492)
  backend/plugin/parser/tsql/query_span_extractor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: better tsql span (#13492)
  backend/plugin/parser/tsql/query_span_extractor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: better tsql span (#13492)
  backend/plugin/parser/tsql/query_span_extractor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev
