Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

chore: refactor components
  frontend/src/views/sql-editor/AccessDenied.vue
  frontend/src/views/sql-editor/Disconnected.vue
  frontend/src/views/sql-editor/EditorCommon/AdminModeButton.vue
  frontend/src/views/sql-editor/ReadonlyModeNotSupported.vue
  frontend/src/views/sql-editor/SQLEditorPage.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: missing end semicolon for create procedure
  backend/plugin/parser/plsql/split.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: support close all tabs (#11042)
  frontend/src/store/modules/tab.ts
  frontend/src/utils/tab.ts
  frontend/src/views/sql-editor/AsidePanel/DatabaseTree.vue
  frontend/src/views/sql-editor/EditorPanel/EditorPanel.vue
  frontend/src/views/sql-editor/SecondarySidebar/SheetTabPane/SheetList/SheetList.vue
  frontend/src/views/sql-editor/TabList/TabItem/Suffix.vue
  frontend/src/views/sql-editor/TabList/TabList.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: support close all tabs (#11042)
  frontend/src/store/modules/tab.ts
  frontend/src/utils/tab.ts
  frontend/src/views/sql-editor/AsidePanel/DatabaseTree.vue
  frontend/src/views/sql-editor/EditorPanel/EditorPanel.vue
  frontend/src/views/sql-editor/SecondarySidebar/SheetTabPane/SheetList/SheetList.vue
  frontend/src/views/sql-editor/TabList/TabItem/Suffix.vue
  frontend/src/views/sql-editor/TabList/TabList.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: support close all tabs (#11042)
  frontend/src/store/modules/tab.ts
  frontend/src/utils/tab.ts
  frontend/src/views/sql-editor/AsidePanel/DatabaseTree.vue
  frontend/src/views/sql-editor/EditorPanel/EditorPanel.vue
  frontend/src/views/sql-editor/SecondarySidebar/SheetTabPane/SheetList/SheetList.vue
  frontend/src/views/sql-editor/TabList/TabItem/Suffix.vue
  frontend/src/views/sql-editor/TabList/TabList.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: layout
  frontend/src/views/sql-editor/EditorPanel/SQLEditor.vue
  frontend/src/views/sql-editor/SQLEditorPage.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: missing end semicolon for create procedure (#11043)
  backend/plugin/parser/plsql/split.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: missing end semicolon for create procedure (#11043)
  backend/plugin/parser/plsql/split.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: missing end semicolon for create procedure (#11043)
  backend/plugin/parser/plsql/split.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: merged
  frontend/src/views/sql-editor/EditorPanel/EditorPanel.vue
  frontend/src/views/sql-editor/SQLEditorPage.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: defer cancel
  backend/runner/taskrun/schedulerv2.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: defer cancel (#11044)
  backend/runner/taskrun/schedulerv2.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: defer cancel (#11044)
  backend/runner/taskrun/schedulerv2.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: defer cancel (#11044)
  backend/runner/taskrun/schedulerv2.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: need not to ensure at least one tab
  frontend/src/store/modules/sqlEditorTab.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: bump plsql-parser version
  go.mod
  go.sum
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: remove unused
  frontend/src/store/modules/sqlEditorTab.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat(walk-through): check default convert for mysql
  backend/plugin/advisor/catalog/walk_through_for_mysql.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: echo timeout
  backend/server/routers.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: bump plsql-parser version (#11045)
  go.mod
  go.sum
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: bump plsql-parser version (#11045)
  go.mod
  go.sum
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: bump plsql-parser version (#11045)
  go.mod
  go.sum
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: fix linter error
  backend/plugin/advisor/catalog/walk_through_for_mysql.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: echo timeout (#11047)
  backend/server/routers.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: echo timeout (#11047)
  backend/server/routers.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: echo timeout (#11047)
  backend/server/routers.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: echo timeout
  backend/server/routers.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat(walk-through): check default convert for mysql (#11046)
  backend/plugin/advisor/catalog/walk_through_for_mysql.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(walk-through): check default convert for mysql (#11046)
  backend/plugin/advisor/catalog/walk_through_for_mysql.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(walk-through): check default convert for mysql (#11046)
  backend/plugin/advisor/catalog/walk_through_for_mysql.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

test: add subpartition test
  backend/plugin/schema/mysql/testdata/get-design-schema/partition.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: oracle execute error with position info
  backend/plugin/db/dm/dm.go
  backend/plugin/db/obo/obo.go
  backend/plugin/db/oracle/oracle.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: get design schema for list parititon for MySQL
  backend/plugin/schema/mysql/get_design_schema_test.go
  backend/plugin/schema/mysql/state.go
  backend/plugin/schema/mysql/testdata/get-design-schema/partition/list.yaml
  backend/plugin/schema/mysql/testdata/get-design-schema/partition/range.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: oracle execute error with position info (#11049)
  backend/plugin/db/dm/dm.go
  backend/plugin/db/obo/obo.go
  backend/plugin/db/oracle/oracle.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: oracle execute error with position info (#11049)
  backend/plugin/db/dm/dm.go
  backend/plugin/db/obo/obo.go
  backend/plugin/db/oracle/oracle.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: oracle execute error with position info (#11049)
  backend/plugin/db/dm/dm.go
  backend/plugin/db/obo/obo.go
  backend/plugin/db/oracle/oracle.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: add test for sync mysql 8.0
  backend/plugin/db/mysql/sync_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: layout and style
  frontend/src/views/sql-editor/AsidePanel/AsidePanel.vue
  frontend/src/views/sql-editor/AsidePanel/DatabaseTree.vue
  frontend/src/views/sql-editor/AsidePanel/SearchBox/index.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  backend/plugin/db/mysql/sync_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: refactor to new tab types
  frontend/src/store/modules/v1/worksheet.ts
  frontend/src/views/sql-editor/SecondarySidebar/SheetTabPane/SheetList/SheetList.vue
  frontend/src/views/sql-editor/SecondarySidebar/SheetTabPane/SheetList/common.ts
  frontend/src/views/sql-editor/Sheet/context.ts
  frontend/src/views/sql-editor/SheetPanel/SheetPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
