Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

chore: remove sql editor button in database table
  frontend/src/components/AlterSchemaPrepForm/AlterSchemaPrepForm.vue
  frontend/src/components/AlterSchemaPrepForm/SchemalessDatabaseTable.vue
  frontend/src/components/DataExportPrepForm/DataExportPrepForm.vue
  frontend/src/components/DatabaseInfo.vue
  frontend/src/components/IssueV1/components/StageSection/StageInfo/DatabaseInfo.vue
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseV1Table.vue
  frontend/src/components/v2/Model/DatabaseV1Table/cells/DatabaseNameCell.vue
  frontend/src/views/sql-editor/Setting/Project/Detail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove sql editor button in database table (#12554)
  frontend/src/components/AlterSchemaPrepForm/AlterSchemaPrepForm.vue
  frontend/src/components/AlterSchemaPrepForm/SchemalessDatabaseTable.vue
  frontend/src/components/DataExportPrepForm/DataExportPrepForm.vue
  frontend/src/components/DatabaseInfo.vue
  frontend/src/components/IssueV1/components/StageSection/StageInfo/DatabaseInfo.vue
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseV1Table.vue
  frontend/src/components/v2/Model/DatabaseV1Table/cells/DatabaseNameCell.vue
  frontend/src/views/sql-editor/Setting/Project/Detail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove sql editor button in database table (#12554)
  frontend/src/components/AlterSchemaPrepForm/AlterSchemaPrepForm.vue
  frontend/src/components/AlterSchemaPrepForm/SchemalessDatabaseTable.vue
  frontend/src/components/DataExportPrepForm/DataExportPrepForm.vue
  frontend/src/components/DatabaseInfo.vue
  frontend/src/components/IssueV1/components/StageSection/StageInfo/DatabaseInfo.vue
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseV1Table.vue
  frontend/src/components/v2/Model/DatabaseV1Table/cells/DatabaseNameCell.vue
  frontend/src/views/sql-editor/Setting/Project/Detail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove sql editor button in database table (#12554)
  frontend/src/components/AlterSchemaPrepForm/AlterSchemaPrepForm.vue
  frontend/src/components/AlterSchemaPrepForm/SchemalessDatabaseTable.vue
  frontend/src/components/DataExportPrepForm/DataExportPrepForm.vue
  frontend/src/components/DatabaseInfo.vue
  frontend/src/components/IssueV1/components/StageSection/StageInfo/DatabaseInfo.vue
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseV1Table.vue
  frontend/src/components/v2/Model/DatabaseV1Table/cells/DatabaseNameCell.vue
  frontend/src/views/sql-editor/Setting/Project/Detail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: set running db migration first (#12553)
  backend/runner/taskrun/data_update_executor.go
  backend/runner/taskrun/schedulerv2.go
  backend/runner/taskrun/schema_update_executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: set running db migration first (#12553)
  backend/runner/taskrun/data_update_executor.go
  backend/runner/taskrun/schedulerv2.go
  backend/runner/taskrun/schema_update_executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: set running db migration first (#12553)
  backend/runner/taskrun/data_update_executor.go
  backend/runner/taskrun/schedulerv2.go
  backend/runner/taskrun/schema_update_executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

refactor: connection limiter
  backend/component/state/state.go
  backend/runner/plancheck/scheduler.go
  backend/runner/taskrun/schedulerv2.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

refactor: connection limiter (#12555)
  backend/component/state/state.go
  backend/runner/plancheck/scheduler.go
  backend/runner/taskrun/schedulerv2.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

refactor: connection limiter (#12555)
  backend/component/state/state.go
  backend/runner/plancheck/scheduler.go
  backend/runner/taskrun/schedulerv2.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

refactor: connection limiter (#12555)
  backend/component/state/state.go
  backend/runner/plancheck/scheduler.go
  backend/runner/taskrun/schedulerv2.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: upgrade antlr runtime
  go.mod
  go.sum
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: upgrade antlr runtime for perf
  go.mod
  go.sum
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: sync mysql check constraints at least 8.0.16
  backend/plugin/db/mysql/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: create pending task runs race
  backend/store/task_run.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: upgrade antlr runtime for perf (#12557)
  go.mod
  go.sum
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: upgrade antlr runtime for perf (#12557)
  go.mod
  go.sum
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: upgrade antlr runtime for perf (#12557)
  go.mod
  go.sum
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: sync mysql check constraints at least 8.0.16 (#12558)
  backend/plugin/db/mysql/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: sync mysql check constraints at least 8.0.16 (#12558)
  backend/plugin/db/mysql/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: sync mysql check constraints at least 8.0.16 (#12558)
  backend/plugin/db/mysql/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: create pending task runs race (#12559)
  backend/store/task_run.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: create pending task runs race (#12559)
  backend/store/task_run.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: create pending task runs race (#12559)
  backend/store/task_run.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: create pending task runs race (#12559)
  backend/store/task_run.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: remove sql editor button in database table (#12554)
  frontend/src/components/AlterSchemaPrepForm/AlterSchemaPrepForm.vue
  frontend/src/components/AlterSchemaPrepForm/SchemalessDatabaseTable.vue
  frontend/src/components/DataExportPrepForm/DataExportPrepForm.vue
  frontend/src/components/DatabaseInfo.vue
  frontend/src/components/IssueV1/components/StageSection/StageInfo/DatabaseInfo.vue
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseV1Table.vue
  frontend/src/components/v2/Model/DatabaseV1Table/cells/DatabaseNameCell.vue
  frontend/src/views/sql-editor/Setting/Project/Detail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: create pending task runs race (#12559)
  backend/store/task_run.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: set running db migration first (#12553)
  backend/runner/taskrun/data_update_executor.go
  backend/runner/taskrun/schedulerv2.go
  backend/runner/taskrun/schema_update_executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: sync mysql check constraints at least 8.0.16 (#12558)
  backend/plugin/db/mysql/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: upgrade antlr runtime for perf (#12557)
  go.mod
  go.sum
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

refactor: connection limiter (#12555)
  backend/component/state/state.go
  backend/runner/plancheck/scheduler.go
  backend/runner/taskrun/schedulerv2.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

refactor: connection limiter (#12555)
  backend/component/state/state.go
  backend/runner/plancheck/scheduler.go
  backend/runner/taskrun/schedulerv2.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: sync mysql check constraints at least 8.0.16 (#12558)
  backend/plugin/db/mysql/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: upgrade antlr runtime for perf (#12557)
  go.mod
  go.sum
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: create pending task runs race (#12559)
  backend/store/task_run.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: remove sql editor button in database table (#12554)
  frontend/src/components/AlterSchemaPrepForm/AlterSchemaPrepForm.vue
  frontend/src/components/AlterSchemaPrepForm/SchemalessDatabaseTable.vue
  frontend/src/components/DataExportPrepForm/DataExportPrepForm.vue
  frontend/src/components/DatabaseInfo.vue
  frontend/src/components/IssueV1/components/StageSection/StageInfo/DatabaseInfo.vue
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseV1Table.vue
  frontend/src/components/v2/Model/DatabaseV1Table/cells/DatabaseNameCell.vue
  frontend/src/views/sql-editor/Setting/Project/Detail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: set running db migration first (#12553)
  backend/runner/taskrun/data_update_executor.go
  backend/runner/taskrun/schedulerv2.go
  backend/runner/taskrun/schema_update_executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: display charset in stringify (#12552)
  backend/api/v1/database_converter.go
  backend/plugin/db/mysql/sync.go
  backend/plugin/schema/mysql/stringify_table.go
  backend/tests/schema_update_test.go
  backend/tests/syncer_test.go
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/store/database.ts
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/database.pb.go
  proto/generated-go/v1/database_service.pb.go
  proto/store/database.proto
  proto/v1/database_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack, @RainbowDashy

feat: display charset in stringify (#12552)
  backend/api/v1/database_converter.go
  backend/plugin/db/mysql/sync.go
  backend/plugin/schema/mysql/stringify_table.go
  backend/tests/schema_update_test.go
  backend/tests/syncer_test.go
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/store/database.ts
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/database.pb.go
  proto/generated-go/v1/database_service.pb.go
  proto/store/database.proto
  proto/v1/database_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack, @RainbowDashy

feat(sql-editor): add "Add a new instance" to SQL Editor welcome page (#12551)
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/sql-editor/EditorCommon/ExecuteHint.vue
  frontend/src/views/sql-editor/EditorPanel/EditorPanel.vue
  frontend/src/views/sql-editor/EditorPanel/Welcome.vue
  frontend/src/views/sql-editor/context.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
