Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev

fix(parser): better snowsql syntax error message (#10959)
  backend/plugin/parser/snowflake/snowflake_test.go
  go.mod
  go.sum
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

chore: check trailing
  backend/enterprise/plugin/hub/hub.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: check trailing (#10960)
  backend/enterprise/plugin/hub/hub.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: check trailing (#10960)
  backend/enterprise/plugin/hub/hub.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: check trailing (#10960)
  backend/enterprise/plugin/hub/hub.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update protojson
  frontend/src/types/proto/v1/project_service.ts
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/project_service.pb.go
  proto/generated-go/v1/project_service.pb.gw.go
  proto/v1/project_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: update protojson (#10961)
  frontend/src/types/proto/v1/project_service.ts
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/project_service.pb.go
  proto/generated-go/v1/project_service.pb.gw.go
  proto/v1/project_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: update protojson (#10961)
  frontend/src/types/proto/v1/project_service.ts
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/project_service.pb.go
  proto/generated-go/v1/project_service.pb.gw.go
  proto/v1/project_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: update protojson (#10961)
  frontend/src/types/proto/v1/project_service.ts
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/project_service.pb.go
  proto/generated-go/v1/project_service.pb.gw.go
  proto/v1/project_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: fix project selector filter
  frontend/src/components/Issue/panel/RequestExportPanel/index.vue
  frontend/src/components/v2/Select/ProjectSelect.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: deprecate development IAM flag
  backend/api/v1/acl.go
  backend/api/v1/actuator_service.go
  backend/api/v1/branch_service.go
  backend/api/v1/changelist_service.go
  backend/api/v1/database_service.go
  backend/api/v1/issue_service.go
  backend/api/v1/project_service.go
  backend/api/v1/rollout_service.go
  backend/api/v1/sheet_service.go
  backend/api/v1/sql_service.go
  backend/bin/server/cmd/profile.go
  backend/bin/server/cmd/root.go
  backend/component/config/profile.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: filter databases v2
  backend/api/v1/database_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: fix project selector filter (#10962)
  frontend/src/components/Issue/panel/RequestExportPanel/index.vue
  frontend/src/components/v2/Select/ProjectSelect.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix project selector filter (#10962)
  frontend/src/components/Issue/panel/RequestExportPanel/index.vue
  frontend/src/components/v2/Select/ProjectSelect.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix project selector filter (#10962)
  frontend/src/components/Issue/panel/RequestExportPanel/index.vue
  frontend/src/components/v2/Select/ProjectSelect.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  backend/api/v1/acl.go
  backend/api/v1/acl_config.go
  backend/api/v1/branch_service.go
  backend/api/v1/database_service.go
  backend/api/v1/issue_service.go
  backend/api/v1/member.go
  backend/api/v1/project_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  backend/api/v1/changelist_service.go
  backend/api/v1/issue_service.go
  backend/api/v1/rollout_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  scripts/.air.toml
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: deprecate development IAM flag (#10963)
  backend/api/v1/acl.go
  backend/api/v1/acl_config.go
  backend/api/v1/actuator_service.go
  backend/api/v1/branch_service.go
  backend/api/v1/changelist_service.go
  backend/api/v1/database_service.go
  backend/api/v1/issue_service.go
  backend/api/v1/member.go
  backend/api/v1/project_service.go
  backend/api/v1/rollout_service.go
  backend/api/v1/sheet_service.go
  backend/api/v1/sql_service.go
  backend/bin/server/cmd/profile.go
  backend/bin/server/cmd/root.go
  backend/component/config/profile.go
  scripts/.air.toml
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: deprecate development IAM flag (#10963)
  backend/api/v1/acl.go
  backend/api/v1/acl_config.go
  backend/api/v1/actuator_service.go
  backend/api/v1/branch_service.go
  backend/api/v1/changelist_service.go
  backend/api/v1/database_service.go
  backend/api/v1/issue_service.go
  backend/api/v1/member.go
  backend/api/v1/project_service.go
  backend/api/v1/rollout_service.go
  backend/api/v1/sheet_service.go
  backend/api/v1/sql_service.go
  backend/bin/server/cmd/profile.go
  backend/bin/server/cmd/root.go
  backend/component/config/profile.go
  scripts/.air.toml
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: deprecate development IAM flag (#10963)
  backend/api/v1/acl.go
  backend/api/v1/acl_config.go
  backend/api/v1/actuator_service.go
  backend/api/v1/branch_service.go
  backend/api/v1/changelist_service.go
  backend/api/v1/database_service.go
  backend/api/v1/issue_service.go
  backend/api/v1/member.go
  backend/api/v1/project_service.go
  backend/api/v1/rollout_service.go
  backend/api/v1/sheet_service.go
  backend/api/v1/sql_service.go
  backend/bin/server/cmd/profile.go
  backend/bin/server/cmd/root.go
  backend/component/config/profile.go
  scripts/.air.toml
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: filter databases v2 (#10964)
  backend/api/v1/database_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: filter databases v2 (#10964)
  backend/api/v1/database_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: filter databases v2 (#10964)
  backend/api/v1/database_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: custom permissions
  backend/api/v1/database_service.go
  backend/api/v1/project_service.go
  backend/api/v1/role_service.go
  backend/api/v1/sql_service.go
  backend/api/v1/sql_service_v2.go
  backend/component/iam/manager.go
  backend/component/iam/permission.go
  backend/component/iam/permission_test.go
  backend/store/role.go
  backend/store/store.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: backfill perms
  backend/migrator/migration/prod/2.14/0000##backfill_custom_role_permissions.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

use common.FormatRole
  backend/api/v1/role_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: custom permissions (#10965)
  backend/api/v1/database_service.go
  backend/api/v1/project_service.go
  backend/api/v1/role_service.go
  backend/api/v1/sql_service.go
  backend/api/v1/sql_service_v2.go
  backend/component/iam/manager.go
  backend/component/iam/permission.go
  backend/component/iam/permission_test.go
  backend/migrator/migration/prod/2.14/0000##backfill_custom_role_permissions.sql
  backend/migrator/migrator_test.go
  backend/store/role.go
  backend/store/store.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: custom permissions (#10965)
  backend/api/v1/database_service.go
  backend/api/v1/project_service.go
  backend/api/v1/role_service.go
  backend/api/v1/sql_service.go
  backend/api/v1/sql_service_v2.go
  backend/component/iam/manager.go
  backend/component/iam/permission.go
  backend/component/iam/permission_test.go
  backend/migrator/migration/prod/2.14/0000##backfill_custom_role_permissions.sql
  backend/migrator/migrator_test.go
  backend/store/role.go
  backend/store/store.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: custom permissions (#10965)
  backend/api/v1/database_service.go
  backend/api/v1/project_service.go
  backend/api/v1/role_service.go
  backend/api/v1/sql_service.go
  backend/api/v1/sql_service_v2.go
  backend/component/iam/manager.go
  backend/component/iam/permission.go
  backend/component/iam/permission_test.go
  backend/migrator/migration/prod/2.14/0000##backfill_custom_role_permissions.sql
  backend/migrator/migrator_test.go
  backend/store/role.go
  backend/store/store.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: worksheet store
  backend/api/v1/worksheet_service.go
  backend/server/onboard.go
  backend/store/worksheet.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

update comment
  backend/plugin/advisor/mysql/advisor_online_migration.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: backend
  backend/api/v1/sql_service.go
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/code.go
  backend/plugin/advisor/mysql/advisor_online_migration.go
  backend/plugin/advisor/sql_review.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

impl fe
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sqlReview.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

add change type
  backend/plugin/advisor/advisor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix
  frontend/src/types/sql-review-schema.yaml
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: online migration advice
  backend/plugin/advisor/config/sql-review.prod.yaml
  frontend/src/components/IssueV1/components/PlanCheckSection/PlanCheckBar/PlanCheckDetail.vue
  frontend/src/components/IssueV1/components/SQLCheckSection/OnlineMigrationAdviceExtra.vue
  frontend/src/components/IssueV1/components/SQLCheckSection/SQLCheckBadge.vue
  frontend/src/components/IssueV1/components/SQLCheckSection/SQLCheckSection.vue
  frontend/src/components/IssueV1/components/Sidebar/GhostSection/GhostSwitch.vue
  frontend/src/components/IssueV1/logic/context.ts
  frontend/src/components/SQLCheck/SQLCheckButton.vue
  frontend/src/components/SQLCheck/SQLCheckPanel.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/SettingWorkspaceSQLReviewDetail.vue
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: worksheet store (#10966)
  backend/api/v1/worksheet_service.go
  backend/server/onboard.go
  backend/store/worksheet.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: worksheet store (#10966)
  backend/api/v1/worksheet_service.go
  backend/server/onboard.go
  backend/store/worksheet.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: worksheet store (#10966)
  backend/api/v1/worksheet_service.go
  backend/server/onboard.go
  backend/store/worksheet.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev
