Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev

chore: retire fetchProjectByUID and getOrFetchProjectByUID
  frontend/src/components/Branch/BaselineSchemaSelector.vue
  frontend/src/components/Branch/BranchRebaseView/RebaseBranchSelect.vue
  frontend/src/components/Branch/BranchRebaseView/SelectBranchStep.vue
  frontend/src/components/Branch/BranchRolloutView/BranchRolloutView.vue
  frontend/src/components/Changelist/ChangelistDetail/AddChangePanel/form/ChangeHistoryForm.vue
  frontend/src/components/Project/useCurrentProject.ts
  frontend/src/components/Quickstart.vue
  frontend/src/components/SensitiveData/SensitiveColumnView.vue
  frontend/src/components/SyncDatabaseSchema/DatabaseSchemaSelector.vue
  frontend/src/components/SyncDatabaseSchema/index.vue
  frontend/src/components/v2/Select/DatabaseSelect.vue
  frontend/src/components/v2/Select/UserSelect.vue
  frontend/src/store/modules/v1/project.ts
  frontend/src/utils/databaseGroup/issue.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: rename getProjectByUID to findProjectByUID
  frontend/src/components/Quickstart.vue
  frontend/src/components/SyncDatabaseSchema/SelectTargetDatabasesView.vue
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseOperations.vue
  frontend/src/components/v2/Select/UserSelect.vue
  frontend/src/store/modules/v1/project.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: rename
  frontend/src/components/AlterSchemaPrepForm/AlterSchemaPrepForm.vue
  frontend/src/components/Changelist/ChangelistDetail/ApplyToDatabasePanel/ApplyToDatabasePanel.vue
  frontend/src/components/CustomApproval/Settings/components/common/utils.ts
  frontend/src/components/DataExportPrepForm/DataExportPrepForm.vue
  frontend/src/components/Database/DatabaseChangeHistoryPanel.vue
  frontend/src/components/Database/context.ts
  frontend/src/components/DatabaseDetail/SQLEditorButtonV1.vue
  frontend/src/components/ExternalTableDetailDrawer.vue
  frontend/src/components/KBar/useDatabaseActions.ts
  frontend/src/components/KBar/useProjectActions.ts
  frontend/src/components/Project/ProjectSwitchModal.vue
  frontend/src/components/Project/Settings/ProjectGeneralSettingPanel.vue
  frontend/src/components/Project/useProjectSidebar.ts
  frontend/src/components/ProvideSQLEditorContext.vue
  frontend/src/components/SensitiveData/components/utils.ts
  frontend/src/components/SyncDatabaseSchema/RawSQLEditor.vue
  frontend/src/components/TableDetailDrawer.vue
  frontend/src/components/TransferDatabaseForm.vue
  frontend/src/components/TransferDatabaseForm/TransferSourceSelector.vue
  frontend/src/components/TransferOutDatabaseForm/TransferOutDatabaseForm.vue
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseOperations.vue
  frontend/src/components/v2/Select/ProjectSelect.vue
  frontend/src/layouts/ProjectV1Layout.vue
  frontend/src/store/modules/v1/database.ts
  frontend/src/store/modules/v1/project.ts
  frontend/src/types/v1/project.ts
  frontend/src/utils/v1/project.ts
  frontend/src/views/DatabaseDashboard.vue
  frontend/src/views/ProjectDashboard.vue
  frontend/src/views/project/ProjectMemberDashboard.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: unify instance/project/environment resource name checking
  frontend/src/components/AlterSchemaPrepForm/SchemaEditorModal.vue
  frontend/src/components/Branch/BranchRolloutView/BranchRolloutView.vue
  frontend/src/components/Changelist/ChangelistDashboard/CreateChangelistPanel.vue
  frontend/src/components/Changelist/ChangelistDashboard/NavBar.vue
  frontend/src/components/CreateDatabasePrepForm/CreateDatabasePrepForm.vue
  frontend/src/components/InstanceForm/Form.vue
  frontend/src/components/InstanceForm/context.ts
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentList.vue
  frontend/src/components/ProvideInstanceContext.vue
  frontend/src/components/ProvideSQLEditorContext.vue
  frontend/src/components/Quickstart.vue
  frontend/src/components/SensitiveData/SensitiveColumnView.vue
  frontend/src/components/SlowQuery/Settings/SlowQuerySettings.vue
  frontend/src/components/TransferDatabaseForm.vue
  frontend/src/components/TransferDatabaseForm/TransferSourceSelector.vue
  frontend/src/components/v2/Select/InstanceSelect.vue
  frontend/src/layouts/InstanceLayout.vue
  frontend/src/store/modules/v1/issue.ts
  frontend/src/store/modules/v1/plan.ts
  frontend/src/types/v1/instance.ts
  frontend/src/utils/sqlEditor.ts
  frontend/src/utils/v1/instance.ts
  frontend/src/views/DashboardHeader.vue
  frontend/src/views/sql-editor/AsidePanel/GutterBar/GutterBar.vue
  frontend/src/views/sql-editor/AsidePanel/HistoryPane/HistoryConnectionIcon.vue
  frontend/src/views/sql-editor/ConnectionPanel/ConnectionPane/ConnectionPane.vue
  frontend/src/views/sql-editor/EditorCommon/ConnectionPathBar.vue
  frontend/src/views/sql-editor/EditorCommon/ReadonlyDatasourceHint.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/SingleResultViewV1.vue
  frontend/src/views/sql-editor/TabList/TabItem/AdminLabel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: refactor DatabaseSelect
  frontend/src/components/Branch/BaselineSchemaSelector.vue
  frontend/src/components/Branch/BranchRebaseView/BranchRebaseView.vue
  frontend/src/components/Branch/BranchRebaseView/RebaseBranchSelect.vue
  frontend/src/components/Branch/BranchRebaseView/RebaseBranchValidationStateView.vue
  frontend/src/components/Branch/BranchRebaseView/SelectBranchStep.vue
  frontend/src/components/Branch/BranchRolloutView/BranchRolloutView.vue
  frontend/src/components/Changelist/ChangelistDetail/AddChangePanel/form/ChangeHistoryForm.vue
  frontend/src/components/SQLReview/SQLReviewInfo.vue
  frontend/src/components/SensitiveData/SensitiveColumnView.vue
  frontend/src/components/SyncDatabaseSchema/DatabaseSchemaSelector.vue
  frontend/src/components/v2/Select/DatabaseSelect.vue
  frontend/src/components/v2/Select/EnvironmentSelect.vue
  frontend/src/components/v2/Select/InstanceSelect.vue
  frontend/src/components/v2/Select/ProjectSelect.vue
  frontend/src/types/v1/database.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update project iam policy API
  backend/api/v1/audit.go
  backend/api/v1/ctx.go
  backend/api/v1/project_service.go
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/v1/iam_policy.ts
  frontend/src/types/proto/v1/project_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/iam_policy.pb.go
  proto/generated-go/v1/project_service.pb.go
  proto/generated-go/v1/project_service.pb.gw.go
  proto/v1/iam_policy.proto
  proto/v1/project_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: update
  frontend/src/store/modules/v1/projectIamPolicy.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/store/modules/v1/projectIamPolicy.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update project iam policy API (#12790)
  backend/api/v1/audit.go
  backend/api/v1/ctx.go
  backend/api/v1/project_service.go
  frontend/src/store/modules/v1/projectIamPolicy.ts
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/v1/iam_policy.ts
  frontend/src/types/proto/v1/project_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/iam_policy.pb.go
  proto/generated-go/v1/project_service.pb.go
  proto/generated-go/v1/project_service.pb.gw.go
  proto/v1/iam_policy.proto
  proto/v1/project_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: update project iam policy API (#12790)
  backend/api/v1/audit.go
  backend/api/v1/ctx.go
  backend/api/v1/project_service.go
  frontend/src/store/modules/v1/projectIamPolicy.ts
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/v1/iam_policy.ts
  frontend/src/types/proto/v1/project_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/iam_policy.pb.go
  proto/generated-go/v1/project_service.pb.go
  proto/generated-go/v1/project_service.pb.gw.go
  proto/v1/iam_policy.proto
  proto/v1/project_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: update project iam policy API (#12790)
  backend/api/v1/audit.go
  backend/api/v1/ctx.go
  backend/api/v1/project_service.go
  frontend/src/store/modules/v1/projectIamPolicy.ts
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/v1/iam_policy.ts
  frontend/src/types/proto/v1/project_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/iam_policy.pb.go
  proto/generated-go/v1/project_service.pb.go
  proto/generated-go/v1/project_service.pb.gw.go
  proto/v1/iam_policy.proto
  proto/v1/project_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: remove unused activity store proto
  frontend/src/types/proto/store/activity.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/activity.pb.go
  proto/store/activity.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: workspace IAM policy API
  frontend/src/types/proto/v1/iam_policy.ts
  frontend/src/types/proto/v1/org_policy_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/iam_policy.pb.go
  proto/generated-go/v1/org_policy_service.pb.go
  proto/generated-go/v1/org_policy_service.pb.gw.go
  proto/generated-go/v1/org_policy_service_grpc.pb.go
  proto/v1/iam_policy.proto
  proto/v1/org_policy_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: show rule payload
  frontend/src/components/IssueV1/components/PlanCheckSection/PlanCheckBar/PlanCheckDetail.vue
  frontend/src/components/Plan/components/PlanCheckSection/PlanCheckBar/PlanCheckDetail.vue
  frontend/src/components/SQLReview/components/RuleConfigComponents/BooleanComponent.vue
  frontend/src/components/SQLReview/components/RuleConfigComponents/RuleConfig.vue
  frontend/src/components/SQLReview/components/RuleConfigComponents/StringArrayComponent.vue
  frontend/src/components/SQLReview/components/RuleConfigComponents/TemplateComponent.vue
  frontend/src/components/SQLReview/components/RuleConfigComponents/utils.ts
  frontend/src/components/SQLReview/components/SQLReviewCategoryTabFilter.vue
  frontend/src/components/SQLReview/components/SQLRuleEditDialog.vue
  frontend/src/components/SQLReview/components/SQLRuleFilter.vue
  frontend/src/components/SQLReview/components/SQLRuleTable.vue
  frontend/src/components/SQLReview/components/useSQLRuleFilter.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove unused activity store proto (#12791)
  frontend/src/types/proto/store/activity.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/activity.pb.go
  proto/store/activity.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: remove unused activity store proto (#12791)
  frontend/src/types/proto/store/activity.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/activity.pb.go
  proto/store/activity.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: remove unused activity store proto (#12791)
  frontend/src/types/proto/store/activity.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/activity.pb.go
  proto/store/activity.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: workspace IAM policy API (#12792)
  frontend/src/types/proto/v1/iam_policy.ts
  frontend/src/types/proto/v1/org_policy_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/iam_policy.pb.go
  proto/generated-go/v1/org_policy_service.pb.go
  proto/generated-go/v1/org_policy_service.pb.gw.go
  proto/generated-go/v1/org_policy_service_grpc.pb.go
  proto/v1/iam_policy.proto
  proto/v1/org_policy_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: workspace IAM policy API (#12792)
  frontend/src/types/proto/v1/iam_policy.ts
  frontend/src/types/proto/v1/org_policy_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/iam_policy.pb.go
  proto/generated-go/v1/org_policy_service.pb.go
  proto/generated-go/v1/org_policy_service.pb.gw.go
  proto/generated-go/v1/org_policy_service_grpc.pb.go
  proto/v1/iam_policy.proto
  proto/v1/org_policy_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: workspace IAM policy API (#12792)
  frontend/src/types/proto/v1/iam_policy.ts
  frontend/src/types/proto/v1/org_policy_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/iam_policy.pb.go
  proto/generated-go/v1/org_policy_service.pb.go
  proto/generated-go/v1/org_policy_service.pb.gw.go
  proto/generated-go/v1/org_policy_service_grpc.pb.go
  proto/v1/iam_policy.proto
  proto/v1/org_policy_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

fix: eslint
  frontend/src/components/SQLReview/components/SQLRuleTable.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: show rule payload (#12793)
  frontend/src/components/IssueV1/components/PlanCheckSection/PlanCheckBar/PlanCheckDetail.vue
  frontend/src/components/Plan/components/PlanCheckSection/PlanCheckBar/PlanCheckDetail.vue
  frontend/src/components/SQLReview/components/RuleConfigComponents/BooleanComponent.vue
  frontend/src/components/SQLReview/components/RuleConfigComponents/RuleConfig.vue
  frontend/src/components/SQLReview/components/RuleConfigComponents/StringArrayComponent.vue
  frontend/src/components/SQLReview/components/RuleConfigComponents/TemplateComponent.vue
  frontend/src/components/SQLReview/components/RuleConfigComponents/utils.ts
  frontend/src/components/SQLReview/components/SQLReviewAttachResourcesPanel.vue
  frontend/src/components/SQLReview/components/SQLReviewCategoryTabFilter.vue
  frontend/src/components/SQLReview/components/SQLRuleEditDialog.vue
  frontend/src/components/SQLReview/components/SQLRuleFilter.vue
  frontend/src/components/SQLReview/components/SQLRuleTable.vue
  frontend/src/components/SQLReview/components/useSQLRuleFilter.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: show rule payload (#12793)
  frontend/src/components/IssueV1/components/PlanCheckSection/PlanCheckBar/PlanCheckDetail.vue
  frontend/src/components/Plan/components/PlanCheckSection/PlanCheckBar/PlanCheckDetail.vue
  frontend/src/components/SQLReview/components/RuleConfigComponents/BooleanComponent.vue
  frontend/src/components/SQLReview/components/RuleConfigComponents/RuleConfig.vue
  frontend/src/components/SQLReview/components/RuleConfigComponents/StringArrayComponent.vue
  frontend/src/components/SQLReview/components/RuleConfigComponents/TemplateComponent.vue
  frontend/src/components/SQLReview/components/RuleConfigComponents/utils.ts
  frontend/src/components/SQLReview/components/SQLReviewAttachResourcesPanel.vue
  frontend/src/components/SQLReview/components/SQLReviewCategoryTabFilter.vue
  frontend/src/components/SQLReview/components/SQLRuleEditDialog.vue
  frontend/src/components/SQLReview/components/SQLRuleFilter.vue
  frontend/src/components/SQLReview/components/SQLRuleTable.vue
  frontend/src/components/SQLReview/components/useSQLRuleFilter.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: show rule payload (#12793)
  frontend/src/components/IssueV1/components/PlanCheckSection/PlanCheckBar/PlanCheckDetail.vue
  frontend/src/components/Plan/components/PlanCheckSection/PlanCheckBar/PlanCheckDetail.vue
  frontend/src/components/SQLReview/components/RuleConfigComponents/BooleanComponent.vue
  frontend/src/components/SQLReview/components/RuleConfigComponents/RuleConfig.vue
  frontend/src/components/SQLReview/components/RuleConfigComponents/StringArrayComponent.vue
  frontend/src/components/SQLReview/components/RuleConfigComponents/TemplateComponent.vue
  frontend/src/components/SQLReview/components/RuleConfigComponents/utils.ts
  frontend/src/components/SQLReview/components/SQLReviewAttachResourcesPanel.vue
  frontend/src/components/SQLReview/components/SQLReviewCategoryTabFilter.vue
  frontend/src/components/SQLReview/components/SQLRuleEditDialog.vue
  frontend/src/components/SQLReview/components/SQLRuleFilter.vue
  frontend/src/components/SQLReview/components/SQLRuleTable.vue
  frontend/src/components/SQLReview/components/useSQLRuleFilter.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: merge main conflict
  frontend/src/components/SQLReview/components/SQLReviewAttachResourcesPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: merge main conflict (#12794)
  frontend/src/components/SQLReview/components/SQLReviewAttachResourcesPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: merge main conflict (#12794)
  frontend/src/components/SQLReview/components/SQLReviewAttachResourcesPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: merge main conflict (#12794)
  frontend/src/components/SQLReview/components/SQLReviewAttachResourcesPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: change data
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseOperations.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: change data (#12795)
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseOperations.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: change data (#12795)
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseOperations.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: change data (#12795)
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseOperations.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix projectUID use case
  frontend/src/components/v2/Select/UserSelect.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix projectUID use case (#12796)
  frontend/src/components/v2/Select/UserSelect.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix projectUID use case (#12796)
  frontend/src/components/v2/Select/UserSelect.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix projectUID use case (#12796)
  frontend/src/components/v2/Select/UserSelect.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix
  frontend/src/components/SyncDatabaseSchema/DatabaseSchemaSelector.vue
  frontend/src/components/SyncDatabaseSchema/index.vue
  frontend/src/components/SyncDatabaseSchema/types.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix
  frontend/src/types/v1/database.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(frontend): refactor database.uid use cases (first attempt) (#12797)
  frontend/src/components/Branch/BaselineSchemaSelector.vue
  frontend/src/components/Branch/BranchRebaseView/BranchRebaseView.vue
  frontend/src/components/Branch/BranchRebaseView/RebaseBranchSelect.vue
  frontend/src/components/Branch/BranchRebaseView/RebaseBranchValidationStateView.vue
  frontend/src/components/Branch/BranchRebaseView/SelectBranchStep.vue
  frontend/src/components/Branch/BranchRolloutView/BranchRolloutView.vue
  frontend/src/components/Changelist/ChangelistDetail/AddChangePanel/form/ChangeHistoryForm.vue
  frontend/src/components/SQLReview/SQLReviewInfo.vue
  frontend/src/components/SensitiveData/SensitiveColumnView.vue
  frontend/src/components/SyncDatabaseSchema/DatabaseSchemaSelector.vue
  frontend/src/components/SyncDatabaseSchema/index.vue
  frontend/src/components/SyncDatabaseSchema/types.ts
  frontend/src/components/v2/Select/DatabaseSelect.vue
  frontend/src/components/v2/Select/EnvironmentSelect.vue
  frontend/src/components/v2/Select/InstanceSelect.vue
  frontend/src/components/v2/Select/ProjectSelect.vue
  frontend/src/types/v1/database.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(frontend): refactor database.uid use cases (first attempt) (#12797)
  frontend/src/components/Branch/BaselineSchemaSelector.vue
  frontend/src/components/Branch/BranchRebaseView/BranchRebaseView.vue
  frontend/src/components/Branch/BranchRebaseView/RebaseBranchSelect.vue
  frontend/src/components/Branch/BranchRebaseView/RebaseBranchValidationStateView.vue
  frontend/src/components/Branch/BranchRebaseView/SelectBranchStep.vue
  frontend/src/components/Branch/BranchRolloutView/BranchRolloutView.vue
  frontend/src/components/Changelist/ChangelistDetail/AddChangePanel/form/ChangeHistoryForm.vue
  frontend/src/components/SQLReview/SQLReviewInfo.vue
  frontend/src/components/SensitiveData/SensitiveColumnView.vue
  frontend/src/components/SyncDatabaseSchema/DatabaseSchemaSelector.vue
  frontend/src/components/SyncDatabaseSchema/index.vue
  frontend/src/components/SyncDatabaseSchema/types.ts
  frontend/src/components/v2/Select/DatabaseSelect.vue
  frontend/src/components/v2/Select/EnvironmentSelect.vue
  frontend/src/components/v2/Select/InstanceSelect.vue
  frontend/src/components/v2/Select/ProjectSelect.vue
  frontend/src/types/v1/database.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev
