Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev

chore: do not use read only txn for mariadb 5.5 (#10392)
  backend/plugin/db/mysql/dump.go
  backend/plugin/db/mysql/restore.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: do not use read only txn for mariadb 5.5 (#10392)
  backend/plugin/db/mysql/dump.go
  backend/plugin/db/mysql/restore.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: do not use read only txn for mariadb 5.5 (#10392)
  backend/plugin/db/mysql/dump.go
  backend/plugin/db/mysql/restore.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

refactor: simplify the permission check for project iam policy (#10391)
  frontend/src/components/ProjectMember/ProjectMemberPanel.vue
  frontend/src/components/ProjectMember/ProjectMemberTable/ProjectMemberRolePanel.vue
  frontend/src/components/ProjectMember/ProjectMemberTable/ProjectMemberTable.vue
  frontend/src/components/ProjectMember/ProjectRoleTable/EditProjectRolePanel.vue
  frontend/src/components/ProjectMember/ProjectRoleTable/ProjectRoleTable.vue
  frontend/src/views/project/ProjectMemberDashboard.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

refactor: simplify the permission check for project iam policy (#10391)
  frontend/src/components/ProjectMember/ProjectMemberPanel.vue
  frontend/src/components/ProjectMember/ProjectMemberTable/ProjectMemberRolePanel.vue
  frontend/src/components/ProjectMember/ProjectMemberTable/ProjectMemberTable.vue
  frontend/src/components/ProjectMember/ProjectRoleTable/EditProjectRolePanel.vue
  frontend/src/components/ProjectMember/ProjectRoleTable/ProjectRoleTable.vue
  frontend/src/views/project/ProjectMemberDashboard.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

refactor: simplify the permission check for project iam policy (#10391)
  frontend/src/components/ProjectMember/ProjectMemberPanel.vue
  frontend/src/components/ProjectMember/ProjectMemberTable/ProjectMemberRolePanel.vue
  frontend/src/components/ProjectMember/ProjectMemberTable/ProjectMemberTable.vue
  frontend/src/components/ProjectMember/ProjectRoleTable/EditProjectRolePanel.vue
  frontend/src/components/ProjectMember/ProjectRoleTable/ProjectRoleTable.vue
  frontend/src/views/project/ProjectMemberDashboard.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: wrong assignment for userComment
  frontend/src/utils/schemaEditor/filter.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: do not write null in get design schema for mysql
  backend/plugin/schema/mysql/get_design_schema.go
  backend/plugin/schema/mysql/get_design_schema_test.go
  backend/plugin/schema/mysql/state.go
  backend/plugin/schema/mysql/testdata/get_design_schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update
  backend/plugin/schema/mysql/get_design_schema_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: only block if advices contain error
  frontend/src/components/SQLCheck/SQLCheckPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: only block if advices contain error (#10394)
  frontend/src/components/SQLCheck/SQLCheckPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: only block if advices contain error (#10394)
  frontend/src/components/SQLCheck/SQLCheckPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: only block if advices contain error (#10394)
  frontend/src/components/SQLCheck/SQLCheckPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: wrong assignment for userComment (#10395)
  frontend/src/utils/schemaEditor/filter.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: wrong assignment for userComment (#10395)
  frontend/src/utils/schemaEditor/filter.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: wrong assignment for userComment (#10395)
  frontend/src/utils/schemaEditor/filter.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: only block if advices contain error
  frontend/src/components/SQLCheck/SQLCheckPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  backend/plugin/schema/mysql/state.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore(structurer): do not write null in get design schema for mysql (#10393)
  backend/plugin/schema/mysql/get_design_schema.go
  backend/plugin/schema/mysql/state.go
  backend/plugin/schema/mysql/testdata/get_design_schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore(structurer): do not write null in get design schema for mysql (#10393)
  backend/plugin/schema/mysql/get_design_schema.go
  backend/plugin/schema/mysql/state.go
  backend/plugin/schema/mysql/testdata/get_design_schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore(structurer): do not write null in get design schema for mysql (#10393)
  backend/plugin/schema/mysql/get_design_schema.go
  backend/plugin/schema/mysql/state.go
  backend/plugin/schema/mysql/testdata/get_design_schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: if
  backend/api/v1/sql_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

refactor: use slices.Contains
  backend/api/v1/sql_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: improve error message for query span type not supported
  backend/plugin/parser/base/interface.go
  backend/plugin/parser/errors/resources.go
  backend/plugin/parser/pg/query_span_extractor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

eval cel
  backend/api/v1/sql_service.go
  backend/api/v1/sql_service_v2.go
  backend/component/iam/manager.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  backend/plugin/parser/pg/query_span_extractor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: eval cel in sql service (#10398)
  backend/api/v1/sql_service.go
  backend/api/v1/sql_service_v2.go
  backend/component/iam/manager.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: eval cel in sql service (#10398)
  backend/api/v1/sql_service.go
  backend/api/v1/sql_service_v2.go
  backend/component/iam/manager.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: eval cel in sql service (#10398)
  backend/api/v1/sql_service.go
  backend/api/v1/sql_service_v2.go
  backend/component/iam/manager.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: using new base as baseline in get design schema
  backend/api/v1/branch_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore(query-span): improve error message for query span type not supported (#10397)
  backend/plugin/parser/base/interface.go
  backend/plugin/parser/errors/resources.go
  backend/plugin/parser/pg/query_span_extractor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore(query-span): improve error message for query span type not supported (#10397)
  backend/plugin/parser/base/interface.go
  backend/plugin/parser/errors/resources.go
  backend/plugin/parser/pg/query_span_extractor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore(query-span): improve error message for query span type not supported (#10397)
  backend/plugin/parser/base/interface.go
  backend/plugin/parser/errors/resources.go
  backend/plugin/parser/pg/query_span_extractor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: using new base as baseline in get design schema (#10400)
  backend/api/v1/branch_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: using new base as baseline in get design schema (#10400)
  backend/api/v1/branch_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: using new base as baseline in get design schema (#10400)
  backend/api/v1/branch_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

refactor: simply the setting permission check
  frontend/src/components/GeneralSetting/AIAugmentationSetting.vue
  frontend/src/components/GeneralSetting/AnnouncementSetting.vue
  frontend/src/components/GeneralSetting/BrandingSetting.vue
  frontend/src/components/GeneralSetting/NetworkSetting.vue
  frontend/src/components/GeneralSetting/SecuritySetting.vue
  frontend/src/components/GeneralSetting/SignInFrequencySetting.vue
  frontend/src/components/SchemaTemplate/FieldTemplateForm.vue
  frontend/src/components/SchemaTemplate/TableTemplateForm.vue
  frontend/src/layouts/SettingLayout.vue
  frontend/src/views/SettingWorkspaceCustomApproval.vue
  frontend/src/views/SettingWorkspaceGeneral.vue
  frontend/src/views/SettingWorkspaceMailDelivery.vue
  frontend/src/views/SettingWorkspaceSchemaTemplate.vue
  frontend/src/views/SettingWorkspaceSubscription.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: allow anyone/assignee to update issue subscribers/assignee
  backend/api/v1/issue_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: wording
  frontend/src/components/Branch/BranchRebaseView/RebaseBranchStep.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: allow anyone/assignee to update issue subscribers/assignee (#10402)
  backend/api/v1/issue_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev
