Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev

chore: redact user (#11879)
  backend/api/v1/audit.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: redact user (#11879)
  backend/api/v1/audit.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat(sql-review): new rule for checking fully qualified object name (#11860)
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/code.go
  backend/plugin/advisor/config/sql-review.prod.yaml
  backend/plugin/advisor/mssql/mssql_rules_test.go
  backend/plugin/advisor/mysql/mysql_rules_test.go
  backend/plugin/advisor/oracle/oracle_rules_test.go
  backend/plugin/advisor/pg/advisor_naming_fully_qualified.go
  backend/plugin/advisor/pg/pg_rules_test.go
  backend/plugin/advisor/pg/test/naming_fully_qualified.yaml
  backend/plugin/advisor/snowflake/snowflake_rules_test.go
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/tidb/tidb_rules_test.go
  backend/plugin/advisor/utils_for_tests.go
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/types/sql-review-schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

feat(sql-review): new rule for checking fully qualified object name (#11860)
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/code.go
  backend/plugin/advisor/config/sql-review.prod.yaml
  backend/plugin/advisor/mssql/mssql_rules_test.go
  backend/plugin/advisor/mysql/mysql_rules_test.go
  backend/plugin/advisor/oracle/oracle_rules_test.go
  backend/plugin/advisor/pg/advisor_naming_fully_qualified.go
  backend/plugin/advisor/pg/pg_rules_test.go
  backend/plugin/advisor/pg/test/naming_fully_qualified.yaml
  backend/plugin/advisor/snowflake/snowflake_rules_test.go
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/tidb/tidb_rules_test.go
  backend/plugin/advisor/utils_for_tests.go
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/types/sql-review-schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

feat(sql-review): new rule for checking fully qualified object name (#11860)
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/code.go
  backend/plugin/advisor/config/sql-review.prod.yaml
  backend/plugin/advisor/mssql/mssql_rules_test.go
  backend/plugin/advisor/mysql/mysql_rules_test.go
  backend/plugin/advisor/oracle/oracle_rules_test.go
  backend/plugin/advisor/pg/advisor_naming_fully_qualified.go
  backend/plugin/advisor/pg/pg_rules_test.go
  backend/plugin/advisor/pg/test/naming_fully_qualified.yaml
  backend/plugin/advisor/snowflake/snowflake_rules_test.go
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/tidb/tidb_rules_test.go
  backend/plugin/advisor/utils_for_tests.go
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/types/sql-review-schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore(sql-review): append fullt-qualified-object-name to dev template
  backend/plugin/advisor/config/sql-review.dev.yaml
  backend/plugin/advisor/pg/advisor_naming_fully_qualified.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update sql view in data table
  frontend/src/components/Database/DatabaseOverviewPanel.vue
  frontend/src/components/EllipsisSQLView.vue
  frontend/src/components/FunctionDataTable.vue
  frontend/src/components/ViewDataTable.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: first commit
  backend/plugin/advisor/pg/advisor_statement_disallow_on_del_cascade.go
  backend/plugin/advisor/pg/advisor_statement_disallow_truncate_table_cascade.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update sql view in data table (#11881)
  frontend/src/components/Database/DatabaseOverviewPanel.vue
  frontend/src/components/EllipsisSQLView.vue
  frontend/src/components/FunctionDataTable.vue
  frontend/src/components/ViewDataTable.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update sql view in data table (#11881)
  frontend/src/components/Database/DatabaseOverviewPanel.vue
  frontend/src/components/EllipsisSQLView.vue
  frontend/src/components/FunctionDataTable.vue
  frontend/src/components/ViewDataTable.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update sql view in data table (#11881)
  frontend/src/components/Database/DatabaseOverviewPanel.vue
  frontend/src/components/EllipsisSQLView.vue
  frontend/src/components/FunctionDataTable.vue
  frontend/src/components/ViewDataTable.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

proto comment
  proto/v1/sql_service.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

chore(sql-review): append fullt-qualified-object-name to dev template (#11880)
  backend/plugin/advisor/config/sql-review.dev.yaml
  backend/plugin/advisor/pg/advisor_naming_fully_qualified.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore(sql-review): append fullt-qualified-object-name to dev template (#11880)
  backend/plugin/advisor/config/sql-review.dev.yaml
  backend/plugin/advisor/pg/advisor_naming_fully_qualified.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore(sql-review): append fullt-qualified-object-name to dev template (#11880)
  backend/plugin/advisor/config/sql-review.dev.yaml
  backend/plugin/advisor/pg/advisor_naming_fully_qualified.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

buf gen
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/sql_service.pb.go
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

fix: export request project id
  backend/api/v1/ctx.go
  backend/api/v1/sql_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: only the issue creator can download
  backend/api/v1/sql_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: export request project id (#11882)
  backend/api/v1/ctx.go
  backend/api/v1/sql_service.go
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/sql_service.pb.go
  proto/v1/sql_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

fix: export request project id (#11882)
  backend/api/v1/ctx.go
  backend/api/v1/sql_service.go
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/sql_service.pb.go
  proto/v1/sql_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

fix: export request project id (#11882)
  backend/api/v1/ctx.go
  backend/api/v1/sql_service.go
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/sql_service.pb.go
  proto/v1/sql_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

fix: export request project id (#11882)
  backend/api/v1/ctx.go
  backend/api/v1/sql_service.go
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/sql_service.pb.go
  proto/v1/sql_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

fix: export request project id (#11882) (#11883)
  backend/api/v1/ctx.go
  backend/api/v1/sql_service.go
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/sql_service.pb.go
  proto/v1/sql_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

fix: export request project id (#11882) (#11883)
  backend/api/v1/ctx.go
  backend/api/v1/sql_service.go
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/sql_service.pb.go
  proto/v1/sql_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

fix: export request project id (#11882) (#11883)
  backend/api/v1/ctx.go
  backend/api/v1/sql_service.go
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/sql_service.pb.go
  proto/v1/sql_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: separate rule for TRUNCATE CASCADING in backend
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/pg/advisor_statement_disallow_on_del_cascade.go
  backend/plugin/advisor/pg/advisor_statement_disallow_rm_tbl_cascade.go
  backend/plugin/advisor/pg/pg_rules_test.go
  backend/plugin/advisor/pg/test/statement_disallow_on_del_cascade.yaml
  backend/plugin/advisor/pg/test/statement_disallow_rm_tbl_cascade.yaml
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/utils_for_tests.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: improve Restrict adding \"NOT NULL\" constraint to existing columns wording
  frontend/src/locales/sql-review/en-US.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix gitops issue demo data (#11886)
  backend/demo/data/default/dump.sql.REMOVED.git-id
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: add i18n
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: improve Restrict adding \"NOT NULL\" constraint to existing columns rule explanation (#11884)
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: improve Restrict adding \"NOT NULL\" constraint to existing columns rule explanation (#11884)
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: improve Restrict adding \"NOT NULL\" constraint to existing columns rule explanation (#11884)
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update err msg
  frontend/src/grpcweb/middlewares/errorNotificationMiddleware.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  backend/plugin/advisor/config/sql-review.dev.yaml
  backend/plugin/advisor/config/sql-review.prod.yaml
  backend/plugin/advisor/sql_review.go
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/types/sql-review-schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: update err msg (#11904)
  frontend/src/grpcweb/middlewares/errorNotificationMiddleware.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update err msg (#11904)
  frontend/src/grpcweb/middlewares/errorNotificationMiddleware.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update err msg (#11904)
  frontend/src/grpcweb/middlewares/errorNotificationMiddleware.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/types/sql-review-schema.yaml
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: frontend fix and update
  frontend/src/components/InstanceForm/DataSourceSection/CreateDataSourceExample.vue
  frontend/src/components/InstanceForm/DataSourceSection/DataSourceSection.vue
  frontend/src/components/InstanceForm/InstanceForm.vue
  frontend/src/components/ProvideInstanceContext.vue
  frontend/src/components/User/Settings/CreateUserDrawer.vue
  frontend/src/layouts/InstanceLayout.vue
  frontend/src/types/v1/dataSource.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: typo
  backend/plugin/advisor/config/sql-review.dev.yaml
  backend/plugin/advisor/config/sql-review.prod.yaml
  frontend/src/types/sql-review-schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack
