Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

chore: support set database group in connector (#11458)
  backend/api/gitops/webhook.go
  backend/api/v1/vcs_connector_service.go
  backend/store/vcs_connector.go
  frontend/src/components/RepositoryForm.vue
  frontend/src/components/RepositoryPanel.vue
  frontend/src/components/RepositorySetupWizard.vue
  frontend/src/components/v2/Select/DatabaseGroupSelect.vue
  frontend/src/components/v2/Select/index.ts
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/proto/store/vcs.ts
  frontend/src/types/proto/v1/vcs_connector_service.ts
  frontend/src/types/repository.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/vcs.pb.go
  proto/generated-go/v1/vcs_connector_service.pb.go
  proto/store/vcs.proto
  proto/v1/vcs_connector_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

fix test
  backend/plugin/parser/tsql/query_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix(hive): typo and dump
  backend/plugin/db/hive/dump.go
  backend/plugin/db/hive/hive.go
  backend/plugin/db/hive/sync.go
  frontend/src/utils/v1/instance.ts
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

fix test (#11461)
  backend/plugin/parser/tsql/query_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix test (#11461)
  backend/plugin/parser/tsql/query_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix test (#11461)
  backend/plugin/parser/tsql/query_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

store/issue_comment
  backend/store/issue_comment.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  backend/plugin/db/hive/dump.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

set updater_id
  backend/store/issue_comment.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix(hive): typo and dump (#11462)
  backend/plugin/db/hive/dump.go
  backend/plugin/db/hive/hive.go
  backend/plugin/db/hive/sync.go
  frontend/src/utils/v1/instance.ts
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

fix(hive): typo and dump (#11462)
  backend/plugin/db/hive/dump.go
  backend/plugin/db/hive/hive.go
  backend/plugin/db/hive/sync.go
  frontend/src/utils/v1/instance.ts
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

fix(hive): typo and dump (#11462)
  backend/plugin/db/hive/dump.go
  backend/plugin/db/hive/hive.go
  backend/plugin/db/hive/sync.go
  frontend/src/utils/v1/instance.ts
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: reduce padding
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataBlock.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: store/issue_comment (#11463)
  backend/store/issue_comment.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: store/issue_comment (#11463)
  backend/store/issue_comment.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: store/issue_comment (#11463)
  backend/store/issue_comment.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore(sql-review): add column type disallow list for SQL Server
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/mssql/advisor_column_type_disallow_list.go
  backend/plugin/advisor/mssql/mssql_rules_test.go
  backend/plugin/advisor/mssql/test/column_type_disallow_list.yaml
  backend/plugin/advisor/sql_review.go
  frontend/src/types/sql-review-schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: reduce padding (#11465)
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataBlock.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: reduce padding (#11465)
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataBlock.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: reduce padding (#11465)
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataBlock.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(sql-review): add column type disallow list for SQL Server (#11470)
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/mssql/advisor_column_type_disallow_list.go
  backend/plugin/advisor/mssql/mssql_rules_test.go
  backend/plugin/advisor/mssql/test/column_type_disallow_list.yaml
  backend/plugin/advisor/sql_review.go
  frontend/src/types/sql-review-schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore(sql-review): add column type disallow list for SQL Server (#11470)
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/mssql/advisor_column_type_disallow_list.go
  backend/plugin/advisor/mssql/mssql_rules_test.go
  backend/plugin/advisor/mssql/test/column_type_disallow_list.yaml
  backend/plugin/advisor/sql_review.go
  frontend/src/types/sql-review-schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore(sql-review): add column type disallow list for SQL Server (#11470)
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/mssql/advisor_column_type_disallow_list.go
  backend/plugin/advisor/mssql/mssql_rules_test.go
  backend/plugin/advisor/mssql/test/column_type_disallow_list.yaml
  backend/plugin/advisor/sql_review.go
  frontend/src/types/sql-review-schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

testnet.file
  testnet.file
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: retire connection tab
  frontend/src/views/sql-editor/AsidePanel/GutterBar/TabItem.vue
  frontend/src/views/sql-editor/context.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: automate i18n translation
  frontend/.gitignore
  frontend/i18n.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: lint
  frontend/src/views/sql-editor/AsidePanel/GutterBar/TabItem.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: lint
  frontend/src/views/sql-editor/AsidePanel/GutterBar/TabItem.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: automate i18n translation (#11473)
  frontend/.gitignore
  frontend/i18n.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: automate i18n translation (#11473)
  frontend/.gitignore
  frontend/i18n.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: automate i18n translation (#11473)
  frontend/.gitignore
  frontend/i18n.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: iterate i18n key in sequential order
  frontend/i18n.ts
  frontend/package.json
  frontend/tsconfig.i18n.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: iterate i18n key in sequential order (#11474)
  frontend/i18n.ts
  frontend/package.json
  frontend/tsconfig.i18n.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: iterate i18n key in sequential order (#11474)
  frontend/i18n.ts
  frontend/package.json
  frontend/tsconfig.i18n.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: iterate i18n key in sequential order (#11474)
  frontend/i18n.ts
  frontend/package.json
  frontend/tsconfig.i18n.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: normalize locale files
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: normalize locale files (#11475)
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: normalize locale files (#11475)
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: normalize locale files (#11475)
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: GitHub comment
  backend/api/gitops/common.go
  backend/api/gitops/webhook.go
  backend/tests/fake/github.go
  backend/tests/vcs_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
