Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

chore: fix project select null (#13824)
  frontend/src/components/v2/Select/ProjectSelect.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: deprecate member table
  backend/metric/collector/member_count.go
  backend/migrator/migration/prod/2.23/0001##deprecate_member.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/store/stats.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: sync large oracle functions (#13724)
  backend/plugin/db/oracle/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: adjust truncate
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/TableCell.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: donot auto-logout in auth page
  frontend/src/main.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: donot auto-logout in auth page (#13828)
  frontend/src/main.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: donot auto-logout in auth page (#13828)
  frontend/src/main.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: donot auto-logout in auth page (#13828)
  frontend/src/main.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: donot auto-logout in auth page (#13828)
  frontend/src/main.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: deprecate member table (#13826)
  backend/metric/collector/member_count.go
  backend/migrator/migration/prod/2.23/0001##deprecate_member.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/migrator/migrator_test.go
  backend/store/stats.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: deprecate member table (#13826)
  backend/metric/collector/member_count.go
  backend/migrator/migration/prod/2.23/0001##deprecate_member.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/migrator/migrator_test.go
  backend/store/stats.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: deprecate member table (#13826)
  backend/metric/collector/member_count.go
  backend/migrator/migration/prod/2.23/0001##deprecate_member.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/migrator/migrator_test.go
  backend/store/stats.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: modal scroll
  frontend/src/components/Project/ProjectSwitchModal.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add a issue by user sample sheet (#13830)
  backend/demo/data/default/dump.sql.REMOVED.git-id
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: modal scroll (#13831)
  frontend/src/components/Project/ProjectSwitchModal.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: modal scroll (#13831)
  frontend/src/components/Project/ProjectSwitchModal.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: modal scroll (#13831)
  frontend/src/components/Project/ProjectSwitchModal.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: query span support overloaded functions
  backend/plugin/parser/pg/query_span_extractor.go
  backend/plugin/parser/pg/test-data/query_span.yaml
  backend/store/model/database.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

chore: update
  backend/plugin/parser/pg/query_span_extractor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: environment reorder BYT-6369
  frontend/src/views/sql-editor/Setting/Environment/Environment.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: double click falls back to single click BYT-6364
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/SchemaPane.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: missing feature badge
  frontend/src/views/sql-editor/EditorCommon/BatchQueryDatabasesSelector.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: cursor styles BYT-6365
  frontend/src/views/sql-editor/EditorPanel/Panels/ExternalTablesPanel/ExternalTableColumnsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ExternalTablesPanel/ExternalTablesTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/FunctionsPanel/FunctionsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ProceduresPanel/ProceduresTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/ColumnsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/ForeignKeysTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/IndexesTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/PartitionsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/TablesTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ViewsPanel/ColumnsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ViewsPanel/DependentColumnsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ViewsPanel/ViewsTable.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: move the no-db banner from deployment config to database panel
  frontend/src/components/DeploymentConfigTool/DeploymentMatrix.vue
  frontend/src/components/ProjectDatabasesPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: PostgreSQL query span support overloaded functions (#13832)
  backend/plugin/parser/pg/query_span_extractor.go
  backend/plugin/parser/pg/test-data/query_span.yaml
  backend/store/model/database.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

feat: PostgreSQL query span support overloaded functions (#13832)
  backend/plugin/parser/pg/query_span_extractor.go
  backend/plugin/parser/pg/test-data/query_span.yaml
  backend/store/model/database.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

feat: PostgreSQL query span support overloaded functions (#13832)
  backend/plugin/parser/pg/query_span_extractor.go
  backend/plugin/parser/pg/test-data/query_span.yaml
  backend/store/model/database.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

chore: move the no-db banner from deployment config to database panel (#13834)
  frontend/src/components/DeploymentConfigTool/DeploymentMatrix.vue
  frontend/src/components/ProjectDatabasesPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: move the no-db banner from deployment config to database panel (#13834)
  frontend/src/components/DeploymentConfigTool/DeploymentMatrix.vue
  frontend/src/components/ProjectDatabasesPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: move the no-db banner from deployment config to database panel (#13834)
  frontend/src/components/DeploymentConfigTool/DeploymentMatrix.vue
  frontend/src/components/ProjectDatabasesPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(sql-editor): some minor fixes (#13833)
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/SchemaPane.vue
  frontend/src/views/sql-editor/EditorCommon/BatchQueryDatabasesSelector.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ExternalTablesPanel/ExternalTableColumnsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ExternalTablesPanel/ExternalTablesTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/FunctionsPanel/FunctionsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ProceduresPanel/ProceduresTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/ColumnsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/ForeignKeysTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/IndexesTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/PartitionsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/TablesTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ViewsPanel/ColumnsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ViewsPanel/DependentColumnsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ViewsPanel/ViewsTable.vue
  frontend/src/views/sql-editor/Setting/Environment/Environment.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(sql-editor): some minor fixes (#13833)
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/SchemaPane.vue
  frontend/src/views/sql-editor/EditorCommon/BatchQueryDatabasesSelector.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ExternalTablesPanel/ExternalTableColumnsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ExternalTablesPanel/ExternalTablesTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/FunctionsPanel/FunctionsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ProceduresPanel/ProceduresTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/ColumnsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/ForeignKeysTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/IndexesTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/PartitionsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/TablesTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ViewsPanel/ColumnsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ViewsPanel/DependentColumnsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ViewsPanel/ViewsTable.vue
  frontend/src/views/sql-editor/Setting/Environment/Environment.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(sql-editor): some minor fixes (#13833)
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/SchemaPane.vue
  frontend/src/views/sql-editor/EditorCommon/BatchQueryDatabasesSelector.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ExternalTablesPanel/ExternalTableColumnsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ExternalTablesPanel/ExternalTablesTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/FunctionsPanel/FunctionsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ProceduresPanel/ProceduresTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/ColumnsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/ForeignKeysTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/IndexesTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/PartitionsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/TablesTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ViewsPanel/ColumnsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ViewsPanel/DependentColumnsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ViewsPanel/ViewsTable.vue
  frontend/src/views/sql-editor/Setting/Environment/Environment.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(sql-editor): SQL Editor data table performance optimization (#13822)
  frontend/src/utils/dom.ts
  frontend/src/utils/index.ts
  frontend/src/utils/naive-ui.ts
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/ColumnHeader.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/ColumnSortedIcon.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/DataTableLite.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/SensitiveDataIcon.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/TableCell.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/index.ts
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/useTableResize.ts
  frontend/src/views/sql-editor/EditorCommon/ResultView/ResultViewV1.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/SingleResultViewV1.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ExternalTablesPanel/ExternalTableColumnsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ExternalTablesPanel/ExternalTablesTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/FunctionsPanel/FunctionsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ProceduresPanel/ProceduresTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/ColumnsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/ForeignKeysTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/IndexesTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/PartitionsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/TablesTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ViewsPanel/ColumnsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ViewsPanel/DependentColumnsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ViewsPanel/ViewsTable.vue
  frontend/src/views/sql-editor/EditorPanel/common.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(sql-editor): SQL Editor data table performance optimization (#13822)
  frontend/src/utils/dom.ts
  frontend/src/utils/index.ts
  frontend/src/utils/naive-ui.ts
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/ColumnHeader.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/ColumnSortedIcon.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/DataTableLite.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/SensitiveDataIcon.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/TableCell.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/index.ts
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/useTableResize.ts
  frontend/src/views/sql-editor/EditorCommon/ResultView/ResultViewV1.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/SingleResultViewV1.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ExternalTablesPanel/ExternalTableColumnsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ExternalTablesPanel/ExternalTablesTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/FunctionsPanel/FunctionsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ProceduresPanel/ProceduresTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/ColumnsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/ForeignKeysTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/IndexesTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/PartitionsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/TablesTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ViewsPanel/ColumnsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ViewsPanel/DependentColumnsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ViewsPanel/ViewsTable.vue
  frontend/src/views/sql-editor/EditorPanel/common.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(sql-editor): SQL Editor data table performance optimization (#13822)
  frontend/src/utils/dom.ts
  frontend/src/utils/index.ts
  frontend/src/utils/naive-ui.ts
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/ColumnHeader.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/ColumnSortedIcon.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/DataTableLite.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/SensitiveDataIcon.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/TableCell.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/index.ts
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/useTableResize.ts
  frontend/src/views/sql-editor/EditorCommon/ResultView/ResultViewV1.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/SingleResultViewV1.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ExternalTablesPanel/ExternalTableColumnsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ExternalTablesPanel/ExternalTablesTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/FunctionsPanel/FunctionsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ProceduresPanel/ProceduresTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/ColumnsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/ForeignKeysTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/IndexesTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/PartitionsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/TablesTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ViewsPanel/ColumnsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ViewsPanel/DependentColumnsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ViewsPanel/ViewsTable.vue
  frontend/src/views/sql-editor/EditorPanel/common.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: render empty deployment matrix
  frontend/src/components/DeploymentConfigTool/DeploymentMatrix.vue
  frontend/src/components/DeploymentConfigTool/SelectorItemV2.vue
  frontend/src/components/TenantDatabaseTable/DeploymentMatrixDataTable.vue
  frontend/src/utils/label.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: quickstart visit member route
  frontend/src/components/Quickstart.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: quickstart visit member route (#13836)
  frontend/src/components/Quickstart.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
