Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @ecmadao, @rebelice, @LiuJi-Jim, @boojack

refactor: extract reusable logic (#5549)
  frontend/src/components/CreateDatabasePrepForm.vue
  frontend/src/utils/instance.ts
Owners: @LiuJi-Jim, @boojack

chore: remove shared sql script feature from free plan
  backend/legacyapi/plan.go
  frontend/src/locales/en-US.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/plan.ts
  frontend/src/types/plan.yaml
  frontend/src/views/sql-editor/EditorCommon/EditorAction.vue
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

chore: only check 2fa required when has feature (#5551)
  frontend/src/router/index.ts
Owners: @LiuJi-Jim, @boojack

chore: only check 2fa required when has feature (#5551)
  frontend/src/router/index.ts
Owners: @LiuJi-Jim, @boojack

chore: only check 2fa required when has feature (#5551)
  frontend/src/router/index.ts
Owners: @LiuJi-Jim, @boojack

chore: only check 2fa required when has feature
  frontend/src/router/index.ts
Owners: @LiuJi-Jim, @boojack

chore: switch the order of gitops workflow
  frontend/src/types/plan.yaml
Owners: @LiuJi-Jim, @boojack

fix: remove the oneof of activity payload
  backend/migrator/migration/prod/1.16/0001##remove_activity_payload_oneof.sql
  backend/tests/activity_store_proto_migrate_test.go
  frontend/src/types/proto/store/activity.ts
  proto/gen/grpc-doc/store/README.md
  proto/generated-go/store/activity.pb.go
  proto/store/activity.proto
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

chore: switch the order of gitops workflow (#5554)
  frontend/src/types/plan.yaml
Owners: @LiuJi-Jim, @boojack

chore: switch the order of gitops workflow (#5554)
  frontend/src/types/plan.yaml
Owners: @LiuJi-Jim, @boojack

chore: switch the order of gitops workflow (#5554)
  frontend/src/types/plan.yaml
Owners: @LiuJi-Jim, @boojack

chore: switch the order of gitops workflow
  frontend/src/types/plan.yaml
Owners: @LiuJi-Jim, @boojack

fix: test
  backend/enterprise/service/license.go
Owners: @d-bytebase, @ecmadao

fix: enable metric
  backend/server/server.go
Owners: @d-bytebase, @ecmadao

chore: update
  backend/tests/activity_store_proto_migrate_test.go
Owners: @d-bytebase, @ecmadao

fix: refresh expired license (#5546)
  backend/enterprise/api/subscription.go
  backend/enterprise/service/license.go
  backend/server/server.go
  frontend/src/store/modules/subscription.ts
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

fix: refresh expired license (#5546)
  backend/enterprise/api/subscription.go
  backend/enterprise/service/license.go
  backend/server/server.go
  frontend/src/store/modules/subscription.ts
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

fix: refresh expired license (#5546)
  backend/enterprise/api/subscription.go
  backend/enterprise/service/license.go
  backend/server/server.go
  frontend/src/store/modules/subscription.ts
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

fix: refresh expired license (#5546)
  backend/enterprise/api/subscription.go
  backend/enterprise/service/license.go
  backend/server/server.go
  frontend/src/store/modules/subscription.ts
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

chore: update
  frontend/src/locales/subscription/en-US.json
  frontend/src/locales/subscription/zh-CN.json
  frontend/src/types/plan.yaml
Owners: @LiuJi-Jim, @boojack

chore: update
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao

fix: refresh expired license (#5546) (#5557)
  backend/enterprise/api/subscription.go
  backend/enterprise/service/license.go
  backend/server/server.go
  frontend/src/store/modules/subscription.ts
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

fix: refresh expired license (#5546) (#5557)
  backend/enterprise/api/subscription.go
  backend/enterprise/service/license.go
  backend/server/server.go
  frontend/src/store/modules/subscription.ts
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

fix: refresh expired license (#5546) (#5557)
  backend/enterprise/api/subscription.go
  backend/enterprise/service/license.go
  backend/server/server.go
  frontend/src/store/modules/subscription.ts
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

chore: update (#5558)
  frontend/src/locales/subscription/en-US.json
  frontend/src/locales/subscription/zh-CN.json
  frontend/src/types/plan.yaml
Owners: @LiuJi-Jim, @boojack

chore: update (#5558)
  frontend/src/locales/subscription/en-US.json
  frontend/src/locales/subscription/zh-CN.json
  frontend/src/types/plan.yaml
Owners: @LiuJi-Jim, @boojack

chore: update (#5558)
  frontend/src/locales/subscription/en-US.json
  frontend/src/locales/subscription/zh-CN.json
  frontend/src/types/plan.yaml
Owners: @LiuJi-Jim, @boojack

chore: update
  frontend/src/locales/subscription/en-US.json
  frontend/src/locales/subscription/zh-CN.json
  frontend/src/types/plan.yaml
Owners: @LiuJi-Jim, @boojack

chore: skip mask sensitive data if no policy
  backend/server/sql.go
Owners: @d-bytebase, @ecmadao

fix: remove the oneof of activity payload (#5556)
  backend/migrator/migration/prod/1.16/0001##remove_activity_payload_oneof.sql
  backend/migrator/migrator_test.go
  backend/tests/activity_store_proto_migrate_test.go
  frontend/src/types/proto/store/activity.ts
  proto/gen/grpc-doc/store/README.md
  proto/generated-go/store/activity.pb.go
  proto/store/activity.proto
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

fix: remove the oneof of activity payload (#5556)
  backend/migrator/migration/prod/1.16/0001##remove_activity_payload_oneof.sql
  backend/migrator/migrator_test.go
  backend/tests/activity_store_proto_migrate_test.go
  frontend/src/types/proto/store/activity.ts
  proto/gen/grpc-doc/store/README.md
  proto/generated-go/store/activity.pb.go
  proto/store/activity.proto
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

fix: remove the oneof of activity payload (#5556)
  backend/migrator/migration/prod/1.16/0001##remove_activity_payload_oneof.sql
  backend/migrator/migrator_test.go
  backend/tests/activity_store_proto_migrate_test.go
  frontend/src/types/proto/store/activity.ts
  proto/gen/grpc-doc/store/README.md
  proto/generated-go/store/activity.pb.go
  proto/store/activity.proto
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

fix: remove the oneof of activity payload
  backend/migrator/migration/prod/1.16/0001##remove_activity_payload_oneof.sql
  backend/tests/activity_store_proto_migrate_test.go
  frontend/src/types/proto/store/activity.ts
  proto/gen/grpc-doc/store/README.md
  proto/generated-go/store/activity.pb.go
  proto/store/activity.proto
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

chore: update
  backend/tests/activity_store_proto_migrate_test.go
Owners: @d-bytebase, @ecmadao

chore: update
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao

chore: skip mask sensitive data if no policy (#5561)
  backend/server/sql.go
Owners: @d-bytebase, @ecmadao

chore: skip mask sensitive data if no policy (#5561)
  backend/server/sql.go
Owners: @d-bytebase, @ecmadao

chore: skip mask sensitive data if no policy (#5561)
  backend/server/sql.go
Owners: @d-bytebase, @ecmadao

chore: skip mask sensitive data if no policy
  backend/server/sql.go
Owners: @d-bytebase, @ecmadao

chore: fall through to DEFAULT risk level correctly when risks are empty
  backend/runner/approval/runner.go
Owners: @d-bytebase, @ecmadao

CODEOWNERS:

# Default
*                            @d-bytebase @ecmadao

# Backend and API.
/backend/                    @d-bytebase @ecmadao
/proto/                      @d-bytebase @ecmadao

# Backend SQL kernel.
/backend/plugin/advisor      @d-bytebase @ecmadao @rebelice
/backend/plugin/db           @d-bytebase @ecmadao @rebelice
/backend/plugin/parser       @d-bytebase @ecmadao @rebelice

# Frontend.
/frontend/                   @LiuJi-Jim @boojack

# Dependency files.
frontend/package.json        @d-bytebase @LiuJi-Jim
go.mod                       @d-bytebase @ecmadao
