Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @ecmadao, @rebelice, @LiuJi-Jim, @boojack

fix: wrong importing path
  frontend/src/components/Issue/IssueTaskStatementPanel.vue
Owners: @LiuJi-Jim, @boojack

fix: wrong importing path (#5410)
  frontend/src/components/Issue/IssueTaskStatementPanel.vue
Owners: @LiuJi-Jim, @boojack

fix: wrong importing path (#5410)
  frontend/src/components/Issue/IssueTaskStatementPanel.vue
Owners: @LiuJi-Jim, @boojack

fix: wrong importing path (#5410)
  frontend/src/components/Issue/IssueTaskStatementPanel.vue
Owners: @LiuJi-Jim, @boojack

chore: add pnpm release-docker build to github action
  .github/workflows/frontend-tests.yml
Owners: @d-bytebase, @ecmadao

chore: update
  frontend/src/locales/en-US.json
Owners: @LiuJi-Jim, @boojack

chore: update
  .github/workflows/frontend-tests.yml
Owners: @d-bytebase, @ecmadao

chore: update
  frontend/src/locales/en-US.json
Owners: @LiuJi-Jim, @boojack

chore: get workspace id from setting
  backend/api/v1/auth_service.go
  backend/api/v1/subscription_service.go
  backend/plugin/metric/reporter.go
  backend/plugin/metric/segment/mock.go
  backend/plugin/metric/segment/reporter.go
  backend/runner/metricreport/reporter.go
  backend/runner/taskrun/scheduler.go
  backend/server/issue.go
  backend/server/openapi_metric.go
  backend/server/openapi_sql.go
  backend/server/principal.go
  backend/server/server.go
  backend/server/sql.go
  backend/sql-server/metric.go
  backend/sql-server/server.go
Owners: @d-bytebase, @ecmadao

chore: update
  frontend/src/components/ProjectMemberPanel.vue
Owners: @LiuJi-Jim, @boojack

chore: update
  frontend/src/components/ProjectMemberPanel.vue
Owners: @LiuJi-Jim, @boojack

chore: add pnpm release-docker build to github action (#5411)
  .github/workflows/frontend-tests.yml
  frontend/src/locales/en-US.json
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

chore: add pnpm release-docker build to github action (#5411)
  .github/workflows/frontend-tests.yml
  frontend/src/locales/en-US.json
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

chore: add pnpm release-docker build to github action (#5411)
  .github/workflows/frontend-tests.yml
  frontend/src/locales/en-US.json
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

chore: update
  frontend/src/components/ProjectMemberPanel.vue
Owners: @LiuJi-Jim, @boojack

chore: update
  .github/workflows/frontend-tests.yml
Owners: @d-bytebase, @ecmadao

chore: update
  backend/runner/metricreport/reporter.go
Owners: @d-bytebase, @ecmadao

chore: update
  .github/workflows/frontend-tests.yml
Owners: @d-bytebase, @ecmadao

chore: update
  backend/runner/metricreport/reporter.go
Owners: @d-bytebase, @ecmadao

chore: update
  .github/workflows/frontend-tests.yml
Owners: @d-bytebase, @ecmadao

chore: update
  .github/workflows/frontend-tests.yml
  frontend/src/components/ProjectMemberPanel.vue
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

chore: frontend test action (#5413)
  .github/workflows/frontend-tests.yml
Owners: @d-bytebase, @ecmadao

chore: frontend test action (#5413)
  .github/workflows/frontend-tests.yml
Owners: @d-bytebase, @ecmadao

chore: frontend test action (#5413)
  .github/workflows/frontend-tests.yml
Owners: @d-bytebase, @ecmadao

fix: lint
  backend/runner/metricreport/reporter.go
  backend/server/server.go
Owners: @d-bytebase, @ecmadao

chore: clean-up golangci-lint warning
  backend/bin/bb/cmd/migrate.go
  backend/plugin/advisor/mysql/advisor_syntax.go
  backend/plugin/advisor/pg/parser.go
  backend/plugin/db/mysql/dump.go
  backend/plugin/db/mysql/restore.go
  backend/plugin/db/redshift/sync.go
  backend/plugin/db/snowflake/sync.go
  backend/plugin/db/util/driverutil.go
  backend/plugin/vcs/internal/oauth/oauth.go
  backend/runner/anomaly/scanner.go
  backend/runner/taskcheck/statement_affected_rows_report_executor.go
  backend/runner/taskcheck/statement_type_executor.go
  backend/runner/taskcheck/statement_type_report_executor.go
  backend/runner/taskrun/executor.go
  backend/runner/taskrun/schema_update_ghost_cutover_executor.go
  backend/server/webhook_test.go
  backend/store/data_source.go
  backend/store/database.go
  backend/store/environment.go
  backend/store/idp.go
  backend/store/instance.go
  backend/store/issue.go
  backend/store/pg_engine_test.go
  backend/store/principal.go
  backend/store/project.go
  backend/store/project_member.go
  backend/tests/rollback_test.go
  backend/utils/utils.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: update
  .github/workflows/backend-tests.yml
Owners: @d-bytebase, @ecmadao

chore: clean-up golangci-lint warning (#5415)
  .github/workflows/backend-tests.yml
  backend/bin/bb/cmd/migrate.go
  backend/plugin/advisor/mysql/advisor_syntax.go
  backend/plugin/advisor/pg/parser.go
  backend/plugin/db/mysql/dump.go
  backend/plugin/db/mysql/restore.go
  backend/plugin/db/redshift/sync.go
  backend/plugin/db/snowflake/sync.go
  backend/plugin/db/util/driverutil.go
  backend/plugin/vcs/internal/oauth/oauth.go
  backend/runner/anomaly/scanner.go
  backend/runner/taskcheck/statement_affected_rows_report_executor.go
  backend/runner/taskcheck/statement_type_executor.go
  backend/runner/taskcheck/statement_type_report_executor.go
  backend/runner/taskrun/executor.go
  backend/runner/taskrun/schema_update_ghost_cutover_executor.go
  backend/server/webhook_test.go
  backend/store/data_source.go
  backend/store/database.go
  backend/store/environment.go
  backend/store/idp.go
  backend/store/instance.go
  backend/store/issue.go
  backend/store/pg_engine_test.go
  backend/store/principal.go
  backend/store/project.go
  backend/store/project_member.go
  backend/tests/rollback_test.go
  backend/utils/utils.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: clean-up golangci-lint warning (#5415)
  .github/workflows/backend-tests.yml
  backend/bin/bb/cmd/migrate.go
  backend/plugin/advisor/mysql/advisor_syntax.go
  backend/plugin/advisor/pg/parser.go
  backend/plugin/db/mysql/dump.go
  backend/plugin/db/mysql/restore.go
  backend/plugin/db/redshift/sync.go
  backend/plugin/db/snowflake/sync.go
  backend/plugin/db/util/driverutil.go
  backend/plugin/vcs/internal/oauth/oauth.go
  backend/runner/anomaly/scanner.go
  backend/runner/taskcheck/statement_affected_rows_report_executor.go
  backend/runner/taskcheck/statement_type_executor.go
  backend/runner/taskcheck/statement_type_report_executor.go
  backend/runner/taskrun/executor.go
  backend/runner/taskrun/schema_update_ghost_cutover_executor.go
  backend/server/webhook_test.go
  backend/store/data_source.go
  backend/store/database.go
  backend/store/environment.go
  backend/store/idp.go
  backend/store/instance.go
  backend/store/issue.go
  backend/store/pg_engine_test.go
  backend/store/principal.go
  backend/store/project.go
  backend/store/project_member.go
  backend/tests/rollback_test.go
  backend/utils/utils.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: clean-up golangci-lint warning (#5415)
  .github/workflows/backend-tests.yml
  backend/bin/bb/cmd/migrate.go
  backend/plugin/advisor/mysql/advisor_syntax.go
  backend/plugin/advisor/pg/parser.go
  backend/plugin/db/mysql/dump.go
  backend/plugin/db/mysql/restore.go
  backend/plugin/db/redshift/sync.go
  backend/plugin/db/snowflake/sync.go
  backend/plugin/db/util/driverutil.go
  backend/plugin/vcs/internal/oauth/oauth.go
  backend/runner/anomaly/scanner.go
  backend/runner/taskcheck/statement_affected_rows_report_executor.go
  backend/runner/taskcheck/statement_type_executor.go
  backend/runner/taskcheck/statement_type_report_executor.go
  backend/runner/taskrun/executor.go
  backend/runner/taskrun/schema_update_ghost_cutover_executor.go
  backend/server/webhook_test.go
  backend/store/data_source.go
  backend/store/database.go
  backend/store/environment.go
  backend/store/idp.go
  backend/store/instance.go
  backend/store/issue.go
  backend/store/pg_engine_test.go
  backend/store/principal.go
  backend/store/project.go
  backend/store/project_member.go
  backend/tests/rollback_test.go
  backend/utils/utils.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: add parent member to support filter environments, instances and databases
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/database_service.pb.go
  proto/generated-go/v1/database_service.pb.gw.go
  proto/v1/database_service.proto
Owners: @LiuJi-Jim, @boojack, @d-bytebase, @ecmadao

chore: add parent member to support filter environments, instances and databases (#5416)
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/database_service.pb.go
  proto/generated-go/v1/database_service.pb.gw.go
  proto/v1/database_service.proto
Owners: @LiuJi-Jim, @boojack, @d-bytebase, @ecmadao

chore: add parent member to support filter environments, instances and databases (#5416)
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/database_service.pb.go
  proto/generated-go/v1/database_service.pb.gw.go
  proto/v1/database_service.proto
Owners: @LiuJi-Jim, @boojack, @d-bytebase, @ecmadao

chore: add parent member to support filter environments, instances and databases (#5416)
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/database_service.pb.go
  proto/generated-go/v1/database_service.pb.gw.go
  proto/v1/database_service.proto
Owners: @LiuJi-Jim, @boojack, @d-bytebase, @ecmadao

feat: add slow query policy
  backend/legacyapi/policy.go
Owners: @d-bytebase, @ecmadao

feat: add slow query policy (#5417)
  backend/legacyapi/policy.go
Owners: @d-bytebase, @ecmadao

feat: add slow query policy (#5417)
  backend/legacyapi/policy.go
Owners: @d-bytebase, @ecmadao

feat: add slow query policy (#5417)
  backend/legacyapi/policy.go
Owners: @d-bytebase, @ecmadao

chore: add delete setting cache api
  backend/api/v1/setting_service.go
  backend/store/setting.go
  frontend/src/types/proto/v1/setting_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/setting_service.pb.go
  proto/generated-go/v1/setting_service.pb.gw.go
  proto/generated-go/v1/setting_service_grpc.pb.go
  proto/v1/setting_service.proto
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

feat: slow-query settings
  backend/legacyapi/plan.go
  frontend/src/components/SlowQuery/Settings/SlowQuerySettings.vue
  frontend/src/components/SlowQuery/Settings/components/SlowQueryPolicyTable.vue
  frontend/src/components/SlowQuery/Settings/components/index.ts
  frontend/src/components/SlowQuery/Settings/index.ts
  frontend/src/components/SlowQuery/index.ts
  frontend/src/components/v2/Form/SpinnerSwitch.vue
  frontend/src/components/v2/Form/index.ts
  frontend/src/components/v2/Model/EnvironmentName.vue
  frontend/src/components/v2/Model/InstanceName.vue
  frontend/src/components/v2/Model/index.ts
  frontend/src/components/v2/TabFilter/EnvironmentTabFilter.vue
  frontend/src/components/v2/TabFilter/TabFilter.vue
  frontend/src/components/v2/TabFilter/index.ts
  frontend/src/components/v2/TabFilter/types.ts
  frontend/src/components/v2/index.ts
  frontend/src/locales/en-US.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/index.ts
  frontend/src/store/modules/index.ts
  frontend/src/store/modules/slowQueryPolicy.ts
  frontend/src/types/plan.ts
  frontend/src/types/policy.ts
  frontend/src/utils/role.ts
  frontend/src/views/SettingSidebar.vue
  frontend/src/views/SettingWorkspaceSlowQuery.vue
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @ecmadao

# Backend and API.
/backend/                    @d-bytebase @ecmadao
/proto/                      @d-bytebase @ecmadao

# Backend SQL kernel.
/backend/plugin/advisor      @d-bytebase @ecmadao @rebelice
/backend/plugin/db           @d-bytebase @ecmadao @rebelice
/backend/plugin/parser       @d-bytebase @ecmadao @rebelice

# Frontend.
/frontend/                   @LiuJi-Jim @boojack

# Dependency files.
frontend/package.json        @d-bytebase @LiuJi-Jim
go.mod                       @d-bytebase @ecmadao
