Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

chore: sync selection with tabs
  frontend/src/views/sql-editor/EditorPanel/StandardPanel/SQLEditor.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix(es): add support for \r on Windows and refactor code (#13549)
  backend/plugin/db/elasticsearch/elasticsearch.go
  backend/plugin/db/elasticsearch/spliter.go
  backend/plugin/db/elasticsearch/spliter_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix(es): add support for \r on Windows and refactor code (#13549)
  backend/plugin/db/elasticsearch/elasticsearch.go
  backend/plugin/db/elasticsearch/spliter.go
  backend/plugin/db/elasticsearch/spliter_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix(es): add support for \r on Windows and refactor code (#13549)
  backend/plugin/db/elasticsearch/elasticsearch.go
  backend/plugin/db/elasticsearch/spliter.go
  backend/plugin/db/elasticsearch/spliter_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update issue data table (#13555)
  frontend/src/components/IssueV1/components/IssueStatusIcon.vue
  frontend/src/components/IssueV1/components/IssueStatusIconWithTaskSummary.vue
  frontend/src/components/IssueV1/components/IssueTableV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update issue data table (#13555)
  frontend/src/components/IssueV1/components/IssueStatusIcon.vue
  frontend/src/components/IssueV1/components/IssueStatusIconWithTaskSummary.vue
  frontend/src/components/IssueV1/components/IssueTableV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update issue data table (#13555)
  frontend/src/components/IssueV1/components/IssueStatusIcon.vue
  frontend/src/components/IssueV1/components/IssueStatusIconWithTaskSummary.vue
  frontend/src/components/IssueV1/components/IssueTableV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: get changed resources index
  backend/plugin/parser/pg/resource_change.go
  backend/store/model/database.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

chore: add change menu to db group table
  frontend/src/components/DatabaseGroup/DatabaseGroupDataTable.vue
  frontend/src/components/DatabaseGroup/ProjectDatabaseGroupPanel.vue
  frontend/src/views/project/ProjectDatabaseGroupDashboard.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix test
  backend/plugin/parser/pg/resource_change_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: get changed resources index (#13556)
  backend/plugin/parser/pg/resource_change.go
  backend/plugin/parser/pg/resource_change_test.go
  backend/store/model/database.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

fix: get changed resources index (#13556)
  backend/plugin/parser/pg/resource_change.go
  backend/plugin/parser/pg/resource_change_test.go
  backend/store/model/database.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

fix: get changed resources index (#13556)
  backend/plugin/parser/pg/resource_change.go
  backend/plugin/parser/pg/resource_change_test.go
  backend/store/model/database.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

chore: add change menu to db group table (#13557)
  frontend/src/components/DatabaseGroup/DatabaseGroupDataTable.vue
  frontend/src/components/DatabaseGroup/ProjectDatabaseGroupPanel.vue
  frontend/src/views/project/ProjectDatabaseGroupDashboard.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add change menu to db group table (#13557)
  frontend/src/components/DatabaseGroup/DatabaseGroupDataTable.vue
  frontend/src/components/DatabaseGroup/ProjectDatabaseGroupPanel.vue
  frontend/src/views/project/ProjectDatabaseGroupDashboard.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add change menu to db group table (#13557)
  frontend/src/components/DatabaseGroup/DatabaseGroupDataTable.vue
  frontend/src/components/DatabaseGroup/ProjectDatabaseGroupPanel.vue
  frontend/src/views/project/ProjectDatabaseGroupDashboard.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: get changed resources index (#13556)
  backend/plugin/parser/pg/resource_change.go
  backend/plugin/parser/pg/resource_change_test.go
  backend/store/model/database.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

chore: store selection in query params
  frontend/src/composables/useExecuteSQL.ts
  frontend/src/types/sqlEditor/editor.ts
  frontend/src/types/sqlEditor/tab.ts
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/actions.tsx
  frontend/src/views/sql-editor/EditorPanel/StandardPanel/SQLEditor.vue
  frontend/src/views/sql-editor/EditorPanel/StandardPanel/StandardPanel.vue
  frontend/src/views/sql-editor/EditorPanel/TerminalPanel/CompactSQLEditor.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: find valid review
  frontend/src/store/modules/sqlReview.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: find valid review (#13559)
  frontend/src/store/modules/sqlReview.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: find valid review (#13559)
  frontend/src/store/modules/sqlReview.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: find valid review (#13559)
  frontend/src/store/modules/sqlReview.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: complex check behavior
  frontend/src/composables/useExecuteSQL.ts
  frontend/src/customAppProfile.ts
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/appProfile.ts
  frontend/src/types/sqlEditor/editor.ts
  frontend/src/views/sql-editor/EditorCommon/ResultView/ErrorView.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/ResultViewV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: don't call execute/query if error occurs during pre-check
  frontend/src/composables/useExecuteSQL.ts
  frontend/src/views/sql-editor/EditorCommon/ResultView/ErrorView.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove log
  frontend/src/views/sql-editor/EditorPanel/StandardPanel/SQLEditor.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix lint
  frontend/src/views/sql-editor/EditorCommon/EditorAction.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: minor update
  frontend/src/views/sql-editor/EditorPanel/StandardPanel/SQLEditor.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix tree not updated after clicking "sync" button
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/SyncSchemaButton.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix tree not updated after clicking "sync" button (#13561)
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/SyncSchemaButton.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix tree not updated after clicking "sync" button (#13561)
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/SyncSchemaButton.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix tree not updated after clicking "sync" button (#13561)
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/SyncSchemaButton.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update generate issue title function
  frontend/src/components/AlterSchemaPrepForm/AlterSchemaPrepForm.vue
  frontend/src/components/AlterSchemaPrepForm/SchemaEditorModal.vue
  frontend/src/components/Branch/BranchDetailView.vue
  frontend/src/components/Branch/BranchRolloutView/BranchRolloutView.vue
  frontend/src/components/Changelist/ChangelistDetail/ApplyToDatabasePanel/ApplyToDatabasePanel.vue
  frontend/src/components/Changelist/ChangelistDetail/common.ts
  frontend/src/components/DataExportPrepForm/DataExportPrepForm.vue
  frontend/src/components/Issue/panel/RequestExportPanel/index.vue
  frontend/src/components/Issue/panel/RequestQueryPanel/index.vue
  frontend/src/components/SlowQuery/Panel/IndexAdvisor.vue
  frontend/src/components/SyncDatabaseSchema/index.vue
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseOperations.vue
  frontend/src/utils/issue/index.ts
  frontend/src/utils/v1/issue/issue.ts
  frontend/src/views/sql-editor/EditorCommon/ResultView/SingleResultViewV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/components/Changelist/ChangelistDetail/common.ts
  frontend/src/utils/index.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: render view column nodes
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/actions.tsx
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/common.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunTable.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update generate issue title function (#13562)
  frontend/src/components/AlterSchemaPrepForm/AlterSchemaPrepForm.vue
  frontend/src/components/AlterSchemaPrepForm/SchemaEditorModal.vue
  frontend/src/components/Branch/BranchDetailView.vue
  frontend/src/components/Branch/BranchRolloutView/BranchRolloutView.vue
  frontend/src/components/Changelist/ChangelistDetail/ApplyToDatabasePanel/ApplyToDatabasePanel.vue
  frontend/src/components/Changelist/ChangelistDetail/common.ts
  frontend/src/components/DataExportPrepForm/DataExportPrepForm.vue
  frontend/src/components/Issue/panel/RequestExportPanel/index.vue
  frontend/src/components/Issue/panel/RequestQueryPanel/index.vue
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunTable.vue
  frontend/src/components/SlowQuery/Panel/IndexAdvisor.vue
  frontend/src/components/SyncDatabaseSchema/index.vue
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseOperations.vue
  frontend/src/utils/index.ts
  frontend/src/utils/issue/index.ts
  frontend/src/utils/v1/issue/issue.ts
  frontend/src/views/sql-editor/EditorCommon/ResultView/SingleResultViewV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update generate issue title function (#13562)
  frontend/src/components/AlterSchemaPrepForm/AlterSchemaPrepForm.vue
  frontend/src/components/AlterSchemaPrepForm/SchemaEditorModal.vue
  frontend/src/components/Branch/BranchDetailView.vue
  frontend/src/components/Branch/BranchRolloutView/BranchRolloutView.vue
  frontend/src/components/Changelist/ChangelistDetail/ApplyToDatabasePanel/ApplyToDatabasePanel.vue
  frontend/src/components/Changelist/ChangelistDetail/common.ts
  frontend/src/components/DataExportPrepForm/DataExportPrepForm.vue
  frontend/src/components/Issue/panel/RequestExportPanel/index.vue
  frontend/src/components/Issue/panel/RequestQueryPanel/index.vue
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunTable.vue
  frontend/src/components/SlowQuery/Panel/IndexAdvisor.vue
  frontend/src/components/SyncDatabaseSchema/index.vue
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseOperations.vue
  frontend/src/utils/index.ts
  frontend/src/utils/issue/index.ts
  frontend/src/utils/v1/issue/issue.ts
  frontend/src/views/sql-editor/EditorCommon/ResultView/SingleResultViewV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update generate issue title function (#13562)
  frontend/src/components/AlterSchemaPrepForm/AlterSchemaPrepForm.vue
  frontend/src/components/AlterSchemaPrepForm/SchemaEditorModal.vue
  frontend/src/components/Branch/BranchDetailView.vue
  frontend/src/components/Branch/BranchRolloutView/BranchRolloutView.vue
  frontend/src/components/Changelist/ChangelistDetail/ApplyToDatabasePanel/ApplyToDatabasePanel.vue
  frontend/src/components/Changelist/ChangelistDetail/common.ts
  frontend/src/components/DataExportPrepForm/DataExportPrepForm.vue
  frontend/src/components/Issue/panel/RequestExportPanel/index.vue
  frontend/src/components/Issue/panel/RequestQueryPanel/index.vue
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunTable.vue
  frontend/src/components/SlowQuery/Panel/IndexAdvisor.vue
  frontend/src/components/SyncDatabaseSchema/index.vue
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseOperations.vue
  frontend/src/utils/index.ts
  frontend/src/utils/issue/index.ts
  frontend/src/utils/v1/issue/issue.ts
  frontend/src/views/sql-editor/EditorCommon/ResultView/SingleResultViewV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: upate i18n of issue title
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/utils/v1/issue/issue.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: view columns table
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/sql-editor/EditorPanel/Panels/ViewsPanel/ColumnsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ViewsPanel/DefinitionViewer.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ViewsPanel/ViewDetail.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ViewsPanel/ViewsPanel.vue
  frontend/src/views/sql-editor/EditorPanel/types.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
