Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev

chore(mysql/structurer): better mysql get design schema syntax (#10276)
  backend/plugin/schema/mysql/get_design_schema.go
  backend/plugin/schema/mysql/state.go
  backend/plugin/schema/mysql/testdata/get_design_schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore(mysql/structurer): better mysql get design schema syntax (#10276)
  backend/plugin/schema/mysql/get_design_schema.go
  backend/plugin/schema/mysql/state.go
  backend/plugin/schema/mysql/testdata/get_design_schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore(frontend): retire inbox page
  frontend/src/components/InboxList.vue
  frontend/src/components/SlowQuery/Panel/SlowQueryPanel.vue
  frontend/src/router/dashboard/workspace.ts
  frontend/src/store/modules/v1/database.ts
  frontend/src/store/modules/v1/inbox.ts
  frontend/src/store/modules/v1/index.ts
  frontend/src/views/DashboardHeader.vue
  frontend/src/views/Inbox.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: acl interceptor
  backend/api/v1/acl.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: remove changelist filter on the fe
  frontend/src/components/Changelist/ChangelistDashboard/ChangelistDashboard.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(backend): retire inbox service
  backend/api/v1/acl_iam.go
  backend/api/v1/inbox_service.go
  backend/common/resource_name.go
  backend/component/activity/manager.go
  backend/enterprise/api/plan.yaml
  backend/legacyapi/activity.go
  backend/legacyapi/inbox.go
  backend/server/grpc_routes.go
  backend/store/inbox.go
  frontend/src/types/proto/store/activity.ts
  frontend/src/types/proto/v1/deployment.ts
  frontend/src/types/proto/v1/inbox_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/store/activity.pb.go
  proto/generated-go/v1/inbox_service.pb.go
  proto/generated-go/v1/inbox_service.pb.gw.go
  proto/generated-go/v1/inbox_service_grpc.pb.go
  proto/store/activity.proto
  proto/v1/inbox_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

remove unused
  frontend/src/components/Changelist/ChangelistDashboard/ChangelistDashboard.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: acl interceptor (#10279)
  backend/api/v1/acl.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: acl interceptor (#10279)
  backend/api/v1/acl.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: acl interceptor (#10279)
  backend/api/v1/acl.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: remove changelist filter on the frontend (#10280)
  frontend/src/components/Changelist/ChangelistDashboard/ChangelistDashboard.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove changelist filter on the frontend (#10280)
  frontend/src/components/Changelist/ChangelistDashboard/ChangelistDashboard.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove changelist filter on the frontend (#10280)
  frontend/src/components/Changelist/ChangelistDashboard/ChangelistDashboard.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(frontend): retire inbox page (#10278)
  frontend/src/components/InboxList.vue
  frontend/src/components/SlowQuery/Panel/SlowQueryPanel.vue
  frontend/src/router/dashboard/workspace.ts
  frontend/src/store/modules/v1/database.ts
  frontend/src/store/modules/v1/inbox.ts
  frontend/src/store/modules/v1/index.ts
  frontend/src/views/DashboardHeader.vue
  frontend/src/views/Inbox.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(frontend): retire inbox page (#10278)
  frontend/src/components/InboxList.vue
  frontend/src/components/SlowQuery/Panel/SlowQueryPanel.vue
  frontend/src/router/dashboard/workspace.ts
  frontend/src/store/modules/v1/database.ts
  frontend/src/store/modules/v1/inbox.ts
  frontend/src/store/modules/v1/index.ts
  frontend/src/views/DashboardHeader.vue
  frontend/src/views/Inbox.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(frontend): retire inbox page (#10278)
  frontend/src/components/InboxList.vue
  frontend/src/components/SlowQuery/Panel/SlowQueryPanel.vue
  frontend/src/router/dashboard/workspace.ts
  frontend/src/store/modules/v1/database.ts
  frontend/src/store/modules/v1/inbox.ts
  frontend/src/store/modules/v1/index.ts
  frontend/src/views/DashboardHeader.vue
  frontend/src/views/Inbox.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/grpcweb/index.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(backend): retire inbox service (#10281)
  backend/api/v1/acl_iam.go
  backend/api/v1/inbox_service.go
  backend/common/resource_name.go
  backend/component/activity/manager.go
  backend/enterprise/api/plan.yaml
  backend/legacyapi/activity.go
  backend/legacyapi/inbox.go
  backend/server/grpc_routes.go
  backend/store/inbox.go
  frontend/src/grpcweb/index.ts
  frontend/src/types/proto/store/activity.ts
  frontend/src/types/proto/v1/deployment.ts
  frontend/src/types/proto/v1/inbox_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/store/activity.pb.go
  proto/generated-go/v1/inbox_service.pb.go
  proto/generated-go/v1/inbox_service.pb.gw.go
  proto/generated-go/v1/inbox_service_grpc.pb.go
  proto/store/activity.proto
  proto/v1/inbox_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore(backend): retire inbox service (#10281)
  backend/api/v1/acl_iam.go
  backend/api/v1/inbox_service.go
  backend/common/resource_name.go
  backend/component/activity/manager.go
  backend/enterprise/api/plan.yaml
  backend/legacyapi/activity.go
  backend/legacyapi/inbox.go
  backend/server/grpc_routes.go
  backend/store/inbox.go
  frontend/src/grpcweb/index.ts
  frontend/src/types/proto/store/activity.ts
  frontend/src/types/proto/v1/deployment.ts
  frontend/src/types/proto/v1/inbox_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/store/activity.pb.go
  proto/generated-go/v1/inbox_service.pb.go
  proto/generated-go/v1/inbox_service.pb.gw.go
  proto/generated-go/v1/inbox_service_grpc.pb.go
  proto/store/activity.proto
  proto/v1/inbox_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore(backend): retire inbox service (#10281)
  backend/api/v1/acl_iam.go
  backend/api/v1/inbox_service.go
  backend/common/resource_name.go
  backend/component/activity/manager.go
  backend/enterprise/api/plan.yaml
  backend/legacyapi/activity.go
  backend/legacyapi/inbox.go
  backend/server/grpc_routes.go
  backend/store/inbox.go
  frontend/src/grpcweb/index.ts
  frontend/src/types/proto/store/activity.ts
  frontend/src/types/proto/v1/deployment.ts
  frontend/src/types/proto/v1/inbox_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/store/activity.pb.go
  proto/generated-go/v1/inbox_service.pb.go
  proto/generated-go/v1/inbox_service.pb.gw.go
  proto/generated-go/v1/inbox_service_grpc.pb.go
  proto/store/activity.proto
  proto/v1/inbox_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

fix: navie-ui transfer bug (#10277)
  frontend/src/components/Issue/panel/RequestExportPanel/ExportResourceForm/DatabaseResourceSelector.vue
  frontend/src/components/Issue/panel/RequestQueryPanel/DatabaseResourceForm/DatabaseResourceSelector.vue
  frontend/src/components/QuickActionPanel.vue
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseOperations.vue
  frontend/src/layouts/BodyLayout.vue
  frontend/src/views/EnvironmentDashboard.vue
  frontend/src/views/ProjectDetail.vue
  frontend/src/views/project/ProjectDatabaseDashboard.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: navie-ui transfer bug (#10277)
  frontend/src/components/Issue/panel/RequestExportPanel/ExportResourceForm/DatabaseResourceSelector.vue
  frontend/src/components/Issue/panel/RequestQueryPanel/DatabaseResourceForm/DatabaseResourceSelector.vue
  frontend/src/components/QuickActionPanel.vue
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseOperations.vue
  frontend/src/layouts/BodyLayout.vue
  frontend/src/views/EnvironmentDashboard.vue
  frontend/src/views/ProjectDetail.vue
  frontend/src/views/project/ProjectDatabaseDashboard.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: navie-ui transfer bug (#10277)
  frontend/src/components/Issue/panel/RequestExportPanel/ExportResourceForm/DatabaseResourceSelector.vue
  frontend/src/components/Issue/panel/RequestQueryPanel/DatabaseResourceForm/DatabaseResourceSelector.vue
  frontend/src/components/QuickActionPanel.vue
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseOperations.vue
  frontend/src/layouts/BodyLayout.vue
  frontend/src/views/EnvironmentDashboard.vue
  frontend/src/views/ProjectDetail.vue
  frontend/src/views/project/ProjectDatabaseDashboard.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: implement constraint PART II
  backend/plugin/parser/tidb/strings.go
  backend/plugin/parser/tidb/strings_test.go
  backend/plugin/parser/tidb/test-data/test_strings_manipulate.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: only use searchDatabases if iam
  frontend/src/store/modules/v1/database.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: only use searchDatabases if iam (#10284)
  frontend/src/store/modules/v1/database.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: only use searchDatabases if iam (#10284)
  frontend/src/store/modules/v1/database.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: only use searchDatabases if iam (#10284)
  frontend/src/store/modules/v1/database.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix linter error
  backend/plugin/parser/tidb/normalize.go
  backend/plugin/parser/tidb/strings.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: implement table constraint actions (#10283)
  backend/plugin/parser/tidb/normalize.go
  backend/plugin/parser/tidb/strings.go
  backend/plugin/parser/tidb/strings_test.go
  backend/plugin/parser/tidb/test-data/test_strings_manipulate.yaml
  go.mod
  go.sum
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

feat: implement table constraint actions (#10283)
  backend/plugin/parser/tidb/normalize.go
  backend/plugin/parser/tidb/strings.go
  backend/plugin/parser/tidb/strings_test.go
  backend/plugin/parser/tidb/test-data/test_strings_manipulate.yaml
  go.mod
  go.sum
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

feat: implement table constraint actions (#10283)
  backend/plugin/parser/tidb/normalize.go
  backend/plugin/parser/tidb/strings.go
  backend/plugin/parser/tidb/strings_test.go
  backend/plugin/parser/tidb/test-data/test_strings_manipulate.yaml
  go.mod
  go.sum
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

chore: searchInstances/Projects if iam
  frontend/src/store/modules/v1/instance.ts
  frontend/src/store/modules/v1/project.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: skip empty statement for query span
  backend/plugin/parser/base/interface.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: searchInstances/Projects if iam (#10285)
  frontend/src/store/modules/v1/instance.ts
  frontend/src/store/modules/v1/project.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: searchInstances/Projects if iam (#10285)
  frontend/src/store/modules/v1/instance.ts
  frontend/src/store/modules/v1/project.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: searchInstances/Projects if iam (#10285)
  frontend/src/store/modules/v1/instance.ts
  frontend/src/store/modules/v1/project.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: skip empty statement for query span (#10286)
  backend/plugin/parser/base/interface.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: skip empty statement for query span (#10286)
  backend/plugin/parser/base/interface.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: skip empty statement for query span (#10286)
  backend/plugin/parser/base/interface.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev
