Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev

chore: update
  backend/api/v1/project_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update i18n
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  backend/api/v1/project_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  frontend/src/locales/en-US.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(backend): validate iam policy expression with maximum role expiration (#12178)
  backend/api/v1/project_service.go
  backend/api/v1/project_service_test.go
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore(backend): validate iam policy expression with maximum role expiration (#12178)
  backend/api/v1/project_service.go
  backend/api/v1/project_service_test.go
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore(backend): validate iam policy expression with maximum role expiration (#12178)
  backend/api/v1/project_service.go
  backend/api/v1/project_service_test.go
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

feat: implement restore sql api (#12157)
  backend/api/v1/sql_service.go
  backend/plugin/parser/base/interface.go
  backend/plugin/parser/mysql/restore.go
  backend/plugin/parser/mysql/restore_test.go
  backend/plugin/parser/mysql/test-data/test_restore.yaml
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/sql_service.pb.go
  proto/v1/sql_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack, @RainbowDashy

feat: implement restore sql api (#12157)
  backend/api/v1/sql_service.go
  backend/plugin/parser/base/interface.go
  backend/plugin/parser/mysql/restore.go
  backend/plugin/parser/mysql/restore_test.go
  backend/plugin/parser/mysql/test-data/test_restore.yaml
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/sql_service.pb.go
  proto/v1/sql_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack, @RainbowDashy

feat: implement restore sql api (#12157)
  backend/api/v1/sql_service.go
  backend/plugin/parser/base/interface.go
  backend/plugin/parser/mysql/restore.go
  backend/plugin/parser/mysql/restore_test.go
  backend/plugin/parser/mysql/test-data/test_restore.yaml
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/sql_service.pb.go
  proto/v1/sql_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack, @RainbowDashy

chore: 2.18.0
  scripts/VERSION
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: 2.18.0 (#12180)
  scripts/VERSION
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: 2.18.0 (#12180)
  scripts/VERSION
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: 2.18.0 (#12180)
  scripts/VERSION
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: redirect home route path
  frontend/src/components/KBar/KBarWrapper.vue
  frontend/src/router/dashboard/workspace.ts
  frontend/src/router/dashboard/workspaceRoutes.ts
  frontend/src/views/DashboardHeader.vue
  frontend/src/views/DashboardLandingPage.vue
  frontend/src/views/DashboardSidebar.vue
  frontend/src/views/MyIssues.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: deprecate oracle undosql
  backend/runner/rollbackrun/runner.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: deprecate oracle undosql (#12182)
  backend/runner/rollbackrun/runner.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: deprecate oracle undosql (#12182)
  backend/runner/rollbackrun/runner.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: deprecate oracle undosql (#12182)
  backend/runner/rollbackrun/runner.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: no table group
  frontend/src/components/AlterSchemaPrepForm/AlterSchemaPrepForm.vue
  frontend/src/components/AlterSchemaPrepForm/DatabaseGroupPrevEditorModal.vue
  frontend/src/components/DatabaseGroup/DatabaseGroupForm.vue
  frontend/src/components/DatabaseGroup/DatabaseGroupPanel.vue
  frontend/src/components/DatabaseGroup/MatchedTableView.vue
  frontend/src/components/DatabaseGroup/SchemaGroupDataTable.vue
  frontend/src/components/DatabaseGroup/index.ts
  frontend/src/components/DatabaseGroup/utils.ts
  frontend/src/router/dashboard/projectV1.ts
  frontend/src/store/modules/dbGroup.ts
  frontend/src/store/modules/v1/common.ts
  frontend/src/types/dbGroup.ts
  frontend/src/types/pipeline/task.ts
  frontend/src/views/DatabaseGroupDetail.vue
  frontend/src/views/SchemaGroupDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: show last updater in tree
  frontend/src/bbkit/BBAvatar.vue
  frontend/src/bbkit/types.ts
  frontend/src/components/SchemaEditorLite/Aside/LastUpdate.vue
  frontend/src/components/SchemaEditorLite/Aside/Tree.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove unused
  frontend/src/components/SchemaEditorLite/Panels/FunctionEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/ProcedureEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/TableEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/common/LastUpdater.vue
  frontend/src/components/SchemaEditorLite/Panels/common/index.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove debug
  frontend/src/components/SchemaEditorLite/Aside/LastUpdate.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: style
  frontend/src/components/SchemaEditorLite/Panels/CommonCodeEditor.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/components/AlterSchemaPrepForm/AlterSchemaPrepForm.vue
  frontend/src/components/AlterSchemaPrepForm/DatabaseGroupPrevEditorModal.vue
  frontend/src/components/DatabaseGroup/DatabaseGroupForm.vue
  frontend/src/store/modules/dbGroup.ts
  frontend/src/views/DatabaseGroupDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: ignore other expr kinds
  backend/api/v1/project_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  frontend/src/components/DatabaseGroup/DatabaseGroupForm.vue
  frontend/src/components/DatabaseGroup/DatabaseGroupPanel.vue
  frontend/src/components/DatabaseGroup/utils.ts
  frontend/src/views/DatabaseGroupDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: ignore other expr kinds (#12184)
  backend/api/v1/project_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: ignore other expr kinds (#12184)
  backend/api/v1/project_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: ignore other expr kinds (#12184)
  backend/api/v1/project_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: no table group (#12183)
  frontend/src/components/AlterSchemaPrepForm/AlterSchemaPrepForm.vue
  frontend/src/components/AlterSchemaPrepForm/DatabaseGroupPrevEditorModal.vue
  frontend/src/components/DatabaseGroup/DatabaseGroupForm.vue
  frontend/src/components/DatabaseGroup/DatabaseGroupPanel.vue
  frontend/src/components/DatabaseGroup/MatchedTableView.vue
  frontend/src/components/DatabaseGroup/SchemaGroupDataTable.vue
  frontend/src/components/DatabaseGroup/index.ts
  frontend/src/components/DatabaseGroup/utils.ts
  frontend/src/router/dashboard/projectV1.ts
  frontend/src/store/modules/dbGroup.ts
  frontend/src/store/modules/v1/common.ts
  frontend/src/types/dbGroup.ts
  frontend/src/types/pipeline/task.ts
  frontend/src/views/DatabaseGroupDetail.vue
  frontend/src/views/SchemaGroupDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: no table group (#12183)
  frontend/src/components/AlterSchemaPrepForm/AlterSchemaPrepForm.vue
  frontend/src/components/AlterSchemaPrepForm/DatabaseGroupPrevEditorModal.vue
  frontend/src/components/DatabaseGroup/DatabaseGroupForm.vue
  frontend/src/components/DatabaseGroup/DatabaseGroupPanel.vue
  frontend/src/components/DatabaseGroup/MatchedTableView.vue
  frontend/src/components/DatabaseGroup/SchemaGroupDataTable.vue
  frontend/src/components/DatabaseGroup/index.ts
  frontend/src/components/DatabaseGroup/utils.ts
  frontend/src/router/dashboard/projectV1.ts
  frontend/src/store/modules/dbGroup.ts
  frontend/src/store/modules/v1/common.ts
  frontend/src/types/dbGroup.ts
  frontend/src/types/pipeline/task.ts
  frontend/src/views/DatabaseGroupDetail.vue
  frontend/src/views/SchemaGroupDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: no table group (#12183)
  frontend/src/components/AlterSchemaPrepForm/AlterSchemaPrepForm.vue
  frontend/src/components/AlterSchemaPrepForm/DatabaseGroupPrevEditorModal.vue
  frontend/src/components/DatabaseGroup/DatabaseGroupForm.vue
  frontend/src/components/DatabaseGroup/DatabaseGroupPanel.vue
  frontend/src/components/DatabaseGroup/MatchedTableView.vue
  frontend/src/components/DatabaseGroup/SchemaGroupDataTable.vue
  frontend/src/components/DatabaseGroup/index.ts
  frontend/src/components/DatabaseGroup/utils.ts
  frontend/src/router/dashboard/projectV1.ts
  frontend/src/store/modules/dbGroup.ts
  frontend/src/store/modules/v1/common.ts
  frontend/src/types/dbGroup.ts
  frontend/src/types/pipeline/task.ts
  frontend/src/views/DatabaseGroupDetail.vue
  frontend/src/views/SchemaGroupDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update role expiration validator checks
  backend/api/v1/project_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  backend/api/v1/project_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat(schema-editor): show last updater in the schema tree (#12186)
  frontend/src/bbkit/BBAvatar.vue
  frontend/src/bbkit/types.ts
  frontend/src/components/SchemaEditorLite/Aside/LastUpdate.vue
  frontend/src/components/SchemaEditorLite/Aside/Tree.vue
  frontend/src/components/SchemaEditorLite/Panels/CommonCodeEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/FunctionEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/ProcedureEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/TableEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/common/LastUpdater.vue
  frontend/src/components/SchemaEditorLite/Panels/common/index.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat(schema-editor): show last updater in the schema tree (#12186)
  frontend/src/bbkit/BBAvatar.vue
  frontend/src/bbkit/types.ts
  frontend/src/components/SchemaEditorLite/Aside/LastUpdate.vue
  frontend/src/components/SchemaEditorLite/Aside/Tree.vue
  frontend/src/components/SchemaEditorLite/Panels/CommonCodeEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/FunctionEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/ProcedureEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/TableEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/common/LastUpdater.vue
  frontend/src/components/SchemaEditorLite/Panels/common/index.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat(schema-editor): show last updater in the schema tree (#12186)
  frontend/src/bbkit/BBAvatar.vue
  frontend/src/bbkit/types.ts
  frontend/src/components/SchemaEditorLite/Aside/LastUpdate.vue
  frontend/src/components/SchemaEditorLite/Aside/Tree.vue
  frontend/src/components/SchemaEditorLite/Panels/CommonCodeEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/FunctionEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/ProcedureEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/TableEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/common/LastUpdater.vue
  frontend/src/components/SchemaEditorLite/Panels/common/index.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

WIP
  backend/component/webhook/event.go
  backend/component/webhook/manager.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

issue service part 2
  backend/api/v1/issue_service.go
  backend/component/webhook/event.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev
