Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev

chore: fetch workspace iam policy
  frontend/src/App.vue
  frontend/src/components/Member/utils.ts
  frontend/src/store/modules/auth.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: check disallow password signin (#13398)
  backend/api/v1/auth_service.go
  backend/api/v1/setting_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: check disallow password signin (#13398)
  backend/api/v1/auth_service.go
  backend/api/v1/setting_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: check disallow password signin (#13398)
  backend/api/v1/auth_service.go
  backend/api/v1/setting_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

refactor: fetch workspace iam policy (#13399)
  frontend/src/App.vue
  frontend/src/components/Member/utils.ts
  frontend/src/store/modules/auth.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

refactor: fetch workspace iam policy (#13399)
  frontend/src/App.vue
  frontend/src/components/Member/utils.ts
  frontend/src/store/modules/auth.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

refactor: fetch workspace iam policy (#13399)
  frontend/src/App.vue
  frontend/src/components/Member/utils.ts
  frontend/src/store/modules/auth.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: improve duration
  backend/api/v1/sql_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: improve duration (#13400)
  backend/api/v1/sql_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: improve duration (#13400)
  backend/api/v1/sql_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: improve duration (#13400)
  backend/api/v1/sql_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: retry
  backend/api/v1/sql_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: hide if unnecessary
  frontend/src/views/sql-editor/EditorCommon/QueryContextSettingPopover.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add database chooser
  frontend/src/views/sql-editor/EditorPanel/Panels/FunctionsPanel/FunctionsPanel.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ProceduresPanel/ProceduresPanel.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/TablesPanel.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ViewsPanel/ViewsPanel.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/common/CodeViewer.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: style
  frontend/src/views/sql-editor/EditorCommon/EditorAction.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  backend/api/v1/sql_service.go
  backend/runner/taskrun/data_export_executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: add retry get query span code (#13401)
  backend/api/v1/sql_service.go
  backend/runner/taskrun/data_export_executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: add retry get query span code (#13401)
  backend/api/v1/sql_service.go
  backend/runner/taskrun/data_export_executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: add retry get query span code (#13401)
  backend/api/v1/sql_service.go
  backend/runner/taskrun/data_export_executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: typo
  backend/plugin/advisor/mysql/advisor_column_set_default_for_not_null.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix(sql-review): typo (#13402)
  backend/plugin/advisor/mysql/advisor_column_set_default_for_not_null.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix(sql-review): typo (#13402)
  backend/plugin/advisor/mysql/advisor_column_set_default_for_not_null.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix(sql-review): typo (#13402)
  backend/plugin/advisor/mysql/advisor_column_set_default_for_not_null.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: support external table displaying
  frontend/src/components/Icon/ExternalTableIcon.vue
  frontend/src/components/Icon/index.ts
  frontend/src/utils/v1/instance.ts
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/ExternalTableNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/actions.tsx
  frontend/src/views/sql-editor/EditorPanel/GutterBar/GutterBar.vue
  frontend/src/views/sql-editor/EditorPanel/GutterBar/TabItem.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ExternalTablesPanel/ExternalTableColumnsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ExternalTablesPanel/ExternalTablesPanel.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ExternalTablesPanel/ExternalTablesTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ExternalTablesPanel/index.ts
  frontend/src/views/sql-editor/EditorPanel/Panels/InfoPanel/InfoPanel.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/Panels.vue
  frontend/src/views/sql-editor/EditorPanel/types.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: auto jump
  frontend/src/views/sql-editor/EditorPanel/GutterBar/GutterBar.vue
  frontend/src/views/sql-editor/EditorPanel/context/index.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: simplify implementation
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/SchemaPane.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/common.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: style
  frontend/src/views/sql-editor/EditorPanel/Panels/InfoPanel/InfoPanel.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/common/SchemaSelectToolbar.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: implement disallow password signin
  backend/api/v1/actuator_service.go
  backend/legacyapi/plan.go
  frontend/src/components/GeneralSetting/SecuritySetting.vue
  frontend/src/components/PasswordSigninForm.vue
  frontend/src/components/ProvideDashboardContext.vue
  frontend/src/locales/en-US.json
  frontend/src/router/auth.ts
  frontend/src/router/index.ts
  frontend/src/store/modules/v1/actuator.ts
  frontend/src/types/plan.ts
  frontend/src/types/proto/v1/actuator_service.ts
  frontend/src/types/proto/v1/setting_service.ts
  frontend/src/views/SettingWorkspaceGeneral.vue
  frontend/src/views/auth/Signin.vue
  frontend/src/views/auth/SigninAdmin.vue
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/actuator_service.pb.go
  proto/generated-go/v1/setting_service.pb.go
  proto/v1/actuator_service.proto
  proto/v1/setting_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: sync db code
  backend/api/v1/sql_service.go
  backend/runner/taskrun/data_export_executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/auth.ts
  frontend/src/views/auth/SigninAdmin.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: style
  frontend/src/views/sql-editor/EditorPanel/Panels/InfoPanel/InfoPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: sync db code (#13403)
  backend/api/v1/sql_service.go
  backend/runner/taskrun/data_export_executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: sync db code (#13403)
  backend/api/v1/sql_service.go
  backend/runner/taskrun/data_export_executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: sync db code (#13403)
  backend/api/v1/sql_service.go
  backend/runner/taskrun/data_export_executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

Update frontend/src/locales/zh-CN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: style
  frontend/src/views/sql-editor/EditorPanel/Panels/InfoPanel/InfoPanel.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/common/SchemaSelectToolbar.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: style
  frontend/src/views/sql-editor/EditorPanel/Panels/InfoPanel/InfoPanel.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/common/SchemaSelectToolbar.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add search boxes
  frontend/src/views/sql-editor/EditorPanel/Panels/ExternalTablesPanel/ExternalTableColumnsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ExternalTablesPanel/ExternalTablesPanel.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ExternalTablesPanel/ExternalTablesTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/FunctionsPanel/FunctionsPanel.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/FunctionsPanel/FunctionsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ProceduresPanel/ProceduresPanel.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ProceduresPanel/ProceduresTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/ColumnsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/TablesPanel.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/TablesTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ViewsPanel/ViewsPanel.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ViewsPanel/ViewsTable.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: implement disallow password signin setting (#13404)
  backend/api/v1/actuator_service.go
  backend/legacyapi/plan.go
  frontend/src/components/GeneralSetting/SecuritySetting.vue
  frontend/src/components/PasswordSigninForm.vue
  frontend/src/components/ProvideDashboardContext.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/auth.ts
  frontend/src/router/index.ts
  frontend/src/store/modules/v1/actuator.ts
  frontend/src/types/plan.ts
  frontend/src/types/proto/v1/actuator_service.ts
  frontend/src/types/proto/v1/setting_service.ts
  frontend/src/views/SettingWorkspaceGeneral.vue
  frontend/src/views/auth/Signin.vue
  frontend/src/views/auth/SigninAdmin.vue
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/actuator_service.pb.go
  proto/generated-go/v1/setting_service.pb.go
  proto/v1/actuator_service.proto
  proto/v1/setting_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: implement disallow password signin setting (#13404)
  backend/api/v1/actuator_service.go
  backend/legacyapi/plan.go
  frontend/src/components/GeneralSetting/SecuritySetting.vue
  frontend/src/components/PasswordSigninForm.vue
  frontend/src/components/ProvideDashboardContext.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/auth.ts
  frontend/src/router/index.ts
  frontend/src/store/modules/v1/actuator.ts
  frontend/src/types/plan.ts
  frontend/src/types/proto/v1/actuator_service.ts
  frontend/src/types/proto/v1/setting_service.ts
  frontend/src/views/SettingWorkspaceGeneral.vue
  frontend/src/views/auth/Signin.vue
  frontend/src/views/auth/SigninAdmin.vue
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/actuator_service.pb.go
  proto/generated-go/v1/setting_service.pb.go
  proto/v1/actuator_service.proto
  proto/v1/setting_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy
