Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev

chore: update
  backend/runner/plancheck/statement_report_executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: explain 10 times (#13070)
  backend/common/util.go
  backend/plugin/advisor/mysql/advisor_insert_row_limit.go
  backend/plugin/advisor/mysql/advisor_statement_affected_row_limit.go
  backend/plugin/advisor/mysql/advisor_statement_disallow_using_filesort.go
  backend/plugin/advisor/mysql/advisor_statement_disallow_using_temporary.go
  backend/plugin/advisor/mysql/advisor_statement_dml_dry_run.go
  backend/plugin/advisor/mysql/advisor_statement_query_minumum_plan_level.go
  backend/plugin/advisor/mysql/advisor_statement_select_full_table_scan.go
  backend/runner/plancheck/statement_report_executor.go
  backend/runner/plancheck/statement_report_executor_affected_rows.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: explain 10 times (#13070)
  backend/common/util.go
  backend/plugin/advisor/mysql/advisor_insert_row_limit.go
  backend/plugin/advisor/mysql/advisor_statement_affected_row_limit.go
  backend/plugin/advisor/mysql/advisor_statement_disallow_using_filesort.go
  backend/plugin/advisor/mysql/advisor_statement_disallow_using_temporary.go
  backend/plugin/advisor/mysql/advisor_statement_dml_dry_run.go
  backend/plugin/advisor/mysql/advisor_statement_query_minumum_plan_level.go
  backend/plugin/advisor/mysql/advisor_statement_select_full_table_scan.go
  backend/runner/plancheck/statement_report_executor.go
  backend/runner/plancheck/statement_report_executor_affected_rows.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: explain 10 times (#13070)
  backend/common/util.go
  backend/plugin/advisor/mysql/advisor_insert_row_limit.go
  backend/plugin/advisor/mysql/advisor_statement_affected_row_limit.go
  backend/plugin/advisor/mysql/advisor_statement_disallow_using_filesort.go
  backend/plugin/advisor/mysql/advisor_statement_disallow_using_temporary.go
  backend/plugin/advisor/mysql/advisor_statement_dml_dry_run.go
  backend/plugin/advisor/mysql/advisor_statement_query_minumum_plan_level.go
  backend/plugin/advisor/mysql/advisor_statement_select_full_table_scan.go
  backend/runner/plancheck/statement_report_executor.go
  backend/runner/plancheck/statement_report_executor_affected_rows.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

feat(audit): audit logs for SQLService Execute and Export (#13074)
  backend/api/v1/audit.go
  frontend/src/types/proto/v1/sql_service.ts
  proto/generated-go/v1/sql_service.pb.go
  proto/v1/sql_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

feat(audit): audit logs for SQLService Execute and Export (#13074)
  backend/api/v1/audit.go
  frontend/src/types/proto/v1/sql_service.ts
  proto/generated-go/v1/sql_service.pb.go
  proto/v1/sql_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

feat(audit): audit logs for SQLService Execute and Export (#13074)
  backend/api/v1/audit.go
  frontend/src/types/proto/v1/sql_service.ts
  proto/generated-go/v1/sql_service.pb.go
  proto/v1/sql_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

fix: wrong sql review table component
  frontend/src/views/SettingWorkspaceSQLReview.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove duplicated useInstanceStore
  frontend/src/components/AnomalyCenter/AnomalyTable.vue
  frontend/src/components/SensitiveData/SensitiveColumnView.vue
  frontend/src/components/SlowQuery/Panel/SlowQueryPanel.vue
  frontend/src/components/SlowQuery/Settings/SlowQuerySettings.vue
  frontend/src/components/SlowQuery/Settings/components/SlowQueryPolicyTable.vue
  frontend/src/components/TransferDatabaseForm.vue
  frontend/src/components/TransferDatabaseForm/TransferSourceSelector.vue
  frontend/src/layouts/InstanceLayout.vue
  frontend/src/router/dashboard/workspaceSetting.ts
  frontend/src/types/slowQuery.ts
  frontend/src/views/Archive.vue
  frontend/src/views/SettingWorkspaceSubscription.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: eslint
  frontend/src/views/SettingWorkspaceSQLReview.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add permission checks for issue subscribe section
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentList.vue
  frontend/src/components/IssueV1/components/IssueCommentSection/Subscribers/SubscriberList.vue
  frontend/src/components/IssueV1/components/IssueCommentSection/Subscribers/Subscribers.vue
  frontend/src/components/IssueV1/logic/subscriber.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/components/IssueV1/components/IssueCommentSection/Subscribers/Subscribers.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove duplicated useInstanceStore (#13081)
  frontend/src/components/AnomalyCenter/AnomalyTable.vue
  frontend/src/components/SensitiveData/SensitiveColumnView.vue
  frontend/src/components/SlowQuery/Panel/SlowQueryPanel.vue
  frontend/src/components/SlowQuery/Settings/SlowQuerySettings.vue
  frontend/src/components/SlowQuery/Settings/components/SlowQueryPolicyTable.vue
  frontend/src/components/TransferDatabaseForm.vue
  frontend/src/components/TransferDatabaseForm/TransferSourceSelector.vue
  frontend/src/layouts/InstanceLayout.vue
  frontend/src/router/dashboard/workspaceSetting.ts
  frontend/src/types/slowQuery.ts
  frontend/src/views/Archive.vue
  frontend/src/views/SettingWorkspaceSubscription.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove duplicated useInstanceStore (#13081)
  frontend/src/components/AnomalyCenter/AnomalyTable.vue
  frontend/src/components/SensitiveData/SensitiveColumnView.vue
  frontend/src/components/SlowQuery/Panel/SlowQueryPanel.vue
  frontend/src/components/SlowQuery/Settings/SlowQuerySettings.vue
  frontend/src/components/SlowQuery/Settings/components/SlowQueryPolicyTable.vue
  frontend/src/components/TransferDatabaseForm.vue
  frontend/src/components/TransferDatabaseForm/TransferSourceSelector.vue
  frontend/src/layouts/InstanceLayout.vue
  frontend/src/router/dashboard/workspaceSetting.ts
  frontend/src/types/slowQuery.ts
  frontend/src/views/Archive.vue
  frontend/src/views/SettingWorkspaceSubscription.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove duplicated useInstanceStore (#13081)
  frontend/src/components/AnomalyCenter/AnomalyTable.vue
  frontend/src/components/SensitiveData/SensitiveColumnView.vue
  frontend/src/components/SlowQuery/Panel/SlowQueryPanel.vue
  frontend/src/components/SlowQuery/Settings/SlowQuerySettings.vue
  frontend/src/components/SlowQuery/Settings/components/SlowQueryPolicyTable.vue
  frontend/src/components/TransferDatabaseForm.vue
  frontend/src/components/TransferDatabaseForm/TransferSourceSelector.vue
  frontend/src/layouts/InstanceLayout.vue
  frontend/src/router/dashboard/workspaceSetting.ts
  frontend/src/types/slowQuery.ts
  frontend/src/views/Archive.vue
  frontend/src/views/SettingWorkspaceSubscription.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: handle use system ca
  backend/plugin/db/mongodb/mongodb.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update
  backend/plugin/db/mongodb/mongodb.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: add permission checks for issue subscribe section (#13082)
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentList.vue
  frontend/src/components/IssueV1/components/IssueCommentSection/Subscribers/SubscriberList.vue
  frontend/src/components/IssueV1/components/IssueCommentSection/Subscribers/Subscribers.vue
  frontend/src/components/IssueV1/logic/subscriber.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add permission checks for issue subscribe section (#13082)
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentList.vue
  frontend/src/components/IssueV1/components/IssueCommentSection/Subscribers/SubscriberList.vue
  frontend/src/components/IssueV1/components/IssueCommentSection/Subscribers/Subscribers.vue
  frontend/src/components/IssueV1/logic/subscriber.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add permission checks for issue subscribe section (#13082)
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentList.vue
  frontend/src/components/IssueV1/components/IssueCommentSection/Subscribers/SubscriberList.vue
  frontend/src/components/IssueV1/components/IssueCommentSection/Subscribers/Subscribers.vue
  frontend/src/components/IssueV1/logic/subscriber.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: wrong sql review table component (#13078)
  frontend/src/views/SettingWorkspaceSQLReview.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: wrong sql review table component (#13078)
  frontend/src/views/SettingWorkspaceSQLReview.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: wrong sql review table component (#13078)
  frontend/src/views/SettingWorkspaceSQLReview.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: handle use system ca for mongodb (#13083)
  backend/plugin/db/mongodb/mongodb.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: handle use system ca for mongodb (#13083)
  backend/plugin/db/mongodb/mongodb.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: handle use system ca for mongodb (#13083)
  backend/plugin/db/mongodb/mongodb.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: tweak i18n
  frontend/src/locales/en-US.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: tweak i18n (#13086)
  frontend/src/locales/en-US.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: tweak i18n (#13086)
  frontend/src/locales/en-US.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: tweak i18n (#13086)
  frontend/src/locales/en-US.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: skip fetch resource if no permission
  frontend/src/components/SQLReview/components/SQLReviewAttachedResource.vue
  frontend/src/components/SQLReview/components/useReviewConfigAttachedResource.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: skip fetch resource if no permission (#13087)
  frontend/src/components/SQLReview/components/SQLReviewAttachedResource.vue
  frontend/src/components/SQLReview/components/useReviewConfigAttachedResource.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: skip fetch resource if no permission (#13087)
  frontend/src/components/SQLReview/components/SQLReviewAttachedResource.vue
  frontend/src/components/SQLReview/components/useReviewConfigAttachedResource.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: skip fetch resource if no permission (#13087)
  frontend/src/components/SQLReview/components/SQLReviewAttachedResource.vue
  frontend/src/components/SQLReview/components/useReviewConfigAttachedResource.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: support mongodb mutual tls
  backend/plugin/db/mongodb/mongodb.go
  frontend/src/components/InstanceForm/DataSourceSection/SslCertificateFormV1.vue
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

feat: support mongodb mutual tls (#13088)
  backend/plugin/db/mongodb/mongodb.go
  frontend/src/components/InstanceForm/DataSourceSection/SslCertificateFormV1.vue
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

feat: support mongodb mutual tls (#13088)
  backend/plugin/db/mongodb/mongodb.go
  frontend/src/components/InstanceForm/DataSourceSection/SslCertificateFormV1.vue
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

feat: support mongodb mutual tls (#13088)
  backend/plugin/db/mongodb/mongodb.go
  frontend/src/components/InstanceForm/DataSourceSection/SslCertificateFormV1.vue
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: issue comment subscriber
  backend/api/v1/issue_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: issue comment subscriber (#13090)
  backend/api/v1/issue_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev
