Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @ecmadao, @rebelice, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @ecmadao

# Backend and API.
/backend/                    @d-bytebase @ecmadao
/proto/                      @d-bytebase @ecmadao

# Backend SQL kernel.
/backend/plugin/advisor      @d-bytebase @ecmadao @rebelice
/backend/plugin/db           @d-bytebase @ecmadao @rebelice
/backend/plugin/parser       @d-bytebase @ecmadao @rebelice

# Frontend.
/frontend/                   @LiuJi-Jim @boojack

# Dependency files.
frontend/package.json        @d-bytebase @LiuJi-Jim
go.mod                       @d-bytebase @ecmadao

chore: add ssh config proto for datasource (#5819)
  frontend/src/types/proto/store/data_source.ts
  frontend/src/types/proto/v1/instance_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/store/data_source.pb.go
  proto/generated-go/v1/instance_service.pb.go
  proto/store/data_source.proto
  proto/v1/instance_service.proto
Owners: @LiuJi-Jim, @boojack, @d-bytebase, @ecmadao

chore: add ssh config proto for datasource (#5819)
  frontend/src/types/proto/store/data_source.ts
  frontend/src/types/proto/v1/instance_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/store/data_source.pb.go
  proto/generated-go/v1/instance_service.pb.go
  proto/store/data_source.proto
  proto/v1/instance_service.proto
Owners: @LiuJi-Jim, @boojack, @d-bytebase, @ecmadao

chore: add ssh config proto for datasource (#5819)
  frontend/src/types/proto/store/data_source.ts
  frontend/src/types/proto/v1/instance_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/store/data_source.pb.go
  proto/generated-go/v1/instance_service.pb.go
  proto/store/data_source.proto
  proto/v1/instance_service.proto
Owners: @LiuJi-Jim, @boojack, @d-bytebase, @ecmadao

chore: make watermark less intrusive
  frontend/src/components/misc/Watermark.vue
Owners: @LiuJi-Jim, @boojack

chore: make watermark less intrusive (#5820)
  frontend/src/components/misc/Watermark.vue
Owners: @LiuJi-Jim, @boojack

chore: make watermark less intrusive (#5820)
  frontend/src/components/misc/Watermark.vue
Owners: @LiuJi-Jim, @boojack

chore: make watermark less intrusive (#5820)
  frontend/src/components/misc/Watermark.vue
Owners: @LiuJi-Jim, @boojack

chore: make watermark less intrusive
  frontend/src/components/misc/Watermark.vue
Owners: @LiuJi-Jim, @boojack

chore: implement ssh config api/store
  backend/api/v1/instance_service.go
  backend/component/dbfactory/dbfactory.go
  backend/legacyapi/data_source.go
  backend/legacyapi/instance.go
  backend/server/database.go
  backend/server/instance.go
  backend/server/sql.go
  backend/store/data_source.go
  frontend/src/types/proto/store/data_source.ts
  frontend/src/types/proto/v1/instance_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/store/data_source.pb.go
  proto/generated-go/v1/instance_service.pb.go
  proto/store/data_source.proto
  proto/v1/instance_service.proto
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

chore: implement ssh config api/store (#5822)
  backend/api/v1/instance_service.go
  backend/component/dbfactory/dbfactory.go
  backend/legacyapi/data_source.go
  backend/legacyapi/instance.go
  backend/server/database.go
  backend/server/instance.go
  backend/server/sql.go
  backend/store/data_source.go
  frontend/src/types/proto/store/data_source.ts
  frontend/src/types/proto/v1/instance_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/store/data_source.pb.go
  proto/generated-go/v1/instance_service.pb.go
  proto/store/data_source.proto
  proto/v1/instance_service.proto
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

chore: implement ssh config api/store (#5822)
  backend/api/v1/instance_service.go
  backend/component/dbfactory/dbfactory.go
  backend/legacyapi/data_source.go
  backend/legacyapi/instance.go
  backend/server/database.go
  backend/server/instance.go
  backend/server/sql.go
  backend/store/data_source.go
  frontend/src/types/proto/store/data_source.ts
  frontend/src/types/proto/v1/instance_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/store/data_source.pb.go
  proto/generated-go/v1/instance_service.pb.go
  proto/store/data_source.proto
  proto/v1/instance_service.proto
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

chore: implement ssh config api/store (#5822)
  backend/api/v1/instance_service.go
  backend/component/dbfactory/dbfactory.go
  backend/legacyapi/data_source.go
  backend/legacyapi/instance.go
  backend/server/database.go
  backend/server/instance.go
  backend/server/sql.go
  backend/store/data_source.go
  frontend/src/types/proto/store/data_source.ts
  frontend/src/types/proto/v1/instance_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/store/data_source.pb.go
  proto/generated-go/v1/instance_service.pb.go
  proto/store/data_source.proto
  proto/v1/instance_service.proto
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

chore: set issue mode to normal for tenant mode project in sync schema
  frontend/src/components/Issue/logic/base.ts
  frontend/src/views/SyncDatabaseSchema/index.vue
Owners: @LiuJi-Jim, @boojack

chore: set issue mode to normal for tenant mode project in sync schema (#5823)
  frontend/src/components/Issue/logic/base.ts
  frontend/src/views/SyncDatabaseSchema/index.vue
Owners: @LiuJi-Jim, @boojack

chore: set issue mode to normal for tenant mode project in sync schema (#5823)
  frontend/src/components/Issue/logic/base.ts
  frontend/src/views/SyncDatabaseSchema/index.vue
Owners: @LiuJi-Jim, @boojack

chore: set issue mode to normal for tenant mode project in sync schema (#5823)
  frontend/src/components/Issue/logic/base.ts
  frontend/src/views/SyncDatabaseSchema/index.vue
Owners: @LiuJi-Jim, @boojack

chore: set issue mode to normal for tenant mode project in sync schema
  frontend/src/components/Issue/logic/base.ts
  frontend/src/views/SyncDatabaseSchema/index.vue
Owners: @LiuJi-Jim, @boojack

feat: add ssh dialer for mysql
  backend/component/dbfactory/dbfactory.go
  backend/legacyapi/sql.go
  backend/plugin/db/driver.go
  backend/plugin/db/mysql/mysql.go
  backend/server/sql.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: update
  backend/plugin/db/mysql/mysql.go
Owners: @d-bytebase, @ecmadao, @rebelice

Update backend/plugin/db/mysql/mysql.go
  backend/plugin/db/mysql/mysql.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: update common task sheet id
  frontend/src/components/Issue/IssueTaskStatementPanel.vue
  frontend/src/components/Issue/logic/common.ts
Owners: @LiuJi-Jim, @boojack

feat: add ssh dialer for mysql (#5825)
  backend/component/dbfactory/dbfactory.go
  backend/legacyapi/sql.go
  backend/plugin/db/driver.go
  backend/plugin/db/mysql/mysql.go
  backend/server/sql.go
Owners: @d-bytebase, @ecmadao, @rebelice

feat: add ssh dialer for mysql (#5825)
  backend/component/dbfactory/dbfactory.go
  backend/legacyapi/sql.go
  backend/plugin/db/driver.go
  backend/plugin/db/mysql/mysql.go
  backend/server/sql.go
Owners: @d-bytebase, @ecmadao, @rebelice

feat: add ssh dialer for mysql (#5825)
  backend/component/dbfactory/dbfactory.go
  backend/legacyapi/sql.go
  backend/plugin/db/driver.go
  backend/plugin/db/mysql/mysql.go
  backend/server/sql.go
Owners: @d-bytebase, @ecmadao, @rebelice

feat: add sheet id to task statement update acitivity payload
  backend/legacyapi/activity.go
  backend/runner/taskrun/scheduler.go
  backend/utils/utils.go
Owners: @d-bytebase, @ecmadao

feat: add sheet id to task statement update acitivity payload (#5826)
  backend/legacyapi/activity.go
  backend/runner/taskrun/scheduler.go
  backend/utils/utils.go
Owners: @d-bytebase, @ecmadao

feat: add sheet id to task statement update acitivity payload (#5826)
  backend/legacyapi/activity.go
  backend/runner/taskrun/scheduler.go
  backend/utils/utils.go
Owners: @d-bytebase, @ecmadao

feat: add sheet id to task statement update acitivity payload (#5826)
  backend/legacyapi/activity.go
  backend/runner/taskrun/scheduler.go
  backend/utils/utils.go
Owners: @d-bytebase, @ecmadao

feat: forbid deleting used sheets
  backend/server/sheet.go
  backend/store/sheet.go
Owners: @d-bytebase, @ecmadao

fix: remove unused
  backend/store/sheet.go
Owners: @d-bytebase, @ecmadao

Update backend/store/sheet.go
  backend/store/sheet.go
Owners: @d-bytebase, @ecmadao

chore: using yaml to simplify the test logic
  backend/plugin/parser/mybatis/parser_test.go
  backend/plugin/parser/mybatis/test-data/test_simple_mapper.yaml
Owners: @d-bytebase, @ecmadao, @rebelice

update sql
  backend/store/sheet.go
Owners: @d-bytebase, @ecmadao

chore: update
  backend/plugin/parser/mybatis/parser_test.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: using yaml to simplify the test logic (#5828)
  backend/plugin/parser/mybatis/parser_test.go
  backend/plugin/parser/mybatis/test-data/test_simple_mapper.yaml
Owners: @d-bytebase, @ecmadao, @rebelice

chore: using yaml to simplify the test logic (#5828)
  backend/plugin/parser/mybatis/parser_test.go
  backend/plugin/parser/mybatis/test-data/test_simple_mapper.yaml
Owners: @d-bytebase, @ecmadao, @rebelice

chore: using yaml to simplify the test logic (#5828)
  backend/plugin/parser/mybatis/parser_test.go
  backend/plugin/parser/mybatis/test-data/test_simple_mapper.yaml
Owners: @d-bytebase, @ecmadao, @rebelice

feat: forbid deleting used sheets (#5827)
  backend/server/sheet.go
  backend/store/sheet.go
Owners: @d-bytebase, @ecmadao

feat: forbid deleting used sheets (#5827)
  backend/server/sheet.go
  backend/store/sheet.go
Owners: @d-bytebase, @ecmadao

feat: forbid deleting used sheets (#5827)
  backend/server/sheet.go
  backend/store/sheet.go
Owners: @d-bytebase, @ecmadao
