Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

refactor: list database requests
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/AdvancedSearch/useCommonSearchScopeOptions.ts
  frontend/src/components/AlterSchemaPrepForm/AlterSchemaPrepForm.vue
  frontend/src/components/Changelist/ChangelistDetail/ApplyToDatabasePanel/ApplyToDatabasePanel.vue
  frontend/src/components/DataExportPrepForm/DataExportPrepForm.vue
  frontend/src/components/DatabaseGroup/DatabaseGroupForm.vue
  frontend/src/components/DatabaseGroup/utils.ts
  frontend/src/components/InstanceForm/Buttons.vue
  frontend/src/components/Issue/panel/RequestQueryPanel/DatabaseResourceForm/DatabaseResourceSelector.vue
  frontend/src/components/IssueV1/logic/initialize/create.ts
  frontend/src/components/Plan/logic/initialize/create.ts
  frontend/src/components/ProvideDashboardContext.vue
  frontend/src/components/ProvideSQLEditorContext.vue
  frontend/src/components/QuickActionPanel.vue
  frontend/src/components/SyncDatabaseSchema/index.vue
  frontend/src/components/TransferDatabaseForm.vue
  frontend/src/components/v2/Model/ProjectV1Table.vue
  frontend/src/components/v2/Select/DatabaseSelect.vue
  frontend/src/layouts/ProjectV1Layout.vue
  frontend/src/router/dashboard/projectV1.ts
  frontend/src/router/dashboard/workspace.ts
  frontend/src/store/modules/v1/common.ts
  frontend/src/store/modules/v1/database.ts
  frontend/src/store/modules/v1/databaseList.ts
  frontend/src/store/modules/v1/experimental-issue.ts
  frontend/src/types/quickAction.ts
  frontend/src/views/DashboardSidebar.vue
  frontend/src/views/ExportCenter/index.vue
  frontend/src/views/InstanceDetail.vue
  frontend/src/views/ReviewCenter/index.vue
  frontend/src/views/SyncDatabaseSchema.vue
  frontend/src/views/sql-editor/Setting/Project/Detail.vue
  frontend/src/views/sql-editor/Setting/Project/Project.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: npe
  backend/api/v1/database_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: plan check run sample (#13333)
  backend/common/util.go
  backend/runner/approval/runner.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: plan check run sample (#13333)
  backend/common/util.go
  backend/runner/approval/runner.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: plan check run sample (#13333)
  backend/common/util.go
  backend/runner/approval/runner.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  backend/api/v1/database_service.go
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/database_service.pb.go
  proto/generated-go/v1/database_service.pb.gw.go
  proto/generated-go/v1/database_service_grpc.pb.go
  proto/v1/database_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: update
  frontend/src/store/modules/v1/databaseList.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: npe (#13336)
  backend/api/v1/database_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: npe (#13336)
  backend/api/v1/database_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: npe (#13336)
  backend/api/v1/database_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  backend/api/v1/database_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat(audit): implement request metadata
  backend/api/v1/audit.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: database list in workspace
  frontend/src/views/DatabaseDashboard.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: database list in workspace (#13339)
  frontend/src/views/DatabaseDashboard.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: database list in workspace (#13339)
  frontend/src/views/DatabaseDashboard.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: database list in workspace (#13339)
  frontend/src/views/DatabaseDashboard.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  backend/api/v1/audit.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: no hack on quote string for MySQL/TiDB
  backend/plugin/schema/mysql/get_design_schema.go
  backend/plugin/schema/mysql/state.go
  backend/plugin/schema/tidb/state.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(audit): implement request metadata (#13338)
  backend/api/v1/audit.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat(audit): implement request metadata (#13338)
  backend/api/v1/audit.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat(audit): implement request metadata (#13338)
  backend/api/v1/audit.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: issue comment on task run
  backend/api/v1/rollout_service.go
  backend/runner/taskrun/schedulerv2.go
  backend/store/issue_comment.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: test test test
  backend/plugin/schema/mysql/testdata/get-design-schema/get_design_schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: no hack on quote string for MySQL/TiDB (#13341)
  backend/plugin/schema/mysql/get_design_schema.go
  backend/plugin/schema/mysql/state.go
  backend/plugin/schema/mysql/testdata/get-design-schema/get_design_schema.yaml
  backend/plugin/schema/tidb/state.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: no hack on quote string for MySQL/TiDB (#13341)
  backend/plugin/schema/mysql/get_design_schema.go
  backend/plugin/schema/mysql/state.go
  backend/plugin/schema/mysql/testdata/get-design-schema/get_design_schema.yaml
  backend/plugin/schema/tidb/state.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: no hack on quote string for MySQL/TiDB (#13341)
  backend/plugin/schema/mysql/get_design_schema.go
  backend/plugin/schema/mysql/state.go
  backend/plugin/schema/mysql/testdata/get-design-schema/get_design_schema.yaml
  backend/plugin/schema/tidb/state.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: issue comment on task run (#13340)
  backend/api/v1/rollout_service.go
  backend/runner/taskrun/schedulerv2.go
  backend/store/issue_comment.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: issue comment on task run (#13340)
  backend/api/v1/rollout_service.go
  backend/runner/taskrun/schedulerv2.go
  backend/store/issue_comment.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: issue comment on task run (#13340)
  backend/api/v1/rollout_service.go
  backend/runner/taskrun/schedulerv2.go
  backend/store/issue_comment.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: SQL Editor allowlist rules
  backend/plugin/advisor/change_type.go
  backend/plugin/advisor/sql_review.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update
  backend/plugin/advisor/change_type.go
  backend/plugin/advisor/sql_review.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: retire project uid in api
  backend/api/v1/project_service.go
  frontend/src/App.vue
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentView/TaskName.vue
  frontend/src/components/IssueV1/components/IssueSearch/IssueSearch.vue
  frontend/src/components/ProvideDashboardContext.vue
  frontend/src/components/Quickstart.vue
  frontend/src/components/SQLReview/components/SQLReviewAttachedResource.vue
  frontend/src/components/SensitiveData/GrantAccessDrawer.vue
  frontend/src/layouts/ProjectV1Layout.vue
  frontend/src/store/modules/v1/project.ts
  frontend/src/types/proto/v1/project_service.ts
  frontend/src/types/v1/project.ts
  frontend/src/utils/databaseGroup/issue.ts
  frontend/src/views/project/ProjectIssueDetail.vue
  frontend/src/views/project/ProjectPlanDetail.vue
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/project_service.pb.go
  proto/v1/project_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: update
  backend/api/gitops/webhook.go
  backend/api/v1/sql_service.go
  backend/api/v1/sql_service_utils.go
  backend/plugin/advisor/change_type.go
  frontend/src/types/proto/store/plan_check_run.ts
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/plan_check_run.pb.go
  proto/generated-go/v1/sql_service.pb.go
  proto/store/plan_check_run.proto
  proto/v1/sql_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack, @RainbowDashy

fix: filter out column position
  backend/api/v1/branch_merge.go
  backend/api/v1/branch_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: retire `environment.uid` in api
  backend/api/v1/environment_service.go
  frontend/src/components/SQLReview/components/SQLReviewAttachedResource.vue
  frontend/src/components/v2/Model/EnvironmentV1Table.vue
  frontend/src/store/modules/v1/environment.ts
  frontend/src/types/proto/v1/environment_service.ts
  frontend/src/utils/v1/environment.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/environment_service.pb.go
  proto/v1/environment_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: retire project uid in api (#13344)
  backend/api/v1/project_service.go
  frontend/src/App.vue
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentView/TaskName.vue
  frontend/src/components/IssueV1/components/IssueSearch/IssueSearch.vue
  frontend/src/components/ProvideDashboardContext.vue
  frontend/src/components/Quickstart.vue
  frontend/src/components/SQLReview/components/SQLReviewAttachedResource.vue
  frontend/src/components/SensitiveData/GrantAccessDrawer.vue
  frontend/src/layouts/ProjectV1Layout.vue
  frontend/src/store/modules/v1/project.ts
  frontend/src/types/proto/v1/project_service.ts
  frontend/src/types/v1/project.ts
  frontend/src/utils/databaseGroup/issue.ts
  frontend/src/views/project/ProjectIssueDetail.vue
  frontend/src/views/project/ProjectPlanDetail.vue
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/project_service.pb.go
  proto/v1/project_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: retire project uid in api (#13344)
  backend/api/v1/project_service.go
  frontend/src/App.vue
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentView/TaskName.vue
  frontend/src/components/IssueV1/components/IssueSearch/IssueSearch.vue
  frontend/src/components/ProvideDashboardContext.vue
  frontend/src/components/Quickstart.vue
  frontend/src/components/SQLReview/components/SQLReviewAttachedResource.vue
  frontend/src/components/SensitiveData/GrantAccessDrawer.vue
  frontend/src/layouts/ProjectV1Layout.vue
  frontend/src/store/modules/v1/project.ts
  frontend/src/types/proto/v1/project_service.ts
  frontend/src/types/v1/project.ts
  frontend/src/utils/databaseGroup/issue.ts
  frontend/src/views/project/ProjectIssueDetail.vue
  frontend/src/views/project/ProjectPlanDetail.vue
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/project_service.pb.go
  proto/v1/project_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: retire project uid in api (#13344)
  backend/api/v1/project_service.go
  frontend/src/App.vue
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentView/TaskName.vue
  frontend/src/components/IssueV1/components/IssueSearch/IssueSearch.vue
  frontend/src/components/ProvideDashboardContext.vue
  frontend/src/components/Quickstart.vue
  frontend/src/components/SQLReview/components/SQLReviewAttachedResource.vue
  frontend/src/components/SensitiveData/GrantAccessDrawer.vue
  frontend/src/layouts/ProjectV1Layout.vue
  frontend/src/store/modules/v1/project.ts
  frontend/src/types/proto/v1/project_service.ts
  frontend/src/types/v1/project.ts
  frontend/src/utils/databaseGroup/issue.ts
  frontend/src/views/project/ProjectIssueDetail.vue
  frontend/src/views/project/ProjectPlanDetail.vue
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/project_service.pb.go
  proto/v1/project_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: SQL Editor allowlist rules (#13343)
  backend/api/gitops/webhook.go
  backend/api/v1/sql_service.go
  backend/api/v1/sql_service_utils.go
  backend/plugin/advisor/change_type.go
  backend/plugin/advisor/sql_review.go
  frontend/src/types/proto/store/plan_check_run.ts
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/plan_check_run.pb.go
  proto/generated-go/v1/sql_service.pb.go
  proto/store/plan_check_run.proto
  proto/v1/sql_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack, @RainbowDashy

chore: SQL Editor allowlist rules (#13343)
  backend/api/gitops/webhook.go
  backend/api/v1/sql_service.go
  backend/api/v1/sql_service_utils.go
  backend/plugin/advisor/change_type.go
  backend/plugin/advisor/sql_review.go
  frontend/src/types/proto/store/plan_check_run.ts
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/plan_check_run.pb.go
  proto/generated-go/v1/sql_service.pb.go
  proto/store/plan_check_run.proto
  proto/v1/sql_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack, @RainbowDashy

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
