Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

refactor: cache permissions calculation
  frontend/src/components/Branch/BranchCreateView.vue
  frontend/src/components/Branch/BranchDetailView.vue
  frontend/src/components/Branch/BranchMergeView/BranchMergeView.vue
  frontend/src/components/Branch/BranchRebaseView/BranchRebaseView.vue
  frontend/src/components/v2/Select/ProjectSelect.vue
  frontend/src/store/modules/user.ts
  frontend/src/store/modules/v1/index.ts
  frontend/src/store/modules/v1/permission.ts
  frontend/src/store/modules/v1/projectIamPolicy.ts
  frontend/src/utils/iam/permission.ts
  frontend/src/utils/v1/database.ts
  frontend/src/utils/v1/project.ts
  frontend/src/utils/v1/worksheet.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove timers
  frontend/src/utils/iam/permission.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

Update frontend/src/views/DashboardSidebar.vue
  frontend/src/views/DashboardSidebar.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(frontend): performance optimization (part.2) (#12713)
  frontend/src/components/Branch/BranchCreateView.vue
  frontend/src/components/Branch/BranchDetailView.vue
  frontend/src/components/Branch/BranchMergeView/BranchMergeView.vue
  frontend/src/components/Branch/BranchRebaseView/BranchRebaseView.vue
  frontend/src/components/KBar/useDatabaseActions.ts
  frontend/src/components/KBar/useProjectActions.ts
  frontend/src/components/Project/ProjectSidebarV1.vue
  frontend/src/components/ProvideDashboardContext.vue
  frontend/src/components/v2/Select/ProjectSelect.vue
  frontend/src/layouts/BodyLayout.vue
  frontend/src/store/modules/user.ts
  frontend/src/store/modules/v1/index.ts
  frontend/src/store/modules/v1/permission.ts
  frontend/src/store/modules/v1/projectIamPolicy.ts
  frontend/src/utils/iam/permission.ts
  frontend/src/utils/v1/database.ts
  frontend/src/utils/v1/project.ts
  frontend/src/utils/v1/worksheet.ts
  frontend/src/views/DashboardSidebar.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(frontend): performance optimization (part.2) (#12713)
  frontend/src/components/Branch/BranchCreateView.vue
  frontend/src/components/Branch/BranchDetailView.vue
  frontend/src/components/Branch/BranchMergeView/BranchMergeView.vue
  frontend/src/components/Branch/BranchRebaseView/BranchRebaseView.vue
  frontend/src/components/KBar/useDatabaseActions.ts
  frontend/src/components/KBar/useProjectActions.ts
  frontend/src/components/Project/ProjectSidebarV1.vue
  frontend/src/components/ProvideDashboardContext.vue
  frontend/src/components/v2/Select/ProjectSelect.vue
  frontend/src/layouts/BodyLayout.vue
  frontend/src/store/modules/user.ts
  frontend/src/store/modules/v1/index.ts
  frontend/src/store/modules/v1/permission.ts
  frontend/src/store/modules/v1/projectIamPolicy.ts
  frontend/src/utils/iam/permission.ts
  frontend/src/utils/v1/database.ts
  frontend/src/utils/v1/project.ts
  frontend/src/utils/v1/worksheet.ts
  frontend/src/views/DashboardSidebar.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(frontend): performance optimization (part.2) (#12713)
  frontend/src/components/Branch/BranchCreateView.vue
  frontend/src/components/Branch/BranchDetailView.vue
  frontend/src/components/Branch/BranchMergeView/BranchMergeView.vue
  frontend/src/components/Branch/BranchRebaseView/BranchRebaseView.vue
  frontend/src/components/KBar/useDatabaseActions.ts
  frontend/src/components/KBar/useProjectActions.ts
  frontend/src/components/Project/ProjectSidebarV1.vue
  frontend/src/components/ProvideDashboardContext.vue
  frontend/src/components/v2/Select/ProjectSelect.vue
  frontend/src/layouts/BodyLayout.vue
  frontend/src/store/modules/user.ts
  frontend/src/store/modules/v1/index.ts
  frontend/src/store/modules/v1/permission.ts
  frontend/src/store/modules/v1/projectIamPolicy.ts
  frontend/src/utils/iam/permission.ts
  frontend/src/utils/v1/database.ts
  frontend/src/utils/v1/project.ts
  frontend/src/utils/v1/worksheet.ts
  frontend/src/views/DashboardSidebar.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add deployment config plans migrate script (#12712)
  backend/migrator/migration/prod/2.21/0003##deployment_config_plan.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: add deployment config plans migrate script (#12712)
  backend/migrator/migration/prod/2.21/0003##deployment_config_plan.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: add deployment config plans migrate script (#12712)
  backend/migrator/migration/prod/2.21/0003##deployment_config_plan.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: drop tenant mode
  backend/migrator/migration/prod/2.21/0004##tenant_mode.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: drop tenant mode (#12714)
  backend/migrator/migration/prod/2.21/0004##tenant_mode.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: drop tenant mode (#12714)
  backend/migrator/migration/prod/2.21/0004##tenant_mode.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: drop tenant mode (#12714)
  backend/migrator/migration/prod/2.21/0004##tenant_mode.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: relax error
  backend/api/v1/auth_service.go
  frontend/src/store/modules/auth.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: relax error
  backend/api/v1/auth_service.go
  frontend/src/store/modules/auth.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: relax error
  backend/api/v1/auth_service.go
  frontend/src/store/modules/auth.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: relax error
  backend/api/v1/auth_service.go
  frontend/src/store/modules/auth.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: relax error
  backend/api/v1/auth_service.go
  frontend/src/store/modules/auth.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: use review config id as slug
  frontend/src/components/SQLReview/components/SQLReviewPolicyDataTable.vue
  frontend/src/components/SQLReview/components/SQLReviewPolicySelectPanel.vue
  frontend/src/utils/slug.ts
  frontend/src/views/SettingWorkspaceSQLReviewDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: reduce computed overhead
  frontend/src/store/modules/v1/instance.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: unregister route hook
  frontend/src/components/ProvideDashboardContext.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: reduce unnecessary computation
  frontend/src/components/AdvancedSearch/useCommonSearchScopeOptions.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: use review config id as slug (#12718)
  frontend/src/components/SQLReview/components/SQLReviewPolicyDataTable.vue
  frontend/src/components/SQLReview/components/SQLReviewPolicySelectPanel.vue
  frontend/src/utils/slug.ts
  frontend/src/views/SettingWorkspaceSQLReviewDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: use review config id as slug (#12718)
  frontend/src/components/SQLReview/components/SQLReviewPolicyDataTable.vue
  frontend/src/components/SQLReview/components/SQLReviewPolicySelectPanel.vue
  frontend/src/utils/slug.ts
  frontend/src/views/SettingWorkspaceSQLReviewDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: use review config id as slug (#12718)
  frontend/src/components/SQLReview/components/SQLReviewPolicyDataTable.vue
  frontend/src/components/SQLReview/components/SQLReviewPolicySelectPanel.vue
  frontend/src/utils/slug.ts
  frontend/src/views/SettingWorkspaceSQLReviewDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(frontend): performance optimization (part.3) (#12717)
  frontend/src/components/AdvancedSearch/useCommonSearchScopeOptions.ts
  frontend/src/components/ProvideDashboardContext.vue
  frontend/src/store/modules/v1/instance.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(frontend): performance optimization (part.3) (#12717)
  frontend/src/components/AdvancedSearch/useCommonSearchScopeOptions.ts
  frontend/src/components/ProvideDashboardContext.vue
  frontend/src/store/modules/v1/instance.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(frontend): performance optimization (part.3) (#12717)
  frontend/src/components/AdvancedSearch/useCommonSearchScopeOptions.ts
  frontend/src/components/ProvideDashboardContext.vue
  frontend/src/store/modules/v1/instance.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: wecom err
  backend/plugin/webhook/wecom/wecom.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: wecom err (#12719)
  backend/plugin/webhook/wecom/wecom.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: wecom err (#12719)
  backend/plugin/webhook/wecom/wecom.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: wecom err (#12719)
  backend/plugin/webhook/wecom/wecom.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update VERSION to 2.21.0
  scripts/VERSION
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: update VERSION to 2.21.0 (#12720)
  scripts/VERSION
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: update VERSION to 2.21.0 (#12720)
  scripts/VERSION
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: update VERSION to 2.21.0 (#12720)
  scripts/VERSION
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: add description to multitenancy
  frontend/src/components/DatabaseGroup/DatabaseGroupForm.vue
  frontend/src/components/DatabaseGroup/DatabaseGroupPanel.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add description to multitenancy (#12721)
  frontend/src/components/DatabaseGroup/DatabaseGroupForm.vue
  frontend/src/components/DatabaseGroup/DatabaseGroupPanel.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add description to multitenancy (#12721)
  frontend/src/components/DatabaseGroup/DatabaseGroupForm.vue
  frontend/src/components/DatabaseGroup/DatabaseGroupPanel.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add description to multitenancy (#12721)
  frontend/src/components/DatabaseGroup/DatabaseGroupForm.vue
  frontend/src/components/DatabaseGroup/DatabaseGroupPanel.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
