Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @ecmadao, @rebelice, @LiuJi-Jim, @boojack

feat(frontend): issue activity list improvements (#5350)
  frontend/src/components/Issue/IssueActivityPanel.vue
  frontend/src/components/Issue/PipelineGhostFlow.vue
  frontend/src/components/Issue/PipelinePITRFlow.vue
  frontend/src/components/Issue/PipelineSimpleFlow.vue
  frontend/src/components/Issue/PipelineTenantFlow.vue
  frontend/src/components/Issue/activity/ActionCreator.vue
  frontend/src/components/Issue/activity/ActionIcon.vue
  frontend/src/components/Issue/activity/ActionSentence.vue
  frontend/src/components/Issue/activity/ActivityAction.vue
  frontend/src/components/Issue/activity/ActivityItem.vue
  frontend/src/components/Issue/activity/Comment.ts
  frontend/src/components/Issue/activity/StageName.vue
  frontend/src/components/Issue/activity/TaskName.vue
  frontend/src/components/Issue/activity/common.ts
  frontend/src/components/Issue/activity/index.ts
  frontend/src/components/Issue/activity/utils.ts
  frontend/src/locales/en-US.json
  frontend/src/locales/zh-CN.json
  frontend/src/store/modules/activity.ts
  frontend/src/utils/activity.ts
  frontend/src/utils/pipeline.ts
Owners: @LiuJi-Jim, @boojack

feat(frontend): issue activity list improvements (#5350)
  frontend/src/components/Issue/IssueActivityPanel.vue
  frontend/src/components/Issue/PipelineGhostFlow.vue
  frontend/src/components/Issue/PipelinePITRFlow.vue
  frontend/src/components/Issue/PipelineSimpleFlow.vue
  frontend/src/components/Issue/PipelineTenantFlow.vue
  frontend/src/components/Issue/activity/ActionCreator.vue
  frontend/src/components/Issue/activity/ActionIcon.vue
  frontend/src/components/Issue/activity/ActionSentence.vue
  frontend/src/components/Issue/activity/ActivityAction.vue
  frontend/src/components/Issue/activity/ActivityItem.vue
  frontend/src/components/Issue/activity/Comment.ts
  frontend/src/components/Issue/activity/StageName.vue
  frontend/src/components/Issue/activity/TaskName.vue
  frontend/src/components/Issue/activity/common.ts
  frontend/src/components/Issue/activity/index.ts
  frontend/src/components/Issue/activity/utils.ts
  frontend/src/locales/en-US.json
  frontend/src/locales/zh-CN.json
  frontend/src/store/modules/activity.ts
  frontend/src/utils/activity.ts
  frontend/src/utils/pipeline.ts
Owners: @LiuJi-Jim, @boojack

chore: update the tables SQL
  backend/plugin/db/redshift/sync.go
Owners: @d-bytebase, @ecmadao, @rebelice

refactor: extract logic for reusing
  frontend/src/components/Issue/TaskExtraActionsButton.vue
  frontend/src/utils/task.ts
Owners: @LiuJi-Jim, @boojack

feat: implement batch task skip
  frontend/src/components/Issue/BatchTaskActionForm.vue
  frontend/src/components/Issue/IssueStatusTransitionButtonGroup.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack

chore: wording
  frontend/src/components/Issue/BatchTaskActionForm.vue
  frontend/src/components/Issue/IssueStatusTransitionButtonGroup.vue
Owners: @LiuJi-Jim, @boojack

feat(frontend): batch skip failed tasks in current stage (#5352)
  frontend/src/components/Issue/BatchTaskActionForm.vue
  frontend/src/components/Issue/IssueStatusTransitionButtonGroup.vue
  frontend/src/components/Issue/TaskExtraActionsButton.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/zh-CN.json
  frontend/src/utils/task.ts
Owners: @LiuJi-Jim, @boojack

feat(frontend): batch skip failed tasks in current stage (#5352)
  frontend/src/components/Issue/BatchTaskActionForm.vue
  frontend/src/components/Issue/IssueStatusTransitionButtonGroup.vue
  frontend/src/components/Issue/TaskExtraActionsButton.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/zh-CN.json
  frontend/src/utils/task.ts
Owners: @LiuJi-Jim, @boojack

feat(frontend): batch skip failed tasks in current stage (#5352)
  frontend/src/components/Issue/BatchTaskActionForm.vue
  frontend/src/components/Issue/IssueStatusTransitionButtonGroup.vue
  frontend/src/components/Issue/TaskExtraActionsButton.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/zh-CN.json
  frontend/src/utils/task.ts
Owners: @LiuJi-Jim, @boojack

feat: add slow query api and proto buf definition
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/google/type/interval.ts
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/database_service.pb.go
  proto/generated-go/v1/database_service.pb.gw.go
  proto/generated-go/v1/database_service_grpc.pb.go
  proto/v1/database_service.proto
Owners: @LiuJi-Jim, @boojack, @d-bytebase, @ecmadao

chore: address comments
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/database_service.pb.go
  proto/generated-go/v1/database_service.pb.gw.go
  proto/generated-go/v1/database_service_grpc.pb.go
  proto/v1/database_service.proto
Owners: @LiuJi-Jim, @boojack, @d-bytebase, @ecmadao

feat: add slow query api and protobuf definition (#5354)
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/google/type/interval.ts
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/database_service.pb.go
  proto/generated-go/v1/database_service.pb.gw.go
  proto/generated-go/v1/database_service_grpc.pb.go
  proto/v1/database_service.proto
Owners: @LiuJi-Jim, @boojack, @d-bytebase, @ecmadao

feat: add slow query api and protobuf definition (#5354)
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/google/type/interval.ts
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/database_service.pb.go
  proto/generated-go/v1/database_service.pb.gw.go
  proto/generated-go/v1/database_service_grpc.pb.go
  proto/v1/database_service.proto
Owners: @LiuJi-Jim, @boojack, @d-bytebase, @ecmadao

feat: add slow query api and protobuf definition (#5354)
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/google/type/interval.ts
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/database_service.pb.go
  proto/generated-go/v1/database_service.pb.gw.go
  proto/generated-go/v1/database_service_grpc.pb.go
  proto/v1/database_service.proto
Owners: @LiuJi-Jim, @boojack, @d-bytebase, @ecmadao

fix: connection tree store
  frontend/src/components/ProvideSQLEditorContext.vue
  frontend/src/store/modules/connectionTree.ts
Owners: @LiuJi-Jim, @boojack

refactor: extract logic for reusing
  frontend/src/components/Issue/logic/common.ts
  frontend/src/utils/sheet.ts
Owners: @LiuJi-Jim, @boojack

feat: set sheet issue backtrace payload
  frontend/src/components/Issue/logic/base.ts
  frontend/src/types/sheet.ts
Owners: @LiuJi-Jim, @boojack

feat: implement SheetIssueLink component
  frontend/src/views/sql-editor/Sheet/SheetIssueLink.vue
  frontend/src/views/sql-editor/Sheet/index.ts
Owners: @LiuJi-Jim, @boojack

chore: remove the use ACCOUNTADMIN role before dump database
  backend/plugin/db/snowflake/dump.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: update the SQL statement to get the shared databases
  backend/plugin/db/snowflake/snowflake.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: remove the use ACCOUNTADMIN role before get database
  backend/plugin/db/snowflake/snowflake.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: remove use ACCOUNTADMIN before sync instance and database
  backend/plugin/db/snowflake/sync.go
Owners: @d-bytebase, @ecmadao, @rebelice

feat(schema): add slow_query table
  backend/store/migration/dev/20230404000000##slow_query_table.sql
  backend/store/migration/dev/LATEST.sql
  frontend/src/types/proto/store/slow_query.ts
  proto/gen/grpc-doc/store/README.md
  proto/generated-go/store/slow_query.pb.go
  proto/store/slow_query.proto
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

chore: update the privileges we use for snowflake
  backend/plugin/db/snowflake/dump.go
  backend/plugin/db/snowflake/migrate.go
  backend/plugin/db/snowflake/snowflake.go
  frontend/src/components/CreateDataSourceExample.vue
  frontend/src/components/DatabaseBackupPanel.vue
Owners: @d-bytebase, @ecmadao, @rebelice, @LiuJi-Jim, @boojack

chore: update schema
  backend/store/migration/dev/20230404000000##slow_query_table.sql
  backend/store/migration/dev/LATEST.sql
Owners: @d-bytebase, @ecmadao

chore: update comments
  backend/store/migration/dev/20230404000000##slow_query_table.sql
  backend/store/migration/dev/LATEST.sql
Owners: @d-bytebase, @ecmadao

chore: rename details to samples
  frontend/src/types/proto/store/slow_query.ts
  proto/gen/grpc-doc/store/README.md
  proto/generated-go/store/slow_query.pb.go
  proto/store/slow_query.proto
Owners: @LiuJi-Jim, @boojack, @d-bytebase, @ecmadao

chore: rename details to samples
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/database_service.pb.go
  proto/v1/database_service.proto
Owners: @LiuJi-Jim, @boojack, @d-bytebase, @ecmadao

chore: fix the unique index
  backend/store/migration/dev/20230404000000##slow_query_table.sql
  backend/store/migration/dev/LATEST.sql
Owners: @d-bytebase, @ecmadao

chore: update
  frontend/src/components/CreateDataSourceExample.vue
Owners: @LiuJi-Jim, @boojack

feat(schema): add slow_query table (#5355)
  backend/store/migration/dev/20230404000000##slow_query_table.sql
  backend/store/migration/dev/LATEST.sql
  frontend/src/types/proto/store/slow_query.ts
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/store/slow_query.pb.go
  proto/generated-go/v1/database_service.pb.go
  proto/store/slow_query.proto
  proto/v1/database_service.proto
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

feat(schema): add slow_query table (#5355)
  backend/store/migration/dev/20230404000000##slow_query_table.sql
  backend/store/migration/dev/LATEST.sql
  frontend/src/types/proto/store/slow_query.ts
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/store/slow_query.pb.go
  proto/generated-go/v1/database_service.pb.go
  proto/store/slow_query.proto
  proto/v1/database_service.proto
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

feat(schema): add slow_query table (#5355)
  backend/store/migration/dev/20230404000000##slow_query_table.sql
  backend/store/migration/dev/LATEST.sql
  frontend/src/types/proto/store/slow_query.ts
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/store/slow_query.pb.go
  proto/generated-go/v1/database_service.pb.go
  proto/store/slow_query.proto
  proto/v1/database_service.proto
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

feat: sync database for redshift
  backend/plugin/db/redshift/sync.go
  backend/server/instance.go
Owners: @d-bytebase, @ecmadao, @rebelice

feat: sync instance for redshift (#5357)
  backend/plugin/db/redshift/sync.go
  backend/server/instance.go
Owners: @d-bytebase, @ecmadao, @rebelice

feat: sync instance for redshift (#5357)
  backend/plugin/db/redshift/sync.go
  backend/server/instance.go
Owners: @d-bytebase, @ecmadao, @rebelice

feat: sync instance for redshift (#5357)
  backend/plugin/db/redshift/sync.go
  backend/server/instance.go
Owners: @d-bytebase, @ecmadao, @rebelice

fix: icon path
  frontend/src/components/Issue/activity/ActionIcon.vue
Owners: @LiuJi-Jim, @boojack

fix: icon path (#5362)
  frontend/src/components/Issue/activity/ActionIcon.vue
Owners: @LiuJi-Jim, @boojack

fix: icon path (#5362)
  frontend/src/components/Issue/activity/ActionIcon.vue
Owners: @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @ecmadao

# Backend and API.
/backend/                    @d-bytebase @ecmadao
/proto/                      @d-bytebase @ecmadao

# Backend SQL kernel.
/backend/plugin/advisor      @d-bytebase @ecmadao @rebelice
/backend/plugin/db           @d-bytebase @ecmadao @rebelice
/backend/plugin/parser       @d-bytebase @ecmadao @rebelice

# Frontend.
/frontend/                   @LiuJi-Jim @boojack

# Dependency files.
frontend/package.json        @d-bytebase @LiuJi-Jim
go.mod                       @d-bytebase @ecmadao
