Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev

chore: issue mode sql editor mode wording
  frontend/src/components/GeneralSetting/DatabaseChangeModeSetting.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/Setup/WorkspaceMode.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: issue mode sql editor mode wording (#13784)
  frontend/src/components/GeneralSetting/DatabaseChangeModeSetting.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/Setup/WorkspaceMode.vue
  frontend/src/views/sql-editor/Setting/Sidebar/common.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: issue mode sql editor mode wording (#13784)
  frontend/src/components/GeneralSetting/DatabaseChangeModeSetting.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/Setup/WorkspaceMode.vue
  frontend/src/views/sql-editor/Setting/Sidebar/common.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: issue mode sql editor mode wording (#13784)
  frontend/src/components/GeneralSetting/DatabaseChangeModeSetting.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/Setup/WorkspaceMode.vue
  frontend/src/views/sql-editor/Setting/Sidebar/common.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: more dump (#13777)
  backend/plugin/db/cockroachdb/dump.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: more dump (#13777)
  backend/plugin/db/cockroachdb/dump.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: more dump (#13777)
  backend/plugin/db/cockroachdb/dump.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: feature guard for directory sync
  backend/api/directory-sync/webhook.go
  backend/enterprise/api/plan.yaml
  backend/legacyapi/plan.go
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/subscription/en-US.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/plan.ts
  frontend/src/views/SettingWorkspaceUsers.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: update i18n script
  frontend/i18n.ts
  frontend/src/locales/subscription/es-ES.json
  frontend/src/locales/subscription/ja-JP.json
  frontend/src/locales/subscription/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/locales/subscription/en-US.json
  frontend/src/locales/subscription/es-ES.json
  frontend/src/locales/subscription/ja-JP.json
  frontend/src/locales/subscription/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update the comment if the sql review check passed
  backend/api/gitops/common.go
  backend/api/gitops/webhook.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: feature guard for directory sync (#13785)
  backend/api/directory-sync/webhook.go
  backend/enterprise/api/plan.yaml
  backend/legacyapi/plan.go
  frontend/i18n.ts
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/subscription/en-US.json
  frontend/src/locales/subscription/es-ES.json
  frontend/src/locales/subscription/ja-JP.json
  frontend/src/locales/subscription/zh-CN.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/plan.ts
  frontend/src/views/SettingWorkspaceUsers.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: feature guard for directory sync (#13785)
  backend/api/directory-sync/webhook.go
  backend/enterprise/api/plan.yaml
  backend/legacyapi/plan.go
  frontend/i18n.ts
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/subscription/en-US.json
  frontend/src/locales/subscription/es-ES.json
  frontend/src/locales/subscription/ja-JP.json
  frontend/src/locales/subscription/zh-CN.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/plan.ts
  frontend/src/views/SettingWorkspaceUsers.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: feature guard for directory sync (#13785)
  backend/api/directory-sync/webhook.go
  backend/enterprise/api/plan.yaml
  backend/legacyapi/plan.go
  frontend/i18n.ts
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/subscription/en-US.json
  frontend/src/locales/subscription/es-ES.json
  frontend/src/locales/subscription/ja-JP.json
  frontend/src/locales/subscription/zh-CN.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/plan.ts
  frontend/src/views/SettingWorkspaceUsers.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: update the comment if the sql review check passed (#13786)
  backend/api/gitops/common.go
  backend/api/gitops/webhook.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update the comment if the sql review check passed (#13786)
  backend/api/gitops/common.go
  backend/api/gitops/webhook.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update the comment if the sql review check passed (#13786)
  backend/api/gitops/common.go
  backend/api/gitops/webhook.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: i18n
  frontend/src/components/GeneralSetting/AccountSetting.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/DashboardSidebar.vue
  frontend/src/views/sql-editor/Setting/Sidebar/common.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: i18n (#13787)
  frontend/src/components/GeneralSetting/AccountSetting.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/DashboardSidebar.vue
  frontend/src/views/sql-editor/Setting/Sidebar/common.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: i18n (#13787)
  frontend/src/components/GeneralSetting/AccountSetting.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/DashboardSidebar.vue
  frontend/src/views/sql-editor/Setting/Sidebar/common.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: i18n (#13787)
  frontend/src/components/GeneralSetting/AccountSetting.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/DashboardSidebar.vue
  frontend/src/views/sql-editor/Setting/Sidebar/common.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: advanced sorting handler
  frontend/src/utils/v1/sql.ts
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/TableCell.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DetailPanel.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/SingleResultViewV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: advanced sorting handler (#13788)
  frontend/src/utils/v1/sql.ts
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/TableCell.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DetailPanel.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/SingleResultViewV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: advanced sorting handler (#13788)
  frontend/src/utils/v1/sql.ts
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/TableCell.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DetailPanel.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/SingleResultViewV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: advanced sorting handler (#13788)
  frontend/src/utils/v1/sql.ts
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/TableCell.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DetailPanel.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/SingleResultViewV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

Fix typo with websocket error
  frontend/src/components/MonacoEditor/lsp-client.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

Fix typo with websocket error (#13789)
  frontend/src/components/MonacoEditor/lsp-client.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

Fix typo with websocket error (#13789)
  frontend/src/components/MonacoEditor/lsp-client.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

Fix typo with websocket error (#13789)
  frontend/src/components/MonacoEditor/lsp-client.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: adjust gap
  frontend/src/components/GeneralSetting/DatabaseChangeModeSetting.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: adjust gap (#13790)
  frontend/src/components/GeneralSetting/DatabaseChangeModeSetting.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: adjust gap (#13790)
  frontend/src/components/GeneralSetting/DatabaseChangeModeSetting.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: adjust gap (#13790)
  frontend/src/components/GeneralSetting/DatabaseChangeModeSetting.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

refactor: RW or RO automatically
  frontend/src/composables/useExecuteSQL.ts
  frontend/src/store/modules/sqlEditor/tab.ts
  frontend/src/types/sqlEditor/tab.ts
  frontend/src/views/sql-editor/EditorCommon/AdminModeButton.vue
  frontend/src/views/sql-editor/EditorCommon/EditorAction.vue
  frontend/src/views/sql-editor/EditorCommon/ExecuteHint.vue
  frontend/src/views/sql-editor/EditorCommon/OpenAIButton.vue
  frontend/src/views/sql-editor/EditorCommon/QueryContextSettingPopover.vue
  frontend/src/views/sql-editor/EditorCommon/QueryModeSelect.vue
  frontend/src/views/sql-editor/EditorCommon/ReadonlyDatasourceHint.vue
  frontend/src/views/sql-editor/EditorPanel/EditorPanel.vue
  frontend/src/views/sql-editor/EditorPanel/StandardPanel/StandardPanel.vue
  frontend/src/views/sql-editor/TabList/ContextMenu.vue
  frontend/src/views/sql-editor/TabList/TabItem/Suffix.vue
  frontend/src/views/sql-editor/TabList/TabItem/TabItem.vue
  frontend/src/views/sql-editor/TabList/TabList.vue
  frontend/src/views/sql-editor/context.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix
  frontend/src/views/sql-editor/EditorCommon/ExecuteHint.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: missing i18n
  frontend/src/components/GeneralSetting/DatabaseChangeModeSetting.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: missing i18n (#13792)
  frontend/src/components/GeneralSetting/DatabaseChangeModeSetting.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: missing i18n (#13792)
  frontend/src/components/GeneralSetting/DatabaseChangeModeSetting.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: missing i18n (#13792)
  frontend/src/components/GeneralSetting/DatabaseChangeModeSetting.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(sql-editor): enable DML/DDL by default if databaseChangeMode is EDITOR (#13791)
  frontend/src/composables/useExecuteSQL.ts
  frontend/src/store/modules/sqlEditor/tab.ts
  frontend/src/types/sqlEditor/tab.ts
  frontend/src/views/sql-editor/EditorCommon/AdminModeButton.vue
  frontend/src/views/sql-editor/EditorCommon/EditorAction.vue
  frontend/src/views/sql-editor/EditorCommon/ExecuteHint.vue
  frontend/src/views/sql-editor/EditorCommon/OpenAIButton.vue
  frontend/src/views/sql-editor/EditorCommon/QueryContextSettingPopover.vue
  frontend/src/views/sql-editor/EditorCommon/QueryModeSelect.vue
  frontend/src/views/sql-editor/EditorCommon/ReadonlyDatasourceHint.vue
  frontend/src/views/sql-editor/EditorPanel/EditorPanel.vue
  frontend/src/views/sql-editor/EditorPanel/StandardPanel/StandardPanel.vue
  frontend/src/views/sql-editor/TabList/ContextMenu.vue
  frontend/src/views/sql-editor/TabList/TabItem/Suffix.vue
  frontend/src/views/sql-editor/TabList/TabItem/TabItem.vue
  frontend/src/views/sql-editor/TabList/TabList.vue
  frontend/src/views/sql-editor/context.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev
