Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev

chore: fix chat sql
  frontend/src/views/sql-editor/EditorPanel/EditorPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix task data (#11232)
  backend/migrator/migration/prod/2.15/0002##pitr.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: fix task data (#11232)
  backend/migrator/migration/prod/2.15/0002##pitr.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: fix task data (#11232)
  backend/migrator/migration/prod/2.15/0002##pitr.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: fix chat sql (#11233)
  frontend/src/views/sql-editor/EditorPanel/EditorPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix chat sql (#11233)
  frontend/src/views/sql-editor/EditorPanel/EditorPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix chat sql (#11233)
  frontend/src/views/sql-editor/EditorPanel/EditorPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix chat sql
  frontend/src/views/sql-editor/EditorPanel/EditorPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: vcs state update
  backend/api/v1/vcs_provider_service.go
  frontend/src/views/SettingWorkspaceVCSDetail.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: optimize sidebar expand
  frontend/src/views/DashboardSidebar.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix instance change history data
  backend/migrator/migration/prod/2.15/0002##pitr.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: vcs state update (#11235)
  backend/api/v1/vcs_provider_service.go
  frontend/src/views/SettingWorkspaceVCSDetail.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

fix: vcs state update (#11235)
  backend/api/v1/vcs_provider_service.go
  frontend/src/views/SettingWorkspaceVCSDetail.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

fix: vcs state update (#11235)
  backend/api/v1/vcs_provider_service.go
  frontend/src/views/SettingWorkspaceVCSDetail.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: fix instance change history data (#11236)
  backend/migrator/migration/prod/2.15/0002##pitr.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: fix instance change history data (#11236)
  backend/migrator/migration/prod/2.15/0002##pitr.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: fix instance change history data (#11236)
  backend/migrator/migration/prod/2.15/0002##pitr.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: plan data
  backend/migrator/migration/prod/2.15/0002##pitr.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: optimize sidebar expand (#11237)
  frontend/src/views/DashboardSidebar.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: optimize sidebar expand (#11237)
  frontend/src/views/DashboardSidebar.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: optimize sidebar expand (#11237)
  frontend/src/views/DashboardSidebar.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: plan data (#11238)
  backend/migrator/migration/prod/2.15/0002##pitr.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: plan data (#11238)
  backend/migrator/migration/prod/2.15/0002##pitr.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: plan data (#11238)
  backend/migrator/migration/prod/2.15/0002##pitr.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: handle empty resourceContainer
  backend/store/activity.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  backend/migrator/migration/prod/2.15/0004##activity_resource.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/migrator/migrator_test.go
  backend/store/activity.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: handle null resourceContainer (#11239)
  backend/migrator/migration/prod/2.15/0004##activity_resource.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: handle null resourceContainer (#11239)
  backend/migrator/migration/prod/2.15/0004##activity_resource.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: handle null resourceContainer (#11239)
  backend/migrator/migration/prod/2.15/0004##activity_resource.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: optimize vcs config
  frontend/src/components/VCS/VCSProviderBasicInfoPanel.vue
  frontend/src/components/VCS/VCSProviderOAuthPanel.vue
  frontend/src/components/VCS/VCSSetupWizard.vue
  frontend/src/views/SettingWorkspaceVCSDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: change line order
  backend/migrator/migration/prod/2.15/0004##activity_resource.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: change line order
  backend/migrator/migration/prod/2.15/0004##activity_resource.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: change line order
  backend/migrator/migration/prod/2.15/0004##activity_resource.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: optimize vcs config (#11245)
  frontend/src/components/VCS/VCSProviderBasicInfoPanel.vue
  frontend/src/components/VCS/VCSProviderOAuthPanel.vue
  frontend/src/components/VCS/VCSSetupWizard.vue
  frontend/src/views/SettingWorkspaceVCSDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: optimize vcs config (#11245)
  frontend/src/components/VCS/VCSProviderBasicInfoPanel.vue
  frontend/src/components/VCS/VCSProviderOAuthPanel.vue
  frontend/src/components/VCS/VCSSetupWizard.vue
  frontend/src/views/SettingWorkspaceVCSDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: optimize vcs config (#11245)
  frontend/src/components/VCS/VCSProviderBasicInfoPanel.vue
  frontend/src/components/VCS/VCSProviderOAuthPanel.vue
  frontend/src/components/VCS/VCSSetupWizard.vue
  frontend/src/views/SettingWorkspaceVCSDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: resource id
  backend/migrator/migration/prod/2.15/0005##vcs_resource_id.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: clean legacy code
  backend/component/iam/acl.yaml
  backend/component/iam/permission.go
  backend/component/iam/permission.yaml
  frontend/src/store/modules/v1/vcs.ts
  frontend/src/types/common.ts
  frontend/src/types/iam/permission.ts
  frontend/src/types/vcs.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: fix type errors
  frontend/src/components/AnomalyCenter/AnomalyTable.vue
  frontend/src/components/CreateDatabasePrepForm/CreateDatabasePrepPanel.vue
  frontend/src/components/DatabaseDetail/CreatePITRDatabaseForm.vue
  frontend/src/components/IssueV1/components/PlanCheckSection/PlanCheckBar/PlanCheckBadge.vue
  frontend/src/components/IssueV1/components/PlanCheckSection/PlanCheckBar/PlanCheckBadgeBar.vue
  frontend/src/components/IssueV1/components/Sidebar/VCSInfo.vue
  frontend/src/components/IssueV1/components/StageSection/StageInfo/DatabaseInfo.vue
  frontend/src/components/IssueV1/logic/rollout.ts
  frontend/src/components/IssueV1/logic/utils.ts
  frontend/src/composables/useExecuteSQL.ts
  frontend/src/store/modules/export.ts
  frontend/src/store/modules/v1/backup.ts
  frontend/src/store/modules/v1/vcs.ts
  frontend/src/types/common.ts
  frontend/src/utils/v1/issue/issue.ts
  frontend/src/views/ChangeHistoryDetail.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/DataTable.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  backend/api/v1/project_service.go
  backend/api/v1/vcs_provider_service.go
  backend/store/repository.go
  backend/store/vcs.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev
