Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

convert
  backend/api/v1/rollout_service_converter.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: invalid cache eagerly
  frontend/src/store/modules/user.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fe
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunComment.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/store/modules/v1/common.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: tweak legacy type definitions
  frontend/src/directives/data-source-type.ts
  frontend/src/main.ts
  frontend/src/store/modules/auth.ts
  frontend/src/types/auth.ts
  frontend/src/types/common.ts
  frontend/src/types/error.ts
  frontend/src/types/externalApproval.ts
  frontend/src/types/index.ts
  frontend/src/types/oauth.ts
  frontend/src/types/review.ts
  frontend/src/types/sheet.ts
  frontend/src/types/sqlAdvice.ts
  frontend/src/types/utils.ts
  frontend/src/views/auth/Signup.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: invalid cache eagerly (#13178)
  frontend/src/store/modules/user.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: invalid cache eagerly (#13178)
  frontend/src/store/modules/user.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: invalid cache eagerly (#13178)
  frontend/src/store/modules/user.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: invalid cache eagerly (#13178)
  frontend/src/store/modules/user.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: tweak legacy type definitions (#13180)
  frontend/src/directives/data-source-type.ts
  frontend/src/main.ts
  frontend/src/store/modules/auth.ts
  frontend/src/types/auth.ts
  frontend/src/types/common.ts
  frontend/src/types/error.ts
  frontend/src/types/externalApproval.ts
  frontend/src/types/index.ts
  frontend/src/types/oauth.ts
  frontend/src/types/review.ts
  frontend/src/types/sheet.ts
  frontend/src/types/sqlAdvice.ts
  frontend/src/types/utils.ts
  frontend/src/views/auth/Signup.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: tweak legacy type definitions (#13180)
  frontend/src/directives/data-source-type.ts
  frontend/src/main.ts
  frontend/src/store/modules/auth.ts
  frontend/src/types/auth.ts
  frontend/src/types/common.ts
  frontend/src/types/error.ts
  frontend/src/types/externalApproval.ts
  frontend/src/types/index.ts
  frontend/src/types/oauth.ts
  frontend/src/types/review.ts
  frontend/src/types/sheet.ts
  frontend/src/types/sqlAdvice.ts
  frontend/src/types/utils.ts
  frontend/src/views/auth/Signup.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: tweak legacy type definitions (#13180)
  frontend/src/directives/data-source-type.ts
  frontend/src/main.ts
  frontend/src/store/modules/auth.ts
  frontend/src/types/auth.ts
  frontend/src/types/common.ts
  frontend/src/types/error.ts
  frontend/src/types/externalApproval.ts
  frontend/src/types/index.ts
  frontend/src/types/oauth.ts
  frontend/src/types/review.ts
  frontend/src/types/sheet.ts
  frontend/src/types/sqlAdvice.ts
  frontend/src/types/utils.ts
  frontend/src/views/auth/Signup.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

Update frontend/src/components/IssueV1/components/TaskRunSection/TaskRunComment.vue
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunComment.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: do not render database node
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/SchemaPane.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/common.ts
  frontend/src/views/sql-editor/EditorPanel/GutterBar/TabItem.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: filter in URL query
  frontend/src/store/modules/filter.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: type
  frontend/src/views/sql-editor/EditorPanel/types.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: select schema
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/TablesPanel.vue
  frontend/src/views/sql-editor/EditorPanel/context.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

comment
  frontend/src/types/proto/v1/rollout_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/rollout_service.pb.go
  proto/v1/rollout_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: hide toolbar if not necessary
  frontend/src/components/SchemaEditorLite/Panels/DatabaseEditor.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/TablesPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: scheduler info (#13179)
  backend/api/v1/rollout_service_converter.go
  backend/component/state/state.go
  backend/runner/taskrun/schedulerv2.go
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunComment.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/store/modules/v1/common.ts
  frontend/src/types/proto/store/task_run.ts
  frontend/src/types/proto/v1/rollout_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/task_run.pb.go
  proto/generated-go/v1/rollout_service.pb.go
  proto/store/task_run.proto
  proto/v1/rollout_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

feat: scheduler info (#13179)
  backend/api/v1/rollout_service_converter.go
  backend/component/state/state.go
  backend/runner/taskrun/schedulerv2.go
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunComment.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/store/modules/v1/common.ts
  frontend/src/types/proto/store/task_run.ts
  frontend/src/types/proto/v1/rollout_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/task_run.pb.go
  proto/generated-go/v1/rollout_service.pb.go
  proto/store/task_run.proto
  proto/v1/rollout_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

feat: scheduler info (#13179)
  backend/api/v1/rollout_service_converter.go
  backend/component/state/state.go
  backend/runner/taskrun/schedulerv2.go
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunComment.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/store/modules/v1/common.ts
  frontend/src/types/proto/store/task_run.ts
  frontend/src/types/proto/v1/rollout_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/task_run.pb.go
  proto/generated-go/v1/rollout_service.pb.go
  proto/store/task_run.proto
  proto/v1/rollout_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: revert
  frontend/src/components/SchemaEditorLite/Panels/DatabaseEditor.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: hide arrow when disabled
  frontend/src/components/SchemaEditorLite/Panels/TableColumnEditor/components/DefaultValueCell.vue
  frontend/src/components/v2/Form/DropdownInput.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: tables panel
  frontend/src/components/SchemaEditorLite/Panels/TableColumnEditor/TableColumnEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/TableEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/TableList/TableList.vue
  frontend/src/components/SchemaEditorLite/context/index.ts
  frontend/src/views/sql-editor/EditorPanel/EditorPanel.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/TablesPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: permission guard for audit log
  backend/api/v1/instance_service.go
  frontend/src/router/dashboard/projectV1.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: permission guard for audit log (#13182)
  backend/api/v1/instance_service.go
  frontend/src/router/dashboard/projectV1.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: permission guard for audit log (#13182)
  backend/api/v1/instance_service.go
  frontend/src/router/dashboard/projectV1.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: permission guard for audit log (#13182)
  backend/api/v1/instance_service.go
  frontend/src/router/dashboard/projectV1.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: functions panel
  frontend/src/views/sql-editor/EditorPanel/Panels/FunctionsPanel/FunctionsPanel.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/FunctionsPanel/FunctionsTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/TablesPanel.vue
  frontend/src/views/sql-editor/EditorPanel/common.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: style
  frontend/src/components/SchemaEditorLite/Panels/IndexesEditor/components/ColumnsCell.vue
  frontend/src/components/SchemaEditorLite/Panels/TableEditor.vue
  frontend/src/components/SchemaEditorLite/context/index.ts
  frontend/src/components/v2/Form/InlineInput.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/Panels.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/TablesPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: whole row clickable
  frontend/src/views/sql-editor/EditorPanel/Panels/FunctionsPanel/FunctionsTable.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: use var
  frontend/src/components/v2/Form/InlineInput.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: view panel
  frontend/src/views/sql-editor/EditorPanel/Panels/ViewsPanel/ViewsPanel.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ViewsPanel/ViewsTable.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: refactor
  frontend/src/views/sql-editor/EditorPanel/Panels/FunctionsPanel/FunctionsPanel.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ProceduresPanel/ProceduresPanel.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ProceduresPanel/ProceduresTable.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/ViewsPanel/ViewsPanel.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/common/CodeViewer.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/common/SchemaSelectToolbar.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/common/index.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: refactor
  frontend/src/views/sql-editor/EditorPanel/Panels/Panels.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/TablesPanel.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/common/SchemaSelectToolbar.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: hide LSP indicator when readonly
  frontend/src/components/MonacoEditor/MonacoTextModelEditor.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: strange that no syntax highlight the first time
  frontend/src/views/sql-editor/EditorPanel/Panels/common/CodeViewer.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: reuse code
  backend/runner/plancheck/statement_report_executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  backend/runner/plancheck/statement_report_executor.go
  backend/store/sheet.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: make whole row clickable
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/TablesPanel.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/TablesTable.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
