Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev

chore: allow project developer to merge self branch to main branch (#12100)
  backend/api/v1/branch_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

remove activity manager
  backend/component/activity/manager.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: notification style
  frontend/src/components/DatabaseDetail/Settings/DatabaseSettingsPanel.vue
  frontend/src/components/User/Settings/CreateUserDrawer.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: move from activity to webhook (#12102)
  backend/api/gitops/gitops.go
  backend/api/gitops/webhook.go
  backend/api/v1/issue_service.go
  backend/api/v1/plan_service.go
  backend/api/v1/project_service.go
  backend/api/v1/rollout_service.go
  backend/api/v1/sql_service.go
  backend/component/webhook/manager.go
  backend/runner/approval/runner.go
  backend/runner/relay/runner.go
  backend/runner/taskrun/data_export_executor.go
  backend/runner/taskrun/data_update_executor.go
  backend/runner/taskrun/schedulerv2.go
  backend/runner/taskrun/schema_baseline_executor.go
  backend/runner/taskrun/schema_update_executor.go
  backend/runner/taskrun/schema_update_ghost_cutover_executor.go
  backend/runner/taskrun/schema_update_sdl_executor.go
  backend/server/grpc_routes.go
  backend/server/server.go
  backend/utils/utils.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: move from activity to webhook (#12102)
  backend/api/gitops/gitops.go
  backend/api/gitops/webhook.go
  backend/api/v1/issue_service.go
  backend/api/v1/plan_service.go
  backend/api/v1/project_service.go
  backend/api/v1/rollout_service.go
  backend/api/v1/sql_service.go
  backend/component/webhook/manager.go
  backend/runner/approval/runner.go
  backend/runner/relay/runner.go
  backend/runner/taskrun/data_export_executor.go
  backend/runner/taskrun/data_update_executor.go
  backend/runner/taskrun/schedulerv2.go
  backend/runner/taskrun/schema_baseline_executor.go
  backend/runner/taskrun/schema_update_executor.go
  backend/runner/taskrun/schema_update_ghost_cutover_executor.go
  backend/runner/taskrun/schema_update_sdl_executor.go
  backend/server/grpc_routes.go
  backend/server/server.go
  backend/utils/utils.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: move from activity to webhook (#12102)
  backend/api/gitops/gitops.go
  backend/api/gitops/webhook.go
  backend/api/v1/issue_service.go
  backend/api/v1/plan_service.go
  backend/api/v1/project_service.go
  backend/api/v1/rollout_service.go
  backend/api/v1/sql_service.go
  backend/component/webhook/manager.go
  backend/runner/approval/runner.go
  backend/runner/relay/runner.go
  backend/runner/taskrun/data_export_executor.go
  backend/runner/taskrun/data_update_executor.go
  backend/runner/taskrun/schedulerv2.go
  backend/runner/taskrun/schema_baseline_executor.go
  backend/runner/taskrun/schema_update_executor.go
  backend/runner/taskrun/schema_update_ghost_cutover_executor.go
  backend/runner/taskrun/schema_update_sdl_executor.go
  backend/server/grpc_routes.go
  backend/server/server.go
  backend/utils/utils.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: add dynamodb in proto
  frontend/src/types/proto/store/common.ts
  frontend/src/types/proto/v1/common.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/common.pb.go
  proto/generated-go/v1/common.pb.go
  proto/store/common.proto
  proto/v1/common.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: notification style (#12103)
  frontend/src/components/DatabaseDetail/Settings/DatabaseSettingsPanel.vue
  frontend/src/components/User/Settings/CreateUserDrawer.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: notification style (#12103)
  frontend/src/components/DatabaseDetail/Settings/DatabaseSettingsPanel.vue
  frontend/src/components/User/Settings/CreateUserDrawer.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: notification style (#12103)
  frontend/src/components/DatabaseDetail/Settings/DatabaseSettingsPanel.vue
  frontend/src/components/User/Settings/CreateUserDrawer.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: row span
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/DetailCell/common.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: add dynamodb in proto (#12104)
  frontend/src/types/proto/store/common.ts
  frontend/src/types/proto/v1/common.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/common.pb.go
  proto/generated-go/v1/common.pb.go
  proto/store/common.proto
  proto/v1/common.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

feat: add dynamodb in proto (#12104)
  frontend/src/types/proto/store/common.ts
  frontend/src/types/proto/v1/common.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/common.pb.go
  proto/generated-go/v1/common.pb.go
  proto/store/common.proto
  proto/v1/common.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

feat: add dynamodb in proto (#12104)
  frontend/src/types/proto/store/common.ts
  frontend/src/types/proto/v1/common.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/common.pb.go
  proto/generated-go/v1/common.pb.go
  proto/store/common.proto
  proto/v1/common.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: row span (#12105)
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/DetailCell/common.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: row span (#12105)
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/DetailCell/common.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: row span (#12105)
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/DetailCell/common.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: bq execute
  backend/plugin/db/bigquery/bigquery.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: bq execute (#12106)
  backend/plugin/db/bigquery/bigquery.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: bq execute (#12106)
  backend/plugin/db/bigquery/bigquery.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: bq execute (#12106)
  backend/plugin/db/bigquery/bigquery.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

refactor: move spanner util
  backend/plugin/db/spanner/spanner.go
  backend/plugin/db/util/statement_parser.go
  backend/plugin/db/util/statement_parser_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

refactor: move spanner util (#12107)
  backend/plugin/db/spanner/spanner.go
  backend/plugin/db/util/statement_parser.go
  backend/plugin/db/util/statement_parser_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

refactor: move spanner util (#12107)
  backend/plugin/db/spanner/spanner.go
  backend/plugin/db/util/statement_parser.go
  backend/plugin/db/util/statement_parser_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

refactor: move spanner util (#12107)
  backend/plugin/db/spanner/spanner.go
  backend/plugin/db/util/statement_parser.go
  backend/plugin/db/util/statement_parser_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: bq query
  backend/plugin/db/bigquery/bigquery.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update
  backend/plugin/db/bigquery/bigquery.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update
  backend/plugin/db/bigquery/bigquery.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: bq query (#12108)
  backend/plugin/db/bigquery/bigquery.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: bq query (#12108)
  backend/plugin/db/bigquery/bigquery.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: bq query (#12108)
  backend/plugin/db/bigquery/bigquery.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: migrate project member to policy table
  backend/migrator/migration/prod/2.18/0006##policy_project_iam.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: migrate project member to policy table (#12109)
  backend/migrator/migration/prod/2.18/0006##policy_project_iam.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: migrate project member to policy table (#12109)
  backend/migrator/migration/prod/2.18/0006##policy_project_iam.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: migrate project member to policy table (#12109)
  backend/migrator/migration/prod/2.18/0006##policy_project_iam.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: set default dataset id
  backend/plugin/db/bigquery/bigquery.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: set default dataset id (#12110)
  backend/plugin/db/bigquery/bigquery.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: set default dataset id (#12110)
  backend/plugin/db/bigquery/bigquery.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: set default dataset id (#12110)
  backend/plugin/db/bigquery/bigquery.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: ping dynamo db
  backend/api/v1/common.go
  backend/plugin/db/dynamodb/dump.go
  backend/plugin/db/dynamodb/dynamodb.go
  backend/plugin/db/dynamodb/role.go
  backend/plugin/db/dynamodb/sync.go
  backend/server/minimal.go
  backend/server/ultimate.go
  frontend/src/assets/db-dynamodb.svg
  frontend/src/components/InstanceForm/DataSourceSection/CreateDataSourceExample.vue
  frontend/src/components/InstanceForm/DataSourceSection/DataSourceForm.vue
  frontend/src/components/InstanceForm/DataSourceSection/DataSourceSection.vue
  frontend/src/components/InstanceForm/InstanceForm.vue
  frontend/src/components/InstanceForm/constants.ts
  frontend/src/types/instance.ts
  frontend/src/types/v1/instance.ts
  frontend/src/utils/v1/instance.ts
  go.mod
  go.sum
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack
