Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev

chore: some ui optimize (#10501)
  frontend/src/components/DatabaseGroup/DatabaseGroupForm.vue
  frontend/src/components/ExprEditor/ExprEditor.vue
  frontend/src/components/ProjectBranchesPanel.vue
  frontend/src/components/ProjectChangeHistoryPanel.vue
  frontend/src/components/ProjectWebhookPanel.vue
  frontend/src/components/TransferDatabaseForm/TransferSourceSelector.vue
  frontend/src/components/misc/NoDataPlaceholder.vue
  frontend/src/layouts/SettingLayout.vue
  frontend/src/views/DatabaseGroupDetail.vue
  frontend/src/views/SchemaGroupDetail.vue
  frontend/src/views/SettingSidebar.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(structurer): handle default value in structurer for MySQL (#10502)
  backend/plugin/schema/mysql/get_design_schema.go
  backend/plugin/schema/mysql/get_design_schema_test.go
  backend/plugin/schema/mysql/parse_to_metadata.go
  backend/plugin/schema/mysql/state.go
  backend/plugin/schema/mysql/testdata/parse_to_metadata.yaml
  backend/plugin/schema/mysql/utils.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore(structurer): handle default value in structurer for MySQL (#10502)
  backend/plugin/schema/mysql/get_design_schema.go
  backend/plugin/schema/mysql/get_design_schema_test.go
  backend/plugin/schema/mysql/parse_to_metadata.go
  backend/plugin/schema/mysql/state.go
  backend/plugin/schema/mysql/testdata/parse_to_metadata.yaml
  backend/plugin/schema/mysql/utils.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore(structurer): handle default value in structurer for MySQL (#10502)
  backend/plugin/schema/mysql/get_design_schema.go
  backend/plugin/schema/mysql/get_design_schema_test.go
  backend/plugin/schema/mysql/parse_to_metadata.go
  backend/plugin/schema/mysql/state.go
  backend/plugin/schema/mysql/testdata/parse_to_metadata.yaml
  backend/plugin/schema/mysql/utils.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: handle default in structurer for TiDB
  backend/plugin/schema/tidb/get_design_schema.go
  backend/plugin/schema/tidb/parse_to_metadata.go
  backend/plugin/schema/tidb/state.go
  backend/plugin/schema/tidb/testdata/get_design_schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: layout padding issue
  frontend/src/layouts/BodyLayout.vue
  frontend/src/views/Home.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(structurer): handle default in structurer for TiDB (#10504)
  backend/plugin/schema/tidb/get_design_schema.go
  backend/plugin/schema/tidb/parse_to_metadata.go
  backend/plugin/schema/tidb/state.go
  backend/plugin/schema/tidb/testdata/get_design_schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore(structurer): handle default in structurer for TiDB (#10504)
  backend/plugin/schema/tidb/get_design_schema.go
  backend/plugin/schema/tidb/parse_to_metadata.go
  backend/plugin/schema/tidb/state.go
  backend/plugin/schema/tidb/testdata/get_design_schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore(structurer): handle default in structurer for TiDB (#10504)
  backend/plugin/schema/tidb/get_design_schema.go
  backend/plugin/schema/tidb/parse_to_metadata.go
  backend/plugin/schema/tidb/state.go
  backend/plugin/schema/tidb/testdata/get_design_schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: layout padding issue (#10505)
  frontend/src/layouts/BodyLayout.vue
  frontend/src/views/Home.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: layout padding issue (#10505)
  frontend/src/layouts/BodyLayout.vue
  frontend/src/views/Home.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: layout padding issue (#10505)
  frontend/src/layouts/BodyLayout.vue
  frontend/src/views/Home.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: oracle dump skip owner if schema tenant mode
  backend/plugin/db/oracle/dump.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: oracle dump skip owner if schema tenant mode (#10506)
  backend/plugin/db/oracle/dump.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: oracle dump skip owner if schema tenant mode (#10506)
  backend/plugin/db/oracle/dump.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: oracle dump skip owner if schema tenant mode (#10506)
  backend/plugin/db/oracle/dump.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: stage card display improvement (#10507)
  frontend/src/components/IssueV1/components/StageSection/StageCard.vue
  frontend/src/components/IssueV1/components/StageSection/StageSection.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: stage card display improvement (#10507)
  frontend/src/components/IssueV1/components/StageSection/StageCard.vue
  frontend/src/components/IssueV1/components/StageSection/StageSection.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: stage card display improvement (#10507)
  frontend/src/components/IssueV1/components/StageSection/StageCard.vue
  frontend/src/components/IssueV1/components/StageSection/StageSection.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: mobile view improvements
  frontend/src/components/IssueV1/components/StageSection/StageSection.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: mobile view improvements (#10508)
  frontend/src/components/IssueV1/components/StageSection/StageSection.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: mobile view improvements (#10508)
  frontend/src/components/IssueV1/components/StageSection/StageSection.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: mobile view improvements (#10508)
  frontend/src/components/IssueV1/components/StageSection/StageSection.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update monaco editor version for better diff navigator
  frontend/package.json
  frontend/pnpm-lock.yaml
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update monaco editor version for better diff navigator (#10509)
  frontend/package.json
  frontend/pnpm-lock.yaml
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update monaco editor version for better diff navigator (#10509)
  frontend/package.json
  frontend/pnpm-lock.yaml
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update monaco editor version for better diff navigator (#10509)
  frontend/package.json
  frontend/pnpm-lock.yaml
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add navigator to diff editor in sync schema
  frontend/src/components/MonacoEditor/DiffEditor.vue
  frontend/src/components/MonacoEditor/WrappedDiffEditor.vue
  frontend/src/components/SyncDatabaseSchema/DiffViewPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add navigator to diff editor in sync schema (#10510)
  frontend/src/components/MonacoEditor/DiffEditor.vue
  frontend/src/components/MonacoEditor/WrappedDiffEditor.vue
  frontend/src/components/SyncDatabaseSchema/DiffViewPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add navigator to diff editor in sync schema (#10510)
  frontend/src/components/MonacoEditor/DiffEditor.vue
  frontend/src/components/MonacoEditor/WrappedDiffEditor.vue
  frontend/src/components/SyncDatabaseSchema/DiffViewPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add navigator to diff editor in sync schema (#10510)
  frontend/src/components/MonacoEditor/DiffEditor.vue
  frontend/src/components/MonacoEditor/WrappedDiffEditor.vue
  frontend/src/components/SyncDatabaseSchema/DiffViewPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove dead code
  backend/store/principal.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: remove dead code (#10511)
  backend/store/principal.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: remove dead code (#10511)
  backend/store/principal.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: remove dead code (#10511)
  backend/store/principal.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: refactor
  frontend/src/assets/css/github-markdown-style.css
  frontend/src/components/IssueV1/components/ActivitySection/ActivityList.vue
  frontend/src/components/IssueV1/components/DescriptionSection/DescriptionSection.vue
  frontend/src/components/MarkdownEditor/MarkdownEditor.vue
  frontend/src/components/MarkdownEditor/index.ts
  frontend/src/components/MarkdownEditor/useRenderMarkdown.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: introduce concise format for GetDatabaseSchema
  backend/api/v1/database_service.go
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/database_service.pb.go
  proto/v1/database_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: use enum instead
  backend/api/v1/database_service.go
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/database_service.pb.go
  proto/v1/database_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: fix tests
  backend/tests/schema_update_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: use table model
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataBlock.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/DataTable.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/TableCell.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DetailPanel.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/ResultViewV1.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/context.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev
