Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev

feat(sql-editor): Improve the UX of project group by experience (#11967)
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/store/modules/sqlEditor/tree.ts
  frontend/src/types/sqlEditor/tree.ts
  frontend/src/views/sql-editor/ConnectionPanel/ConnectionPane/ConnectionPane.vue
  frontend/src/views/sql-editor/ConnectionPanel/ConnectionPane/GroupingBar/AddFactorButton.vue
  frontend/src/views/sql-editor/ConnectionPanel/ConnectionPane/GroupingBar/FactorPanel.vue
  frontend/src/views/sql-editor/ConnectionPanel/ConnectionPane/GroupingBar/FactorTag.vue
  frontend/src/views/sql-editor/ConnectionPanel/ConnectionPane/GroupingBar/FactorTags.vue
  frontend/src/views/sql-editor/ConnectionPanel/ConnectionPane/GroupingBar/GroupingBar.vue
  frontend/src/views/sql-editor/ConnectionPanel/ConnectionPane/TreeNode/DatabaseNode.vue
  frontend/src/views/sql-editor/ConnectionPanel/ConnectionPane/TreeNode/Label.vue
  frontend/src/views/sql-editor/ConnectionPanel/ConnectionPane/TreeNode/ProjectNode.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: i18n
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/TaskRunLogTable.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: i18n (#11981)
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/TaskRunLogTable.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: i18n (#11981)
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/TaskRunLogTable.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: i18n (#11981)
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/TaskRunLogTable.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: redirect to configure labels
  frontend/src/components/IssueV1/components/IssueLabelSelector.vue
  frontend/src/components/IssueV1/components/IssueTableV1.vue
  frontend/src/components/IssueV1/components/Sidebar/IssueLabels.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: permission
  frontend/src/components/IssueV1/components/IssueLabelSelector.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: redirect to configure labels (#11982)
  frontend/src/components/IssueV1/components/IssueLabelSelector.vue
  frontend/src/components/IssueV1/components/IssueTableV1.vue
  frontend/src/components/IssueV1/components/Sidebar/IssueLabels.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: redirect to configure labels (#11982)
  frontend/src/components/IssueV1/components/IssueLabelSelector.vue
  frontend/src/components/IssueV1/components/IssueTableV1.vue
  frontend/src/components/IssueV1/components/Sidebar/IssueLabels.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: redirect to configure labels (#11982)
  frontend/src/components/IssueV1/components/IssueLabelSelector.vue
  frontend/src/components/IssueV1/components/IssueTableV1.vue
  frontend/src/components/IssueV1/components/Sidebar/IssueLabels.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  backend/component/masker/masker.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: add more tests
  backend/component/masker/masker_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: add more tests
  backend/component/masker/masker_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: add labels column to data export issue table
  frontend/src/views/ExportCenter/DataExportIssueDataTable/DataExportIssueDataTable.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/views/ExportCenter/index.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add labels column to data export issue table (#11983)
  frontend/src/views/ExportCenter/DataExportIssueDataTable/DataExportIssueDataTable.vue
  frontend/src/views/ExportCenter/index.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add labels column to data export issue table (#11983)
  frontend/src/views/ExportCenter/DataExportIssueDataTable/DataExportIssueDataTable.vue
  frontend/src/views/ExportCenter/index.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add labels column to data export issue table (#11983)
  frontend/src/views/ExportCenter/DataExportIssueDataTable/DataExportIssueDataTable.vue
  frontend/src/views/ExportCenter/index.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: show task run log error
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/DetailCell/AffectedRowsCell.vue
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/DetailCell/DetailCell.vue
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/DetailCell/ErrorCell.vue
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/DetailCell/common.ts
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/DetailCell/index.ts
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/TaskRunLogTable.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: show task run log error (#11984)
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/DetailCell/AffectedRowsCell.vue
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/DetailCell/DetailCell.vue
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/DetailCell/ErrorCell.vue
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/DetailCell/common.ts
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/DetailCell/index.ts
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/TaskRunLogTable.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: show task run log error (#11984)
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/DetailCell/AffectedRowsCell.vue
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/DetailCell/DetailCell.vue
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/DetailCell/ErrorCell.vue
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/DetailCell/common.ts
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/DetailCell/index.ts
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/TaskRunLogTable.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: show task run log error (#11984)
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/DetailCell/AffectedRowsCell.vue
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/DetailCell/DetailCell.vue
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/DetailCell/ErrorCell.vue
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/DetailCell/common.ts
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/DetailCell/index.ts
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/TaskRunLogTable.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: update branch updater info
  backend/api/v1/branch_service.go
  backend/api/v1/database_converter.go
  backend/store/model/database.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: update branch updater info (#11985)
  backend/api/v1/branch_service.go
  backend/api/v1/database_converter.go
  backend/store/model/database.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: update branch updater info (#11985)
  backend/api/v1/branch_service.go
  backend/api/v1/database_converter.go
  backend/store/model/database.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: update branch updater info (#11985)
  backend/api/v1/branch_service.go
  backend/api/v1/database_converter.go
  backend/store/model/database.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

always log
  backend/plugin/db/mysql/mysql.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

convert nil sheet commands to default value
  backend/api/v1/sheet_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: use allAffectedRows if there's a one to one mapping
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/DetailCell/AffectedRowsCell.vue
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/TaskRunLogTable.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update mysql task run log (#11986)
  backend/api/v1/sheet_service.go
  backend/plugin/db/mysql/mysql.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: update mysql task run log (#11986)
  backend/api/v1/sheet_service.go
  backend/plugin/db/mysql/mysql.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: update mysql task run log (#11986)
  backend/api/v1/sheet_service.go
  backend/plugin/db/mysql/mysql.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: use allAffectedRows if there's a one to one mapping (#11987)
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/DetailCell/AffectedRowsCell.vue
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/TaskRunLogTable.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: use allAffectedRows if there's a one to one mapping (#11987)
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/DetailCell/AffectedRowsCell.vue
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/TaskRunLogTable.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: use allAffectedRows if there's a one to one mapping (#11987)
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/DetailCell/AffectedRowsCell.vue
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunLogTable/TaskRunLogTable.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update composed issue definition
  frontend/src/components/IssueV1/components/DataExportSection/DataExportSection.vue
  frontend/src/components/IssueV1/components/HeaderSection/Actions/create/CreateButton.vue
  frontend/src/components/IssueV1/components/IssueLabelSelector.vue
  frontend/src/components/IssueV1/components/Sidebar/GhostSection/GhostSection.vue
  frontend/src/components/IssueV1/components/Sidebar/PreBackupSection/common.ts
  frontend/src/components/IssueV1/components/Sidebar/RollbackSection/RollbackSection.vue
  frontend/src/components/IssueV1/components/Sidebar/RollbackSection/common.ts
  frontend/src/components/IssueV1/components/StageSection/StageInfo/StageSelect.vue
  frontend/src/components/IssueV1/components/StageSection/StageSection.vue
  frontend/src/components/IssueV1/components/TaskListSection/TaskListSection.vue
  frontend/src/components/IssueV1/logic/base.ts
  frontend/src/components/IssueV1/logic/utils.ts
  frontend/src/types/v1/issue/issue.ts
  frontend/src/utils/v1/issue/issue.ts
  frontend/src/utils/v1/issue/rollout.ts
  frontend/src/views/IssueDetailV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/types/v1/issue/issue.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update composed issue definition (#11988)
  frontend/src/components/IssueV1/components/DataExportSection/DataExportSection.vue
  frontend/src/components/IssueV1/components/HeaderSection/Actions/create/CreateButton.vue
  frontend/src/components/IssueV1/components/IssueLabelSelector.vue
  frontend/src/components/IssueV1/components/Sidebar/GhostSection/GhostSection.vue
  frontend/src/components/IssueV1/components/Sidebar/PreBackupSection/common.ts
  frontend/src/components/IssueV1/components/Sidebar/RollbackSection/RollbackSection.vue
  frontend/src/components/IssueV1/components/Sidebar/RollbackSection/common.ts
  frontend/src/components/IssueV1/components/StageSection/StageInfo/StageSelect.vue
  frontend/src/components/IssueV1/components/StageSection/StageSection.vue
  frontend/src/components/IssueV1/components/TaskListSection/TaskListSection.vue
  frontend/src/components/IssueV1/logic/base.ts
  frontend/src/components/IssueV1/logic/utils.ts
  frontend/src/types/v1/issue/issue.ts
  frontend/src/utils/v1/issue/issue.ts
  frontend/src/utils/v1/issue/rollout.ts
  frontend/src/views/IssueDetailV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update composed issue definition (#11988)
  frontend/src/components/IssueV1/components/DataExportSection/DataExportSection.vue
  frontend/src/components/IssueV1/components/HeaderSection/Actions/create/CreateButton.vue
  frontend/src/components/IssueV1/components/IssueLabelSelector.vue
  frontend/src/components/IssueV1/components/Sidebar/GhostSection/GhostSection.vue
  frontend/src/components/IssueV1/components/Sidebar/PreBackupSection/common.ts
  frontend/src/components/IssueV1/components/Sidebar/RollbackSection/RollbackSection.vue
  frontend/src/components/IssueV1/components/Sidebar/RollbackSection/common.ts
  frontend/src/components/IssueV1/components/StageSection/StageInfo/StageSelect.vue
  frontend/src/components/IssueV1/components/StageSection/StageSection.vue
  frontend/src/components/IssueV1/components/TaskListSection/TaskListSection.vue
  frontend/src/components/IssueV1/logic/base.ts
  frontend/src/components/IssueV1/logic/utils.ts
  frontend/src/types/v1/issue/issue.ts
  frontend/src/utils/v1/issue/issue.ts
  frontend/src/utils/v1/issue/rollout.ts
  frontend/src/views/IssueDetailV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update composed issue definition (#11988)
  frontend/src/components/IssueV1/components/DataExportSection/DataExportSection.vue
  frontend/src/components/IssueV1/components/HeaderSection/Actions/create/CreateButton.vue
  frontend/src/components/IssueV1/components/IssueLabelSelector.vue
  frontend/src/components/IssueV1/components/Sidebar/GhostSection/GhostSection.vue
  frontend/src/components/IssueV1/components/Sidebar/PreBackupSection/common.ts
  frontend/src/components/IssueV1/components/Sidebar/RollbackSection/RollbackSection.vue
  frontend/src/components/IssueV1/components/Sidebar/RollbackSection/common.ts
  frontend/src/components/IssueV1/components/StageSection/StageInfo/StageSelect.vue
  frontend/src/components/IssueV1/components/StageSection/StageSection.vue
  frontend/src/components/IssueV1/components/TaskListSection/TaskListSection.vue
  frontend/src/components/IssueV1/logic/base.ts
  frontend/src/components/IssueV1/logic/utils.ts
  frontend/src/types/v1/issue/issue.ts
  frontend/src/utils/v1/issue/issue.ts
  frontend/src/utils/v1/issue/rollout.ts
  frontend/src/views/IssueDetailV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev
