Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev

feat: enable advanced feature for cockroachdb (#13760)
  backend/api/lsp/completion.go
  backend/plugin/parser/mysql/diagnose.go
  backend/plugin/parser/pg/completion.go
  backend/plugin/parser/pg/diagnose.go
  backend/plugin/parser/pg/differ.go
  backend/plugin/parser/pg/query.go
  backend/plugin/parser/pg/query_span.go
  backend/plugin/parser/pg/resource_change.go
  backend/plugin/parser/pg/split.go
  backend/plugin/parser/plsql/diagnose.go
  backend/plugin/parser/snowflake/diagnose.go
  backend/plugin/parser/tsql/diagnose.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

feat: enable advanced feature for cockroachdb (#13760)
  backend/api/lsp/completion.go
  backend/plugin/parser/mysql/diagnose.go
  backend/plugin/parser/pg/completion.go
  backend/plugin/parser/pg/diagnose.go
  backend/plugin/parser/pg/differ.go
  backend/plugin/parser/pg/query.go
  backend/plugin/parser/pg/query_span.go
  backend/plugin/parser/pg/resource_change.go
  backend/plugin/parser/pg/split.go
  backend/plugin/parser/plsql/diagnose.go
  backend/plugin/parser/snowflake/diagnose.go
  backend/plugin/parser/tsql/diagnose.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: move issue sql from url to local storage (#13759)
  frontend/src/components/AlterSchemaPrepForm/SchemaEditorModal.vue
  frontend/src/components/Branch/BranchDetailView.vue
  frontend/src/components/IssueV1/components/Sidebar/GhostSection/common.ts
  frontend/src/components/IssueV1/components/Sidebar/PreBackupSection/TaskRollbackButton.vue
  frontend/src/components/IssueV1/logic/initialize/create.ts
  frontend/src/components/Plan/logic/initialize/create.ts
  frontend/src/components/SlowQuery/Panel/IndexAdvisor.vue
  frontend/src/components/SyncDatabaseSchema/index.vue
  frontend/src/views/sql-editor/EditorCommon/ExecuteHint.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/SingleResultViewV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: admin executing explain analyze returns correct result (#13668)
  backend/plugin/parser/mysql/query.go
  backend/plugin/parser/mysql/query_test.go
  backend/plugin/parser/tidb/query.go
  backend/plugin/parser/tidb/query_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore(2.22.2): cherry pick #13668 (#13763)
  backend/plugin/parser/mysql/query.go
  backend/plugin/parser/mysql/query_test.go
  backend/plugin/parser/tidb/query.go
  backend/plugin/parser/tidb/query_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: force to change the password
  backend/api/v1/auth_service.go
  backend/server/init.go
  backend/store/principal.go
  backend/store/setting.go
  frontend/src/App.vue
  frontend/src/components/GeneralSetting/PasswordRestrictionSetting.vue
  frontend/src/components/PasswordSigninForm.vue
  frontend/src/components/ProvideDashboardContext.vue
  frontend/src/components/User/Settings/CreateUserDrawer.vue
  frontend/src/components/User/Settings/UserPassword.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/auth.ts
  frontend/src/router/index.ts
  frontend/src/store/modules/auth.ts
  frontend/src/types/proto/store/setting.ts
  frontend/src/types/proto/v1/auth_service.ts
  frontend/src/types/proto/v1/setting_service.ts
  frontend/src/views/OAuthCallback.vue
  frontend/src/views/ProfileDashboard.vue
  frontend/src/views/auth/PasswordReset.vue
  frontend/src/views/auth/Signin.vue
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/setting.pb.go
  proto/generated-go/v1/auth_service.pb.go
  proto/generated-go/v1/setting_service.pb.go
  proto/store/setting.proto
  proto/v1/auth_service.proto
  proto/v1/setting_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

feat: postgres detail error (#13761)
  backend/api/v1/audit.go
  backend/plugin/db/pg/pg.go
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/sql_service.pb.go
  proto/v1/sql_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack, @RainbowDashy

feat: postgres detail error (#13761)
  backend/api/v1/audit.go
  backend/plugin/db/pg/pg.go
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/sql_service.pb.go
  proto/v1/sql_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack, @RainbowDashy

feat: postgres detail error (#13761)
  backend/api/v1/audit.go
  backend/plugin/db/pg/pg.go
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/sql_service.pb.go
  proto/v1/sql_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack, @RainbowDashy

chore: update
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: eslint
  frontend/src/components/User/Settings/UserPassword.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: data classification
  frontend/src/router/sqlEditor.ts
  frontend/src/views/sql-editor/Setting/DataClassification/DataClassification.vue
  frontend/src/views/sql-editor/Setting/DataClassification/index.ts
  frontend/src/views/sql-editor/Setting/DataMasking/DataClassification.vue
  frontend/src/views/sql-editor/Setting/DataMasking/index.ts
  frontend/src/views/sql-editor/Setting/Sidebar/common.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: detailed error in admin execute response audit
  backend/api/v1/audit.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: force to change the password (#13764)
  backend/api/v1/auth_service.go
  backend/server/init.go
  backend/store/principal.go
  backend/store/setting.go
  frontend/src/App.vue
  frontend/src/components/GeneralSetting/PasswordRestrictionSetting.vue
  frontend/src/components/PasswordSigninForm.vue
  frontend/src/components/ProvideDashboardContext.vue
  frontend/src/components/User/Settings/CreateUserDrawer.vue
  frontend/src/components/User/Settings/UserPassword.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/auth.ts
  frontend/src/router/index.ts
  frontend/src/store/modules/auth.ts
  frontend/src/types/proto/store/setting.ts
  frontend/src/types/proto/v1/auth_service.ts
  frontend/src/types/proto/v1/setting_service.ts
  frontend/src/views/OAuthCallback.vue
  frontend/src/views/ProfileDashboard.vue
  frontend/src/views/auth/PasswordReset.vue
  frontend/src/views/auth/Signin.vue
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/setting.pb.go
  proto/generated-go/v1/auth_service.pb.go
  proto/generated-go/v1/setting_service.pb.go
  proto/store/setting.proto
  proto/v1/auth_service.proto
  proto/v1/setting_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: force to change the password (#13764)
  backend/api/v1/auth_service.go
  backend/server/init.go
  backend/store/principal.go
  backend/store/setting.go
  frontend/src/App.vue
  frontend/src/components/GeneralSetting/PasswordRestrictionSetting.vue
  frontend/src/components/PasswordSigninForm.vue
  frontend/src/components/ProvideDashboardContext.vue
  frontend/src/components/User/Settings/CreateUserDrawer.vue
  frontend/src/components/User/Settings/UserPassword.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/auth.ts
  frontend/src/router/index.ts
  frontend/src/store/modules/auth.ts
  frontend/src/types/proto/store/setting.ts
  frontend/src/types/proto/v1/auth_service.ts
  frontend/src/types/proto/v1/setting_service.ts
  frontend/src/views/OAuthCallback.vue
  frontend/src/views/ProfileDashboard.vue
  frontend/src/views/auth/PasswordReset.vue
  frontend/src/views/auth/Signin.vue
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/setting.pb.go
  proto/generated-go/v1/auth_service.pb.go
  proto/generated-go/v1/setting_service.pb.go
  proto/store/setting.proto
  proto/v1/auth_service.proto
  proto/v1/setting_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: force to change the password (#13764)
  backend/api/v1/auth_service.go
  backend/server/init.go
  backend/store/principal.go
  backend/store/setting.go
  frontend/src/App.vue
  frontend/src/components/GeneralSetting/PasswordRestrictionSetting.vue
  frontend/src/components/PasswordSigninForm.vue
  frontend/src/components/ProvideDashboardContext.vue
  frontend/src/components/User/Settings/CreateUserDrawer.vue
  frontend/src/components/User/Settings/UserPassword.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/auth.ts
  frontend/src/router/index.ts
  frontend/src/store/modules/auth.ts
  frontend/src/types/proto/store/setting.ts
  frontend/src/types/proto/v1/auth_service.ts
  frontend/src/types/proto/v1/setting_service.ts
  frontend/src/views/OAuthCallback.vue
  frontend/src/views/ProfileDashboard.vue
  frontend/src/views/auth/PasswordReset.vue
  frontend/src/views/auth/Signin.vue
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/setting.pb.go
  proto/generated-go/v1/auth_service.pb.go
  proto/generated-go/v1/setting_service.pb.go
  proto/store/setting.proto
  proto/v1/auth_service.proto
  proto/v1/setting_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

fix: detailed error in admin execute response audit (#13765)
  backend/api/v1/audit.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: detailed error in admin execute response audit (#13765)
  backend/api/v1/audit.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: detailed error in admin execute response audit (#13765)
  backend/api/v1/audit.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: improve entra wording
  frontend/src/components/User/Settings/AADSyncDrawer.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/SettingWorkspaceUsers.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: improve entra wording (#13766)
  frontend/src/components/User/Settings/AADSyncDrawer.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/SettingWorkspaceUsers.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: improve entra wording (#13766)
  frontend/src/components/User/Settings/AADSyncDrawer.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/SettingWorkspaceUsers.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: improve entra wording (#13766)
  frontend/src/components/User/Settings/AADSyncDrawer.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/SettingWorkspaceUsers.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: display postgresError
  frontend/src/views/sql-editor/EditorCommon/ResultView/ErrorView/ErrorView.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/ErrorView/PostgresError.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/SingleResultViewV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat(sql-editor): display postgresError (#13767)
  frontend/src/views/sql-editor/EditorCommon/ResultView/ErrorView/ErrorView.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/ErrorView/PostgresError.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/SingleResultViewV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat(sql-editor): display postgresError (#13767)
  frontend/src/views/sql-editor/EditorCommon/ResultView/ErrorView/ErrorView.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/ErrorView/PostgresError.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/SingleResultViewV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat(sql-editor): display postgresError (#13767)
  frontend/src/views/sql-editor/EditorCommon/ResultView/ErrorView/ErrorView.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/ErrorView/PostgresError.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/SingleResultViewV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: minor fixes
  frontend/src/components/GeneralSetting/DatabaseChangeModeSetting.vue
  frontend/src/components/ProvideSQLEditorContext.vue
  frontend/src/views/sql-editor/AsidePanel/AsidePanel.vue
  frontend/src/views/sql-editor/SQLEditorSettingPage.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: handle case sensitivity in rollback
  backend/api/v1/rollout_service.go
  backend/plugin/parser/base/restore.go
  backend/plugin/parser/base/transform.go
  backend/plugin/parser/mysql/backup.go
  backend/plugin/parser/mysql/backup_test.go
  backend/plugin/parser/mysql/restore.go
  backend/plugin/parser/mysql/restore_test.go
  backend/plugin/parser/tidb/backup.go
  backend/plugin/parser/tidb/backup_test.go
  backend/runner/taskrun/data_update_executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: minor fixes (#13768)
  frontend/src/components/GeneralSetting/DatabaseChangeModeSetting.vue
  frontend/src/components/ProvideSQLEditorContext.vue
  frontend/src/views/sql-editor/AsidePanel/AsidePanel.vue
  frontend/src/views/sql-editor/SQLEditorSettingPage.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: minor fixes (#13768)
  frontend/src/components/GeneralSetting/DatabaseChangeModeSetting.vue
  frontend/src/components/ProvideSQLEditorContext.vue
  frontend/src/views/sql-editor/AsidePanel/AsidePanel.vue
  frontend/src/views/sql-editor/SQLEditorSettingPage.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: minor fixes (#13768)
  frontend/src/components/GeneralSetting/DatabaseChangeModeSetting.vue
  frontend/src/components/ProvideSQLEditorContext.vue
  frontend/src/views/sql-editor/AsidePanel/AsidePanel.vue
  frontend/src/views/sql-editor/SQLEditorSettingPage.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: handle case sensitivity in rollback (#13769)
  backend/api/v1/rollout_service.go
  backend/plugin/parser/base/restore.go
  backend/plugin/parser/base/transform.go
  backend/plugin/parser/mysql/backup.go
  backend/plugin/parser/mysql/backup_test.go
  backend/plugin/parser/mysql/restore.go
  backend/plugin/parser/mysql/restore_test.go
  backend/plugin/parser/tidb/backup.go
  backend/plugin/parser/tidb/backup_test.go
  backend/runner/taskrun/data_update_executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

fix: handle case sensitivity in rollback (#13769)
  backend/api/v1/rollout_service.go
  backend/plugin/parser/base/restore.go
  backend/plugin/parser/base/transform.go
  backend/plugin/parser/mysql/backup.go
  backend/plugin/parser/mysql/backup_test.go
  backend/plugin/parser/mysql/restore.go
  backend/plugin/parser/mysql/restore_test.go
  backend/plugin/parser/tidb/backup.go
  backend/plugin/parser/tidb/backup_test.go
  backend/runner/taskrun/data_update_executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

fix: handle case sensitivity in rollback (#13769)
  backend/api/v1/rollout_service.go
  backend/plugin/parser/base/restore.go
  backend/plugin/parser/base/transform.go
  backend/plugin/parser/mysql/backup.go
  backend/plugin/parser/mysql/backup_test.go
  backend/plugin/parser/mysql/restore.go
  backend/plugin/parser/mysql/restore_test.go
  backend/plugin/parser/tidb/backup.go
  backend/plugin/parser/tidb/backup_test.go
  backend/runner/taskrun/data_update_executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: minor fix
  frontend/src/components/ProvideSQLEditorContext.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: minor fix (#13770)
  frontend/src/components/ProvideSQLEditorContext.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: minor fix (#13770)
  frontend/src/components/ProvideSQLEditorContext.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: minor fix (#13770)
  frontend/src/components/ProvideSQLEditorContext.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: data masking
  frontend/src/components/SensitiveData/GlobalMaskingRulesView.vue
  frontend/src/router/sqlEditor.ts
  frontend/src/views/SettingWorkspaceDataMasking.vue
  frontend/src/views/sql-editor/Setting/DataMasking/DataClassification.vue
  frontend/src/views/sql-editor/Setting/DataMasking/DataMasking.vue
  frontend/src/views/sql-editor/Setting/DataMasking/index.ts
  frontend/src/views/sql-editor/Setting/Sidebar/common.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev
