Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

chore: i18n for changelog
  backend/enterprise/api/plan.yaml
  frontend/public/help/routeMapList.json
  frontend/src/components/Changelist/ChangelistDetail/AddChangePanel/form/ChangelogForm.vue
  frontend/src/components/Changelist/ChangelistDetail/ChangeTable/Source.vue
  frontend/src/components/Changelist/ChangelistDetail/ChangelistDetail.vue
  frontend/src/components/Changelist/ChangelistDetail/ChangelogDetailPanel/ChangelogDetailPanel.vue
  frontend/src/components/Changelog/AffectedTablesSelect.vue
  frontend/src/components/Changelog/ChangelogDataTable.vue
  frontend/src/components/Changelog/ChangelogDetail.vue
  frontend/src/components/Database/DatabaseChangelogPanel.vue
  frontend/src/components/Database/context.ts
  frontend/src/components/Project/ProjectReleasesPanel.vue
  frontend/src/components/SyncDatabaseSchemaV1/DatabaseSchemaSelector.vue
  frontend/src/components/TenantDatabaseTable/DatabaseMatrixItem.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/subscription/en-US.json
  frontend/src/locales/subscription/es-ES.json
  frontend/src/locales/subscription/ja-JP.json
  frontend/src/locales/subscription/zh-CN.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/dashboard/projectV1.ts
  frontend/src/utils/v1/changelog.ts
  frontend/src/views/DatabaseDetail/ChangelogDetail.vue
  frontend/src/views/DatabaseDetail/DatabaseDetail.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: update
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: i18n for changelog (#14801)
  backend/enterprise/api/plan.yaml
  frontend/public/help/routeMapList.json
  frontend/src/components/Changelist/ChangelistDetail/AddChangePanel/form/ChangelogForm.vue
  frontend/src/components/Changelist/ChangelistDetail/ChangeTable/Source.vue
  frontend/src/components/Changelist/ChangelistDetail/ChangelistDetail.vue
  frontend/src/components/Changelist/ChangelistDetail/ChangelogDetailPanel/ChangelogDetailPanel.vue
  frontend/src/components/Changelog/AffectedTablesSelect.vue
  frontend/src/components/Changelog/ChangelogDataTable.vue
  frontend/src/components/Changelog/ChangelogDetail.vue
  frontend/src/components/Database/DatabaseChangelogPanel.vue
  frontend/src/components/Database/context.ts
  frontend/src/components/Project/ProjectReleasesPanel.vue
  frontend/src/components/SyncDatabaseSchemaV1/DatabaseSchemaSelector.vue
  frontend/src/components/TenantDatabaseTable/DatabaseMatrixItem.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/subscription/en-US.json
  frontend/src/locales/subscription/es-ES.json
  frontend/src/locales/subscription/ja-JP.json
  frontend/src/locales/subscription/zh-CN.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/dashboard/projectV1.ts
  frontend/src/utils/v1/changelog.ts
  frontend/src/views/DatabaseDetail/ChangelogDetail.vue
  frontend/src/views/DatabaseDetail/DatabaseDetail.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: i18n for changelog (#14801)
  backend/enterprise/api/plan.yaml
  frontend/public/help/routeMapList.json
  frontend/src/components/Changelist/ChangelistDetail/AddChangePanel/form/ChangelogForm.vue
  frontend/src/components/Changelist/ChangelistDetail/ChangeTable/Source.vue
  frontend/src/components/Changelist/ChangelistDetail/ChangelistDetail.vue
  frontend/src/components/Changelist/ChangelistDetail/ChangelogDetailPanel/ChangelogDetailPanel.vue
  frontend/src/components/Changelog/AffectedTablesSelect.vue
  frontend/src/components/Changelog/ChangelogDataTable.vue
  frontend/src/components/Changelog/ChangelogDetail.vue
  frontend/src/components/Database/DatabaseChangelogPanel.vue
  frontend/src/components/Database/context.ts
  frontend/src/components/Project/ProjectReleasesPanel.vue
  frontend/src/components/SyncDatabaseSchemaV1/DatabaseSchemaSelector.vue
  frontend/src/components/TenantDatabaseTable/DatabaseMatrixItem.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/subscription/en-US.json
  frontend/src/locales/subscription/es-ES.json
  frontend/src/locales/subscription/ja-JP.json
  frontend/src/locales/subscription/zh-CN.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/dashboard/projectV1.ts
  frontend/src/utils/v1/changelog.ts
  frontend/src/views/DatabaseDetail/ChangelogDetail.vue
  frontend/src/views/DatabaseDetail/DatabaseDetail.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: i18n for changelog (#14801)
  backend/enterprise/api/plan.yaml
  frontend/public/help/routeMapList.json
  frontend/src/components/Changelist/ChangelistDetail/AddChangePanel/form/ChangelogForm.vue
  frontend/src/components/Changelist/ChangelistDetail/ChangeTable/Source.vue
  frontend/src/components/Changelist/ChangelistDetail/ChangelistDetail.vue
  frontend/src/components/Changelist/ChangelistDetail/ChangelogDetailPanel/ChangelogDetailPanel.vue
  frontend/src/components/Changelog/AffectedTablesSelect.vue
  frontend/src/components/Changelog/ChangelogDataTable.vue
  frontend/src/components/Changelog/ChangelogDetail.vue
  frontend/src/components/Database/DatabaseChangelogPanel.vue
  frontend/src/components/Database/context.ts
  frontend/src/components/Project/ProjectReleasesPanel.vue
  frontend/src/components/SyncDatabaseSchemaV1/DatabaseSchemaSelector.vue
  frontend/src/components/TenantDatabaseTable/DatabaseMatrixItem.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/subscription/en-US.json
  frontend/src/locales/subscription/es-ES.json
  frontend/src/locales/subscription/ja-JP.json
  frontend/src/locales/subscription/zh-CN.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/dashboard/projectV1.ts
  frontend/src/utils/v1/changelog.ts
  frontend/src/views/DatabaseDetail/ChangelogDetail.vue
  frontend/src/views/DatabaseDetail/DatabaseDetail.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: tweak changelog related views
  backend/plugin/parser/mysql/differ.go
  backend/plugin/parser/tidb/differ.go
  frontend/src/components/Changelist/ChangelistDetail/ChangeTable/Source.vue
  frontend/src/components/Changelog/ChangelogDetail.vue
  frontend/src/components/SyncDatabaseSchemaV1/DatabaseSchemaSelector.vue
  frontend/src/components/SyncDatabaseSchemaV1/index.vue
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: update
  backend/plugin/parser/tidb/differ.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(iam): revision & changelog
  backend/component/iam/acl.yaml
  backend/component/iam/permission.go
  backend/component/iam/permission.yaml
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat(proto): revision changelog iam
  frontend/src/types/proto/v1/database_service.ts
  proto/generated-go/v1/database_service.pb.go
  proto/v1/database_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

feat: revision changelog iam (#14803)
  backend/component/iam/acl.yaml
  backend/component/iam/permission.go
  backend/component/iam/permission.yaml
  frontend/src/types/proto/v1/database_service.ts
  proto/generated-go/v1/database_service.pb.go
  proto/v1/database_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

feat: revision changelog iam (#14803)
  backend/component/iam/acl.yaml
  backend/component/iam/permission.go
  backend/component/iam/permission.yaml
  frontend/src/types/proto/v1/database_service.ts
  proto/generated-go/v1/database_service.pb.go
  proto/v1/database_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

feat: revision changelog iam (#14803)
  backend/component/iam/acl.yaml
  backend/component/iam/permission.go
  backend/component/iam/permission.yaml
  frontend/src/types/proto/v1/database_service.ts
  proto/generated-go/v1/database_service.pb.go
  proto/v1/database_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: tweak changelog related views (#14802)
  backend/plugin/parser/mysql/differ.go
  backend/plugin/parser/tidb/differ.go
  frontend/src/components/Changelist/ChangelistDetail/ChangeTable/Source.vue
  frontend/src/components/Changelog/ChangelogDetail.vue
  frontend/src/components/SyncDatabaseSchemaV1/DatabaseSchemaSelector.vue
  frontend/src/components/SyncDatabaseSchemaV1/index.vue
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: tweak changelog related views (#14802)
  backend/plugin/parser/mysql/differ.go
  backend/plugin/parser/tidb/differ.go
  frontend/src/components/Changelist/ChangelistDetail/ChangeTable/Source.vue
  frontend/src/components/Changelog/ChangelogDetail.vue
  frontend/src/components/SyncDatabaseSchemaV1/DatabaseSchemaSelector.vue
  frontend/src/components/SyncDatabaseSchemaV1/index.vue
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: tweak changelog related views (#14802)
  backend/plugin/parser/mysql/differ.go
  backend/plugin/parser/tidb/differ.go
  frontend/src/components/Changelist/ChangelistDetail/ChangeTable/Source.vue
  frontend/src/components/Changelog/ChangelogDetail.vue
  frontend/src/components/SyncDatabaseSchemaV1/DatabaseSchemaSelector.vue
  frontend/src/components/SyncDatabaseSchemaV1/index.vue
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: deprecate exception level
  backend/api/v1/masking_evaluator.go
  backend/api/v1/masking_evaluator_test.go
  backend/api/v1/org_policy_service.go
  frontend/src/components/SensitiveData/GrantAccessForm.vue
  frontend/src/components/SensitiveData/MaskingExceptionUserTable.vue
  frontend/src/components/SensitiveData/types.ts
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/store/policy.ts
  frontend/src/types/proto/v1/org_policy_service.ts
  frontend/src/views/project/ProjectDatabaseMaskingAccess.vue
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/policy.pb.go
  proto/generated-go/v1/org_policy_service.pb.go
  proto/store/policy.proto
  proto/v1/org_policy_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: update
  backend/api/v1/masking_evaluator_test.go
  backend/api/v1/org_policy_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update error validation message
  backend/api/v1/auth_service.go
  backend/api/v1/group_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: deprecate exception level (#14804)
  backend/api/v1/masking_evaluator.go
  backend/api/v1/masking_evaluator_test.go
  backend/api/v1/org_policy_service.go
  frontend/src/components/SensitiveData/GrantAccessForm.vue
  frontend/src/components/SensitiveData/MaskingExceptionUserTable.vue
  frontend/src/components/SensitiveData/types.ts
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/store/policy.ts
  frontend/src/types/proto/v1/org_policy_service.ts
  frontend/src/views/project/ProjectDatabaseMaskingAccess.vue
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/policy.pb.go
  proto/generated-go/v1/org_policy_service.pb.go
  proto/store/policy.proto
  proto/v1/org_policy_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: deprecate exception level (#14804)
  backend/api/v1/masking_evaluator.go
  backend/api/v1/masking_evaluator_test.go
  backend/api/v1/org_policy_service.go
  frontend/src/components/SensitiveData/GrantAccessForm.vue
  frontend/src/components/SensitiveData/MaskingExceptionUserTable.vue
  frontend/src/components/SensitiveData/types.ts
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/store/policy.ts
  frontend/src/types/proto/v1/org_policy_service.ts
  frontend/src/views/project/ProjectDatabaseMaskingAccess.vue
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/policy.pb.go
  proto/generated-go/v1/org_policy_service.pb.go
  proto/store/policy.proto
  proto/v1/org_policy_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: deprecate exception level (#14804)
  backend/api/v1/masking_evaluator.go
  backend/api/v1/masking_evaluator_test.go
  backend/api/v1/org_policy_service.go
  frontend/src/components/SensitiveData/GrantAccessForm.vue
  frontend/src/components/SensitiveData/MaskingExceptionUserTable.vue
  frontend/src/components/SensitiveData/types.ts
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/store/policy.ts
  frontend/src/types/proto/v1/org_policy_service.ts
  frontend/src/views/project/ProjectDatabaseMaskingAccess.vue
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/policy.pb.go
  proto/generated-go/v1/org_policy_service.pb.go
  proto/store/policy.proto
  proto/v1/org_policy_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: update error validation message (#14805)
  backend/api/v1/auth_service.go
  backend/api/v1/group_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update error validation message (#14805)
  backend/api/v1/auth_service.go
  backend/api/v1/group_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update error validation message (#14805)
  backend/api/v1/auth_service.go
  backend/api/v1/group_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
