Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev

chore: database project (#12950)
  backend/api/v1/acl.go
  backend/api/v1/acl_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: database project (#12950)
  backend/api/v1/acl.go
  backend/api/v1/acl_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: database project (#12950)
  backend/api/v1/acl.go
  backend/api/v1/acl_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  proto/store/task_run_log.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

chore: record and redirect to last visit page
  frontend/src/components/KBar/KBarHelper.vue
  frontend/src/layouts/DashboardLayout.vue
  frontend/src/router/dashboard/workspace.ts
  frontend/src/router/useRecentVisit.ts
  frontend/src/views/DashboardLandingPage.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  proto/store/task_run.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

chore: update
  proto/store/task_run_log.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

chore: buf generate
  frontend/src/types/proto/store/task_run.ts
  frontend/src/types/proto/store/task_run_log.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/task_run.pb.go
  proto/generated-go/store/task_run_log.pb.go
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: add prior backup info to task run and task run log (#12951)
  frontend/src/types/proto/store/task_run.ts
  frontend/src/types/proto/store/task_run_log.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/task_run.pb.go
  proto/generated-go/store/task_run_log.pb.go
  proto/store/task_run.proto
  proto/store/task_run_log.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: add prior backup info to task run and task run log (#12951)
  frontend/src/types/proto/store/task_run.ts
  frontend/src/types/proto/store/task_run_log.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/task_run.pb.go
  proto/generated-go/store/task_run_log.pb.go
  proto/store/task_run.proto
  proto/store/task_run_log.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: add prior backup info to task run and task run log (#12951)
  frontend/src/types/proto/store/task_run.ts
  frontend/src/types/proto/store/task_run_log.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/task_run.pb.go
  proto/generated-go/store/task_run_log.pb.go
  proto/store/task_run.proto
  proto/store/task_run_log.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: tweak issue action comments (#12947)
  backend/api/v1/issue_service.go
  frontend/src/components/IssueV1/components/HeaderSection/Actions/Actions.vue
  frontend/src/components/IssueV1/components/HeaderSection/Actions/request/TinySQLEditorButton.vue
  frontend/src/components/IssueV1/components/HeaderSection/Actions/review/IssueReviewButtonGroup.vue
  frontend/src/components/IssueV1/components/HeaderSection/Actions/rollout/CombinedRolloutButtonGroup.vue
  frontend/src/components/IssueV1/logic/action/issue.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: tweak issue action comments (#12947)
  backend/api/v1/issue_service.go
  frontend/src/components/IssueV1/components/HeaderSection/Actions/Actions.vue
  frontend/src/components/IssueV1/components/HeaderSection/Actions/request/TinySQLEditorButton.vue
  frontend/src/components/IssueV1/components/HeaderSection/Actions/review/IssueReviewButtonGroup.vue
  frontend/src/components/IssueV1/components/HeaderSection/Actions/rollout/CombinedRolloutButtonGroup.vue
  frontend/src/components/IssueV1/logic/action/issue.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: tweak issue action comments (#12947)
  backend/api/v1/issue_service.go
  frontend/src/components/IssueV1/components/HeaderSection/Actions/Actions.vue
  frontend/src/components/IssueV1/components/HeaderSection/Actions/request/TinySQLEditorButton.vue
  frontend/src/components/IssueV1/components/HeaderSection/Actions/review/IssueReviewButtonGroup.vue
  frontend/src/components/IssueV1/components/HeaderSection/Actions/rollout/CombinedRolloutButtonGroup.vue
  frontend/src/components/IssueV1/logic/action/issue.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: update
  frontend/src/router/dashboard/workspace.ts
  frontend/src/router/useRecentVisit.ts
  frontend/src/views/DashboardSidebar.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: eslint
  frontend/src/router/useRecentVisit.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: record and redirect to last visit page (#12952)
  frontend/src/components/KBar/KBarHelper.vue
  frontend/src/layouts/DashboardLayout.vue
  frontend/src/router/dashboard/workspace.ts
  frontend/src/router/useRecentVisit.ts
  frontend/src/views/DashboardLandingPage.vue
  frontend/src/views/DashboardSidebar.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: record and redirect to last visit page (#12952)
  frontend/src/components/KBar/KBarHelper.vue
  frontend/src/layouts/DashboardLayout.vue
  frontend/src/router/dashboard/workspace.ts
  frontend/src/router/useRecentVisit.ts
  frontend/src/views/DashboardLandingPage.vue
  frontend/src/views/DashboardSidebar.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: record and redirect to last visit page (#12952)
  frontend/src/components/KBar/KBarHelper.vue
  frontend/src/layouts/DashboardLayout.vue
  frontend/src/router/dashboard/workspace.ts
  frontend/src/router/useRecentVisit.ts
  frontend/src/views/DashboardLandingPage.vue
  frontend/src/views/DashboardSidebar.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: backup available
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/database_service.pb.go
  proto/v1/database_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: backup available (#12953)
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/database_service.pb.go
  proto/v1/database_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: backup available (#12953)
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/database_service.pb.go
  proto/v1/database_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: backup available (#12953)
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/database_service.pb.go
  proto/v1/database_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

tmp commit
  backend/api/v1/audit.go
  backend/api/v1/project_service.go
  backend/api/v1/project_service_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: redirect to signup if need admin setup
  frontend/src/views/auth/Signin.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: redirect to signup if need admin setup (#12955)
  frontend/src/views/auth/Signin.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: redirect to signup if need admin setup (#12955)
  frontend/src/views/auth/Signin.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: redirect to signup if need admin setup (#12955)
  frontend/src/views/auth/Signin.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: oracle explain refactoring
  backend/plugin/db/dm/dm.go
  backend/plugin/db/obo/obo.go
  backend/plugin/db/oracle/oracle.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: oracle explain refactoring (#12956)
  backend/plugin/db/dm/dm.go
  backend/plugin/db/obo/obo.go
  backend/plugin/db/oracle/oracle.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: oracle explain refactoring (#12956)
  backend/plugin/db/dm/dm.go
  backend/plugin/db/obo/obo.go
  backend/plugin/db/oracle/oracle.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: oracle explain refactoring (#12956)
  backend/plugin/db/dm/dm.go
  backend/plugin/db/obo/obo.go
  backend/plugin/db/oracle/oracle.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

refactor: query context
  backend/api/v1/sql_service.go
  backend/plugin/db/dm/dm.go
  backend/plugin/db/driver.go
  backend/plugin/db/hive/hive.go
  backend/plugin/db/hive/role.go
  backend/plugin/db/mssql/mssql.go
  backend/plugin/db/mysql/mysql.go
  backend/plugin/db/obo/obo.go
  backend/plugin/db/oracle/oracle.go
  backend/plugin/db/pg/pg.go
  backend/plugin/db/redshift/redshift.go
  backend/plugin/db/risingwave/risingwave.go
  backend/plugin/db/snowflake/snowflake.go
  backend/plugin/db/sqlite/sqlite.go
  backend/plugin/db/starrocks/starrocks.go
  backend/plugin/db/tidb/tidb.go
  backend/plugin/db/util/driverutil.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: ignore sql-editor path
  frontend/src/router/useRecentVisit.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  backend/plugin/db/sqlite/sqlite.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: ignore sql-editor path (#12958)
  frontend/src/router/useRecentVisit.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: ignore sql-editor path (#12958)
  frontend/src/router/useRecentVisit.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: ignore sql-editor path (#12958)
  frontend/src/router/useRecentVisit.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  backend/plugin/db/hive/dump.go
  backend/plugin/db/hive/hive.go
  backend/plugin/db/hive/role.go
  backend/plugin/db/hive/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update
  backend/plugin/db/hive/hive.go
  backend/plugin/db/hive/role.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev
