Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

chore: update change history detail page (#10256)
  backend/api/v1/database_service.go
  backend/store/instance_change_history.go
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/zh-CN.json
  frontend/src/store/modules/v1/changeHistory.ts
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/google/protobuf/struct.ts
  frontend/src/types/proto/google/protobuf/timestamp.ts
  frontend/src/types/proto/v1/database_service.ts
  frontend/src/views/ChangeHistoryDetail.vue
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/database_service.pb.go
  proto/v1/database_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: update change history detail page (#10256)
  backend/api/v1/database_service.go
  backend/store/instance_change_history.go
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/zh-CN.json
  frontend/src/store/modules/v1/changeHistory.ts
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/google/protobuf/struct.ts
  frontend/src/types/proto/google/protobuf/timestamp.ts
  frontend/src/types/proto/v1/database_service.ts
  frontend/src/views/ChangeHistoryDetail.vue
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/database_service.pb.go
  proto/v1/database_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: update change history detail page (#10256)
  backend/api/v1/database_service.go
  backend/store/instance_change_history.go
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/zh-CN.json
  frontend/src/store/modules/v1/changeHistory.ts
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/google/protobuf/struct.ts
  frontend/src/types/proto/google/protobuf/timestamp.ts
  frontend/src/types/proto/v1/database_service.ts
  frontend/src/views/ChangeHistoryDetail.vue
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/database_service.pb.go
  proto/v1/database_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: don't update sheet project for database project update
  backend/store/database.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: split dashboard routes (#10251)
  frontend/src/components/KBar/KBarWrapper.vue
  frontend/src/components/SyncDatabaseSchema/index.vue
  frontend/src/router/dashboard/database.ts
  frontend/src/router/dashboard/environment.ts
  frontend/src/router/dashboard/index.ts
  frontend/src/router/dashboard/instance.ts
  frontend/src/router/dashboard/issue.ts
  frontend/src/router/dashboard/project.ts
  frontend/src/router/dashboard/projectV1.ts
  frontend/src/router/dashboard/workspace.ts
  frontend/src/router/dashboard/workspaceSetting.ts
  frontend/src/router/index.ts
  frontend/src/views/Page403.vue
  frontend/src/views/Page404.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: split dashboard routes (#10251)
  frontend/src/components/KBar/KBarWrapper.vue
  frontend/src/components/SyncDatabaseSchema/index.vue
  frontend/src/router/dashboard/database.ts
  frontend/src/router/dashboard/environment.ts
  frontend/src/router/dashboard/index.ts
  frontend/src/router/dashboard/instance.ts
  frontend/src/router/dashboard/issue.ts
  frontend/src/router/dashboard/project.ts
  frontend/src/router/dashboard/projectV1.ts
  frontend/src/router/dashboard/workspace.ts
  frontend/src/router/dashboard/workspaceSetting.ts
  frontend/src/router/index.ts
  frontend/src/views/Page403.vue
  frontend/src/views/Page404.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: split dashboard routes (#10251)
  frontend/src/components/KBar/KBarWrapper.vue
  frontend/src/components/SyncDatabaseSchema/index.vue
  frontend/src/router/dashboard/database.ts
  frontend/src/router/dashboard/environment.ts
  frontend/src/router/dashboard/index.ts
  frontend/src/router/dashboard/instance.ts
  frontend/src/router/dashboard/issue.ts
  frontend/src/router/dashboard/project.ts
  frontend/src/router/dashboard/projectV1.ts
  frontend/src/router/dashboard/workspace.ts
  frontend/src/router/dashboard/workspaceSetting.ts
  frontend/src/router/index.ts
  frontend/src/views/Page403.vue
  frontend/src/views/Page404.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  backend/store/database.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: demo data external url
  backend/demo/data/next/dump.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: don't update sheet project for database project update (#10259)
  backend/store/database.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: don't update sheet project for database project update (#10259)
  backend/store/database.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: don't update sheet project for database project update (#10259)
  backend/store/database.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: demo data external url (#10260)
  backend/demo/data/next/dump.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: demo data external url (#10260)
  backend/demo/data/next/dump.sql.REMOVED.git-id
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: service account email
  frontend/src/components/User/Settings/CreateUserDrawer.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: service account email (#10261)
  frontend/src/components/User/Settings/CreateUserDrawer.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: service account email (#10261)
  frontend/src/components/User/Settings/CreateUserDrawer.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: service account email (#10261)
  frontend/src/components/User/Settings/CreateUserDrawer.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: add DROP DATABASE to the PG non-transactional statement
  backend/plugin/db/pg/pg.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: add DROP DATABASE to the PG non-transactional statement (#10262)
  backend/plugin/db/pg/pg.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: add DROP DATABASE to the PG non-transactional statement (#10262)
  backend/plugin/db/pg/pg.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: add DROP DATABASE to the PG non-transactional statement (#10262)
  backend/plugin/db/pg/pg.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: use unit8 length
  backend/store/instance_change_history.go
  backend/store/sheet.go
  frontend/src/components/Changelist/ChangelistDetail/RawSQLPanel/RawSQLPanel.vue
  frontend/src/components/IssueV1/components/StatementSection/EditorView/EditorView.vue
  frontend/src/components/SyncDatabaseSchema/RawSQLEditor.vue
  frontend/src/store/modules/v1/sheet.ts
  frontend/src/utils/index.ts
  frontend/src/utils/sheet.ts
  frontend/src/utils/v1/sheet.ts
  frontend/src/views/ChangeHistoryDetail.vue
  frontend/src/views/sql-editor/EditorPanel/SheetForIssueTipsBar.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

fix: use unit8 length (#10264)
  backend/store/instance_change_history.go
  backend/store/sheet.go
  frontend/src/components/Changelist/ChangelistDetail/RawSQLPanel/RawSQLPanel.vue
  frontend/src/components/IssueV1/components/StatementSection/EditorView/EditorView.vue
  frontend/src/components/SyncDatabaseSchema/RawSQLEditor.vue
  frontend/src/store/modules/v1/sheet.ts
  frontend/src/utils/index.ts
  frontend/src/utils/sheet.ts
  frontend/src/utils/v1/sheet.ts
  frontend/src/views/ChangeHistoryDetail.vue
  frontend/src/views/sql-editor/EditorPanel/SheetForIssueTipsBar.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

fix: use unit8 length (#10264)
  backend/store/instance_change_history.go
  backend/store/sheet.go
  frontend/src/components/Changelist/ChangelistDetail/RawSQLPanel/RawSQLPanel.vue
  frontend/src/components/IssueV1/components/StatementSection/EditorView/EditorView.vue
  frontend/src/components/SyncDatabaseSchema/RawSQLEditor.vue
  frontend/src/store/modules/v1/sheet.ts
  frontend/src/utils/index.ts
  frontend/src/utils/sheet.ts
  frontend/src/utils/v1/sheet.ts
  frontend/src/views/ChangeHistoryDetail.vue
  frontend/src/views/sql-editor/EditorPanel/SheetForIssueTipsBar.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

fix: use unit8 length (#10264)
  backend/store/instance_change_history.go
  backend/store/sheet.go
  frontend/src/components/Changelist/ChangelistDetail/RawSQLPanel/RawSQLPanel.vue
  frontend/src/components/IssueV1/components/StatementSection/EditorView/EditorView.vue
  frontend/src/components/SyncDatabaseSchema/RawSQLEditor.vue
  frontend/src/store/modules/v1/sheet.ts
  frontend/src/utils/index.ts
  frontend/src/utils/sheet.ts
  frontend/src/utils/v1/sheet.ts
  frontend/src/views/ChangeHistoryDetail.vue
  frontend/src/views/sql-editor/EditorPanel/SheetForIssueTipsBar.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: append workspaceAdmin if rbac disabled
  backend/api/v1/acl.go
  backend/api/v1/acl_config.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: append workspaceAdmin if rbac disabled (#10265)
  backend/api/v1/acl.go
  backend/api/v1/acl_config.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: append workspaceAdmin if rbac disabled (#10265)
  backend/api/v1/acl.go
  backend/api/v1/acl_config.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: append workspaceAdmin if rbac disabled (#10265)
  backend/api/v1/acl.go
  backend/api/v1/acl_config.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: skip empty role string
  backend/store/principal.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: should show sheet even if the database is transfer out
  backend/store/principal.go
  frontend/src/views/sql-editor/SecondarySidebar/SheetTabPane/SheetList/SheetList.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

fix: use principal.status
  backend/store/stats.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

update
  backend/store/stats.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: use principal.status (#10268)
  backend/store/stats.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: use principal.status (#10268)
  backend/store/stats.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: use principal.status (#10268)
  backend/store/stats.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

update
  backend/store/stats.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: use principal.status
  backend/store/stats.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: implement column def manipulate
  backend/plugin/parser/tidb/strings.go
  backend/plugin/parser/tidb/strings_test.go
  backend/plugin/parser/tidb/test-data/test_strings_manipulate.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
