Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev

update wording
  backend/plugin/advisor/mysql/advisor_online_migration.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore(sql-review): add disallow function list rule
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/code.go
  backend/plugin/advisor/mysql/advisor_function_disallow_list.go
  backend/plugin/advisor/mysql/mysql_rules_test.go
  backend/plugin/advisor/mysql/test/system_function_disallow_list.yaml
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/utils_for_tests.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: add changeType parameter
  frontend/src/components/IssueV1/components/SQLCheckSection/OnlineMigrationAdviceExtra.vue
  frontend/src/components/IssueV1/components/SQLCheckSection/SQLCheckSection.vue
  frontend/src/components/IssueV1/components/Sidebar/GhostSection/common.ts
  frontend/src/components/SQLCheck/SQLCheckButton.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  backend/plugin/advisor/config/sql-review.dev.yaml
  backend/plugin/advisor/config/sql-review.prod.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update
  backend/plugin/advisor/sql_review.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore(sql-review): add disallow function list rule (#10974)
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/code.go
  backend/plugin/advisor/config/sql-review.dev.yaml
  backend/plugin/advisor/config/sql-review.prod.yaml
  backend/plugin/advisor/mysql/advisor_function_disallow_list.go
  backend/plugin/advisor/mysql/mysql_rules_test.go
  backend/plugin/advisor/mysql/test/system_function_disallow_list.yaml
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/utils_for_tests.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore(sql-review): add disallow function list rule (#10974)
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/code.go
  backend/plugin/advisor/config/sql-review.dev.yaml
  backend/plugin/advisor/config/sql-review.prod.yaml
  backend/plugin/advisor/mysql/advisor_function_disallow_list.go
  backend/plugin/advisor/mysql/mysql_rules_test.go
  backend/plugin/advisor/mysql/test/system_function_disallow_list.yaml
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/utils_for_tests.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore(sql-review): add disallow function list rule (#10974)
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/code.go
  backend/plugin/advisor/config/sql-review.dev.yaml
  backend/plugin/advisor/config/sql-review.prod.yaml
  backend/plugin/advisor/mysql/advisor_function_disallow_list.go
  backend/plugin/advisor/mysql/mysql_rules_test.go
  backend/plugin/advisor/mysql/test/system_function_disallow_list.yaml
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/utils_for_tests.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: add changeType parameter (#10975)
  frontend/src/components/IssueV1/components/SQLCheckSection/OnlineMigrationAdviceExtra.vue
  frontend/src/components/IssueV1/components/SQLCheckSection/SQLCheckSection.vue
  frontend/src/components/IssueV1/components/Sidebar/GhostSection/common.ts
  frontend/src/components/SQLCheck/SQLCheckButton.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add changeType parameter (#10975)
  frontend/src/components/IssueV1/components/SQLCheckSection/OnlineMigrationAdviceExtra.vue
  frontend/src/components/IssueV1/components/SQLCheckSection/SQLCheckSection.vue
  frontend/src/components/IssueV1/components/Sidebar/GhostSection/common.ts
  frontend/src/components/SQLCheck/SQLCheckButton.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add changeType parameter (#10975)
  frontend/src/components/IssueV1/components/SQLCheckSection/OnlineMigrationAdviceExtra.vue
  frontend/src/components/IssueV1/components/SQLCheckSection/SQLCheckSection.vue
  frontend/src/components/IssueV1/components/Sidebar/GhostSection/common.ts
  frontend/src/components/SQLCheck/SQLCheckButton.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update custom role description in role selector
  frontend/src/components/User/Settings/CreateUserDrawer.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update custom role description in role selector (#10976)
  frontend/src/components/User/Settings/CreateUserDrawer.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update custom role description in role selector (#10976)
  frontend/src/components/User/Settings/CreateUserDrawer.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update custom role description in role selector (#10976)
  frontend/src/components/User/Settings/CreateUserDrawer.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add i18n to function disallowed list rule
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/config/sql-review.dev.yaml
  backend/plugin/advisor/config/sql-review.prod.yaml
  backend/plugin/advisor/mysql/advisor_function_disallowed_list.go
  backend/plugin/advisor/mysql/test/system_function_disallowed_list.yaml
  backend/plugin/advisor/sql_review.go
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sqlReview.ts
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: add i18n to function disallowed list rule (#10977)
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/config/sql-review.dev.yaml
  backend/plugin/advisor/config/sql-review.prod.yaml
  backend/plugin/advisor/mysql/advisor_function_disallowed_list.go
  backend/plugin/advisor/mysql/test/system_function_disallowed_list.yaml
  backend/plugin/advisor/sql_review.go
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sqlReview.ts
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: add i18n to function disallowed list rule (#10977)
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/config/sql-review.dev.yaml
  backend/plugin/advisor/config/sql-review.prod.yaml
  backend/plugin/advisor/mysql/advisor_function_disallowed_list.go
  backend/plugin/advisor/mysql/test/system_function_disallowed_list.yaml
  backend/plugin/advisor/sql_review.go
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sqlReview.ts
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: add i18n to function disallowed list rule (#10977)
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/config/sql-review.dev.yaml
  backend/plugin/advisor/config/sql-review.prod.yaml
  backend/plugin/advisor/mysql/advisor_function_disallowed_list.go
  backend/plugin/advisor/mysql/test/system_function_disallowed_list.yaml
  backend/plugin/advisor/sql_review.go
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sqlReview.ts
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

feat: migrate snowflake to query span
  backend/api/v1/sql_service.go
  backend/plugin/parser/snowflake/masking.go
  backend/plugin/parser/snowflake/query_span.go
  backend/plugin/parser/snowflake/query_span_extractor.go
  backend/plugin/parser/snowflake/query_span_test.go
  backend/plugin/parser/snowflake/test-data/query-span/cte.yaml
  backend/plugin/parser/snowflake/test-data/query-span/pivot.yaml
  backend/plugin/parser/snowflake/test-data/query-span/set-operator.yaml
  backend/plugin/parser/snowflake/test-data/query-span/standard.yaml
  backend/plugin/parser/snowflake/test-data/query-span/subquery.yaml
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: unify change data / alter schema permission checks
  frontend/src/components/Changelist/ChangelistDetail/context.ts
  frontend/src/components/Database/context.ts
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseOperations.vue
  frontend/src/utils/v1/database.ts
  frontend/src/views/DatabaseGroupDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  backend/plugin/parser/snowflake/query_span.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: unify change data / alter schema permission checks (#10978)
  frontend/src/components/Changelist/ChangelistDetail/context.ts
  frontend/src/components/Database/context.ts
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseOperations.vue
  frontend/src/utils/v1/database.ts
  frontend/src/views/DatabaseGroupDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: unify change data / alter schema permission checks (#10978)
  frontend/src/components/Changelist/ChangelistDetail/context.ts
  frontend/src/components/Database/context.ts
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseOperations.vue
  frontend/src/utils/v1/database.ts
  frontend/src/views/DatabaseGroupDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: unify change data / alter schema permission checks (#10978)
  frontend/src/components/Changelist/ChangelistDetail/context.ts
  frontend/src/components/Database/context.ts
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseOperations.vue
  frontend/src/utils/v1/database.ts
  frontend/src/views/DatabaseGroupDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: linter warning
  backend/api/lsp/lsp.go
  backend/bin/bb/cmd/root.go
  backend/bin/bb/cmd/version.go
  backend/common/log/slog_utils.go
  backend/common/util_test.go
  backend/component/activity/manager.go
  backend/plugin/advisor/generator/main.go
  backend/plugin/db/mysql/mysql.go
  backend/plugin/db/pg/pg.go
  backend/plugin/db/redis/redis.go
  backend/plugin/db/redshift/redshift.go
  backend/plugin/db/risingwave/risingwave.go
  backend/plugin/db/ssl.go
  backend/plugin/db/starrocks/starrocks.go
  backend/plugin/db/tidb/tidb.go
  backend/plugin/idp/ldap/ldap_test.go
  backend/plugin/idp/oauth2/oauth2_test.go
  backend/plugin/idp/oidc/oidc_test.go
  backend/plugin/storage/s3/s3_test.go
  backend/server/routers.go
  backend/tests/project_test.go
  backend/tests/schema_update_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: tweak rule name
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/mysql/advisor_stmt_disallow_limit.go
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/tidb/advisor_stmt_disallow_limit.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: linter warning (#10979)
  backend/api/lsp/lsp.go
  backend/bin/bb/cmd/root.go
  backend/bin/bb/cmd/version.go
  backend/common/log/slog_utils.go
  backend/common/util_test.go
  backend/component/activity/manager.go
  backend/plugin/advisor/generator/main.go
  backend/plugin/db/mysql/mysql.go
  backend/plugin/db/pg/pg.go
  backend/plugin/db/redis/redis.go
  backend/plugin/db/redshift/redshift.go
  backend/plugin/db/risingwave/risingwave.go
  backend/plugin/db/ssl.go
  backend/plugin/db/starrocks/starrocks.go
  backend/plugin/db/tidb/tidb.go
  backend/plugin/idp/ldap/ldap_test.go
  backend/plugin/idp/oauth2/oauth2_test.go
  backend/plugin/idp/oidc/oidc_test.go
  backend/plugin/storage/s3/s3_test.go
  backend/server/routers.go
  backend/tests/project_test.go
  backend/tests/schema_update_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: linter warning (#10979)
  backend/api/lsp/lsp.go
  backend/bin/bb/cmd/root.go
  backend/bin/bb/cmd/version.go
  backend/common/log/slog_utils.go
  backend/common/util_test.go
  backend/component/activity/manager.go
  backend/plugin/advisor/generator/main.go
  backend/plugin/db/mysql/mysql.go
  backend/plugin/db/pg/pg.go
  backend/plugin/db/redis/redis.go
  backend/plugin/db/redshift/redshift.go
  backend/plugin/db/risingwave/risingwave.go
  backend/plugin/db/ssl.go
  backend/plugin/db/starrocks/starrocks.go
  backend/plugin/db/tidb/tidb.go
  backend/plugin/idp/ldap/ldap_test.go
  backend/plugin/idp/oauth2/oauth2_test.go
  backend/plugin/idp/oidc/oidc_test.go
  backend/plugin/storage/s3/s3_test.go
  backend/server/routers.go
  backend/tests/project_test.go
  backend/tests/schema_update_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: linter warning (#10979)
  backend/api/lsp/lsp.go
  backend/bin/bb/cmd/root.go
  backend/bin/bb/cmd/version.go
  backend/common/log/slog_utils.go
  backend/common/util_test.go
  backend/component/activity/manager.go
  backend/plugin/advisor/generator/main.go
  backend/plugin/db/mysql/mysql.go
  backend/plugin/db/pg/pg.go
  backend/plugin/db/redis/redis.go
  backend/plugin/db/redshift/redshift.go
  backend/plugin/db/risingwave/risingwave.go
  backend/plugin/db/ssl.go
  backend/plugin/db/starrocks/starrocks.go
  backend/plugin/db/tidb/tidb.go
  backend/plugin/idp/ldap/ldap_test.go
  backend/plugin/idp/oauth2/oauth2_test.go
  backend/plugin/idp/oidc/oidc_test.go
  backend/plugin/storage/s3/s3_test.go
  backend/server/routers.go
  backend/tests/project_test.go
  backend/tests/schema_update_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

fix: validate spec id
  backend/api/v1/rollout_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  backend/plugin/parser/snowflake/split.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: tweak rule name (#10980)
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/mysql/advisor_stmt_disallow_limit.go
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/tidb/advisor_stmt_disallow_limit.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: tweak rule name (#10980)
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/mysql/advisor_stmt_disallow_limit.go
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/tidb/advisor_stmt_disallow_limit.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: tweak rule name (#10980)
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/mysql/advisor_stmt_disallow_limit.go
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/tidb/advisor_stmt_disallow_limit.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: remove the legacy package of helm
  docs/bytebase-1.0.0.tgz
  docs/bytebase-1.0.1.tgz
  docs/bytebase-1.0.2.tgz
  docs/bytebase-1.0.3.tgz
  docs/bytebase-1.0.4.tgz
  docs/bytebase-1.0.5.tgz
  docs/bytebase-1.0.6.tgz
  docs/index.yaml
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: remove the legacy package of helm (#10983)
  docs/bytebase-1.0.0.tgz
  docs/bytebase-1.0.1.tgz
  docs/bytebase-1.0.2.tgz
  docs/bytebase-1.0.3.tgz
  docs/bytebase-1.0.4.tgz
  docs/bytebase-1.0.5.tgz
  docs/bytebase-1.0.6.tgz
  docs/index.yaml
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: remove the legacy package of helm (#10983)
  docs/bytebase-1.0.0.tgz
  docs/bytebase-1.0.1.tgz
  docs/bytebase-1.0.2.tgz
  docs/bytebase-1.0.3.tgz
  docs/bytebase-1.0.4.tgz
  docs/bytebase-1.0.5.tgz
  docs/bytebase-1.0.6.tgz
  docs/index.yaml
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: remove the legacy package of helm (#10983)
  docs/bytebase-1.0.0.tgz
  docs/bytebase-1.0.1.tgz
  docs/bytebase-1.0.2.tgz
  docs/bytebase-1.0.3.tgz
  docs/bytebase-1.0.4.tgz
  docs/bytebase-1.0.5.tgz
  docs/bytebase-1.0.6.tgz
  docs/index.yaml
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: update
  backend/api/gitops/webhook.go
  backend/tests/backup_restore_test.go
  backend/tests/database.go
  backend/tests/ghost_test.go
  backend/tests/grouping_change_test.go
  backend/tests/project_test.go
  backend/tests/rollback_test.go
  backend/tests/rollout.go
  backend/tests/schema_update_test.go
  backend/tests/sql_review_test.go
  backend/tests/tenant_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev
