Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

feat: write canonical data type in our standard format
  backend/plugin/schema/mysql/state.go
  backend/plugin/schema/mysql/testdata/get-design-schema/get_design_schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: use correct root rule for mssql query (#12528)
  backend/plugin/parser/tsql/completion.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: use correct root rule for mssql query (#12528)
  backend/plugin/parser/tsql/completion.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: use correct root rule for mssql query (#12528)
  backend/plugin/parser/tsql/completion.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update
  backend/plugin/schema/mysql/state.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: write canonical data type in our standard format (#12529)
  backend/plugin/schema/mysql/state.go
  backend/plugin/schema/mysql/testdata/get-design-schema/get_design_schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: write canonical data type in our standard format (#12529)
  backend/plugin/schema/mysql/state.go
  backend/plugin/schema/mysql/testdata/get-design-schema/get_design_schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: write canonical data type in our standard format (#12529)
  backend/plugin/schema/mysql/state.go
  backend/plugin/schema/mysql/testdata/get-design-schema/get_design_schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: disallow to edit pk for tidb
  frontend/src/components/SchemaEditorLite/Panels/IndexesEditor/IndexesEditor.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: tweak eslint warnings
  frontend/src/components/InstanceForm/DataSourceSection/DataSourceForm.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: tweak eslint warnings (#12531)
  frontend/src/components/InstanceForm/DataSourceSection/DataSourceForm.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: tweak eslint warnings (#12531)
  frontend/src/components/InstanceForm/DataSourceSection/DataSourceForm.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: tweak eslint warnings (#12531)
  frontend/src/components/InstanceForm/DataSourceSection/DataSourceForm.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: disallow to edit pk for tidb (#12530)
  frontend/src/components/SchemaEditorLite/Panels/IndexesEditor/IndexesEditor.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: disallow to edit pk for tidb (#12530)
  frontend/src/components/SchemaEditorLite/Panels/IndexesEditor/IndexesEditor.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: disallow to edit pk for tidb (#12530)
  frontend/src/components/SchemaEditorLite/Panels/IndexesEditor/IndexesEditor.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: revert demo data change in #12431 (#12533)
  backend/demo/data/default/dump.sql.REMOVED.git-id
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: update allowed resource type for policy
  backend/legacyapi/policy.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: go to sql editor instance settings
  frontend/src/views/sql-editor/EditorCommon/ReadonlyDatasourceHint.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove role in the user message
  backend/api/v1/acl.go
  backend/api/v1/database_service.go
  backend/api/v1/rollout_service.go
  backend/api/v1/sql_service.go
  backend/store/principal.go
  backend/utils/member.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: update allowed resource type for policy (#12534)
  backend/legacyapi/policy.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: update allowed resource type for policy (#12534)
  backend/legacyapi/policy.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: update allowed resource type for policy (#12534)
  backend/legacyapi/policy.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: condition
  frontend/src/views/sql-editor/EditorCommon/ReadonlyDatasourceHint.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove role in the user message (#12535)
  backend/api/v1/acl.go
  backend/api/v1/database_service.go
  backend/api/v1/rollout_service.go
  backend/api/v1/sql_service.go
  backend/store/principal.go
  backend/utils/member.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: remove role in the user message (#12535)
  backend/api/v1/acl.go
  backend/api/v1/database_service.go
  backend/api/v1/rollout_service.go
  backend/api/v1/sql_service.go
  backend/store/principal.go
  backend/utils/member.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: remove role in the user message (#12535)
  backend/api/v1/acl.go
  backend/api/v1/database_service.go
  backend/api/v1/rollout_service.go
  backend/api/v1/sql_service.go
  backend/store/principal.go
  backend/utils/member.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: cache wecom access token
  backend/plugin/webhook/wecom/app.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

reorg
  backend/plugin/webhook/wecom/app.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: cache wecom access token (#12536)
  backend/plugin/webhook/wecom/app.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: cache wecom access token (#12536)
  backend/plugin/webhook/wecom/app.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: cache wecom access token (#12536)
  backend/plugin/webhook/wecom/app.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: show cancel task button for ghost
  backend/api/v1/rollout_service.go
  frontend/src/components/IssueV1/logic/action/task.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: show cancel task button for ghost issues (#12537)
  backend/api/v1/rollout_service.go
  frontend/src/components/IssueV1/logic/action/task.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: show cancel task button for ghost issues (#12537)
  backend/api/v1/rollout_service.go
  frontend/src/components/IssueV1/logic/action/task.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: show cancel task button for ghost issues (#12537)
  backend/api/v1/rollout_service.go
  frontend/src/components/IssueV1/logic/action/task.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: not store the workspace member role
  backend/api/v1/auth_service.go
  backend/store/principal.go
  frontend/src/components/User/Settings/CreateUserDrawer.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

fix: do not use cluster client for tencent redis
  backend/plugin/db/redis/redis.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: remove auto-detect cluster
  backend/plugin/db/redis/redis.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update
  backend/plugin/db/redis/redis.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
