Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

update issue status
  backend/api/v1/issue_service.go
  backend/runner/approval/runner.go
  backend/runner/relay/runner.go
  backend/utils/utils.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

issue service part 1
  backend/api/v1/issue_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

pass by pointer
  backend/api/v1/issue_service.go
  backend/api/v1/rollout_service.go
  backend/component/webhook/manager.go
  backend/runner/approval/runner.go
  backend/runner/relay/runner.go
  backend/runner/taskrun/schedulerv2.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

approval runner
  backend/runner/approval/runner.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

relay runner
  backend/runner/relay/runner.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

remove
  backend/component/webhook/manager.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

run tasks in scheduler
  backend/runner/taskrun/schedulerv2.go
  backend/store/principal.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

task run scheduler
  backend/runner/taskrun/schedulerv2.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

reword
  backend/component/webhook/manager.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix
  backend/api/v1/issue_service.go
  backend/component/webhook/manager.go
  backend/runner/approval/runner.go
  backend/runner/relay/runner.go
  backend/utils/utils.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

issue service done
  backend/api/v1/issue_service.go
  backend/component/webhook/event.go
  backend/component/webhook/manager.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

batch create skip run tasks
  backend/api/v1/rollout_service.go
  backend/component/webhook/event.go
  backend/component/webhook/manager.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: worksheet share
  backend/api/v1/worksheet_service.go
  backend/store/worksheet.go
  frontend/src/store/modules/v1/worksheet.ts
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/v1/worksheet_service.ts
  frontend/src/views/sql-editor/EditorCommon/SharePopover.vue
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/worksheet_service.pb.go
  proto/v1/worksheet_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

fix: watch dbgroup
  frontend/src/views/DatabaseGroupDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update role expiration validator checks (#12185)
  backend/api/v1/project_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update role expiration validator checks (#12185)
  backend/api/v1/project_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update role expiration validator checks (#12185)
  backend/api/v1/project_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  frontend/src/components/DatabaseGroup/DatabaseGroupForm.vue
  frontend/src/components/DatabaseGroup/utils.ts
  frontend/src/views/DatabaseGroupDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: watch dbgroup (#12188)
  frontend/src/components/DatabaseGroup/DatabaseGroupForm.vue
  frontend/src/components/DatabaseGroup/utils.ts
  frontend/src/views/DatabaseGroupDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: watch dbgroup (#12188)
  frontend/src/components/DatabaseGroup/DatabaseGroupForm.vue
  frontend/src/components/DatabaseGroup/utils.ts
  frontend/src/views/DatabaseGroupDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: watch dbgroup (#12188)
  frontend/src/components/DatabaseGroup/DatabaseGroupForm.vue
  frontend/src/components/DatabaseGroup/utils.ts
  frontend/src/views/DatabaseGroupDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: do not panic on scan geometry type
  backend/plugin/db/util/driverutil.go
  go.mod
  go.sum
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

fix: worksheet share (#12187)
  backend/api/v1/worksheet_service.go
  backend/store/worksheet.go
  frontend/src/store/modules/v1/worksheet.ts
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/v1/worksheet_service.ts
  frontend/src/views/sql-editor/EditorCommon/SharePopover.vue
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/worksheet_service.pb.go
  proto/v1/worksheet_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

fix: worksheet share (#12187)
  backend/api/v1/worksheet_service.go
  backend/store/worksheet.go
  frontend/src/store/modules/v1/worksheet.ts
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/v1/worksheet_service.ts
  frontend/src/views/sql-editor/EditorCommon/SharePopover.vue
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/worksheet_service.pb.go
  proto/v1/worksheet_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

fix: worksheet share (#12187)
  backend/api/v1/worksheet_service.go
  backend/store/worksheet.go
  frontend/src/store/modules/v1/worksheet.ts
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/v1/worksheet_service.ts
  frontend/src/views/sql-editor/EditorCommon/SharePopover.vue
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/worksheet_service.pb.go
  proto/v1/worksheet_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

fix: do not panic on scan geometry type (#12189)
  backend/plugin/db/util/driverutil.go
  go.mod
  go.sum
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

fix: do not panic on scan geometry type (#12189)
  backend/plugin/db/util/driverutil.go
  go.mod
  go.sum
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

fix: do not panic on scan geometry type (#12189)
  backend/plugin/db/util/driverutil.go
  go.mod
  go.sum
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

chore: no table group
  backend/api/v1/acl_config.go
  backend/api/v1/acl_iam.go
  backend/api/v1/ctx.go
  backend/api/v1/project_service.go
  backend/api/v1/rollout_service_task.go
  backend/api/v1/rollout_service_test.go
  backend/migrator/migration/prod/2.18/0008##schema_group.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/migrator/migrator_test.go
  backend/runner/plancheck/statement_advise_executor.go
  backend/runner/plancheck/statement_report_executor.go
  backend/runner/plancheck/statement_type_executor.go
  backend/store/database_group.go
  backend/store/store.go
  backend/tests/grouping_change_test.go
  backend/utils/database_group.go
  backend/utils/utils.go
  frontend/src/components/QuickActionPanel.vue
  frontend/src/layouts/ProjectV1Layout.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/v1/project_service.ts
  frontend/src/types/quickAction.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/project_service.pb.go
  proto/generated-go/v1/project_service.pb.gw.go
  proto/generated-go/v1/project_service_grpc.pb.go
  proto/v1/project_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

feat: implement the frontend part of restore sql
  backend/api/v1/acl_iam.go
  backend/api/v1/sql_service.go
  backend/plugin/parser/mysql/restore.go
  backend/runner/taskrun/data_update_executor.go
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentView/IssueCommentAction.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/store/modules/restore.ts
  frontend/src/store/modules/v1/sql.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

chore: update
  backend/api/v1/ctx.go
  backend/store/store.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: format
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentView/IssueCommentAction.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: user
  backend/api/gitops/webhook.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: no table group (#12190)
  backend/api/v1/acl_config.go
  backend/api/v1/acl_iam.go
  backend/api/v1/ctx.go
  backend/api/v1/project_service.go
  backend/api/v1/rollout_service_task.go
  backend/api/v1/rollout_service_test.go
  backend/migrator/migration/prod/2.18/0008##schema_group.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/migrator/migrator_test.go
  backend/runner/plancheck/statement_advise_executor.go
  backend/runner/plancheck/statement_report_executor.go
  backend/runner/plancheck/statement_type_executor.go
  backend/store/database_group.go
  backend/store/store.go
  backend/tests/grouping_change_test.go
  backend/utils/database_group.go
  backend/utils/utils.go
  frontend/src/components/QuickActionPanel.vue
  frontend/src/layouts/ProjectV1Layout.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/v1/project_service.ts
  frontend/src/types/quickAction.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/project_service.pb.go
  proto/generated-go/v1/project_service.pb.gw.go
  proto/generated-go/v1/project_service_grpc.pb.go
  proto/v1/project_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: no table group (#12190)
  backend/api/v1/acl_config.go
  backend/api/v1/acl_iam.go
  backend/api/v1/ctx.go
  backend/api/v1/project_service.go
  backend/api/v1/rollout_service_task.go
  backend/api/v1/rollout_service_test.go
  backend/migrator/migration/prod/2.18/0008##schema_group.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/migrator/migrator_test.go
  backend/runner/plancheck/statement_advise_executor.go
  backend/runner/plancheck/statement_report_executor.go
  backend/runner/plancheck/statement_type_executor.go
  backend/store/database_group.go
  backend/store/store.go
  backend/tests/grouping_change_test.go
  backend/utils/database_group.go
  backend/utils/utils.go
  frontend/src/components/QuickActionPanel.vue
  frontend/src/layouts/ProjectV1Layout.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/v1/project_service.ts
  frontend/src/types/quickAction.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/project_service.pb.go
  proto/generated-go/v1/project_service.pb.gw.go
  proto/generated-go/v1/project_service_grpc.pb.go
  proto/v1/project_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: no table group (#12190)
  backend/api/v1/acl_config.go
  backend/api/v1/acl_iam.go
  backend/api/v1/ctx.go
  backend/api/v1/project_service.go
  backend/api/v1/rollout_service_task.go
  backend/api/v1/rollout_service_test.go
  backend/migrator/migration/prod/2.18/0008##schema_group.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/migrator/migrator_test.go
  backend/runner/plancheck/statement_advise_executor.go
  backend/runner/plancheck/statement_report_executor.go
  backend/runner/plancheck/statement_type_executor.go
  backend/store/database_group.go
  backend/store/store.go
  backend/tests/grouping_change_test.go
  backend/utils/database_group.go
  backend/utils/utils.go
  frontend/src/components/QuickActionPanel.vue
  frontend/src/layouts/ProjectV1Layout.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/v1/project_service.ts
  frontend/src/types/quickAction.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/project_service.pb.go
  proto/generated-go/v1/project_service.pb.gw.go
  proto/generated-go/v1/project_service_grpc.pb.go
  proto/v1/project_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: fix linter errors
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentView/IssueCommentAction.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix tests
  backend/plugin/parser/mysql/test-data/test_restore.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: exp check proto size
  backend/plugin/db/bigquery/bigquery.go
  backend/plugin/db/clickhouse/clickhouse.go
  backend/plugin/db/hive/hive.go
  backend/plugin/db/redis/redis.go
  backend/plugin/db/spanner/spanner.go
  backend/plugin/db/util/driverutil.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: implement the frontend part of restore sql (#12191)
  backend/api/v1/acl_iam.go
  backend/api/v1/sql_service.go
  backend/plugin/parser/mysql/restore.go
  backend/plugin/parser/mysql/test-data/test_restore.yaml
  backend/runner/taskrun/data_update_executor.go
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentView/IssueCommentAction.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/store/modules/restore.ts
  frontend/src/store/modules/v1/sql.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
