Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev

fix: task run log for mssql & oracle (#12028)
  backend/component/sheet/sheet.go
  backend/plugin/db/mssql/mssql.go
  backend/plugin/parser/base/base.go
  backend/plugin/parser/plsql/split.go
  backend/plugin/parser/plsql/split_test.go
  backend/runner/taskrun/executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

fix: task run log for mssql & oracle (#12028)
  backend/component/sheet/sheet.go
  backend/plugin/db/mssql/mssql.go
  backend/plugin/parser/base/base.go
  backend/plugin/parser/plsql/split.go
  backend/plugin/parser/plsql/split_test.go
  backend/runner/taskrun/executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

fix: task run log for mssql & oracle (#12028)
  backend/component/sheet/sheet.go
  backend/plugin/db/mssql/mssql.go
  backend/plugin/parser/base/base.go
  backend/plugin/parser/plsql/split.go
  backend/plugin/parser/plsql/split_test.go
  backend/runner/taskrun/executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: support upload algorithm json file
  frontend/src/components/SensitiveData/MaskingAlgorithmsView.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: support upload algorithm json file (#12033)
  frontend/src/components/SensitiveData/MaskingAlgorithmsView.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: support upload algorithm json file (#12033)
  frontend/src/components/SensitiveData/MaskingAlgorithmsView.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: support upload algorithm json file (#12033)
  frontend/src/components/SensitiveData/MaskingAlgorithmsView.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: go 1.22.3
  .github/workflows/backend-tests.yml
  .github/workflows/build-artifacts-and-draft-release.yml
  .github/workflows/test_link.yml
  README.md
  go.mod
  scripts/.air.toml
  scripts/.goreleaser-for-darwin.yaml
  scripts/.goreleaser-for-linux.yaml
  scripts/Dockerfile
  scripts/Dockerfile.aws
  scripts/Dockerfile.depot
  scripts/Dockerfile.render-demo
  scripts/build_bytebase.sh
Owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao

chore: add example for upload json file
  frontend/src/components/SensitiveData/ClassificationView.vue
  frontend/src/components/SensitiveData/MaskingAlgorithmsView.vue
  frontend/src/components/SensitiveData/components/DataExampleModal.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add example for upload json file (#12035)
  frontend/src/components/SensitiveData/ClassificationView.vue
  frontend/src/components/SensitiveData/MaskingAlgorithmsView.vue
  frontend/src/components/SensitiveData/components/DataExampleModal.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add example for upload json file (#12035)
  frontend/src/components/SensitiveData/ClassificationView.vue
  frontend/src/components/SensitiveData/MaskingAlgorithmsView.vue
  frontend/src/components/SensitiveData/components/DataExampleModal.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add example for upload json file (#12035)
  frontend/src/components/SensitiveData/ClassificationView.vue
  frontend/src/components/SensitiveData/MaskingAlgorithmsView.vue
  frontend/src/components/SensitiveData/components/DataExampleModal.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: go 1.22.3 (#12034)
  .github/workflows/backend-tests.yml
  .github/workflows/build-artifacts-and-draft-release.yml
  .github/workflows/test_link.yml
  README.md
  go.mod
  scripts/.air.toml
  scripts/.goreleaser-for-darwin.yaml
  scripts/.goreleaser-for-linux.yaml
  scripts/Dockerfile
  scripts/Dockerfile.aws
  scripts/Dockerfile.depot
  scripts/Dockerfile.render-demo
  scripts/build_bytebase.sh
Owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao

chore: go 1.22.3 (#12034)
  .github/workflows/backend-tests.yml
  .github/workflows/build-artifacts-and-draft-release.yml
  .github/workflows/test_link.yml
  README.md
  go.mod
  scripts/.air.toml
  scripts/.goreleaser-for-darwin.yaml
  scripts/.goreleaser-for-linux.yaml
  scripts/Dockerfile
  scripts/Dockerfile.aws
  scripts/Dockerfile.depot
  scripts/Dockerfile.render-demo
  scripts/build_bytebase.sh
Owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao

chore: go 1.22.3 (#12034)
  .github/workflows/backend-tests.yml
  .github/workflows/build-artifacts-and-draft-release.yml
  .github/workflows/test_link.yml
  README.md
  go.mod
  scripts/.air.toml
  scripts/.goreleaser-for-darwin.yaml
  scripts/.goreleaser-for-linux.yaml
  scripts/Dockerfile
  scripts/Dockerfile.aws
  scripts/Dockerfile.depot
  scripts/Dockerfile.render-demo
  scripts/build_bytebase.sh
Owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao

chore: no binary
  .github/workflows/build-artifacts-and-draft-release.yml
  scripts/.goreleaser-for-darwin.yaml
  scripts/.goreleaser-for-linux.yaml
  scripts/.goreleaser-release.yaml
  scripts/build_darwin_release.sh
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: no binary (#12036)
  .github/workflows/build-artifacts-and-draft-release.yml
  scripts/.goreleaser-for-darwin.yaml
  scripts/.goreleaser-for-linux.yaml
  scripts/.goreleaser-release.yaml
  scripts/build_darwin_release.sh
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: no binary (#12036)
  .github/workflows/build-artifacts-and-draft-release.yml
  scripts/.goreleaser-for-darwin.yaml
  scripts/.goreleaser-for-linux.yaml
  scripts/.goreleaser-release.yaml
  scripts/build_darwin_release.sh
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: no binary (#12036)
  .github/workflows/build-artifacts-and-draft-release.yml
  scripts/.goreleaser-for-darwin.yaml
  scripts/.goreleaser-for-linux.yaml
  scripts/.goreleaser-release.yaml
  scripts/build_darwin_release.sh
Owners: @d-bytebase, @bytebase/bytebase-dev

feat: support mongodb replica set
  backend/api/v1/instance_service.go
  backend/component/dbfactory/dbfactory.go
  backend/plugin/db/driver.go
  backend/plugin/db/mongodb/mongodb.go
  backend/plugin/db/mongodb/mongodb_test.go
  backend/store/data_source.go
  frontend/src/components/InstanceForm/InstanceForm.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

chore: key
  frontend/src/components/InstanceForm/InstanceForm.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  backend/component/dbfactory/dbfactory.go
  backend/plugin/db/sasl.go
  frontend/src/components/InstanceForm/DataSourceSection/DataSourceForm.vue
  frontend/src/types/proto/google/protobuf/any.ts
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/google/protobuf/struct.ts
  frontend/src/types/proto/google/protobuf/timestamp.ts
  frontend/src/types/proto/store/data_source.ts
  frontend/src/types/proto/v1/instance_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/data_source.pb.go
  proto/generated-go/v1/instance_service.pb.go
  proto/store/data_source.proto
  proto/v1/instance_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack, @RainbowDashy

fix: use endOf the day as the upper limit of date time filter
  frontend/src/components/AdvancedSearch/TimeRange.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: use endOf the day as the upper limit of date time filter (#12038)
  frontend/src/components/AdvancedSearch/TimeRange.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: use endOf the day as the upper limit of date time filter (#12038)
  frontend/src/components/AdvancedSearch/TimeRange.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: use endOf the day as the upper limit of date time filter (#12038)
  frontend/src/components/AdvancedSearch/TimeRange.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: quote connection uri if execute via sh
  backend/plugin/db/mongodb/mongodb.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: add back i18n of review center
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add back i18n of review center (#12039)
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add back i18n of review center (#12039)
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add back i18n of review center (#12039)
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat(mongodb): support mongodb replica set (#12037)
  backend/api/v1/instance_service.go
  backend/component/dbfactory/dbfactory.go
  backend/plugin/db/driver.go
  backend/plugin/db/mongodb/mongodb.go
  backend/plugin/db/mongodb/mongodb_test.go
  backend/store/data_source.go
  frontend/src/components/InstanceForm/InstanceForm.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

feat(mongodb): support mongodb replica set (#12037)
  backend/api/v1/instance_service.go
  backend/component/dbfactory/dbfactory.go
  backend/plugin/db/driver.go
  backend/plugin/db/mongodb/mongodb.go
  backend/plugin/db/mongodb/mongodb_test.go
  backend/store/data_source.go
  frontend/src/components/InstanceForm/InstanceForm.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

feat(mongodb): support mongodb replica set (#12037)
  backend/api/v1/instance_service.go
  backend/component/dbfactory/dbfactory.go
  backend/plugin/db/driver.go
  backend/plugin/db/mongodb/mongodb.go
  backend/plugin/db/mongodb/mongodb_test.go
  backend/store/data_source.go
  frontend/src/components/InstanceForm/InstanceForm.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

chore: retire oracle sql rollback
  frontend/src/components/IssueV1/components/Sidebar/RollbackSection/common.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: retire oracle sql rollback (#12040)
  frontend/src/components/IssueV1/components/Sidebar/RollbackSection/common.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: retire oracle sql rollback (#12040)
  frontend/src/components/IssueV1/components/Sidebar/RollbackSection/common.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: retire oracle sql rollback (#12040)
  frontend/src/components/IssueV1/components/Sidebar/RollbackSection/common.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: tweak issue options display
  frontend/src/components/IssueV1/components/DataExportSection/ExportOptionSection/ExportOptionSection.vue
  frontend/src/components/IssueV1/components/ReviewIssueSpecSection/ReviewOptionSection/ReviewOptionSection.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev
