Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev

fix: GetRollout not found (#11101)
  backend/api/v1/rollout_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: GetRollout not found (#11101)
  backend/api/v1/rollout_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix test
  backend/plugin/advisor/mysql/test/statement_disallow_mix_dml.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(sql-review-rule): impl mysql disallow mix dml (#11093)
  backend/plugin/advisor/code.go
  backend/plugin/advisor/mysql/advisor_statement_disallow_mix_dml.go
  backend/plugin/advisor/mysql/mysql_rules_test.go
  backend/plugin/advisor/mysql/test/statement_disallow_mix_dml.yaml
  backend/plugin/advisor/utils_for_tests.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(sql-review-rule): impl mysql disallow mix dml (#11093)
  backend/plugin/advisor/code.go
  backend/plugin/advisor/mysql/advisor_statement_disallow_mix_dml.go
  backend/plugin/advisor/mysql/mysql_rules_test.go
  backend/plugin/advisor/mysql/test/statement_disallow_mix_dml.yaml
  backend/plugin/advisor/utils_for_tests.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(sql-review-rule): impl mysql disallow mix dml (#11093)
  backend/plugin/advisor/code.go
  backend/plugin/advisor/mysql/advisor_statement_disallow_mix_dml.go
  backend/plugin/advisor/mysql/mysql_rules_test.go
  backend/plugin/advisor/mysql/test/statement_disallow_mix_dml.yaml
  backend/plugin/advisor/utils_for_tests.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: add gcflag back to disable inline optimization
  scripts/.air.toml
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: add gcflag back to disable inline optimization (#11102)
  scripts/.air.toml
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: add gcflag back to disable inline optimization (#11102)
  scripts/.air.toml
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: add gcflag back to disable inline optimization (#11102)
  scripts/.air.toml
Owners: @d-bytebase, @bytebase/bytebase-dev

feat(sql-review-rule): disallow mix ddl dml
  backend/plugin/advisor/code.go
  backend/plugin/advisor/mysql/advisor_statement_disallow_mix_ddl_dml.go
  backend/plugin/advisor/sql_review.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: disable changing primary keys
  frontend/src/components/SchemaEditorLite/Panels/TableColumnEditor/TableColumnEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/TableEditor.vue
  frontend/src/components/SchemaTemplate/TableTemplateForm.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: delete sheet
  backend/store/worksheet.go
  frontend/src/types/sheet.ts
  frontend/src/views/sql-editor/EditorCommon/SharePopover.vue
  frontend/src/views/sql-editor/SecondarySidebar/SheetTabPane/SheetList/SheetList.vue
  frontend/src/views/sql-editor/Sheet/common/Dropdown.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

fix: delete sheet (#11105)
  backend/store/worksheet.go
  frontend/src/types/sheet.ts
  frontend/src/views/sql-editor/EditorCommon/SharePopover.vue
  frontend/src/views/sql-editor/SecondarySidebar/SheetTabPane/SheetList/SheetList.vue
  frontend/src/views/sql-editor/Sheet/common/Dropdown.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

fix: delete sheet (#11105)
  backend/store/worksheet.go
  frontend/src/types/sheet.ts
  frontend/src/views/sql-editor/EditorCommon/SharePopover.vue
  frontend/src/views/sql-editor/SecondarySidebar/SheetTabPane/SheetList/SheetList.vue
  frontend/src/views/sql-editor/Sheet/common/Dropdown.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

fix: delete sheet (#11105)
  backend/store/worksheet.go
  frontend/src/types/sheet.ts
  frontend/src/views/sql-editor/EditorCommon/SharePopover.vue
  frontend/src/views/sql-editor/SecondarySidebar/SheetTabPane/SheetList/SheetList.vue
  frontend/src/views/sql-editor/Sheet/common/Dropdown.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: disable changing primary keys (#11104)
  frontend/src/components/SchemaEditorLite/Panels/TableColumnEditor/TableColumnEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/TableEditor.vue
  frontend/src/components/SchemaTemplate/TableTemplateForm.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: disable changing primary keys (#11104)
  frontend/src/components/SchemaEditorLite/Panels/TableColumnEditor/TableColumnEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/TableEditor.vue
  frontend/src/components/SchemaTemplate/TableTemplateForm.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: disable changing primary keys (#11104)
  frontend/src/components/SchemaEditorLite/Panels/TableColumnEditor/TableColumnEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/TableEditor.vue
  frontend/src/components/SchemaTemplate/TableTemplateForm.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat(sql-review-rule): disallow mix ddl dml (#11103)
  backend/plugin/advisor/code.go
  backend/plugin/advisor/mysql/advisor_statement_disallow_mix_ddl_dml.go
  backend/plugin/advisor/sql_review.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(sql-review-rule): disallow mix ddl dml (#11103)
  backend/plugin/advisor/code.go
  backend/plugin/advisor/mysql/advisor_statement_disallow_mix_ddl_dml.go
  backend/plugin/advisor/sql_review.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(sql-review-rule): disallow mix ddl dml (#11103)
  backend/plugin/advisor/code.go
  backend/plugin/advisor/mysql/advisor_statement_disallow_mix_ddl_dml.go
  backend/plugin/advisor/sql_review.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: missing end semicolon for creating triggers
  backend/plugin/parser/plsql/split.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: missing end semicolon for creating triggers (#11106)
  backend/plugin/parser/plsql/split.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: missing end semicolon for creating triggers (#11106)
  backend/plugin/parser/plsql/split.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: missing end semicolon for creating triggers (#11106)
  backend/plugin/parser/plsql/split.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(hive): hive connection
  backend/plugin/db/hive/hive.go
  backend/plugin/db/hive/hive_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: missing end semicolon for creating triggers (#11106)
  backend/plugin/parser/plsql/split.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: missing end semicolon for creating triggers (#11106)
  backend/plugin/parser/plsql/split.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: missing end semicolon for creating triggers (#11106)
  backend/plugin/parser/plsql/split.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update duplicated index checks
  backend/plugin/advisor/mysql/advisor_statement_maximum_statements_in_transaction.go
  backend/plugin/advisor/mysql/advisor_table_no_duplicate_index.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix(test): stable order
  backend/plugin/advisor/mysql/advisor_statement_disallow_mix_dml.go
  backend/plugin/advisor/mysql/test/statement_disallow_mix_dml.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update tests
  backend/plugin/advisor/mysql/test/table_no_duplicate_index.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: filter worksheet by project
  frontend/src/views/sql-editor/SecondarySidebar/SheetTabPane/SheetList/SheetList.vue
  frontend/src/views/sql-editor/Sheet/context.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat(hive): hive connection
  backend/plugin/db/hive/hive.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix(test): stable order (#11112)
  backend/plugin/advisor/mysql/advisor_statement_disallow_mix_dml.go
  backend/plugin/advisor/mysql/test/statement_disallow_mix_dml.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix(test): stable order (#11112)
  backend/plugin/advisor/mysql/advisor_statement_disallow_mix_dml.go
  backend/plugin/advisor/mysql/test/statement_disallow_mix_dml.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix(test): stable order (#11112)
  backend/plugin/advisor/mysql/advisor_statement_disallow_mix_dml.go
  backend/plugin/advisor/mysql/test/statement_disallow_mix_dml.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(hive): hive connection
  backend/plugin/db/hive/hive.go
  backend/plugin/db/hive/hive_test.go
  go.mod
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

fix: eslint
  frontend/src/views/sql-editor/SecondarySidebar/SheetTabPane/SheetList/SheetList.vue
  frontend/src/views/sql-editor/Sheet/context.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev
