Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

chore: migrate redirects
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseOperations.vue
  frontend/src/views/DatabaseDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: allow creators to update/delete changelist
  backend/api/v1/acl_iam.go
  backend/api/v1/changelist_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  backend/plugin/parser/mysql/mysql.go
  backend/plugin/parser/tokenizer/testdata/test_split_tidb_multi_sql.yaml
  backend/plugin/parser/tokenizer/tokenizer.go
  backend/plugin/schema/mysql/get_design_schema.go
  backend/plugin/schema/mysql/testdata/get_design_schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(tokenizer): add options to allow keep empty lines between blocks (#10336)
  backend/plugin/parser/mysql/mysql.go
  backend/plugin/parser/tokenizer/testdata/test_split_tidb_multi_sql.yaml
  backend/plugin/parser/tokenizer/tokenizer.go
  backend/plugin/parser/tokenizer/tokenizer_test.go
  backend/plugin/schema/mysql/get_design_schema.go
  backend/plugin/schema/mysql/testdata/get_design_schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(tokenizer): add options to allow keep empty lines between blocks (#10336)
  backend/plugin/parser/mysql/mysql.go
  backend/plugin/parser/tokenizer/testdata/test_split_tidb_multi_sql.yaml
  backend/plugin/parser/tokenizer/tokenizer.go
  backend/plugin/parser/tokenizer/tokenizer_test.go
  backend/plugin/schema/mysql/get_design_schema.go
  backend/plugin/schema/mysql/testdata/get_design_schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(tokenizer): add options to allow keep empty lines between blocks (#10336)
  backend/plugin/parser/mysql/mysql.go
  backend/plugin/parser/tokenizer/testdata/test_split_tidb_multi_sql.yaml
  backend/plugin/parser/tokenizer/tokenizer.go
  backend/plugin/parser/tokenizer/tokenizer_test.go
  backend/plugin/schema/mysql/get_design_schema.go
  backend/plugin/schema/mysql/testdata/get_design_schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: permission update
  frontend/src/components/Database/DatabaseBackupPanel.vue
  frontend/src/components/Database/DatabaseChangeHistoryPanel.vue
  frontend/src/components/Database/context.ts
  frontend/src/views/ChangeHistoryDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: allow creators to update/delete changelist (#10354)
  backend/api/v1/acl_iam.go
  backend/api/v1/changelist_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: allow creators to update/delete changelist (#10354)
  backend/api/v1/acl_iam.go
  backend/api/v1/changelist_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: allow creators to update/delete changelist (#10354)
  backend/api/v1/acl_iam.go
  backend/api/v1/changelist_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: effective splitter for MySQL
  backend/plugin/parser/mysql/split.go
  backend/plugin/parser/mysql/split_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: fix linter error
  backend/plugin/parser/mysql/split.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: effective splitter for MySQL (#10355)
  backend/plugin/parser/mysql/split.go
  backend/plugin/parser/mysql/split_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: effective splitter for MySQL (#10355)
  backend/plugin/parser/mysql/split.go
  backend/plugin/parser/mysql/split_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: effective splitter for MySQL (#10355)
  backend/plugin/parser/mysql/split.go
  backend/plugin/parser/mysql/split_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update workspace setting entries permission checks
  frontend/src/components/EnvironmentForm.vue
  frontend/src/components/IssueV1/components/PlanCheckSection/PlanCheckBar/PlanCheckDetail.vue
  frontend/src/components/IssueV1/logic/base.ts
  frontend/src/components/IssueV1/logic/initialize/index.ts
  frontend/src/components/Project/useCurrentProject.ts
  frontend/src/components/SQLCheck/SQLCheckDetail.vue
  frontend/src/components/SQLReview/SQLReviewPolicyTable.vue
  frontend/src/layouts/SettingLayout.vue
  frontend/src/router/dashboard/database.ts
  frontend/src/router/dashboard/instance.ts
  frontend/src/router/dashboard/workspaceSetting.ts
  frontend/src/router/index.ts
  frontend/src/shims-vue-router.d.ts
  frontend/src/store/modules/sqlReview.ts
  frontend/src/utils/iam/permission.ts
  frontend/src/utils/slug.ts
  frontend/src/views/DashboardHeader.vue
  frontend/src/views/EnvironmentDetail.vue
  frontend/src/views/ProjectDashboard.vue
  frontend/src/views/SettingSidebar.vue
  frontend/src/views/SettingWorkspaceSQLReviewCreate.vue
  frontend/src/views/SettingWorkspaceSQLReviewDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/components/IssueV1/logic/initialize/index.ts
  frontend/src/components/Project/useCurrentProject.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: permission update (#10356)
  frontend/src/components/Database/DatabaseBackupPanel.vue
  frontend/src/components/Database/DatabaseChangeHistoryPanel.vue
  frontend/src/components/Database/context.ts
  frontend/src/views/ChangeHistoryDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: permission update (#10356)
  frontend/src/components/Database/DatabaseBackupPanel.vue
  frontend/src/components/Database/DatabaseChangeHistoryPanel.vue
  frontend/src/components/Database/context.ts
  frontend/src/views/ChangeHistoryDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: permission update (#10356)
  frontend/src/components/Database/DatabaseBackupPanel.vue
  frontend/src/components/Database/DatabaseChangeHistoryPanel.vue
  frontend/src/components/Database/context.ts
  frontend/src/views/ChangeHistoryDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: migrate workspace setting entries permission checks (#10357)
  frontend/src/components/EnvironmentForm.vue
  frontend/src/components/IssueV1/components/PlanCheckSection/PlanCheckBar/PlanCheckDetail.vue
  frontend/src/components/IssueV1/logic/base.ts
  frontend/src/components/IssueV1/logic/initialize/index.ts
  frontend/src/components/Project/useCurrentProject.ts
  frontend/src/components/SQLCheck/SQLCheckDetail.vue
  frontend/src/components/SQLReview/SQLReviewPolicyTable.vue
  frontend/src/layouts/SettingLayout.vue
  frontend/src/router/dashboard/database.ts
  frontend/src/router/dashboard/instance.ts
  frontend/src/router/dashboard/workspaceSetting.ts
  frontend/src/router/index.ts
  frontend/src/shims-vue-router.d.ts
  frontend/src/store/modules/sqlReview.ts
  frontend/src/utils/iam/permission.ts
  frontend/src/utils/slug.ts
  frontend/src/views/DashboardHeader.vue
  frontend/src/views/EnvironmentDetail.vue
  frontend/src/views/ProjectDashboard.vue
  frontend/src/views/SettingSidebar.vue
  frontend/src/views/SettingWorkspaceSQLReviewCreate.vue
  frontend/src/views/SettingWorkspaceSQLReviewDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: migrate workspace setting entries permission checks (#10357)
  frontend/src/components/EnvironmentForm.vue
  frontend/src/components/IssueV1/components/PlanCheckSection/PlanCheckBar/PlanCheckDetail.vue
  frontend/src/components/IssueV1/logic/base.ts
  frontend/src/components/IssueV1/logic/initialize/index.ts
  frontend/src/components/Project/useCurrentProject.ts
  frontend/src/components/SQLCheck/SQLCheckDetail.vue
  frontend/src/components/SQLReview/SQLReviewPolicyTable.vue
  frontend/src/layouts/SettingLayout.vue
  frontend/src/router/dashboard/database.ts
  frontend/src/router/dashboard/instance.ts
  frontend/src/router/dashboard/workspaceSetting.ts
  frontend/src/router/index.ts
  frontend/src/shims-vue-router.d.ts
  frontend/src/store/modules/sqlReview.ts
  frontend/src/utils/iam/permission.ts
  frontend/src/utils/slug.ts
  frontend/src/views/DashboardHeader.vue
  frontend/src/views/EnvironmentDetail.vue
  frontend/src/views/ProjectDashboard.vue
  frontend/src/views/SettingSidebar.vue
  frontend/src/views/SettingWorkspaceSQLReviewCreate.vue
  frontend/src/views/SettingWorkspaceSQLReviewDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: migrate workspace setting entries permission checks (#10357)
  frontend/src/components/EnvironmentForm.vue
  frontend/src/components/IssueV1/components/PlanCheckSection/PlanCheckBar/PlanCheckDetail.vue
  frontend/src/components/IssueV1/logic/base.ts
  frontend/src/components/IssueV1/logic/initialize/index.ts
  frontend/src/components/Project/useCurrentProject.ts
  frontend/src/components/SQLCheck/SQLCheckDetail.vue
  frontend/src/components/SQLReview/SQLReviewPolicyTable.vue
  frontend/src/layouts/SettingLayout.vue
  frontend/src/router/dashboard/database.ts
  frontend/src/router/dashboard/instance.ts
  frontend/src/router/dashboard/workspaceSetting.ts
  frontend/src/router/index.ts
  frontend/src/shims-vue-router.d.ts
  frontend/src/store/modules/sqlReview.ts
  frontend/src/utils/iam/permission.ts
  frontend/src/utils/slug.ts
  frontend/src/views/DashboardHeader.vue
  frontend/src/views/EnvironmentDetail.vue
  frontend/src/views/ProjectDashboard.vue
  frontend/src/views/SettingSidebar.vue
  frontend/src/views/SettingWorkspaceSQLReviewCreate.vue
  frontend/src/views/SettingWorkspaceSQLReviewDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update list/search api usage
  frontend/src/components/ProvideDashboardContext.vue
  frontend/src/store/modules/v1/database.ts
  frontend/src/store/modules/v1/instance.ts
  frontend/src/store/modules/v1/project.ts
  frontend/src/views/ProjectDashboard.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update list/search api usage (#10358)
  frontend/src/components/ProvideDashboardContext.vue
  frontend/src/store/modules/v1/database.ts
  frontend/src/store/modules/v1/instance.ts
  frontend/src/store/modules/v1/project.ts
  frontend/src/views/ProjectDashboard.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update list/search api usage (#10358)
  frontend/src/components/ProvideDashboardContext.vue
  frontend/src/store/modules/v1/database.ts
  frontend/src/store/modules/v1/instance.ts
  frontend/src/store/modules/v1/project.ts
  frontend/src/views/ProjectDashboard.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update list/search api usage (#10358)
  frontend/src/components/ProvideDashboardContext.vue
  frontend/src/store/modules/v1/database.ts
  frontend/src/store/modules/v1/instance.ts
  frontend/src/store/modules/v1/project.ts
  frontend/src/views/ProjectDashboard.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: effective splitter for PostgreSQL
  backend/plugin/parser/mysql/split.go
  backend/plugin/parser/pg/split.go
  backend/plugin/parser/pg/split_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: generate continous create table stmt
  backend/plugin/schema/mysql/get_design_schema.go
  backend/plugin/schema/mysql/get_design_schema_test.go
  backend/plugin/schema/mysql/testdata/get_design_schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update
  backend/plugin/schema/mysql/get_design_schema.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: allow creator to update/merge/rebase/delete branch
  backend/api/v1/acl_iam.go
  backend/api/v1/branch_service.go
  backend/api/v1/issue_service.go
  backend/api/v1/project_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: effective splitter for PostgreSQL (#10359)
  backend/plugin/parser/mysql/split.go
  backend/plugin/parser/pg/split.go
  backend/plugin/parser/pg/split_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: effective splitter for PostgreSQL (#10359)
  backend/plugin/parser/mysql/split.go
  backend/plugin/parser/pg/split.go
  backend/plugin/parser/pg/split_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: effective splitter for PostgreSQL (#10359)
  backend/plugin/parser/mysql/split.go
  backend/plugin/parser/pg/split.go
  backend/plugin/parser/pg/split_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix
  backend/server/grpc_routes.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: create new table before set foreign key checks
  backend/plugin/parser/tidb/strings.go
  backend/plugin/parser/tidb/test-data/test_strings_manipulate.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore(structurer): generate continuous create table stmt (#10360)
  backend/plugin/schema/mysql/get_design_schema.go
  backend/plugin/schema/mysql/get_design_schema_test.go
  backend/plugin/schema/mysql/testdata/get_design_schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore(structurer): generate continuous create table stmt (#10360)
  backend/plugin/schema/mysql/get_design_schema.go
  backend/plugin/schema/mysql/get_design_schema_test.go
  backend/plugin/schema/mysql/testdata/get_design_schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore(structurer): generate continuous create table stmt (#10360)
  backend/plugin/schema/mysql/get_design_schema.go
  backend/plugin/schema/mysql/get_design_schema_test.go
  backend/plugin/schema/mysql/testdata/get_design_schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: create new table before set foreign key checks (#10362)
  backend/plugin/parser/tidb/strings.go
  backend/plugin/parser/tidb/test-data/test_strings_manipulate.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
