Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

fix: filter databases with no changes in sync schema (#13804)
  frontend/src/components/Branch/BranchDetailView.vue
  frontend/src/components/SyncDatabaseSchema/SelectTargetDatabasesView.vue
  frontend/src/components/SyncDatabaseSchema/TargetDatabasesSelectPanel.vue
  frontend/src/components/SyncDatabaseSchema/index.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: filter databases with no changes in sync schema (#13804)
  frontend/src/components/Branch/BranchDetailView.vue
  frontend/src/components/SyncDatabaseSchema/SelectTargetDatabasesView.vue
  frontend/src/components/SyncDatabaseSchema/TargetDatabasesSelectPanel.vue
  frontend/src/components/SyncDatabaseSchema/index.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: don't need to restart the backend server
  backend/api/auth/auth.go
  backend/api/auth/header.go
  backend/api/v1/auth_service.go
  backend/server/grpc_routes.go
  backend/server/init.go
  backend/server/server.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: optimize auth (#13805)
  backend/api/auth/auth.go
  backend/api/auth/header.go
  backend/api/v1/auth_service.go
  backend/server/grpc_routes.go
  backend/server/init.go
  backend/server/server.go
  frontend/src/AuthContext.vue
  frontend/src/components/ProfileDropdown.vue
  frontend/src/grpcweb/middlewares/authInterceptorMiddleware.ts
  frontend/src/main.ts
  frontend/src/store/modules/auth.ts
  frontend/src/views/Setup/ProvideSetupContext.vue
  frontend/src/views/TwoFactorRequired.vue
  frontend/src/views/auth/PasswordForgot.vue
  frontend/src/views/auth/Signin.vue
  frontend/src/views/auth/Signup.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: optimize auth (#13805)
  backend/api/auth/auth.go
  backend/api/auth/header.go
  backend/api/v1/auth_service.go
  backend/server/grpc_routes.go
  backend/server/init.go
  backend/server/server.go
  frontend/src/AuthContext.vue
  frontend/src/components/ProfileDropdown.vue
  frontend/src/grpcweb/middlewares/authInterceptorMiddleware.ts
  frontend/src/main.ts
  frontend/src/store/modules/auth.ts
  frontend/src/views/Setup/ProvideSetupContext.vue
  frontend/src/views/TwoFactorRequired.vue
  frontend/src/views/auth/PasswordForgot.vue
  frontend/src/views/auth/Signin.vue
  frontend/src/views/auth/Signup.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: optimize auth (#13805)
  backend/api/auth/auth.go
  backend/api/auth/header.go
  backend/api/v1/auth_service.go
  backend/server/grpc_routes.go
  backend/server/init.go
  backend/server/server.go
  frontend/src/AuthContext.vue
  frontend/src/components/ProfileDropdown.vue
  frontend/src/grpcweb/middlewares/authInterceptorMiddleware.ts
  frontend/src/main.ts
  frontend/src/store/modules/auth.ts
  frontend/src/views/Setup/ProvideSetupContext.vue
  frontend/src/views/TwoFactorRequired.vue
  frontend/src/views/auth/PasswordForgot.vue
  frontend/src/views/auth/Signin.vue
  frontend/src/views/auth/Signup.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: no notification
  frontend/src/components/GeneralSetting/SignInFrequencySetting.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/components/GeneralSetting/SignInFrequencySetting.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix display
  frontend/src/views/sql-editor/EditorCommon/ResultView/SingleResultViewV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(sql-editor): fix display for Long object (#13807)
  frontend/src/views/sql-editor/EditorCommon/ResultView/SingleResultViewV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(sql-editor): fix display for Long object (#13807)
  frontend/src/views/sql-editor/EditorCommon/ResultView/SingleResultViewV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(sql-editor): fix display for Long object (#13807)
  frontend/src/views/sql-editor/EditorCommon/ResultView/SingleResultViewV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(sql-editor): fix display for Long object (#13807)
  frontend/src/views/sql-editor/EditorCommon/ResultView/SingleResultViewV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: check mfa token when login
  frontend/src/components/PasswordSigninForm.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/views/OAuthCallback.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/views/auth/MultiFactor.vue
  frontend/src/views/auth/Signin.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: check mfa token when login (#13809)
  frontend/src/components/PasswordSigninForm.vue
  frontend/src/views/OAuthCallback.vue
  frontend/src/views/auth/MultiFactor.vue
  frontend/src/views/auth/Signin.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: check mfa token when login (#13809)
  frontend/src/components/PasswordSigninForm.vue
  frontend/src/views/OAuthCallback.vue
  frontend/src/views/auth/MultiFactor.vue
  frontend/src/views/auth/Signin.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: check mfa token when login (#13809)
  frontend/src/components/PasswordSigninForm.vue
  frontend/src/views/OAuthCallback.vue
  frontend/src/views/auth/MultiFactor.vue
  frontend/src/views/auth/Signin.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: no notification (#13806)
  frontend/src/components/GeneralSetting/SignInFrequencySetting.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: no notification (#13806)
  frontend/src/components/GeneralSetting/SignInFrequencySetting.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: no notification (#13806)
  frontend/src/components/GeneralSetting/SignInFrequencySetting.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: sign-in description
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: sign-in description (#13810)
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: sign-in description (#13810)
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: sign-in description (#13810)
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix sign-in redirection
  frontend/src/components/PasswordSigninForm.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(sql-editor): fix sign-in redirection (#13811)
  frontend/src/components/PasswordSigninForm.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(sql-editor): fix sign-in redirection (#13811)
  frontend/src/components/PasswordSigninForm.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(sql-editor): fix sign-in redirection (#13811)
  frontend/src/components/PasswordSigninForm.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(sql-editor): fix sign-in redirection (#13811)
  frontend/src/components/PasswordSigninForm.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: refactor signin
  backend/api/gitops/common.go
  frontend/src/components/PasswordSigninForm.vue
  frontend/src/store/modules/auth.ts
  frontend/src/views/OAuthCallback.vue
  frontend/src/views/auth/MultiFactor.vue
  frontend/src/views/auth/Signin.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: retire filter store
  frontend/src/components/ProjectDatabasesPanel.vue
  frontend/src/components/ProvideSQLEditorContext.vue
  frontend/src/store/modules/filter.ts
  frontend/src/store/modules/index.ts
  frontend/src/store/modules/sqlEditor/editor.ts
  frontend/src/store/modules/sqlEditor/tree.ts
  frontend/src/views/InstanceDetail.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/SheetList.vue
  frontend/src/views/sql-editor/TabList/TabList.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/store/modules/auth.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/views/sql-editor/AsidePanel/AsidePanel.vue
  frontend/src/views/sql-editor/ConnectionPanel/ConnectionPane/DatabaseHoverPanel/DatabaseHoverPanel.vue
  frontend/src/views/sql-editor/Sheet/context.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: retire filter store (#13813)
  frontend/src/components/ProjectDatabasesPanel.vue
  frontend/src/components/ProvideSQLEditorContext.vue
  frontend/src/store/modules/filter.ts
  frontend/src/store/modules/index.ts
  frontend/src/store/modules/sqlEditor/editor.ts
  frontend/src/store/modules/sqlEditor/tree.ts
  frontend/src/views/InstanceDetail.vue
  frontend/src/views/sql-editor/AsidePanel/AsidePanel.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/SheetList.vue
  frontend/src/views/sql-editor/ConnectionPanel/ConnectionPane/DatabaseHoverPanel/DatabaseHoverPanel.vue
  frontend/src/views/sql-editor/Sheet/context.ts
  frontend/src/views/sql-editor/TabList/TabList.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: retire filter store (#13813)
  frontend/src/components/ProjectDatabasesPanel.vue
  frontend/src/components/ProvideSQLEditorContext.vue
  frontend/src/store/modules/filter.ts
  frontend/src/store/modules/index.ts
  frontend/src/store/modules/sqlEditor/editor.ts
  frontend/src/store/modules/sqlEditor/tree.ts
  frontend/src/views/InstanceDetail.vue
  frontend/src/views/sql-editor/AsidePanel/AsidePanel.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/SheetList.vue
  frontend/src/views/sql-editor/ConnectionPanel/ConnectionPane/DatabaseHoverPanel/DatabaseHoverPanel.vue
  frontend/src/views/sql-editor/Sheet/context.ts
  frontend/src/views/sql-editor/TabList/TabList.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: retire filter store (#13813)
  frontend/src/components/ProjectDatabasesPanel.vue
  frontend/src/components/ProvideSQLEditorContext.vue
  frontend/src/store/modules/filter.ts
  frontend/src/store/modules/index.ts
  frontend/src/store/modules/sqlEditor/editor.ts
  frontend/src/store/modules/sqlEditor/tree.ts
  frontend/src/views/InstanceDetail.vue
  frontend/src/views/sql-editor/AsidePanel/AsidePanel.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/SheetList.vue
  frontend/src/views/sql-editor/ConnectionPanel/ConnectionPane/DatabaseHoverPanel/DatabaseHoverPanel.vue
  frontend/src/views/sql-editor/Sheet/context.ts
  frontend/src/views/sql-editor/TabList/TabList.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

Update frontend/src/views/auth/Signin.vue
  frontend/src/views/auth/Signin.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/store/modules/auth.ts
  frontend/src/views/auth/PasswordReset.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
