Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @ecmadao, @rebelice, @LiuJi-Jim, @boojack

chore: update legacy server acl middleware (#5689)
  backend/legacyapi/project_member.go
  backend/server/acl.go
  backend/server/acl_database_test.go
  backend/server/acl_issue_test.go
  backend/server/acl_project_test.go
  backend/server/acl_sheet_test.go
  backend/server/acl_test_helper.go
  backend/server/database.go
  backend/server/project.go
  backend/server/sheet.go
  backend/server/sql.go
Owners: @d-bytebase, @ecmadao

chore: update legacy server acl middleware (#5689)
  backend/legacyapi/project_member.go
  backend/server/acl.go
  backend/server/acl_database_test.go
  backend/server/acl_issue_test.go
  backend/server/acl_project_test.go
  backend/server/acl_sheet_test.go
  backend/server/acl_test_helper.go
  backend/server/database.go
  backend/server/project.go
  backend/server/sheet.go
  backend/server/sql.go
Owners: @d-bytebase, @ecmadao

chore: update legacy server acl middleware (#5689)
  backend/legacyapi/project_member.go
  backend/server/acl.go
  backend/server/acl_database_test.go
  backend/server/acl_issue_test.go
  backend/server/acl_project_test.go
  backend/server/acl_sheet_test.go
  backend/server/acl_test_helper.go
  backend/server/database.go
  backend/server/project.go
  backend/server/sheet.go
  backend/server/sql.go
Owners: @d-bytebase, @ecmadao

feat: support url query
  frontend/src/components/SlowQuery/Panel/LogFilter.vue
  frontend/src/store/modules/slowQuery.ts
  frontend/src/store/modules/slowQueryPolicy.ts
  frontend/src/views/SlowQuery/SlowQueryDashboard.vue
Owners: @LiuJi-Jim, @boojack

chore: use second level timestamp in query
  frontend/src/views/SlowQuery/SlowQueryDashboard.vue
Owners: @LiuJi-Jim, @boojack

chore: auto focus
  frontend/src/components/CustomApproval/Settings/components/CustomApproval/RuleDialog/RuleForm.vue
Owners: @LiuJi-Jim, @boojack

fix: custom roles can see projects
  backend/server/project.go
Owners: @d-bytebase, @ecmadao

chore: default to expand all environments
  frontend/src/components/TransferDatabaseForm/TransferMultipleDatabaseForm.vue
Owners: @LiuJi-Jim, @boojack

feat: list all databases for high-privileged users
  frontend/src/components/TransferDatabaseForm.vue
  frontend/src/store/modules/database.ts
Owners: @LiuJi-Jim, @boojack

add quotes for getRoutines sql
  backend/plugin/db/mysql/dump.go
Owners: @d-bytebase, @ecmadao, @rebelice

feat: swap logo placements
  frontend/src/components/BytebaseLogo.vue
  frontend/src/components/ProfileBrandingLogo.vue
  frontend/src/components/SlowQuery/Panel/LogFilter.vue
  frontend/src/layouts/BodyLayout.vue
  frontend/src/views/DashboardHeader.vue
  frontend/src/views/DashboardSidebar.vue
  frontend/src/views/SettingSidebar.vue
  frontend/src/views/sql-editor/EditorHeader.vue
Owners: @LiuJi-Jim, @boojack

fix: custom roles can see projects (#5695)
  backend/server/project.go
Owners: @d-bytebase, @ecmadao

fix: custom roles can see projects (#5695)
  backend/server/project.go
Owners: @d-bytebase, @ecmadao

fix: custom roles can see projects (#5695)
  backend/server/project.go
Owners: @d-bytebase, @ecmadao

chore: add lint protos ci
  .github/workflows/proto-linter-default.yml
  .github/workflows/proto-linter.yml
  proto/buf.yaml
  proto/store/activity.proto
  proto/v1/anomaly_service.proto
  proto/v1/auth_service.proto
  proto/v1/bookmark_service.proto
  proto/v1/database_service.proto
  proto/v1/externalvs_service.proto
  proto/v1/instance_role_service.proto
  proto/v1/logging_service.proto
  proto/v1/project_service.proto
  proto/v1/review_service.proto
  proto/v1/role_service.proto
  proto/v1/subscription_service.proto
Owners: @d-bytebase, @ecmadao

buf gen
  frontend/src/types/proto/google/protobuf/descriptor.ts
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/store/activity.pb.go
  proto/generated-go/v1/anomaly_service.pb.go
  proto/generated-go/v1/auth_service.pb.go
  proto/generated-go/v1/bookmark_service.pb.go
  proto/generated-go/v1/database_service.pb.go
  proto/generated-go/v1/externalvs_service.pb.go
  proto/generated-go/v1/instance_role_service.pb.go
  proto/generated-go/v1/logging_service.pb.go
  proto/generated-go/v1/project_service.pb.go
  proto/generated-go/v1/review_service.pb.go
  proto/generated-go/v1/role_service.pb.go
  proto/generated-go/v1/subscription_service.pb.go
Owners: @LiuJi-Jim, @boojack, @d-bytebase, @ecmadao

chore: fix source code tour link
  docs/design/source-code-tour.snb.md
Owners: @d-bytebase, @ecmadao

chore: use plugin for gen ts proto
  proto/buf.gen.yaml
Owners: @d-bytebase, @ecmadao

chore: fix source code tour link (#5698)
  docs/design/source-code-tour.snb.md
Owners: @d-bytebase, @ecmadao

chore: fix source code tour link (#5698)
  docs/design/source-code-tour.snb.md
Owners: @d-bytebase, @ecmadao

chore: fix source code tour link (#5698)
  docs/design/source-code-tour.snb.md
Owners: @d-bytebase, @ecmadao

feat: add query time percentage and rows sent percentage
  backend/api/v1/database_service.go
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/database_service.pb.go
  proto/v1/database_service.proto
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

feat: slow query log weekly report template
  backend/api/v1/mail_templates/testmail/hahaha/need_configure.html
  backend/api/v1/mail_templates/testmail/hahaha/weekly_for_dba.html
  backend/api/v1/mail_templates/testmail/hahaha/weekly_for_dba_example.html
  backend/api/v1/mail_templates/testmail/hahaha/weekly_for_project_owner.html
  backend/api/v1/mail_templates/testmail/hahaha/weekly_for_project_owner_example.html
Owners: @d-bytebase, @ecmadao

chore: add lint protos ci (#5697)
  .github/workflows/proto-linter-default.yml
  .github/workflows/proto-linter.yml
  frontend/src/types/proto/google/protobuf/descriptor.ts
  proto/buf.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/store/activity.pb.go
  proto/generated-go/v1/anomaly_service.pb.go
  proto/generated-go/v1/auth_service.pb.go
  proto/generated-go/v1/bookmark_service.pb.go
  proto/generated-go/v1/database_service.pb.go
  proto/generated-go/v1/externalvs_service.pb.go
  proto/generated-go/v1/instance_role_service.pb.go
  proto/generated-go/v1/logging_service.pb.go
  proto/generated-go/v1/project_service.pb.go
  proto/generated-go/v1/review_service.pb.go
  proto/generated-go/v1/role_service.pb.go
  proto/generated-go/v1/subscription_service.pb.go
  proto/store/activity.proto
  proto/v1/anomaly_service.proto
  proto/v1/auth_service.proto
  proto/v1/bookmark_service.proto
  proto/v1/database_service.proto
  proto/v1/externalvs_service.proto
  proto/v1/instance_role_service.proto
  proto/v1/logging_service.proto
  proto/v1/project_service.proto
  proto/v1/review_service.proto
  proto/v1/role_service.proto
  proto/v1/subscription_service.proto
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

chore: add lint protos ci (#5697)
  .github/workflows/proto-linter-default.yml
  .github/workflows/proto-linter.yml
  frontend/src/types/proto/google/protobuf/descriptor.ts
  proto/buf.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/store/activity.pb.go
  proto/generated-go/v1/anomaly_service.pb.go
  proto/generated-go/v1/auth_service.pb.go
  proto/generated-go/v1/bookmark_service.pb.go
  proto/generated-go/v1/database_service.pb.go
  proto/generated-go/v1/externalvs_service.pb.go
  proto/generated-go/v1/instance_role_service.pb.go
  proto/generated-go/v1/logging_service.pb.go
  proto/generated-go/v1/project_service.pb.go
  proto/generated-go/v1/review_service.pb.go
  proto/generated-go/v1/role_service.pb.go
  proto/generated-go/v1/subscription_service.pb.go
  proto/store/activity.proto
  proto/v1/anomaly_service.proto
  proto/v1/auth_service.proto
  proto/v1/bookmark_service.proto
  proto/v1/database_service.proto
  proto/v1/externalvs_service.proto
  proto/v1/instance_role_service.proto
  proto/v1/logging_service.proto
  proto/v1/project_service.proto
  proto/v1/review_service.proto
  proto/v1/role_service.proto
  proto/v1/subscription_service.proto
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

chore: add lint protos ci (#5697)
  .github/workflows/proto-linter-default.yml
  .github/workflows/proto-linter.yml
  frontend/src/types/proto/google/protobuf/descriptor.ts
  proto/buf.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/store/activity.pb.go
  proto/generated-go/v1/anomaly_service.pb.go
  proto/generated-go/v1/auth_service.pb.go
  proto/generated-go/v1/bookmark_service.pb.go
  proto/generated-go/v1/database_service.pb.go
  proto/generated-go/v1/externalvs_service.pb.go
  proto/generated-go/v1/instance_role_service.pb.go
  proto/generated-go/v1/logging_service.pb.go
  proto/generated-go/v1/project_service.pb.go
  proto/generated-go/v1/review_service.pb.go
  proto/generated-go/v1/role_service.pb.go
  proto/generated-go/v1/subscription_service.pb.go
  proto/store/activity.proto
  proto/v1/anomaly_service.proto
  proto/v1/auth_service.proto
  proto/v1/bookmark_service.proto
  proto/v1/database_service.proto
  proto/v1/externalvs_service.proto
  proto/v1/instance_role_service.proto
  proto/v1/logging_service.proto
  proto/v1/project_service.proto
  proto/v1/review_service.proto
  proto/v1/role_service.proto
  proto/v1/subscription_service.proto
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

chore: use plugin for gen ts proto (#5699)
  proto/buf.gen.yaml
Owners: @d-bytebase, @ecmadao

chore: use plugin for gen ts proto (#5699)
  proto/buf.gen.yaml
Owners: @d-bytebase, @ecmadao

chore: use plugin for gen ts proto (#5699)
  proto/buf.gen.yaml
Owners: @d-bytebase, @ecmadao

fix(frontend): high-privileged workspace roles can see all databases while transferring (#5696)
  frontend/src/components/TransferDatabaseForm.vue
  frontend/src/components/TransferDatabaseForm/TransferMultipleDatabaseForm.vue
  frontend/src/store/modules/database.ts
Owners: @LiuJi-Jim, @boojack

fix(frontend): high-privileged workspace roles can see all databases while transferring (#5696)
  frontend/src/components/TransferDatabaseForm.vue
  frontend/src/components/TransferDatabaseForm/TransferMultipleDatabaseForm.vue
  frontend/src/store/modules/database.ts
Owners: @LiuJi-Jim, @boojack

fix(frontend): high-privileged workspace roles can see all databases while transferring (#5696)
  frontend/src/components/TransferDatabaseForm.vue
  frontend/src/components/TransferDatabaseForm/TransferMultipleDatabaseForm.vue
  frontend/src/store/modules/database.ts
Owners: @LiuJi-Jim, @boojack

chore: re-generate buf code
  proto/generated-go/v1/database_service.pb.go
Owners: @d-bytebase, @ecmadao

feat: add query time percentage and rows sent percentage (#5700)
  backend/api/v1/database_service.go
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/database_service.pb.go
  proto/v1/database_service.proto
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

feat: add query time percentage and rows sent percentage (#5700)
  backend/api/v1/database_service.go
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/database_service.pb.go
  proto/v1/database_service.proto
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

feat: add query time percentage and rows sent percentage (#5700)
  backend/api/v1/database_service.go
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/database_service.pb.go
  proto/v1/database_service.proto
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

chore: update
  backend/api/v1/mail_templates/testmail/hahaha/weekly_for_dba.html
  backend/api/v1/mail_templates/testmail/hahaha/weekly_for_dba_example.html
  backend/api/v1/mail_templates/testmail/hahaha/weekly_for_project_owner.html
  backend/api/v1/mail_templates/testmail/hahaha/weekly_for_project_owner_example.html
Owners: @d-bytebase, @ecmadao

chore: update
  backend/api/v1/mail_templates/testmail/hahaha/weekly_for_dba.html
  backend/api/v1/mail_templates/testmail/hahaha/weekly_for_dba_example.html
  backend/api/v1/mail_templates/testmail/hahaha/weekly_for_project_owner_example.html
Owners: @d-bytebase, @ecmadao

feat: support to use OceanBase as instance (#5353)
  backend/api/v1/common.go
  backend/api/v1/instance_role_service.go
  backend/component/dbfactory/dbfactory.go
  backend/plugin/db/driver.go
  backend/plugin/db/mysql/dump.go
  backend/plugin/db/mysql/mysql.go
  backend/plugin/db/mysql/sync.go
  backend/plugin/db/util/mask_sensitive_data.go
  backend/plugin/parser/differ/mysql/differ.go
  backend/plugin/parser/parser.go
  backend/plugin/parser/transform/mysql/transform.go
  backend/plugin/parser/utils.go
  backend/plugin/parser/validate_sql_for_editor.go
  backend/runner/taskcheck/statement_advisor_simple_executor.go
  backend/runner/taskcheck/statement_type_executor.go
  backend/runner/taskrun/database_create_executor.go
  backend/runner/utils/sdl_utils.go
  backend/server/database.go
  backend/server/instance.go
  backend/server/issue.go
  backend/server/sql.go
  frontend/src/assets/db-oceanbase.png
  frontend/src/components/CreateDataSourceExample.vue
  frontend/src/components/InstanceEngineIcon.vue
  frontend/src/components/InstanceForm.vue
  frontend/src/types/instance.ts
  frontend/src/types/proto/v1/common.ts
  frontend/src/utils/instance.ts
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/common.pb.go
  proto/v1/common.proto
Owners: @d-bytebase, @ecmadao, @rebelice, @LiuJi-Jim, @boojack

feat: support to use OceanBase as instance (#5353)
  backend/api/v1/common.go
  backend/api/v1/instance_role_service.go
  backend/component/dbfactory/dbfactory.go
  backend/plugin/db/driver.go
  backend/plugin/db/mysql/dump.go
  backend/plugin/db/mysql/mysql.go
  backend/plugin/db/mysql/sync.go
  backend/plugin/db/util/mask_sensitive_data.go
  backend/plugin/parser/differ/mysql/differ.go
  backend/plugin/parser/parser.go
  backend/plugin/parser/transform/mysql/transform.go
  backend/plugin/parser/utils.go
  backend/plugin/parser/validate_sql_for_editor.go
  backend/runner/taskcheck/statement_advisor_simple_executor.go
  backend/runner/taskcheck/statement_type_executor.go
  backend/runner/taskrun/database_create_executor.go
  backend/runner/utils/sdl_utils.go
  backend/server/database.go
  backend/server/instance.go
  backend/server/issue.go
  backend/server/sql.go
  frontend/src/assets/db-oceanbase.png
  frontend/src/components/CreateDataSourceExample.vue
  frontend/src/components/InstanceEngineIcon.vue
  frontend/src/components/InstanceForm.vue
  frontend/src/types/instance.ts
  frontend/src/types/proto/v1/common.ts
  frontend/src/utils/instance.ts
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/common.pb.go
  proto/v1/common.proto
Owners: @d-bytebase, @ecmadao, @rebelice, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @ecmadao

# Backend and API.
/backend/                    @d-bytebase @ecmadao
/proto/                      @d-bytebase @ecmadao

# Backend SQL kernel.
/backend/plugin/advisor      @d-bytebase @ecmadao @rebelice
/backend/plugin/db           @d-bytebase @ecmadao @rebelice
/backend/plugin/parser       @d-bytebase @ecmadao @rebelice

# Frontend.
/frontend/                   @LiuJi-Jim @boojack

# Dependency files.
frontend/package.json        @d-bytebase @LiuJi-Jim
go.mod                       @d-bytebase @ecmadao
