Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

chore: proto annotation (#12894)
  backend/api/auth/auth.go
  backend/api/auth/config.go
  backend/api/v1/acl.go
  backend/api/v1/acl_iam.go
  backend/common/context.go
  frontend/src/types/proto/v1/actuator_service.ts
  frontend/src/types/proto/v1/annotation.ts
  frontend/src/types/proto/v1/auth_service.ts
  frontend/src/types/proto/v1/branch_service.ts
  frontend/src/types/proto/v1/idp_service.ts
  frontend/src/types/proto/v1/sql_service.ts
  frontend/src/types/proto/v1/subscription_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/actuator_service.pb.go
  proto/generated-go/v1/annotation.pb.go
  proto/generated-go/v1/auth_service.pb.go
  proto/generated-go/v1/branch_service.pb.go
  proto/generated-go/v1/idp_service.pb.go
  proto/generated-go/v1/sql_service.pb.go
  proto/generated-go/v1/subscription_service.pb.go
  proto/v1/actuator_service.proto
  proto/v1/annotation.proto
  proto/v1/auth_service.proto
  proto/v1/branch_service.proto
  proto/v1/idp_service.proto
  proto/v1/sql_service.proto
  proto/v1/subscription_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: proto annotation (#12894)
  backend/api/auth/auth.go
  backend/api/auth/config.go
  backend/api/v1/acl.go
  backend/api/v1/acl_iam.go
  backend/common/context.go
  frontend/src/types/proto/v1/actuator_service.ts
  frontend/src/types/proto/v1/annotation.ts
  frontend/src/types/proto/v1/auth_service.ts
  frontend/src/types/proto/v1/branch_service.ts
  frontend/src/types/proto/v1/idp_service.ts
  frontend/src/types/proto/v1/sql_service.ts
  frontend/src/types/proto/v1/subscription_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/actuator_service.pb.go
  proto/generated-go/v1/annotation.pb.go
  proto/generated-go/v1/auth_service.pb.go
  proto/generated-go/v1/branch_service.pb.go
  proto/generated-go/v1/idp_service.pb.go
  proto/generated-go/v1/sql_service.pb.go
  proto/generated-go/v1/subscription_service.pb.go
  proto/v1/actuator_service.proto
  proto/v1/annotation.proto
  proto/v1/auth_service.proto
  proto/v1/branch_service.proto
  proto/v1/idp_service.proto
  proto/v1/sql_service.proto
  proto/v1/subscription_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: proto annotation (#12894)
  backend/api/auth/auth.go
  backend/api/auth/config.go
  backend/api/v1/acl.go
  backend/api/v1/acl_iam.go
  backend/common/context.go
  frontend/src/types/proto/v1/actuator_service.ts
  frontend/src/types/proto/v1/annotation.ts
  frontend/src/types/proto/v1/auth_service.ts
  frontend/src/types/proto/v1/branch_service.ts
  frontend/src/types/proto/v1/idp_service.ts
  frontend/src/types/proto/v1/sql_service.ts
  frontend/src/types/proto/v1/subscription_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/actuator_service.pb.go
  proto/generated-go/v1/annotation.pb.go
  proto/generated-go/v1/auth_service.pb.go
  proto/generated-go/v1/branch_service.pb.go
  proto/generated-go/v1/idp_service.pb.go
  proto/generated-go/v1/sql_service.pb.go
  proto/generated-go/v1/subscription_service.pb.go
  proto/v1/actuator_service.proto
  proto/v1/annotation.proto
  proto/v1/auth_service.proto
  proto/v1/branch_service.proto
  proto/v1/idp_service.proto
  proto/v1/sql_service.proto
  proto/v1/subscription_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

fix: document.cookie not works with computed or watch
  frontend/src/App.vue
  frontend/src/store/modules/auth.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/App.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: document.cookie not works with computed or watch (#12897)
  frontend/src/App.vue
  frontend/src/store/modules/auth.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: document.cookie not works with computed or watch (#12897)
  frontend/src/App.vue
  frontend/src/store/modules/auth.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: document.cookie not works with computed or watch (#12897)
  frontend/src/App.vue
  frontend/src/store/modules/auth.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat(audit): find diffs in SetIamPolicy
  backend/api/v1/project_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: missing permission in workspace service proto
  frontend/src/types/proto/v1/workspace_service.ts
  proto/generated-go/v1/workspace_service.pb.go
  proto/v1/workspace_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: update
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/database_service.pb.go
  proto/generated-go/v1/workspace_service.pb.go
  proto/v1/database_service.proto
  proto/v1/workspace_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: update
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/database_service.pb.go
  proto/v1/database_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

fix: missing permission in workspace service proto (#12899)
  frontend/src/types/proto/v1/workspace_service.ts
  proto/generated-go/v1/workspace_service.pb.go
  proto/v1/workspace_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

fix: missing permission in workspace service proto (#12899)
  frontend/src/types/proto/v1/workspace_service.ts
  proto/generated-go/v1/workspace_service.pb.go
  proto/v1/workspace_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

fix: missing permission in workspace service proto (#12899)
  frontend/src/types/proto/v1/workspace_service.ts
  proto/generated-go/v1/workspace_service.pb.go
  proto/v1/workspace_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: remove unnecessary var
  backend/api/v1/project_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: redact SetIamPolicyRequest
  backend/api/v1/audit.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix(hive): support different kerberos realms
  backend/plugin/db/hive/hive.go
  backend/plugin/db/hive/hive_conn_pool.go
  backend/plugin/db/sasl.go
  scripts/Dockerfile
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase

fix(audit): npe
  backend/api/v1/audit.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: buf lint
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/iam_policy.pb.go
  proto/v1/iam_policy.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

fix(audit): npe (#12901)
  backend/api/v1/audit.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix(audit): npe (#12901)
  backend/api/v1/audit.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix(audit): npe (#12901)
  backend/api/v1/audit.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

Update scripts/Dockerfile
  scripts/Dockerfile
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: lint
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunSession/TaskRunSession.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update build options
  frontend/tsconfig.app.json
  frontend/vite.config.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: clear cache
  backend/store/principal.go
  backend/store/setting.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: clear cache (#12903)
  backend/store/principal.go
  backend/store/setting.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: clear cache (#12903)
  backend/store/principal.go
  backend/store/setting.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: clear cache (#12903)
  backend/store/principal.go
  backend/store/setting.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

refactor: database API
  backend/api/v1/database_service.go
  backend/api/v1/instance_service.go
  frontend/src/types/proto/v1/database_service.ts
  frontend/src/types/proto/v1/instance_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/database_service.pb.go
  proto/generated-go/v1/database_service.pb.gw.go
  proto/generated-go/v1/database_service_grpc.pb.go
  proto/generated-go/v1/instance_service_grpc.pb.go
  proto/v1/database_service.proto
  proto/v1/instance_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: update
  backend/tests/ghost_test.go
  backend/tests/tenant_test.go
  frontend/src/views/sql-editor/Setting/Project/Detail.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: update
  backend/tests/ghost_test.go
  backend/tests/tenant_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  backend/api/v1/database_service.go
  backend/tests/ghost_test.go
  backend/tests/tenant_test.go
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/database_service.pb.go
  proto/v1/database_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

refactor: database API (#12904)
  backend/api/v1/database_service.go
  backend/api/v1/instance_service.go
  backend/tests/ghost_test.go
  backend/tests/tenant_test.go
  frontend/src/types/proto/v1/database_service.ts
  frontend/src/types/proto/v1/instance_service.ts
  frontend/src/views/sql-editor/Setting/Project/Detail.vue
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/database_service.pb.go
  proto/generated-go/v1/database_service.pb.gw.go
  proto/generated-go/v1/database_service_grpc.pb.go
  proto/generated-go/v1/instance_service_grpc.pb.go
  proto/v1/database_service.proto
  proto/v1/instance_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

refactor: database API (#12904)
  backend/api/v1/database_service.go
  backend/api/v1/instance_service.go
  backend/tests/ghost_test.go
  backend/tests/tenant_test.go
  frontend/src/types/proto/v1/database_service.ts
  frontend/src/types/proto/v1/instance_service.ts
  frontend/src/views/sql-editor/Setting/Project/Detail.vue
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/database_service.pb.go
  proto/generated-go/v1/database_service.pb.gw.go
  proto/generated-go/v1/database_service_grpc.pb.go
  proto/generated-go/v1/instance_service_grpc.pb.go
  proto/v1/database_service.proto
  proto/v1/instance_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

refactor: database API (#12904)
  backend/api/v1/database_service.go
  backend/api/v1/instance_service.go
  backend/tests/ghost_test.go
  backend/tests/tenant_test.go
  frontend/src/types/proto/v1/database_service.ts
  frontend/src/types/proto/v1/instance_service.ts
  frontend/src/views/sql-editor/Setting/Project/Detail.vue
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/database_service.pb.go
  proto/generated-go/v1/database_service.pb.gw.go
  proto/generated-go/v1/database_service_grpc.pb.go
  proto/generated-go/v1/instance_service_grpc.pb.go
  proto/v1/database_service.proto
  proto/v1/instance_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: auth method annotation
  frontend/src/types/proto/v1/annotation.ts
  frontend/src/types/proto/v1/project_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/annotation.pb.go
  proto/generated-go/v1/project_service.pb.go
  proto/v1/annotation.proto
  proto/v1/project_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: update
  backend/api/auth/auth.go
  backend/common/context.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: auth method annotation (#12905)
  backend/api/auth/auth.go
  backend/common/context.go
  frontend/src/types/proto/v1/annotation.ts
  frontend/src/types/proto/v1/project_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/annotation.pb.go
  proto/generated-go/v1/project_service.pb.go
  proto/v1/annotation.proto
  proto/v1/project_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
