Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

impl for pg
  backend/plugin/advisor/code.go
  backend/plugin/advisor/pg/advisor_statement_disallow_mix_in_ddl.go
  backend/plugin/advisor/pg/advisor_statement_disallow_mix_in_dml.go
  backend/plugin/advisor/sql_review.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

impl for oracle
  backend/plugin/advisor/oracle/advisor_statement_disallow_mix_in_ddl.go
  backend/plugin/advisor/oracle/advisor_statement_disallow_mix_in_dml.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

impl for mssql
  backend/plugin/advisor/mssql/advisor_statement_disallow_mix_in_ddl.go
  backend/plugin/advisor/mssql/advisor_statement_disallow_mix_in_dml.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

update yaml
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sql-review.dev.yaml
  frontend/src/types/sql-review.prod.yaml
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

update
  backend/plugin/advisor/sql_review.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(differ): ignore backup schema for PG in schema synchronization
  backend/api/v1/database_service.go
  backend/plugin/parser/pg/filter.go
  backend/plugin/parser/pg/filter_test.go
  backend/plugin/parser/pg/pg.go
  backend/plugin/parser/pg/test-data/filter.yaml
  frontend/src/components/SyncDatabaseSchema/SelectTargetDatabasesView.vue
  frontend/src/types/proto/v1/database_service.ts
  frontend/src/utils/v1/instance.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/database_service.pb.go
  proto/v1/database_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack, @RainbowDashy

chore: fix unit tests
  backend/plugin/parser/pg/filter_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: introduce new google sql parser
  backend/plugin/parser/bigquery/bigquery.go
  go.mod
  go.sum
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

chore: goimport
  backend/plugin/parser/bigquery/bigquery.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(differ): ignore backup schema for PG in schema synchronization (#14107)
  backend/api/v1/database_service.go
  backend/plugin/parser/pg/filter.go
  backend/plugin/parser/pg/filter_test.go
  backend/plugin/parser/pg/pg.go
  backend/plugin/parser/pg/test-data/filter.yaml
  frontend/src/components/SyncDatabaseSchema/SelectTargetDatabasesView.vue
  frontend/src/types/proto/v1/database_service.ts
  frontend/src/utils/v1/instance.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/database_service.pb.go
  proto/v1/database_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack, @RainbowDashy

feat(differ): ignore backup schema for PG in schema synchronization (#14107)
  backend/api/v1/database_service.go
  backend/plugin/parser/pg/filter.go
  backend/plugin/parser/pg/filter_test.go
  backend/plugin/parser/pg/pg.go
  backend/plugin/parser/pg/test-data/filter.yaml
  frontend/src/components/SyncDatabaseSchema/SelectTargetDatabasesView.vue
  frontend/src/types/proto/v1/database_service.ts
  frontend/src/utils/v1/instance.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/database_service.pb.go
  proto/v1/database_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack, @RainbowDashy

feat(differ): ignore backup schema for PG in schema synchronization (#14107)
  backend/api/v1/database_service.go
  backend/plugin/parser/pg/filter.go
  backend/plugin/parser/pg/filter_test.go
  backend/plugin/parser/pg/pg.go
  backend/plugin/parser/pg/test-data/filter.yaml
  frontend/src/components/SyncDatabaseSchema/SelectTargetDatabasesView.vue
  frontend/src/types/proto/v1/database_service.ts
  frontend/src/utils/v1/instance.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/database_service.pb.go
  proto/v1/database_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack, @RainbowDashy

feat: introduce new google sql parser (#14108)
  backend/plugin/parser/bigquery/bigquery.go
  go.mod
  go.sum
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

feat: introduce new google sql parser (#14108)
  backend/plugin/parser/bigquery/bigquery.go
  go.mod
  go.sum
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

feat: introduce new google sql parser (#14108)
  backend/plugin/parser/bigquery/bigquery.go
  go.mod
  go.sum
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

feat: seperate rules for mixing ddl&dml (#14106)
  backend/plugin/advisor/code.go
  backend/plugin/advisor/mssql/advisor_statement_disallow_mix_in_ddl.go
  backend/plugin/advisor/mssql/advisor_statement_disallow_mix_in_dml.go
  backend/plugin/advisor/mysql/advisor_statement_disallow_mix_in_ddl.go
  backend/plugin/advisor/mysql/advisor_statement_disallow_mix_in_dml.go
  backend/plugin/advisor/oracle/advisor_statement_disallow_mix_in_ddl.go
  backend/plugin/advisor/oracle/advisor_statement_disallow_mix_in_dml.go
  backend/plugin/advisor/pg/advisor_statement_disallow_mix_in_ddl.go
  backend/plugin/advisor/pg/advisor_statement_disallow_mix_in_dml.go
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/tidb/advisor_statement_disallow_mix_in_ddl.go
  backend/plugin/advisor/tidb/advisor_statement_disallow_mix_in_dml.go
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sql-review.dev.yaml
  frontend/src/types/sql-review.prod.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

feat: seperate rules for mixing ddl&dml (#14106)
  backend/plugin/advisor/code.go
  backend/plugin/advisor/mssql/advisor_statement_disallow_mix_in_ddl.go
  backend/plugin/advisor/mssql/advisor_statement_disallow_mix_in_dml.go
  backend/plugin/advisor/mysql/advisor_statement_disallow_mix_in_ddl.go
  backend/plugin/advisor/mysql/advisor_statement_disallow_mix_in_dml.go
  backend/plugin/advisor/oracle/advisor_statement_disallow_mix_in_ddl.go
  backend/plugin/advisor/oracle/advisor_statement_disallow_mix_in_dml.go
  backend/plugin/advisor/pg/advisor_statement_disallow_mix_in_ddl.go
  backend/plugin/advisor/pg/advisor_statement_disallow_mix_in_dml.go
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/tidb/advisor_statement_disallow_mix_in_ddl.go
  backend/plugin/advisor/tidb/advisor_statement_disallow_mix_in_dml.go
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sql-review.dev.yaml
  frontend/src/types/sql-review.prod.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

feat: seperate rules for mixing ddl&dml (#14106)
  backend/plugin/advisor/code.go
  backend/plugin/advisor/mssql/advisor_statement_disallow_mix_in_ddl.go
  backend/plugin/advisor/mssql/advisor_statement_disallow_mix_in_dml.go
  backend/plugin/advisor/mysql/advisor_statement_disallow_mix_in_ddl.go
  backend/plugin/advisor/mysql/advisor_statement_disallow_mix_in_dml.go
  backend/plugin/advisor/oracle/advisor_statement_disallow_mix_in_ddl.go
  backend/plugin/advisor/oracle/advisor_statement_disallow_mix_in_dml.go
  backend/plugin/advisor/pg/advisor_statement_disallow_mix_in_ddl.go
  backend/plugin/advisor/pg/advisor_statement_disallow_mix_in_dml.go
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/tidb/advisor_statement_disallow_mix_in_ddl.go
  backend/plugin/advisor/tidb/advisor_statement_disallow_mix_in_dml.go
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sql-review.dev.yaml
  frontend/src/types/sql-review.prod.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: query permissions
  backend/component/iam/acl.yaml
  backend/component/iam/permission.go
  backend/component/iam/permission.yaml
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: bump google sql parser
  go.mod
  go.sum
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: bigquery dignose
  backend/plugin/parser/bigquery/dignose.go
  backend/server/ultimate.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

chore(query-span): ignore cluster name for StarRocks
  backend/plugin/parser/base/interface.go
  backend/plugin/parser/base/span.go
  backend/plugin/parser/mysql/query_span_extractor.go
  backend/plugin/parser/mysql/query_span_test.go
  backend/plugin/parser/mysql/test-data/query-span/starrocks.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

test: fix unit tests
  backend/plugin/parser/mysql/completion_test.go
  backend/plugin/parser/mysql/test-data/test_completion.yaml
  backend/plugin/parser/pg/completion_test.go
  backend/plugin/parser/pg/test-data/test_completion.yaml
  backend/plugin/parser/plsql/completion_test.go
  backend/plugin/parser/plsql/test-data/test_completion.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

test: fix unit tests (#14111)
  backend/plugin/parser/mysql/completion_test.go
  backend/plugin/parser/mysql/test-data/test_completion.yaml
  backend/plugin/parser/pg/completion_test.go
  backend/plugin/parser/pg/test-data/test_completion.yaml
  backend/plugin/parser/plsql/completion_test.go
  backend/plugin/parser/plsql/test-data/test_completion.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

test: fix unit tests (#14111)
  backend/plugin/parser/mysql/completion_test.go
  backend/plugin/parser/mysql/test-data/test_completion.yaml
  backend/plugin/parser/pg/completion_test.go
  backend/plugin/parser/pg/test-data/test_completion.yaml
  backend/plugin/parser/plsql/completion_test.go
  backend/plugin/parser/plsql/test-data/test_completion.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

test: fix unit tests (#14111)
  backend/plugin/parser/mysql/completion_test.go
  backend/plugin/parser/mysql/test-data/test_completion.yaml
  backend/plugin/parser/pg/completion_test.go
  backend/plugin/parser/pg/test-data/test_completion.yaml
  backend/plugin/parser/plsql/completion_test.go
  backend/plugin/parser/plsql/test-data/test_completion.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore(query-span): ignore cluster name for StarRocks (#14110)
  backend/plugin/parser/base/interface.go
  backend/plugin/parser/base/span.go
  backend/plugin/parser/mysql/query_span_extractor.go
  backend/plugin/parser/mysql/query_span_test.go
  backend/plugin/parser/mysql/test-data/query-span/starrocks.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore(query-span): ignore cluster name for StarRocks (#14110)
  backend/plugin/parser/base/interface.go
  backend/plugin/parser/base/span.go
  backend/plugin/parser/mysql/query_span_extractor.go
  backend/plugin/parser/mysql/query_span_test.go
  backend/plugin/parser/mysql/test-data/query-span/starrocks.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore(query-span): ignore cluster name for StarRocks (#14110)
  backend/plugin/parser/base/interface.go
  backend/plugin/parser/base/span.go
  backend/plugin/parser/mysql/query_span_extractor.go
  backend/plugin/parser/mysql/query_span_test.go
  backend/plugin/parser/mysql/test-data/query-span/starrocks.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore(query-span): ignore cluster name for StarRocks (#14110)
  backend/plugin/parser/base/interface.go
  backend/plugin/parser/base/span.go
  backend/plugin/parser/mysql/query_span_extractor.go
  backend/plugin/parser/mysql/query_span_test.go
  backend/plugin/parser/mysql/test-data/query-span/starrocks.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(sql-review): table comment convention for postgres
  backend/plugin/advisor/code.go
  backend/plugin/advisor/pg/advisor_table_comment_convention.go
  backend/plugin/advisor/pg/pg_rules_test.go
  backend/plugin/advisor/pg/test/table_comment.yaml
  backend/plugin/advisor/sql_review.go
  backend/plugin/parser/sql/engine/pg/convert.go
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sql-review.prod.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: update
  backend/tests/test-data/sql_review_pg.yaml
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix redis get database with proxy
  backend/plugin/db/redis/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: tests
  backend/tests/sql_review_test.go
  backend/tests/test-data/sql_review_pg.yaml
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat(sql-review): table comment convention for postgres (#14113)
  backend/plugin/advisor/code.go
  backend/plugin/advisor/pg/advisor_table_comment_convention.go
  backend/plugin/advisor/pg/pg_rules_test.go
  backend/plugin/advisor/pg/test/table_comment.yaml
  backend/plugin/advisor/sql_review.go
  backend/plugin/parser/sql/engine/pg/convert.go
  backend/tests/sql_review_test.go
  backend/tests/test-data/sql_review_pg.yaml
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sql-review.prod.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

feat(sql-review): table comment convention for postgres (#14113)
  backend/plugin/advisor/code.go
  backend/plugin/advisor/pg/advisor_table_comment_convention.go
  backend/plugin/advisor/pg/pg_rules_test.go
  backend/plugin/advisor/pg/test/table_comment.yaml
  backend/plugin/advisor/sql_review.go
  backend/plugin/parser/sql/engine/pg/convert.go
  backend/tests/sql_review_test.go
  backend/tests/test-data/sql_review_pg.yaml
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sql-review.prod.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

feat(sql-review): table comment convention for postgres (#14113)
  backend/plugin/advisor/code.go
  backend/plugin/advisor/pg/advisor_table_comment_convention.go
  backend/plugin/advisor/pg/pg_rules_test.go
  backend/plugin/advisor/pg/test/table_comment.yaml
  backend/plugin/advisor/sql_review.go
  backend/plugin/parser/sql/engine/pg/convert.go
  backend/tests/sql_review_test.go
  backend/tests/test-data/sql_review_pg.yaml
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sql-review.prod.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

feat(sql-review): column comment convention for postgres
  backend/plugin/advisor/code.go
  backend/plugin/advisor/pg/advisor_column_comment_convention.go
  backend/plugin/advisor/pg/pg_rules_test.go
  backend/plugin/advisor/pg/test/column_comment.yaml
  backend/plugin/advisor/sql_review.go
  backend/tests/sql.go
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sql-review.prod.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

feat(sql-review): column comment convention for postgres (#14115)
  backend/plugin/advisor/code.go
  backend/plugin/advisor/pg/advisor_column_comment_convention.go
  backend/plugin/advisor/pg/pg_rules_test.go
  backend/plugin/advisor/pg/test/column_comment.yaml
  backend/plugin/advisor/sql_review.go
  backend/tests/sql.go
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sql-review.prod.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

feat(sql-review): column comment convention for postgres (#14115)
  backend/plugin/advisor/code.go
  backend/plugin/advisor/pg/advisor_column_comment_convention.go
  backend/plugin/advisor/pg/pg_rules_test.go
  backend/plugin/advisor/pg/test/column_comment.yaml
  backend/plugin/advisor/sql_review.go
  backend/tests/sql.go
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sql-review.prod.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
