Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

chore: move masking column page to data masking tab (#14135)
  frontend/src/components/Member/MembersBindingSelect.vue
  frontend/src/components/SensitiveData/GrantAccessDrawer.vue
  frontend/src/components/SensitiveData/SensitiveColumnDrawer.vue
  frontend/src/components/SensitiveData/SensitiveColumnView.vue
  frontend/src/components/User/Settings/RemoveGroupButton.vue
  frontend/src/components/User/Settings/UserPassword.vue
  frontend/src/components/v2/Select/GroupSelect.vue
  frontend/src/components/v2/Select/UserSelect.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/dashboard/workspace.ts
  frontend/src/router/dashboard/workspaceRoutes.ts
  frontend/src/router/index.ts
  frontend/src/router/sqlEditor.ts
  frontend/src/views/DashboardSidebar.vue
  frontend/src/views/SettingWorkspaceDataAccessControl.vue
  frontend/src/views/SettingWorkspaceDataMasking.vue
  frontend/src/views/sql-editor/EditorCommon/DataTable/SensitiveDataIcon.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/SensitiveDataIcon.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/SensitiveDataIcon.vue
  frontend/src/views/sql-editor/Setting/AccessControl/AccessControl.vue
  frontend/src/views/sql-editor/Setting/AccessControl/index.ts
  frontend/src/views/sql-editor/Setting/AuditLog/AuditLog.vue
  frontend/src/views/sql-editor/Setting/DataClassification/DataClassification.vue
  frontend/src/views/sql-editor/Setting/DataMasking/DataMasking.vue
  frontend/src/views/sql-editor/Setting/Database/Database.vue
  frontend/src/views/sql-editor/Setting/Environment/Environment.vue
  frontend/src/views/sql-editor/Setting/Instance/Instance.vue
  frontend/src/views/sql-editor/Setting/Members/Members.vue
  frontend/src/views/sql-editor/Setting/Profile/Profile.vue
  frontend/src/views/sql-editor/Setting/Project/Project.vue
  frontend/src/views/sql-editor/Setting/Roles/Roles.vue
  frontend/src/views/sql-editor/Setting/SSO/SSO.vue
  frontend/src/views/sql-editor/Setting/Sidebar/common.ts
  frontend/src/views/sql-editor/Setting/Subscription/Subscription.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: move masking column page to data masking tab (#14135)
  frontend/src/components/Member/MembersBindingSelect.vue
  frontend/src/components/SensitiveData/GrantAccessDrawer.vue
  frontend/src/components/SensitiveData/SensitiveColumnDrawer.vue
  frontend/src/components/SensitiveData/SensitiveColumnView.vue
  frontend/src/components/User/Settings/RemoveGroupButton.vue
  frontend/src/components/User/Settings/UserPassword.vue
  frontend/src/components/v2/Select/GroupSelect.vue
  frontend/src/components/v2/Select/UserSelect.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/dashboard/workspace.ts
  frontend/src/router/dashboard/workspaceRoutes.ts
  frontend/src/router/index.ts
  frontend/src/router/sqlEditor.ts
  frontend/src/views/DashboardSidebar.vue
  frontend/src/views/SettingWorkspaceDataAccessControl.vue
  frontend/src/views/SettingWorkspaceDataMasking.vue
  frontend/src/views/sql-editor/EditorCommon/DataTable/SensitiveDataIcon.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/SensitiveDataIcon.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/SensitiveDataIcon.vue
  frontend/src/views/sql-editor/Setting/AccessControl/AccessControl.vue
  frontend/src/views/sql-editor/Setting/AccessControl/index.ts
  frontend/src/views/sql-editor/Setting/AuditLog/AuditLog.vue
  frontend/src/views/sql-editor/Setting/DataClassification/DataClassification.vue
  frontend/src/views/sql-editor/Setting/DataMasking/DataMasking.vue
  frontend/src/views/sql-editor/Setting/Database/Database.vue
  frontend/src/views/sql-editor/Setting/Environment/Environment.vue
  frontend/src/views/sql-editor/Setting/Instance/Instance.vue
  frontend/src/views/sql-editor/Setting/Members/Members.vue
  frontend/src/views/sql-editor/Setting/Profile/Profile.vue
  frontend/src/views/sql-editor/Setting/Project/Project.vue
  frontend/src/views/sql-editor/Setting/Roles/Roles.vue
  frontend/src/views/sql-editor/Setting/SSO/SSO.vue
  frontend/src/views/sql-editor/Setting/Sidebar/common.ts
  frontend/src/views/sql-editor/Setting/Subscription/Subscription.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: move masking column page to data masking tab (#14135)
  frontend/src/components/Member/MembersBindingSelect.vue
  frontend/src/components/SensitiveData/GrantAccessDrawer.vue
  frontend/src/components/SensitiveData/SensitiveColumnDrawer.vue
  frontend/src/components/SensitiveData/SensitiveColumnView.vue
  frontend/src/components/User/Settings/RemoveGroupButton.vue
  frontend/src/components/User/Settings/UserPassword.vue
  frontend/src/components/v2/Select/GroupSelect.vue
  frontend/src/components/v2/Select/UserSelect.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/dashboard/workspace.ts
  frontend/src/router/dashboard/workspaceRoutes.ts
  frontend/src/router/index.ts
  frontend/src/router/sqlEditor.ts
  frontend/src/views/DashboardSidebar.vue
  frontend/src/views/SettingWorkspaceDataAccessControl.vue
  frontend/src/views/SettingWorkspaceDataMasking.vue
  frontend/src/views/sql-editor/EditorCommon/DataTable/SensitiveDataIcon.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/SensitiveDataIcon.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/SensitiveDataIcon.vue
  frontend/src/views/sql-editor/Setting/AccessControl/AccessControl.vue
  frontend/src/views/sql-editor/Setting/AccessControl/index.ts
  frontend/src/views/sql-editor/Setting/AuditLog/AuditLog.vue
  frontend/src/views/sql-editor/Setting/DataClassification/DataClassification.vue
  frontend/src/views/sql-editor/Setting/DataMasking/DataMasking.vue
  frontend/src/views/sql-editor/Setting/Database/Database.vue
  frontend/src/views/sql-editor/Setting/Environment/Environment.vue
  frontend/src/views/sql-editor/Setting/Instance/Instance.vue
  frontend/src/views/sql-editor/Setting/Members/Members.vue
  frontend/src/views/sql-editor/Setting/Profile/Profile.vue
  frontend/src/views/sql-editor/Setting/Project/Project.vue
  frontend/src/views/sql-editor/Setting/Roles/Roles.vue
  frontend/src/views/sql-editor/Setting/SSO/SSO.vue
  frontend/src/views/sql-editor/Setting/Sidebar/common.ts
  frontend/src/views/sql-editor/Setting/Subscription/Subscription.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix(sql-review): run set role for Query (#14133)
  backend/plugin/advisor/mysql/advisor_insert_row_limit.go
  backend/plugin/advisor/mysql/advisor_statement_affected_row_limit.go
  backend/plugin/advisor/mysql/advisor_statement_disallow_using_filesort.go
  backend/plugin/advisor/mysql/advisor_statement_disallow_using_temporary.go
  backend/plugin/advisor/mysql/advisor_statement_dml_dry_run.go
  backend/plugin/advisor/mysql/advisor_statement_query_minumum_plan_level.go
  backend/plugin/advisor/mysql/advisor_statement_select_full_table_scan.go
  backend/plugin/advisor/oracle/advisor_statement_dml_dry_run.go
  backend/plugin/advisor/pg/advisor_insert_row_limit.go
  backend/plugin/advisor/pg/advisor_statement_affected_row_limit.go
  backend/plugin/advisor/pg/advisor_statement_dml_dry_run.go
  backend/plugin/advisor/tidb/advisor_statement_dml_dry_run.go
  backend/plugin/advisor/utils.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix(sql-review): run set role for Query (#14133)
  backend/plugin/advisor/mysql/advisor_insert_row_limit.go
  backend/plugin/advisor/mysql/advisor_statement_affected_row_limit.go
  backend/plugin/advisor/mysql/advisor_statement_disallow_using_filesort.go
  backend/plugin/advisor/mysql/advisor_statement_disallow_using_temporary.go
  backend/plugin/advisor/mysql/advisor_statement_dml_dry_run.go
  backend/plugin/advisor/mysql/advisor_statement_query_minumum_plan_level.go
  backend/plugin/advisor/mysql/advisor_statement_select_full_table_scan.go
  backend/plugin/advisor/oracle/advisor_statement_dml_dry_run.go
  backend/plugin/advisor/pg/advisor_insert_row_limit.go
  backend/plugin/advisor/pg/advisor_statement_affected_row_limit.go
  backend/plugin/advisor/pg/advisor_statement_dml_dry_run.go
  backend/plugin/advisor/tidb/advisor_statement_dml_dry_run.go
  backend/plugin/advisor/utils.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix(sql-review): run set role for Query (#14133)
  backend/plugin/advisor/mysql/advisor_insert_row_limit.go
  backend/plugin/advisor/mysql/advisor_statement_affected_row_limit.go
  backend/plugin/advisor/mysql/advisor_statement_disallow_using_filesort.go
  backend/plugin/advisor/mysql/advisor_statement_disallow_using_temporary.go
  backend/plugin/advisor/mysql/advisor_statement_dml_dry_run.go
  backend/plugin/advisor/mysql/advisor_statement_query_minumum_plan_level.go
  backend/plugin/advisor/mysql/advisor_statement_select_full_table_scan.go
  backend/plugin/advisor/oracle/advisor_statement_dml_dry_run.go
  backend/plugin/advisor/pg/advisor_insert_row_limit.go
  backend/plugin/advisor/pg/advisor_statement_affected_row_limit.go
  backend/plugin/advisor/pg/advisor_statement_dml_dry_run.go
  backend/plugin/advisor/tidb/advisor_statement_dml_dry_run.go
  backend/plugin/advisor/utils.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: add query mode switch button
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/sqlEditor/editor.ts
  frontend/src/types/sqlEditor/tab.ts
  frontend/src/utils/sqlEditor.ts
  frontend/src/views/sql-editor/EditorCommon/EditorAction.vue
  frontend/src/views/sql-editor/EditorCommon/QueryModeButton.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: minor updates
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/sql-editor/EditorCommon/QueryModeButton.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: lint
  backend/api/v1/sql_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: switch query/execute when calling
  frontend/src/composables/useExecuteSQL.ts
  frontend/src/types/sqlEditor/editor.ts
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/actions.tsx
  frontend/src/views/sql-editor/EditorCommon/BatchQueryDatabasesSelector.vue
  frontend/src/views/sql-editor/EditorCommon/EditorAction.vue
  frontend/src/views/sql-editor/EditorCommon/QueryModeButton.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/Panels.vue
  frontend/src/views/sql-editor/EditorPanel/StandardPanel/SQLEditor.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: revert
  backend/api/v1/sql_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: add link
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/sql-editor/EditorCommon/QueryModeButton.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: simplify
  frontend/src/types/sqlEditor/editor.ts
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/actions.tsx
  frontend/src/views/sql-editor/EditorCommon/EditorAction.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/Panels.vue
  frontend/src/views/sql-editor/EditorPanel/StandardPanel/SQLEditor.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add empty line
  backend/component/iam/acl.yaml
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: revert
  frontend/src/components/ProjectMember/AddProjectMember/AddProjectMemberForm.vue
  frontend/src/components/ProjectMember/ProjectMemberRolePanel/index.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove debug
  frontend/src/views/sql-editor/EditorCommon/QueryModeButton.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

remove disallow-mix-ddl-dml
  backend/plugin/advisor/code.go
  backend/plugin/advisor/mssql/advisor_statement_disallow_mix_ddl_dml.go
  backend/plugin/advisor/mssql/mssql_rules_test.go
  backend/plugin/advisor/mssql/test/statement_disallow_mix_ddl_dml.yaml
  backend/plugin/advisor/mysql/advisor_statement_disallow_mix_ddl_dml.go
  backend/plugin/advisor/mysql/mysql_rules_test.go
  backend/plugin/advisor/mysql/test/statement_disallow_mix_ddl_dml.yaml
  backend/plugin/advisor/oracle/advisor_statement_disallow_mix_ddl_dml.go
  backend/plugin/advisor/oracle/oracle_rules_test.go
  backend/plugin/advisor/oracle/test/statement_disallow_mix_ddl_dml.yaml
  backend/plugin/advisor/pg/advisor_statement_disallow_mix_ddl_dml.go
  backend/plugin/advisor/pg/test/statement_disallow_mix_ddl_dml.yaml
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/tidb/advisor_statement_disallow_mix_ddl_dml.go
  backend/plugin/advisor/tidb/test/statement_disallow_mix_ddl_dml.yaml
  backend/plugin/advisor/utils_for_tests.go
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sql-review.dev.yaml
  frontend/src/types/sql-review.prod.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

migrate
  backend/migrator/migration/prod/3.0/0000##migrate_ddl_dml_mix_rule.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: use correct field
  frontend/src/views/sql-editor/EditorCommon/ExecuteHint.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: bigquery query span simple select *
  backend/plugin/parser/bigquery/query_span_extractor.go
  backend/plugin/parser/bigquery/test-data/query-span/standard.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: use correct field
  frontend/src/composables/useExecuteSQL.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: go mod tidy
  go.mod
  go.sum
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

update i18n
  frontend/src/locales/sql-review/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: lint
  backend/plugin/parser/bigquery/query_span_extractor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(bigquery): bigquery query span simple select * (#14136)
  backend/plugin/parser/bigquery/query_span_extractor.go
  backend/plugin/parser/bigquery/test-data/query-span/standard.yaml
  go.mod
  go.sum
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

feat(bigquery): bigquery query span simple select * (#14136)
  backend/plugin/parser/bigquery/query_span_extractor.go
  backend/plugin/parser/bigquery/test-data/query-span/standard.yaml
  go.mod
  go.sum
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

feat(bigquery): bigquery query span simple select * (#14136)
  backend/plugin/parser/bigquery/query_span_extractor.go
  backend/plugin/parser/bigquery/test-data/query-span/standard.yaml
  go.mod
  go.sum
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

update sql, keep `comment`
  backend/migrator/migration/prod/3.0/0000##migrate_ddl_dml_mix_rule.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: migrate disallow mix ddl dml (#14137)
  backend/migrator/migration/prod/3.0/0000##migrate_ddl_dml_mix_rule.sql
  backend/migrator/migrator_test.go
  backend/plugin/advisor/code.go
  backend/plugin/advisor/mssql/advisor_statement_disallow_mix_ddl_dml.go
  backend/plugin/advisor/mssql/mssql_rules_test.go
  backend/plugin/advisor/mssql/test/statement_disallow_mix_ddl_dml.yaml
  backend/plugin/advisor/mysql/advisor_statement_disallow_mix_ddl_dml.go
  backend/plugin/advisor/mysql/mysql_rules_test.go
  backend/plugin/advisor/mysql/test/statement_disallow_mix_ddl_dml.yaml
  backend/plugin/advisor/oracle/advisor_statement_disallow_mix_ddl_dml.go
  backend/plugin/advisor/oracle/oracle_rules_test.go
  backend/plugin/advisor/oracle/test/statement_disallow_mix_ddl_dml.yaml
  backend/plugin/advisor/pg/advisor_statement_disallow_mix_ddl_dml.go
  backend/plugin/advisor/pg/test/statement_disallow_mix_ddl_dml.yaml
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/tidb/advisor_statement_disallow_mix_ddl_dml.go
  backend/plugin/advisor/tidb/test/statement_disallow_mix_ddl_dml.yaml
  backend/plugin/advisor/utils_for_tests.go
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sql-review.dev.yaml
  frontend/src/types/sql-review.prod.yaml
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

feat: migrate disallow mix ddl dml (#14137)
  backend/migrator/migration/prod/3.0/0000##migrate_ddl_dml_mix_rule.sql
  backend/migrator/migrator_test.go
  backend/plugin/advisor/code.go
  backend/plugin/advisor/mssql/advisor_statement_disallow_mix_ddl_dml.go
  backend/plugin/advisor/mssql/mssql_rules_test.go
  backend/plugin/advisor/mssql/test/statement_disallow_mix_ddl_dml.yaml
  backend/plugin/advisor/mysql/advisor_statement_disallow_mix_ddl_dml.go
  backend/plugin/advisor/mysql/mysql_rules_test.go
  backend/plugin/advisor/mysql/test/statement_disallow_mix_ddl_dml.yaml
  backend/plugin/advisor/oracle/advisor_statement_disallow_mix_ddl_dml.go
  backend/plugin/advisor/oracle/oracle_rules_test.go
  backend/plugin/advisor/oracle/test/statement_disallow_mix_ddl_dml.yaml
  backend/plugin/advisor/pg/advisor_statement_disallow_mix_ddl_dml.go
  backend/plugin/advisor/pg/test/statement_disallow_mix_ddl_dml.yaml
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/tidb/advisor_statement_disallow_mix_ddl_dml.go
  backend/plugin/advisor/tidb/test/statement_disallow_mix_ddl_dml.yaml
  backend/plugin/advisor/utils_for_tests.go
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sql-review.dev.yaml
  frontend/src/types/sql-review.prod.yaml
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

feat: migrate disallow mix ddl dml (#14137)
  backend/migrator/migration/prod/3.0/0000##migrate_ddl_dml_mix_rule.sql
  backend/migrator/migrator_test.go
  backend/plugin/advisor/code.go
  backend/plugin/advisor/mssql/advisor_statement_disallow_mix_ddl_dml.go
  backend/plugin/advisor/mssql/mssql_rules_test.go
  backend/plugin/advisor/mssql/test/statement_disallow_mix_ddl_dml.yaml
  backend/plugin/advisor/mysql/advisor_statement_disallow_mix_ddl_dml.go
  backend/plugin/advisor/mysql/mysql_rules_test.go
  backend/plugin/advisor/mysql/test/statement_disallow_mix_ddl_dml.yaml
  backend/plugin/advisor/oracle/advisor_statement_disallow_mix_ddl_dml.go
  backend/plugin/advisor/oracle/oracle_rules_test.go
  backend/plugin/advisor/oracle/test/statement_disallow_mix_ddl_dml.yaml
  backend/plugin/advisor/pg/advisor_statement_disallow_mix_ddl_dml.go
  backend/plugin/advisor/pg/test/statement_disallow_mix_ddl_dml.yaml
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/tidb/advisor_statement_disallow_mix_ddl_dml.go
  backend/plugin/advisor/tidb/test/statement_disallow_mix_ddl_dml.yaml
  backend/plugin/advisor/utils_for_tests.go
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sql-review.dev.yaml
  frontend/src/types/sql-review.prod.yaml
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

chore: bump version to 3.0.0
  scripts/VERSION
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: bump version to 3.0.0 (#14138)
  scripts/VERSION
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: bump version to 3.0.0 (#14138)
  scripts/VERSION
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: bump version to 3.0.0 (#14138)
  scripts/VERSION
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: bump version to 3.0.0 (#14138)
  scripts/VERSION
Owners: @d-bytebase, @bytebase/bytebase-dev

Update backend/plugin/db/redis/sync.go
  backend/plugin/db/redis/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

Update backend/plugin/db/redis/sync.go
  backend/plugin/db/redis/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore(sql-review-rules): require charset/collation for tables in mysql
  backend/plugin/advisor/code.go
  backend/plugin/advisor/mysql/advisor_table_require_charset.go
  backend/plugin/advisor/mysql/advisor_table_require_collation.go
  backend/plugin/advisor/sql_review.go
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sql-review.prod.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: update
  backend/plugin/advisor/mysql/advisor_table_require_charset.go
  backend/plugin/advisor/mysql/advisor_table_require_collation.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
