Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

update
  backend/api/v1/plan_service_plan_check.go
  backend/api/v1/project_service.go
  backend/api/v1/rollout_service.go
  backend/runner/taskrun/database_create_executor.go
  backend/store/deploy.go
  backend/utils/utils.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat(proto): add output only id
  frontend/src/types/proto/v1/project_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/project_service.pb.go
  proto/v1/project_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

convert
  backend/api/v1/project_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix lint
  frontend/src/components/ProjectDeploymentConfigPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix test
  backend/api/v1/project_service_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix test
  backend/utils/utils_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: fix sequence dependency
  backend/plugin/db/pg/dump.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix test
  backend/api/v1/project_service_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix test
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: migrate deployment config store to proto (#14651)
  backend/api/v1/plan_service_plan_check.go
  backend/api/v1/project_service.go
  backend/api/v1/project_service_test.go
  backend/api/v1/rollout_service.go
  backend/migrator/migration/prod/3.1/0003##deployment_config_use_proto.sql
  backend/migrator/migrator_test.go
  backend/runner/taskrun/database_create_executor.go
  backend/store/deploy.go
  backend/utils/utils.go
  backend/utils/utils_test.go
  frontend/src/components/ProjectDeploymentConfigPanel.vue
  frontend/src/types/proto/store/deployment_config.ts
  frontend/src/types/proto/v1/project_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/deployment_config.pb.go
  proto/generated-go/v1/project_service.pb.go
  proto/store/deployment_config.proto
  proto/v1/project_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

feat: migrate deployment config store to proto (#14651)
  backend/api/v1/plan_service_plan_check.go
  backend/api/v1/project_service.go
  backend/api/v1/project_service_test.go
  backend/api/v1/rollout_service.go
  backend/migrator/migration/prod/3.1/0003##deployment_config_use_proto.sql
  backend/migrator/migrator_test.go
  backend/runner/taskrun/database_create_executor.go
  backend/store/deploy.go
  backend/utils/utils.go
  backend/utils/utils_test.go
  frontend/src/components/ProjectDeploymentConfigPanel.vue
  frontend/src/types/proto/store/deployment_config.ts
  frontend/src/types/proto/v1/project_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/deployment_config.pb.go
  proto/generated-go/v1/project_service.pb.go
  proto/store/deployment_config.proto
  proto/v1/project_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

feat: migrate deployment config store to proto (#14651)
  backend/api/v1/plan_service_plan_check.go
  backend/api/v1/project_service.go
  backend/api/v1/project_service_test.go
  backend/api/v1/rollout_service.go
  backend/migrator/migration/prod/3.1/0003##deployment_config_use_proto.sql
  backend/migrator/migrator_test.go
  backend/runner/taskrun/database_create_executor.go
  backend/store/deploy.go
  backend/utils/utils.go
  backend/utils/utils_test.go
  frontend/src/components/ProjectDeploymentConfigPanel.vue
  frontend/src/types/proto/store/deployment_config.ts
  frontend/src/types/proto/v1/project_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/deployment_config.pb.go
  proto/generated-go/v1/project_service.pb.go
  proto/store/deployment_config.proto
  proto/v1/project_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: hover panels legacy
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/SchemaPane.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

add model name setting when calling openai api instead of hardcode gpt3.5
  backend/api/v1/database_service.go
  backend/api/v1/setting_service.go
  backend/legacyapi/setting.go
  backend/server/init.go
  frontend/src/components/GeneralSetting/AIAugmentationSetting.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/plugins/ai/components/ChatPanel.vue
  frontend/src/plugins/ai/components/ProvideAIContext.vue
  frontend/src/plugins/ai/logic/useDynamicSuggestions.ts
  frontend/src/plugins/ai/types/context.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: tweaking
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/HoverPanel/CodeViewer.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/HoverPanel/ColumnInfo.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/HoverPanel/CommonText.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/HoverPanel/FunctionInfo.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/HoverPanel/HoverPanel.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/HoverPanel/InfoItem.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/HoverPanel/ProcedureInfo.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/HoverPanel/TableInfo.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/HoverPanel/ViewInfo.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/HoverPanel/hover-state.ts
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/SchemaPane.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/ColumnNode.vue
  frontend/src/views/sql-editor/EditorCommon/hover-state.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: style
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/HoverPanel/CommonText.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: comments
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/SchemaPane.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: fix mysql dump index key part
  backend/plugin/schema/mysql/stringify_table.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: fix mysql dump index key part (#14654)
  backend/plugin/schema/mysql/stringify_table.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: fix mysql dump index key part (#14654)
  backend/plugin/schema/mysql/stringify_table.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: fix mysql dump index key part (#14654)
  backend/plugin/schema/mysql/stringify_table.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: fix mysql dump index key part (#14654)
  backend/plugin/schema/mysql/stringify_table.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: eslint
  frontend/src/components/TableDetailDrawer.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: add database name for backup table
  backend/plugin/parser/mysql/backup.go
  backend/plugin/parser/plsql/backup.go
  backend/plugin/parser/tidb/backup.go
  backend/plugin/parser/tsql/backup.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: fix tests
  backend/plugin/parser/mysql/test-data/test_backup.yaml
  backend/plugin/parser/plsql/test-data/test_backup.yaml
  backend/plugin/parser/tidb/test-data/test_backup.yaml
  backend/plugin/parser/tsql/test-data/test_backup.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: add database name for backup table (#14657)
  backend/plugin/parser/mysql/backup.go
  backend/plugin/parser/mysql/test-data/test_backup.yaml
  backend/plugin/parser/plsql/backup.go
  backend/plugin/parser/plsql/test-data/test_backup.yaml
  backend/plugin/parser/tidb/backup.go
  backend/plugin/parser/tidb/test-data/test_backup.yaml
  backend/plugin/parser/tsql/backup.go
  backend/plugin/parser/tsql/test-data/test_backup.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: add database name for backup table (#14657)
  backend/plugin/parser/mysql/backup.go
  backend/plugin/parser/mysql/test-data/test_backup.yaml
  backend/plugin/parser/plsql/backup.go
  backend/plugin/parser/plsql/test-data/test_backup.yaml
  backend/plugin/parser/tidb/backup.go
  backend/plugin/parser/tidb/test-data/test_backup.yaml
  backend/plugin/parser/tsql/backup.go
  backend/plugin/parser/tsql/test-data/test_backup.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: add database name for backup table (#14657)
  backend/plugin/parser/mysql/backup.go
  backend/plugin/parser/mysql/test-data/test_backup.yaml
  backend/plugin/parser/plsql/backup.go
  backend/plugin/parser/plsql/test-data/test_backup.yaml
  backend/plugin/parser/tidb/backup.go
  backend/plugin/parser/tidb/test-data/test_backup.yaml
  backend/plugin/parser/tsql/backup.go
  backend/plugin/parser/tsql/test-data/test_backup.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore(sql-editor): hover tooltips improvements (#14652)
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/HoverPanel/CodeViewer.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/HoverPanel/ColumnInfo.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/HoverPanel/CommonText.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/HoverPanel/FunctionInfo.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/HoverPanel/HoverPanel.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/HoverPanel/InfoItem.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/HoverPanel/ProcedureInfo.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/HoverPanel/TableInfo.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/HoverPanel/ViewInfo.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/HoverPanel/hover-state.ts
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/SchemaPane.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/ColumnNode.vue
  frontend/src/views/sql-editor/EditorCommon/hover-state.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(sql-editor): hover tooltips improvements (#14652)
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/HoverPanel/CodeViewer.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/HoverPanel/ColumnInfo.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/HoverPanel/CommonText.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/HoverPanel/FunctionInfo.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/HoverPanel/HoverPanel.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/HoverPanel/InfoItem.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/HoverPanel/ProcedureInfo.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/HoverPanel/TableInfo.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/HoverPanel/ViewInfo.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/HoverPanel/hover-state.ts
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/SchemaPane.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/ColumnNode.vue
  frontend/src/views/sql-editor/EditorCommon/hover-state.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(sql-editor): hover tooltips improvements (#14652)
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/HoverPanel/CodeViewer.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/HoverPanel/ColumnInfo.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/HoverPanel/CommonText.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/HoverPanel/FunctionInfo.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/HoverPanel/HoverPanel.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/HoverPanel/InfoItem.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/HoverPanel/ProcedureInfo.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/HoverPanel/TableInfo.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/HoverPanel/ViewInfo.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/HoverPanel/hover-state.ts
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/SchemaPane.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/ColumnNode.vue
  frontend/src/views/sql-editor/EditorCommon/hover-state.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: introduce partition indexes
  frontend/src/types/proto/store/database.ts
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/database.pb.go
  proto/generated-go/v1/database_service.pb.go
  proto/store/database.proto
  proto/v1/database_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: introduce partition indexes (#14658)
  frontend/src/types/proto/store/database.ts
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/database.pb.go
  proto/generated-go/v1/database_service.pb.go
  proto/store/database.proto
  proto/v1/database_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: introduce partition indexes (#14658)
  frontend/src/types/proto/store/database.ts
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/database.pb.go
  proto/generated-go/v1/database_service.pb.go
  proto/store/database.proto
  proto/v1/database_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: introduce partition indexes (#14658)
  frontend/src/types/proto/store/database.ts
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/database.pb.go
  proto/generated-go/v1/database_service.pb.go
  proto/store/database.proto
  proto/v1/database_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

feat(proto): plan snapshot
  frontend/src/types/proto/store/plan.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/plan.pb.go
  proto/store/plan.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

feat: sync partition table indexes
  backend/api/v1/database_converter.go
  backend/plugin/db/pg/sync.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

feat: sync partition table indexes (#14659)
  backend/api/v1/database_converter.go
  backend/plugin/db/pg/sync.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

feat: sync partition table indexes (#14659)
  backend/api/v1/database_converter.go
  backend/plugin/db/pg/sync.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

feat: sync partition table indexes (#14659)
  backend/api/v1/database_converter.go
  backend/plugin/db/pg/sync.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
