Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

fix: title (#12364)
  backend/component/webhook/manager.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: title (#12364)
  backend/component/webhook/manager.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

refactor: local storage key namespace by user uid (#12348)
  frontend/src/store/modules/sqlEditor/tab.ts
  frontend/src/utils/web-storage.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

refactor: local storage key namespace by user uid (#12348)
  frontend/src/store/modules/sqlEditor/tab.ts
  frontend/src/utils/web-storage.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

refactor: local storage key namespace by user uid (#12348)
  frontend/src/store/modules/sqlEditor/tab.ts
  frontend/src/utils/web-storage.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: adjust default column width
  frontend/src/components/Changelist/ChangelistDetail/AddChangePanel/form/ChangeHistoryTable/ChangeHistoryTable.vue
  frontend/src/components/Changelist/ChangelistDetail/AddChangePanel/form/ChangeHistoryTable/IssueUID.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: adjust default column width (#12366)
  frontend/src/components/Changelist/ChangelistDetail/AddChangePanel/form/ChangeHistoryTable/ChangeHistoryTable.vue
  frontend/src/components/Changelist/ChangelistDetail/AddChangePanel/form/ChangeHistoryTable/IssueUID.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: adjust default column width (#12366)
  frontend/src/components/Changelist/ChangelistDetail/AddChangePanel/form/ChangeHistoryTable/ChangeHistoryTable.vue
  frontend/src/components/Changelist/ChangelistDetail/AddChangePanel/form/ChangeHistoryTable/IssueUID.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: adjust default column width (#12366)
  frontend/src/components/Changelist/ChangelistDetail/AddChangePanel/form/ChangeHistoryTable/ChangeHistoryTable.vue
  frontend/src/components/Changelist/ChangelistDetail/AddChangePanel/form/ChangeHistoryTable/IssueUID.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: optimize project select in db transfer
  frontend/src/components/TransferOutDatabaseForm/TransferOutDatabaseForm.vue
  frontend/src/components/v2/Select/ProjectSelect.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: optimize project select in db transfer (#12367)
  frontend/src/components/TransferOutDatabaseForm/TransferOutDatabaseForm.vue
  frontend/src/components/v2/Select/ProjectSelect.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: optimize project select in db transfer (#12367)
  frontend/src/components/TransferOutDatabaseForm/TransferOutDatabaseForm.vue
  frontend/src/components/v2/Select/ProjectSelect.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: optimize project select in db transfer (#12367)
  frontend/src/components/TransferOutDatabaseForm/TransferOutDatabaseForm.vue
  frontend/src/components/v2/Select/ProjectSelect.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: adjust default column width (#12366)
  frontend/src/components/Changelist/ChangelistDetail/AddChangePanel/form/ChangeHistoryTable/ChangeHistoryTable.vue
  frontend/src/components/Changelist/ChangelistDetail/AddChangePanel/form/ChangeHistoryTable/IssueUID.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: optimize project select in db transfer (#12367)
  frontend/src/components/TransferOutDatabaseForm/TransferOutDatabaseForm.vue
  frontend/src/components/v2/Select/ProjectSelect.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: adjust default column width (#12366)
  frontend/src/components/Changelist/ChangelistDetail/AddChangePanel/form/ChangeHistoryTable/ChangeHistoryTable.vue
  frontend/src/components/Changelist/ChangelistDetail/AddChangePanel/form/ChangeHistoryTable/IssueUID.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: optimize project select in db transfer (#12367)
  frontend/src/components/TransferOutDatabaseForm/TransferOutDatabaseForm.vue
  frontend/src/components/v2/Select/ProjectSelect.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: support sql server tls
  backend/plugin/db/mssql/mssql.go
  frontend/src/components/InstanceForm/DataSourceSection/SslCertificateForm.vue
  frontend/src/utils/v1/instance.ts
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

feat: support sql server tls (#12369)
  backend/plugin/db/mssql/mssql.go
  frontend/src/components/InstanceForm/DataSourceSection/SslCertificateForm.vue
  frontend/src/utils/v1/instance.ts
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

feat: support sql server tls (#12369)
  backend/plugin/db/mssql/mssql.go
  frontend/src/components/InstanceForm/DataSourceSection/SslCertificateForm.vue
  frontend/src/utils/v1/instance.ts
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

feat: support sql server tls (#12369)
  backend/plugin/db/mssql/mssql.go
  frontend/src/components/InstanceForm/DataSourceSection/SslCertificateForm.vue
  frontend/src/utils/v1/instance.ts
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

feat(databricks): fix sync
  backend/plugin/db/databricks/databricks.go
  backend/plugin/db/databricks/dump.go
  backend/plugin/db/databricks/role.go
  backend/plugin/db/databricks/sync.go
  backend/plugin/db/driver.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update allUsers in IAM policy
  backend/api/v1/org_policy_service.go
  backend/api/v1/project_service.go
  backend/component/webhook/manager.go
  backend/migrator/migration/prod/2.20/0000##iam_policy_all_users.sql
  backend/migrator/migrator_test.go
  backend/runner/mail/slow_query_weekly_mail.go
  backend/store/principal.go
  backend/utils/member.go
  backend/utils/utils.go
  frontend/src/components/ProjectMember/ProjectMemberRolePanel/index.vue
  frontend/src/types/v1/user.ts
  frontend/src/utils/v1/project.ts
  frontend/src/views/ProfileDashboard.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: lint
  backend/plugin/db/databricks/dump.go
  backend/plugin/db/databricks/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: resolve comment
  backend/utils/member.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: sync generated column info for mysql
  backend/api/v1/database_converter.go
  backend/plugin/db/mysql/sync.go
  frontend/src/types/proto/google/protobuf/any.ts
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/google/protobuf/struct.ts
  frontend/src/types/proto/google/protobuf/timestamp.ts
  frontend/src/types/proto/store/database.ts
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/database.pb.go
  proto/generated-go/v1/database_service.pb.go
  proto/store/database.proto
  proto/v1/database_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack, @RainbowDashy

feat(databricks): fix sync (#12370)
  backend/plugin/db/databricks/databricks.go
  backend/plugin/db/databricks/role.go
  backend/plugin/db/databricks/sync.go
  backend/plugin/db/driver.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(databricks): fix sync (#12370)
  backend/plugin/db/databricks/databricks.go
  backend/plugin/db/databricks/role.go
  backend/plugin/db/databricks/sync.go
  backend/plugin/db/driver.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(databricks): fix sync (#12370)
  backend/plugin/db/databricks/databricks.go
  backend/plugin/db/databricks/role.go
  backend/plugin/db/databricks/sync.go
  backend/plugin/db/driver.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update allUsers in IAM policy (#12371)
  backend/api/v1/org_policy_service.go
  backend/api/v1/project_service.go
  backend/component/webhook/manager.go
  backend/migrator/migration/prod/2.20/0000##iam_policy_all_users.sql
  backend/migrator/migrator_test.go
  backend/runner/mail/slow_query_weekly_mail.go
  backend/store/principal.go
  backend/utils/member.go
  backend/utils/utils.go
  frontend/src/components/ProjectMember/ProjectMemberRolePanel/index.vue
  frontend/src/types/v1/user.ts
  frontend/src/utils/v1/project.ts
  frontend/src/views/ProfileDashboard.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: update allUsers in IAM policy (#12371)
  backend/api/v1/org_policy_service.go
  backend/api/v1/project_service.go
  backend/component/webhook/manager.go
  backend/migrator/migration/prod/2.20/0000##iam_policy_all_users.sql
  backend/migrator/migrator_test.go
  backend/runner/mail/slow_query_weekly_mail.go
  backend/store/principal.go
  backend/utils/member.go
  backend/utils/utils.go
  frontend/src/components/ProjectMember/ProjectMemberRolePanel/index.vue
  frontend/src/types/v1/user.ts
  frontend/src/utils/v1/project.ts
  frontend/src/views/ProfileDashboard.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: update allUsers in IAM policy (#12371)
  backend/api/v1/org_policy_service.go
  backend/api/v1/project_service.go
  backend/component/webhook/manager.go
  backend/migrator/migration/prod/2.20/0000##iam_policy_all_users.sql
  backend/migrator/migrator_test.go
  backend/runner/mail/slow_query_weekly_mail.go
  backend/store/principal.go
  backend/utils/member.go
  backend/utils/utils.go
  frontend/src/components/ProjectMember/ProjectMemberRolePanel/index.vue
  frontend/src/types/v1/user.ts
  frontend/src/utils/v1/project.ts
  frontend/src/views/ProfileDashboard.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: allow setting earliest allowed time to database group issues
  frontend/src/components/IssueV1/components/Sidebar/EarliestAllowedTime.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: sync generated column info for mysql (#12372)
  backend/api/v1/database_converter.go
  backend/plugin/db/mysql/sync.go
  frontend/src/types/proto/google/protobuf/any.ts
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/google/protobuf/struct.ts
  frontend/src/types/proto/google/protobuf/timestamp.ts
  frontend/src/types/proto/store/database.ts
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/database.pb.go
  proto/generated-go/v1/database_service.pb.go
  proto/store/database.proto
  proto/v1/database_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack, @RainbowDashy

feat: sync generated column info for mysql (#12372)
  backend/api/v1/database_converter.go
  backend/plugin/db/mysql/sync.go
  frontend/src/types/proto/google/protobuf/any.ts
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/google/protobuf/struct.ts
  frontend/src/types/proto/google/protobuf/timestamp.ts
  frontend/src/types/proto/store/database.ts
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/database.pb.go
  proto/generated-go/v1/database_service.pb.go
  proto/store/database.proto
  proto/v1/database_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack, @RainbowDashy

feat: sync generated column info for mysql (#12372)
  backend/api/v1/database_converter.go
  backend/plugin/db/mysql/sync.go
  frontend/src/types/proto/google/protobuf/any.ts
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/google/protobuf/struct.ts
  frontend/src/types/proto/google/protobuf/timestamp.ts
  frontend/src/types/proto/store/database.ts
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/database.pb.go
  proto/generated-go/v1/database_service.pb.go
  proto/store/database.proto
  proto/v1/database_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack, @RainbowDashy

chore: allow setting earliest allowed time to database group issues (#12373)
  frontend/src/components/IssueV1/components/Sidebar/EarliestAllowedTime.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: allow setting earliest allowed time to database group issues (#12373)
  frontend/src/components/IssueV1/components/Sidebar/EarliestAllowedTime.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: allow setting earliest allowed time to database group issues (#12373)
  frontend/src/components/IssueV1/components/Sidebar/EarliestAllowedTime.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: parse backup table name correctly
  backend/api/v1/sql_service.go
  backend/api/v1/sql_service_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
