Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev

fix: eslint
  frontend/src/components/BytebaseLogo.vue
  frontend/src/components/CommonSidebar.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(backup): support MySQL generated column
  backend/plugin/parser/base/interface.go
  backend/plugin/parser/base/transform.go
  backend/plugin/parser/mysql/backup.go
  backend/plugin/parser/mysql/backup_test.go
  backend/plugin/parser/mysql/test-data/test_backup.yaml
  backend/plugin/parser/pg/backup.go
  backend/plugin/parser/pg/backup_test.go
  backend/plugin/parser/plsql/backup.go
  backend/plugin/parser/plsql/backup_test.go
  backend/plugin/parser/tidb/backup.go
  backend/plugin/parser/tsql/backup.go
  backend/plugin/parser/tsql/backup_test.go
  backend/runner/taskrun/data_update_executor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

chore: update
  frontend/src/components/Project/ProjectSwitchModal.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: apply update diff of view/procedure/function
  backend/api/v1/schema_design_merge.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: apply update diff of view/procedure/function (#13310)
  backend/api/v1/schema_design_merge.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: apply update diff of view/procedure/function (#13310)
  backend/api/v1/schema_design_merge.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: apply update diff of view/procedure/function (#13310)
  backend/api/v1/schema_design_merge.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  frontend/src/DummyRootView.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: handle onupdate of branch
  backend/api/v1/schema_design_merge.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: fix linter errors
  backend/plugin/parser/base/interface.go
  backend/runner/taskrun/data_update_executor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

fix: handle onupdate of branch (#13312)
  backend/api/v1/schema_design_merge.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: handle onupdate of branch (#13312)
  backend/api/v1/schema_design_merge.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: handle onupdate of branch (#13312)
  backend/api/v1/schema_design_merge.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore(backup): support MySQL generated column (#13309)
  backend/plugin/parser/base/interface.go
  backend/plugin/parser/base/transform.go
  backend/plugin/parser/mysql/backup.go
  backend/plugin/parser/mysql/backup_test.go
  backend/plugin/parser/mysql/test-data/test_backup.yaml
  backend/plugin/parser/pg/backup.go
  backend/plugin/parser/pg/backup_test.go
  backend/plugin/parser/plsql/backup.go
  backend/plugin/parser/plsql/backup_test.go
  backend/plugin/parser/tidb/backup.go
  backend/plugin/parser/tsql/backup.go
  backend/plugin/parser/tsql/backup_test.go
  backend/runner/taskrun/data_update_executor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

chore(backup): support MySQL generated column (#13309)
  backend/plugin/parser/base/interface.go
  backend/plugin/parser/base/transform.go
  backend/plugin/parser/mysql/backup.go
  backend/plugin/parser/mysql/backup_test.go
  backend/plugin/parser/mysql/test-data/test_backup.yaml
  backend/plugin/parser/pg/backup.go
  backend/plugin/parser/pg/backup_test.go
  backend/plugin/parser/plsql/backup.go
  backend/plugin/parser/plsql/backup_test.go
  backend/plugin/parser/tidb/backup.go
  backend/plugin/parser/tsql/backup.go
  backend/plugin/parser/tsql/backup_test.go
  backend/runner/taskrun/data_update_executor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

chore(backup): support MySQL generated column (#13309)
  backend/plugin/parser/base/interface.go
  backend/plugin/parser/base/transform.go
  backend/plugin/parser/mysql/backup.go
  backend/plugin/parser/mysql/backup_test.go
  backend/plugin/parser/mysql/test-data/test_backup.yaml
  backend/plugin/parser/pg/backup.go
  backend/plugin/parser/pg/backup_test.go
  backend/plugin/parser/plsql/backup.go
  backend/plugin/parser/plsql/backup_test.go
  backend/plugin/parser/tidb/backup.go
  backend/plugin/parser/tsql/backup.go
  backend/plugin/parser/tsql/backup_test.go
  backend/runner/taskrun/data_update_executor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

chore: improve equal view
  .vscode/settings.json
  backend/api/v1/schema_design_merge.go
  backend/api/v1/schema_design_merge_test.go
Owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao

chore(restore): support MySQL generated column
  backend/api/v1/sql_service.go
  backend/plugin/parser/base/interface.go
  backend/plugin/parser/base/restore.go
  backend/plugin/parser/mysql/backup.go
  backend/plugin/parser/mysql/restore.go
  backend/plugin/parser/mysql/restore_test.go
  backend/plugin/parser/mysql/test-data/test_restore.yaml
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: only record project switch (#13311)
  frontend/src/DummyRootView.ts
  frontend/src/components/BytebaseLogo.vue
  frontend/src/components/CommonSidebar.vue
  frontend/src/components/KBar/KBarHelper.vue
  frontend/src/components/KBar/useRecentVisit.ts
  frontend/src/components/Project/ProjectSidebarV1.vue
  frontend/src/components/Project/ProjectSwitchModal.vue
  frontend/src/components/v2/Model/ProjectV1Table.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/useRecentVisit.ts
  frontend/src/views/DashboardHeader.vue
  frontend/src/views/DashboardSidebar.vue
  frontend/src/views/SettingSidebar.vue
  frontend/src/views/auth/Signin.vue
  frontend/src/views/auth/Signup.vue
  frontend/src/views/sql-editor/EditorPanel/Welcome/Welcome.vue
  frontend/src/views/sql-editor/Setting/Sidebar/Sidebar.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: only record project switch (#13311)
  frontend/src/DummyRootView.ts
  frontend/src/components/BytebaseLogo.vue
  frontend/src/components/CommonSidebar.vue
  frontend/src/components/KBar/KBarHelper.vue
  frontend/src/components/KBar/useRecentVisit.ts
  frontend/src/components/Project/ProjectSidebarV1.vue
  frontend/src/components/Project/ProjectSwitchModal.vue
  frontend/src/components/v2/Model/ProjectV1Table.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/useRecentVisit.ts
  frontend/src/views/DashboardHeader.vue
  frontend/src/views/DashboardSidebar.vue
  frontend/src/views/SettingSidebar.vue
  frontend/src/views/auth/Signin.vue
  frontend/src/views/auth/Signup.vue
  frontend/src/views/sql-editor/EditorPanel/Welcome/Welcome.vue
  frontend/src/views/sql-editor/Setting/Sidebar/Sidebar.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: only record project switch (#13311)
  frontend/src/DummyRootView.ts
  frontend/src/components/BytebaseLogo.vue
  frontend/src/components/CommonSidebar.vue
  frontend/src/components/KBar/KBarHelper.vue
  frontend/src/components/KBar/useRecentVisit.ts
  frontend/src/components/Project/ProjectSidebarV1.vue
  frontend/src/components/Project/ProjectSwitchModal.vue
  frontend/src/components/v2/Model/ProjectV1Table.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/useRecentVisit.ts
  frontend/src/views/DashboardHeader.vue
  frontend/src/views/DashboardSidebar.vue
  frontend/src/views/SettingSidebar.vue
  frontend/src/views/auth/Signin.vue
  frontend/src/views/auth/Signup.vue
  frontend/src/views/sql-editor/EditorPanel/Welcome/Welcome.vue
  frontend/src/views/sql-editor/Setting/Sidebar/Sidebar.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: group select
  frontend/src/components/v2/Select/GroupSelect.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: improve equal view (#13313)
  .vscode/settings.json
  backend/api/v1/schema_design_merge.go
  backend/api/v1/schema_design_merge_test.go
Owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao

chore: improve equal view (#13313)
  .vscode/settings.json
  backend/api/v1/schema_design_merge.go
  backend/api/v1/schema_design_merge_test.go
Owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao

chore: improve equal view (#13313)
  .vscode/settings.json
  backend/api/v1/schema_design_merge.go
  backend/api/v1/schema_design_merge_test.go
Owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao

fix: demo image commit id
  .github/workflows/build-push-release-image.yml
Owners: @d-bytebase, @bytebase/bytebase-dev

fix: demo image commit id (#13316)
  .github/workflows/build-push-release-image.yml
Owners: @d-bytebase, @bytebase/bytebase-dev

fix: demo image commit id (#13316)
  .github/workflows/build-push-release-image.yml
Owners: @d-bytebase, @bytebase/bytebase-dev

fix: demo image commit id (#13316)
  .github/workflows/build-push-release-image.yml
Owners: @d-bytebase, @bytebase/bytebase-dev

fix: eslint
  frontend/src/components/v2/Select/GroupSelect.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: try to fix group select (#13315)
  frontend/src/components/v2/Select/GroupSelect.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: try to fix group select (#13315)
  frontend/src/components/v2/Select/GroupSelect.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: try to fix group select (#13315)
  frontend/src/components/v2/Select/GroupSelect.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: demo image commit id (#13316)
  .github/workflows/build-push-release-image.yml
Owners: @d-bytebase, @bytebase/bytebase-dev

fix: demo image commit id (#13316)
  .github/workflows/build-push-release-image.yml
Owners: @d-bytebase, @bytebase/bytebase-dev

fix: try to fix group select (#13315)
  frontend/src/components/v2/Select/GroupSelect.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: try to fix group select (#13315)
  frontend/src/components/v2/Select/GroupSelect.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(restore): support MySQL generated column (#13314)
  backend/api/v1/sql_service.go
  backend/plugin/parser/base/interface.go
  backend/plugin/parser/base/restore.go
  backend/plugin/parser/mysql/backup.go
  backend/plugin/parser/mysql/restore.go
  backend/plugin/parser/mysql/restore_test.go
  backend/plugin/parser/mysql/test-data/test_restore.yaml
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore(restore): support MySQL generated column (#13314)
  backend/api/v1/sql_service.go
  backend/plugin/parser/base/interface.go
  backend/plugin/parser/base/restore.go
  backend/plugin/parser/mysql/backup.go
  backend/plugin/parser/mysql/restore.go
  backend/plugin/parser/mysql/restore_test.go
  backend/plugin/parser/mysql/test-data/test_restore.yaml
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore(restore): support MySQL generated column (#13314)
  backend/api/v1/sql_service.go
  backend/plugin/parser/base/interface.go
  backend/plugin/parser/base/restore.go
  backend/plugin/parser/mysql/backup.go
  backend/plugin/parser/mysql/restore.go
  backend/plugin/parser/mysql/restore_test.go
  backend/plugin/parser/mysql/test-data/test_restore.yaml
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l
