Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @ecmadao, @rebelice, @LiuJi-Jim, @boojack

chore: feature guard to instance SSH connection (#5920)
  backend/legacyapi/plan.go
  frontend/src/components/InstanceForm.vue
  frontend/src/components/InstanceForm/SshConnectionForm.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/plan.ts
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

chore: feature guard to instance SSH connection (#5920)
  backend/legacyapi/plan.go
  frontend/src/components/InstanceForm.vue
  frontend/src/components/InstanceForm/SshConnectionForm.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/plan.ts
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

chore: feature guard to instance SSH connection (#5920)
  backend/legacyapi/plan.go
  frontend/src/components/InstanceForm.vue
  frontend/src/components/InstanceForm/SshConnectionForm.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/plan.ts
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

chore: sort by advice level (error first) (#5913)
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/sql_review.go
  backend/tests/test-data/sql_review_mysql.yaml
  backend/tests/test-data/sql_review_pg.yaml
Owners: @d-bytebase, @ecmadao, @rebelice

chore: sort by advice level (error first) (#5913)
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/sql_review.go
  backend/tests/test-data/sql_review_mysql.yaml
  backend/tests/test-data/sql_review_pg.yaml
Owners: @d-bytebase, @ecmadao, @rebelice

chore: sort by advice level (error first) (#5913)
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/sql_review.go
  backend/tests/test-data/sql_review_mysql.yaml
  backend/tests/test-data/sql_review_pg.yaml
Owners: @d-bytebase, @ecmadao, @rebelice

fix: modal title (#5923)
  frontend/src/components/AnomalyTable.vue
Owners: @LiuJi-Jim, @boojack

fix: modal title (#5923)
  frontend/src/components/AnomalyTable.vue
Owners: @LiuJi-Jim, @boojack

fix: modal title (#5923)
  frontend/src/components/AnomalyTable.vue
Owners: @LiuJi-Jim, @boojack

feat: only enable mybatis sql review for enterprise plan (#5922)
  backend/legacyapi/plan.go
  backend/server/webhook.go
Owners: @d-bytebase, @ecmadao

feat: only enable mybatis sql review for enterprise plan (#5922)
  backend/legacyapi/plan.go
  backend/server/webhook.go
Owners: @d-bytebase, @ecmadao

feat: only enable mybatis sql review for enterprise plan (#5922)
  backend/legacyapi/plan.go
  backend/server/webhook.go
Owners: @d-bytebase, @ecmadao

chore: update version to 2.0.0
  scripts/VERSION
Owners: @d-bytebase, @ecmadao

chore: introduce PLSQL parser
  backend/plugin/parser/sql/plsql.go
  backend/plugin/parser/sql/plsql_test.go
  go.mod
  go.sum
Owners: @d-bytebase, @ecmadao, @rebelice

chore: update version to 2.0.0 (#5924)
  scripts/VERSION
Owners: @d-bytebase, @ecmadao

chore: update version to 2.0.0 (#5924)
  scripts/VERSION
Owners: @d-bytebase, @ecmadao

chore: update version to 2.0.0 (#5924)
  scripts/VERSION
Owners: @d-bytebase, @ecmadao

chore: make linter happy
  backend/plugin/parser/sql/plsql.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: use any instead of interface{}
  backend/plugin/parser/sql/plsql.go
Owners: @d-bytebase, @ecmadao, @rebelice

fix: avoid infinite for-loop
  backend/server/webhook.go
Owners: @d-bytebase, @ecmadao

Update backend/plugin/parser/sql/plsql.go
  backend/plugin/parser/sql/plsql.go
Owners: @d-bytebase, @ecmadao, @rebelice

Update backend/plugin/parser/sql/plsql.go
  backend/plugin/parser/sql/plsql.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: introduce PLSQL parser (#5925)
  backend/plugin/parser/sql/plsql.go
  backend/plugin/parser/sql/plsql_test.go
  go.mod
  go.sum
Owners: @d-bytebase, @ecmadao, @rebelice

chore: introduce PLSQL parser (#5925)
  backend/plugin/parser/sql/plsql.go
  backend/plugin/parser/sql/plsql_test.go
  go.mod
  go.sum
Owners: @d-bytebase, @ecmadao, @rebelice

chore: introduce PLSQL parser (#5925)
  backend/plugin/parser/sql/plsql.go
  backend/plugin/parser/sql/plsql_test.go
  go.mod
  go.sum
Owners: @d-bytebase, @ecmadao, @rebelice

fix: avoid infinite for-loop (#5926)
  backend/server/webhook.go
Owners: @d-bytebase, @ecmadao

fix: avoid infinite for-loop (#5926)
  backend/server/webhook.go
Owners: @d-bytebase, @ecmadao

fix: avoid infinite for-loop (#5926)
  backend/server/webhook.go
Owners: @d-bytebase, @ecmadao

fix: avoid infinite for-loop (#5926)
  backend/server/webhook.go
Owners: @d-bytebase, @ecmadao

fix: fix batch update database query when database is empty
  backend/store/database.go
Owners: @d-bytebase, @ecmadao

fix: avoid infinite for-loop (#5926) (#5928)
  backend/server/webhook.go
Owners: @d-bytebase, @ecmadao

fix: avoid infinite for-loop (#5926) (#5928)
  backend/server/webhook.go
Owners: @d-bytebase, @ecmadao

fix: avoid infinite for-loop (#5926) (#5928)
  backend/server/webhook.go
Owners: @d-bytebase, @ecmadao

feat: add exporter and querier roles
  backend/common/role.go
  backend/legacyapi/issue.go
  backend/store/role.go
  frontend/src/components/CustomApproval/Settings/components/CustomApproval/common/RoleSelect.vue
  frontend/src/components/CustomApproval/Settings/components/common/ExprEditor/ConditionGroup.vue
  frontend/src/components/Project/ProjectSetting/ProjectMemberTable/PrincipalTable.vue
  frontend/src/components/Role/Setting/components/RoleTableRow.vue
  frontend/src/components/v2/Select/ProjectRolesSelect.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/project.ts
  frontend/src/utils/role.ts
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

Update backend/legacyapi/issue.go
  backend/legacyapi/issue.go
Owners: @d-bytebase, @ecmadao

fix: fix batch update database query when database is empty (#5927)
  backend/store/database.go
Owners: @d-bytebase, @ecmadao

fix: fix batch update database query when database is empty (#5927)
  backend/store/database.go
Owners: @d-bytebase, @ecmadao

fix: fix batch update database query when database is empty (#5927)
  backend/store/database.go
Owners: @d-bytebase, @ecmadao

fix: fix batch update database query when database is empty
  backend/store/database.go
Owners: @d-bytebase, @ecmadao

CODEOWNERS:

# Default
*                            @d-bytebase @ecmadao

# Backend and API.
/backend/                    @d-bytebase @ecmadao
/proto/                      @d-bytebase @ecmadao

# Backend SQL kernel.
/backend/plugin/advisor      @d-bytebase @ecmadao @rebelice
/backend/plugin/db           @d-bytebase @ecmadao @rebelice
/backend/plugin/parser       @d-bytebase @ecmadao @rebelice

# Frontend.
/frontend/                   @LiuJi-Jim @boojack

# Dependency files.
frontend/package.json        @d-bytebase @LiuJi-Jim
go.mod                       @d-bytebase @ecmadao
