Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev

chore: update tooltips
  frontend/src/components/IssueV1/components/Sidebar/PreBackupSection/PreBackupSection.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add help icon
  frontend/src/components/IssueV1/components/Sidebar/ReviewSection/ReviewSection.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: implement permission selector
  frontend/src/components/Role/Setting/components/RolePanel.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/store/modules/role.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: skip checking for DiffMetadata (#10463)
  backend/api/v1/acl_config.go
  backend/api/v1/acl_iam.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: skip checking for DiffMetadata (#10463)
  backend/api/v1/acl_config.go
  backend/api/v1/acl_iam.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: skip checking for DiffMetadata (#10463)
  backend/api/v1/acl_config.go
  backend/api/v1/acl_iam.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: style
  frontend/src/components/IssueV1/components/Sidebar/ReviewSection/ReviewSection.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: parse to metdata handle default null for text/json
  backend/bin/server/cmd/profile_dev.go
  backend/plugin/schema/mysql/parse_to_metadata.go
  backend/plugin/schema/mysql/state.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: add guard
  frontend/src/components/Role/Setting/components/RolePanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(frontend): issue sidebar tooltip improvements (#10465)
  frontend/src/components/IssueV1/components/Sidebar/PreBackupSection/PreBackupSection.vue
  frontend/src/components/IssueV1/components/Sidebar/ReviewSection/ReviewSection.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(frontend): issue sidebar tooltip improvements (#10465)
  frontend/src/components/IssueV1/components/Sidebar/PreBackupSection/PreBackupSection.vue
  frontend/src/components/IssueV1/components/Sidebar/ReviewSection/ReviewSection.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(frontend): issue sidebar tooltip improvements (#10465)
  frontend/src/components/IssueV1/components/Sidebar/PreBackupSection/PreBackupSection.vue
  frontend/src/components/IssueV1/components/Sidebar/ReviewSection/ReviewSection.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat(frontend): implement custom permissions in custom roles (#10464)
  frontend/src/components/Role/Setting/components/RolePanel.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/store/modules/role.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat(frontend): implement custom permissions in custom roles (#10464)
  frontend/src/components/Role/Setting/components/RolePanel.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/store/modules/role.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat(frontend): implement custom permissions in custom roles (#10464)
  frontend/src/components/Role/Setting/components/RolePanel.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/store/modules/role.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  backend/bin/server/cmd/profile_dev.go
  backend/plugin/schema/mysql/testdata/parse_to_metadata.yaml
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: parse to metdata handle default null for text/json (#10466)
  backend/plugin/schema/mysql/parse_to_metadata.go
  backend/plugin/schema/mysql/state.go
  backend/plugin/schema/mysql/testdata/parse_to_metadata.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: parse to metdata handle default null for text/json (#10466)
  backend/plugin/schema/mysql/parse_to_metadata.go
  backend/plugin/schema/mysql/state.go
  backend/plugin/schema/mysql/testdata/parse_to_metadata.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: parse to metdata handle default null for text/json (#10466)
  backend/plugin/schema/mysql/parse_to_metadata.go
  backend/plugin/schema/mysql/state.go
  backend/plugin/schema/mysql/testdata/parse_to_metadata.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: reversed condition
  frontend/src/components/Changelist/ChangelistDashboard/NavBar.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(frontend): fix reversed condition (#10467)
  frontend/src/components/Changelist/ChangelistDashboard/NavBar.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(frontend): fix reversed condition (#10467)
  frontend/src/components/Changelist/ChangelistDashboard/NavBar.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(frontend): fix reversed condition (#10467)
  frontend/src/components/Changelist/ChangelistDashboard/NavBar.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: do not cache branch basic view
  frontend/src/store/modules/branch.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: do not cache branch basic view (#10468)
  frontend/src/store/modules/branch.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: do not cache branch basic view (#10468)
  frontend/src/store/modules/branch.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: do not cache branch basic view (#10468)
  frontend/src/store/modules/branch.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove loading spinner
  frontend/src/components/IssueV1/components/CurrentApproverV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove loading spinner (#10469)
  frontend/src/components/IssueV1/components/CurrentApproverV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove loading spinner (#10469)
  frontend/src/components/IssueV1/components/CurrentApproverV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove loading spinner (#10469)
  frontend/src/components/IssueV1/components/CurrentApproverV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: filter project databases
  backend/api/v1/database_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: filter project databases (#10470)
  backend/api/v1/database_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: filter project databases (#10470)
  backend/api/v1/database_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: filter project databases (#10470)
  backend/api/v1/database_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: fix role type checks
  frontend/src/utils/iam/role.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/components/Role/Setting/components/RolePanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix role type checks (#10471)
  frontend/src/components/Role/Setting/components/RolePanel.vue
  frontend/src/utils/iam/role.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix role type checks (#10471)
  frontend/src/components/Role/Setting/components/RolePanel.vue
  frontend/src/utils/iam/role.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix role type checks (#10471)
  frontend/src/components/Role/Setting/components/RolePanel.vue
  frontend/src/utils/iam/role.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev
