Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev

chore: update role groups in creating user form (#10952)
  frontend/src/components/User/Settings/CreateUserDrawer.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update role groups in creating user form (#10952)
  frontend/src/components/User/Settings/CreateUserDrawer.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update role groups in creating user form (#10952)
  frontend/src/components/User/Settings/CreateUserDrawer.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add feature badge and modal for database group
  frontend/src/components/AlterSchemaPrepForm/AlterSchemaPrepForm.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat(branch): implement parse to metadata for Oracle
  backend/api/v1/branch_service.go
  backend/plugin/advisor/oracle/advisor_index_key_number_limit.go
  backend/plugin/parser/plsql/plsql.go
  backend/plugin/parser/plsql/replace.go
  backend/plugin/schema/mysql/parse_to_metadata.go
  backend/plugin/schema/mysql/parse_to_metadata_test.go
  backend/plugin/schema/oracle/parse_to_metadata.go
  backend/plugin/schema/oracle/parse_to_metadata_test.go
  backend/plugin/schema/oracle/state.go
  backend/plugin/schema/oracle/testdata/parse_to_metadata.yaml
  backend/plugin/schema/pg/parse_to_metadata.go
  backend/plugin/schema/pg/parse_to_metadata_test.go
  backend/plugin/schema/schema.go
  backend/plugin/schema/tidb/parse_to_metadata.go
  backend/server/backfill.go
  go.mod
  go.sum
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: rename SetSetting to UpdateSetting (#10951)
  backend/api/v1/acl_config.go
  backend/api/v1/acl_iam.go
  backend/api/v1/setting_service.go
  backend/tests/tests.go
  frontend/src/store/modules/v1/setting.ts
  frontend/src/store/modules/workspaceApprovalSetting.ts
  frontend/src/store/modules/workspaceMailDeliverySetting.ts
  frontend/src/types/proto/v1/setting_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/setting_service.pb.go
  proto/generated-go/v1/setting_service.pb.gw.go
  proto/generated-go/v1/setting_service_grpc.pb.go
  proto/v1/setting_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: rename SetSetting to UpdateSetting (#10951)
  backend/api/v1/acl_config.go
  backend/api/v1/acl_iam.go
  backend/api/v1/setting_service.go
  backend/tests/tests.go
  frontend/src/store/modules/v1/setting.ts
  frontend/src/store/modules/workspaceApprovalSetting.ts
  frontend/src/store/modules/workspaceMailDeliverySetting.ts
  frontend/src/types/proto/v1/setting_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/setting_service.pb.go
  proto/generated-go/v1/setting_service.pb.gw.go
  proto/generated-go/v1/setting_service_grpc.pb.go
  proto/v1/setting_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: rename SetSetting to UpdateSetting (#10951)
  backend/api/v1/acl_config.go
  backend/api/v1/acl_iam.go
  backend/api/v1/setting_service.go
  backend/tests/tests.go
  frontend/src/store/modules/v1/setting.ts
  frontend/src/store/modules/workspaceApprovalSetting.ts
  frontend/src/store/modules/workspaceMailDeliverySetting.ts
  frontend/src/types/proto/v1/setting_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/setting_service.pb.go
  proto/generated-go/v1/setting_service.pb.gw.go
  proto/generated-go/v1/setting_service_grpc.pb.go
  proto/v1/setting_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

fix: eslint
  frontend/src/components/AlterSchemaPrepForm/AlterSchemaPrepForm.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: tweak tags usage
  frontend/src/components/Issue/activity/ActionCreator.vue
  frontend/src/components/IssueV1/components/Sidebar/ReviewSection/Approver.vue
  frontend/src/components/User/Settings/UserDataTableByRole/cells/UserNameCell.vue
  frontend/src/views/ProfileDashboard.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix linter errors
  backend/plugin/parser/plsql/masking.go
  backend/plugin/parser/plsql/plsql.go
  backend/plugin/parser/plsql/query_span_extractor.go
  backend/plugin/parser/plsql/replace.go
  backend/plugin/schema/oracle/parse_to_metadata.go
  backend/plugin/schema/oracle/state.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: fix linter errors
  backend/plugin/schema/oracle/state.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: tweak tags usage (#10955)
  frontend/src/components/Issue/activity/ActionCreator.vue
  frontend/src/components/IssueV1/components/Sidebar/ReviewSection/Approver.vue
  frontend/src/components/User/Settings/UserDataTableByRole/cells/UserNameCell.vue
  frontend/src/views/ProfileDashboard.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: tweak tags usage (#10955)
  frontend/src/components/Issue/activity/ActionCreator.vue
  frontend/src/components/IssueV1/components/Sidebar/ReviewSection/Approver.vue
  frontend/src/components/User/Settings/UserDataTableByRole/cells/UserNameCell.vue
  frontend/src/views/ProfileDashboard.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: tweak tags usage (#10955)
  frontend/src/components/Issue/activity/ActionCreator.vue
  frontend/src/components/IssueV1/components/Sidebar/ReviewSection/Approver.vue
  frontend/src/components/User/Settings/UserDataTableByRole/cells/UserNameCell.vue
  frontend/src/views/ProfileDashboard.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add feature badge and modal for database group (#10953)
  frontend/src/components/AlterSchemaPrepForm/AlterSchemaPrepForm.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add feature badge and modal for database group (#10953)
  frontend/src/components/AlterSchemaPrepForm/AlterSchemaPrepForm.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add feature badge and modal for database group (#10953)
  frontend/src/components/AlterSchemaPrepForm/AlterSchemaPrepForm.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add view table definition in table detail drawer (#10950)
  frontend/src/components/TableDetailDrawer.vue
  frontend/src/components/TableSchemaViewer.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/sql-editor/SecondarySidebar/InfoTabPane/SchemaPanel/DatabaseSchema.vue
  frontend/src/views/sql-editor/SecondarySidebar/InfoTabPane/SchemaPanel/StringifyMetadataButton.vue
  frontend/src/views/sql-editor/SecondarySidebar/InfoTabPane/SchemaPanel/TableSchema.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add view table definition in table detail drawer (#10950)
  frontend/src/components/TableDetailDrawer.vue
  frontend/src/components/TableSchemaViewer.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/sql-editor/SecondarySidebar/InfoTabPane/SchemaPanel/DatabaseSchema.vue
  frontend/src/views/sql-editor/SecondarySidebar/InfoTabPane/SchemaPanel/StringifyMetadataButton.vue
  frontend/src/views/sql-editor/SecondarySidebar/InfoTabPane/SchemaPanel/TableSchema.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add view table definition in table detail drawer (#10950)
  frontend/src/components/TableDetailDrawer.vue
  frontend/src/components/TableSchemaViewer.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/sql-editor/SecondarySidebar/InfoTabPane/SchemaPanel/DatabaseSchema.vue
  frontend/src/views/sql-editor/SecondarySidebar/InfoTabPane/SchemaPanel/StringifyMetadataButton.vue
  frontend/src/views/sql-editor/SecondarySidebar/InfoTabPane/SchemaPanel/TableSchema.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update proto api method
  backend/server/routers.go
  frontend/src/types/proto/v1/sql_service.ts
  frontend/src/types/proto/v1/worksheet_service.ts
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/sql_service.pb.go
  proto/generated-go/v1/sql_service.pb.gw.go
  proto/generated-go/v1/worksheet_service.pb.go
  proto/generated-go/v1/worksheet_service.pb.gw.go
  proto/v1/sql_service.proto
  proto/v1/worksheet_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

feat(branch): implement parse to metadata for Oracle (#10954)
  backend/api/v1/branch_service.go
  backend/plugin/advisor/oracle/advisor_index_key_number_limit.go
  backend/plugin/parser/plsql/masking.go
  backend/plugin/parser/plsql/plsql.go
  backend/plugin/parser/plsql/query_span_extractor.go
  backend/plugin/parser/plsql/replace.go
  backend/plugin/schema/mysql/parse_to_metadata.go
  backend/plugin/schema/mysql/parse_to_metadata_test.go
  backend/plugin/schema/oracle/parse_to_metadata.go
  backend/plugin/schema/oracle/parse_to_metadata_test.go
  backend/plugin/schema/oracle/state.go
  backend/plugin/schema/oracle/testdata/parse_to_metadata.yaml
  backend/plugin/schema/pg/parse_to_metadata.go
  backend/plugin/schema/pg/parse_to_metadata_test.go
  backend/plugin/schema/schema.go
  backend/plugin/schema/tidb/parse_to_metadata.go
  backend/server/backfill.go
  go.mod
  go.sum
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

feat(branch): implement parse to metadata for Oracle (#10954)
  backend/api/v1/branch_service.go
  backend/plugin/advisor/oracle/advisor_index_key_number_limit.go
  backend/plugin/parser/plsql/masking.go
  backend/plugin/parser/plsql/plsql.go
  backend/plugin/parser/plsql/query_span_extractor.go
  backend/plugin/parser/plsql/replace.go
  backend/plugin/schema/mysql/parse_to_metadata.go
  backend/plugin/schema/mysql/parse_to_metadata_test.go
  backend/plugin/schema/oracle/parse_to_metadata.go
  backend/plugin/schema/oracle/parse_to_metadata_test.go
  backend/plugin/schema/oracle/state.go
  backend/plugin/schema/oracle/testdata/parse_to_metadata.yaml
  backend/plugin/schema/pg/parse_to_metadata.go
  backend/plugin/schema/pg/parse_to_metadata_test.go
  backend/plugin/schema/schema.go
  backend/plugin/schema/tidb/parse_to_metadata.go
  backend/server/backfill.go
  go.mod
  go.sum
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

feat(branch): implement parse to metadata for Oracle (#10954)
  backend/api/v1/branch_service.go
  backend/plugin/advisor/oracle/advisor_index_key_number_limit.go
  backend/plugin/parser/plsql/masking.go
  backend/plugin/parser/plsql/plsql.go
  backend/plugin/parser/plsql/query_span_extractor.go
  backend/plugin/parser/plsql/replace.go
  backend/plugin/schema/mysql/parse_to_metadata.go
  backend/plugin/schema/mysql/parse_to_metadata_test.go
  backend/plugin/schema/oracle/parse_to_metadata.go
  backend/plugin/schema/oracle/parse_to_metadata_test.go
  backend/plugin/schema/oracle/state.go
  backend/plugin/schema/oracle/testdata/parse_to_metadata.yaml
  backend/plugin/schema/pg/parse_to_metadata.go
  backend/plugin/schema/pg/parse_to_metadata_test.go
  backend/plugin/schema/schema.go
  backend/plugin/schema/tidb/parse_to_metadata.go
  backend/server/backfill.go
  go.mod
  go.sum
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: update proto api method (#10956)
  backend/server/routers.go
  frontend/src/types/proto/v1/sql_service.ts
  frontend/src/types/proto/v1/worksheet_service.ts
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/sql_service.pb.go
  proto/generated-go/v1/sql_service.pb.gw.go
  proto/generated-go/v1/worksheet_service.pb.go
  proto/generated-go/v1/worksheet_service.pb.gw.go
  proto/v1/sql_service.proto
  proto/v1/worksheet_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: update proto api method (#10956)
  backend/server/routers.go
  frontend/src/types/proto/v1/sql_service.ts
  frontend/src/types/proto/v1/worksheet_service.ts
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/sql_service.pb.go
  proto/generated-go/v1/sql_service.pb.gw.go
  proto/generated-go/v1/worksheet_service.pb.go
  proto/generated-go/v1/worksheet_service.pb.gw.go
  proto/v1/sql_service.proto
  proto/v1/worksheet_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: update proto api method (#10956)
  backend/server/routers.go
  frontend/src/types/proto/v1/sql_service.ts
  frontend/src/types/proto/v1/worksheet_service.ts
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/sql_service.pb.go
  proto/generated-go/v1/sql_service.pb.gw.go
  proto/generated-go/v1/worksheet_service.pb.go
  proto/generated-go/v1/worksheet_service.pb.gw.go
  proto/v1/sql_service.proto
  proto/v1/worksheet_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

fix: missing database group feature guard
  frontend/src/components/DatabaseGroup/DatabaseGroupTable.vue
  frontend/src/components/DatabaseGroup/ProjectDatabaseGroupPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: wip
  backend/plugin/parser/snowflake/v2/query_span_extractor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: add feature attention
  frontend/src/components/DatabaseGroup/ProjectDatabaseGroupPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: trial
  frontend/src/store/modules/v1/subscription.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: missing database group feature guard (#10957)
  frontend/src/components/DatabaseGroup/DatabaseGroupTable.vue
  frontend/src/components/DatabaseGroup/ProjectDatabaseGroupPanel.vue
  frontend/src/store/modules/v1/subscription.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: missing database group feature guard (#10957)
  frontend/src/components/DatabaseGroup/DatabaseGroupTable.vue
  frontend/src/components/DatabaseGroup/ProjectDatabaseGroupPanel.vue
  frontend/src/store/modules/v1/subscription.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: missing database group feature guard (#10957)
  frontend/src/components/DatabaseGroup/DatabaseGroupTable.vue
  frontend/src/components/DatabaseGroup/ProjectDatabaseGroupPanel.vue
  frontend/src/store/modules/v1/subscription.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix(parser): better snowsql syntax error message
  backend/plugin/parser/snowflake/snowflake_test.go
  go.mod
  go.sum
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

chore: snowing
  go.mod
  go.sum
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: wip
  backend/plugin/parser/snowflake/v2/query_span_extractor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix(parser): better snowsql syntax error message (#10959)
  backend/plugin/parser/snowflake/snowflake_test.go
  go.mod
  go.sum
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

fix(parser): better snowsql syntax error message (#10959)
  backend/plugin/parser/snowflake/snowflake_test.go
  go.mod
  go.sum
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao
