Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

chore: split keyword for each tab (#13660)
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/SchemaPane.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: split keyword for each tab (#13660)
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/SchemaPane.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: split keyword for each tab (#13660)
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/SchemaPane.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: allow reset scim sync token (#13643)
  backend/api/v1/setting_service.go
  frontend/src/components/User/Settings/AADSyncDrawer.vue
  frontend/src/components/User/Settings/UserDataTable/cells/UserNameCell.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/SettingWorkspaceUsers.vue
  proto/gen/grpc-doc/openapi.yaml
  proto/generated-go/v1/setting_service.pb.go
  proto/v1/setting_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: allow reset scim sync token (#13643)
  backend/api/v1/setting_service.go
  frontend/src/components/User/Settings/AADSyncDrawer.vue
  frontend/src/components/User/Settings/UserDataTable/cells/UserNameCell.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/SettingWorkspaceUsers.vue
  proto/gen/grpc-doc/openapi.yaml
  proto/generated-go/v1/setting_service.pb.go
  proto/v1/setting_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: allow reset scim sync token (#13643)
  backend/api/v1/setting_service.go
  frontend/src/components/User/Settings/AADSyncDrawer.vue
  frontend/src/components/User/Settings/UserDataTable/cells/UserNameCell.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/SettingWorkspaceUsers.vue
  proto/gen/grpc-doc/openapi.yaml
  proto/generated-go/v1/setting_service.pb.go
  proto/v1/setting_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

refactor: rename metadataDiffBaseNode to diffBaseNode
  backend/api/v1/branch_merge.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: use correct regexp to check VACUUM statements
  backend/plugin/db/pg/pg.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: use correct regexp to check VACUUM statements (#13664)
  backend/plugin/db/pg/pg.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: use correct regexp to check VACUUM statements (#13664)
  backend/plugin/db/pg/pg.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: use correct regexp to check VACUUM statements (#13664)
  backend/plugin/db/pg/pg.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: add derive update info from metadata diff
  backend/api/v1/branch_merge.go
  backend/api/v1/branch_merge_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: add query interval limit
  frontend/src/composables/useExecuteSQL.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: use queryContext.schema for other engines
  backend/plugin/db/redshift/redshift.go
  backend/plugin/db/risingwave/risingwave.go
  backend/plugin/db/snowflake/snowflake.go
  backend/plugin/parser/pg/query_span_extractor.go
  backend/plugin/parser/plsql/query_span_test.go
  backend/plugin/parser/snowflake/query_span_extractor.go
  backend/plugin/parser/tsql/query_span_extractor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore(sql-editor): set minimal query interval to 1 second (#13665)
  frontend/src/composables/useExecuteSQL.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(sql-editor): set minimal query interval to 1 second (#13665)
  frontend/src/composables/useExecuteSQL.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(sql-editor): set minimal query interval to 1 second (#13665)
  frontend/src/composables/useExecuteSQL.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: add mergeUpdateInfoDiffRootNode
  backend/api/v1/branch_merge.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: use queryContext.schema for other engines (#13666)
  backend/plugin/db/redshift/redshift.go
  backend/plugin/db/risingwave/risingwave.go
  backend/plugin/db/snowflake/snowflake.go
  backend/plugin/parser/pg/query_span_extractor.go
  backend/plugin/parser/plsql/query_span_test.go
  backend/plugin/parser/snowflake/query_span_extractor.go
  backend/plugin/parser/tsql/query_span_extractor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: use queryContext.schema for other engines (#13666)
  backend/plugin/db/redshift/redshift.go
  backend/plugin/db/risingwave/risingwave.go
  backend/plugin/db/snowflake/snowflake.go
  backend/plugin/parser/pg/query_span_extractor.go
  backend/plugin/parser/plsql/query_span_test.go
  backend/plugin/parser/snowflake/query_span_extractor.go
  backend/plugin/parser/tsql/query_span_extractor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: use queryContext.schema for other engines (#13666)
  backend/plugin/db/redshift/redshift.go
  backend/plugin/db/risingwave/risingwave.go
  backend/plugin/db/snowflake/snowflake.go
  backend/plugin/parser/pg/query_span_extractor.go
  backend/plugin/parser/plsql/query_span_test.go
  backend/plugin/parser/snowflake/query_span_extractor.go
  backend/plugin/parser/tsql/query_span_extractor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: implement plsql backup for multi-updates
  backend/plugin/parser/plsql/backup.go
  backend/plugin/parser/plsql/test-data/test_backup.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: switch to use new config merge
  backend/api/v1/branch_merge.go
  backend/api/v1/branch_merge_test.go
  backend/api/v1/branch_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: admin executing explain analyze returns correct result
  backend/plugin/parser/mysql/query.go
  backend/plugin/parser/tidb/query.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: implement plsql backup for multi-updates (#13667)
  backend/plugin/parser/plsql/backup.go
  backend/plugin/parser/plsql/test-data/test_backup.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: implement plsql backup for multi-updates (#13667)
  backend/plugin/parser/plsql/backup.go
  backend/plugin/parser/plsql/test-data/test_backup.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: implement plsql backup for multi-updates (#13667)
  backend/plugin/parser/plsql/backup.go
  backend/plugin/parser/plsql/test-data/test_backup.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: fix unit tests
  backend/plugin/parser/mysql/query_test.go
  backend/plugin/parser/tidb/query_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: admin executing explain analyze returns correct result (#13668)
  backend/plugin/parser/mysql/query.go
  backend/plugin/parser/mysql/query_test.go
  backend/plugin/parser/tidb/query.go
  backend/plugin/parser/tidb/query_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: admin executing explain analyze returns correct result (#13668)
  backend/plugin/parser/mysql/query.go
  backend/plugin/parser/mysql/query_test.go
  backend/plugin/parser/tidb/query.go
  backend/plugin/parser/tidb/query_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: admin executing explain analyze returns correct result (#13668)
  backend/plugin/parser/mysql/query.go
  backend/plugin/parser/mysql/query_test.go
  backend/plugin/parser/tidb/query.go
  backend/plugin/parser/tidb/query_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: redefine last updater
  backend/api/v1/branch_merge.go
  backend/api/v1/branch_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  backend/api/v1/branch_merge.go
  backend/api/v1/branch_merge_test.go
  backend/api/v1/branch_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  backend/api/v1/branch_merge.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: fix linter
  backend/api/v1/branch_merge.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: refine last updater (#13669)
  backend/api/v1/branch_merge.go
  backend/api/v1/branch_merge_test.go
  backend/api/v1/branch_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: refine last updater (#13669)
  backend/api/v1/branch_merge.go
  backend/api/v1/branch_merge_test.go
  backend/api/v1/branch_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: refine last updater (#13669)
  backend/api/v1/branch_merge.go
  backend/api/v1/branch_merge_test.go
  backend/api/v1/branch_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

refactor: refine alignDatabaseConfig
  backend/api/v1/branch_service.go
  backend/api/v1/branch_service_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: do not lose config
  backend/api/v1/branch_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
