Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

chore: extend the SQLService.Check metadata source (#10647)
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/google/protobuf/struct.ts
  frontend/src/types/proto/google/protobuf/timestamp.ts
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/sql_service.pb.go
  proto/v1/sql_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: wip
  backend/api/v1/sql_service.go
  backend/store/catalog.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: specify override metadata in sql check
  backend/api/gitops/webhook.go
  backend/api/v1/sql_service.go
  backend/api/v1/sql_service_v2.go
  backend/runner/plancheck/statement_advise_executor.go
  backend/store/catalog.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  backend/api/v1/sql_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  .github/workflows/backend-tests.yml
  .github/workflows/build-artifacts-and-draft-release.yml
  .github/workflows/test_link.yml
  README.md
  go.mod
  scripts/.goreleaser-for-darwin.yaml
  scripts/.goreleaser-for-linux.yaml
  scripts/Dockerfile
  scripts/Dockerfile.aws
  scripts/Dockerfile.bb
  scripts/Dockerfile.depot
  scripts/Dockerfile.render-demo
  scripts/Dockerfile.sql-service
  scripts/build_bytebase.sh
Owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao

feat: specify override metadata in sql check (#10649)
  .github/workflows/backend-tests.yml
  .github/workflows/build-artifacts-and-draft-release.yml
  .github/workflows/test_link.yml
  README.md
  backend/api/gitops/webhook.go
  backend/api/v1/sql_service.go
  backend/api/v1/sql_service_v2.go
  backend/runner/plancheck/statement_advise_executor.go
  backend/store/catalog.go
  go.mod
  scripts/.goreleaser-for-darwin.yaml
  scripts/.goreleaser-for-linux.yaml
  scripts/Dockerfile
  scripts/Dockerfile.aws
  scripts/Dockerfile.bb
  scripts/Dockerfile.depot
  scripts/Dockerfile.render-demo
  scripts/Dockerfile.sql-service
  scripts/build_bytebase.sh
Owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao

feat: specify override metadata in sql check (#10649)
  .github/workflows/backend-tests.yml
  .github/workflows/build-artifacts-and-draft-release.yml
  .github/workflows/test_link.yml
  README.md
  backend/api/gitops/webhook.go
  backend/api/v1/sql_service.go
  backend/api/v1/sql_service_v2.go
  backend/runner/plancheck/statement_advise_executor.go
  backend/store/catalog.go
  go.mod
  scripts/.goreleaser-for-darwin.yaml
  scripts/.goreleaser-for-linux.yaml
  scripts/Dockerfile
  scripts/Dockerfile.aws
  scripts/Dockerfile.bb
  scripts/Dockerfile.depot
  scripts/Dockerfile.render-demo
  scripts/Dockerfile.sql-service
  scripts/build_bytebase.sh
Owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao

feat: specify override metadata in sql check (#10649)
  .github/workflows/backend-tests.yml
  .github/workflows/build-artifacts-and-draft-release.yml
  .github/workflows/test_link.yml
  README.md
  backend/api/gitops/webhook.go
  backend/api/v1/sql_service.go
  backend/api/v1/sql_service_v2.go
  backend/runner/plancheck/statement_advise_executor.go
  backend/store/catalog.go
  go.mod
  scripts/.goreleaser-for-darwin.yaml
  scripts/.goreleaser-for-linux.yaml
  scripts/Dockerfile
  scripts/Dockerfile.aws
  scripts/Dockerfile.bb
  scripts/Dockerfile.depot
  scripts/Dockerfile.render-demo
  scripts/Dockerfile.sql-service
  scripts/build_bytebase.sh
Owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao

chore: supply the branch baseline database metadata for sql checker
  frontend/src/components/Branch/BranchSQLCheckButton.vue
  frontend/src/components/SQLCheck/SQLCheckButton.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: respect base url
  backend/api/v1/database_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: optimize sorting icon
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/ColumnSortedIcon.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/DataTable.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: optimize sorting icon (#10657)
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/ColumnSortedIcon.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/DataTable.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: optimize sorting icon (#10657)
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/ColumnSortedIcon.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/DataTable.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: optimize sorting icon (#10657)
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/ColumnSortedIcon.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/DataTable.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: respect base url (#10654)
  backend/api/v1/database_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: respect base url (#10654)
  backend/api/v1/database_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: respect base url (#10654)
  backend/api/v1/database_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: supply the branch baseline database metadata for sql checker (#10652)
  frontend/src/components/Branch/BranchSQLCheckButton.vue
  frontend/src/components/SQLCheck/SQLCheckButton.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: supply the branch baseline database metadata for sql checker (#10652)
  frontend/src/components/Branch/BranchSQLCheckButton.vue
  frontend/src/components/SQLCheck/SQLCheckButton.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: supply the branch baseline database metadata for sql checker (#10652)
  frontend/src/components/Branch/BranchSQLCheckButton.vue
  frontend/src/components/SQLCheck/SQLCheckButton.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: cannot find archived projects
  frontend/src/components/ProvideDashboardContext.vue
  frontend/src/components/v2/Model/Instance/InstanceV1Table/InstanceV1Table.vue
  frontend/src/views/Archive.vue
  frontend/src/views/InstanceDashboard.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: cannot find archived projects (#10663)
  frontend/src/components/ProvideDashboardContext.vue
  frontend/src/components/v2/Model/Instance/InstanceV1Table/InstanceV1Table.vue
  frontend/src/views/Archive.vue
  frontend/src/views/InstanceDashboard.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: cannot find archived projects (#10663)
  frontend/src/components/ProvideDashboardContext.vue
  frontend/src/components/v2/Model/Instance/InstanceV1Table/InstanceV1Table.vue
  frontend/src/views/Archive.vue
  frontend/src/views/InstanceDashboard.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: cannot find archived projects (#10663)
  frontend/src/components/ProvideDashboardContext.vue
  frontend/src/components/v2/Model/Instance/InstanceV1Table/InstanceV1Table.vue
  frontend/src/views/Archive.vue
  frontend/src/views/InstanceDashboard.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add show diff checkbox
  frontend/src/components/Branch/BranchDetailView.vue
  frontend/src/components/Branch/SchemaDesignEditorLite.vue
  frontend/src/components/SchemaEditorLite/Aside/BranchTree.vue
  frontend/src/components/SchemaEditorLite/Aside/DatabaseTree.vue
  frontend/src/components/SchemaEditorLite/Aside/Tree.vue
  frontend/src/components/SchemaEditorLite/Panels/TableList/TableList.vue
  frontend/src/components/SchemaEditorLite/SchemaEditorLite.vue
  frontend/src/components/SchemaEditorLite/context/index.ts
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix rebase validation
  frontend/src/components/Branch/BranchRebaseView/BranchRebaseView.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix rebase validation (#10665)
  frontend/src/components/Branch/BranchRebaseView/BranchRebaseView.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix rebase validation (#10665)
  frontend/src/components/Branch/BranchRebaseView/BranchRebaseView.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix rebase validation (#10665)
  frontend/src/components/Branch/BranchRebaseView/BranchRebaseView.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add show diff checkbox (#10664)
  frontend/src/components/Branch/BranchDetailView.vue
  frontend/src/components/Branch/SchemaDesignEditorLite.vue
  frontend/src/components/SchemaEditorLite/Aside/BranchTree.vue
  frontend/src/components/SchemaEditorLite/Aside/DatabaseTree.vue
  frontend/src/components/SchemaEditorLite/Aside/Tree.vue
  frontend/src/components/SchemaEditorLite/Panels/TableList/TableList.vue
  frontend/src/components/SchemaEditorLite/SchemaEditorLite.vue
  frontend/src/components/SchemaEditorLite/context/index.ts
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add show diff checkbox (#10664)
  frontend/src/components/Branch/BranchDetailView.vue
  frontend/src/components/Branch/SchemaDesignEditorLite.vue
  frontend/src/components/SchemaEditorLite/Aside/BranchTree.vue
  frontend/src/components/SchemaEditorLite/Aside/DatabaseTree.vue
  frontend/src/components/SchemaEditorLite/Aside/Tree.vue
  frontend/src/components/SchemaEditorLite/Panels/TableList/TableList.vue
  frontend/src/components/SchemaEditorLite/SchemaEditorLite.vue
  frontend/src/components/SchemaEditorLite/context/index.ts
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add show diff checkbox (#10664)
  frontend/src/components/Branch/BranchDetailView.vue
  frontend/src/components/Branch/SchemaDesignEditorLite.vue
  frontend/src/components/SchemaEditorLite/Aside/BranchTree.vue
  frontend/src/components/SchemaEditorLite/Aside/DatabaseTree.vue
  frontend/src/components/SchemaEditorLite/Aside/Tree.vue
  frontend/src/components/SchemaEditorLite/Panels/TableList/TableList.vue
  frontend/src/components/SchemaEditorLite/SchemaEditorLite.vue
  frontend/src/components/SchemaEditorLite/context/index.ts
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove table engine and collation in diff calculation
  backend/api/v1/branch_service.go
  backend/api/v1/schema_design_merge.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: primary key should has unique property
  frontend/src/components/SchemaEditorLite/edit.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add rebase after merge option
  frontend/src/components/Branch/BranchMergeView/BranchMergeView.vue
  frontend/src/components/Branch/BranchMergeView/MergeBranchButton.vue
  frontend/src/components/Branch/BranchMergeView/MergeBranchSelect.vue
  frontend/src/components/Branch/BranchMergeView/types.ts
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix(branch): diff should not consider engine and collation (#10666)
  backend/api/v1/branch_service.go
  backend/api/v1/schema_design_merge.go
  frontend/src/components/SchemaEditorLite/edit.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

fix(branch): diff should not consider engine and collation (#10666)
  backend/api/v1/branch_service.go
  backend/api/v1/schema_design_merge.go
  frontend/src/components/SchemaEditorLite/edit.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

fix(branch): diff should not consider engine and collation (#10666)
  backend/api/v1/branch_service.go
  backend/api/v1/schema_design_merge.go
  frontend/src/components/SchemaEditorLite/edit.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: wording
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: recreate after merge
  frontend/src/components/Branch/BranchMergeView/BranchMergeView.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
