Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev

chore: update
  proto/v1/release_service.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

chore: update
  proto/v1/release_service.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

chore: update
  proto/v1/release_service.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

chore: buf generate
  frontend/src/types/proto/v1/release_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/release_service.pb.go
  proto/generated-go/v1/release_service.pb.gw.go
  proto/generated-go/v1/release_service_grpc.pb.go
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore(proto): check release definition (#14584)
  frontend/src/types/proto/v1/release_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/release_service.pb.go
  proto/generated-go/v1/release_service.pb.gw.go
  proto/generated-go/v1/release_service_grpc.pb.go
  proto/v1/release_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore(proto): check release definition (#14584)
  frontend/src/types/proto/v1/release_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/release_service.pb.go
  proto/generated-go/v1/release_service.pb.gw.go
  proto/generated-go/v1/release_service_grpc.pb.go
  proto/v1/release_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore(proto): check release definition (#14584)
  frontend/src/types/proto/v1/release_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/release_service.pb.go
  proto/generated-go/v1/release_service.pb.gw.go
  proto/generated-go/v1/release_service_grpc.pb.go
  proto/v1/release_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: fix grpc address
  frontend/src/grpcweb/index.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix grpc address (#14588)
  frontend/src/grpcweb/index.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix grpc address (#14588)
  frontend/src/grpcweb/index.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix grpc address (#14588)
  frontend/src/grpcweb/index.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix plan checks placeholder display
  frontend/src/components/PlanCheckRun/PlanCheckRunDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix plan checks placeholder display (#14590)
  frontend/src/components/PlanCheckRun/PlanCheckRunDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix plan checks placeholder display (#14590)
  frontend/src/components/PlanCheckRun/PlanCheckRunDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix plan checks placeholder display (#14590)
  frontend/src/components/PlanCheckRun/PlanCheckRunDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

update changelog proto
  frontend/src/types/proto/store/changelog.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/changelog.pb.go
  proto/store/changelog.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

update store
  backend/api/v1/database_service_changelog.go
  backend/runner/taskrun/executor.go
  backend/store/changelog.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: split by antlr
  backend/plugin/parser/tsql/split.go
  backend/plugin/parser/tsql/split_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: update changelog (#14591)
  backend/api/v1/database_service_changelog.go
  backend/runner/taskrun/executor.go
  backend/store/changelog.go
  frontend/src/types/proto/store/changelog.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/changelog.pb.go
  proto/store/changelog.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

feat: update changelog (#14591)
  backend/api/v1/database_service_changelog.go
  backend/runner/taskrun/executor.go
  backend/store/changelog.go
  frontend/src/types/proto/store/changelog.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/changelog.pb.go
  proto/store/changelog.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

feat: update changelog (#14591)
  backend/api/v1/database_service_changelog.go
  backend/runner/taskrun/executor.go
  backend/store/changelog.go
  frontend/src/types/proto/store/changelog.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/changelog.pb.go
  proto/store/changelog.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: WIP
  backend/plugin/db/pg/dump.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: implement check release
  backend/api/gitops/webhook.go
  backend/api/v1/release_service.go
  backend/api/v1/sql_service.go
  backend/server/grpc_routes.go
  frontend/src/types/proto/v1/release_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/release_service.pb.go
  proto/v1/release_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: update
  backend/api/v1/release_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  backend/api/v1/release_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: optimize databases
  frontend/src/components/TransferDatabaseForm/TransferDatabaseForm.vue
  frontend/src/store/modules/v1/database.ts
  frontend/src/views/InstanceDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: lint
  frontend/src/components/TransferDatabaseForm/TransferDatabaseForm.vue
  frontend/src/store/modules/v1/database.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: optimize databases (#14595)
  frontend/src/components/TransferDatabaseForm/TransferDatabaseForm.vue
  frontend/src/store/modules/v1/database.ts
  frontend/src/views/InstanceDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: optimize databases (#14595)
  frontend/src/components/TransferDatabaseForm/TransferDatabaseForm.vue
  frontend/src/store/modules/v1/database.ts
  frontend/src/views/InstanceDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: optimize databases (#14595)
  frontend/src/components/TransferDatabaseForm/TransferDatabaseForm.vue
  frontend/src/store/modules/v1/database.ts
  frontend/src/views/InstanceDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: expiration timestamp
  frontend/src/components/ExpirationSelector.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: expiration timestamp (#14596)
  frontend/src/components/ExpirationSelector.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: expiration timestamp (#14596)
  frontend/src/components/ExpirationSelector.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: expiration timestamp (#14596)
  frontend/src/components/ExpirationSelector.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: expiration timestamp (#14596)
  frontend/src/components/ExpirationSelector.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix linter
  backend/api/v1/release_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: validate release files
  backend/api/v1/release_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: implement check release (#14594)
  backend/api/gitops/webhook.go
  backend/api/v1/release_service.go
  backend/api/v1/sql_service.go
  backend/server/grpc_routes.go
  frontend/src/types/proto/v1/release_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/release_service.pb.go
  proto/v1/release_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

feat: implement check release (#14594)
  backend/api/gitops/webhook.go
  backend/api/v1/release_service.go
  backend/api/v1/sql_service.go
  backend/server/grpc_routes.go
  frontend/src/types/proto/v1/release_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/release_service.pb.go
  proto/v1/release_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

feat: implement check release (#14594)
  backend/api/gitops/webhook.go
  backend/api/v1/release_service.go
  backend/api/v1/sql_service.go
  backend/server/grpc_routes.go
  frontend/src/types/proto/v1/release_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/release_service.pb.go
  proto/v1/release_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy
