Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev

fix(completion): not quote keywords (#10859)
  backend/plugin/parser/pg/completion.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix(completion): not quote keywords (#10859)
  backend/plugin/parser/pg/completion.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix(completion): not quote keywords (#10859)
  backend/plugin/parser/pg/completion.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore(sql-review): add disallow create event for MySQL
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/catalog/walk_through_for_mysql.go
  backend/plugin/advisor/code.go
  backend/plugin/advisor/config/sql-review.dev.yaml
  backend/plugin/advisor/config/sql-review.prod.yaml
  backend/plugin/advisor/mysql/advisor_event_disallow_create.go
  backend/plugin/advisor/mysql/mysql_rules_test.go
  backend/plugin/advisor/mysql/test/system_event_disallow.yaml
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/utils_for_tests.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: remove dead code
  backend/component/state/state.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  backend/plugin/advisor/mysql/advisor_event_disallow_create.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: remove dead code (#10860)
  backend/component/state/state.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: remove dead code (#10860)
  backend/component/state/state.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: remove dead code (#10860)
  backend/component/state/state.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore(sql-review): add disallow create event for MySQL (#10861)
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/catalog/walk_through_for_mysql.go
  backend/plugin/advisor/code.go
  backend/plugin/advisor/config/sql-review.dev.yaml
  backend/plugin/advisor/config/sql-review.prod.yaml
  backend/plugin/advisor/mysql/advisor_event_disallow_create.go
  backend/plugin/advisor/mysql/mysql_rules_test.go
  backend/plugin/advisor/mysql/test/system_event_disallow.yaml
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/utils_for_tests.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore(sql-review): add disallow create event for MySQL (#10861)
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/catalog/walk_through_for_mysql.go
  backend/plugin/advisor/code.go
  backend/plugin/advisor/config/sql-review.dev.yaml
  backend/plugin/advisor/config/sql-review.prod.yaml
  backend/plugin/advisor/mysql/advisor_event_disallow_create.go
  backend/plugin/advisor/mysql/mysql_rules_test.go
  backend/plugin/advisor/mysql/test/system_event_disallow.yaml
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/utils_for_tests.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore(sql-review): add disallow create event for MySQL (#10861)
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/catalog/walk_through_for_mysql.go
  backend/plugin/advisor/code.go
  backend/plugin/advisor/config/sql-review.dev.yaml
  backend/plugin/advisor/config/sql-review.prod.yaml
  backend/plugin/advisor/mysql/advisor_event_disallow_create.go
  backend/plugin/advisor/mysql/mysql_rules_test.go
  backend/plugin/advisor/mysql/test/system_event_disallow.yaml
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/utils_for_tests.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: add i18n for disallow create event rule
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sqlReview.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add i18n for disallow create event rule (#10862)
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sqlReview.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add i18n for disallow create event rule (#10862)
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sqlReview.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add i18n for disallow create event rule (#10862)
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sqlReview.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat(proto): issue risk
  proto/v1/issue_service.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

feat(proto): issue risk (#10863)
  proto/v1/issue_service.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

feat(proto): issue risk (#10863)
  proto/v1/issue_service.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

feat(proto): issue risk (#10863)
  proto/v1/issue_service.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

feat(proto): issue risk store
  proto/store/approval.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

buf gen
  frontend/src/types/proto/store/approval.ts
  frontend/src/types/proto/v1/issue_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/store/approval.pb.go
  proto/generated-go/v1/issue_service.pb.go
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

feat(proto): issue risk store (#10864)
  frontend/src/types/proto/store/approval.ts
  frontend/src/types/proto/v1/issue_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/store/approval.pb.go
  proto/generated-go/v1/issue_service.pb.go
  proto/store/approval.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

feat(proto): issue risk store (#10864)
  frontend/src/types/proto/store/approval.ts
  frontend/src/types/proto/v1/issue_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/store/approval.pb.go
  proto/generated-go/v1/issue_service.pb.go
  proto/store/approval.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

feat(proto): issue risk store (#10864)
  frontend/src/types/proto/store/approval.ts
  frontend/src/types/proto/v1/issue_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/store/approval.pb.go
  proto/generated-go/v1/issue_service.pb.go
  proto/store/approval.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore(sql-review): add disallow creating view rule for MySQL
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/code.go
  backend/plugin/advisor/config/sql-review.dev.yaml
  backend/plugin/advisor/config/sql-review.prod.yaml
  backend/plugin/advisor/mysql/advisor_view_disallow_create.go
  backend/plugin/advisor/mysql/mysql_rules_test.go
  backend/plugin/advisor/mysql/test/system_view_disallow.yaml
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/utils_for_tests.go
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sqlReview.ts
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore(sql-review): add disallow creating view rule for MySQL (#10865)
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/code.go
  backend/plugin/advisor/config/sql-review.dev.yaml
  backend/plugin/advisor/config/sql-review.prod.yaml
  backend/plugin/advisor/mysql/advisor_view_disallow_create.go
  backend/plugin/advisor/mysql/mysql_rules_test.go
  backend/plugin/advisor/mysql/test/system_view_disallow.yaml
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/utils_for_tests.go
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sqlReview.ts
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore(sql-review): add disallow creating view rule for MySQL (#10865)
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/code.go
  backend/plugin/advisor/config/sql-review.dev.yaml
  backend/plugin/advisor/config/sql-review.prod.yaml
  backend/plugin/advisor/mysql/advisor_view_disallow_create.go
  backend/plugin/advisor/mysql/mysql_rules_test.go
  backend/plugin/advisor/mysql/test/system_view_disallow.yaml
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/utils_for_tests.go
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sqlReview.ts
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore(sql-review): add disallow creating view rule for MySQL (#10865)
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/code.go
  backend/plugin/advisor/config/sql-review.dev.yaml
  backend/plugin/advisor/config/sql-review.prod.yaml
  backend/plugin/advisor/mysql/advisor_view_disallow_create.go
  backend/plugin/advisor/mysql/mysql_rules_test.go
  backend/plugin/advisor/mysql/test/system_view_disallow.yaml
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/utils_for_tests.go
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sqlReview.ts
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

feat(proto): risk level
  proto/store/approval.proto
  proto/v1/issue_service.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

buf gen
  frontend/src/types/proto/store/approval.ts
  frontend/src/types/proto/v1/issue_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/store/approval.pb.go
  proto/generated-go/v1/issue_service.pb.go
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: enable tls for docdb
  frontend/src/utils/v1/instance.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: return risk level
  backend/api/v1/issue_service.go
  backend/runner/approval/runner.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: issue risk level (#10866)
  backend/api/v1/issue_service.go
  backend/runner/approval/runner.go
  frontend/src/types/proto/store/approval.ts
  frontend/src/types/proto/v1/issue_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/store/approval.pb.go
  proto/generated-go/v1/issue_service.pb.go
  proto/store/approval.proto
  proto/v1/issue_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

feat: issue risk level (#10866)
  backend/api/v1/issue_service.go
  backend/runner/approval/runner.go
  frontend/src/types/proto/store/approval.ts
  frontend/src/types/proto/v1/issue_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/store/approval.pb.go
  proto/generated-go/v1/issue_service.pb.go
  proto/store/approval.proto
  proto/v1/issue_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

feat: issue risk level (#10866)
  backend/api/v1/issue_service.go
  backend/runner/approval/runner.go
  frontend/src/types/proto/store/approval.ts
  frontend/src/types/proto/v1/issue_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/store/approval.pb.go
  proto/generated-go/v1/issue_service.pb.go
  proto/store/approval.proto
  proto/v1/issue_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: update
  backend/plugin/db/mongodb/mongodb.go
  backend/plugin/db/mongodb/mongodb_test.go
  frontend/src/components/InstanceForm/DataSourceSection/DataSourceForm.vue
  frontend/src/components/InstanceForm/DataSourceSection/SslCertificateForm.vue
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: fix selector
  frontend/src/components/SyncDatabaseSchema/DatabaseSchemaSelector.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix selector (#10867)
  frontend/src/components/SyncDatabaseSchema/DatabaseSchemaSelector.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix selector (#10867)
  frontend/src/components/SyncDatabaseSchema/DatabaseSchemaSelector.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev
