Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev

chore: update
  backend/plugin/db/mongodb/mongodb_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: simplify mongo statement
  backend/plugin/db/mongodb/mongodb.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: don's show earliest allowed time if not needed
  frontend/src/components/IssueV1/components/Sidebar/EarliestAllowedTime.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: don's show earliest allowed time if not needed (#10300)
  frontend/src/components/IssueV1/components/Sidebar/EarliestAllowedTime.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: don's show earliest allowed time if not needed (#10300)
  frontend/src/components/IssueV1/components/Sidebar/EarliestAllowedTime.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: don's show earliest allowed time if not needed (#10300)
  frontend/src/components/IssueV1/components/Sidebar/EarliestAllowedTime.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: releaser candidates
  frontend/src/components/IssueV1/logic/releaser.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: sync materialized views and support them in getQuerySpan
  backend/api/v1/database_converter.go
  backend/api/v1/sql_service.go
  backend/plugin/db/pg/sync.go
  backend/plugin/parser/pg/query_span_extractor.go
  backend/plugin/schema/mysql/state.go
  backend/plugin/schema/pg/parse_to_metadata.go
  backend/plugin/schema/tidb/parse_to_metadata.go
  backend/store/model/database.go
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/google/protobuf/struct.ts
  frontend/src/types/proto/google/protobuf/timestamp.ts
  frontend/src/types/proto/store/database.ts
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/store/database.pb.go
  proto/generated-go/v1/database_service.pb.go
  proto/store/database.proto
  proto/v1/database_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack, @RainbowDashy

fix
  frontend/src/components/IssueV1/logic/releaser.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: releaser candidates (#10301)
  frontend/src/components/IssueV1/logic/releaser.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: releaser candidates (#10301)
  frontend/src/components/IssueV1/logic/releaser.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: releaser candidates (#10301)
  frontend/src/components/IssueV1/logic/releaser.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: releaser candidates
  frontend/src/components/IssueV1/logic/releaser.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix
  frontend/src/components/IssueV1/logic/releaser.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: sync materialized views and support them in getQuerySpan (#10302)
  backend/api/v1/database_converter.go
  backend/api/v1/sql_service.go
  backend/plugin/db/pg/sync.go
  backend/plugin/parser/pg/query_span_extractor.go
  backend/plugin/schema/mysql/state.go
  backend/plugin/schema/pg/parse_to_metadata.go
  backend/plugin/schema/tidb/parse_to_metadata.go
  backend/store/model/database.go
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/google/protobuf/struct.ts
  frontend/src/types/proto/google/protobuf/timestamp.ts
  frontend/src/types/proto/store/database.ts
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/store/database.pb.go
  proto/generated-go/v1/database_service.pb.go
  proto/store/database.proto
  proto/v1/database_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack, @RainbowDashy

feat: sync materialized views and support them in getQuerySpan (#10302)
  backend/api/v1/database_converter.go
  backend/api/v1/sql_service.go
  backend/plugin/db/pg/sync.go
  backend/plugin/parser/pg/query_span_extractor.go
  backend/plugin/schema/mysql/state.go
  backend/plugin/schema/pg/parse_to_metadata.go
  backend/plugin/schema/tidb/parse_to_metadata.go
  backend/store/model/database.go
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/google/protobuf/struct.ts
  frontend/src/types/proto/google/protobuf/timestamp.ts
  frontend/src/types/proto/store/database.ts
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/store/database.pb.go
  proto/generated-go/v1/database_service.pb.go
  proto/store/database.proto
  proto/v1/database_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack, @RainbowDashy

feat: sync materialized views and support them in getQuerySpan (#10302)
  backend/api/v1/database_converter.go
  backend/api/v1/sql_service.go
  backend/plugin/db/pg/sync.go
  backend/plugin/parser/pg/query_span_extractor.go
  backend/plugin/schema/mysql/state.go
  backend/plugin/schema/pg/parse_to_metadata.go
  backend/plugin/schema/tidb/parse_to_metadata.go
  backend/store/model/database.go
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/google/protobuf/struct.ts
  frontend/src/types/proto/google/protobuf/timestamp.ts
  frontend/src/types/proto/store/database.ts
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/store/database.pb.go
  proto/generated-go/v1/database_service.pb.go
  proto/store/database.proto
  proto/v1/database_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack, @RainbowDashy

fix: stay default null for json
  backend/plugin/schema/mysql/get_design_schema.go
  backend/plugin/schema/mysql/state.go
  backend/plugin/schema/mysql/utils.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update
  backend/plugin/schema/mysql/utils.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update
  backend/plugin/schema/mysql/state.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update
  backend/plugin/schema/mysql/utils.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: re-generate proto
  frontend/src/types/proto/store/database.ts
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/store/database.pb.go
  proto/generated-go/v1/actuator_service.pb.gw.go
  proto/generated-go/v1/auth_service.pb.gw.go
  proto/generated-go/v1/branch_service.pb.gw.go
  proto/generated-go/v1/cel_service.pb.gw.go
  proto/generated-go/v1/changelist_service.pb.gw.go
  proto/generated-go/v1/database_service.pb.go
  proto/generated-go/v1/database_service.pb.gw.go
  proto/generated-go/v1/environment_service.pb.gw.go
  proto/generated-go/v1/externalvs_service.pb.gw.go
  proto/generated-go/v1/idp_service.pb.gw.go
  proto/generated-go/v1/inbox_service.pb.gw.go
  proto/generated-go/v1/instance_role_service.pb.gw.go
  proto/generated-go/v1/instance_service.pb.gw.go
  proto/generated-go/v1/issue_service.pb.gw.go
  proto/generated-go/v1/logging_service.pb.gw.go
  proto/generated-go/v1/org_policy_service.pb.gw.go
  proto/generated-go/v1/project_service.pb.gw.go
  proto/generated-go/v1/risk_service.pb.gw.go
  proto/generated-go/v1/role_service.pb.gw.go
  proto/generated-go/v1/rollout_service.pb.gw.go
  proto/generated-go/v1/setting_service.pb.gw.go
  proto/generated-go/v1/sheet_service.pb.gw.go
  proto/generated-go/v1/sql_service.pb.gw.go
  proto/generated-go/v1/subscription_service.pb.gw.go
  proto/store/database.proto
  proto/v1/database_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

feat: sync materialized views and support them in getQuerySpan (#10302)
  backend/api/v1/database_converter.go
  backend/api/v1/sql_service.go
  backend/plugin/db/pg/sync.go
  backend/plugin/parser/pg/query_span_extractor.go
  backend/plugin/schema/mysql/state.go
  backend/plugin/schema/pg/parse_to_metadata.go
  backend/plugin/schema/tidb/structurer.go
  backend/store/model/database.go
  frontend/src/types/proto/store/database.ts
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/store/database.pb.go
  proto/generated-go/v1/database_service.pb.go
  proto/store/database.proto
  proto/v1/database_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack, @RainbowDashy

chore: filter database metadata
  frontend/src/components/Branch/BranchRolloutView/useVirtualBranch.ts
  frontend/src/components/SchemaEditorLite/algorithm/apply-selected.ts
  frontend/src/components/SchemaEditorLite/algorithm/diff-merge.ts
  frontend/src/utils/schemaEditor/filter.ts
  frontend/src/utils/schemaEditor/index.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix(structurer): keep default null for json/geometry (#10304)
  backend/plugin/schema/mysql/get_design_schema.go
  backend/plugin/schema/mysql/state.go
  backend/plugin/schema/mysql/utils.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix(structurer): keep default null for json/geometry (#10304)
  backend/plugin/schema/mysql/get_design_schema.go
  backend/plugin/schema/mysql/state.go
  backend/plugin/schema/mysql/utils.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix(structurer): keep default null for json/geometry (#10304)
  backend/plugin/schema/mysql/get_design_schema.go
  backend/plugin/schema/mysql/state.go
  backend/plugin/schema/mysql/utils.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: remove files
  backend/plugin/schema/mysql/state.go
  backend/plugin/schema/pg/parse_to_metadata.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: remove logs
  frontend/src/components/SchemaEditorLite/algorithm/diff-merge.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(issue): hide learn more button in standalone mode
  frontend/src/components/IssueV1/components/Sidebar/GhostSection/GhostFlagsPanel.vue
  frontend/src/components/IssueV1/components/Sidebar/GhostSection/GhostSection.vue
  frontend/src/components/IssueV1/components/Sidebar/RollbackSection/RollbackSection.vue
  frontend/src/components/IssueV1/components/Sidebar/RollbackSection/RollbackStatus.vue
  frontend/src/components/IssueV1/components/StatementSection/SDLView/SDLView.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(frontend): filter database metadata (#10305)
  frontend/src/components/Branch/BranchRolloutView/useVirtualBranch.ts
  frontend/src/components/SchemaEditorLite/algorithm/apply-selected.ts
  frontend/src/components/SchemaEditorLite/algorithm/diff-merge.ts
  frontend/src/utils/schemaEditor/filter.ts
  frontend/src/utils/schemaEditor/index.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(frontend): filter database metadata (#10305)
  frontend/src/components/Branch/BranchRolloutView/useVirtualBranch.ts
  frontend/src/components/SchemaEditorLite/algorithm/apply-selected.ts
  frontend/src/components/SchemaEditorLite/algorithm/diff-merge.ts
  frontend/src/utils/schemaEditor/filter.ts
  frontend/src/utils/schemaEditor/index.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(frontend): filter database metadata (#10305)
  frontend/src/components/Branch/BranchRolloutView/useVirtualBranch.ts
  frontend/src/components/SchemaEditorLite/algorithm/apply-selected.ts
  frontend/src/components/SchemaEditorLite/algorithm/diff-merge.ts
  frontend/src/utils/schemaEditor/filter.ts
  frontend/src/utils/schemaEditor/index.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

cherrypick: sync materialized views and support them in getQuerySpan (#10306)
  backend/api/v1/database_converter.go
  backend/api/v1/sql_service.go
  backend/plugin/db/pg/sync.go
  backend/plugin/parser/pg/query_span_extractor.go
  backend/plugin/schema/tidb/structurer.go
  backend/store/model/database.go
  frontend/src/types/proto/store/database.ts
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/store/database.pb.go
  proto/generated-go/v1/actuator_service.pb.gw.go
  proto/generated-go/v1/auth_service.pb.gw.go
  proto/generated-go/v1/branch_service.pb.gw.go
  proto/generated-go/v1/cel_service.pb.gw.go
  proto/generated-go/v1/changelist_service.pb.gw.go
  proto/generated-go/v1/database_service.pb.go
  proto/generated-go/v1/database_service.pb.gw.go
  proto/generated-go/v1/environment_service.pb.gw.go
  proto/generated-go/v1/externalvs_service.pb.gw.go
  proto/generated-go/v1/idp_service.pb.gw.go
  proto/generated-go/v1/inbox_service.pb.gw.go
  proto/generated-go/v1/instance_role_service.pb.gw.go
  proto/generated-go/v1/instance_service.pb.gw.go
  proto/generated-go/v1/issue_service.pb.gw.go
  proto/generated-go/v1/logging_service.pb.gw.go
  proto/generated-go/v1/org_policy_service.pb.gw.go
  proto/generated-go/v1/project_service.pb.gw.go
  proto/generated-go/v1/risk_service.pb.gw.go
  proto/generated-go/v1/role_service.pb.gw.go
  proto/generated-go/v1/rollout_service.pb.gw.go
  proto/generated-go/v1/setting_service.pb.gw.go
  proto/generated-go/v1/sheet_service.pb.gw.go
  proto/generated-go/v1/sql_service.pb.gw.go
  proto/generated-go/v1/subscription_service.pb.gw.go
  proto/store/database.proto
  proto/v1/database_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack, @RainbowDashy

cherrypick: sync materialized views and support them in getQuerySpan (#10306)
  backend/api/v1/database_converter.go
  backend/api/v1/sql_service.go
  backend/plugin/db/pg/sync.go
  backend/plugin/parser/pg/query_span_extractor.go
  backend/plugin/schema/tidb/structurer.go
  backend/store/model/database.go
  frontend/src/types/proto/store/database.ts
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/store/database.pb.go
  proto/generated-go/v1/actuator_service.pb.gw.go
  proto/generated-go/v1/auth_service.pb.gw.go
  proto/generated-go/v1/branch_service.pb.gw.go
  proto/generated-go/v1/cel_service.pb.gw.go
  proto/generated-go/v1/changelist_service.pb.gw.go
  proto/generated-go/v1/database_service.pb.go
  proto/generated-go/v1/database_service.pb.gw.go
  proto/generated-go/v1/environment_service.pb.gw.go
  proto/generated-go/v1/externalvs_service.pb.gw.go
  proto/generated-go/v1/idp_service.pb.gw.go
  proto/generated-go/v1/inbox_service.pb.gw.go
  proto/generated-go/v1/instance_role_service.pb.gw.go
  proto/generated-go/v1/instance_service.pb.gw.go
  proto/generated-go/v1/issue_service.pb.gw.go
  proto/generated-go/v1/logging_service.pb.gw.go
  proto/generated-go/v1/org_policy_service.pb.gw.go
  proto/generated-go/v1/project_service.pb.gw.go
  proto/generated-go/v1/risk_service.pb.gw.go
  proto/generated-go/v1/role_service.pb.gw.go
  proto/generated-go/v1/rollout_service.pb.gw.go
  proto/generated-go/v1/setting_service.pb.gw.go
  proto/generated-go/v1/sheet_service.pb.gw.go
  proto/generated-go/v1/sql_service.pb.gw.go
  proto/generated-go/v1/subscription_service.pb.gw.go
  proto/store/database.proto
  proto/v1/database_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack, @RainbowDashy

chore(issue): hide learn more button in standalone mode (#10307)
  frontend/src/components/IssueV1/components/Sidebar/GhostSection/GhostFlagsPanel.vue
  frontend/src/components/IssueV1/components/Sidebar/GhostSection/GhostSection.vue
  frontend/src/components/IssueV1/components/Sidebar/RollbackSection/RollbackSection.vue
  frontend/src/components/IssueV1/components/Sidebar/RollbackSection/RollbackStatus.vue
  frontend/src/components/IssueV1/components/StatementSection/SDLView/SDLView.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(issue): hide learn more button in standalone mode (#10307)
  frontend/src/components/IssueV1/components/Sidebar/GhostSection/GhostFlagsPanel.vue
  frontend/src/components/IssueV1/components/Sidebar/GhostSection/GhostSection.vue
  frontend/src/components/IssueV1/components/Sidebar/RollbackSection/RollbackSection.vue
  frontend/src/components/IssueV1/components/Sidebar/RollbackSection/RollbackStatus.vue
  frontend/src/components/IssueV1/components/StatementSection/SDLView/SDLView.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(issue): hide learn more button in standalone mode (#10307)
  frontend/src/components/IssueV1/components/Sidebar/GhostSection/GhostFlagsPanel.vue
  frontend/src/components/IssueV1/components/Sidebar/GhostSection/GhostSection.vue
  frontend/src/components/IssueV1/components/Sidebar/RollbackSection/RollbackSection.vue
  frontend/src/components/IssueV1/components/Sidebar/RollbackSection/RollbackStatus.vue
  frontend/src/components/IssueV1/components/StatementSection/SDLView/SDLView.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove i18n of inbox
  frontend/public/help/routeMapList.json
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/subscription/en-US.json
  frontend/src/locales/subscription/es-ES.json
  frontend/src/locales/subscription/zh-CN.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/index.ts
  frontend/src/types/common.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: double warning
  frontend/src/components/Branch/BranchDetailView.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/zh-CN.json
  frontend/src/store/modules/branch.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev
