Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

chore: mysql query taking set statement
  backend/plugin/db/mysql/mysql.go
  backend/plugin/parser/mysql/query.go
  backend/plugin/parser/mysql/query_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: support bitbucket
  backend/api/gitops/webhook.go
  backend/api/v1/project_service.go
  backend/plugin/vcs/bitbucket/bitbucket.go
  backend/plugin/vcs/bitbucket/bytebase-sql-review.sh
  backend/plugin/vcs/bitbucket/pipeline-step.yml
  backend/plugin/vcs/bitbucket/sql_review.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: SQL Editor result wording
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataBlock.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/DataTable.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/EmptyView.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: SQL Editor result wording (#10788)
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataBlock.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/DataTable.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/EmptyView.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: SQL Editor result wording (#10788)
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataBlock.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/DataTable.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/EmptyView.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: SQL Editor result wording (#10788)
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataBlock.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/DataTable.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/EmptyView.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: hide index advisor if not has permission
  frontend/src/components/SlowQuery/Panel/DetailPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: hide index advisor if not has permission (#10789)
  frontend/src/components/SlowQuery/Panel/DetailPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: hide index advisor if not has permission (#10789)
  frontend/src/components/SlowQuery/Panel/DetailPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: hide index advisor if not has permission (#10789)
  frontend/src/components/SlowQuery/Panel/DetailPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: branding logo
  backend/api/v1/actuator_service.go
  frontend/src/components/BytebaseLogo.vue
  frontend/src/components/GeneralSetting/BrandingSetting.vue
  frontend/src/store/modules/v1/actuator.ts
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/google/protobuf/struct.ts
  frontend/src/types/proto/google/protobuf/timestamp.ts
  frontend/src/types/proto/v1/actuator_service.ts
  frontend/src/views/auth/Signin.vue
  frontend/src/views/auth/Signup.vue
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/actuator_service.pb.go
  proto/v1/actuator_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: mock schemaSize
  frontend/src/utils/v1/changeHistory.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: support overriding button props
  frontend/src/components/v2/Form/StepTab.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add isFetching to state
  frontend/src/components/SyncDatabaseSchema/index.vue
  frontend/src/components/SyncDatabaseSchema/types.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: re-implement full view fetching
  frontend/src/components/SyncDatabaseSchema/DatabaseSchemaSelector.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(frontend): DiffSchema error in Sync Schema page (#10791)
  frontend/src/components/SyncDatabaseSchema/DatabaseSchemaSelector.vue
  frontend/src/components/SyncDatabaseSchema/index.vue
  frontend/src/components/SyncDatabaseSchema/types.ts
  frontend/src/components/v2/Form/StepTab.vue
  frontend/src/utils/v1/changeHistory.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(frontend): DiffSchema error in Sync Schema page (#10791)
  frontend/src/components/SyncDatabaseSchema/DatabaseSchemaSelector.vue
  frontend/src/components/SyncDatabaseSchema/index.vue
  frontend/src/components/SyncDatabaseSchema/types.ts
  frontend/src/components/v2/Form/StepTab.vue
  frontend/src/utils/v1/changeHistory.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(frontend): DiffSchema error in Sync Schema page (#10791)
  frontend/src/components/SyncDatabaseSchema/DatabaseSchemaSelector.vue
  frontend/src/components/SyncDatabaseSchema/index.vue
  frontend/src/components/SyncDatabaseSchema/types.ts
  frontend/src/components/v2/Form/StepTab.vue
  frontend/src/utils/v1/changeHistory.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: mysql query taking set statement (#10787)
  backend/plugin/db/mysql/mysql.go
  backend/plugin/parser/mysql/query.go
  backend/plugin/parser/mysql/query_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: mysql query taking set statement (#10787)
  backend/plugin/db/mysql/mysql.go
  backend/plugin/parser/mysql/query.go
  backend/plugin/parser/mysql/query_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: mysql query taking set statement (#10787)
  backend/plugin/db/mysql/mysql.go
  backend/plugin/parser/mysql/query.go
  backend/plugin/parser/mysql/query_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update api
  backend/api/auth/config.go
  backend/api/v1/acl_iam.go
  backend/api/v1/actuator_service.go
  frontend/src/components/BytebaseLogo.vue
  frontend/src/store/modules/v1/actuator.ts
  frontend/src/types/proto/v1/actuator_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/actuator_service.pb.go
  proto/generated-go/v1/actuator_service.pb.gw.go
  proto/generated-go/v1/actuator_service_grpc.pb.go
  proto/v1/actuator_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: branding logo in login page (#10790)
  backend/api/auth/config.go
  backend/api/v1/acl_iam.go
  backend/api/v1/actuator_service.go
  frontend/src/components/BytebaseLogo.vue
  frontend/src/components/GeneralSetting/BrandingSetting.vue
  frontend/src/store/modules/v1/actuator.ts
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/google/protobuf/struct.ts
  frontend/src/types/proto/google/protobuf/timestamp.ts
  frontend/src/types/proto/v1/actuator_service.ts
  frontend/src/views/auth/Signin.vue
  frontend/src/views/auth/Signup.vue
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/actuator_service.pb.go
  proto/generated-go/v1/actuator_service.pb.gw.go
  proto/generated-go/v1/actuator_service_grpc.pb.go
  proto/v1/actuator_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: branding logo in login page (#10790)
  backend/api/auth/config.go
  backend/api/v1/acl_iam.go
  backend/api/v1/actuator_service.go
  frontend/src/components/BytebaseLogo.vue
  frontend/src/components/GeneralSetting/BrandingSetting.vue
  frontend/src/store/modules/v1/actuator.ts
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/google/protobuf/struct.ts
  frontend/src/types/proto/google/protobuf/timestamp.ts
  frontend/src/types/proto/v1/actuator_service.ts
  frontend/src/views/auth/Signin.vue
  frontend/src/views/auth/Signup.vue
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/actuator_service.pb.go
  proto/generated-go/v1/actuator_service.pb.gw.go
  proto/generated-go/v1/actuator_service_grpc.pb.go
  proto/v1/actuator_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: branding logo in login page (#10790)
  backend/api/auth/config.go
  backend/api/v1/acl_iam.go
  backend/api/v1/actuator_service.go
  frontend/src/components/BytebaseLogo.vue
  frontend/src/components/GeneralSetting/BrandingSetting.vue
  frontend/src/store/modules/v1/actuator.ts
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/google/protobuf/struct.ts
  frontend/src/types/proto/google/protobuf/timestamp.ts
  frontend/src/types/proto/v1/actuator_service.ts
  frontend/src/views/auth/Signin.vue
  frontend/src/views/auth/Signup.vue
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/actuator_service.pb.go
  proto/generated-go/v1/actuator_service.pb.gw.go
  proto/generated-go/v1/actuator_service_grpc.pb.go
  proto/v1/actuator_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: hide row limit tips in admin mode
  frontend/src/views/sql-editor/EditorCommon/ResultView/SingleResultViewV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: hide row limit tips in admin mode (#10792)
  frontend/src/views/sql-editor/EditorCommon/ResultView/SingleResultViewV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: hide row limit tips in admin mode (#10792)
  frontend/src/views/sql-editor/EditorCommon/ResultView/SingleResultViewV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: hide row limit tips in admin mode (#10792)
  frontend/src/views/sql-editor/EditorCommon/ResultView/SingleResultViewV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: specify row limit clause for oracle
  frontend/src/views/sql-editor/AsidePanel/DatabaseTree.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: specify row limit clause for oracle (#10793)
  frontend/src/views/sql-editor/AsidePanel/DatabaseTree.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: specify row limit clause for oracle (#10793)
  frontend/src/views/sql-editor/AsidePanel/DatabaseTree.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: specify row limit clause for oracle (#10793)
  frontend/src/views/sql-editor/AsidePanel/DatabaseTree.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: refactor sheet store cache (#10750)
  frontend/src/components/Changelist/ChangelistDetail/NavBar/export.ts
  frontend/src/components/Changelist/ChangelistDetail/RawSQLPanel/RawSQLPanel.vue
  frontend/src/components/Issue/activity/ActionSentence.vue
  frontend/src/components/IssueV1/components/ActivitySection/Activity/StatementUpdate.vue
  frontend/src/components/IssueV1/components/HeaderSection/Actions/create/CreateButton.vue
  frontend/src/components/IssueV1/components/Sidebar/RollbackSection/RollbackStatus.vue
  frontend/src/components/IssueV1/components/Sidebar/useActiveTaskSheet.ts
  frontend/src/components/IssueV1/components/StatementSection/useTaskSheet.ts
  frontend/src/components/IssueV1/logic/initialize/create.ts
  frontend/src/components/SyncDatabaseSchema/RawSQLEditor.vue
  frontend/src/components/SyncDatabaseSchema/SelectTargetDatabasesView.vue
  frontend/src/store/modules/v1/changelist.ts
  frontend/src/store/modules/v1/sheet.ts
  frontend/src/utils/v1/changelist.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: refactor sheet store cache (#10750)
  frontend/src/components/Changelist/ChangelistDetail/NavBar/export.ts
  frontend/src/components/Changelist/ChangelistDetail/RawSQLPanel/RawSQLPanel.vue
  frontend/src/components/Issue/activity/ActionSentence.vue
  frontend/src/components/IssueV1/components/ActivitySection/Activity/StatementUpdate.vue
  frontend/src/components/IssueV1/components/HeaderSection/Actions/create/CreateButton.vue
  frontend/src/components/IssueV1/components/Sidebar/RollbackSection/RollbackStatus.vue
  frontend/src/components/IssueV1/components/Sidebar/useActiveTaskSheet.ts
  frontend/src/components/IssueV1/components/StatementSection/useTaskSheet.ts
  frontend/src/components/IssueV1/logic/initialize/create.ts
  frontend/src/components/SyncDatabaseSchema/RawSQLEditor.vue
  frontend/src/components/SyncDatabaseSchema/SelectTargetDatabasesView.vue
  frontend/src/store/modules/v1/changelist.ts
  frontend/src/store/modules/v1/sheet.ts
  frontend/src/utils/v1/changelist.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: refactor sheet store cache (#10750)
  frontend/src/components/Changelist/ChangelistDetail/NavBar/export.ts
  frontend/src/components/Changelist/ChangelistDetail/RawSQLPanel/RawSQLPanel.vue
  frontend/src/components/Issue/activity/ActionSentence.vue
  frontend/src/components/IssueV1/components/ActivitySection/Activity/StatementUpdate.vue
  frontend/src/components/IssueV1/components/HeaderSection/Actions/create/CreateButton.vue
  frontend/src/components/IssueV1/components/Sidebar/RollbackSection/RollbackStatus.vue
  frontend/src/components/IssueV1/components/Sidebar/useActiveTaskSheet.ts
  frontend/src/components/IssueV1/components/StatementSection/useTaskSheet.ts
  frontend/src/components/IssueV1/logic/initialize/create.ts
  frontend/src/components/SyncDatabaseSchema/RawSQLEditor.vue
  frontend/src/components/SyncDatabaseSchema/SelectTargetDatabasesView.vue
  frontend/src/store/modules/v1/changelist.ts
  frontend/src/store/modules/v1/sheet.ts
  frontend/src/utils/v1/changelist.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat(sql-review): add SELECT full table scan check rule for MySQL
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/code.go
  backend/plugin/advisor/config/sql-review.dev.yaml
  backend/plugin/advisor/config/sql-review.prod.yaml
  backend/plugin/advisor/mysql/advisor_statement_select_full_table_scan.go
  backend/plugin/advisor/sql_review.go
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sqlReview.ts
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

feat(sql-review): add SELECT full table scan check rule for MySQL (#10794)
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/code.go
  backend/plugin/advisor/config/sql-review.dev.yaml
  backend/plugin/advisor/config/sql-review.prod.yaml
  backend/plugin/advisor/mysql/advisor_statement_select_full_table_scan.go
  backend/plugin/advisor/sql_review.go
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sqlReview.ts
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

feat(sql-review): add SELECT full table scan check rule for MySQL (#10794)
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/code.go
  backend/plugin/advisor/config/sql-review.dev.yaml
  backend/plugin/advisor/config/sql-review.prod.yaml
  backend/plugin/advisor/mysql/advisor_statement_select_full_table_scan.go
  backend/plugin/advisor/sql_review.go
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sqlReview.ts
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

feat(sql-review): add SELECT full table scan check rule for MySQL (#10794)
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/code.go
  backend/plugin/advisor/config/sql-review.dev.yaml
  backend/plugin/advisor/config/sql-review.prod.yaml
  backend/plugin/advisor/mysql/advisor_statement_select_full_table_scan.go
  backend/plugin/advisor/sql_review.go
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sqlReview.ts
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
