Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

feat(branch): support Oracle index for branch (#11145)
  backend/plugin/parser/plsql/strings.go
  backend/plugin/parser/plsql/test-data/test_strings_manipulate.yaml
  backend/plugin/schema/oracle/get_design_schema.go
  backend/plugin/schema/oracle/parse_to_metadata.go
  backend/plugin/schema/oracle/state.go
  backend/plugin/schema/oracle/testdata/get_design_schema.yaml
  backend/plugin/schema/oracle/testdata/parse_to_metadata.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(branch): support Oracle index for branch (#11145)
  backend/plugin/parser/plsql/strings.go
  backend/plugin/parser/plsql/test-data/test_strings_manipulate.yaml
  backend/plugin/schema/oracle/get_design_schema.go
  backend/plugin/schema/oracle/parse_to_metadata.go
  backend/plugin/schema/oracle/state.go
  backend/plugin/schema/oracle/testdata/get_design_schema.yaml
  backend/plugin/schema/oracle/testdata/parse_to_metadata.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: fix typo
  frontend/src/locales/en-US.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix typo (#11146)
  frontend/src/locales/en-US.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix typo (#11146)
  frontend/src/locales/en-US.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix typo (#11146)
  frontend/src/locales/en-US.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: disallow mix dml tidb
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/tidb/advisor_statement_disallow_mix_dml.go
  frontend/src/types/sql-review-schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: retire workspace iam policy checks
  frontend/src/components/ProjectMember/AddProjectMember/AddProjectMemberForm.vue
  frontend/src/store/modules/v1/projectIamPolicy.ts
  frontend/src/utils/v1/database.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: retire workspace iam policy checks (#11148)
  frontend/src/components/ProjectMember/AddProjectMember/AddProjectMemberForm.vue
  frontend/src/store/modules/v1/projectIamPolicy.ts
  frontend/src/utils/v1/database.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: retire workspace iam policy checks (#11148)
  frontend/src/components/ProjectMember/AddProjectMember/AddProjectMemberForm.vue
  frontend/src/store/modules/v1/projectIamPolicy.ts
  frontend/src/utils/v1/database.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: retire workspace iam policy checks (#11148)
  frontend/src/components/ProjectMember/AddProjectMember/AddProjectMemberForm.vue
  frontend/src/store/modules/v1/projectIamPolicy.ts
  frontend/src/utils/v1/database.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: disallow mix dml tidb (#11147)
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/tidb/advisor_statement_disallow_mix_dml.go
  frontend/src/types/sql-review-schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

feat: disallow mix dml tidb (#11147)
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/tidb/advisor_statement_disallow_mix_dml.go
  frontend/src/types/sql-review-schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

feat: disallow mix dml tidb (#11147)
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/tidb/advisor_statement_disallow_mix_dml.go
  frontend/src/types/sql-review-schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

fix(walk-through): only check top level statements
  backend/plugin/advisor/catalog/walk_through_for_mysql.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: export only return the last result
  backend/api/v1/sql_service.go
  backend/api/v1/sql_service_v2.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: fix tests
  backend/plugin/advisor/mysql/advisor_function_disallowed_list.go
  backend/plugin/parser/mysql/mysql.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: delete toilet
  backend/plugin/advisor/mysql/toilet.py
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: export only return the last result (#11149)
  backend/api/v1/sql_service.go
  backend/api/v1/sql_service_v2.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: export only return the last result (#11149)
  backend/api/v1/sql_service.go
  backend/api/v1/sql_service_v2.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: export only return the last result (#11149)
  backend/api/v1/sql_service.go
  backend/api/v1/sql_service_v2.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: kill me
  backend/plugin/parser/mysql/differ.go
  backend/plugin/parser/mysql/differ_test.go
  backend/plugin/parser/mysql/test-data/differ/test_differ_column.yaml
  backend/plugin/parser/mysql/test-data/differ/test_differ_constraint.yaml
  backend/plugin/parser/mysql/test-data/differ/test_differ_event.yaml
  backend/plugin/parser/mysql/test-data/differ/test_differ_function.yaml
  backend/plugin/parser/mysql/test-data/differ/test_differ_index.yaml
  backend/plugin/parser/mysql/test-data/differ/test_differ_partition.yaml
  backend/plugin/parser/mysql/test-data/differ/test_differ_procedure.yaml
  backend/plugin/parser/mysql/test-data/differ/test_differ_table.yaml
  backend/plugin/parser/mysql/test-data/differ/test_differ_tableoption.yaml
  backend/plugin/parser/mysql/test-data/differ/test_differ_trigger.yaml
  backend/plugin/parser/mysql/test-data/differ/test_differ_view.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: add tests
  backend/plugin/parser/pg/query_span_extractor.go
  backend/plugin/parser/pg/test-data/query_span.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: fix linter error
  backend/plugin/advisor/mysql/advisor_stmt_disallow_commit.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(hive): support running statements
  backend/plugin/db/hive/hive.go
  backend/plugin/db/hive/statement_parser.go
  backend/plugin/db/hive/statement_parser_test.go
  backend/plugin/db/hive/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(query-span): support PostgreSQL unnest function (#11152)
  backend/plugin/advisor/mysql/advisor_stmt_disallow_commit.go
  backend/plugin/parser/pg/query_span_extractor.go
  backend/plugin/parser/pg/test-data/query_span.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(query-span): support PostgreSQL unnest function (#11152)
  backend/plugin/advisor/mysql/advisor_stmt_disallow_commit.go
  backend/plugin/parser/pg/query_span_extractor.go
  backend/plugin/parser/pg/test-data/query_span.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(query-span): support PostgreSQL unnest function (#11152)
  backend/plugin/advisor/mysql/advisor_stmt_disallow_commit.go
  backend/plugin/parser/pg/query_span_extractor.go
  backend/plugin/parser/pg/test-data/query_span.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: support add partial simply for MySQL in differ (#11151)
  backend/plugin/parser/mysql/differ.go
  backend/plugin/parser/mysql/differ_test.go
  backend/plugin/parser/mysql/test-data/differ/test_differ_column.yaml
  backend/plugin/parser/mysql/test-data/differ/test_differ_constraint.yaml
  backend/plugin/parser/mysql/test-data/differ/test_differ_event.yaml
  backend/plugin/parser/mysql/test-data/differ/test_differ_function.yaml
  backend/plugin/parser/mysql/test-data/differ/test_differ_index.yaml
  backend/plugin/parser/mysql/test-data/differ/test_differ_partition.yaml
  backend/plugin/parser/mysql/test-data/differ/test_differ_procedure.yaml
  backend/plugin/parser/mysql/test-data/differ/test_differ_table.yaml
  backend/plugin/parser/mysql/test-data/differ/test_differ_tableoption.yaml
  backend/plugin/parser/mysql/test-data/differ/test_differ_trigger.yaml
  backend/plugin/parser/mysql/test-data/differ/test_differ_view.yaml
  backend/plugin/schema/mysql/state.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: support add partial simply for MySQL in differ (#11151)
  backend/plugin/parser/mysql/differ.go
  backend/plugin/parser/mysql/differ_test.go
  backend/plugin/parser/mysql/test-data/differ/test_differ_column.yaml
  backend/plugin/parser/mysql/test-data/differ/test_differ_constraint.yaml
  backend/plugin/parser/mysql/test-data/differ/test_differ_event.yaml
  backend/plugin/parser/mysql/test-data/differ/test_differ_function.yaml
  backend/plugin/parser/mysql/test-data/differ/test_differ_index.yaml
  backend/plugin/parser/mysql/test-data/differ/test_differ_partition.yaml
  backend/plugin/parser/mysql/test-data/differ/test_differ_procedure.yaml
  backend/plugin/parser/mysql/test-data/differ/test_differ_table.yaml
  backend/plugin/parser/mysql/test-data/differ/test_differ_tableoption.yaml
  backend/plugin/parser/mysql/test-data/differ/test_differ_trigger.yaml
  backend/plugin/parser/mysql/test-data/differ/test_differ_view.yaml
  backend/plugin/schema/mysql/state.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: support add partial simply for MySQL in differ (#11151)
  backend/plugin/parser/mysql/differ.go
  backend/plugin/parser/mysql/differ_test.go
  backend/plugin/parser/mysql/test-data/differ/test_differ_column.yaml
  backend/plugin/parser/mysql/test-data/differ/test_differ_constraint.yaml
  backend/plugin/parser/mysql/test-data/differ/test_differ_event.yaml
  backend/plugin/parser/mysql/test-data/differ/test_differ_function.yaml
  backend/plugin/parser/mysql/test-data/differ/test_differ_index.yaml
  backend/plugin/parser/mysql/test-data/differ/test_differ_partition.yaml
  backend/plugin/parser/mysql/test-data/differ/test_differ_procedure.yaml
  backend/plugin/parser/mysql/test-data/differ/test_differ_table.yaml
  backend/plugin/parser/mysql/test-data/differ/test_differ_tableoption.yaml
  backend/plugin/parser/mysql/test-data/differ/test_differ_trigger.yaml
  backend/plugin/parser/mysql/test-data/differ/test_differ_view.yaml
  backend/plugin/schema/mysql/state.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: hide setting if not has permission
  frontend/src/components/ProfilePreview.vue
  frontend/src/views/DashboardSidebar.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: hide setting if not has permission (#11153)
  frontend/src/components/ProfilePreview.vue
  frontend/src/views/DashboardSidebar.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: hide setting if not has permission (#11153)
  frontend/src/components/ProfilePreview.vue
  frontend/src/views/DashboardSidebar.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: hide setting if not has permission (#11153)
  frontend/src/components/ProfilePreview.vue
  frontend/src/views/DashboardSidebar.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat(hive): sync instance
  backend/plugin/db/hive/dump.go
  backend/plugin/db/hive/hive.go
  backend/plugin/db/hive/statement_parser.go
  backend/plugin/db/hive/statement_parser_test.go
  backend/plugin/db/hive/sync.go
  backend/plugin/parser/standard/split.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(hive): sync instance
  backend/plugin/db/hive/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: typo
  backend/runner/schemasync/syncer.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: typo (#11154)
  backend/runner/schemasync/syncer.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: typo (#11154)
  backend/runner/schemasync/syncer.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
