Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

chore: engine unsupported error
  backend/api/v1/sql_service.go
  backend/plugin/parser/base/interface.go
  backend/runner/taskrun/data_export_executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: update
  backend/api/v1/sql_service.go
  backend/runner/taskrun/data_export_executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  backend/api/v1/sql_service.go
  backend/plugin/parser/base/interface.go
  backend/runner/taskrun/data_export_executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: implement part of data export issue
  frontend/src/components/IssueV1/DataExportIssueDetailPage.vue
  frontend/src/components/IssueV1/components/BannerSection.vue
  frontend/src/components/IssueV1/components/DataExportSection/DataExportSection.vue
  frontend/src/components/IssueV1/components/DataExportSection/DatabaseInfo.vue
  frontend/src/components/IssueV1/components/DataExportSection/ExportOptionSection/ExportFormatSelector.vue
  frontend/src/components/IssueV1/components/DataExportSection/ExportOptionSection/ExportOptionSection.vue
  frontend/src/components/IssueV1/components/DataExportSection/ExportOptionSection/ExportPasswordInputer.vue
  frontend/src/components/IssueV1/components/DataExportSection/ExportOptionSection/index.ts
  frontend/src/components/IssueV1/components/DataExportSection/index.ts
  frontend/src/components/IssueV1/components/HeaderSection/Actions/create/CreateButton.vue
  frontend/src/components/IssueV1/components/HeaderSection/HeaderSection.vue
  frontend/src/components/IssueV1/components/Sidebar/Assignee/Assignee.vue
  frontend/src/components/IssueV1/components/Sidebar/EarliestAllowedTime.vue
  frontend/src/components/IssueV1/components/StatementSection/EditorView/EditorView.vue
  frontend/src/components/IssueV1/components/index.ts
  frontend/src/components/IssueV1/index.ts
  frontend/src/components/IssueV1/logic/action/issue.ts
  frontend/src/components/IssueV1/logic/initialize/create.ts
  frontend/src/components/IssueV1/logic/plan-check.ts
  frontend/src/components/IssueV1/logic/rollout.ts
  frontend/src/components/IssueV1/logic/transition.ts
  frontend/src/components/IssueV1/logic/utils.ts
  frontend/src/components/MarkdownEditor/MarkdownEditor.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/store/modules/v1/activity.ts
  frontend/src/types/issue.ts
  frontend/src/types/v1/issue/rollout.ts
  frontend/src/utils/v1/issue/issue.ts
  frontend/src/utils/v1/issue/rollout.ts
  frontend/src/views/IssueDetailV1.vue
  frontend/src/views/project/ProjectIssueDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/components/IssueV1/components/DataExportSection/ExportOptionSection/ExportPasswordInputer.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
Owners: @d-bytebase, @ecmadao, @RainbowDashy

fix: lint proto
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/project_service.pb.go
  proto/v1/project_service.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

fix: i18n
  frontend/src/locales/en-US.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: golang lint
  backend/api/v1/acl_iam.go
  backend/api/v1/project_service.go
  frontend/src/components/RepositorySetupWizard.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: update
  backend/plugin/parser/base/interface.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: remove gcflags
  scripts/.air.toml
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: engine unsupported error (#11376)
  backend/plugin/parser/base/interface.go
  scripts/.air.toml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase

chore: engine unsupported error (#11376)
  backend/plugin/parser/base/interface.go
  scripts/.air.toml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase

chore: engine unsupported error (#11376)
  backend/plugin/parser/base/interface.go
  scripts/.air.toml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase

chore: correct not valid option SQL review description
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: improve PG NOT VALID option SQL review description (#11379)
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: improve PG NOT VALID option SQL review description (#11379)
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: improve PG NOT VALID option SQL review description (#11379)
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: refine change history table
  frontend/src/components/ChangeHistory/ChangeHistoryTable.vue
  frontend/src/components/Changelist/ChangelistDetail/AddChangePanel/form/ChangeHistoryForm.vue
  frontend/src/components/Database/DatabaseChangeHistoryPanel.vue
  frontend/src/components/misc/TextOverflowPopover.vue
  frontend/tsconfig.app.json
  frontend/tsconfig.vitest.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

Update frontend/src/components/ChangeHistory/ChangeHistoryTable.vue
  frontend/src/components/ChangeHistory/ChangeHistoryTable.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(frontend): renovate change history table (#11380)
  frontend/src/components/ChangeHistory/ChangeHistoryTable.vue
  frontend/src/components/Changelist/ChangelistDetail/AddChangePanel/form/ChangeHistoryForm.vue
  frontend/src/components/Database/DatabaseChangeHistoryPanel.vue
  frontend/src/components/misc/TextOverflowPopover.vue
  frontend/tsconfig.app.json
  frontend/tsconfig.vitest.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(frontend): renovate change history table (#11380)
  frontend/src/components/ChangeHistory/ChangeHistoryTable.vue
  frontend/src/components/Changelist/ChangelistDetail/AddChangePanel/form/ChangeHistoryForm.vue
  frontend/src/components/Database/DatabaseChangeHistoryPanel.vue
  frontend/src/components/misc/TextOverflowPopover.vue
  frontend/tsconfig.app.json
  frontend/tsconfig.vitest.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(frontend): renovate change history table (#11380)
  frontend/src/components/ChangeHistory/ChangeHistoryTable.vue
  frontend/src/components/Changelist/ChangelistDetail/AddChangePanel/form/ChangeHistoryForm.vue
  frontend/src/components/Database/DatabaseChangeHistoryPanel.vue
  frontend/src/components/misc/TextOverflowPopover.vue
  frontend/tsconfig.app.json
  frontend/tsconfig.vitest.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: helm bytebase logo
  docs/bytebase-1.1.1.tgz
  docs/index.yaml
  helm-charts/bytebase/Chart.yaml
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: ui optimize
  frontend/src/components/IdentityProviderCreateForm.vue
  frontend/src/components/IdentityProviderTable.vue
  frontend/src/components/ProjectWebhookCard.vue
  frontend/src/components/ProjectWebhookPanel.vue
  frontend/src/components/RepositoryPanel.vue
  frontend/src/components/RepositorySetupWizard.vue
  frontend/src/components/VCS/VCSProviderBasicInfoPanel.vue
  frontend/src/router/dashboard/workspace.ts
  frontend/src/store/modules/v1/common.ts
  frontend/src/store/modules/v1/project.ts
  frontend/src/views/SettingWorkspaceSSO.vue
  frontend/src/views/SettingWorkspaceSSODetail.vue
  frontend/src/views/SettingWorkspaceVCS.vue
  frontend/src/views/SettingWorkspaceVCSDetail.vue
  frontend/src/views/project/ProjectVersionControlCreate.vue
  frontend/src/views/project/ProjectVersionControlDetail.vue
  frontend/src/views/project/ProjectVersionControlPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: helm bytebase logo (#11382)
  docs/bytebase-1.1.1.tgz
  docs/index.yaml
  helm-charts/bytebase/Chart.yaml
Owners: @d-bytebase, @bytebase/bytebase-dev

fix: helm bytebase logo (#11382)
  docs/bytebase-1.1.1.tgz
  docs/index.yaml
  helm-charts/bytebase/Chart.yaml
Owners: @d-bytebase, @bytebase/bytebase-dev

fix: helm bytebase logo (#11382)
  docs/bytebase-1.1.1.tgz
  docs/index.yaml
  helm-charts/bytebase/Chart.yaml
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: layout
  frontend/src/views/sql-editor/SQLEditorPage.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix route params
  frontend/src/router/dashboard/projectV1.ts
  frontend/src/views/ChangeHistoryDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix route params (#11384)
  frontend/src/router/dashboard/projectV1.ts
  frontend/src/views/ChangeHistoryDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix route params (#11384)
  frontend/src/router/dashboard/projectV1.ts
  frontend/src/views/ChangeHistoryDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix route params (#11384)
  frontend/src/router/dashboard/projectV1.ts
  frontend/src/views/ChangeHistoryDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: several UI updates (#11383)
  frontend/src/components/IdentityProviderCreateForm.vue
  frontend/src/components/IdentityProviderTable.vue
  frontend/src/components/ProjectWebhookCard.vue
  frontend/src/components/ProjectWebhookPanel.vue
  frontend/src/components/RepositoryPanel.vue
  frontend/src/components/RepositorySetupWizard.vue
  frontend/src/components/VCS/VCSProviderBasicInfoPanel.vue
  frontend/src/router/dashboard/workspace.ts
  frontend/src/store/modules/v1/common.ts
  frontend/src/store/modules/v1/project.ts
  frontend/src/views/SettingWorkspaceSSO.vue
  frontend/src/views/SettingWorkspaceSSODetail.vue
  frontend/src/views/SettingWorkspaceVCS.vue
  frontend/src/views/SettingWorkspaceVCSDetail.vue
  frontend/src/views/project/ProjectVersionControlCreate.vue
  frontend/src/views/project/ProjectVersionControlDetail.vue
  frontend/src/views/project/ProjectVersionControlPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: several UI updates (#11383)
  frontend/src/components/IdentityProviderCreateForm.vue
  frontend/src/components/IdentityProviderTable.vue
  frontend/src/components/ProjectWebhookCard.vue
  frontend/src/components/ProjectWebhookPanel.vue
  frontend/src/components/RepositoryPanel.vue
  frontend/src/components/RepositorySetupWizard.vue
  frontend/src/components/VCS/VCSProviderBasicInfoPanel.vue
  frontend/src/router/dashboard/workspace.ts
  frontend/src/store/modules/v1/common.ts
  frontend/src/store/modules/v1/project.ts
  frontend/src/views/SettingWorkspaceSSO.vue
  frontend/src/views/SettingWorkspaceSSODetail.vue
  frontend/src/views/SettingWorkspaceVCS.vue
  frontend/src/views/SettingWorkspaceVCSDetail.vue
  frontend/src/views/project/ProjectVersionControlCreate.vue
  frontend/src/views/project/ProjectVersionControlDetail.vue
  frontend/src/views/project/ProjectVersionControlPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: several UI updates (#11383)
  frontend/src/components/IdentityProviderCreateForm.vue
  frontend/src/components/IdentityProviderTable.vue
  frontend/src/components/ProjectWebhookCard.vue
  frontend/src/components/ProjectWebhookPanel.vue
  frontend/src/components/RepositoryPanel.vue
  frontend/src/components/RepositorySetupWizard.vue
  frontend/src/components/VCS/VCSProviderBasicInfoPanel.vue
  frontend/src/router/dashboard/workspace.ts
  frontend/src/store/modules/v1/common.ts
  frontend/src/store/modules/v1/project.ts
  frontend/src/views/SettingWorkspaceSSO.vue
  frontend/src/views/SettingWorkspaceSSODetail.vue
  frontend/src/views/SettingWorkspaceVCS.vue
  frontend/src/views/SettingWorkspaceVCSDetail.vue
  frontend/src/views/project/ProjectVersionControlCreate.vue
  frontend/src/views/project/ProjectVersionControlDetail.vue
  frontend/src/views/project/ProjectVersionControlPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: drop inbox and bookmark
  backend/migrator/migration/prod/2.15/0014##drop_inbox.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: style
  frontend/src/views/sql-editor/AsidePanel/HistoryPane/HistoryPane.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: drop inbox and bookmark (#11386)
  backend/migrator/migration/prod/2.15/0014##drop_inbox.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: drop inbox and bookmark (#11386)
  backend/migrator/migration/prod/2.15/0014##drop_inbox.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/migrator/migrator_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
