Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev

chore: no auto-complete for huge sql (#12003)
  backend/api/lsp/completion.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: join params
  frontend/src/components/Changelist/ChangelistDetail/ApplyToDatabasePanel/ApplyToDatabasePanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix(frontend): Changelist issue creation failed when apply to multiple databases (#12004)
  frontend/src/components/Changelist/ChangelistDetail/ApplyToDatabasePanel/ApplyToDatabasePanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix(frontend): Changelist issue creation failed when apply to multiple databases (#12004)
  frontend/src/components/Changelist/ChangelistDetail/ApplyToDatabasePanel/ApplyToDatabasePanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix(frontend): Changelist issue creation failed when apply to multiple databases (#12004)
  frontend/src/components/Changelist/ChangelistDetail/ApplyToDatabasePanel/ApplyToDatabasePanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

comment addressed
  backend/server/minimal_demo.go
  backend/server/ultimate.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat(sql-review): new rule for OceanBase (MySQL mode) offline ddl (#11997)
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/catalog/state.go
  backend/plugin/advisor/code.go
  backend/plugin/advisor/config/sql-review.prod.yaml
  backend/plugin/advisor/oceanbase/advisor_disallow_offline_ddl.go
  backend/plugin/advisor/sql_review.go
  backend/server/ultimate.go
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/types/sql-review-schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

feat(sql-review): new rule for OceanBase (MySQL mode) offline ddl (#11997)
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/catalog/state.go
  backend/plugin/advisor/code.go
  backend/plugin/advisor/config/sql-review.prod.yaml
  backend/plugin/advisor/oceanbase/advisor_disallow_offline_ddl.go
  backend/plugin/advisor/sql_review.go
  backend/server/ultimate.go
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/types/sql-review-schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

feat(sql-review): new rule for OceanBase (MySQL mode) offline ddl (#11997)
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/catalog/state.go
  backend/plugin/advisor/code.go
  backend/plugin/advisor/config/sql-review.prod.yaml
  backend/plugin/advisor/oceanbase/advisor_disallow_offline_ddl.go
  backend/plugin/advisor/sql_review.go
  backend/server/ultimate.go
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/types/sql-review-schema.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

chore: support not in operator in deployment config
  backend/api/v1/project_service.go
  backend/api/v1/rollout_service_plan_check.go
  backend/api/v1/rollout_service_task.go
  backend/legacyapi/deploy.go
  backend/legacyapi/deploy_test.go
  backend/runner/taskrun/database_create_executor.go
  backend/store/deploy.go
  backend/utils/utils.go
  backend/utils/utils_test.go
  frontend/src/components/DeploymentConfigTool/SelectorItemV2.vue
  frontend/src/components/LabelEditorDrawer.vue
  frontend/src/components/ProjectDeploymentConfigPanel.vue
  frontend/src/types/proto/google/protobuf/any.ts
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/google/protobuf/struct.ts
  frontend/src/types/proto/google/protobuf/timestamp.ts
  frontend/src/types/proto/v1/project_service.ts
  frontend/src/utils/v1/deploymentConfig.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/project_service.pb.go
  proto/v1/project_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

feat(branch): display the latest updater info in branch (#12002)
  frontend/src/components/AlterSchemaPrepForm/SchemaEditorModal.vue
  frontend/src/components/Branch/BranchRebaseView/RebaseBranchStep.vue
  frontend/src/components/Branch/BranchRebaseView/SelectBranchStep.vue
  frontend/src/components/Branch/BranchRolloutView/BranchRolloutView.vue
  frontend/src/components/Branch/SchemaDesignEditorLite.vue
  frontend/src/components/Branch/common/BranchComparison.vue
  frontend/src/components/Branch/common/BranchDetailViewer.vue
  frontend/src/components/SchemaEditorLite/Panels/CommonCodeEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/FunctionEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/ProcedureEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/TableEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/common/LastUpdater.vue
  frontend/src/components/SchemaEditorLite/Panels/common/common.ts
  frontend/src/components/SchemaEditorLite/Panels/common/index.ts
  frontend/src/components/SchemaEditorLite/SchemaEditorLite.vue
  frontend/src/components/SchemaEditorLite/algorithm/utils.ts
  frontend/src/components/SchemaEditorLite/context/index.ts
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat(branch): display the latest updater info in branch (#12002)
  frontend/src/components/AlterSchemaPrepForm/SchemaEditorModal.vue
  frontend/src/components/Branch/BranchRebaseView/RebaseBranchStep.vue
  frontend/src/components/Branch/BranchRebaseView/SelectBranchStep.vue
  frontend/src/components/Branch/BranchRolloutView/BranchRolloutView.vue
  frontend/src/components/Branch/SchemaDesignEditorLite.vue
  frontend/src/components/Branch/common/BranchComparison.vue
  frontend/src/components/Branch/common/BranchDetailViewer.vue
  frontend/src/components/SchemaEditorLite/Panels/CommonCodeEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/FunctionEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/ProcedureEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/TableEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/common/LastUpdater.vue
  frontend/src/components/SchemaEditorLite/Panels/common/common.ts
  frontend/src/components/SchemaEditorLite/Panels/common/index.ts
  frontend/src/components/SchemaEditorLite/SchemaEditorLite.vue
  frontend/src/components/SchemaEditorLite/algorithm/utils.ts
  frontend/src/components/SchemaEditorLite/context/index.ts
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat(branch): display the latest updater info in branch (#12002)
  frontend/src/components/AlterSchemaPrepForm/SchemaEditorModal.vue
  frontend/src/components/Branch/BranchRebaseView/RebaseBranchStep.vue
  frontend/src/components/Branch/BranchRebaseView/SelectBranchStep.vue
  frontend/src/components/Branch/BranchRolloutView/BranchRolloutView.vue
  frontend/src/components/Branch/SchemaDesignEditorLite.vue
  frontend/src/components/Branch/common/BranchComparison.vue
  frontend/src/components/Branch/common/BranchDetailViewer.vue
  frontend/src/components/SchemaEditorLite/Panels/CommonCodeEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/FunctionEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/ProcedureEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/TableEditor.vue
  frontend/src/components/SchemaEditorLite/Panels/common/LastUpdater.vue
  frontend/src/components/SchemaEditorLite/Panels/common/common.ts
  frontend/src/components/SchemaEditorLite/Panels/common/index.ts
  frontend/src/components/SchemaEditorLite/SchemaEditorLite.vue
  frontend/src/components/SchemaEditorLite/algorithm/utils.ts
  frontend/src/components/SchemaEditorLite/context/index.ts
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: support not in operator in deployment config (#12005)
  backend/api/v1/project_service.go
  backend/api/v1/rollout_service_plan_check.go
  backend/api/v1/rollout_service_task.go
  backend/legacyapi/deploy.go
  backend/legacyapi/deploy_test.go
  backend/runner/taskrun/database_create_executor.go
  backend/store/deploy.go
  backend/utils/utils.go
  backend/utils/utils_test.go
  frontend/src/components/DeploymentConfigTool/SelectorItemV2.vue
  frontend/src/components/LabelEditorDrawer.vue
  frontend/src/components/ProjectDeploymentConfigPanel.vue
  frontend/src/types/proto/google/protobuf/any.ts
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/google/protobuf/struct.ts
  frontend/src/types/proto/google/protobuf/timestamp.ts
  frontend/src/types/proto/v1/project_service.ts
  frontend/src/utils/v1/deploymentConfig.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/project_service.pb.go
  proto/v1/project_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: support not in operator in deployment config (#12005)
  backend/api/v1/project_service.go
  backend/api/v1/rollout_service_plan_check.go
  backend/api/v1/rollout_service_task.go
  backend/legacyapi/deploy.go
  backend/legacyapi/deploy_test.go
  backend/runner/taskrun/database_create_executor.go
  backend/store/deploy.go
  backend/utils/utils.go
  backend/utils/utils_test.go
  frontend/src/components/DeploymentConfigTool/SelectorItemV2.vue
  frontend/src/components/LabelEditorDrawer.vue
  frontend/src/components/ProjectDeploymentConfigPanel.vue
  frontend/src/types/proto/google/protobuf/any.ts
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/google/protobuf/struct.ts
  frontend/src/types/proto/google/protobuf/timestamp.ts
  frontend/src/types/proto/v1/project_service.ts
  frontend/src/utils/v1/deploymentConfig.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/project_service.pb.go
  proto/v1/project_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: support not in operator in deployment config (#12005)
  backend/api/v1/project_service.go
  backend/api/v1/rollout_service_plan_check.go
  backend/api/v1/rollout_service_task.go
  backend/legacyapi/deploy.go
  backend/legacyapi/deploy_test.go
  backend/runner/taskrun/database_create_executor.go
  backend/store/deploy.go
  backend/utils/utils.go
  backend/utils/utils_test.go
  frontend/src/components/DeploymentConfigTool/SelectorItemV2.vue
  frontend/src/components/LabelEditorDrawer.vue
  frontend/src/components/ProjectDeploymentConfigPanel.vue
  frontend/src/types/proto/google/protobuf/any.ts
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/google/protobuf/struct.ts
  frontend/src/types/proto/google/protobuf/timestamp.ts
  frontend/src/types/proto/v1/project_service.ts
  frontend/src/utils/v1/deploymentConfig.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/project_service.pb.go
  proto/v1/project_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: retire activity
  frontend/src/components/ActivityTable/ActivityCommentLink.vue
  frontend/src/components/ActivityTable/ActivityTable.vue
  frontend/src/components/ActivityTable/ActivityTypeLink.vue
  frontend/src/components/ActivityTable/types.ts
  frontend/src/components/ActivityTable/utils.ts
  frontend/src/components/IssueV1/components/Sidebar/PreBackupSection/common.ts
  frontend/src/components/IssueV1/components/Sidebar/RollbackSection/common.ts
  frontend/src/store/modules/v1/issueComment.ts
  frontend/src/types/activity.ts
  frontend/src/types/index.ts
  frontend/src/utils/activity.ts
  frontend/src/utils/index.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: retire activity (#12006)
  frontend/src/components/ActivityTable/ActivityCommentLink.vue
  frontend/src/components/ActivityTable/ActivityTable.vue
  frontend/src/components/ActivityTable/ActivityTypeLink.vue
  frontend/src/components/ActivityTable/types.ts
  frontend/src/components/ActivityTable/utils.ts
  frontend/src/components/IssueV1/components/Sidebar/PreBackupSection/common.ts
  frontend/src/components/IssueV1/components/Sidebar/RollbackSection/common.ts
  frontend/src/store/modules/v1/issueComment.ts
  frontend/src/types/activity.ts
  frontend/src/types/index.ts
  frontend/src/utils/activity.ts
  frontend/src/utils/index.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: retire activity (#12006)
  frontend/src/components/ActivityTable/ActivityCommentLink.vue
  frontend/src/components/ActivityTable/ActivityTable.vue
  frontend/src/components/ActivityTable/ActivityTypeLink.vue
  frontend/src/components/ActivityTable/types.ts
  frontend/src/components/ActivityTable/utils.ts
  frontend/src/components/IssueV1/components/Sidebar/PreBackupSection/common.ts
  frontend/src/components/IssueV1/components/Sidebar/RollbackSection/common.ts
  frontend/src/store/modules/v1/issueComment.ts
  frontend/src/types/activity.ts
  frontend/src/types/index.ts
  frontend/src/utils/activity.ts
  frontend/src/utils/index.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: retire activity (#12006)
  frontend/src/components/ActivityTable/ActivityCommentLink.vue
  frontend/src/components/ActivityTable/ActivityTable.vue
  frontend/src/components/ActivityTable/ActivityTypeLink.vue
  frontend/src/components/ActivityTable/types.ts
  frontend/src/components/ActivityTable/utils.ts
  frontend/src/components/IssueV1/components/Sidebar/PreBackupSection/common.ts
  frontend/src/components/IssueV1/components/Sidebar/RollbackSection/common.ts
  frontend/src/store/modules/v1/issueComment.ts
  frontend/src/types/activity.ts
  frontend/src/types/index.ts
  frontend/src/utils/activity.ts
  frontend/src/utils/index.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: implement add and update branch last committer
  backend/api/v1/branch_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: handle merge branch
  backend/api/v1/branch_service.go
  backend/utils/database_config_merge.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  backend/api/v1/branch_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  backend/api/v1/branch_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: silence data source update mask
  backend/api/v1/instance_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: compare diff
  frontend/src/utils/v1/common.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: silence data source update mask (#12009)
  backend/api/v1/instance_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: silence data source update mask (#12009)
  backend/api/v1/instance_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: silence data source update mask (#12009)
  backend/api/v1/instance_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: compare diff (#12010)
  frontend/src/utils/v1/common.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: compare diff (#12010)
  frontend/src/utils/v1/common.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: compare diff (#12010)
  frontend/src/utils/v1/common.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: change stage wording active to current
  frontend/src/components/IssueV1/components/StageSection/StageCard.vue
  frontend/src/components/IssueV1/components/StageSection/StageInfo/StageSelect.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: change stage wording active to current (#12011)
  frontend/src/components/IssueV1/components/StageSection/StageCard.vue
  frontend/src/components/IssueV1/components/StageSection/StageInfo/StageSelect.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: change stage wording active to current (#12011)
  frontend/src/components/IssueV1/components/StageSection/StageCard.vue
  frontend/src/components/IssueV1/components/StageSection/StageInfo/StageSelect.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: change stage wording active to current (#12011)
  frontend/src/components/IssueV1/components/StageSection/StageCard.vue
  frontend/src/components/IssueV1/components/StageSection/StageInfo/StageSelect.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/types/proto/v1/instance_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/instance_service.pb.go
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

feat: handle latest updater in create/update/merge (#12008)
  backend/api/v1/branch_service.go
  backend/utils/database_config_merge.go
  frontend/src/types/proto/v1/instance_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/instance_service.pb.go
  proto/v1/instance_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

feat: handle latest updater in create/update/merge (#12008)
  backend/api/v1/branch_service.go
  backend/utils/database_config_merge.go
  frontend/src/types/proto/v1/instance_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/instance_service.pb.go
  proto/v1/instance_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

feat: handle latest updater in create/update/merge (#12008)
  backend/api/v1/branch_service.go
  backend/utils/database_config_merge.go
  frontend/src/types/proto/v1/instance_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/instance_service.pb.go
  proto/v1/instance_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy
