Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @ecmadao, @rebelice, @LiuJi-Jim, @boojack

chore: add force option to project deletion (#5874)
  frontend/src/types/proto/v1/project_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/project_service.pb.go
  proto/generated-go/v1/project_service.pb.gw.go
  proto/v1/project_service.proto
Owners: @LiuJi-Jim, @boojack, @d-bytebase, @ecmadao

chore: add force option to project deletion (#5874)
  frontend/src/types/proto/v1/project_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/project_service.pb.go
  proto/generated-go/v1/project_service.pb.gw.go
  proto/v1/project_service.proto
Owners: @LiuJi-Jim, @boojack, @d-bytebase, @ecmadao

chore: add force option to project deletion (#5874)
  frontend/src/types/proto/v1/project_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/project_service.pb.go
  proto/generated-go/v1/project_service.pb.gw.go
  proto/v1/project_service.proto
Owners: @LiuJi-Jim, @boojack, @d-bytebase, @ecmadao

chore: implement project force deletion
  backend/api/v1/project_service.go
Owners: @d-bytebase, @ecmadao

chore: implement project force deletion (#5875)
  backend/api/v1/project_service.go
Owners: @d-bytebase, @ecmadao

chore: implement project force deletion (#5875)
  backend/api/v1/project_service.go
Owners: @d-bytebase, @ecmadao

chore: implement project force deletion (#5875)
  backend/api/v1/project_service.go
Owners: @d-bytebase, @ecmadao

feat: support mybatis xml foreach dynamic sql node
  backend/plugin/parser/mybatis/ast/dymamic_node.go
  backend/plugin/parser/mybatis/parser.go
  backend/plugin/parser/mybatis/parser_test.go
  backend/plugin/parser/mybatis/test-data/test_dynamic_sql_mapper.yaml
Owners: @d-bytebase, @ecmadao, @rebelice

chore: update
  backend/plugin/parser/mybatis/parser_test.go
Owners: @d-bytebase, @ecmadao, @rebelice

feat(mybatis): support mybatis xml `foreach` dynamic sql node (#5876)
  backend/plugin/parser/mybatis/ast/dymamic_node.go
  backend/plugin/parser/mybatis/parser.go
  backend/plugin/parser/mybatis/test-data/test_dynamic_sql_mapper.yaml
Owners: @d-bytebase, @ecmadao, @rebelice

feat(mybatis): support mybatis xml `foreach` dynamic sql node (#5876)
  backend/plugin/parser/mybatis/ast/dymamic_node.go
  backend/plugin/parser/mybatis/parser.go
  backend/plugin/parser/mybatis/test-data/test_dynamic_sql_mapper.yaml
Owners: @d-bytebase, @ecmadao, @rebelice

feat(mybatis): support mybatis xml `foreach` dynamic sql node (#5876)
  backend/plugin/parser/mybatis/ast/dymamic_node.go
  backend/plugin/parser/mybatis/parser.go
  backend/plugin/parser/mybatis/test-data/test_dynamic_sql_mapper.yaml
Owners: @d-bytebase, @ecmadao, @rebelice

chore: update
  backend/plugin/parser/mybatis/ast/data_node.go
  backend/plugin/parser/mybatis/ast/dymamic_node.go
  backend/plugin/parser/mybatis/ast/mapper_node.go
  backend/plugin/parser/mybatis/ast/node.go
  backend/plugin/parser/mybatis/ast/query_node.go
  backend/plugin/parser/mybatis/parser.go
  backend/plugin/parser/mybatis/test-data/test_dynamic_sql_mapper.yaml
Owners: @d-bytebase, @ecmadao, @rebelice

chore: update
  backend/plugin/parser/mybatis/parser_test.go
Owners: @d-bytebase, @ecmadao, @rebelice

feat(mybatis): support mybatis xml `sql` `include` dynamic sql element (#5877)
  backend/plugin/parser/mybatis/ast/data_node.go
  backend/plugin/parser/mybatis/ast/dymamic_node.go
  backend/plugin/parser/mybatis/ast/mapper_node.go
  backend/plugin/parser/mybatis/ast/node.go
  backend/plugin/parser/mybatis/ast/query_node.go
  backend/plugin/parser/mybatis/parser.go
  backend/plugin/parser/mybatis/parser_test.go
  backend/plugin/parser/mybatis/test-data/test_dynamic_sql_mapper.yaml
Owners: @d-bytebase, @ecmadao, @rebelice

feat(mybatis): support mybatis xml `sql` `include` dynamic sql element (#5877)
  backend/plugin/parser/mybatis/ast/data_node.go
  backend/plugin/parser/mybatis/ast/dymamic_node.go
  backend/plugin/parser/mybatis/ast/mapper_node.go
  backend/plugin/parser/mybatis/ast/node.go
  backend/plugin/parser/mybatis/ast/query_node.go
  backend/plugin/parser/mybatis/parser.go
  backend/plugin/parser/mybatis/parser_test.go
  backend/plugin/parser/mybatis/test-data/test_dynamic_sql_mapper.yaml
Owners: @d-bytebase, @ecmadao, @rebelice

feat(mybatis): support mybatis xml `sql` `include` dynamic sql element (#5877)
  backend/plugin/parser/mybatis/ast/data_node.go
  backend/plugin/parser/mybatis/ast/dymamic_node.go
  backend/plugin/parser/mybatis/ast/mapper_node.go
  backend/plugin/parser/mybatis/ast/node.go
  backend/plugin/parser/mybatis/ast/query_node.go
  backend/plugin/parser/mybatis/parser.go
  backend/plugin/parser/mybatis/parser_test.go
  backend/plugin/parser/mybatis/test-data/test_dynamic_sql_mapper.yaml
Owners: @d-bytebase, @ecmadao, @rebelice

chore: limit instance count for free plan
  backend/enterprise/config/config.go
  frontend/src/locales/subscription/en-US.json
  frontend/src/locales/subscription/es-ES.json
  frontend/src/locales/subscription/zh-CN.json
  frontend/src/types/plan.yaml
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

chore: limit instance count for free plan (#5878)
  backend/enterprise/config/config.go
  frontend/src/locales/subscription/en-US.json
  frontend/src/locales/subscription/es-ES.json
  frontend/src/locales/subscription/zh-CN.json
  frontend/src/types/plan.yaml
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

chore: limit instance count for free plan (#5878)
  backend/enterprise/config/config.go
  frontend/src/locales/subscription/en-US.json
  frontend/src/locales/subscription/es-ES.json
  frontend/src/locales/subscription/zh-CN.json
  frontend/src/types/plan.yaml
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

chore: limit instance count for free plan (#5878)
  backend/enterprise/config/config.go
  frontend/src/locales/subscription/en-US.json
  frontend/src/locales/subscription/es-ES.json
  frontend/src/locales/subscription/zh-CN.json
  frontend/src/types/plan.yaml
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

chore: limit instance count for free plan
  backend/enterprise/config/config.go
  frontend/src/locales/subscription/en-US.json
  frontend/src/locales/subscription/es-ES.json
  frontend/src/locales/subscription/zh-CN.json
  frontend/src/types/plan.yaml
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

chore: add row status for policy metric
  backend/metric/collector/policy_count.go
  backend/metric/metric.go
Owners: @d-bytebase, @ecmadao

chore: add row status for policy metric (#5880)
  backend/metric/collector/policy_count.go
  backend/metric/metric.go
Owners: @d-bytebase, @ecmadao

chore: add row status for policy metric (#5880)
  backend/metric/collector/policy_count.go
  backend/metric/metric.go
Owners: @d-bytebase, @ecmadao

chore: add row status for policy metric (#5880)
  backend/metric/collector/policy_count.go
  backend/metric/metric.go
Owners: @d-bytebase, @ecmadao

fix: fix query limit in Oracle 11
  backend/plugin/db/util/driverutil.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: update
  backend/plugin/db/util/driverutil.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: move disallow-signup feature to enterprise plan
  backend/legacyapi/plan.go
  frontend/src/components/GeneralSetting/SecuritySetting.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/subscription/en-US.json
  frontend/src/locales/subscription/es-ES.json
  frontend/src/locales/subscription/zh-CN.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/plan.ts
  frontend/src/types/plan.yaml
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

chore: update
  backend/plugin/db/util/driverutil_test.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: move disallow-signup feature to enterprise plan (#5882)
  backend/legacyapi/plan.go
  frontend/src/components/GeneralSetting/SecuritySetting.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/subscription/en-US.json
  frontend/src/locales/subscription/es-ES.json
  frontend/src/locales/subscription/zh-CN.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/plan.ts
  frontend/src/types/plan.yaml
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

chore: move disallow-signup feature to enterprise plan (#5882)
  backend/legacyapi/plan.go
  frontend/src/components/GeneralSetting/SecuritySetting.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/subscription/en-US.json
  frontend/src/locales/subscription/es-ES.json
  frontend/src/locales/subscription/zh-CN.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/plan.ts
  frontend/src/types/plan.yaml
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

chore: move disallow-signup feature to enterprise plan (#5882)
  backend/legacyapi/plan.go
  frontend/src/components/GeneralSetting/SecuritySetting.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/subscription/en-US.json
  frontend/src/locales/subscription/es-ES.json
  frontend/src/locales/subscription/zh-CN.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/plan.ts
  frontend/src/types/plan.yaml
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

fix: fix query limit in Oracle 11 (#5881)
  backend/plugin/db/util/driverutil.go
  backend/plugin/db/util/driverutil_test.go
Owners: @d-bytebase, @ecmadao, @rebelice

fix: fix query limit in Oracle 11 (#5881)
  backend/plugin/db/util/driverutil.go
  backend/plugin/db/util/driverutil_test.go
Owners: @d-bytebase, @ecmadao, @rebelice

fix: fix query limit in Oracle 11 (#5881)
  backend/plugin/db/util/driverutil.go
  backend/plugin/db/util/driverutil_test.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: introduce force option to instance deletion
  backend/api/v1/instance_service.go
  backend/server/instance.go
  frontend/src/types/proto/v1/instance_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/instance_service.pb.go
  proto/generated-go/v1/instance_service.pb.gw.go
  proto/v1/instance_service.proto
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

chore: introduce force option to instance deletion (#5883)
  backend/api/v1/instance_service.go
  backend/server/instance.go
  frontend/src/types/proto/v1/instance_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/instance_service.pb.go
  proto/generated-go/v1/instance_service.pb.gw.go
  proto/v1/instance_service.proto
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

chore: introduce force option to instance deletion (#5883)
  backend/api/v1/instance_service.go
  backend/server/instance.go
  frontend/src/types/proto/v1/instance_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/instance_service.pb.go
  proto/generated-go/v1/instance_service.pb.gw.go
  proto/v1/instance_service.proto
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

chore: introduce force option to instance deletion (#5883)
  backend/api/v1/instance_service.go
  backend/server/instance.go
  frontend/src/types/proto/v1/instance_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/generated-go/v1/instance_service.pb.go
  proto/generated-go/v1/instance_service.pb.gw.go
  proto/v1/instance_service.proto
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @ecmadao

# Backend and API.
/backend/                    @d-bytebase @ecmadao
/proto/                      @d-bytebase @ecmadao

# Backend SQL kernel.
/backend/plugin/advisor      @d-bytebase @ecmadao @rebelice
/backend/plugin/db           @d-bytebase @ecmadao @rebelice
/backend/plugin/parser       @d-bytebase @ecmadao @rebelice

# Frontend.
/frontend/                   @LiuJi-Jim @boojack

# Dependency files.
frontend/package.json        @d-bytebase @LiuJi-Jim
go.mod                       @d-bytebase @ecmadao
