Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

fix: issue status update reason (#13047)
  backend/api/v1/issue_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: no debug log (#13046)
  backend/api/v1/actuator_service.go
  backend/api/v1/debug_interceptor.go
  backend/legacyapi/debug.go
  backend/server/grpc_routes.go
  backend/server/server.go
  frontend/src/components/DebugLog/DebugLogTable.vue
  frontend/src/components/DebugLog/HTTPMethodTag.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/dashboard/workspaceSetting.ts
  frontend/src/store/modules/v1/actuator.ts
  frontend/src/types/proto/v1/actuator_service.ts
  frontend/src/views/SettingSidebar.vue
  frontend/src/views/SettingWorkspaceDebugLog.vue
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/actuator_service.pb.go
  proto/generated-go/v1/actuator_service.pb.gw.go
  proto/generated-go/v1/actuator_service_grpc.pb.go
  proto/v1/actuator_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: no debug log (#13046)
  backend/api/v1/actuator_service.go
  backend/api/v1/debug_interceptor.go
  backend/legacyapi/debug.go
  backend/server/grpc_routes.go
  backend/server/server.go
  frontend/src/components/DebugLog/DebugLogTable.vue
  frontend/src/components/DebugLog/HTTPMethodTag.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/dashboard/workspaceSetting.ts
  frontend/src/store/modules/v1/actuator.ts
  frontend/src/types/proto/v1/actuator_service.ts
  frontend/src/views/SettingSidebar.vue
  frontend/src/views/SettingWorkspaceDebugLog.vue
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/actuator_service.pb.go
  proto/generated-go/v1/actuator_service.pb.gw.go
  proto/generated-go/v1/actuator_service_grpc.pb.go
  proto/v1/actuator_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: no debug log (#13046)
  backend/api/v1/actuator_service.go
  backend/api/v1/debug_interceptor.go
  backend/legacyapi/debug.go
  backend/server/grpc_routes.go
  backend/server/server.go
  frontend/src/components/DebugLog/DebugLogTable.vue
  frontend/src/components/DebugLog/HTTPMethodTag.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/dashboard/workspaceSetting.ts
  frontend/src/store/modules/v1/actuator.ts
  frontend/src/types/proto/v1/actuator_service.ts
  frontend/src/views/SettingSidebar.vue
  frontend/src/views/SettingWorkspaceDebugLog.vue
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/actuator_service.pb.go
  proto/generated-go/v1/actuator_service.pb.gw.go
  proto/generated-go/v1/actuator_service_grpc.pb.go
  proto/v1/actuator_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: database check iam
  backend/api/v1/sql_service.go
  backend/component/iam/acl.yaml
  backend/component/iam/permission.go
  backend/component/iam/permission.yaml
  frontend/src/components/SQLCheck/SQLCheckButton.vue
  frontend/src/types/proto/v1/project_service.ts
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/project_service_grpc.pb.go
  proto/generated-go/v1/sql_service.pb.go
  proto/generated-go/v1/sql_service_grpc.pb.go
  proto/v1/project_service.proto
  proto/v1/sql_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: database check iam (#13048)
  backend/api/v1/sql_service.go
  backend/component/iam/acl.yaml
  backend/component/iam/permission.go
  backend/component/iam/permission.yaml
  frontend/src/components/SQLCheck/SQLCheckButton.vue
  frontend/src/types/proto/v1/project_service.ts
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/project_service_grpc.pb.go
  proto/generated-go/v1/sql_service.pb.go
  proto/generated-go/v1/sql_service_grpc.pb.go
  proto/v1/project_service.proto
  proto/v1/sql_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: database check iam (#13048)
  backend/api/v1/sql_service.go
  backend/component/iam/acl.yaml
  backend/component/iam/permission.go
  backend/component/iam/permission.yaml
  frontend/src/components/SQLCheck/SQLCheckButton.vue
  frontend/src/types/proto/v1/project_service.ts
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/project_service_grpc.pb.go
  proto/generated-go/v1/sql_service.pb.go
  proto/generated-go/v1/sql_service_grpc.pb.go
  proto/v1/project_service.proto
  proto/v1/sql_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: database check iam (#13048)
  backend/api/v1/sql_service.go
  backend/component/iam/acl.yaml
  backend/component/iam/permission.go
  backend/component/iam/permission.yaml
  frontend/src/components/SQLCheck/SQLCheckButton.vue
  frontend/src/types/proto/v1/project_service.ts
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/project_service_grpc.pb.go
  proto/generated-go/v1/sql_service.pb.go
  proto/generated-go/v1/sql_service_grpc.pb.go
  proto/v1/project_service.proto
  proto/v1/sql_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

fix(query-span): support mssql builtin functions
  backend/plugin/parser/tsql/query_span_extractor.go
  backend/plugin/parser/tsql/test-data/query-span/standard.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: support azure
  backend/api/gitops/azure.go
  backend/api/gitops/common.go
  backend/api/gitops/webhook.go
  backend/api/v1/vcs_connector_service.go
  backend/plugin/vcs/azure/azure.go
  backend/plugin/vcs/azure/webhook_events.go
  backend/plugin/vcs/bitbucket/bitbucket.go
  backend/plugin/vcs/bitbucket/webhook_events.go
  backend/plugin/vcs/github/github.go
  backend/plugin/vcs/gitlab/gitlab.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: task run iam
  backend/api/v1/rollout_service.go
  backend/component/iam/acl.yaml
  backend/component/iam/permission.go
  backend/component/iam/permission.yaml
  frontend/src/types/proto/v1/rollout_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/rollout_service_grpc.pb.go
  proto/v1/rollout_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: gitops sql review support azure (#13050)
  backend/api/gitops/azure.go
  backend/api/gitops/common.go
  backend/api/gitops/webhook.go
  backend/api/v1/vcs_connector_service.go
  backend/plugin/vcs/azure/azure.go
  backend/plugin/vcs/azure/webhook_events.go
  backend/plugin/vcs/bitbucket/bitbucket.go
  backend/plugin/vcs/bitbucket/webhook_events.go
  backend/plugin/vcs/github/github.go
  backend/plugin/vcs/gitlab/gitlab.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: gitops sql review support azure (#13050)
  backend/api/gitops/azure.go
  backend/api/gitops/common.go
  backend/api/gitops/webhook.go
  backend/api/v1/vcs_connector_service.go
  backend/plugin/vcs/azure/azure.go
  backend/plugin/vcs/azure/webhook_events.go
  backend/plugin/vcs/bitbucket/bitbucket.go
  backend/plugin/vcs/bitbucket/webhook_events.go
  backend/plugin/vcs/github/github.go
  backend/plugin/vcs/gitlab/gitlab.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: gitops sql review support azure (#13050)
  backend/api/gitops/azure.go
  backend/api/gitops/common.go
  backend/api/gitops/webhook.go
  backend/api/v1/vcs_connector_service.go
  backend/plugin/vcs/azure/azure.go
  backend/plugin/vcs/azure/webhook_events.go
  backend/plugin/vcs/bitbucket/bitbucket.go
  backend/plugin/vcs/bitbucket/webhook_events.go
  backend/plugin/vcs/github/github.go
  backend/plugin/vcs/gitlab/gitlab.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix(query-span): support mssql builtin functions (#13049)
  backend/plugin/parser/tsql/query_span_extractor.go
  backend/plugin/parser/tsql/test-data/query-span/standard.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix(query-span): support mssql builtin functions (#13049)
  backend/plugin/parser/tsql/query_span_extractor.go
  backend/plugin/parser/tsql/test-data/query-span/standard.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix(query-span): support mssql builtin functions (#13049)
  backend/plugin/parser/tsql/query_span_extractor.go
  backend/plugin/parser/tsql/test-data/query-span/standard.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: ghost ssl
  backend/component/ghost/config.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: task run iam (#13051)
  backend/api/v1/rollout_service.go
  backend/component/iam/acl.yaml
  backend/component/iam/permission.go
  backend/component/iam/permission.yaml
  frontend/src/types/proto/v1/rollout_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/rollout_service_grpc.pb.go
  proto/v1/rollout_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: task run iam (#13051)
  backend/api/v1/rollout_service.go
  backend/component/iam/acl.yaml
  backend/component/iam/permission.go
  backend/component/iam/permission.yaml
  frontend/src/types/proto/v1/rollout_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/rollout_service_grpc.pb.go
  proto/v1/rollout_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: task run iam (#13051)
  backend/api/v1/rollout_service.go
  backend/component/iam/acl.yaml
  backend/component/iam/permission.go
  backend/component/iam/permission.yaml
  frontend/src/types/proto/v1/rollout_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/rollout_service_grpc.pb.go
  proto/v1/rollout_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

feat(sql-editor): allow to query with selected data source
  backend/legacyapi/policy.go
  frontend/src/components/EnvironmentForm/AccessControlConfigure.vue
  frontend/src/customAppProfile.ts
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/appProfile.ts
  frontend/src/views/project/ProjectSettingPanel.vue
  frontend/src/views/sql-editor/EditorCommon/EditorAction.vue
  frontend/src/views/sql-editor/EditorCommon/QueryContextSettingPopover.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

feat: ghost ssl (#13052)
  backend/component/ghost/config.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: ghost ssl (#13052)
  backend/component/ghost/config.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: ghost ssl (#13052)
  backend/component/ghost/config.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: issue api comment about acl
  frontend/src/types/proto/v1/issue_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/issue_service_grpc.pb.go
  proto/v1/issue_service.proto
  proto/v1/plan_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: issue api comment about acl (#13053)
  frontend/src/types/proto/v1/issue_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/issue_service_grpc.pb.go
  proto/v1/issue_service.proto
  proto/v1/plan_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: issue api comment about acl (#13053)
  frontend/src/types/proto/v1/issue_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/issue_service_grpc.pb.go
  proto/v1/issue_service.proto
  proto/v1/plan_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: issue api comment about acl (#13053)
  frontend/src/types/proto/v1/issue_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/issue_service_grpc.pb.go
  proto/v1/issue_service.proto
  proto/v1/plan_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: update
  backend/api/v1/sql_service.go
  backend/store/data_source.go
  backend/store/instance.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: fix list
  backend/api/v1/issue_service.go
  backend/api/v1/plan_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  backend/api/v1/issue_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  backend/api/v1/sql_service.go
  backend/store/data_source.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

setup tls
  backend/component/ghost/config.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

deregister tls config
  backend/runner/plancheck/ghost_sync_executor.go
  backend/runner/taskrun/schema_update_ghost_sync_executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

update ghost fork
  go.mod
  go.sum
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat(sql-editor): allow to query with selected data source (#13054)
  backend/api/v1/sql_service.go
  backend/legacyapi/policy.go
  backend/store/data_source.go
  backend/store/instance.go
  frontend/src/components/EnvironmentForm/AccessControlConfigure.vue
  frontend/src/customAppProfile.ts
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/appProfile.ts
  frontend/src/views/project/ProjectSettingPanel.vue
  frontend/src/views/sql-editor/EditorCommon/EditorAction.vue
  frontend/src/views/sql-editor/EditorCommon/QueryContextSettingPopover.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

feat(sql-editor): allow to query with selected data source (#13054)
  backend/api/v1/sql_service.go
  backend/legacyapi/policy.go
  backend/store/data_source.go
  backend/store/instance.go
  frontend/src/components/EnvironmentForm/AccessControlConfigure.vue
  frontend/src/customAppProfile.ts
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/appProfile.ts
  frontend/src/views/project/ProjectSettingPanel.vue
  frontend/src/views/sql-editor/EditorCommon/EditorAction.vue
  frontend/src/views/sql-editor/EditorCommon/QueryContextSettingPopover.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

feat(sql-editor): allow to query with selected data source (#13054)
  backend/api/v1/sql_service.go
  backend/legacyapi/policy.go
  backend/store/data_source.go
  backend/store/instance.go
  frontend/src/components/EnvironmentForm/AccessControlConfigure.vue
  frontend/src/customAppProfile.ts
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/appProfile.ts
  frontend/src/views/project/ProjectSettingPanel.vue
  frontend/src/views/sql-editor/EditorCommon/EditorAction.vue
  frontend/src/views/sql-editor/EditorCommon/QueryContextSettingPopover.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: fix list (#13055)
  backend/api/v1/issue_service.go
  backend/api/v1/plan_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
