Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

chore: object schema in store (#14765)
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/store/database.ts
  frontend/src/types/proto/v1/database_catalog_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/database.pb.go
  proto/generated-go/v1/database_catalog_service.pb.go
  proto/store/database.proto
  proto/v1/database_catalog_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: object schema in store (#14765)
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/store/database.ts
  frontend/src/types/proto/v1/database_catalog_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/database.pb.go
  proto/generated-go/v1/database_catalog_service.pb.go
  proto/store/database.proto
  proto/v1/database_catalog_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: remove workspace-level role checks
  frontend/src/DummyRootView.ts
  frontend/src/components/ProfileDropdown.vue
  frontend/src/components/Quickstart.vue
  frontend/src/store/modules/user.ts
  frontend/src/utils/iam/permission.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/DummyRootView.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/DummyRootView.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove workspace-level role checks (#14766)
  frontend/src/DummyRootView.ts
  frontend/src/components/GeneralSetting/PasswordRestrictionSetting.vue
  frontend/src/components/ProfileDropdown.vue
  frontend/src/components/Quickstart.vue
  frontend/src/components/SensitiveData/ClassificationView.vue
  frontend/src/components/User/Settings/UserDataTable/cells/UserOperationsCell.vue
  frontend/src/store/modules/user.ts
  frontend/src/utils/iam/permission.ts
  frontend/src/views/SettingWorkspaceUsers.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove workspace-level role checks (#14766)
  frontend/src/DummyRootView.ts
  frontend/src/components/GeneralSetting/PasswordRestrictionSetting.vue
  frontend/src/components/ProfileDropdown.vue
  frontend/src/components/Quickstart.vue
  frontend/src/components/SensitiveData/ClassificationView.vue
  frontend/src/components/User/Settings/UserDataTable/cells/UserOperationsCell.vue
  frontend/src/store/modules/user.ts
  frontend/src/utils/iam/permission.ts
  frontend/src/views/SettingWorkspaceUsers.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove workspace-level role checks (#14766)
  frontend/src/DummyRootView.ts
  frontend/src/components/GeneralSetting/PasswordRestrictionSetting.vue
  frontend/src/components/ProfileDropdown.vue
  frontend/src/components/Quickstart.vue
  frontend/src/components/SensitiveData/ClassificationView.vue
  frontend/src/components/User/Settings/UserDataTable/cells/UserOperationsCell.vue
  frontend/src/store/modules/user.ts
  frontend/src/utils/iam/permission.ts
  frontend/src/views/SettingWorkspaceUsers.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: populate object schema
  backend/api/v1/database_catalog_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: populate object schema (#14767)
  backend/api/v1/database_catalog_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: populate object schema (#14767)
  backend/api/v1/database_catalog_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: populate object schema (#14767)
  backend/api/v1/database_catalog_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: audit log
  backend/api/v1/audit.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: audit log (#14768)
  backend/api/v1/audit.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: audit log (#14768)
  backend/api/v1/audit.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: audit log (#14768)
  backend/api/v1/audit.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: migrate test for database catalog
  backend/tests/sensitive_data_test.go
  backend/tests/tests.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: migrate test for database catalog (#14769)
  backend/tests/sensitive_data_test.go
  backend/tests/tests.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: migrate test for database catalog (#14769)
  backend/tests/sensitive_data_test.go
  backend/tests/tests.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: migrate test for database catalog (#14769)
  backend/tests/sensitive_data_test.go
  backend/tests/tests.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: use vite legacy plugin
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/main.ts
  frontend/src/polyfill.ts
  frontend/vite.config.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/polyfill.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: use vite legacy plugin (#14770)
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/main.ts
  frontend/src/polyfill.ts
  frontend/vite.config.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: use vite legacy plugin (#14770)
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/main.ts
  frontend/src/polyfill.ts
  frontend/vite.config.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: use vite legacy plugin (#14770)
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/main.ts
  frontend/src/polyfill.ts
  frontend/vite.config.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/components/ColumnDataTable/utils.ts
  frontend/src/grpcweb/index.ts
  frontend/src/store/modules/v1/databaseCatalog.ts
  frontend/src/store/modules/v1/index.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/components/ColumnDataTable/utils.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

Update frontend/src/components/ColumnDataTable/utils.ts
  frontend/src/components/ColumnDataTable/utils.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: catalog store (#14771)
  frontend/src/components/ColumnDataTable/utils.ts
  frontend/src/grpcweb/index.ts
  frontend/src/store/modules/v1/databaseCatalog.ts
  frontend/src/store/modules/v1/index.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: catalog store (#14771)
  frontend/src/components/ColumnDataTable/utils.ts
  frontend/src/grpcweb/index.ts
  frontend/src/store/modules/v1/databaseCatalog.ts
  frontend/src/store/modules/v1/index.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: catalog store (#14771)
  frontend/src/components/ColumnDataTable/utils.ts
  frontend/src/grpcweb/index.ts
  frontend/src/store/modules/v1/databaseCatalog.ts
  frontend/src/store/modules/v1/index.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update changelog & revision
  backend/api/v1/database_service_revision.go
  backend/store/changelog.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore(sql-editor): implement multi-selection in data table
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/DataTable/DataTable.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/DataTable/TableCell.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/DataTableLite/ColumnHeader.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/DataTableLite/TableCell.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/common/selection-logic.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/common/selection-logic.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/common/selection-logic.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update changelog & revision (#14772)
  backend/api/v1/database_service_revision.go
  backend/store/changelog.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update changelog & revision (#14772)
  backend/api/v1/database_service_revision.go
  backend/store/changelog.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update changelog & revision (#14772)
  backend/api/v1/database_service_revision.go
  backend/store/changelog.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore(sql-editor): implement multi-selection in data table (#14773)
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/DataTable/DataTable.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/DataTable/TableCell.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/DataTableLite/ColumnHeader.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/DataTableLite/TableCell.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/common/selection-logic.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(sql-editor): implement multi-selection in data table (#14773)
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/DataTable/DataTable.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/DataTable/TableCell.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/DataTableLite/ColumnHeader.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/DataTableLite/TableCell.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/common/selection-logic.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
