Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

chore: handle data source query policy
  backend/api/v1/org_policy_service.go
  backend/legacyapi/policy.go
  frontend/src/types/proto/v1/org_policy_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/org_policy_service.pb.go
  proto/v1/org_policy_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: allow edit labels for issue creator & record labels change (#12989)
  backend/api/v1/issue_service.go
  backend/api/v1/issue_service_convert.go
  frontend/src/components/IssueV1/components/DescriptionSection/DescriptionSection.vue
  frontend/src/components/IssueV1/components/HeaderSection/Title.vue
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentList.vue
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentView/ActionIcon.vue
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentView/ActionSentence.vue
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentView/IssueCommentView.vue
  frontend/src/components/IssueV1/components/Sidebar/IssueLabels.vue
  frontend/src/components/IssueV1/logic/context.ts
  frontend/src/components/IssueV1/logic/initialize/index.ts
  frontend/src/components/Project/Settings/ProjectIssueRelatedSettingPanel.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/proto/store/issue_comment.ts
  frontend/src/types/proto/v1/issue_service.ts
  frontend/src/views/project/ProjectIssueDetail.vue
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/issue_comment.pb.go
  proto/generated-go/v1/issue_service.pb.go
  proto/store/issue_comment.proto
  proto/v1/issue_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: allow edit labels for issue creator & record labels change (#12989)
  backend/api/v1/issue_service.go
  backend/api/v1/issue_service_convert.go
  frontend/src/components/IssueV1/components/DescriptionSection/DescriptionSection.vue
  frontend/src/components/IssueV1/components/HeaderSection/Title.vue
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentList.vue
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentView/ActionIcon.vue
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentView/ActionSentence.vue
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentView/IssueCommentView.vue
  frontend/src/components/IssueV1/components/Sidebar/IssueLabels.vue
  frontend/src/components/IssueV1/logic/context.ts
  frontend/src/components/IssueV1/logic/initialize/index.ts
  frontend/src/components/Project/Settings/ProjectIssueRelatedSettingPanel.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/proto/store/issue_comment.ts
  frontend/src/types/proto/v1/issue_service.ts
  frontend/src/views/project/ProjectIssueDetail.vue
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/issue_comment.pb.go
  proto/generated-go/v1/issue_service.pb.go
  proto/store/issue_comment.proto
  proto/v1/issue_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: allow edit labels for issue creator & record labels change (#12989)
  backend/api/v1/issue_service.go
  backend/api/v1/issue_service_convert.go
  frontend/src/components/IssueV1/components/DescriptionSection/DescriptionSection.vue
  frontend/src/components/IssueV1/components/HeaderSection/Title.vue
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentList.vue
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentView/ActionIcon.vue
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentView/ActionSentence.vue
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentView/IssueCommentView.vue
  frontend/src/components/IssueV1/components/Sidebar/IssueLabels.vue
  frontend/src/components/IssueV1/logic/context.ts
  frontend/src/components/IssueV1/logic/initialize/index.ts
  frontend/src/components/Project/Settings/ProjectIssueRelatedSettingPanel.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/proto/store/issue_comment.ts
  frontend/src/types/proto/v1/issue_service.ts
  frontend/src/views/project/ProjectIssueDetail.vue
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/issue_comment.pb.go
  proto/generated-go/v1/issue_service.pb.go
  proto/store/issue_comment.proto
  proto/v1/issue_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: update
  backend/api/v1/org_policy_service.go
  frontend/src/types/proto/store/policy.ts
  frontend/src/types/proto/v1/org_policy_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/policy.pb.go
  proto/generated-go/v1/org_policy_service.pb.go
  proto/store/policy.proto
  proto/v1/org_policy_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: update
  backend/api/v1/audit.go
  backend/api/v1/project_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: handle data source query policy (#13004)
  backend/api/v1/org_policy_service.go
  backend/legacyapi/policy.go
  frontend/src/types/proto/store/policy.ts
  frontend/src/types/proto/v1/org_policy_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/policy.pb.go
  proto/generated-go/v1/org_policy_service.pb.go
  proto/store/policy.proto
  proto/v1/org_policy_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: handle data source query policy (#13004)
  backend/api/v1/org_policy_service.go
  backend/legacyapi/policy.go
  frontend/src/types/proto/store/policy.ts
  frontend/src/types/proto/v1/org_policy_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/policy.pb.go
  proto/generated-go/v1/org_policy_service.pb.go
  proto/store/policy.proto
  proto/v1/org_policy_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: handle data source query policy (#13004)
  backend/api/v1/org_policy_service.go
  backend/legacyapi/policy.go
  frontend/src/types/proto/store/policy.ts
  frontend/src/types/proto/v1/org_policy_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/policy.pb.go
  proto/generated-go/v1/org_policy_service.pb.go
  proto/store/policy.proto
  proto/v1/org_policy_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: remove instance check
  backend/api/v1/acl.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  backend/api/v1/acl.go
  backend/common/context.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: remove instance check (#13005)
  backend/api/v1/acl.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: remove instance check (#13005)
  backend/api/v1/acl.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: remove instance check (#13005)
  backend/api/v1/acl.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: support upsert comment
  backend/api/gitops/common.go
  backend/api/gitops/gitops.go
  backend/api/gitops/webhook.go
  backend/api/v1/sql_service.go
  backend/api/v1/sql_service_test.go
  backend/api/v1/sql_service_utils.go
  backend/plugin/vcs/azure/azure.go
  backend/plugin/vcs/bitbucket/bitbucket.go
  backend/plugin/vcs/github/github.go
  backend/plugin/vcs/gitlab/gitlab.go
  backend/plugin/vcs/internal/request.go
  backend/plugin/vcs/vcs.go
  backend/server/grpc_routes.go
  backend/server/server.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: optimize checks (#13006)
  backend/api/v1/acl.go
  backend/common/context.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: optimize checks (#13006)
  backend/api/v1/acl.go
  backend/common/context.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: optimize checks (#13006)
  backend/api/v1/acl.go
  backend/common/context.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: less legacy stuff
  backend/api/v1/acl.go
  backend/api/v1/audit.go
  backend/api/v1/ctx.go
  backend/common/context.go
  backend/server/server.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: use database's instance resources for db group
  frontend/src/components/AdvancedSearch/useCommonSearchScopeOptions.ts
  frontend/src/components/DatabaseGroup/DatabaseGroupForm.vue
  frontend/src/components/DatabaseGroup/utils.ts
  frontend/src/types/quickAction.ts
  frontend/src/views/DatabaseGroupDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: use database's instance resources for db group (#13008)
  frontend/src/components/AdvancedSearch/useCommonSearchScopeOptions.ts
  frontend/src/components/DatabaseGroup/DatabaseGroupForm.vue
  frontend/src/components/DatabaseGroup/utils.ts
  frontend/src/types/quickAction.ts
  frontend/src/views/DatabaseGroupDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: use database's instance resources for db group (#13008)
  frontend/src/components/AdvancedSearch/useCommonSearchScopeOptions.ts
  frontend/src/components/DatabaseGroup/DatabaseGroupForm.vue
  frontend/src/components/DatabaseGroup/utils.ts
  frontend/src/types/quickAction.ts
  frontend/src/views/DatabaseGroupDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: use database's instance resources for db group (#13008)
  frontend/src/components/AdvancedSearch/useCommonSearchScopeOptions.ts
  frontend/src/components/DatabaseGroup/DatabaseGroupForm.vue
  frontend/src/components/DatabaseGroup/utils.ts
  frontend/src/types/quickAction.ts
  frontend/src/views/DatabaseGroupDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: less legacy stuff (#13007)
  backend/api/v1/acl.go
  backend/api/v1/audit.go
  backend/api/v1/ctx.go
  backend/common/context.go
  backend/server/server.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: less legacy stuff (#13007)
  backend/api/v1/acl.go
  backend/api/v1/audit.go
  backend/api/v1/ctx.go
  backend/common/context.go
  backend/server/server.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: less legacy stuff (#13007)
  backend/api/v1/acl.go
  backend/api/v1/audit.go
  backend/api/v1/ctx.go
  backend/common/context.go
  backend/server/server.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

pass by func
  backend/api/v1/audit.go
  backend/api/v1/project_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

remove unused
  backend/api/v1/audit.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: comment for github pr
  backend/api/gitops/webhook.go
  backend/plugin/vcs/github/github.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  backend/api/v1/audit.go
  backend/api/v1/project_service.go
  backend/common/context.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat(audit): show diffs in SetIamPolicy (#12900)
  backend/api/v1/audit.go
  backend/api/v1/audit_log_service.go
  backend/api/v1/project_service.go
  backend/api/v1/project_service_test.go
  backend/common/context.go
  frontend/src/components/AuditLog/AuditLogDataTable.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

feat(audit): show diffs in SetIamPolicy (#12900)
  backend/api/v1/audit.go
  backend/api/v1/audit_log_service.go
  backend/api/v1/project_service.go
  backend/api/v1/project_service_test.go
  backend/common/context.go
  frontend/src/components/AuditLog/AuditLogDataTable.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

feat(audit): show diffs in SetIamPolicy (#12900)
  backend/api/v1/audit.go
  backend/api/v1/audit_log_service.go
  backend/api/v1/project_service.go
  backend/api/v1/project_service_test.go
  backend/common/context.go
  frontend/src/components/AuditLog/AuditLogDataTable.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: comment for GitHub PR (#13009)
  backend/api/gitops/common.go
  backend/api/gitops/gitops.go
  backend/api/gitops/webhook.go
  backend/api/v1/sql_service.go
  backend/api/v1/sql_service_test.go
  backend/api/v1/sql_service_utils.go
  backend/plugin/vcs/azure/azure.go
  backend/plugin/vcs/bitbucket/bitbucket.go
  backend/plugin/vcs/github/github.go
  backend/plugin/vcs/gitlab/gitlab.go
  backend/plugin/vcs/internal/request.go
  backend/plugin/vcs/vcs.go
  backend/server/grpc_routes.go
  backend/server/server.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: comment for GitHub PR (#13009)
  backend/api/gitops/common.go
  backend/api/gitops/gitops.go
  backend/api/gitops/webhook.go
  backend/api/v1/sql_service.go
  backend/api/v1/sql_service_test.go
  backend/api/v1/sql_service_utils.go
  backend/plugin/vcs/azure/azure.go
  backend/plugin/vcs/bitbucket/bitbucket.go
  backend/plugin/vcs/github/github.go
  backend/plugin/vcs/gitlab/gitlab.go
  backend/plugin/vcs/internal/request.go
  backend/plugin/vcs/vcs.go
  backend/server/grpc_routes.go
  backend/server/server.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: comment for GitHub PR (#13009)
  backend/api/gitops/common.go
  backend/api/gitops/gitops.go
  backend/api/gitops/webhook.go
  backend/api/v1/sql_service.go
  backend/api/v1/sql_service_test.go
  backend/api/v1/sql_service_utils.go
  backend/plugin/vcs/azure/azure.go
  backend/plugin/vcs/bitbucket/bitbucket.go
  backend/plugin/vcs/github/github.go
  backend/plugin/vcs/gitlab/gitlab.go
  backend/plugin/vcs/internal/request.go
  backend/plugin/vcs/vcs.go
  backend/server/grpc_routes.go
  backend/server/server.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: hack project dash
  backend/api/v1/acl.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: hack project dash (#13010)
  backend/api/v1/acl.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: hack project dash (#13010)
  backend/api/v1/acl.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: hack project dash (#13010)
  backend/api/v1/acl.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
