Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

chore: deprecate time (#12429)
  backend/api/v1/rollout_service_converter.go
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunTable.vue
  frontend/src/types/proto/v1/rollout_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/rollout_service.pb.go
  proto/v1/rollout_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: deprecate time (#12429)
  backend/api/v1/rollout_service_converter.go
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunTable.vue
  frontend/src/types/proto/v1/rollout_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/rollout_service.pb.go
  proto/v1/rollout_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: deprecate time (#12429)
  backend/api/v1/rollout_service_converter.go
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunTable.vue
  frontend/src/types/proto/v1/rollout_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/rollout_service.pb.go
  proto/v1/rollout_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: execute mysql/tid one sql at a time
  backend/plugin/db/mysql/mysql.go
  backend/plugin/db/tidb/tidb.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: execute mysql/tid one sql at a time (#12430)
  backend/plugin/db/mysql/mysql.go
  backend/plugin/db/tidb/tidb.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: execute mysql/tid one sql at a time (#12430)
  backend/plugin/db/mysql/mysql.go
  backend/plugin/db/tidb/tidb.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: execute mysql/tid one sql at a time (#12430)
  backend/plugin/db/mysql/mysql.go
  backend/plugin/db/tidb/tidb.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: deprecate sql review policy
  backend/api/v1/org_policy_service.go
  backend/api/v1/review_config_service.go
  backend/legacyapi/policy.go
  backend/metric/collector/policy_count.go
  backend/migrator/migration/prod/2.20/0001##review_config.sql
  backend/migrator/migration/prod/2.20/0002##remove_sql_review_policy.sql
  backend/migrator/migrator_test.go
  backend/store/review_config.go
  frontend/src/components/SQLReview/SQLReviewCreation.vue
  frontend/src/components/SQLReview/SQLReviewInfo.vue
  frontend/src/components/v2/Form/ResourceIdField.vue
  frontend/src/grpcweb/index.ts
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/store/modules/sqlReview.ts
  frontend/src/store/modules/v1/common.ts
  frontend/src/types/common.ts
  frontend/src/types/id.ts
  frontend/src/types/proto/store/policy.ts
  frontend/src/types/proto/v1/org_policy_service.ts
  frontend/src/types/sqlReview.ts
  frontend/src/views/SettingWorkspaceSQLReviewDetail.vue
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/policy.pb.go
  proto/generated-go/v1/org_policy_service.pb.go
  proto/store/policy.proto
  proto/v1/org_policy_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: add popover to create group button
  frontend/src/components/GeneralSetting/DomainRestrictionSetting.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/SettingWorkspaceGeneral.vue
  frontend/src/views/SettingWorkspaceMember.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add popover to create group button (#12432)
  frontend/src/components/GeneralSetting/DomainRestrictionSetting.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/SettingWorkspaceGeneral.vue
  frontend/src/views/SettingWorkspaceMember.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add popover to create group button (#12432)
  frontend/src/components/GeneralSetting/DomainRestrictionSetting.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/SettingWorkspaceGeneral.vue
  frontend/src/views/SettingWorkspaceMember.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add popover to create group button (#12432)
  frontend/src/components/GeneralSetting/DomainRestrictionSetting.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/SettingWorkspaceGeneral.vue
  frontend/src/views/SettingWorkspaceMember.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  .golangci.yaml
  backend/common/util.go
Owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao

chore: unmarshal 2.19.0
  backend/store/audit_log.go
  backend/store/data_source.go
  backend/store/database.go
  backend/store/database_group.go
  backend/store/db_schema.go
  backend/store/idp.go
  backend/store/instance.go
  backend/store/instance_change_history.go
  backend/store/issue.go
  backend/store/issue_comment.go
  backend/store/plan.go
  backend/store/plan_check_run.go
  backend/store/policy.go
  backend/store/principal.go
  backend/store/project_webhook.go
  backend/store/query_history.go
  backend/store/risk.go
  backend/store/role.go
  backend/store/setting.go
  backend/store/slow_query.go
  backend/store/task_run.go
  backend/store/task_run_log.go
  backend/store/user_group.go
  backend/store/vcs_connector.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: try to fix grant access drawer
  frontend/src/components/SensitiveData/SensitiveColumnDrawer.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: try to fix grant access drawer (#12435)
  frontend/src/components/SensitiveData/SensitiveColumnDrawer.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: try to fix grant access drawer (#12435)
  frontend/src/components/SensitiveData/SensitiveColumnDrawer.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: try to fix grant access drawer (#12435)
  frontend/src/components/SensitiveData/SensitiveColumnDrawer.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: nil pointer in disallow partition advisor
  backend/plugin/advisor/mysql/advisor_table_disallow_partition.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: unmarshal 2.19.0 (#12434)
  backend/store/audit_log.go
  backend/store/data_source.go
  backend/store/database.go
  backend/store/database_group.go
  backend/store/db_schema.go
  backend/store/idp.go
  backend/store/instance.go
  backend/store/instance_change_history.go
  backend/store/issue.go
  backend/store/issue_comment.go
  backend/store/plan.go
  backend/store/plan_check_run.go
  backend/store/policy.go
  backend/store/principal.go
  backend/store/project_webhook.go
  backend/store/query_history.go
  backend/store/risk.go
  backend/store/role.go
  backend/store/setting.go
  backend/store/slow_query.go
  backend/store/task_run.go
  backend/store/task_run_log.go
  backend/store/user_group.go
  backend/store/vcs_connector.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: unmarshal 2.19.0 (#12434)
  backend/store/audit_log.go
  backend/store/data_source.go
  backend/store/database.go
  backend/store/database_group.go
  backend/store/db_schema.go
  backend/store/idp.go
  backend/store/instance.go
  backend/store/instance_change_history.go
  backend/store/issue.go
  backend/store/issue_comment.go
  backend/store/plan.go
  backend/store/plan_check_run.go
  backend/store/policy.go
  backend/store/principal.go
  backend/store/project_webhook.go
  backend/store/query_history.go
  backend/store/risk.go
  backend/store/role.go
  backend/store/setting.go
  backend/store/slow_query.go
  backend/store/task_run.go
  backend/store/task_run_log.go
  backend/store/user_group.go
  backend/store/vcs_connector.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: nil pointer in disallow partition advisor (#12436)
  backend/plugin/advisor/mysql/advisor_table_disallow_partition.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: nil pointer in disallow partition advisor (#12436)
  backend/plugin/advisor/mysql/advisor_table_disallow_partition.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: nil pointer in disallow partition advisor (#12436)
  backend/plugin/advisor/mysql/advisor_table_disallow_partition.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: nil pointer in disallow partition advisor (#12436)
  backend/plugin/advisor/mysql/advisor_table_disallow_partition.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: try to fix grant access drawer (#12435)
  frontend/src/components/SensitiveData/SensitiveColumnDrawer.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: nil pointer in disallow partition advisor (#12436)
  backend/plugin/advisor/mysql/advisor_table_disallow_partition.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: try to fix grant access drawer (#12435)
  frontend/src/components/SensitiveData/SensitiveColumnDrawer.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: switch project in changelist dashboard
  frontend/src/components/Changelist/ChangelistDashboard/ChangelistDashboard.vue
  frontend/src/components/Changelist/ChangelistDashboard/context.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: switch project in changelist dashboard (#12437)
  frontend/src/components/Changelist/ChangelistDashboard/ChangelistDashboard.vue
  frontend/src/components/Changelist/ChangelistDashboard/context.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: switch project in changelist dashboard (#12437)
  frontend/src/components/Changelist/ChangelistDashboard/ChangelistDashboard.vue
  frontend/src/components/Changelist/ChangelistDashboard/context.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: switch project in changelist dashboard (#12437)
  frontend/src/components/Changelist/ChangelistDashboard/ChangelistDashboard.vue
  frontend/src/components/Changelist/ChangelistDashboard/context.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove unused code
  backend/plugin/db/driver.go
  backend/plugin/db/mysql/mysql.go
  backend/plugin/db/pg/pg.go
  backend/plugin/db/redshift/redshift.go
  backend/plugin/db/risingwave/risingwave.go
  backend/plugin/db/tidb/tidb.go
  backend/runner/taskrun/executor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

chore: move wecom into a separate pkg
  backend/plugin/webhook/wecom/wecom.go
  backend/server/minimal.go
  backend/server/ultimate.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: remove unused code (#12438)
  backend/plugin/db/driver.go
  backend/plugin/db/mysql/mysql.go
  backend/plugin/db/pg/pg.go
  backend/plugin/db/redshift/redshift.go
  backend/plugin/db/risingwave/risingwave.go
  backend/plugin/db/tidb/tidb.go
  backend/runner/taskrun/executor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

chore: remove unused code (#12438)
  backend/plugin/db/driver.go
  backend/plugin/db/mysql/mysql.go
  backend/plugin/db/pg/pg.go
  backend/plugin/db/redshift/redshift.go
  backend/plugin/db/risingwave/risingwave.go
  backend/plugin/db/tidb/tidb.go
  backend/runner/taskrun/executor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

chore: remove unused code (#12438)
  backend/plugin/db/driver.go
  backend/plugin/db/mysql/mysql.go
  backend/plugin/db/pg/pg.go
  backend/plugin/db/redshift/redshift.go
  backend/plugin/db/risingwave/risingwave.go
  backend/plugin/db/tidb/tidb.go
  backend/runner/taskrun/executor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

chore: deprecate sql review policy (#12431)
  backend/api/v1/org_policy_service.go
  backend/api/v1/review_config_service.go
  backend/demo/data/default/dump.sql.REMOVED.git-id
  backend/legacyapi/policy.go
  backend/metric/collector/policy_count.go
  backend/migrator/migration/prod/2.20/0001##review_config.sql
  backend/migrator/migration/prod/2.20/0002##remove_sql_review_policy.sql
  backend/migrator/migrator_test.go
  backend/store/review_config.go
  frontend/src/components/SQLReview/SQLReviewCreation.vue
  frontend/src/components/SQLReview/SQLReviewInfo.vue
  frontend/src/components/v2/Form/ResourceIdField.vue
  frontend/src/grpcweb/index.ts
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/store/modules/sqlReview.ts
  frontend/src/store/modules/v1/common.ts
  frontend/src/types/common.ts
  frontend/src/types/id.ts
  frontend/src/types/proto/store/policy.ts
  frontend/src/types/proto/v1/org_policy_service.ts
  frontend/src/types/sqlReview.ts
  frontend/src/views/SettingWorkspaceSQLReviewDetail.vue
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/policy.pb.go
  proto/generated-go/v1/org_policy_service.pb.go
  proto/store/policy.proto
  proto/v1/org_policy_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: deprecate sql review policy (#12431)
  backend/api/v1/org_policy_service.go
  backend/api/v1/review_config_service.go
  backend/legacyapi/policy.go
  backend/metric/collector/policy_count.go
  backend/migrator/migration/prod/2.20/0001##review_config.sql
  backend/migrator/migration/prod/2.20/0002##remove_sql_review_policy.sql
  backend/migrator/migrator_test.go
  backend/store/review_config.go
  frontend/src/components/SQLReview/SQLReviewCreation.vue
  frontend/src/components/SQLReview/SQLReviewInfo.vue
  frontend/src/components/v2/Form/ResourceIdField.vue
  frontend/src/grpcweb/index.ts
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/store/modules/sqlReview.ts
  frontend/src/store/modules/v1/common.ts
  frontend/src/types/common.ts
  frontend/src/types/id.ts
  frontend/src/types/proto/store/policy.ts
  frontend/src/types/proto/v1/org_policy_service.ts
  frontend/src/types/sqlReview.ts
  frontend/src/views/SettingWorkspaceSQLReviewDetail.vue
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/policy.pb.go
  proto/generated-go/v1/org_policy_service.pb.go
  proto/store/policy.proto
  proto/v1/org_policy_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: deprecate sql review policy (#12431)
  backend/api/v1/org_policy_service.go
  backend/api/v1/review_config_service.go
  backend/legacyapi/policy.go
  backend/metric/collector/policy_count.go
  backend/migrator/migration/prod/2.20/0001##review_config.sql
  backend/migrator/migration/prod/2.20/0002##remove_sql_review_policy.sql
  backend/migrator/migrator_test.go
  backend/store/review_config.go
  frontend/src/components/SQLReview/SQLReviewCreation.vue
  frontend/src/components/SQLReview/SQLReviewInfo.vue
  frontend/src/components/v2/Form/ResourceIdField.vue
  frontend/src/grpcweb/index.ts
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/store/modules/sqlReview.ts
  frontend/src/store/modules/v1/common.ts
  frontend/src/types/common.ts
  frontend/src/types/id.ts
  frontend/src/types/proto/store/policy.ts
  frontend/src/types/proto/v1/org_policy_service.ts
  frontend/src/types/sqlReview.ts
  frontend/src/views/SettingWorkspaceSQLReviewDetail.vue
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/policy.pb.go
  proto/generated-go/v1/org_policy_service.pb.go
  proto/store/policy.proto
  proto/v1/org_policy_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
