Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev

chore: better rename
  frontend/src/views/sql-editor/EditorCommon/SaveSheetForm.vue
  frontend/src/views/sql-editor/EditorCommon/SaveSheetModal.vue
  frontend/src/views/sql-editor/Sheet/common/Dropdown.vue
  frontend/src/views/sql-editor/context.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove legacy
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetListLegacy/SheetList.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetListLegacy/UnsavedPrefix.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetListLegacy/common.ts
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetListLegacy/index.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: case insensitive search
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/DraftList.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/SheetList.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat(sql-editor): vertical worksheet layout (#11588)
  frontend/src/components/AlterSchemaPrepForm/ProjectTenantView.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/AbstractListItem.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/DraftList.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/DraftListItem.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/SheetList.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/SheetListItem.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/UnsavedPrefix.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/common.ts
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/index.ts
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/WorksheetPane.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/common.ts
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/scroll-logic.ts
  frontend/src/views/sql-editor/EditorCommon/ConnectionHolder.vue
  frontend/src/views/sql-editor/EditorCommon/ConnectionPathBar.vue
  frontend/src/views/sql-editor/EditorCommon/SaveSheetForm.vue
  frontend/src/views/sql-editor/EditorCommon/SaveSheetModal.vue
  frontend/src/views/sql-editor/EditorPanel/EditorPanel.vue
  frontend/src/views/sql-editor/EditorPanel/Welcome.vue
  frontend/src/views/sql-editor/Sheet/common/Dropdown.vue
  frontend/src/views/sql-editor/context.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat(sql-editor): vertical worksheet layout (#11588)
  frontend/src/components/AlterSchemaPrepForm/ProjectTenantView.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/AbstractListItem.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/DraftList.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/DraftListItem.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/SheetList.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/SheetListItem.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/UnsavedPrefix.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/common.ts
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/index.ts
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/WorksheetPane.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/common.ts
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/scroll-logic.ts
  frontend/src/views/sql-editor/EditorCommon/ConnectionHolder.vue
  frontend/src/views/sql-editor/EditorCommon/ConnectionPathBar.vue
  frontend/src/views/sql-editor/EditorCommon/SaveSheetForm.vue
  frontend/src/views/sql-editor/EditorCommon/SaveSheetModal.vue
  frontend/src/views/sql-editor/EditorPanel/EditorPanel.vue
  frontend/src/views/sql-editor/EditorPanel/Welcome.vue
  frontend/src/views/sql-editor/Sheet/common/Dropdown.vue
  frontend/src/views/sql-editor/context.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat(sql-editor): vertical worksheet layout (#11588)
  frontend/src/components/AlterSchemaPrepForm/ProjectTenantView.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/AbstractListItem.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/DraftList.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/DraftListItem.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/SheetList.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/SheetListItem.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/UnsavedPrefix.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/common.ts
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/index.ts
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/WorksheetPane.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/common.ts
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/scroll-logic.ts
  frontend/src/views/sql-editor/EditorCommon/ConnectionHolder.vue
  frontend/src/views/sql-editor/EditorCommon/ConnectionPathBar.vue
  frontend/src/views/sql-editor/EditorCommon/SaveSheetForm.vue
  frontend/src/views/sql-editor/EditorCommon/SaveSheetModal.vue
  frontend/src/views/sql-editor/EditorPanel/EditorPanel.vue
  frontend/src/views/sql-editor/EditorPanel/Welcome.vue
  frontend/src/views/sql-editor/Sheet/common/Dropdown.vue
  frontend/src/views/sql-editor/context.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: escape url
  backend/plugin/db/obo/obo.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: escape url (#11589)
  backend/plugin/db/obo/obo.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: escape url (#11589)
  backend/plugin/db/obo/obo.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: escape url (#11589)
  backend/plugin/db/obo/obo.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: support GCP secret manager
  backend/api/v1/instance_service.go
  backend/component/secret/aws.go
  backend/component/secret/gcp.go
  backend/component/secret/secret.go
  backend/component/secret/vault.go
  frontend/src/components/InstanceForm/DataSourceSection/DataSourceForm.vue
  frontend/src/components/InstanceForm/InstanceForm.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/google/protobuf/struct.ts
  frontend/src/types/proto/google/protobuf/timestamp.ts
  frontend/src/types/proto/store/data_source.ts
  frontend/src/types/proto/v1/instance_service.ts
  go.mod
  go.sum
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/data_source.pb.go
  proto/generated-go/v1/instance_service.pb.go
  proto/store/data_source.proto
  proto/v1/instance_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

en-US.json
  frontend/src/locales/en-US.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

Update frontend/src/locales/en-US.json
  frontend/src/locales/en-US.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

Update frontend/src/locales/zh-CN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

Update frontend/src/locales/es-ES.json
  frontend/src/locales/es-ES.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

Update frontend/src/locales/ja-JP.json
  frontend/src/locales/ja-JP.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

Update frontend/src/locales/vi-VN.json
  frontend/src/locales/vi-VN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: fix some differ bugs
  backend/plugin/parser/mysql/differ.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update
  backend/api/v1/instance_service.go
  frontend/src/components/InstanceForm/DataSourceSection/DataSourceForm.vue
  frontend/src/components/InstanceForm/InstanceForm.vue
  frontend/src/types/proto/store/data_source.ts
  frontend/src/types/proto/v1/instance_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/data_source.pb.go
  proto/generated-go/v1/instance_service.pb.go
  proto/store/data_source.proto
  proto/v1/instance_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

fix: eslint
  frontend/src/components/InstanceForm/InstanceForm.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: support GCP secret manager (#11590)
  backend/api/v1/instance_service.go
  backend/component/secret/aws.go
  backend/component/secret/gcp.go
  backend/component/secret/secret.go
  backend/component/secret/vault.go
  frontend/src/components/InstanceForm/DataSourceSection/DataSourceForm.vue
  frontend/src/components/InstanceForm/InstanceForm.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/google/protobuf/struct.ts
  frontend/src/types/proto/google/protobuf/timestamp.ts
  frontend/src/types/proto/store/data_source.ts
  frontend/src/types/proto/v1/instance_service.ts
  go.mod
  go.sum
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/data_source.pb.go
  proto/generated-go/v1/instance_service.pb.go
  proto/store/data_source.proto
  proto/v1/instance_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: support GCP secret manager (#11590)
  backend/api/v1/instance_service.go
  backend/component/secret/aws.go
  backend/component/secret/gcp.go
  backend/component/secret/secret.go
  backend/component/secret/vault.go
  frontend/src/components/InstanceForm/DataSourceSection/DataSourceForm.vue
  frontend/src/components/InstanceForm/InstanceForm.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/google/protobuf/struct.ts
  frontend/src/types/proto/google/protobuf/timestamp.ts
  frontend/src/types/proto/store/data_source.ts
  frontend/src/types/proto/v1/instance_service.ts
  go.mod
  go.sum
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/data_source.pb.go
  proto/generated-go/v1/instance_service.pb.go
  proto/store/data_source.proto
  proto/v1/instance_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: support GCP secret manager (#11590)
  backend/api/v1/instance_service.go
  backend/component/secret/aws.go
  backend/component/secret/gcp.go
  backend/component/secret/secret.go
  backend/component/secret/vault.go
  frontend/src/components/InstanceForm/DataSourceSection/DataSourceForm.vue
  frontend/src/components/InstanceForm/InstanceForm.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/google/protobuf/struct.ts
  frontend/src/types/proto/google/protobuf/timestamp.ts
  frontend/src/types/proto/store/data_source.ts
  frontend/src/types/proto/v1/instance_service.ts
  go.mod
  go.sum
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/data_source.pb.go
  proto/generated-go/v1/instance_service.pb.go
  proto/store/data_source.proto
  proto/v1/instance_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: update
  backend/plugin/parser/mysql/differ.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

Update backend/plugin/parser/mysql/differ.go
  backend/plugin/parser/mysql/differ.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: create-database options for hive and elasticsearch in ui
  frontend/src/types/v1/instance.ts
  frontend/src/utils/v1/instance.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: create-database options for hive and elasticsearch in ui (#11592)
  frontend/src/types/v1/instance.ts
  frontend/src/utils/v1/instance.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: create-database options for hive and elasticsearch in ui (#11592)
  frontend/src/types/v1/instance.ts
  frontend/src/utils/v1/instance.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: create-database options for hive and elasticsearch in ui (#11592)
  frontend/src/types/v1/instance.ts
  frontend/src/utils/v1/instance.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: fix some differ bugs (#11591)
  backend/plugin/parser/mysql/differ.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: fix some differ bugs (#11591)
  backend/plugin/parser/mysql/differ.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: fix some differ bugs (#11591)
  backend/plugin/parser/mysql/differ.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

refactor: use issue comments instead of activities
  backend/api/v1/issue_service.go
  backend/store/issue_comment.go
  frontend/src/components/IssueV1/DataExportIssueDetailPage.vue
  frontend/src/components/IssueV1/GrantRequestIssueDetailPage.vue
  frontend/src/components/IssueV1/IssueDetailPage.vue
  frontend/src/components/IssueV1/components/ActivitySection/Activity/ActionIcon.vue
  frontend/src/components/IssueV1/components/ActivitySection/Activity/ActionSentence.vue
  frontend/src/components/IssueV1/components/ActivitySection/Activity/common.ts
  frontend/src/components/IssueV1/components/ActivitySection/Activity/index.ts
  frontend/src/components/IssueV1/components/ActivitySection/index.ts
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentList.vue
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentSection.vue
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentView/ActionCreator.vue
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentView/ActionIcon.vue
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentView/ActionSentence.vue
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentView/IssueCommentAction.vue
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentView/IssueCommentView.vue
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentView/IssueCreatedComment.vue
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentView/StageName.vue
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentView/StatementUpdate.vue
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentView/TaskName.vue
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentView/common.ts
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentView/index.ts
  frontend/src/components/IssueV1/components/IssueCommentSection/Subscribers/SubscribeButton.vue
  frontend/src/components/IssueV1/components/IssueCommentSection/Subscribers/SubscriberList.vue
  frontend/src/components/IssueV1/components/IssueCommentSection/Subscribers/SubscriberListItem.vue
  frontend/src/components/IssueV1/components/IssueCommentSection/Subscribers/Subscribers.vue
  frontend/src/components/IssueV1/components/IssueCommentSection/Subscribers/index.ts
  frontend/src/components/IssueV1/components/IssueCommentSection/index.ts
  frontend/src/components/IssueV1/components/Sidebar/RollbackSection/common.ts
  frontend/src/components/IssueV1/components/index.ts
  frontend/src/store/modules/v1/common.ts
  frontend/src/store/modules/v1/index.ts
  frontend/src/store/modules/v1/issue.ts
  frontend/src/store/modules/v1/issueComment.ts
  frontend/src/utils/v1/issue/rollout.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: update
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentList.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update demo data from 2.12.0 to 2.15.0
  backend/demo/data/default/README.md
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: github pr close evnt
  backend/api/gitops/github.go
  backend/plugin/vcs/github/webhook_events.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update demo data from 2.12.0 to 2.15.0 (#11594)
  backend/demo/data/default/README.md
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update demo data from 2.12.0 to 2.15.0 (#11594)
  backend/demo/data/default/README.md
  backend/demo/data/default/dump.sql.REMOVED.git-id
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update demo data from 2.12.0 to 2.15.0 (#11594)
  backend/demo/data/default/README.md
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: test
  backend/tests/vcs_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev
