Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

chore: return early on large sql (#13151)
  backend/runner/approval/runner.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

refactor: approval
  backend/runner/approval/runner.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

refactor: approval (#13152)
  backend/runner/approval/runner.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

refactor: approval (#13152)
  backend/runner/approval/runner.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

refactor: approval (#13152)
  backend/runner/approval/runner.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: iam check group
  backend/api/v1/user_group_service.go
  backend/component/iam/manager.go
  backend/component/iam/manager_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: update group iam
  backend/api/v1/org_policy_service.go
  backend/api/v1/project_service.go
  backend/api/v1/user_group_service.go
  backend/common/resource_name.go
  backend/utils/member.go
  frontend/src/types/proto/v1/user_group.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/user_group.pb.go
  proto/generated-go/v1/user_group_grpc.pb.go
  proto/v1/user_group.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

fix: update group iam (#13154)
  backend/api/v1/org_policy_service.go
  backend/api/v1/project_service.go
  backend/api/v1/user_group_service.go
  backend/common/resource_name.go
  backend/utils/member.go
  frontend/src/types/proto/v1/user_group.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/user_group.pb.go
  proto/generated-go/v1/user_group_grpc.pb.go
  proto/v1/user_group.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

fix: update group iam (#13154)
  backend/api/v1/org_policy_service.go
  backend/api/v1/project_service.go
  backend/api/v1/user_group_service.go
  backend/common/resource_name.go
  backend/utils/member.go
  frontend/src/types/proto/v1/user_group.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/user_group.pb.go
  proto/generated-go/v1/user_group_grpc.pb.go
  proto/v1/user_group.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

fix: update group iam (#13154)
  backend/api/v1/org_policy_service.go
  backend/api/v1/project_service.go
  backend/api/v1/user_group_service.go
  backend/common/resource_name.go
  backend/utils/member.go
  frontend/src/types/proto/v1/user_group.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/user_group.pb.go
  proto/generated-go/v1/user_group_grpc.pb.go
  proto/v1/user_group.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: update
  backend/api/v1/user_group_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: iam check group (#13153)
  backend/api/v1/user_group_service.go
  backend/component/iam/manager.go
  backend/component/iam/manager_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: iam check group (#13153)
  backend/api/v1/user_group_service.go
  backend/component/iam/manager.go
  backend/component/iam/manager_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: iam check group (#13153)
  backend/api/v1/user_group_service.go
  backend/component/iam/manager.go
  backend/component/iam/manager_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: info panel
  frontend/src/components/Database/DatabaseOverviewInfo.vue
  frontend/src/components/Database/DatabaseOverviewPanel.vue
  frontend/src/views/sql-editor/EditorPanel/Panels/InfoPanel/InfoPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: tables panel scaffold
  frontend/src/views/sql-editor/EditorPanel/Panels/TablesPanel/TablesPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: shouldn't throw error if raw string has no content
  frontend/src/plugins/cel/logic/stringify.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: shouldn't throw error if raw string has no content (#13155)
  frontend/src/plugins/cel/logic/stringify.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: shouldn't throw error if raw string has no content (#13155)
  frontend/src/plugins/cel/logic/stringify.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: shouldn't throw error if raw string has no content (#13155)
  frontend/src/plugins/cel/logic/stringify.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update sample schema
  backend/demo/data/default/README.md
  backend/resources/postgres/sample/0001##schema.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update sample schema (#13157)
  backend/demo/data/default/README.md
  backend/demo/data/default/dump.sql.REMOVED.git-id
  backend/resources/postgres/sample/0001##schema.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update sample schema (#13157)
  backend/demo/data/default/README.md
  backend/resources/postgres/sample/0001##schema.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update sample schema (#13157)
  backend/demo/data/default/README.md
  backend/resources/postgres/sample/0001##schema.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: optimize iam checks
  backend/api/gitops/webhook.go
  backend/api/v1/changelist_service.go
  backend/api/v1/database_service.go
  backend/api/v1/database_service_test.go
  backend/api/v1/issue_service.go
  backend/api/v1/sheet_service.go
  backend/common/context.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  backend/api/v1/issue_service.go
  backend/api/v1/plan_service.go
  backend/store/issue.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  backend/api/v1/project_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: postgresql mutual tls
  backend/plugin/db/pg/dump.go
  backend/plugin/db/pg/util.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update
  backend/api/v1/issue_service.go
  backend/api/v1/plan_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: improve table, schema, view icon
  frontend/src/components/Icon/SchemaIcon.vue
  frontend/src/components/Icon/TableIcon.vue
  frontend/src/components/Icon/ViewIcon.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/SchemaNode.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: hideSchemaDiagram
  frontend/src/components/SchemaEditorLite/Panels/DatabaseEditor.vue
  frontend/src/components/SchemaEditorLite/context/index.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: improve table, schema, view icon (#13159)
  frontend/src/components/Icon/SchemaIcon.vue
  frontend/src/components/Icon/TableIcon.vue
  frontend/src/components/Icon/ViewIcon.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/SchemaNode.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: improve table, schema, view icon (#13159)
  frontend/src/components/Icon/SchemaIcon.vue
  frontend/src/components/Icon/TableIcon.vue
  frontend/src/components/Icon/ViewIcon.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/SchemaNode.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: improve table, schema, view icon (#13159)
  frontend/src/components/Icon/SchemaIcon.vue
  frontend/src/components/Icon/TableIcon.vue
  frontend/src/components/Icon/ViewIcon.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/SchemaNode.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: optimize iam checks (#13158)
  backend/api/gitops/webhook.go
  backend/api/v1/changelist_service.go
  backend/api/v1/database_service.go
  backend/api/v1/database_service_test.go
  backend/api/v1/issue_service.go
  backend/api/v1/plan_service.go
  backend/api/v1/project_service.go
  backend/api/v1/sheet_service.go
  backend/common/context.go
  backend/store/issue.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: optimize iam checks (#13158)
  backend/api/gitops/webhook.go
  backend/api/v1/changelist_service.go
  backend/api/v1/database_service.go
  backend/api/v1/database_service_test.go
  backend/api/v1/issue_service.go
  backend/api/v1/plan_service.go
  backend/api/v1/project_service.go
  backend/api/v1/sheet_service.go
  backend/common/context.go
  backend/store/issue.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: optimize iam checks (#13158)
  backend/api/gitops/webhook.go
  backend/api/v1/changelist_service.go
  backend/api/v1/database_service.go
  backend/api/v1/database_service_test.go
  backend/api/v1/issue_service.go
  backend/api/v1/plan_service.go
  backend/api/v1/project_service.go
  backend/api/v1/sheet_service.go
  backend/common/context.go
  backend/store/issue.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: wecom id cache
  backend/plugin/webhook/wecom/app.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: wecom id cache (#13161)
  backend/plugin/webhook/wecom/app.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: wecom id cache (#13161)
  backend/plugin/webhook/wecom/app.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
