Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

chore: no darwin intel (#11625)
  backend/resources/mongoutil/build_mongoutil.sh
  backend/resources/mongoutil/resources_darwin_amd64.go
  backend/resources/mysql/resources_darwin_amd64.go
  backend/resources/mysqlutil/build_mysqlutil.sh
  backend/resources/mysqlutil/resources_darwin_amd64.go
  backend/resources/postgres/resources_darwin_amd64.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: no darwin intel (#11625)
  backend/resources/mongoutil/build_mongoutil.sh
  backend/resources/mongoutil/mongoutil-1.6.1-darwin-amd64.txz.REMOVED.git-id
  backend/resources/mongoutil/resources_darwin_amd64.go
  backend/resources/mysql/resources_darwin_amd64.go
  backend/resources/mysqlutil/build_mysqlutil.sh
  backend/resources/mysqlutil/mysqlutil-8.0.33-darwin-amd64.tar.gz.REMOVED.git-id
  backend/resources/mysqlutil/resources_darwin_amd64.go
  backend/resources/postgres/postgres-darwin-amd64.txz.REMOVED.git-id
  backend/resources/postgres/resources_darwin_amd64.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: no darwin intel (#11625)
  backend/resources/mongoutil/build_mongoutil.sh
  backend/resources/mongoutil/resources_darwin_amd64.go
  backend/resources/mysql/resources_darwin_amd64.go
  backend/resources/mysqlutil/build_mysqlutil.sh
  backend/resources/mysqlutil/resources_darwin_amd64.go
  backend/resources/postgres/resources_darwin_amd64.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: i18n
  frontend/src/components/SchemaEditorLite/Panels/PartitionsEditor/components/TypeCell.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: do not push notification when comment issue
  frontend/src/components/IssueV1/logic/subscriber.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentList.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: do not push notification when comment issue (#11626)
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentList.vue
  frontend/src/components/IssueV1/logic/subscriber.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: do not push notification when comment issue (#11626)
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentList.vue
  frontend/src/components/IssueV1/logic/subscriber.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: do not push notification when comment issue (#11626)
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentList.vue
  frontend/src/components/IssueV1/logic/subscriber.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update minHeight of markdown renderer
  frontend/src/assets/css/github-markdown-style.css
  frontend/src/components/MarkdownEditor/useRenderMarkdown.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/components/MarkdownEditor/useRenderMarkdown.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: make bordered optional
  frontend/src/components/IssueV1/components/IssueTableV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update minHeight of markdown renderer (#11627)
  frontend/src/assets/css/github-markdown-style.css
  frontend/src/components/MarkdownEditor/useRenderMarkdown.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update minHeight of markdown renderer (#11627)
  frontend/src/assets/css/github-markdown-style.css
  frontend/src/components/MarkdownEditor/useRenderMarkdown.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update minHeight of markdown renderer (#11627)
  frontend/src/assets/css/github-markdown-style.css
  frontend/src/components/MarkdownEditor/useRenderMarkdown.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: make bordered optional (#11628)
  frontend/src/components/IssueV1/components/IssueTableV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: make bordered optional (#11628)
  frontend/src/components/IssueV1/components/IssueTableV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: make bordered optional (#11628)
  frontend/src/components/IssueV1/components/IssueTableV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: install util
  backend/resources/mongoutil/mongoutil.go
  backend/resources/mysql/mysql.go
  backend/resources/mysqlutil/mysqlutil.go
  backend/resources/postgres/postgres.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: install util (#11629)
  backend/resources/mongoutil/mongoutil.go
  backend/resources/mysql/mysql.go
  backend/resources/mysqlutil/mysqlutil.go
  backend/resources/postgres/postgres.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: install util (#11629)
  backend/resources/mongoutil/mongoutil.go
  backend/resources/mysql/mysql.go
  backend/resources/mysqlutil/mysqlutil.go
  backend/resources/postgres/postgres.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: install util (#11629)
  backend/resources/mongoutil/mongoutil.go
  backend/resources/mysql/mysql.go
  backend/resources/mysqlutil/mysqlutil.go
  backend/resources/postgres/postgres.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update postgresql binaries from 16.0 to 16.2
  backend/plugin/parser/pg/system_objects.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

refactor: test code
  backend/plugin/parser/tsql/completion.go
  backend/plugin/parser/tsql/completion_test.go
  backend/plugin/parser/tsql/test-data/test_completion.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: allow change instance environment
  frontend/src/bbkit/BBAttention.vue
  frontend/src/components/CreateDataSourceExample.vue
  frontend/src/components/CreateDatabasePrepForm/CreateDatabasePrepForm.vue
  frontend/src/components/CreateDatabasePrepForm/CreateDatabasePrepPanel.vue
  frontend/src/components/Database/DatabaseChangeHistoryPanel.vue
  frontend/src/components/Database/DatabaseSlowQueryPanel.vue
  frontend/src/components/InstanceForm/InstanceForm.vue
  frontend/src/components/LabelEditorDrawer.vue
  frontend/src/components/RepositorySelectionPanel.vue
  frontend/src/components/SlowQuery/Panel/SlowQueryPanel.vue
  frontend/src/components/v2/Model/Instance/InstanceRoleTable/InstanceRoleTable.vue
  frontend/src/components/v2/Select/EnvironmentSelect.vue
  frontend/src/components/v2/Select/InstanceSelect.vue
  frontend/src/layouts/ProjectV1Layout.vue
  frontend/src/views/DatabaseDetail.vue
  frontend/src/views/InstanceDetail.vue
  frontend/src/views/TwoFactorRequired.vue
  frontend/src/views/sql-editor/AsidePanel/AsidePanel.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/ResultViewV1.vue
  frontend/src/views/sql-editor/ResultPanel/ResultPanel.vue
  frontend/src/views/sql-editor/TerminalPanel/TerminalPanelV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: eslint
  frontend/src/components/InstanceForm/InstanceForm.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: allow change instance environment (#11630)
  frontend/src/bbkit/BBAttention.vue
  frontend/src/components/CreateDataSourceExample.vue
  frontend/src/components/CreateDatabasePrepForm/CreateDatabasePrepForm.vue
  frontend/src/components/CreateDatabasePrepForm/CreateDatabasePrepPanel.vue
  frontend/src/components/Database/DatabaseChangeHistoryPanel.vue
  frontend/src/components/Database/DatabaseSlowQueryPanel.vue
  frontend/src/components/InstanceForm/InstanceForm.vue
  frontend/src/components/LabelEditorDrawer.vue
  frontend/src/components/RepositorySelectionPanel.vue
  frontend/src/components/SlowQuery/Panel/SlowQueryPanel.vue
  frontend/src/components/v2/Model/Instance/InstanceRoleTable/InstanceRoleTable.vue
  frontend/src/components/v2/Select/EnvironmentSelect.vue
  frontend/src/components/v2/Select/InstanceSelect.vue
  frontend/src/layouts/ProjectV1Layout.vue
  frontend/src/views/DatabaseDetail.vue
  frontend/src/views/InstanceDetail.vue
  frontend/src/views/TwoFactorRequired.vue
  frontend/src/views/sql-editor/AsidePanel/AsidePanel.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/ResultViewV1.vue
  frontend/src/views/sql-editor/ResultPanel/ResultPanel.vue
  frontend/src/views/sql-editor/TerminalPanel/TerminalPanelV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: allow change instance environment (#11630)
  frontend/src/bbkit/BBAttention.vue
  frontend/src/components/CreateDataSourceExample.vue
  frontend/src/components/CreateDatabasePrepForm/CreateDatabasePrepForm.vue
  frontend/src/components/CreateDatabasePrepForm/CreateDatabasePrepPanel.vue
  frontend/src/components/Database/DatabaseChangeHistoryPanel.vue
  frontend/src/components/Database/DatabaseSlowQueryPanel.vue
  frontend/src/components/InstanceForm/InstanceForm.vue
  frontend/src/components/LabelEditorDrawer.vue
  frontend/src/components/RepositorySelectionPanel.vue
  frontend/src/components/SlowQuery/Panel/SlowQueryPanel.vue
  frontend/src/components/v2/Model/Instance/InstanceRoleTable/InstanceRoleTable.vue
  frontend/src/components/v2/Select/EnvironmentSelect.vue
  frontend/src/components/v2/Select/InstanceSelect.vue
  frontend/src/layouts/ProjectV1Layout.vue
  frontend/src/views/DatabaseDetail.vue
  frontend/src/views/InstanceDetail.vue
  frontend/src/views/TwoFactorRequired.vue
  frontend/src/views/sql-editor/AsidePanel/AsidePanel.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/ResultViewV1.vue
  frontend/src/views/sql-editor/ResultPanel/ResultPanel.vue
  frontend/src/views/sql-editor/TerminalPanel/TerminalPanelV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: allow change instance environment (#11630)
  frontend/src/bbkit/BBAttention.vue
  frontend/src/components/CreateDataSourceExample.vue
  frontend/src/components/CreateDatabasePrepForm/CreateDatabasePrepForm.vue
  frontend/src/components/CreateDatabasePrepForm/CreateDatabasePrepPanel.vue
  frontend/src/components/Database/DatabaseChangeHistoryPanel.vue
  frontend/src/components/Database/DatabaseSlowQueryPanel.vue
  frontend/src/components/InstanceForm/InstanceForm.vue
  frontend/src/components/LabelEditorDrawer.vue
  frontend/src/components/RepositorySelectionPanel.vue
  frontend/src/components/SlowQuery/Panel/SlowQueryPanel.vue
  frontend/src/components/v2/Model/Instance/InstanceRoleTable/InstanceRoleTable.vue
  frontend/src/components/v2/Select/EnvironmentSelect.vue
  frontend/src/components/v2/Select/InstanceSelect.vue
  frontend/src/layouts/ProjectV1Layout.vue
  frontend/src/views/DatabaseDetail.vue
  frontend/src/views/InstanceDetail.vue
  frontend/src/views/TwoFactorRequired.vue
  frontend/src/views/sql-editor/AsidePanel/AsidePanel.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/ResultViewV1.vue
  frontend/src/views/sql-editor/ResultPanel/ResultPanel.vue
  frontend/src/views/sql-editor/TerminalPanel/TerminalPanelV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update postgresql binaries from 16.0 to 16.2 (#11631)
  backend/plugin/parser/pg/system_objects.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update postgresql binaries from 16.0 to 16.2 (#11631)
  backend/plugin/parser/pg/system_objects.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update postgresql binaries from 16.0 to 16.2 (#11631)
  backend/plugin/parser/pg/system_objects.go
  backend/resources/postgres/postgres-darwin-arm64.txz.REMOVED.git-id
  backend/resources/postgres/postgres-linux-amd64.txz.REMOVED.git-id
  backend/resources/postgres/postgres-linux-arm64.txz.REMOVED.git-id
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

chore: 2.16.0
  scripts/VERSION
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: 2.16.0 (#11632)
  scripts/VERSION
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: 2.16.0 (#11632)
  scripts/VERSION
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: 2.16.0 (#11632)
  scripts/VERSION
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: update
  backend/plugin/parser/tsql/completion.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: tag latest
  .github/workflows/docker-tag-latest.yml
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: tag latest (#11633)
  .github/workflows/docker-tag-latest.yml
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: tag latest (#11633)
  .github/workflows/docker-tag-latest.yml
Owners: @d-bytebase, @bytebase/bytebase-dev

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
