Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

chore: fix horizontal scrollbar
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/DataTableLite.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/views/sql-editor/Setting/Environment/Environment.vue
  frontend/src/views/sql-editor/Setting/Instance/Instance.vue
  frontend/src/views/sql-editor/Setting/Project/Project.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix horizontal scrollbar (#14428)
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/DataTableLite.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix horizontal scrollbar (#14428)
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/DataTableLite.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix horizontal scrollbar (#14428)
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/DataTableLite.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: expect no issue
  backend/api/v1/rollout_service_converter.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

task run log prior backup
  frontend/src/types/proto/v1/rollout_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/rollout_service.pb.go
  proto/v1/rollout_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: last visit record and redirect
  frontend/src/DummyRootView.ts
  frontend/src/components/Project/ProjectSidebarV1.vue
  frontend/src/views/project/ProjectDatabaseMaskingAccess.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

log prior backup
  backend/runner/taskrun/data_update_executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: expect no issue 3 (#14431)
  backend/api/v1/rollout_service_converter.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: expect no issue 3 (#14431)
  backend/api/v1/rollout_service_converter.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: expect no issue 3 (#14431)
  backend/api/v1/rollout_service_converter.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: eslint
  frontend/src/views/project/ProjectDatabaseMaskingAccess.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: msg i18n
  backend/plugin/webhook/webhook.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: last visit record and redirect (#14432)
  frontend/src/DummyRootView.ts
  frontend/src/components/Project/ProjectSidebarV1.vue
  frontend/src/views/project/ProjectDatabaseMaskingAccess.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: last visit record and redirect (#14432)
  frontend/src/DummyRootView.ts
  frontend/src/components/Project/ProjectSidebarV1.vue
  frontend/src/views/project/ProjectDatabaseMaskingAccess.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: last visit record and redirect (#14432)
  frontend/src/DummyRootView.ts
  frontend/src/components/Project/ProjectSidebarV1.vue
  frontend/src/views/project/ProjectDatabaseMaskingAccess.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: msg i18n (#14433)
  backend/plugin/webhook/webhook.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: msg i18n (#14433)
  backend/plugin/webhook/webhook.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: msg i18n (#14433)
  backend/plugin/webhook/webhook.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: msg i18n (#14433)
  backend/plugin/webhook/webhook.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: fix link styles in task comment
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunComment.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix typo
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseOperations.vue
  frontend/src/types/appProfile.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix link styles in task comment (#14435)
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunComment.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix link styles in task comment (#14435)
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunComment.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix link styles in task comment (#14435)
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunComment.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

convert
  backend/api/v1/rollout_service_converter.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: fix typo (#14436)
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseOperations.vue
  frontend/src/types/appProfile.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix typo (#14436)
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseOperations.vue
  frontend/src/types/appProfile.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix typo (#14436)
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseOperations.vue
  frontend/src/types/appProfile.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: fix npe in disallow ddl
  backend/plugin/advisor/mysql/advisor_table_disallow_ddl.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: task run log prior backup (#14437)
  backend/api/v1/rollout_service_converter.go
  backend/runner/taskrun/data_update_executor.go
  frontend/src/types/proto/v1/rollout_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/rollout_service.pb.go
  proto/v1/rollout_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

feat: task run log prior backup (#14437)
  backend/api/v1/rollout_service_converter.go
  backend/runner/taskrun/data_update_executor.go
  frontend/src/types/proto/v1/rollout_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/rollout_service.pb.go
  proto/v1/rollout_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

feat: task run log prior backup (#14437)
  backend/api/v1/rollout_service_converter.go
  backend/runner/taskrun/data_update_executor.go
  frontend/src/types/proto/v1/rollout_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/rollout_service.pb.go
  proto/v1/rollout_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

fix: fix npe in disallow ddl (#14438)
  backend/plugin/advisor/mysql/advisor_table_disallow_ddl.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: fix npe in disallow ddl (#14438)
  backend/plugin/advisor/mysql/advisor_table_disallow_ddl.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: fix npe in disallow ddl (#14438)
  backend/plugin/advisor/mysql/advisor_table_disallow_ddl.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: more scrollbar fixes
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/DataTable.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/useTableResize.ts
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/DataTableLite.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: more scrollbar fixes (#14439)
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/DataTable.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/useTableResize.ts
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/DataTableLite.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: more scrollbar fixes (#14439)
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/DataTable.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTable/useTableResize.ts
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/DataTableLite.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
