Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

chore: update task run comment view
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunComment.vue
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunTable.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add multitenancy doc anchor
  frontend/src/components/DatabaseGroup/DatabaseGroupForm.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: list data source
  backend/api/v1/sql_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update masking algorithm (#13168)
  frontend/src/components/ColumnDataTable/SemanticTypeCell.vue
  frontend/src/components/ColumnDataTable/index.vue
  frontend/src/components/EnvironmentForm/AccessControlConfigure.vue
  frontend/src/components/EnvironmentForm/Form.vue
  frontend/src/components/SensitiveData/SensitiveColumnDrawer.vue
  frontend/src/components/SensitiveData/useSemanticType.ts
  frontend/src/components/v2/TabFilter/EnvironmentTabFilter.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/store/modules/v1/dbSchema.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update masking algorithm (#13168)
  frontend/src/components/ColumnDataTable/SemanticTypeCell.vue
  frontend/src/components/ColumnDataTable/index.vue
  frontend/src/components/EnvironmentForm/AccessControlConfigure.vue
  frontend/src/components/EnvironmentForm/Form.vue
  frontend/src/components/SensitiveData/SensitiveColumnDrawer.vue
  frontend/src/components/SensitiveData/useSemanticType.ts
  frontend/src/components/v2/TabFilter/EnvironmentTabFilter.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/store/modules/v1/dbSchema.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update masking algorithm (#13168)
  frontend/src/components/ColumnDataTable/SemanticTypeCell.vue
  frontend/src/components/ColumnDataTable/index.vue
  frontend/src/components/EnvironmentForm/AccessControlConfigure.vue
  frontend/src/components/EnvironmentForm/Form.vue
  frontend/src/components/SensitiveData/SensitiveColumnDrawer.vue
  frontend/src/components/SensitiveData/useSemanticType.ts
  frontend/src/components/v2/TabFilter/EnvironmentTabFilter.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/store/modules/v1/dbSchema.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add multitenancy doc anchor (#13172)
  frontend/src/components/DatabaseGroup/DatabaseGroupForm.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add multitenancy doc anchor (#13172)
  frontend/src/components/DatabaseGroup/DatabaseGroupForm.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add multitenancy doc anchor (#13172)
  frontend/src/components/DatabaseGroup/DatabaseGroupForm.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  backend/api/v1/sql_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: list data source (#13173)
  backend/api/v1/sql_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: list data source (#13173)
  backend/api/v1/sql_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: list data source (#13173)
  backend/api/v1/sql_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update task run comment view (#13171)
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunComment.vue
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunTable.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update task run comment view (#13171)
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunComment.vue
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunTable.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update task run comment view (#13171)
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunComment.vue
  frontend/src/components/IssueV1/components/TaskRunSection/TaskRunTable.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat(proto): scheduler info
  proto/v1/rollout_service.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

buf gen
  frontend/src/types/proto/v1/rollout_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/rollout_service.pb.go
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

feat(proto): report time
  proto/v1/rollout_service.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

chore: correct doc anchor format
  frontend/src/components/DatabaseGroup/DatabaseGroupForm.vue
  frontend/src/components/IssueV1/components/StatementSection/SDLView/SDLView.vue
  frontend/src/components/ProjectMember/ProjectMemberPanel.vue
  frontend/src/types/v1/projectWebhook.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

buf gen
  frontend/src/types/proto/v1/rollout_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/rollout_service.pb.go
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

storepb
  frontend/src/types/proto/store/task_run.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/task_run.pb.go
  proto/store/task_run.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: correct doc anchor format (#13174)
  frontend/src/components/DatabaseGroup/DatabaseGroupForm.vue
  frontend/src/components/IssueV1/components/StatementSection/SDLView/SDLView.vue
  frontend/src/components/ProjectMember/ProjectMemberPanel.vue
  frontend/src/types/v1/projectWebhook.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: correct doc anchor format (#13174)
  frontend/src/components/DatabaseGroup/DatabaseGroupForm.vue
  frontend/src/components/IssueV1/components/StatementSection/SDLView/SDLView.vue
  frontend/src/components/ProjectMember/ProjectMemberPanel.vue
  frontend/src/types/v1/projectWebhook.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: correct doc anchor format (#13174)
  frontend/src/components/DatabaseGroup/DatabaseGroupForm.vue
  frontend/src/components/IssueV1/components/StatementSection/SDLView/SDLView.vue
  frontend/src/components/ProjectMember/ProjectMemberPanel.vue
  frontend/src/types/v1/projectWebhook.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: hide export data button in iframe
  frontend/src/customAppProfile.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(frontend): remove permission checks for querying data source
  frontend/src/views/sql-editor/EditorCommon/QueryContextSettingPopover.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

store task run scheduler info
  backend/component/state/state.go
  backend/runner/taskrun/schedulerv2.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: hide export data button in iframe (#13175)
  frontend/src/customAppProfile.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: hide export data button in iframe (#13175)
  frontend/src/customAppProfile.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: hide export data button in iframe (#13175)
  frontend/src/customAppProfile.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(frontend): remove permission checks for querying data source (#13176)
  frontend/src/views/sql-editor/EditorCommon/QueryContextSettingPopover.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(frontend): remove permission checks for querying data source (#13176)
  frontend/src/views/sql-editor/EditorCommon/QueryContextSettingPopover.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(frontend): remove permission checks for querying data source (#13176)
  frontend/src/views/sql-editor/EditorCommon/QueryContextSettingPopover.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove unused vi docs
  frontend/public/help/vi/help.database.md
  frontend/public/help/vi/help.environment.md
  frontend/public/help/vi/help.instance.md
  frontend/public/help/vi/help.issue.detail.md
  frontend/public/help/vi/help.member.md
  frontend/public/help/vi/help.project.md
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove unused vi docs (#13177)
  frontend/public/help/vi/help.database.md
  frontend/public/help/vi/help.environment.md
  frontend/public/help/vi/help.instance.md
  frontend/public/help/vi/help.issue.detail.md
  frontend/public/help/vi/help.member.md
  frontend/public/help/vi/help.project.md
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove unused vi docs (#13177)
  frontend/public/help/vi/help.database.md
  frontend/public/help/vi/help.environment.md
  frontend/public/help/vi/help.instance.md
  frontend/public/help/vi/help.issue.detail.md
  frontend/public/help/vi/help.member.md
  frontend/public/help/vi/help.project.md
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove unused vi docs (#13177)
  frontend/public/help/vi/help.database.md
  frontend/public/help/vi/help.environment.md
  frontend/public/help/vi/help.instance.md
  frontend/public/help/vi/help.issue.detail.md
  frontend/public/help/vi/help.member.md
  frontend/public/help/vi/help.project.md
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

issue&task
  proto/v1/rollout_service.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

buf gen
  frontend/src/types/proto/v1/rollout_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/rollout_service.pb.go
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
