Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev

feat: parse to metadata view (#11336)
  backend/plugin/schema/mysql/parse_to_metadata.go
  backend/plugin/schema/mysql/parse_to_metadata_test.go
  backend/plugin/schema/mysql/testdata/parse-to-metadata/view.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: parse to metadata view (#11336)
  backend/plugin/schema/mysql/parse_to_metadata.go
  backend/plugin/schema/mysql/parse_to_metadata_test.go
  backend/plugin/schema/mysql/testdata/parse-to-metadata/view.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore(frontend): remove unused issue types (#11337)
  .github/workflows/frontend-tests-default.yml
  .github/workflows/frontend-tests.yml
  frontend/src/components/Issue/panel/RequestQueryPanel/index.vue
  frontend/src/components/Project/ProjectIssuesPanel.vue
  frontend/src/plugins/types.ts
  frontend/src/router/dashboard/workspace.ts
  frontend/src/types/issue.ts
  frontend/src/utils/issue/index.ts
  frontend/src/views/Home.vue
Owners: @d-bytebase, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore(frontend): remove unused issue types (#11337)
  .github/workflows/frontend-tests-default.yml
  .github/workflows/frontend-tests.yml
  frontend/src/components/Issue/panel/RequestQueryPanel/index.vue
  frontend/src/components/Project/ProjectIssuesPanel.vue
  frontend/src/plugins/types.ts
  frontend/src/router/dashboard/workspace.ts
  frontend/src/types/issue.ts
  frontend/src/utils/issue/index.ts
  frontend/src/views/Home.vue
Owners: @d-bytebase, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore(frontend): remove unused issue types (#11337)
  .github/workflows/frontend-tests-default.yml
  .github/workflows/frontend-tests.yml
  frontend/src/components/Issue/panel/RequestQueryPanel/index.vue
  frontend/src/components/Project/ProjectIssuesPanel.vue
  frontend/src/plugins/types.ts
  frontend/src/router/dashboard/workspace.ts
  frontend/src/types/issue.ts
  frontend/src/utils/issue/index.ts
  frontend/src/views/Home.vue
Owners: @d-bytebase, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

feat(query-span): support mssql view
  backend/plugin/parser/tsql/query_span_extractor.go
  backend/plugin/parser/tsql/test-data/query-span/standard.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(query-span): support mssql view (#11338)
  backend/plugin/parser/tsql/query_span_extractor.go
  backend/plugin/parser/tsql/test-data/query-span/standard.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(query-span): support mssql view (#11338)
  backend/plugin/parser/tsql/query_span_extractor.go
  backend/plugin/parser/tsql/test-data/query-span/standard.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(query-span): support mssql view (#11338)
  backend/plugin/parser/tsql/query_span_extractor.go
  backend/plugin/parser/tsql/test-data/query-span/standard.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

style(hive): back-quotes
  backend/plugin/db/hive/dump.go
  backend/plugin/db/hive/hive.go
  backend/plugin/db/hive/sync.go
  backend/server/ultimate.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

chore: sync mysql function
  backend/plugin/db/mysql/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update
  backend/plugin/db/mysql/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: sync mysql function (#11339)
  backend/plugin/db/mysql/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: sync mysql function (#11339)
  backend/plugin/db/mysql/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: sync mysql function (#11339)
  backend/plugin/db/mysql/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: add procedure metadata in proto
  frontend/src/types/proto/store/database.ts
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/database.pb.go
  proto/generated-go/v1/database_service.pb.go
  proto/store/database.proto
  proto/v1/database_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

feat: add procedure metadata in proto (#11340)
  frontend/src/types/proto/store/database.ts
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/database.pb.go
  proto/generated-go/v1/database_service.pb.go
  proto/store/database.proto
  proto/v1/database_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

feat: add procedure metadata in proto (#11340)
  frontend/src/types/proto/store/database.ts
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/database.pb.go
  proto/generated-go/v1/database_service.pb.go
  proto/store/database.proto
  proto/v1/database_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

feat: add procedure metadata in proto (#11340)
  frontend/src/types/proto/store/database.ts
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/database.pb.go
  proto/generated-go/v1/database_service.pb.go
  proto/store/database.proto
  proto/v1/database_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

feat: sync mysql procedure
  backend/plugin/db/mysql/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: add order by
  backend/plugin/db/mysql/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix(differ): use lower case as mysql fk names
  backend/plugin/parser/mysql/differ.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(hive): support dump (#11319)
  backend/plugin/db/hive/dump.go
  backend/plugin/db/hive/hive.go
  backend/plugin/db/hive/sync.go
  backend/server/ultimate.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

feat(hive): support dump (#11319)
  backend/plugin/db/hive/dump.go
  backend/plugin/db/hive/hive.go
  backend/plugin/db/hive/sync.go
  backend/server/ultimate.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

feat(hive): support dump (#11319)
  backend/plugin/db/hive/dump.go
  backend/plugin/db/hive/hive.go
  backend/plugin/db/hive/sync.go
  backend/server/ultimate.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

feat: sync mysql procedure (#11341)
  backend/plugin/db/mysql/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: sync mysql procedure (#11341)
  backend/plugin/db/mysql/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: sync mysql procedure (#11341)
  backend/plugin/db/mysql/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix(differ): use lower case as mysql fk names (#11342)
  backend/plugin/parser/mysql/differ.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix(differ): use lower case as mysql fk names (#11342)
  backend/plugin/parser/mysql/differ.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix(differ): use lower case as mysql fk names (#11342)
  backend/plugin/parser/mysql/differ.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: add new chart package(version 1.1.1)
  docs/bytebase-1.1.0.tgz
  docs/bytebase-1.1.1.tgz
  docs/index.yaml
  helm-charts/bytebase/Chart.yaml
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: revert 1.1.0 version generated time
  docs/index.yaml
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: webhook remodel
  backend/api/gitops/webhook.go
  backend/api/v1/project_service.go
  backend/common/resource_name.go
  backend/store/repository.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: fix render function
  frontend/src/components/IssueV1/components/IssueTableV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: return the right syntax error line for MySQL and TiDB
  backend/plugin/advisor/sql_review.go
  backend/plugin/parser/base/base.go
  backend/plugin/parser/mysql/mysql.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: fix render function (#11345)
  frontend/src/components/IssueV1/components/IssueTableV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix render function (#11345)
  frontend/src/components/IssueV1/components/IssueTableV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix render function (#11345)
  frontend/src/components/IssueV1/components/IssueTableV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: note the affected row limit is estimation
  backend/plugin/advisor/mysql/advisor_statement_affected_row_limit.go
  backend/plugin/advisor/pg/advisor_statement_affected_row_limit.go
  backend/tests/test-data/sql_review_mysql.yaml
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/vi-VN.json
  frontend/src/locales/sql-review/zh-CN.json
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack
