Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

fix: issue status width (#11121)
  frontend/src/components/IssueV1/components/IssueTableV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat(branch): implement Oracle branch
  backend/api/v1/branch_service.go
  backend/api/v1/database_metadata_check.go
  backend/api/v1/setting_service.go
  backend/api/v1/sql_service.go
  backend/plugin/parser/plsql/strings.go
  backend/plugin/schema/mysql/get_design_schema.go
  backend/plugin/schema/mysql/get_design_schema_test.go
  backend/plugin/schema/oracle/check.go
  backend/plugin/schema/oracle/get_design_schema.go
  backend/plugin/schema/oracle/get_design_schema_test.go
  backend/plugin/schema/oracle/state.go
  backend/plugin/schema/oracle/testdata/get_design_schema.yaml
  backend/plugin/schema/pg/get_design_schema.go
  backend/plugin/schema/schema.go
  backend/plugin/schema/tidb/get_design_schema.go
  backend/plugin/schema/tidb/get_design_schema_test.go
  backend/server/ultimate.go
  frontend/src/components/Branch/BaselineSchemaSelector.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

chore: fix linter errors and fix tests
  backend/plugin/parser/plsql/test-data/test_strings_manipulate.yaml
  backend/plugin/schema/oracle/get_design_schema.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(sql-review-rule): disallow mix ddl dml, tidb
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/tidb/advisor_statement_disallow_mix_ddl_dml.go
  backend/plugin/advisor/tidb/test/statement_disallow_mix_ddl_dml.yaml
  backend/plugin/advisor/tidb/tidb_rules_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: bump mysql-parser version
  go.mod
  go.sum
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: retire workspace access control setting
  frontend/src/components/EnvironmentForm.vue
  frontend/src/components/v2/Model/EnvironmentV1Name.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/dashboard/workspaceSetting.ts
  frontend/src/views/SettingSidebar.vue
  frontend/src/views/SettingWorkspaceAccessControl.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat(branch): implement Oracle branch (#11122)
  backend/api/v1/branch_service.go
  backend/api/v1/database_metadata_check.go
  backend/api/v1/setting_service.go
  backend/api/v1/sql_service.go
  backend/plugin/parser/plsql/strings.go
  backend/plugin/parser/plsql/test-data/test_strings_manipulate.yaml
  backend/plugin/schema/mysql/get_design_schema.go
  backend/plugin/schema/mysql/get_design_schema_test.go
  backend/plugin/schema/oracle/check.go
  backend/plugin/schema/oracle/get_design_schema.go
  backend/plugin/schema/oracle/get_design_schema_test.go
  backend/plugin/schema/oracle/state.go
  backend/plugin/schema/oracle/testdata/get_design_schema.yaml
  backend/plugin/schema/pg/get_design_schema.go
  backend/plugin/schema/schema.go
  backend/plugin/schema/tidb/get_design_schema.go
  backend/plugin/schema/tidb/get_design_schema_test.go
  backend/server/ultimate.go
  frontend/src/components/Branch/BaselineSchemaSelector.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

feat(branch): implement Oracle branch (#11122)
  backend/api/v1/branch_service.go
  backend/api/v1/database_metadata_check.go
  backend/api/v1/setting_service.go
  backend/api/v1/sql_service.go
  backend/plugin/parser/plsql/strings.go
  backend/plugin/parser/plsql/test-data/test_strings_manipulate.yaml
  backend/plugin/schema/mysql/get_design_schema.go
  backend/plugin/schema/mysql/get_design_schema_test.go
  backend/plugin/schema/oracle/check.go
  backend/plugin/schema/oracle/get_design_schema.go
  backend/plugin/schema/oracle/get_design_schema_test.go
  backend/plugin/schema/oracle/state.go
  backend/plugin/schema/oracle/testdata/get_design_schema.yaml
  backend/plugin/schema/pg/get_design_schema.go
  backend/plugin/schema/schema.go
  backend/plugin/schema/tidb/get_design_schema.go
  backend/plugin/schema/tidb/get_design_schema_test.go
  backend/server/ultimate.go
  frontend/src/components/Branch/BaselineSchemaSelector.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

feat(branch): implement Oracle branch (#11122)
  backend/api/v1/branch_service.go
  backend/api/v1/database_metadata_check.go
  backend/api/v1/setting_service.go
  backend/api/v1/sql_service.go
  backend/plugin/parser/plsql/strings.go
  backend/plugin/parser/plsql/test-data/test_strings_manipulate.yaml
  backend/plugin/schema/mysql/get_design_schema.go
  backend/plugin/schema/mysql/get_design_schema_test.go
  backend/plugin/schema/oracle/check.go
  backend/plugin/schema/oracle/get_design_schema.go
  backend/plugin/schema/oracle/get_design_schema_test.go
  backend/plugin/schema/oracle/state.go
  backend/plugin/schema/oracle/testdata/get_design_schema.yaml
  backend/plugin/schema/pg/get_design_schema.go
  backend/plugin/schema/schema.go
  backend/plugin/schema/tidb/get_design_schema.go
  backend/plugin/schema/tidb/get_design_schema_test.go
  backend/server/ultimate.go
  frontend/src/components/Branch/BaselineSchemaSelector.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

chore: bump mysql-parser version (#11124)
  go.mod
  go.sum
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: bump mysql-parser version (#11124)
  go.mod
  go.sum
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: bump mysql-parser version (#11124)
  go.mod
  go.sum
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  frontend/src/components/EnvironmentForm.vue
  frontend/src/components/v2/Form/Switch.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/components/EnvironmentForm.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: retire workspace access control setting (#11125)
  frontend/src/components/EnvironmentForm.vue
  frontend/src/components/v2/Form/Switch.vue
  frontend/src/components/v2/Model/EnvironmentV1Name.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/dashboard/workspaceSetting.ts
  frontend/src/views/SettingSidebar.vue
  frontend/src/views/SettingWorkspaceAccessControl.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: retire workspace access control setting (#11125)
  frontend/src/components/EnvironmentForm.vue
  frontend/src/components/v2/Form/Switch.vue
  frontend/src/components/v2/Model/EnvironmentV1Name.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/dashboard/workspaceSetting.ts
  frontend/src/views/SettingSidebar.vue
  frontend/src/views/SettingWorkspaceAccessControl.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: retire workspace access control setting (#11125)
  frontend/src/components/EnvironmentForm.vue
  frontend/src/components/v2/Form/Switch.vue
  frontend/src/components/v2/Model/EnvironmentV1Name.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/dashboard/workspaceSetting.ts
  frontend/src/views/SettingSidebar.vue
  frontend/src/views/SettingWorkspaceAccessControl.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat(sql-review-rule): disallow mix ddl dml, tidb (#11123)
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/tidb/advisor_statement_disallow_mix_ddl_dml.go
  backend/plugin/advisor/tidb/test/statement_disallow_mix_ddl_dml.yaml
  backend/plugin/advisor/tidb/tidb_rules_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(sql-review-rule): disallow mix ddl dml, tidb (#11123)
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/tidb/advisor_statement_disallow_mix_ddl_dml.go
  backend/plugin/advisor/tidb/test/statement_disallow_mix_ddl_dml.yaml
  backend/plugin/advisor/tidb/tidb_rules_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(sql-review-rule): disallow mix ddl dml, tidb (#11123)
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/tidb/advisor_statement_disallow_mix_ddl_dml.go
  backend/plugin/advisor/tidb/test/statement_disallow_mix_ddl_dml.yaml
  backend/plugin/advisor/tidb/tidb_rules_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: add use_default fields in partition metadata proto
  frontend/src/types/proto/store/database.ts
  frontend/src/types/proto/v1/database_service.ts
  frontend/src/types/proto/v1/worksheet_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/database.pb.go
  proto/generated-go/v1/database_service.pb.go
  proto/generated-go/v1/worksheet_service.pb.go
  proto/store/database.proto
  proto/v1/database_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: add use_default fields in partition metadata proto (#11126)
  frontend/src/types/proto/store/database.ts
  frontend/src/types/proto/v1/database_service.ts
  frontend/src/types/proto/v1/worksheet_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/database.pb.go
  proto/generated-go/v1/database_service.pb.go
  proto/generated-go/v1/worksheet_service.pb.go
  proto/store/database.proto
  proto/v1/database_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: add use_default fields in partition metadata proto (#11126)
  frontend/src/types/proto/store/database.ts
  frontend/src/types/proto/v1/database_service.ts
  frontend/src/types/proto/v1/worksheet_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/database.pb.go
  proto/generated-go/v1/database_service.pb.go
  proto/generated-go/v1/worksheet_service.pb.go
  proto/store/database.proto
  proto/v1/database_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: add use_default fields in partition metadata proto (#11126)
  frontend/src/types/proto/store/database.ts
  frontend/src/types/proto/v1/database_service.ts
  frontend/src/types/proto/v1/worksheet_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/database.pb.go
  proto/generated-go/v1/database_service.pb.go
  proto/generated-go/v1/worksheet_service.pb.go
  proto/store/database.proto
  proto/v1/database_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

fix(slow-query): use right end timestamp and sync slow query for all PG databases
  backend/runner/slowquerysync/syncer.go
  frontend/src/components/SlowQuery/Panel/types.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

Update values.yaml
  helm-charts/bytebase/values.yaml
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: Define bytebase resources in helm-charts (#11094)
  helm-charts/bytebase/templates/statefulset.yaml
  helm-charts/bytebase/values.yaml
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: Define bytebase resources in helm-charts (#11094)
  helm-charts/bytebase/templates/statefulset.yaml
  helm-charts/bytebase/values.yaml
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: Define bytebase resources in helm-charts (#11094)
  helm-charts/bytebase/templates/statefulset.yaml
  helm-charts/bytebase/values.yaml
Owners: @d-bytebase, @bytebase/bytebase-dev

fix(slow-query): use right end timestamp and sync slow query for all PG databases (#11127)
  backend/runner/slowquerysync/syncer.go
  frontend/src/components/SlowQuery/Panel/types.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

fix(slow-query): use right end timestamp and sync slow query for all PG databases (#11127)
  backend/runner/slowquerysync/syncer.go
  frontend/src/components/SlowQuery/Panel/types.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

fix(slow-query): use right end timestamp and sync slow query for all PG databases (#11127)
  backend/runner/slowquerysync/syncer.go
  frontend/src/components/SlowQuery/Panel/types.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: remove listDatabases in frontend
  frontend/src/components/AnomalyCenter/AnomalyCenterDashboard.vue
  frontend/src/components/Issue/panel/RequestExportPanel/ExportResourceForm/DatabaseResourceSelector.vue
  frontend/src/components/Issue/panel/RequestQueryPanel/DatabaseResourceForm/DatabaseResourceSelector.vue
  frontend/src/components/IssueV1/logic/initialize/create.ts
  frontend/src/components/ProvideDashboardContext.vue
  frontend/src/components/ProvideSQLEditorContext.vue
  frontend/src/components/TransferDatabaseForm.vue
  frontend/src/store/modules/v1/database.ts
  frontend/src/views/InstanceDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/components/AnomalyCenter/AnomalyCenterDashboard.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/components/Issue/panel/RequestExportPanel/ExportResourceForm/DatabaseResourceSelector.vue
  frontend/src/components/Issue/panel/RequestQueryPanel/DatabaseResourceForm/DatabaseResourceSelector.vue
  frontend/src/components/IssueV1/logic/initialize/create.ts
  frontend/src/components/ProvideDashboardContext.vue
  frontend/src/components/ProvideSQLEditorContext.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/components/ProvideSQLEditorContext.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: sync use default for mysql partition
  backend/plugin/db/mysql/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update
  backend/plugin/db/mysql/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore(sync, mysql): sync use default for mysql partition (#11129)
  backend/plugin/db/mysql/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore(sync, mysql): sync use default for mysql partition (#11129)
  backend/plugin/db/mysql/sync.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
