Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

chore: filter issues by label (#11923)
  backend/api/v1/issue_service.go
  backend/store/issue.go
  frontend/src/components/IssueV1/components/IssueSearch/useSearchScopeOptions.ts
  frontend/src/components/IssueV1/components/IssueTableV1.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/store/modules/v1/issue.ts
  frontend/src/types/v1/issue/issue.ts
  frontend/src/utils/v1/issue/search/advanced-search.ts
  frontend/src/utils/v1/issue/search/common.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: filter issues by label (#11923)
  backend/api/v1/issue_service.go
  backend/store/issue.go
  frontend/src/components/IssueV1/components/IssueSearch/useSearchScopeOptions.ts
  frontend/src/components/IssueV1/components/IssueTableV1.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/store/modules/v1/issue.ts
  frontend/src/types/v1/issue/issue.ts
  frontend/src/utils/v1/issue/search/advanced-search.ts
  frontend/src/utils/v1/issue/search/common.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: button style and text
  frontend/src/components/IssueV1/components/Panel/IssueReviewActionPanel.vue
  frontend/src/components/IssueV1/components/Panel/IssueStatusActionPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

create task run log for mysql
  backend/plugin/db/driver.go
  backend/plugin/db/mysql/mysql.go
  backend/runner/taskrun/executor.go
  backend/runner/taskrun/schema_update_ghost_cutover_executor.go
  backend/store/task_run_log.go
  backend/utils/utils.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

fix: column does not exist
  backend/plugin/advisor/catalog/walk_through_for_mysql.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: button style and text (#11924)
  frontend/src/components/IssueV1/components/Panel/IssueReviewActionPanel.vue
  frontend/src/components/IssueV1/components/Panel/IssueStatusActionPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: button style and text (#11924)
  frontend/src/components/IssueV1/components/Panel/IssueReviewActionPanel.vue
  frontend/src/components/IssueV1/components/Panel/IssueStatusActionPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: button style and text (#11924)
  frontend/src/components/IssueV1/components/Panel/IssueReviewActionPanel.vue
  frontend/src/components/IssueV1/components/Panel/IssueStatusActionPanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: taskRunLog for MySQL (#11925)
  backend/plugin/db/driver.go
  backend/plugin/db/mysql/mysql.go
  backend/runner/taskrun/executor.go
  backend/runner/taskrun/schema_update_ghost_cutover_executor.go
  backend/store/task_run_log.go
  backend/utils/utils.go
  frontend/src/types/proto/store/task_run_log.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/task_run_log.pb.go
  proto/store/task_run_log.proto
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack, @RainbowDashy

feat: taskRunLog for MySQL (#11925)
  backend/plugin/db/driver.go
  backend/plugin/db/mysql/mysql.go
  backend/runner/taskrun/executor.go
  backend/runner/taskrun/schema_update_ghost_cutover_executor.go
  backend/store/task_run_log.go
  backend/utils/utils.go
  frontend/src/types/proto/store/task_run_log.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/task_run_log.pb.go
  proto/store/task_run_log.proto
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack, @RainbowDashy

feat: taskRunLog for MySQL (#11925)
  backend/plugin/db/driver.go
  backend/plugin/db/mysql/mysql.go
  backend/runner/taskrun/executor.go
  backend/runner/taskrun/schema_update_ghost_cutover_executor.go
  backend/store/task_run_log.go
  backend/utils/utils.go
  frontend/src/types/proto/store/task_run_log.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/task_run_log.pb.go
  proto/store/task_run_log.proto
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack, @RainbowDashy

chore: add more tests
  backend/plugin/advisor/catalog/test/mysql_walk_through.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

Update backend/plugin/advisor/catalog/walk_through_for_mysql.go
  backend/plugin/advisor/catalog/walk_through_for_mysql.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

Update backend/plugin/advisor/catalog/walk_through_for_mysql.go
  backend/plugin/advisor/catalog/walk_through_for_mysql.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: refine mysql pre-backup
  backend/plugin/parser/base/base.go
  backend/plugin/parser/base/interface.go
  backend/plugin/parser/mysql/backup.go
  backend/plugin/parser/mysql/test-data/test_backup.yaml
  backend/plugin/parser/tsql/backup.go
  backend/runner/taskrun/data_update_executor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

fix: column does not exist (#11926)
  backend/plugin/advisor/catalog/test/mysql_walk_through.yaml
  backend/plugin/advisor/catalog/walk_through_for_mysql.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: column does not exist (#11926)
  backend/plugin/advisor/catalog/test/mysql_walk_through.yaml
  backend/plugin/advisor/catalog/walk_through_for_mysql.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: column does not exist (#11926)
  backend/plugin/advisor/catalog/test/mysql_walk_through.yaml
  backend/plugin/advisor/catalog/walk_through_for_mysql.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: remove useless code
  backend/plugin/parser/mysql/backup.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: column does not exist
  backend/plugin/advisor/catalog/walk_through_for_mysql.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: add more tests
  backend/plugin/advisor/catalog/test/mysql_walk_through.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

Update backend/plugin/advisor/catalog/walk_through_for_mysql.go
  backend/plugin/advisor/catalog/walk_through_for_mysql.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

Update backend/plugin/advisor/catalog/walk_through_for_mysql.go
  backend/plugin/advisor/catalog/walk_through_for_mysql.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: refine mysql pre-backup (#11928)
  backend/plugin/parser/base/base.go
  backend/plugin/parser/base/interface.go
  backend/plugin/parser/mysql/backup.go
  backend/plugin/parser/mysql/test-data/test_backup.yaml
  backend/plugin/parser/tsql/backup.go
  backend/runner/taskrun/data_update_executor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

fix: refine mysql pre-backup (#11928)
  backend/plugin/parser/base/base.go
  backend/plugin/parser/base/interface.go
  backend/plugin/parser/mysql/backup.go
  backend/plugin/parser/mysql/test-data/test_backup.yaml
  backend/plugin/parser/tsql/backup.go
  backend/runner/taskrun/data_update_executor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

fix: refine mysql pre-backup (#11928)
  backend/plugin/parser/base/base.go
  backend/plugin/parser/base/interface.go
  backend/plugin/parser/mysql/backup.go
  backend/plugin/parser/mysql/test-data/test_backup.yaml
  backend/plugin/parser/tsql/backup.go
  backend/runner/taskrun/data_update_executor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

chore: scan mssql (null)identifier type
  backend/component/masker/masker.go
  backend/plugin/db/util/driverutil.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: scan mssql (null)identifier type (#11929)
  backend/component/masker/masker.go
  backend/plugin/db/util/driverutil.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: scan mssql (null)identifier type (#11929)
  backend/component/masker/masker.go
  backend/plugin/db/util/driverutil.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: scan mssql (null)identifier type (#11929)
  backend/component/masker/masker.go
  backend/plugin/db/util/driverutil.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: update
  backend/api/v1/audit_log_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  frontend/src/types/proto/v1/audit_log_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/audit_log_service.pb.go
  proto/v1/audit_log_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: update
  backend/api/v1/audit_log_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

buf gen
  frontend/src/types/proto/v1/rollout_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/rollout_service.pb.go
  proto/generated-go/v1/rollout_service.pb.gw.go
  proto/generated-go/v1/rollout_service_grpc.pb.go
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

feat(proto): task run log v1api
  proto/v1/rollout_service.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

chore: sheet.engine
  frontend/src/components/Branch/BranchRolloutView/BranchRolloutView.vue
  frontend/src/components/Changelist/ChangelistDashboard/CreateChangelistPanel.vue
  frontend/src/components/Changelist/ChangelistDetail/NavBar/ImportButton.vue
  frontend/src/components/IssueV1/components/HeaderSection/Actions/create/CreateButton.vue
  frontend/src/components/IssueV1/components/StatementSection/EditorView/EditorView.vue
  frontend/src/components/IssueV1/logic/initialize/create.ts
  frontend/src/components/IssueV1/logic/plan.ts
  frontend/src/components/SyncDatabaseSchema/RawSQLEditor.vue
  frontend/src/store/modules/v1/sheet.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove optional because no need to distinguish zero and null
  proto/v1/rollout_service.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

buf gen
  frontend/src/types/proto/v1/rollout_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/rollout_service.pb.go
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

GetTaskRunLog iam
  backend/api/v1/acl_config.go
  backend/api/v1/ctx.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

impl GetTaskRunLog
  backend/api/v1/rollout_service.go
  backend/api/v1/rollout_service_converter.go
  backend/store/task_run_log.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
