Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

fix: list databases request filter comment (#12287)
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/database_service.pb.go
  proto/v1/database_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

fix: list databases request filter comment (#12287)
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/database_service.pb.go
  proto/v1/database_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

fix: list databases request filter comment (#12287)
  frontend/src/types/proto/v1/database_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/database_service.pb.go
  proto/v1/database_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

fix: rollout db group task
  backend/api/v1/rollout_service.go
  backend/api/v1/rollout_service_converter.go
  backend/api/v1/rollout_service_task.go
  backend/store/task.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: fix create db group issue
  frontend/src/components/IssueV1/logic/initialize/create.ts
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(frontend): fix sheet.database if it's a db group (#14)
  frontend/src/components/IssueV1/components/HeaderSection/Actions/create/CreateButton.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix sheet.engine when target is db group
  frontend/src/components/IssueV1/logic/plan.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: rollout db group task (#12289)
  backend/api/v1/rollout_service.go
  backend/api/v1/rollout_service_converter.go
  backend/api/v1/rollout_service_task.go
  backend/store/task.go
  frontend/src/components/IssueV1/components/HeaderSection/Actions/create/CreateButton.vue
  frontend/src/components/IssueV1/logic/initialize/create.ts
  frontend/src/components/IssueV1/logic/plan.ts
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

fix: rollout db group task (#12289)
  backend/api/v1/rollout_service.go
  backend/api/v1/rollout_service_converter.go
  backend/api/v1/rollout_service_task.go
  backend/store/task.go
  frontend/src/components/IssueV1/components/HeaderSection/Actions/create/CreateButton.vue
  frontend/src/components/IssueV1/logic/initialize/create.ts
  frontend/src/components/IssueV1/logic/plan.ts
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

fix: rollout db group task (#12289)
  backend/api/v1/rollout_service.go
  backend/api/v1/rollout_service_converter.go
  backend/api/v1/rollout_service_task.go
  backend/store/task.go
  frontend/src/components/IssueV1/components/HeaderSection/Actions/create/CreateButton.vue
  frontend/src/components/IssueV1/logic/initialize/create.ts
  frontend/src/components/IssueV1/logic/plan.ts
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: use sheet manager
  backend/api/v1/sql_service.go
  backend/component/sheet/sheet.go
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/utils_for_tests.go
  backend/runner/plancheck/statement_advise_executor.go
  backend/server/grpc_routes.go
  backend/server/server.go
  backend/store/catalog.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: datetime format for license expiration time
  frontend/src/store/modules/v1/subscription.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: datetime format for license expiration time (#12291)
  frontend/src/store/modules/v1/subscription.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: datetime format for license expiration time (#12291)
  frontend/src/store/modules/v1/subscription.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: datetime format for license expiration time (#12291)
  frontend/src/store/modules/v1/subscription.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: use sheet manager (#12290)
  backend/api/v1/sql_service.go
  backend/component/sheet/sheet.go
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/utils_for_tests.go
  backend/runner/plancheck/statement_advise_executor.go
  backend/server/grpc_routes.go
  backend/server/server.go
  backend/store/catalog.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: use sheet manager (#12290)
  backend/api/v1/sql_service.go
  backend/component/sheet/sheet.go
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/utils_for_tests.go
  backend/runner/plancheck/statement_advise_executor.go
  backend/server/grpc_routes.go
  backend/server/server.go
  backend/store/catalog.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: use sheet manager (#12290)
  backend/api/v1/sql_service.go
  backend/component/sheet/sheet.go
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/utils_for_tests.go
  backend/runner/plancheck/statement_advise_executor.go
  backend/server/grpc_routes.go
  backend/server/server.go
  backend/store/catalog.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: update
  scripts/.air.toml
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: update (#12288)
  scripts/.air.toml
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: update (#12288)
  scripts/.air.toml
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: update (#12288)
  scripts/.air.toml
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: update
  .github/workflows/backend-tests.yml
  .github/workflows/test_link.yml
  README.md
  go.mod
  scripts/Dockerfile
  scripts/Dockerfile.aws
  scripts/Dockerfile.depot
  scripts/Dockerfile.render-demo
  scripts/build_bytebase.sh
Owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao

chore: update (#12292)
  .github/workflows/backend-tests.yml
  .github/workflows/test_link.yml
  README.md
  go.mod
  scripts/Dockerfile
  scripts/Dockerfile.aws
  scripts/Dockerfile.depot
  scripts/Dockerfile.render-demo
  scripts/build_bytebase.sh
Owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao

chore: update (#12292)
  .github/workflows/backend-tests.yml
  .github/workflows/test_link.yml
  README.md
  go.mod
  scripts/Dockerfile
  scripts/Dockerfile.aws
  scripts/Dockerfile.depot
  scripts/Dockerfile.render-demo
  scripts/build_bytebase.sh
Owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao

chore: update (#12292)
  .github/workflows/backend-tests.yml
  .github/workflows/test_link.yml
  README.md
  go.mod
  scripts/Dockerfile
  scripts/Dockerfile.aws
  scripts/Dockerfile.depot
  scripts/Dockerfile.render-demo
  scripts/build_bytebase.sh
Owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao

chore: update plan detail page
  frontend/src/components/Plan/PlanDetailPage.vue
  frontend/src/components/Plan/components/HeaderSection/Actions/Actions.vue
  frontend/src/components/Plan/components/PlanCheckSection/PlanCheckSection.vue
  frontend/src/components/Plan/components/PlanDataTable/PlanDataTable.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update change history data table
  frontend/src/components/ChangeHistory/ChangeHistoryDataTable.vue
  frontend/src/components/ChangeHistory/ChangeHistoryDetail.vue
  frontend/src/components/ChangeHistory/index.ts
  frontend/src/components/Database/DatabaseChangeHistoryPanel.vue
  frontend/src/components/ProjectChangeHistoryPanel.vue
  frontend/src/utils/v1/changeHistory.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update plan detail page (#12293)
  frontend/src/components/Plan/PlanDetailPage.vue
  frontend/src/components/Plan/components/HeaderSection/Actions/Actions.vue
  frontend/src/components/Plan/components/PlanCheckSection/PlanCheckSection.vue
  frontend/src/components/Plan/components/PlanDataTable/PlanDataTable.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update plan detail page (#12293)
  frontend/src/components/Plan/PlanDetailPage.vue
  frontend/src/components/Plan/components/HeaderSection/Actions/Actions.vue
  frontend/src/components/Plan/components/PlanCheckSection/PlanCheckSection.vue
  frontend/src/components/Plan/components/PlanDataTable/PlanDataTable.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update plan detail page (#12293)
  frontend/src/components/Plan/PlanDetailPage.vue
  frontend/src/components/Plan/components/HeaderSection/Actions/Actions.vue
  frontend/src/components/Plan/components/PlanCheckSection/PlanCheckSection.vue
  frontend/src/components/Plan/components/PlanDataTable/PlanDataTable.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

im setting
  backend/api/v1/setting_service.go
  backend/store/setting.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

mention users
  backend/component/webhook/manager.go
  backend/plugin/webhook/webhook.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

pass im setting & dm
  backend/component/webhook/manager.go
  backend/plugin/webhook/webhook.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

prepare for notif individuals
  backend/plugin/webhook/slack.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

slack seperate pkg
  backend/plugin/webhook/custom.go
  backend/plugin/webhook/dingtalk.go
  backend/plugin/webhook/discord.go
  backend/plugin/webhook/feishu.go
  backend/plugin/webhook/slack/slack.go
  backend/plugin/webhook/teams.go
  backend/plugin/webhook/webhook.go
  backend/plugin/webhook/webhook_test.go
  backend/plugin/webhook/wecom.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update change history data table (#12294)
  frontend/src/components/ChangeHistory/ChangeHistoryDataTable.vue
  frontend/src/components/ChangeHistory/ChangeHistoryDetail.vue
  frontend/src/components/ChangeHistory/index.ts
  frontend/src/components/Database/DatabaseChangeHistoryPanel.vue
  frontend/src/components/ProjectChangeHistoryPanel.vue
  frontend/src/utils/v1/changeHistory.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update change history data table (#12294)
  frontend/src/components/ChangeHistory/ChangeHistoryDataTable.vue
  frontend/src/components/ChangeHistory/ChangeHistoryDetail.vue
  frontend/src/components/ChangeHistory/index.ts
  frontend/src/components/Database/DatabaseChangeHistoryPanel.vue
  frontend/src/components/ProjectChangeHistoryPanel.vue
  frontend/src/utils/v1/changeHistory.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update change history data table (#12294)
  frontend/src/components/ChangeHistory/ChangeHistoryDataTable.vue
  frontend/src/components/ChangeHistory/ChangeHistoryDetail.vue
  frontend/src/components/ChangeHistory/index.ts
  frontend/src/components/Database/DatabaseChangeHistoryPanel.vue
  frontend/src/components/ProjectChangeHistoryPanel.vue
  frontend/src/utils/v1/changeHistory.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

docs: add product video link
  README.md
  docs/assets/product-video-thumbnail.webp
Owners: @d-bytebase, @bytebase/bytebase-dev

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
