Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

chore: update
  backend/store/query_history.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: query history store (#11352)
  backend/api/v1/acl_iam.go
  backend/api/v1/sql_service.go
  backend/migrator/migration/prod/2.15/0012##query_history.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/migrator/migrator_test.go
  backend/store/query_history.go
  frontend/src/store/modules/sqlEditor/queryHistory.ts
  frontend/src/types/proto/store/query_history.ts
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/query_history.pb.go
  proto/generated-go/v1/sql_service.pb.go
  proto/generated-go/v1/sql_service.pb.gw.go
  proto/generated-go/v1/sql_service_grpc.pb.go
  proto/store/query_history.proto
  proto/v1/sql_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: query history store (#11352)
  backend/api/v1/acl_iam.go
  backend/api/v1/sql_service.go
  backend/migrator/migration/prod/2.15/0012##query_history.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/migrator/migrator_test.go
  backend/store/query_history.go
  frontend/src/store/modules/sqlEditor/queryHistory.ts
  frontend/src/types/proto/store/query_history.ts
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/query_history.pb.go
  proto/generated-go/v1/sql_service.pb.go
  proto/generated-go/v1/sql_service.pb.gw.go
  proto/generated-go/v1/sql_service_grpc.pb.go
  proto/store/query_history.proto
  proto/v1/sql_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: query history store (#11352)
  backend/api/v1/acl_iam.go
  backend/api/v1/sql_service.go
  backend/migrator/migration/prod/2.15/0012##query_history.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/migrator/migrator_test.go
  backend/store/query_history.go
  frontend/src/store/modules/sqlEditor/queryHistory.ts
  frontend/src/types/proto/store/query_history.ts
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/query_history.pb.go
  proto/generated-go/v1/sql_service.pb.go
  proto/generated-go/v1/sql_service.pb.gw.go
  proto/generated-go/v1/sql_service_grpc.pb.go
  proto/store/query_history.proto
  proto/v1/sql_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: query history dml
  backend/migrator/migration/prod/2.15/0012##query_history.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: query history dml (#11353)
  backend/migrator/migration/prod/2.15/0012##query_history.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: query history dml (#11353)
  backend/migrator/migration/prod/2.15/0012##query_history.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: query history dml (#11353)
  backend/migrator/migration/prod/2.15/0012##query_history.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: several updates
  frontend/src/components/ColumnDataTable/MaskingLevelCell.vue
  frontend/src/components/CustomApproval/Settings/components/CustomApproval/RulesPanel/RiskTips.vue
  frontend/src/components/FeatureGuard/FeatureBadge.vue
  frontend/src/components/InstanceForm/InstanceForm.vue
  frontend/src/components/RepositoryVCSProviderPanel.vue
  frontend/src/components/SlowQuery/Panel/IndexAdvisor.vue
  frontend/src/layouts/BodyLayout.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/dashboard/projectV1.ts
  frontend/src/types/iam/permission.ts
  frontend/src/views/BannerExternalUrl.vue
  frontend/src/views/BannerSubscription.vue
  frontend/src/views/Home.vue
  frontend/src/views/OAuthCallback.vue
  frontend/src/views/SettingWorkspaceMember.vue
  frontend/src/views/auth/PasswordForgot.vue
  frontend/src/views/auth/PasswordReset.vue
  frontend/src/views/auth/Signin.vue
  frontend/src/views/auth/Signup.vue
  frontend/src/views/project/ProjectWebhookCreate.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: retire unused legacy issue activity codes
  frontend/src/components/Issue/activity/ActionCreator.vue
  frontend/src/components/Issue/activity/ActionIcon.vue
  frontend/src/components/Issue/activity/ActionSentence.vue
  frontend/src/components/Issue/activity/ActivityAction.vue
  frontend/src/components/Issue/activity/ActivityItem.vue
  frontend/src/components/Issue/activity/StageName.vue
  frontend/src/components/Issue/activity/TaskName.vue
  frontend/src/components/Issue/activity/common.ts
  frontend/src/components/Issue/activity/index.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: eslint
  frontend/src/components/InstanceForm/InstanceForm.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: query history dml
  backend/migrator/migration/prod/2.15/0012##query_history.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update data export runners
  backend/api/v1/rollout_service_plan_check.go
  backend/api/v1/rollout_service_task.go
  backend/runner/approval/runner.go
  backend/runner/taskrun/data_export_executor.go
  backend/store/risk.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

Update backend/api/v1/rollout_service_plan_check.go
  backend/api/v1/rollout_service_plan_check.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

Update backend/runner/approval/runner.go
  backend/runner/approval/runner.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

Update backend/runner/approval/runner.go
  backend/runner/approval/runner.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update data export related runners (#11356)
  backend/api/v1/rollout_service_plan_check.go
  backend/api/v1/rollout_service_task.go
  backend/runner/approval/runner.go
  backend/runner/taskrun/data_export_executor.go
  backend/store/risk.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update data export related runners (#11356)
  backend/api/v1/rollout_service_plan_check.go
  backend/api/v1/rollout_service_task.go
  backend/runner/approval/runner.go
  backend/runner/taskrun/data_export_executor.go
  backend/store/risk.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update data export related runners (#11356)
  backend/api/v1/rollout_service_plan_check.go
  backend/api/v1/rollout_service_task.go
  backend/runner/approval/runner.go
  backend/runner/taskrun/data_export_executor.go
  backend/store/risk.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  backend/api/v1/project_service.go
  frontend/src/views/project/ProjectWebhookCreate.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: several frontend updates (#11355)
  backend/api/v1/project_service.go
  backend/migrator/migration/prod/2.15/0012##query_history.sql
  frontend/src/components/ColumnDataTable/MaskingLevelCell.vue
  frontend/src/components/CustomApproval/Settings/components/CustomApproval/RulesPanel/RiskTips.vue
  frontend/src/components/FeatureGuard/FeatureBadge.vue
  frontend/src/components/InstanceForm/InstanceForm.vue
  frontend/src/components/RepositoryVCSProviderPanel.vue
  frontend/src/components/SlowQuery/Panel/IndexAdvisor.vue
  frontend/src/layouts/BodyLayout.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/dashboard/projectV1.ts
  frontend/src/types/iam/permission.ts
  frontend/src/views/BannerExternalUrl.vue
  frontend/src/views/BannerSubscription.vue
  frontend/src/views/Home.vue
  frontend/src/views/OAuthCallback.vue
  frontend/src/views/SettingWorkspaceMember.vue
  frontend/src/views/auth/PasswordForgot.vue
  frontend/src/views/auth/PasswordReset.vue
  frontend/src/views/auth/Signin.vue
  frontend/src/views/auth/Signup.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: several frontend updates (#11355)
  backend/api/v1/project_service.go
  backend/migrator/migration/prod/2.15/0012##query_history.sql
  frontend/src/components/ColumnDataTable/MaskingLevelCell.vue
  frontend/src/components/CustomApproval/Settings/components/CustomApproval/RulesPanel/RiskTips.vue
  frontend/src/components/FeatureGuard/FeatureBadge.vue
  frontend/src/components/InstanceForm/InstanceForm.vue
  frontend/src/components/RepositoryVCSProviderPanel.vue
  frontend/src/components/SlowQuery/Panel/IndexAdvisor.vue
  frontend/src/layouts/BodyLayout.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/dashboard/projectV1.ts
  frontend/src/types/iam/permission.ts
  frontend/src/views/BannerExternalUrl.vue
  frontend/src/views/BannerSubscription.vue
  frontend/src/views/Home.vue
  frontend/src/views/OAuthCallback.vue
  frontend/src/views/SettingWorkspaceMember.vue
  frontend/src/views/auth/PasswordForgot.vue
  frontend/src/views/auth/PasswordReset.vue
  frontend/src/views/auth/Signin.vue
  frontend/src/views/auth/Signup.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: several frontend updates (#11355)
  backend/api/v1/project_service.go
  backend/migrator/migration/prod/2.15/0012##query_history.sql
  frontend/src/components/ColumnDataTable/MaskingLevelCell.vue
  frontend/src/components/CustomApproval/Settings/components/CustomApproval/RulesPanel/RiskTips.vue
  frontend/src/components/FeatureGuard/FeatureBadge.vue
  frontend/src/components/InstanceForm/InstanceForm.vue
  frontend/src/components/RepositoryVCSProviderPanel.vue
  frontend/src/components/SlowQuery/Panel/IndexAdvisor.vue
  frontend/src/layouts/BodyLayout.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/router/dashboard/projectV1.ts
  frontend/src/types/iam/permission.ts
  frontend/src/views/BannerExternalUrl.vue
  frontend/src/views/BannerSubscription.vue
  frontend/src/views/Home.vue
  frontend/src/views/OAuthCallback.vue
  frontend/src/views/SettingWorkspaceMember.vue
  frontend/src/views/auth/PasswordForgot.vue
  frontend/src/views/auth/PasswordReset.vue
  frontend/src/views/auth/Signin.vue
  frontend/src/views/auth/Signup.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: retire unused legacy issue activity codes (#11354)
  frontend/src/components/Issue/activity/ActionCreator.vue
  frontend/src/components/Issue/activity/ActionIcon.vue
  frontend/src/components/Issue/activity/ActionSentence.vue
  frontend/src/components/Issue/activity/ActivityAction.vue
  frontend/src/components/Issue/activity/ActivityItem.vue
  frontend/src/components/Issue/activity/StageName.vue
  frontend/src/components/Issue/activity/TaskName.vue
  frontend/src/components/Issue/activity/common.ts
  frontend/src/components/Issue/activity/index.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: retire unused legacy issue activity codes (#11354)
  frontend/src/components/Issue/activity/ActionCreator.vue
  frontend/src/components/Issue/activity/ActionIcon.vue
  frontend/src/components/Issue/activity/ActionSentence.vue
  frontend/src/components/Issue/activity/ActivityAction.vue
  frontend/src/components/Issue/activity/ActivityItem.vue
  frontend/src/components/Issue/activity/StageName.vue
  frontend/src/components/Issue/activity/TaskName.vue
  frontend/src/components/Issue/activity/common.ts
  frontend/src/components/Issue/activity/index.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: retire unused legacy issue activity codes (#11354)
  frontend/src/components/Issue/activity/ActionCreator.vue
  frontend/src/components/Issue/activity/ActionIcon.vue
  frontend/src/components/Issue/activity/ActionSentence.vue
  frontend/src/components/Issue/activity/ActivityAction.vue
  frontend/src/components/Issue/activity/ActivityItem.vue
  frontend/src/components/Issue/activity/StageName.vue
  frontend/src/components/Issue/activity/TaskName.vue
  frontend/src/components/Issue/activity/common.ts
  frontend/src/components/Issue/activity/index.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update risk sources
  backend/api/v1/risk_service.go
  backend/runner/approval/runner.go
  backend/store/risk.go
  frontend/src/components/CustomApproval/Settings/components/common/utils.ts
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/google/protobuf/struct.ts
  frontend/src/types/proto/google/protobuf/timestamp.ts
  frontend/src/types/proto/v1/risk_service.ts
  frontend/src/types/risk.ts
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/risk_service.pb.go
  proto/v1/risk_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: retire database edit
  backend/legacyapi/database.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: fix user avatar title
  frontend/src/components/IssueV1/components/IssueTableV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix user avatar title (#11359)
  frontend/src/components/IssueV1/components/IssueTableV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix user avatar title (#11359)
  frontend/src/components/IssueV1/components/IssueTableV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: fix user avatar title (#11359)
  frontend/src/components/IssueV1/components/IssueTableV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: use local timezone
  frontend/src/components/IssueV1/components/ActivitySection/Activity/ActionSentence.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: use local timezone (#11360)
  frontend/src/components/IssueV1/components/ActivitySection/Activity/ActionSentence.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: use local timezone (#11360)
  frontend/src/components/IssueV1/components/ActivitySection/Activity/ActionSentence.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: use local timezone (#11360)
  frontend/src/components/IssueV1/components/ActivitySection/Activity/ActionSentence.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update risk sources (#11357)
  backend/api/v1/risk_service.go
  backend/runner/approval/runner.go
  backend/store/risk.go
  frontend/src/components/CustomApproval/Settings/components/common/utils.ts
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/google/protobuf/struct.ts
  frontend/src/types/proto/google/protobuf/timestamp.ts
  frontend/src/types/proto/v1/risk_service.ts
  frontend/src/types/risk.ts
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/risk_service.pb.go
  proto/v1/risk_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: update risk sources (#11357)
  backend/api/v1/risk_service.go
  backend/runner/approval/runner.go
  backend/store/risk.go
  frontend/src/components/CustomApproval/Settings/components/common/utils.ts
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/google/protobuf/struct.ts
  frontend/src/types/proto/google/protobuf/timestamp.ts
  frontend/src/types/proto/v1/risk_service.ts
  frontend/src/types/risk.ts
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/risk_service.pb.go
  proto/v1/risk_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: update risk sources (#11357)
  backend/api/v1/risk_service.go
  backend/runner/approval/runner.go
  backend/store/risk.go
  frontend/src/components/CustomApproval/Settings/components/common/utils.ts
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/vi-VN.json
  frontend/src/locales/zh-CN.json
  frontend/src/types/proto/google/protobuf/descriptor.ts
  frontend/src/types/proto/google/protobuf/struct.ts
  frontend/src/types/proto/google/protobuf/timestamp.ts
  frontend/src/types/proto/v1/risk_service.ts
  frontend/src/types/risk.ts
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/risk_service.pb.go
  proto/v1/risk_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: retire database edit (#11358)
  backend/legacyapi/database.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
