Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev

make engine required
  proto/v1/sheet_service.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

buf gen
  proto/gen/grpc-doc/openapi.yaml
  proto/generated-go/v1/sheet_service.pb.go
Owners: @d-bytebase, @ecmadao, @RainbowDashy

feat: split sheet eagerly (#11866)
  backend/api/gitops/webhook.go
  backend/api/v1/rollout_service.go
  backend/api/v1/rollout_service_task.go
  backend/api/v1/sheet_service.go
  backend/component/sheet/sheet.go
  backend/runner/rollbackrun/runner.go
  backend/server/onboard.go
  backend/store/sheet.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: split sheet eagerly (#11866)
  backend/api/gitops/webhook.go
  backend/api/v1/rollout_service.go
  backend/api/v1/rollout_service_task.go
  backend/api/v1/sheet_service.go
  backend/component/sheet/sheet.go
  backend/runner/rollbackrun/runner.go
  backend/server/onboard.go
  backend/store/sheet.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: split sheet eagerly (#11866)
  backend/api/gitops/webhook.go
  backend/api/v1/rollout_service.go
  backend/api/v1/rollout_service_task.go
  backend/api/v1/sheet_service.go
  backend/component/sheet/sheet.go
  backend/runner/rollbackrun/runner.go
  backend/server/onboard.go
  backend/store/sheet.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: make engine required (#11871)
  proto/gen/grpc-doc/openapi.yaml
  proto/generated-go/v1/sheet_service.pb.go
  proto/v1/sheet_service.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

chore: make engine required (#11871)
  proto/gen/grpc-doc/openapi.yaml
  proto/generated-go/v1/sheet_service.pb.go
  proto/v1/sheet_service.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

chore: make engine required (#11871)
  proto/gen/grpc-doc/openapi.yaml
  proto/generated-go/v1/sheet_service.pb.go
  proto/v1/sheet_service.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

chore: retire logging service in frontend
  frontend/src/components/IssueV1/components/Sidebar/RollbackSection/RollbackStatus.vue
  frontend/src/grpcweb/index.ts
  frontend/src/layouts/ProjectV1Layout.vue
  frontend/src/store/modules/v1/activity.ts
  frontend/src/store/modules/v1/index.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: retire logging service in frontend (#11872)
  frontend/src/components/IssueV1/components/Sidebar/RollbackSection/RollbackStatus.vue
  frontend/src/grpcweb/index.ts
  frontend/src/layouts/ProjectV1Layout.vue
  frontend/src/store/modules/v1/activity.ts
  frontend/src/store/modules/v1/index.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: retire logging service in frontend (#11872)
  frontend/src/components/IssueV1/components/Sidebar/RollbackSection/RollbackStatus.vue
  frontend/src/grpcweb/index.ts
  frontend/src/layouts/ProjectV1Layout.vue
  frontend/src/store/modules/v1/activity.ts
  frontend/src/store/modules/v1/index.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: retire logging service in frontend (#11872)
  frontend/src/components/IssueV1/components/Sidebar/RollbackSection/RollbackStatus.vue
  frontend/src/grpcweb/index.ts
  frontend/src/layouts/ProjectV1Layout.vue
  frontend/src/store/modules/v1/activity.ts
  frontend/src/store/modules/v1/index.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: rename worksheet
  frontend/src/components/ProvideSQLEditorContext.vue
  frontend/src/store/modules/sqlEditor/tab.ts
  frontend/src/store/modules/v1/worksheet.ts
  frontend/src/types/sqlEditor/tab.ts
  frontend/src/utils/sqlEditor.ts
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/actions.tsx
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/DraftList.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/SheetListItem.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/WorksheetPane.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/scroll-logic.ts
  frontend/src/views/sql-editor/ConnectionPanel/ConnectionPane/ConnectionPane.vue
  frontend/src/views/sql-editor/ConnectionPanel/ConnectionPane/SearchBox/index.vue
  frontend/src/views/sql-editor/EditorCommon/AdminModeButton.vue
  frontend/src/views/sql-editor/EditorCommon/EditorAction.vue
  frontend/src/views/sql-editor/EditorCommon/SaveSheetModal.vue
  frontend/src/views/sql-editor/EditorCommon/SharePopover.vue
  frontend/src/views/sql-editor/Sheet/common/Dropdown.vue
  frontend/src/views/sql-editor/Sheet/context.ts
  frontend/src/views/sql-editor/TabList/TabItem/Label.vue
  frontend/src/views/sql-editor/TabList/TabItem/Prefix.vue
  frontend/src/views/sql-editor/TabList/TabItem/TabItem.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/package.json
  frontend/src/views/sql-editor/ConnectionPanel/ConnectionPane/ConnectionPane.vue
  frontend/src/views/sql-editor/ConnectionPanel/ConnectionPane/actions.tsx
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: optimize ui when missing permission
  frontend/src/views/SettingWorkspaceVCSDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: optimize ui when missing permission (#11874)
  frontend/src/views/SettingWorkspaceVCSDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: optimize ui when missing permission (#11874)
  frontend/src/views/SettingWorkspaceVCSDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: optimize ui when missing permission (#11874)
  frontend/src/views/SettingWorkspaceVCSDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: rename worksheet (#11873)
  frontend/package.json
  frontend/src/components/ProvideSQLEditorContext.vue
  frontend/src/store/modules/sqlEditor/tab.ts
  frontend/src/store/modules/v1/worksheet.ts
  frontend/src/types/sqlEditor/tab.ts
  frontend/src/utils/sqlEditor.ts
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/actions.tsx
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/DraftList.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/SheetListItem.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/WorksheetPane.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/scroll-logic.ts
  frontend/src/views/sql-editor/ConnectionPanel/ConnectionPane/ConnectionPane.vue
  frontend/src/views/sql-editor/ConnectionPanel/ConnectionPane/SearchBox/index.vue
  frontend/src/views/sql-editor/ConnectionPanel/ConnectionPane/actions.tsx
  frontend/src/views/sql-editor/EditorCommon/AdminModeButton.vue
  frontend/src/views/sql-editor/EditorCommon/EditorAction.vue
  frontend/src/views/sql-editor/EditorCommon/SaveSheetModal.vue
  frontend/src/views/sql-editor/EditorCommon/SharePopover.vue
  frontend/src/views/sql-editor/Sheet/common/Dropdown.vue
  frontend/src/views/sql-editor/Sheet/context.ts
  frontend/src/views/sql-editor/TabList/TabItem/Label.vue
  frontend/src/views/sql-editor/TabList/TabItem/Prefix.vue
  frontend/src/views/sql-editor/TabList/TabItem/TabItem.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: rename worksheet (#11873)
  frontend/package.json
  frontend/src/components/ProvideSQLEditorContext.vue
  frontend/src/store/modules/sqlEditor/tab.ts
  frontend/src/store/modules/v1/worksheet.ts
  frontend/src/types/sqlEditor/tab.ts
  frontend/src/utils/sqlEditor.ts
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/actions.tsx
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/DraftList.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/SheetListItem.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/WorksheetPane.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/scroll-logic.ts
  frontend/src/views/sql-editor/ConnectionPanel/ConnectionPane/ConnectionPane.vue
  frontend/src/views/sql-editor/ConnectionPanel/ConnectionPane/SearchBox/index.vue
  frontend/src/views/sql-editor/ConnectionPanel/ConnectionPane/actions.tsx
  frontend/src/views/sql-editor/EditorCommon/AdminModeButton.vue
  frontend/src/views/sql-editor/EditorCommon/EditorAction.vue
  frontend/src/views/sql-editor/EditorCommon/SaveSheetModal.vue
  frontend/src/views/sql-editor/EditorCommon/SharePopover.vue
  frontend/src/views/sql-editor/Sheet/common/Dropdown.vue
  frontend/src/views/sql-editor/Sheet/context.ts
  frontend/src/views/sql-editor/TabList/TabItem/Label.vue
  frontend/src/views/sql-editor/TabList/TabItem/Prefix.vue
  frontend/src/views/sql-editor/TabList/TabItem/TabItem.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: rename worksheet (#11873)
  frontend/package.json
  frontend/src/components/ProvideSQLEditorContext.vue
  frontend/src/store/modules/sqlEditor/tab.ts
  frontend/src/store/modules/v1/worksheet.ts
  frontend/src/types/sqlEditor/tab.ts
  frontend/src/utils/sqlEditor.ts
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/actions.tsx
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/DraftList.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/SheetList/SheetListItem.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/WorksheetPane.vue
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/scroll-logic.ts
  frontend/src/views/sql-editor/ConnectionPanel/ConnectionPane/ConnectionPane.vue
  frontend/src/views/sql-editor/ConnectionPanel/ConnectionPane/SearchBox/index.vue
  frontend/src/views/sql-editor/ConnectionPanel/ConnectionPane/actions.tsx
  frontend/src/views/sql-editor/EditorCommon/AdminModeButton.vue
  frontend/src/views/sql-editor/EditorCommon/EditorAction.vue
  frontend/src/views/sql-editor/EditorCommon/SaveSheetModal.vue
  frontend/src/views/sql-editor/EditorCommon/SharePopover.vue
  frontend/src/views/sql-editor/Sheet/common/Dropdown.vue
  frontend/src/views/sql-editor/Sheet/context.ts
  frontend/src/views/sql-editor/TabList/TabItem/Label.vue
  frontend/src/views/sql-editor/TabList/TabItem/Prefix.vue
  frontend/src/views/sql-editor/TabList/TabItem/TabItem.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: npe
  backend/api/v1/branch_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: npe (#11875)
  backend/api/v1/branch_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: npe (#11875)
  backend/api/v1/branch_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: npe (#11875)
  backend/api/v1/branch_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: add export audit logs definition
  frontend/src/types/proto/v1/audit_log_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/audit_log_service.pb.go
  proto/generated-go/v1/audit_log_service.pb.gw.go
  proto/generated-go/v1/audit_log_service_grpc.pb.go
  proto/v1/audit_log_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: update
  frontend/src/types/proto/v1/audit_log_service.ts
  proto/generated-go/v1/audit_log_service.pb.go
  proto/v1/audit_log_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore(proto): add export audit logs definition (#11876)
  frontend/src/types/proto/v1/audit_log_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/audit_log_service.pb.go
  proto/generated-go/v1/audit_log_service.pb.gw.go
  proto/generated-go/v1/audit_log_service_grpc.pb.go
  proto/v1/audit_log_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore(proto): add export audit logs definition (#11876)
  frontend/src/types/proto/v1/audit_log_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/audit_log_service.pb.go
  proto/generated-go/v1/audit_log_service.pb.gw.go
  proto/generated-go/v1/audit_log_service_grpc.pb.go
  proto/v1/audit_log_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore(proto): add export audit logs definition (#11876)
  frontend/src/types/proto/v1/audit_log_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/audit_log_service.pb.go
  proto/generated-go/v1/audit_log_service.pb.gw.go
  proto/generated-go/v1/audit_log_service_grpc.pb.go
  proto/v1/audit_log_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: implement audit logs export
  backend/api/v1/audit_log_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: implement audit logs export (#11877)
  backend/api/v1/audit_log_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: implement audit logs export (#11877)
  backend/api/v1/audit_log_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: implement audit logs export (#11877)
  backend/api/v1/audit_log_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore(frontend): implement export audit logs
  backend/api/v1/acl_iam.go
  backend/api/v1/audit_log_service.go
  frontend/src/store/modules/v1/auditLog.ts
  frontend/src/views/SettingWorkspaceAuditLog.vue
  frontend/src/views/project/ProjectAuditLogDashboard.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore(frontend): implement export audit logs (#11878)
  backend/api/v1/acl_iam.go
  backend/api/v1/audit_log_service.go
  frontend/src/store/modules/v1/auditLog.ts
  frontend/src/views/SettingWorkspaceAuditLog.vue
  frontend/src/views/project/ProjectAuditLogDashboard.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore(frontend): implement export audit logs (#11878)
  backend/api/v1/acl_iam.go
  backend/api/v1/audit_log_service.go
  frontend/src/store/modules/v1/auditLog.ts
  frontend/src/views/SettingWorkspaceAuditLog.vue
  frontend/src/views/project/ProjectAuditLogDashboard.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore(frontend): implement export audit logs (#11878)
  backend/api/v1/acl_iam.go
  backend/api/v1/audit_log_service.go
  frontend/src/store/modules/v1/auditLog.ts
  frontend/src/views/SettingWorkspaceAuditLog.vue
  frontend/src/views/project/ProjectAuditLogDashboard.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: redact user
  backend/api/v1/audit.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: redact user (#11879)
  backend/api/v1/audit.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev
