Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @ecmadao, @rebelice, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @ecmadao

# Backend and API.
/backend/                    @d-bytebase @ecmadao
/proto/                      @d-bytebase @ecmadao

# Backend SQL kernel.
/backend/plugin/advisor      @d-bytebase @ecmadao @rebelice
/backend/plugin/db           @d-bytebase @ecmadao @rebelice
/backend/plugin/parser       @d-bytebase @ecmadao @rebelice

# Frontend.
/frontend/                   @LiuJi-Jim @boojack

# Dependency files.
frontend/package.json        @d-bytebase @LiuJi-Jim
go.mod                       @d-bytebase @ecmadao

chore: navigate external-url banner to the general setting (#5423)
  frontend/src/locales/zh-CN.json
  frontend/src/views/BannerExternalUrl.vue
  frontend/src/views/SettingWorkspaceGeneral.vue
Owners: @LiuJi-Jim, @boojack

chore: check external url on resources depending on it
  backend/api/v1/common.go
  backend/api/v1/idp_service.go
  backend/api/v1/project_service.go
  backend/bin/server/cmd/root.go
  backend/server/project.go
  backend/server/project_webhook.go
Owners: @d-bytebase, @ecmadao

chore: check external url on resources depending on it (#5424)
  backend/api/v1/common.go
  backend/api/v1/idp_service.go
  backend/api/v1/project_service.go
  backend/bin/server/cmd/root.go
  backend/server/project.go
  backend/server/project_webhook.go
Owners: @d-bytebase, @ecmadao

chore: check external url on resources depending on it (#5424)
  backend/api/v1/common.go
  backend/api/v1/idp_service.go
  backend/api/v1/project_service.go
  backend/bin/server/cmd/root.go
  backend/server/project.go
  backend/server/project_webhook.go
Owners: @d-bytebase, @ecmadao

chore: check external url on resources depending on it (#5424)
  backend/api/v1/common.go
  backend/api/v1/idp_service.go
  backend/api/v1/project_service.go
  backend/bin/server/cmd/root.go
  backend/server/project.go
  backend/server/project_webhook.go
Owners: @d-bytebase, @ecmadao

chore: add ip whitelist
  backend/server/server.go
  frontend/src/components/GeneralSetting/NetworkSetting.vue
  frontend/src/components/GeneralSetting/SecuritySetting.vue
  frontend/src/types/proto/store/setting.ts
  proto/gen/grpc-doc/store/README.md
  proto/generated-go/store/setting.pb.go
  proto/store/setting.proto
Owners: @d-bytebase, @ecmadao, @LiuJi-Jim, @boojack

chore: cleanup pg switchDB
  backend/plugin/db/pg/migrate.go
  backend/plugin/db/pg/pg.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: update
  backend/plugin/db/clickhouse/clickhouse_migration_schema.sql
  backend/plugin/db/clickhouse/migrate.go
  backend/plugin/db/driver.go
  backend/plugin/db/mongodb/collmod_migrationHistory_collection_command.json
  backend/plugin/db/mongodb/create_index_on_migrationHistory_collection_command.json
  backend/plugin/db/mongodb/migrate.go
  backend/plugin/db/mssql/migrate.go
  backend/plugin/db/mysql/migrate.go
  backend/plugin/db/mysql/mysql_migration_schema.sql
  backend/plugin/db/oracle/migrate.go
  backend/plugin/db/redis/migrate.go
  backend/plugin/db/redshift/migrate.go
  backend/plugin/db/snowflake/migrate.go
  backend/plugin/db/snowflake/snowflake_migration_schema.sql
  backend/plugin/db/spanner/migrate.go
  backend/plugin/db/spanner/spanner_migration_schema.sql
  backend/plugin/db/sqlite/migrate.go
  backend/store/pg_engine.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: update
  backend/bin/bb/cmd/migrate.go
  backend/plugin/db/snowflake/migrate.go
  backend/plugin/db/sqlite/sqlite.go
Owners: @d-bytebase, @ecmadao, @rebelice

Revert "chore: update"
  backend/bin/bb/cmd/migrate.go
  backend/plugin/db/snowflake/migrate.go
  backend/plugin/db/sqlite/sqlite.go
Owners: @d-bytebase, @ecmadao, @rebelice

Revert "chore: update"
  backend/plugin/db/clickhouse/clickhouse_migration_schema.sql
  backend/plugin/db/clickhouse/migrate.go
  backend/plugin/db/driver.go
  backend/plugin/db/mongodb/collmod_migrationHistory_collection_command.json
  backend/plugin/db/mongodb/create_index_on_migrationHistory_collection_command.json
  backend/plugin/db/mongodb/migrate.go
  backend/plugin/db/mssql/migrate.go
  backend/plugin/db/mysql/migrate.go
  backend/plugin/db/mysql/mysql_migration_schema.sql
  backend/plugin/db/oracle/migrate.go
  backend/plugin/db/redis/migrate.go
  backend/plugin/db/redshift/migrate.go
  backend/plugin/db/snowflake/migrate.go
  backend/plugin/db/snowflake/snowflake_migration_schema.sql
  backend/plugin/db/spanner/migrate.go
  backend/plugin/db/spanner/spanner_migration_schema.sql
  backend/plugin/db/sqlite/migrate.go
  backend/store/pg_engine.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: update
  backend/runner/taskrun/schema_update_ghost_cutover_executor.go
Owners: @d-bytebase, @ecmadao

chore: update
  backend/runner/taskrun/schema_update_ghost_cutover_executor.go
Owners: @d-bytebase, @ecmadao

chore: update
  backend/runner/taskrun/schema_update_ghost_cutover_executor.go
Owners: @d-bytebase, @ecmadao

feat: implement SyncSlowQuery for MySQL
  backend/plugin/db/clickhouse/sync.go
  backend/plugin/db/driver.go
  backend/plugin/db/mongodb/sync.go
  backend/plugin/db/mssql/sync.go
  backend/plugin/db/mysql/sync.go
  backend/plugin/db/oracle/sync.go
  backend/plugin/db/pg/sync.go
  backend/plugin/db/redis/sync.go
  backend/plugin/db/redshift/sync.go
  backend/plugin/db/snowflake/sync.go
  backend/plugin/db/spanner/sync.go
  backend/plugin/db/sqlite/sync.go
  backend/plugin/parser/utils.go
  backend/plugin/parser/utils_test.go
  backend/runner/slowquerysync/syncer.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: cleanup pg switchDB (#5426)
  backend/plugin/db/pg/migrate.go
  backend/plugin/db/pg/pg.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: cleanup pg switchDB (#5426)
  backend/plugin/db/pg/migrate.go
  backend/plugin/db/pg/pg.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: cleanup pg switchDB (#5426)
  backend/plugin/db/pg/migrate.go
  backend/plugin/db/pg/pg.go
Owners: @d-bytebase, @ecmadao, @rebelice

Revert "Revert "chore: update""
  backend/plugin/db/clickhouse/clickhouse_migration_schema.sql
  backend/plugin/db/clickhouse/migrate.go
  backend/plugin/db/driver.go
  backend/plugin/db/mongodb/collmod_migrationHistory_collection_command.json
  backend/plugin/db/mongodb/create_index_on_migrationHistory_collection_command.json
  backend/plugin/db/mongodb/migrate.go
  backend/plugin/db/mssql/migrate.go
  backend/plugin/db/mysql/migrate.go
  backend/plugin/db/mysql/mysql_migration_schema.sql
  backend/plugin/db/oracle/migrate.go
  backend/plugin/db/redis/migrate.go
  backend/plugin/db/redshift/migrate.go
  backend/plugin/db/snowflake/migrate.go
  backend/plugin/db/snowflake/snowflake_migration_schema.sql
  backend/plugin/db/spanner/migrate.go
  backend/plugin/db/spanner/spanner_migration_schema.sql
  backend/plugin/db/sqlite/migrate.go
  backend/store/pg_engine.go
Owners: @d-bytebase, @ecmadao, @rebelice

Revert "Revert "chore: update""
  backend/bin/bb/cmd/migrate.go
  backend/plugin/db/snowflake/migrate.go
  backend/plugin/db/sqlite/sqlite.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: remove syncer
  backend/runner/slowquerysync/syncer.go
Owners: @d-bytebase, @ecmadao

feat: implement slow query panel
  frontend/src/assets/css/tailwind.css
  frontend/src/bbkit/types.ts
  frontend/src/components/SlowQuery/Panel/DetailDialog.vue
  frontend/src/components/SlowQuery/Panel/LogFilter.vue
  frontend/src/components/SlowQuery/Panel/LogTable.vue
  frontend/src/components/SlowQuery/Panel/SlowQueryPanel.vue
  frontend/src/components/SlowQuery/Panel/index.ts
  frontend/src/components/SlowQuery/Panel/types.ts
  frontend/src/components/SlowQuery/index.ts
Owners: @LiuJi-Jim, @boojack

feat: implement common components
  frontend/src/components/v2/Model/DatabaseName.vue
  frontend/src/components/v2/Model/InstanceName.vue
  frontend/src/components/v2/Model/index.ts
  frontend/src/components/v2/Select/DatabaseSelect.vue
  frontend/src/components/v2/Select/InstanceSelect.vue
  frontend/src/components/v2/Select/ProjectSelect.vue
  frontend/src/components/v2/Select/index.ts
  frontend/src/components/v2/index.ts
  frontend/src/locales/en-US.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack

feat: implement logic
  frontend/src/grpcweb/index.ts
  frontend/src/store/modules/index.ts
  frontend/src/store/modules/slowQuery.ts
  frontend/src/utils/index.ts
  frontend/src/utils/project.ts
  frontend/src/utils/slowQuery.ts
Owners: @LiuJi-Jim, @boojack

feat: implement slow query dashboard
  frontend/src/router/index.ts
  frontend/src/views/DashboardSidebar.vue
  frontend/src/views/SlowQuery/SlowQueryDashboard.vue
Owners: @LiuJi-Jim, @boojack

feat: implement database slow query panel
  frontend/src/components/DatabaseSlowQueryPanel.vue
  frontend/src/views/DatabaseDetail.vue
Owners: @LiuJi-Jim, @boojack

feat: implement project slow query panel
  frontend/src/components/ProjectSlowQueryPanel.vue
  frontend/src/layouts/ProjectLayout.vue
  frontend/src/views/ProjectDetail.vue
Owners: @LiuJi-Jim, @boojack

chore: let linter happy
  backend/plugin/db/clickhouse/sync.go
  backend/plugin/db/mongodb/sync.go
  backend/plugin/db/mssql/sync.go
  backend/plugin/db/oracle/sync.go
  backend/plugin/db/pg/sync.go
  backend/plugin/db/redis/sync.go
  backend/plugin/db/redshift/sync.go
  backend/plugin/db/snowflake/sync.go
  backend/plugin/db/spanner/sync.go
  backend/plugin/db/sqlite/sync.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: let linter happy
  backend/plugin/parser/utils.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: cleanup non-pg migrator code (#5427)
  backend/bin/bb/cmd/migrate.go
  backend/plugin/db/clickhouse/clickhouse_migration_schema.sql
  backend/plugin/db/clickhouse/migrate.go
  backend/plugin/db/driver.go
  backend/plugin/db/mongodb/collmod_migrationHistory_collection_command.json
  backend/plugin/db/mongodb/create_index_on_migrationHistory_collection_command.json
  backend/plugin/db/mongodb/migrate.go
  backend/plugin/db/mssql/migrate.go
  backend/plugin/db/mysql/migrate.go
  backend/plugin/db/mysql/mysql_migration_schema.sql
  backend/plugin/db/oracle/migrate.go
  backend/plugin/db/redis/migrate.go
  backend/plugin/db/redshift/migrate.go
  backend/plugin/db/snowflake/migrate.go
  backend/plugin/db/snowflake/snowflake_migration_schema.sql
  backend/plugin/db/spanner/migrate.go
  backend/plugin/db/spanner/spanner_migration_schema.sql
  backend/plugin/db/sqlite/migrate.go
  backend/plugin/db/sqlite/sqlite.go
  backend/store/pg_engine.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: cleanup non-pg migrator code (#5427)
  backend/bin/bb/cmd/migrate.go
  backend/plugin/db/clickhouse/clickhouse_migration_schema.sql
  backend/plugin/db/clickhouse/migrate.go
  backend/plugin/db/driver.go
  backend/plugin/db/mongodb/collmod_migrationHistory_collection_command.json
  backend/plugin/db/mongodb/create_index_on_migrationHistory_collection_command.json
  backend/plugin/db/mongodb/migrate.go
  backend/plugin/db/mssql/migrate.go
  backend/plugin/db/mysql/migrate.go
  backend/plugin/db/mysql/mysql_migration_schema.sql
  backend/plugin/db/oracle/migrate.go
  backend/plugin/db/redis/migrate.go
  backend/plugin/db/redshift/migrate.go
  backend/plugin/db/snowflake/migrate.go
  backend/plugin/db/snowflake/snowflake_migration_schema.sql
  backend/plugin/db/spanner/migrate.go
  backend/plugin/db/spanner/spanner_migration_schema.sql
  backend/plugin/db/sqlite/migrate.go
  backend/plugin/db/sqlite/sqlite.go
  backend/store/pg_engine.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: cleanup non-pg migrator code (#5427)
  backend/bin/bb/cmd/migrate.go
  backend/plugin/db/clickhouse/clickhouse_migration_schema.sql
  backend/plugin/db/clickhouse/migrate.go
  backend/plugin/db/driver.go
  backend/plugin/db/mongodb/collmod_migrationHistory_collection_command.json
  backend/plugin/db/mongodb/create_index_on_migrationHistory_collection_command.json
  backend/plugin/db/mongodb/migrate.go
  backend/plugin/db/mssql/migrate.go
  backend/plugin/db/mysql/migrate.go
  backend/plugin/db/mysql/mysql_migration_schema.sql
  backend/plugin/db/oracle/migrate.go
  backend/plugin/db/redis/migrate.go
  backend/plugin/db/redshift/migrate.go
  backend/plugin/db/snowflake/migrate.go
  backend/plugin/db/snowflake/snowflake_migration_schema.sql
  backend/plugin/db/spanner/migrate.go
  backend/plugin/db/spanner/spanner_migration_schema.sql
  backend/plugin/db/sqlite/migrate.go
  backend/plugin/db/sqlite/sqlite.go
  backend/store/pg_engine.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: fix test
  backend/plugin/advisor/utils_for_tests.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: translation
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack

chore: cleanup execute migration
  backend/bin/bb/cmd/migrate.go
  backend/plugin/advisor/utils_for_tests.go
  backend/plugin/db/clickhouse/migrate.go
  backend/plugin/db/driver.go
  backend/plugin/db/mongodb/migrate.go
  backend/plugin/db/mssql/migrate.go
  backend/plugin/db/mysql/migrate.go
  backend/plugin/db/oracle/migrate.go
  backend/plugin/db/pg/migrate.go
  backend/plugin/db/redis/migrate.go
  backend/plugin/db/redshift/migrate.go
  backend/plugin/db/snowflake/migrate.go
  backend/plugin/db/spanner/migrate.go
  backend/plugin/db/spanner/spanner.go
  backend/plugin/db/sqlite/migrate.go
  backend/utils/utils.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: translation (#5429)
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack

chore: translation (#5429)
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack

chore: translation (#5429)
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack

chore: update
  backend/plugin/db/mongodb/migrate.go
  backend/plugin/db/pg/migrate.go
  backend/plugin/db/util/driverutil.go
Owners: @d-bytebase, @ecmadao, @rebelice

chore: make linter happy
  backend/plugin/db/clickhouse/sync.go
  backend/plugin/db/mongodb/sync.go
  backend/plugin/db/mssql/sync.go
  backend/plugin/db/oracle/sync.go
  backend/plugin/db/pg/sync.go
  backend/plugin/db/redis/sync.go
  backend/plugin/db/redshift/sync.go
  backend/plugin/db/snowflake/sync.go
  backend/plugin/db/spanner/sync.go
  backend/plugin/db/sqlite/sync.go
Owners: @d-bytebase, @ecmadao, @rebelice
