Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev

chore: burnout oracle on large sql (#13872)
  backend/component/sheet/sheet.go
  backend/plugin/db/oracle/oracle.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: tweak i18n for large statement (#13871)
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: enable tidb masking
  backend/api/v1/query_result_masker.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: enable tidb masking (#13875)
  backend/api/v1/query_result_masker.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: enable tidb masking (#13875)
  backend/api/v1/query_result_masker.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: enable tidb masking (#13875)
  backend/api/v1/query_result_masker.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: filter branch related permissions
  frontend/src/components/Role/Setting/components/ImportPermissionFromRoleModal.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: finish testing
  backend/api/v1/sql_service.go
  backend/runner/taskrun/data_update_executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: filter branch related permissions (#13876)
  frontend/src/components/Role/Setting/components/ImportPermissionFromRoleModal.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: filter branch related permissions (#13876)
  frontend/src/components/Role/Setting/components/ImportPermissionFromRoleModal.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: filter branch related permissions (#13876)
  frontend/src/components/Role/Setting/components/ImportPermissionFromRoleModal.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: mask backup table (#13858)
  backend/api/v1/sql_service.go
  backend/runner/taskrun/data_update_executor.go
  backend/store/model/database.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: mask backup table (#13858)
  backend/api/v1/sql_service.go
  backend/runner/taskrun/data_update_executor.go
  backend/store/model/database.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: mask backup table (#13858)
  backend/api/v1/sql_service.go
  backend/runner/taskrun/data_update_executor.go
  backend/store/model/database.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  backend/api/v1/sql_service.go
  backend/plugin/db/bigquery/bigquery.go
  backend/plugin/db/bigquery/bigquery_test.go
  backend/plugin/db/driver.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: add `shrink-0` to sorting icon
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/ColumnSortedIcon.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add `shrink-0` to sorting icon (#13877)
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/ColumnSortedIcon.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add `shrink-0` to sorting icon (#13877)
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/ColumnSortedIcon.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add `shrink-0` to sorting icon (#13877)
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/ColumnSortedIcon.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: return syntax error instead of panic for pg splitter
  backend/plugin/parser/pg/split.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: return syntax error instead of panic for pg splitter (#13878)
  backend/plugin/parser/pg/split.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: return syntax error instead of panic for pg splitter (#13878)
  backend/plugin/parser/pg/split.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: return syntax error instead of panic for pg splitter (#13878)
  backend/plugin/parser/pg/split.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: return syntax error instead of panic for pg splitter (#13878)
  backend/plugin/parser/pg/split.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: bi-directional virtual scroll
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/DataTableLite.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/useTableResize.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: double click
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/useTableResize.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: style
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/DataTableLite.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/TableCell.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: bq label (#13870)
  backend/api/v1/sql_service.go
  backend/plugin/db/bigquery/bigquery.go
  backend/plugin/db/bigquery/bigquery_test.go
  backend/plugin/db/driver.go
  backend/runner/taskrun/data_export_executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: bq label (#13870)
  backend/api/v1/sql_service.go
  backend/plugin/db/bigquery/bigquery.go
  backend/plugin/db/bigquery/bigquery_test.go
  backend/plugin/db/driver.go
  backend/runner/taskrun/data_export_executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: bq label (#13870)
  backend/api/v1/sql_service.go
  backend/plugin/db/bigquery/bigquery.go
  backend/plugin/db/bigquery/bigquery_test.go
  backend/plugin/db/driver.go
  backend/runner/taskrun/data_export_executor.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

feat: guess column width by characters
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/DataTableLite.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/useTableResize.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: const use the same logic
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/TableCell.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update rules to support force classification in the comment
  backend/api/v1/plan_service.go
  backend/api/v1/sql_service.go
  backend/plugin/advisor/advisor.go
  backend/plugin/advisor/code.go
  backend/plugin/advisor/mysql/advisor_column_comment_convention.go
  backend/plugin/advisor/mysql/advisor_table_comment_convention.go
  backend/plugin/advisor/sql_review.go
  backend/plugin/advisor/tidb/advisor_column_comment_convention.go
  backend/plugin/advisor/tidb/advisor_table_comment_convention.go
  backend/runner/plancheck/statement_advise_executor.go
  backend/server/grpc_routes.go
  backend/server/server.go
  frontend/src/components/SQLReview/components/RuleConfigComponents/BooleanComponent.vue
  frontend/src/components/SQLReview/components/RuleConfigComponents/RuleConfig.vue
  frontend/src/locales/sql-review/en-US.json
  frontend/src/locales/sql-review/es-ES.json
  frontend/src/locales/sql-review/ja-JP.json
  frontend/src/locales/sql-review/zh-CN.json
  frontend/src/types/index.ts
  frontend/src/types/sql-review-schema.yaml
  frontend/src/types/sqlAdvice.ts
  frontend/src/types/sqlAdviceCode.ts
  frontend/src/types/sqlReview.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

revision proto
  proto/store/revision.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

fix: eslint
  frontend/src/types/sqlReview.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

buf gen
  frontend/src/types/proto/store/revision.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/revision.pb.go
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

feat(sql-editor): mass query result data rendering in SQL Editor (#13880)
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/DataTableLite.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/TableCell.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/useTableResize.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat(sql-editor): mass query result data rendering in SQL Editor (#13880)
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/DataTableLite.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/TableCell.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/useTableResize.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat(sql-editor): mass query result data rendering in SQL Editor (#13880)
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/DataTableLite.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/TableCell.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/DataTableLite/useTableResize.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

revision table
  backend/migrator/migration/dev/2024092400001##revision.sql
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev
