Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev

chore: hide branch related permissions in frontend (#13246)
  frontend/src/components/Role/Setting/RoleSetting.vue
  frontend/src/components/Role/Setting/components/RoleDataTable/index.vue
  frontend/src/components/Role/Setting/components/RolePanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: hide branch related permissions in frontend (#13246)
  frontend/src/components/Role/Setting/RoleSetting.vue
  frontend/src/components/Role/Setting/components/RoleDataTable/index.vue
  frontend/src/components/Role/Setting/components/RolePanel.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: filter plan check by deployment schedule
  backend/api/v1/plan_service_plan_check.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: filter plan check by deployment schedule (#13247)
  backend/api/v1/plan_service_plan_check.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: filter plan check by deployment schedule (#13247)
  backend/api/v1/plan_service_plan_check.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: filter plan check by deployment schedule (#13247)
  backend/api/v1/plan_service_plan_check.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: merge
  backend/api/v1/branch_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: custom roles can be deleted only when no policy references them
  backend/api/v1/role_service.go
  frontend/src/components/Role/Setting/components/RoleDataTable/cells/RoleOperationsCell.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/store/modules/utils.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: update
  frontend/src/components/DatabaseDetail/Settings/components/Secrets.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: main branch apply
  frontend/src/components/Branch/BranchDetailView.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: main branch apply (#13249)
  frontend/src/components/Branch/BranchDetailView.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: main branch apply (#13249)
  frontend/src/components/Branch/BranchDetailView.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: main branch apply (#13249)
  frontend/src/components/Branch/BranchDetailView.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: use sql
  backend/api/v1/role_service.go
  backend/store/role.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: custom roles can be deleted only when no policy references them (#13248)
  backend/api/v1/role_service.go
  backend/store/role.go
  frontend/src/components/DatabaseDetail/Settings/components/Secrets.vue
  frontend/src/components/Role/Setting/components/RoleDataTable/cells/RoleOperationsCell.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/store/modules/utils.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: custom roles can be deleted only when no policy references them (#13248)
  backend/api/v1/role_service.go
  backend/store/role.go
  frontend/src/components/DatabaseDetail/Settings/components/Secrets.vue
  frontend/src/components/Role/Setting/components/RoleDataTable/cells/RoleOperationsCell.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/store/modules/utils.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: custom roles can be deleted only when no policy references them (#13248)
  backend/api/v1/role_service.go
  backend/store/role.go
  frontend/src/components/DatabaseDetail/Settings/components/Secrets.vue
  frontend/src/components/Role/Setting/components/RoleDataTable/cells/RoleOperationsCell.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/store/modules/utils.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

feat: handle last updater in merge/rebase branch
  backend/api/v1/branch_service.go
  backend/runner/taskrun/executor.go
  backend/store/model/database.go
  backend/utils/database_config_merge.go
  backend/utils/database_config_merge_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: update
  backend/utils/database_config_merge.go
  frontend/src/components/Branch/BranchDetailView.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

feat: handle last updater in merge/rebase branch (#13250)
  backend/api/v1/branch_service.go
  backend/runner/taskrun/executor.go
  backend/store/model/database.go
  backend/utils/database_config_merge.go
  backend/utils/database_config_merge_test.go
  frontend/src/components/Branch/BranchDetailView.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

feat: handle last updater in merge/rebase branch (#13250)
  backend/api/v1/branch_service.go
  backend/runner/taskrun/executor.go
  backend/store/model/database.go
  backend/utils/database_config_merge.go
  backend/utils/database_config_merge_test.go
  frontend/src/components/Branch/BranchDetailView.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

feat: handle last updater in merge/rebase branch (#13250)
  backend/api/v1/branch_service.go
  backend/runner/taskrun/executor.go
  backend/store/model/database.go
  backend/utils/database_config_merge.go
  backend/utils/database_config_merge_test.go
  frontend/src/components/Branch/BranchDetailView.vue
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: comment
  frontend/src/components/Icon/ColumnIcon.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: extract code
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/ColumnNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/CommonNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/DatabaseNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/DummyNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/ExternalTableNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/FunctionNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/PartitionTableNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/ProcedureNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/SchemaNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/TableNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/TextNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/ViewNode.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(sql-editor): icons improvements (#13251)
  frontend/src/components/Icon/ColumnIcon.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/SchemaPane.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/ColumnNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/CommonNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/DatabaseNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/DummyNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/ExternalTableNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/FunctionNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/PartitionTableNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/ProcedureNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/SchemaNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/TableNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/TextNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/ViewNode.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(sql-editor): icons improvements (#13251)
  frontend/src/components/Icon/ColumnIcon.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/SchemaPane.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/ColumnNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/CommonNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/DatabaseNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/DummyNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/ExternalTableNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/FunctionNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/PartitionTableNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/ProcedureNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/SchemaNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/TableNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/TextNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/ViewNode.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore(sql-editor): icons improvements (#13251)
  frontend/src/components/Icon/ColumnIcon.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/SchemaPane.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/ColumnNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/CommonNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/DatabaseNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/DummyNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/ExternalTableNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/FunctionNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/PartitionTableNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/ProcedureNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/SchemaNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/TableNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/TextNode.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/TreeNode/ViewNode.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

refactor: change resources
  backend/plugin/parser/mysql/resource_change.go
  backend/plugin/parser/plsql/resource_change.go
  backend/runner/plancheck/statement_report_executor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

chore: update
  backend/plugin/parser/mysql/query_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: update useProjectV1Store cases
  frontend/src/components/CreateDatabasePrepForm/CreateDatabasePrepForm.vue
  frontend/src/components/DatabaseDetail/SQLEditorButtonV1.vue
  frontend/src/components/Issue/panel/RequestExportPanel/index.vue
  frontend/src/components/Issue/panel/RequestQueryPanel/DatabaseResourceForm/DatabaseResourceSelector.vue
  frontend/src/components/Issue/panel/RequestQueryPanel/DatabaseResourceForm/index.vue
  frontend/src/components/Issue/panel/RequestQueryPanel/index.vue
  frontend/src/components/ProvideDashboardContext.vue
  frontend/src/components/QuickActionPanel.vue
  frontend/src/router/dashboard/workspace.ts
  frontend/src/store/modules/v1/project.ts
  frontend/src/store/modules/workspaceMailDeliverySetting.ts
  frontend/src/views/DatabaseGroupDetail.vue
  frontend/src/views/ReviewCenter/index.vue
  frontend/src/views/branch/BranchDetail.vue
  frontend/src/views/branch/BranchMerge.vue
  frontend/src/views/branch/BranchRebase.vue
  frontend/src/views/branch/BranchRollout.vue
  frontend/src/views/project/ProjectAnomalyCenterDashboard.vue
  frontend/src/views/project/ProjectBranchDashboard.vue
  frontend/src/views/project/ProjectChangeHistoryDashboard.vue
  frontend/src/views/project/ProjectChangelistDashboard.vue
  frontend/src/views/project/ProjectDatabaseDashboard.vue
  frontend/src/views/project/ProjectDatabaseGroupDashboard.vue
  frontend/src/views/project/ProjectDeploymentConfigPanel.vue
  frontend/src/views/project/ProjectIssueDashboard.vue
  frontend/src/views/project/ProjectMemberDashboard.vue
  frontend/src/views/project/ProjectSettingPanel.vue
  frontend/src/views/project/ProjectSlowQueryDashboard.vue
  frontend/src/views/project/ProjectSyncDatabasePanel.vue
  frontend/src/views/project/ProjectVersionControlCreate.vue
  frontend/src/views/project/ProjectVersionControlDetail.vue
  frontend/src/views/project/ProjectVersionControlPanel.vue
  frontend/src/views/project/ProjectWebhookCreate.vue
  frontend/src/views/project/ProjectWebhookDashboard.vue
  frontend/src/views/project/ProjectWebhookDetail.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/RequestQueryButton.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

refactor: change resources (#13252)
  backend/plugin/parser/mysql/query_test.go
  backend/plugin/parser/mysql/resource_change.go
  backend/plugin/parser/plsql/resource_change.go
  backend/runner/plancheck/statement_report_executor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

refactor: change resources (#13252)
  backend/plugin/parser/mysql/query_test.go
  backend/plugin/parser/mysql/resource_change.go
  backend/plugin/parser/plsql/resource_change.go
  backend/runner/plancheck/statement_report_executor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

refactor: change resources (#13252)
  backend/plugin/parser/mysql/query_test.go
  backend/plugin/parser/mysql/resource_change.go
  backend/plugin/parser/plsql/resource_change.go
  backend/runner/plancheck/statement_report_executor.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

chore: update useProjectV1Store cases (#13253)
  frontend/src/components/CreateDatabasePrepForm/CreateDatabasePrepForm.vue
  frontend/src/components/DatabaseDetail/SQLEditorButtonV1.vue
  frontend/src/components/Issue/panel/RequestExportPanel/index.vue
  frontend/src/components/Issue/panel/RequestQueryPanel/DatabaseResourceForm/DatabaseResourceSelector.vue
  frontend/src/components/Issue/panel/RequestQueryPanel/DatabaseResourceForm/index.vue
  frontend/src/components/Issue/panel/RequestQueryPanel/index.vue
  frontend/src/components/ProvideDashboardContext.vue
  frontend/src/components/QuickActionPanel.vue
  frontend/src/router/dashboard/workspace.ts
  frontend/src/store/modules/v1/project.ts
  frontend/src/store/modules/workspaceMailDeliverySetting.ts
  frontend/src/views/DatabaseGroupDetail.vue
  frontend/src/views/ReviewCenter/index.vue
  frontend/src/views/branch/BranchDetail.vue
  frontend/src/views/branch/BranchMerge.vue
  frontend/src/views/branch/BranchRebase.vue
  frontend/src/views/branch/BranchRollout.vue
  frontend/src/views/project/ProjectAnomalyCenterDashboard.vue
  frontend/src/views/project/ProjectBranchDashboard.vue
  frontend/src/views/project/ProjectChangeHistoryDashboard.vue
  frontend/src/views/project/ProjectChangelistDashboard.vue
  frontend/src/views/project/ProjectDatabaseDashboard.vue
  frontend/src/views/project/ProjectDatabaseGroupDashboard.vue
  frontend/src/views/project/ProjectDeploymentConfigPanel.vue
  frontend/src/views/project/ProjectIssueDashboard.vue
  frontend/src/views/project/ProjectMemberDashboard.vue
  frontend/src/views/project/ProjectSettingPanel.vue
  frontend/src/views/project/ProjectSlowQueryDashboard.vue
  frontend/src/views/project/ProjectSyncDatabasePanel.vue
  frontend/src/views/project/ProjectVersionControlCreate.vue
  frontend/src/views/project/ProjectVersionControlDetail.vue
  frontend/src/views/project/ProjectVersionControlPanel.vue
  frontend/src/views/project/ProjectWebhookCreate.vue
  frontend/src/views/project/ProjectWebhookDashboard.vue
  frontend/src/views/project/ProjectWebhookDetail.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/RequestQueryButton.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update useProjectV1Store cases (#13253)
  frontend/src/components/CreateDatabasePrepForm/CreateDatabasePrepForm.vue
  frontend/src/components/DatabaseDetail/SQLEditorButtonV1.vue
  frontend/src/components/Issue/panel/RequestExportPanel/index.vue
  frontend/src/components/Issue/panel/RequestQueryPanel/DatabaseResourceForm/DatabaseResourceSelector.vue
  frontend/src/components/Issue/panel/RequestQueryPanel/DatabaseResourceForm/index.vue
  frontend/src/components/Issue/panel/RequestQueryPanel/index.vue
  frontend/src/components/ProvideDashboardContext.vue
  frontend/src/components/QuickActionPanel.vue
  frontend/src/router/dashboard/workspace.ts
  frontend/src/store/modules/v1/project.ts
  frontend/src/store/modules/workspaceMailDeliverySetting.ts
  frontend/src/views/DatabaseGroupDetail.vue
  frontend/src/views/ReviewCenter/index.vue
  frontend/src/views/branch/BranchDetail.vue
  frontend/src/views/branch/BranchMerge.vue
  frontend/src/views/branch/BranchRebase.vue
  frontend/src/views/branch/BranchRollout.vue
  frontend/src/views/project/ProjectAnomalyCenterDashboard.vue
  frontend/src/views/project/ProjectBranchDashboard.vue
  frontend/src/views/project/ProjectChangeHistoryDashboard.vue
  frontend/src/views/project/ProjectChangelistDashboard.vue
  frontend/src/views/project/ProjectDatabaseDashboard.vue
  frontend/src/views/project/ProjectDatabaseGroupDashboard.vue
  frontend/src/views/project/ProjectDeploymentConfigPanel.vue
  frontend/src/views/project/ProjectIssueDashboard.vue
  frontend/src/views/project/ProjectMemberDashboard.vue
  frontend/src/views/project/ProjectSettingPanel.vue
  frontend/src/views/project/ProjectSlowQueryDashboard.vue
  frontend/src/views/project/ProjectSyncDatabasePanel.vue
  frontend/src/views/project/ProjectVersionControlCreate.vue
  frontend/src/views/project/ProjectVersionControlDetail.vue
  frontend/src/views/project/ProjectVersionControlPanel.vue
  frontend/src/views/project/ProjectWebhookCreate.vue
  frontend/src/views/project/ProjectWebhookDashboard.vue
  frontend/src/views/project/ProjectWebhookDetail.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/RequestQueryButton.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update useProjectV1Store cases (#13253)
  frontend/src/components/CreateDatabasePrepForm/CreateDatabasePrepForm.vue
  frontend/src/components/DatabaseDetail/SQLEditorButtonV1.vue
  frontend/src/components/Issue/panel/RequestExportPanel/index.vue
  frontend/src/components/Issue/panel/RequestQueryPanel/DatabaseResourceForm/DatabaseResourceSelector.vue
  frontend/src/components/Issue/panel/RequestQueryPanel/DatabaseResourceForm/index.vue
  frontend/src/components/Issue/panel/RequestQueryPanel/index.vue
  frontend/src/components/ProvideDashboardContext.vue
  frontend/src/components/QuickActionPanel.vue
  frontend/src/router/dashboard/workspace.ts
  frontend/src/store/modules/v1/project.ts
  frontend/src/store/modules/workspaceMailDeliverySetting.ts
  frontend/src/views/DatabaseGroupDetail.vue
  frontend/src/views/ReviewCenter/index.vue
  frontend/src/views/branch/BranchDetail.vue
  frontend/src/views/branch/BranchMerge.vue
  frontend/src/views/branch/BranchRebase.vue
  frontend/src/views/branch/BranchRollout.vue
  frontend/src/views/project/ProjectAnomalyCenterDashboard.vue
  frontend/src/views/project/ProjectBranchDashboard.vue
  frontend/src/views/project/ProjectChangeHistoryDashboard.vue
  frontend/src/views/project/ProjectChangelistDashboard.vue
  frontend/src/views/project/ProjectDatabaseDashboard.vue
  frontend/src/views/project/ProjectDatabaseGroupDashboard.vue
  frontend/src/views/project/ProjectDeploymentConfigPanel.vue
  frontend/src/views/project/ProjectIssueDashboard.vue
  frontend/src/views/project/ProjectMemberDashboard.vue
  frontend/src/views/project/ProjectSettingPanel.vue
  frontend/src/views/project/ProjectSlowQueryDashboard.vue
  frontend/src/views/project/ProjectSyncDatabasePanel.vue
  frontend/src/views/project/ProjectVersionControlCreate.vue
  frontend/src/views/project/ProjectVersionControlDetail.vue
  frontend/src/views/project/ProjectVersionControlPanel.vue
  frontend/src/views/project/ProjectWebhookCreate.vue
  frontend/src/views/project/ProjectWebhookDashboard.vue
  frontend/src/views/project/ProjectWebhookDetail.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/RequestQueryButton.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  backend/common/util.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: record dmls
  backend/plugin/parser/base/interface.go
  backend/plugin/parser/mysql/affected_rows.go
  backend/plugin/parser/mysql/query_test.go
  backend/plugin/parser/mysql/resource_change.go
  backend/plugin/parser/mysql/resource_change_test.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: lint
  proto/store/setting.proto
  proto/v1/setting_service.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

chore: update
  backend/runner/plancheck/statement_report_executor_affected_rows_test.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev
