Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev

Revert "chore: sync schema ignore backup schema (#12326)" (#12678)
  backend/plugin/parser/pg/differ.go
  backend/plugin/parser/pg/system_objects.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

Revert "chore: sync schema ignore backup schema (#12326)" (#12678)
  backend/plugin/parser/pg/differ.go
  backend/plugin/parser/pg/system_objects.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

chore: debug log in scheduler (#12679)
  backend/runner/taskrun/schedulerv2.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: debug log in scheduler (#12679)
  backend/runner/taskrun/schedulerv2.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: debug log in scheduler (#12679)
  backend/runner/taskrun/schedulerv2.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: add reset button to deployment config
  frontend/src/components/ProjectDeploymentConfigPanel.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/store/modules/v1/deploymentConfig.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: more task run lgo
  proto/store/task_run_log.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

buf gen
  frontend/src/types/proto/store/task_run_log.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/task_run_log.pb.go
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: add reset button to deployment config (#12680)
  frontend/src/components/ProjectDeploymentConfigPanel.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/store/modules/v1/deploymentConfig.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add reset button to deployment config (#12680)
  frontend/src/components/ProjectDeploymentConfigPanel.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/store/modules/v1/deploymentConfig.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: add reset button to deployment config (#12680)
  frontend/src/components/ProjectDeploymentConfigPanel.vue
  frontend/src/locales/en-US.json
  frontend/src/locales/es-ES.json
  frontend/src/locales/ja-JP.json
  frontend/src/locales/zh-CN.json
  frontend/src/store/modules/v1/deploymentConfig.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

feat: more task run log (#12681)
  frontend/src/types/proto/store/task_run_log.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/task_run_log.pb.go
  proto/store/task_run_log.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

feat: more task run log (#12681)
  frontend/src/types/proto/store/task_run_log.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/task_run_log.pb.go
  proto/store/task_run_log.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

feat: more task run log (#12681)
  frontend/src/types/proto/store/task_run_log.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/task_run_log.pb.go
  proto/store/task_run_log.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: check task run status
  backend/api/v1/issue_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

impl more task run log
  backend/runner/taskrun/data_update_executor.go
  backend/runner/taskrun/schedulerv2.go
  backend/runner/taskrun/schema_update_executor.go
  backend/store/task_run_log.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

v1 api
  proto/v1/rollout_service.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

buf gen
  frontend/src/types/proto/v1/rollout_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/rollout_service.pb.go
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

add log_time
  proto/v1/rollout_service.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

buf gen
  frontend/src/types/proto/v1/rollout_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/rollout_service.pb.go
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

convert
  backend/api/v1/rollout_service_converter.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: fix issue comment timestamp handler
  backend/api/v1/plan_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: fix issue comment timestamp handler (#12684)
  backend/api/v1/plan_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: fix issue comment timestamp handler (#12684)
  backend/api/v1/plan_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: fix issue comment timestamp handler (#12684)
  backend/api/v1/plan_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: impl more task run log (#12683)
  backend/api/v1/rollout_service_converter.go
  backend/runner/taskrun/data_update_executor.go
  backend/runner/taskrun/schedulerv2.go
  backend/runner/taskrun/schema_update_executor.go
  backend/store/task_run_log.go
  frontend/src/types/proto/v1/rollout_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/rollout_service.pb.go
  proto/v1/rollout_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

feat: impl more task run log (#12683)
  backend/api/v1/rollout_service_converter.go
  backend/runner/taskrun/data_update_executor.go
  backend/runner/taskrun/schedulerv2.go
  backend/runner/taskrun/schema_update_executor.go
  backend/store/task_run_log.go
  frontend/src/types/proto/v1/rollout_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/rollout_service.pb.go
  proto/v1/rollout_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

feat: impl more task run log (#12683)
  backend/api/v1/rollout_service_converter.go
  backend/runner/taskrun/data_update_executor.go
  backend/runner/taskrun/schedulerv2.go
  backend/runner/taskrun/schema_update_executor.go
  backend/store/task_run_log.go
  frontend/src/types/proto/v1/rollout_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/rollout_service.pb.go
  proto/v1/rollout_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

task run log tx
  proto/store/task_run_log.proto
  proto/v1/rollout_service.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

buf gen
  frontend/src/types/proto/store/task_run_log.ts
  frontend/src/types/proto/v1/rollout_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/task_run_log.pb.go
  proto/generated-go/v1/rollout_service.pb.go
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: check task run status (#12682)
  backend/api/v1/issue_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: check task run status (#12682)
  backend/api/v1/issue_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: check task run status (#12682)
  backend/api/v1/issue_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

impl tc
  backend/api/v1/rollout_service_converter.go
  backend/plugin/db/driver.go
  backend/plugin/db/mssql/mssql.go
  backend/plugin/db/mysql/mysql.go
  backend/plugin/db/oracle/oracle.go
  backend/plugin/db/pg/pg.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: force rds for ghost
  backend/component/ghost/config.go
  frontend/src/components/IssueV1/components/Sidebar/GhostSection/FlagsForm/constants.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: force rds for ghost (#12686)
  backend/component/ghost/config.go
  frontend/src/components/IssueV1/components/Sidebar/GhostSection/FlagsForm/constants.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: force rds for ghost (#12686)
  backend/component/ghost/config.go
  frontend/src/components/IssueV1/components/Sidebar/GhostSection/FlagsForm/constants.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: force rds for ghost (#12686)
  backend/component/ghost/config.go
  frontend/src/components/IssueV1/components/Sidebar/GhostSection/FlagsForm/constants.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: update
  backend/plugin/db/mssql/mssql.go
  backend/plugin/db/oracle/oracle.go
  backend/plugin/db/pg/pg.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: task run log tx (#12685)
  backend/api/v1/rollout_service_converter.go
  backend/plugin/db/driver.go
  backend/plugin/db/mssql/mssql.go
  backend/plugin/db/mysql/mysql.go
  backend/plugin/db/oracle/oracle.go
  backend/plugin/db/pg/pg.go
  frontend/src/types/proto/store/task_run_log.ts
  frontend/src/types/proto/v1/rollout_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/store/task_run_log.pb.go
  proto/generated-go/v1/rollout_service.pb.go
  proto/store/task_run_log.proto
  proto/v1/rollout_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l, @LiuJi-Jim, @boojack, @RainbowDashy
