Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

feat(cockroachdb): simple splitter (#13751)
  backend/plugin/db/cockroachdb/cockroachdb.go
  backend/plugin/parser/cockroachdb/cockroachdb.go
  backend/plugin/parser/cockroachdb/cockroachdb_test.go
  backend/plugin/parser/cockroachdb/testdata/split_sql_statement.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(cockroachdb): simple splitter (#13751)
  backend/plugin/db/cockroachdb/cockroachdb.go
  backend/plugin/parser/cockroachdb/cockroachdb.go
  backend/plugin/parser/cockroachdb/cockroachdb_test.go
  backend/plugin/parser/cockroachdb/testdata/split_sql_statement.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(cockroachdb): simple splitter (#13751)
  backend/plugin/db/cockroachdb/cockroachdb.go
  backend/plugin/parser/cockroachdb/cockroachdb.go
  backend/plugin/parser/cockroachdb/cockroachdb_test.go
  backend/plugin/parser/cockroachdb/testdata/split_sql_statement.yaml
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: mfa checks
  backend/api/v1/auth_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: user profile proto & store (#13747)
  backend/migrator/migration/prod/2.23/0000##principal_profile.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/migrator/migrator_test.go
  backend/store/principal.go
  frontend/src/types/proto/store/user.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/user.pb.go
  proto/store/user.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

feat: user profile proto & store (#13747)
  backend/migrator/migration/prod/2.23/0000##principal_profile.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/migrator/migrator_test.go
  backend/store/principal.go
  frontend/src/types/proto/store/user.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/user.pb.go
  proto/store/user.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

feat: user profile proto & store (#13747)
  backend/migrator/migration/prod/2.23/0000##principal_profile.sql
  backend/migrator/migration/prod/LATEST.sql
  backend/migrator/migrator_test.go
  backend/store/principal.go
  frontend/src/types/proto/store/user.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/user.pb.go
  proto/store/user.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

fix: mfa checks (#13753)
  backend/api/v1/auth_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: mfa checks (#13753)
  backend/api/v1/auth_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: mfa checks (#13753)
  backend/api/v1/auth_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: mfa checks (#13753)
  backend/api/v1/auth_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: remove dev guard for scim
  frontend/src/views/SettingWorkspaceUsers.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove dev guard for scim (#13755)
  frontend/src/views/SettingWorkspaceUsers.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove dev guard for scim (#13755)
  frontend/src/views/SettingWorkspaceUsers.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: remove dev guard for scim (#13755)
  frontend/src/views/SettingWorkspaceUsers.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: release cockroachdb and diagnose
  backend/api/lsp/fs_handler.go
  frontend/src/utils/v1/instance.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

fix: prepare default databases
  frontend/src/components/TransferDatabaseForm/TransferDatabaseForm.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: 2.22.4
  scripts/VERSION
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: 2.23.0
  scripts/VERSION
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: update
  backend/api/lsp/fs_handler.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: 2.23.0 (#13758)
  scripts/VERSION
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: 2.23.0 (#13758)
  scripts/VERSION
Owners: @d-bytebase, @bytebase/bytebase-dev

chore: 2.23.0 (#13758)
  scripts/VERSION
Owners: @d-bytebase, @bytebase/bytebase-dev

fix: prepare default databases (#13757)
  frontend/src/components/TransferDatabaseForm/TransferDatabaseForm.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: prepare default databases (#13757)
  frontend/src/components/TransferDatabaseForm/TransferDatabaseForm.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

fix: prepare default databases (#13757)
  frontend/src/components/TransferDatabaseForm/TransferDatabaseForm.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: release cockroachdb and diagnose (#13756)
  backend/api/lsp/fs_handler.go
  frontend/src/utils/v1/instance.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: release cockroachdb and diagnose (#13756)
  backend/api/lsp/fs_handler.go
  frontend/src/utils/v1/instance.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

chore: release cockroachdb and diagnose (#13756)
  backend/api/lsp/fs_handler.go
  frontend/src/utils/v1/instance.ts
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack

feat: enable advanced feature for cockroachdb
  backend/plugin/parser/pg/completion.go
  backend/plugin/parser/pg/diagnose.go
  backend/plugin/parser/pg/differ.go
  backend/plugin/parser/pg/query.go
  backend/plugin/parser/pg/query_span.go
  backend/plugin/parser/pg/resource_change.go
  backend/plugin/parser/pg/split.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat(proto): postgres error
  proto/v1/sql_service.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

buf gen
  frontend/src/types/proto/v1/sql_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/sql_service.pb.go
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: move issue sql from url to local storage
  frontend/src/components/AlterSchemaPrepForm/SchemaEditorModal.vue
  frontend/src/components/Branch/BranchDetailView.vue
  frontend/src/components/IssueV1/components/Sidebar/GhostSection/common.ts
  frontend/src/components/IssueV1/components/Sidebar/PreBackupSection/TaskRollbackButton.vue
  frontend/src/components/IssueV1/logic/initialize/create.ts
  frontend/src/components/Plan/logic/initialize/create.ts
  frontend/src/components/SlowQuery/Panel/IndexAdvisor.vue
  frontend/src/components/SyncDatabaseSchema/index.vue
  frontend/src/views/sql-editor/EditorCommon/ExecuteHint.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/SingleResultViewV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: move issue sql from url to local storage (#13759)
  frontend/src/components/AlterSchemaPrepForm/SchemaEditorModal.vue
  frontend/src/components/Branch/BranchDetailView.vue
  frontend/src/components/IssueV1/components/Sidebar/GhostSection/common.ts
  frontend/src/components/IssueV1/components/Sidebar/PreBackupSection/TaskRollbackButton.vue
  frontend/src/components/IssueV1/logic/initialize/create.ts
  frontend/src/components/Plan/logic/initialize/create.ts
  frontend/src/components/SlowQuery/Panel/IndexAdvisor.vue
  frontend/src/components/SyncDatabaseSchema/index.vue
  frontend/src/views/sql-editor/EditorCommon/ExecuteHint.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/SingleResultViewV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: move issue sql from url to local storage (#13759)
  frontend/src/components/AlterSchemaPrepForm/SchemaEditorModal.vue
  frontend/src/components/Branch/BranchDetailView.vue
  frontend/src/components/IssueV1/components/Sidebar/GhostSection/common.ts
  frontend/src/components/IssueV1/components/Sidebar/PreBackupSection/TaskRollbackButton.vue
  frontend/src/components/IssueV1/logic/initialize/create.ts
  frontend/src/components/Plan/logic/initialize/create.ts
  frontend/src/components/SlowQuery/Panel/IndexAdvisor.vue
  frontend/src/components/SyncDatabaseSchema/index.vue
  frontend/src/views/sql-editor/EditorCommon/ExecuteHint.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/SingleResultViewV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: move issue sql from url to local storage (#13759)
  frontend/src/components/AlterSchemaPrepForm/SchemaEditorModal.vue
  frontend/src/components/Branch/BranchDetailView.vue
  frontend/src/components/IssueV1/components/Sidebar/GhostSection/common.ts
  frontend/src/components/IssueV1/components/Sidebar/PreBackupSection/TaskRollbackButton.vue
  frontend/src/components/IssueV1/logic/initialize/create.ts
  frontend/src/components/Plan/logic/initialize/create.ts
  frontend/src/components/SlowQuery/Panel/IndexAdvisor.vue
  frontend/src/components/SyncDatabaseSchema/index.vue
  frontend/src/views/sql-editor/EditorCommon/ExecuteHint.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/SingleResultViewV1.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

convert pg error
  backend/plugin/db/pg/pg.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

feat: enable advanced feature for cockroachdb
  backend/api/lsp/completion.go
  backend/plugin/parser/mysql/diagnose.go
  backend/plugin/parser/pg/diagnose.go
  backend/plugin/parser/plsql/diagnose.go
  backend/plugin/parser/snowflake/diagnose.go
  backend/plugin/parser/tsql/diagnose.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

audit log detailed error
  backend/api/v1/audit.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: enable advanced feature for cockroachdb (#13760)
  backend/api/lsp/completion.go
  backend/plugin/parser/mysql/diagnose.go
  backend/plugin/parser/pg/completion.go
  backend/plugin/parser/pg/diagnose.go
  backend/plugin/parser/pg/differ.go
  backend/plugin/parser/pg/query.go
  backend/plugin/parser/pg/query_span.go
  backend/plugin/parser/pg/resource_change.go
  backend/plugin/parser/pg/split.go
  backend/plugin/parser/plsql/diagnose.go
  backend/plugin/parser/snowflake/diagnose.go
  backend/plugin/parser/tsql/diagnose.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev
