Repository bytebase/bytebase, changes with the owners that CODEOWNERS names for each.
All owners: @d-bytebase, @bytebase/bytebase-dev, @ecmadao, @RainbowDashy, @rebelice, @h3n4l, @LiuJi-Jim, @boojack

CODEOWNERS:

# Default
*                            @d-bytebase @bytebase/bytebase-dev

# API and schema
proto                        @d-bytebase @ecmadao @RainbowDashy
backend/migrator/migration   @d-bytebase @ecmadao @RainbowDashy

# Backend
backend                      @d-bytebase @ecmadao @bytebase/bytebase-dev
go.mod                       @d-bytebase @ecmadao @bytebase/bytebase-dev

# Database
backend/plugin/advisor       @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/db            @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/parser        @rebelice @h3n4l @bytebase/bytebase-dev
backend/plugin/schema        @rebelice @h3n4l @bytebase/bytebase-dev

# Frontend
frontend                     @LiuJi-Jim @boojack @bytebase/bytebase-dev
frontend/package.json        @LiuJi-Jim @boojack @bytebase/bytebase-dev

chore: auth method annotation (#12905)
  backend/api/auth/auth.go
  backend/common/context.go
  frontend/src/types/proto/v1/annotation.ts
  frontend/src/types/proto/v1/project_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/annotation.pb.go
  proto/generated-go/v1/project_service.pb.go
  proto/v1/annotation.proto
  proto/v1/project_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: auth method annotation (#12905)
  backend/api/auth/auth.go
  backend/common/context.go
  frontend/src/types/proto/v1/annotation.ts
  frontend/src/types/proto/v1/project_service.ts
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/annotation.pb.go
  proto/generated-go/v1/project_service.pb.go
  proto/v1/annotation.proto
  proto/v1/project_service.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: add more comments
  backend/plugin/db/sasl.go
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev

fix: database group permission
  backend/api/v1/ctx.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: database group permission (#12906)
  backend/api/v1/ctx.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: database group permission (#12906)
  backend/api/v1/ctx.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix: database group permission (#12906)
  backend/api/v1/ctx.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

fix(hive): support different kerberos realms (#12898)
  backend/plugin/db/hive/hive.go
  backend/plugin/db/hive/hive_conn_pool.go
  backend/plugin/db/sasl.go
  scripts/Dockerfile
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase

fix(hive): support different kerberos realms (#12898)
  backend/plugin/db/hive/hive.go
  backend/plugin/db/hive/hive_conn_pool.go
  backend/plugin/db/sasl.go
  scripts/Dockerfile
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase

fix(hive): support different kerberos realms (#12898)
  backend/plugin/db/hive/hive.go
  backend/plugin/db/hive/hive_conn_pool.go
  backend/plugin/db/sasl.go
  scripts/Dockerfile
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase

fix: buf format
  proto/store/common.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

chore: upgrade demo data from 2.21.0 to 2.22.0
  backend/demo/data/default/README.md
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

feat: handle scan dest for mssql properly
  backend/component/masker/masker.go
  backend/plugin/db/mssql/mssql.go
  backend/plugin/db/util/driverutil.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

feat: handle scan dest for mssql properly (#12909)
  backend/component/masker/masker.go
  backend/plugin/db/mssql/mssql.go
  backend/plugin/db/util/driverutil.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

feat: handle scan dest for mssql properly (#12909)
  backend/component/masker/masker.go
  backend/plugin/db/mssql/mssql.go
  backend/plugin/db/util/driverutil.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

feat: handle scan dest for mssql properly (#12909)
  backend/component/masker/masker.go
  backend/plugin/db/mssql/mssql.go
  backend/plugin/db/util/driverutil.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @rebelice, @h3n4l

chore: upgrade demo data from 2.21.0 to 2.22.0 (#12908)
  backend/demo/data/default/README.md
  backend/demo/data/default/dump.sql.REMOVED.git-id
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: upgrade demo data from 2.21.0 to 2.22.0 (#12908)
  backend/demo/data/default/README.md
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: upgrade demo data from 2.21.0 to 2.22.0 (#12908)
  backend/demo/data/default/README.md
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: db group proto
  frontend/src/types/proto/v1/database_group_service.ts
  frontend/src/types/proto/v1/project_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/database_group_service.pb.go
  proto/generated-go/v1/database_group_service.pb.gw.go
  proto/generated-go/v1/database_group_service_grpc.pb.go
  proto/generated-go/v1/project_service.pb.go
  proto/generated-go/v1/project_service_grpc.pb.go
  proto/v1/database_group_service.proto
  proto/v1/project_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: update
  frontend/src/types/proto/v1/project_service.ts
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/project_service.pb.go
  proto/generated-go/v1/project_service.pb.gw.go
  proto/v1/project_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: update
  proto/v1/database_group_service.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

chore: update
  proto/v1/database_group_service.proto
  proto/v1/project_service.proto
Owners: @d-bytebase, @ecmadao, @RainbowDashy

chore: update
  frontend/src/components/DatabaseGroup/DatabaseGroupForm.vue
  frontend/src/components/DatabaseGroup/DatabaseGroupPanel.vue
  frontend/src/components/DatabaseGroup/ProjectDatabaseGroupPanel.vue
  frontend/src/components/IssueV1/components/GrantRequest/DatabaseResourceTable.vue
  frontend/src/components/Plan/components/SpecListSection/SpecCard.vue
  frontend/src/components/v2/Select/DatabaseGroupSelect.vue
  frontend/src/store/modules/dbGroup.ts
  frontend/src/types/dbGroup.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: upgrade plsql parser to fix join parse
  backend/plugin/parser/plsql/test-data/query_span.yaml
  go.mod
  go.sum
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

chore: keep composedUser.roles updated along with workspaceIamPolicy
  frontend/src/store/modules/user.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  frontend/src/views/DatabaseGroupDetail.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: upgrade plsql parser to fix join parse (#12911)
  backend/plugin/parser/plsql/test-data/query_span.yaml
  go.mod
  go.sum
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

chore: upgrade plsql parser to fix join parse (#12911)
  backend/plugin/parser/plsql/test-data/query_span.yaml
  go.mod
  go.sum
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

chore: upgrade plsql parser to fix join parse (#12911)
  backend/plugin/parser/plsql/test-data/query_span.yaml
  go.mod
  go.sum
Owners: @rebelice, @h3n4l, @bytebase/bytebase-dev, @d-bytebase, @ecmadao

chore: update
  backend/api/v1/plan_service.go
  backend/api/v1/rollout_service_converter.go
  backend/api/v1/rollout_service_task.go
  backend/runner/taskrun/data_update_executor.go
  backend/runner/taskrun/schema_baseline_executor.go
  backend/runner/taskrun/schema_update_executor.go
  backend/runner/taskrun/schema_update_ghost_cutover_executor.go
  backend/runner/taskrun/schema_update_ghost_sync_executor.go
  backend/runner/taskrun/schema_update_sdl_executor.go
  frontend/src/types/proto/store/task.ts
  proto/gen/grpc-doc/store/README.md
  proto/gen/grpc-doc/store/index.html
  proto/generated-go/store/task.pb.go
  proto/store/task.proto
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev, @LiuJi-Jim, @boojack, @RainbowDashy

chore: db group proto (#12910)
  frontend/src/components/DatabaseGroup/DatabaseGroupForm.vue
  frontend/src/components/DatabaseGroup/DatabaseGroupPanel.vue
  frontend/src/components/DatabaseGroup/ProjectDatabaseGroupPanel.vue
  frontend/src/components/IssueV1/components/GrantRequest/DatabaseResourceTable.vue
  frontend/src/components/Plan/components/SpecListSection/SpecCard.vue
  frontend/src/components/v2/Select/DatabaseGroupSelect.vue
  frontend/src/store/modules/dbGroup.ts
  frontend/src/types/dbGroup.ts
  frontend/src/types/proto/v1/database_group_service.ts
  frontend/src/types/proto/v1/project_service.ts
  frontend/src/views/DatabaseGroupDetail.vue
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/database_group_service.pb.go
  proto/generated-go/v1/database_group_service.pb.gw.go
  proto/generated-go/v1/database_group_service_grpc.pb.go
  proto/generated-go/v1/project_service.pb.go
  proto/generated-go/v1/project_service.pb.gw.go
  proto/generated-go/v1/project_service_grpc.pb.go
  proto/v1/database_group_service.proto
  proto/v1/project_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: db group proto (#12910)
  frontend/src/components/DatabaseGroup/DatabaseGroupForm.vue
  frontend/src/components/DatabaseGroup/DatabaseGroupPanel.vue
  frontend/src/components/DatabaseGroup/ProjectDatabaseGroupPanel.vue
  frontend/src/components/IssueV1/components/GrantRequest/DatabaseResourceTable.vue
  frontend/src/components/Plan/components/SpecListSection/SpecCard.vue
  frontend/src/components/v2/Select/DatabaseGroupSelect.vue
  frontend/src/store/modules/dbGroup.ts
  frontend/src/types/dbGroup.ts
  frontend/src/types/proto/v1/database_group_service.ts
  frontend/src/types/proto/v1/project_service.ts
  frontend/src/views/DatabaseGroupDetail.vue
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/database_group_service.pb.go
  proto/generated-go/v1/database_group_service.pb.gw.go
  proto/generated-go/v1/database_group_service_grpc.pb.go
  proto/generated-go/v1/project_service.pb.go
  proto/generated-go/v1/project_service.pb.gw.go
  proto/generated-go/v1/project_service_grpc.pb.go
  proto/v1/database_group_service.proto
  proto/v1/project_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: db group proto (#12910)
  frontend/src/components/DatabaseGroup/DatabaseGroupForm.vue
  frontend/src/components/DatabaseGroup/DatabaseGroupPanel.vue
  frontend/src/components/DatabaseGroup/ProjectDatabaseGroupPanel.vue
  frontend/src/components/IssueV1/components/GrantRequest/DatabaseResourceTable.vue
  frontend/src/components/Plan/components/SpecListSection/SpecCard.vue
  frontend/src/components/v2/Select/DatabaseGroupSelect.vue
  frontend/src/store/modules/dbGroup.ts
  frontend/src/types/dbGroup.ts
  frontend/src/types/proto/v1/database_group_service.ts
  frontend/src/types/proto/v1/project_service.ts
  frontend/src/views/DatabaseGroupDetail.vue
  proto/gen/grpc-doc/openapi.yaml
  proto/gen/grpc-doc/v1/README.md
  proto/gen/grpc-doc/v1/index.html
  proto/generated-go/v1/database_group_service.pb.go
  proto/generated-go/v1/database_group_service.pb.gw.go
  proto/generated-go/v1/database_group_service_grpc.pb.go
  proto/generated-go/v1/project_service.pb.go
  proto/generated-go/v1/project_service.pb.gw.go
  proto/generated-go/v1/project_service_grpc.pb.go
  proto/v1/database_group_service.proto
  proto/v1/project_service.proto
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev, @d-bytebase, @ecmadao, @RainbowDashy

chore: restruct db group api
  backend/api/v1/database_group_service.go
  backend/api/v1/project_service.go
  backend/server/grpc_routes.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev

chore: rename
  frontend/src/main.ts
  frontend/src/store/modules/v1/actuator.ts
  frontend/src/types/custom-feature.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: rename
  frontend/src/types/appProfile.ts
  frontend/src/types/index.ts
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: rename
  frontend/src/components/AlterSchemaPrepForm/AlterSchemaPrepForm.vue
  frontend/src/components/DatabaseDetail/SQLEditorButtonV1.vue
  frontend/src/components/IssueV1/components/HeaderSection/Actions/review/IssueReviewButtonGroup.vue
  frontend/src/components/IssueV1/components/IssueCommentSection/IssueCommentView/ActionCreator.vue
  frontend/src/components/IssueV1/components/StageSection/StageInfo/StageInfo.vue
  frontend/src/components/KBar/KBarWrapper.vue
  frontend/src/components/misc/HideInStandaloneMode.vue
  frontend/src/components/v2/Model/DatabaseV1Table/DatabaseOperations.vue
  frontend/src/layouts/BodyLayout.vue
  frontend/src/layouts/DashboardLayout.vue
  frontend/src/layouts/ProjectV1Layout.vue
  frontend/src/layouts/SQLEditorLayout.vue
  frontend/src/main.ts
  frontend/src/router/index.ts
  frontend/src/types/appProfile.ts
  frontend/src/views/DatabaseDashboard.vue
  frontend/src/views/project/ProjectDatabaseDashboard.vue
  frontend/src/views/sql-editor/AsidePanel/GutterBar/GutterBar.vue
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/actions.tsx
  frontend/src/views/sql-editor/AsidePanel/WorksheetPane/WorksheetPane.vue
  frontend/src/views/sql-editor/ConnectionPanel/ConnectionPane/actions.tsx
  frontend/src/views/sql-editor/EditorCommon/EditorAction.vue
  frontend/src/views/sql-editor/EditorCommon/ExecuteHint.vue
  frontend/src/views/sql-editor/EditorCommon/ResultView/SingleResultViewV1.vue
  frontend/src/views/sql-editor/SQLEditorHomePage.vue
  frontend/src/views/sql-editor/Setting/Sidebar/common.ts
  frontend/src/views/sql-editor/SheetPanel/SheetPanel.vue
  frontend/src/views/sql-editor/TabList/TabList.vue
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: rename
  frontend/src/main.ts
  frontend/src/router/index.ts
  frontend/src/types/appProfile.ts
  frontend/src/views/sql-editor/AsidePanel/SchemaPane/actions.tsx
  frontend/src/views/sql-editor/ConnectionPanel/ConnectionPane/actions.tsx
Owners: @LiuJi-Jim, @boojack, @bytebase/bytebase-dev

chore: update
  backend/api/v1/project_service.go
Owners: @d-bytebase, @ecmadao, @bytebase/bytebase-dev
